<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        		background: #ffffff;
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        /*        border-bottom: 4px solid #e72e5a;*/
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
/*        border-bottom: 1px solid #e6e6e6;*/
        background: #ffffff;
        margin-top: 12px;
    }

/*
   

   

</style>
<!-- Horizontal Form -->
<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div id="wrapper">
        <div class=" stylelink active box-header with-border">
            <h3 class="box-title" style="font-weight:bold;padding-left:5px;">
                <a href="/applyfordocuments" style="cursor:pointer;"><img src="images/piclinks/back.png" width="10px" height="16px" style="margin-bottom:2px;"/></a>&nbsp;&nbsp;&nbsp;{{AFDHeading}}</h3>
        </div>
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <!--<h2>documentmaster</h2>-->
<!--        <br/>-->
        <form class="" role="form">
            <p align="center" style="color:#ec0b6d">All * fields are Mandatory</p>
            <!--<span style="color:#262d57">*</span>-->
            <br/>


            <div class="row padding2">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="">{{DocumentLanguage.memberId}} <sup>*</sup></label>
                        <div class="">
                            <select ui-select2 id="memberId" ng-model="documentmaster.memberId" data-placeholder="{{DocumentLanguage.selectMember}}" style="width:100%;" ng-disabled="HideCreateButton">
								<option value=""></option>
								<option data-ng-repeat="ben in beneficiaries" value="{{ben.id}}">{{ ben.name + ' - ' + ben.individualId + ' - ' + ben.mobile  }}</option>
							</select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="schememaster-id" class="" style="">Assigned To<sup>*</sup></label>
                        <div class="">
                            <select ui-select2 id="pillarid" ng-model="documentmaster.associatedHF" data-placeholder="Assigned To" style="width:100%" ng-disabled="hideAssigned">
                                <option value=""></option>
                                <option data-ng-repeat="user in users" value="{{user.id}}">{{ user.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="sales-code" class="" style="">{{DocumentLanguage.documentId}}<sup>*</sup> </label>
                        <div class="">
                            <p class="input-group" style="width:100%;z-index:0">
                                <select ui-select2 id="schemeId" ng-model="documentmaster.schemeId" data-placeholder="{{DocumentLanguage.selectDocument}}" style="width:100%;" ng-disabled="HideCreateButton">
									<option value=""></option>
									<!--									<option data-ng-repeat="state in printschemes" value="{{state.id}}">{{ state.name }} </option>-->
									<option data-ng-repeat="doc in printschemes" value="{{doc.id}}" ng-if="UserLanguage==1">{{ doc.name }}</option>
									<option data-ng-repeat="doc in printschemes" value="{{doc.parentId}}" ng-if="UserLanguage!=1">{{ doc.name }}</option>
									
								</select>
                            </p>
                        </div>
                    </div>
                </div>
            
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group" class="" style="">{{DocumentLanguage.stage}}<sup>*</sup></label>
                        <div class="">
                            <select ui-select2 id="stage" data-ng-model="documentmaster.stage" data-placeholder="{{DocumentLanguage.selectStage}}" style="width:100%;">
								<option value=""></option>
								<!--								<option data-ng-repeat="state in schemestages" value="{{state.id}}">{{ state.name }}-->
								<option data-ng-repeat="state in schemestages" value="{{state.id}}" ng-if="UserLanguage==1" ng-disabled="state.enabled">{{ state.name }}</option>
								<option data-ng-repeat="state in schemestages" value="{{state.parentId}}" ng-if="UserLanguage!=1" ng-disabled="state.enabled">{{ state.name }}</option>
								
							</select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3" ng-hide="reponserec">
                    <div class="form-group">
                        <label for="agegroup" class="" style="">{{DocumentLanguage.responseRecieve}}<sup>*</sup></label>
                        <div class="">
                            <select ui-select2 id="organizationId" ng-model="documentmaster.responserecieve" data-placeholder="{{DocumentLanguage.selectResponseReceived}}" style="width:100%;">
								<option value=""></option>
								<option data-ng-repeat="responcedreceive in responcedreceived" value="{{responcedreceive.id}}" ng-if="UserLanguage==1">{{ responcedreceive.name }}</option>
								<option data-ng-repeat="responcedreceive in responcedreceived" value="{{responcedreceive.parentId}}" ng-if="UserLanguage!=1">{{ responcedreceive.name }}</option>
								
							</select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3" ng-hide="delaydis">
                    <div class="form-group">
                        <label for="city" class="" style="">{{DocumentLanguage.delay}}<sup>*</sup></label>
                        <div class="">
                            <select ui-select2 id="cityId" style="width:100%;" ng-model="documentmaster.delay" data-placeholder="{{DocumentLanguage.selectReasonForDelay}}">
								<option value=""></option>
								<option data-ng-repeat="delay in reasonfordelayed" value="{{delay.id}}" ng-if="UserLanguage==1">{{ delay.name }}</option>
								<option data-ng-repeat="delay in reasonfordelayed" value="{{delay.parentId}}" ng-if="UserLanguage!=1">{{ delay.name }}</option>
								
							</select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3" ng-hide="rejectdis">
                    <div class="form-group">
                        <label for="state" class="" style="">{{DocumentLanguage.rejection}}<sup>*</sup></label>
                        <div class="">
                            <select ui-select2 id="stateId" style="width:100%;" ng-model="documentmaster.rejection" data-placeholder="{{DocumentLanguage.selectReasonForRejection}}">
								<option value=""></option>
								<option data-ng-repeat="resrej in reasonforrejections" value="{{resrej.id}}" ng-if="UserLanguage==1">{{ resrej.name }}</option>
								<option data-ng-repeat="resrej in reasonforrejections" value="{{resrej.parentId}}" ng-if="UserLanguage!=1">{{ resrej.name }}</option>
								
							</select>
                        </div>
                    </div>
                </div>
            
                <div class="col-sm-3">
                    <div>
                        <div class="form-group">
                            <label for="formid" class="" style="">{{DocumentLanguage.serviceFeeCharged}}</label>
                            <div class="">
                                <input type="text" class="form-control" id="service" data-ng-model="documentmaster.servicefee" placeholder="{{DocumentLanguage.serviceFeeCharged}}" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" style="width:100%;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="zip" class="" style="">{{DocumentLanguage.followUpDate}} </label>
                        <div class="">
                            <p class="input-group">
                                <input type="text" id="{{'datepicker' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="documentmaster.datetime" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" min-date="dtmin" style="border-right:none;border-color:#d5d7df;" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event, $index)" style="border-left:none;border-color:#d5d7df;">
<!--                                        <i class="glyphicon glyphicon-calendar"></i>-->
                                        <img src="images/piclinks/calender-copy-3.png" width="16px" height="17px" style="margin-bottom:4px;"/>
                                    </button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
                <br/>
                <br/>
                <div align="right">
                    <a data-ng-href="/applyfordocuments" class="btn btn-danger" role="button" style="padding:5px 20px;margin-right:10px">{{DocumentLanguage.cancel}}</a>

                    <a class="btn btn-info btn-sm" type="submit" role="button" data-ng-click="Save()" data-ng-hide="HideCreateButton" ng-disabled="CreateClicked" style="padding:5px 20px;margin-right:30px;">{{DocumentLanguage.saveLabel}}</a>&nbsp;

                    <a class="btn btn-info br=tn-sm" type="submit" role="button" data-ng-click="Update()" data-ng-show="HideCreateButton" style="padding:5px 20px;margin-right:30px;">{{DocumentLanguage.update}}</a>&nbsp;
                </div>
        </form>
        <br>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">

        </div>
        <!-- /.box-footer -->
    </div>
    <!-- /.box -->

    <modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
        <p>{{message}}</p>
    </modal2>

    <validationmodal title1="Alert!!!" visible="showValidation">
        {{validatestring1}}
    </validationmodal>

    <benefmodal1 visible="documentdataModal">
        <div class="modal-header" style="padding:0px;">
            <div class="pull-right" style="padding:15px;">
                <a data-ng-click="OK()" data-dismiss="modal" class="btn btn-success btn-sm " role="button" style="background:#db4242;border-color:#db4242;padding:5px 20px;font-weight:bold;">{{okbutton}}</a>
            </div>
            <h4 class="stylelink active modal-title" style="padding:20px 10px;">{{modalTitle}}</h4>
        </div>
        <div style="width:100%; height:auto; min-height:200px;  border: 1px solid #ffffff;padding:5px;" id="savemodals">
            <br/>

            <form class="form-horizontal" role="form">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="first-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:#262d57;">{{member}}</label>
                            <div class="col-sm-6">
                                {{printmember.fullname}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">

                        <div class="form-group">
                            <label for="email" class="col-sm-4" style="font-weight:600;margin-top:8px;color:#262d57;">{{document}}</label>
                            <div class="col-sm-6">
                                <!--							{{printdocumenttype.name}}-->
                                <div ng-if="UserLanguage==1">
                                    {{printdocumenttype.name}}
                                </div>
                                <div ng-if="UserLanguage==2">
                                    {{printdocumenttype.hnname}}
                                </div>
                                <div ng-if="UserLanguage==3">
                                    {{printdocumenttype.knname}}
                                </div>
                                <div ng-if="UserLanguage==4">
                                    {{printdocumenttype.taname}}
                                </div>
                                <div ng-if="UserLanguage==5">
                                    {{printdocumenttype.tename}}
                                </div>
                                <div ng-if="UserLanguage==6">
                                    {{printdocumenttype.mrname}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="mobile" class="col-sm-4" style="font-weight:600;margin-top:8px;color:#262d57;">{{stage}}</label>
                            <div class="col-sm-6">
                                <!--							{{printstage.name}}-->
                                <div ng-if="UserLanguage==1">
                                    {{printstage.name}}
                                </div>
                                <div ng-if="UserLanguage==2">
                                    {{printstage.hnname}}
                                </div>
                                <div ng-if="UserLanguage==3">
                                    {{printstage.knname}}
                                </div>
                                <div ng-if="UserLanguage==4">
                                    {{printstage.taname}}
                                </div>
                                <div ng-if="UserLanguage==5">
                                    {{printstage.tename}}
                                </div>
                                <div ng-if="UserLanguage==6">
                                    {{printstage.mrname}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="mobile" class="col-sm-4" style="font-weight:600;margin-top:8px;color:#262d57;">{{followupdate}}</label>
                            <div class="col-sm-6">
                                {{printdate | date:'dd-MMM-yyyy'}}
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <br/>
                <br/>

                <!--<div>
				<div align="left">
					<a class="btn btn-success btn-sm btn-flat" role="button" data-ng-click="OK()">{{okbutton}}</a>
				</div>
			</div>-->
            </form>

        </div>


        <style>
            .toggle.android {
                border-radius: 0px;
            }

            .toggle.android .toggle-handle {
                border-radius: 0px;
            }

            #mapCanvas {
                width: 500px;
                height: 400px;
                float: left;
            }

            #infoPanel {
                margin-left: 100px;
            }

            #infoPanel div {
                margin-bottom: 5px;
            }

        </style>

    </benefmodal1>

    <script type="text/ng-template" id="template/AlertModal.html" class="modal" class="modal fade" role="dialog">
        <div class="modal-header">
            <h4 class="modal-title">{{palert}}</h4>
        </div>
        <div class="modal-body"> {{AlertMessage}} </div>
        <div class="modal-footer">
            <div align="left">

                <button type="button" class="btn btn-success btn-sm " ng-click="$close()">{{okbutton}}</button>

            </div>
        </div>
    </script>
