<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 30px 10px 15px 0px;
        /*        border-bottom: 4px solid #e72e5a;*/
    }

    .tht:hover {
        color: blue;
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        /*        border-bottom: 1px solid #e6e6e6;*/
        /*        margin-top:6px;*/
    }

    @media screen and (max-width: 480px) {

        .space {
            padding: 5px 0px 5px 0px;
        }
    }

</style>

<style>
    th {
        cursor: pointer;
    }

        {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    /*
    .tbr{
        margin-right: -10px;
        margin-left: -10px;
    }
*/

    .sell {
        position: relative;
        min-width: 45px;
    }

    .sell:after {
        content: url(images/piclinks/down-arrow.png);
        font: 17px "Consolas", monospace;
        color: #333;
        top: 5px;
        margin-left: -22px;
        padding: 0 0 2px;
        position: absolute;
        pointer-events: none;
    }

    .sell select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        /*        max-width: 320px;*/
        height: 32px;
        float: left;
        padding: 0px 7px;
        font-size: 14px;
        line-height: 1.75;
        color: #878993;
        border-radius: 4px;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #d5d7df;
        -ms-word-break: normal;
        word-break: normal;
    }

    @media screen and (min-width:768px){
        .tp{
            padding-left: 7%;
        }
    }
</style>
<!--
<script>
table th.active {color: blue;}
$(document).ready(function(){
    $("#rowClick > th").click(function(){
        $(this).toggleClass("active");
    });
});
</script>
-->
<!--
<script type="text/javascript">
    var sortingOrder = 'name';
</script>
-->

<!-- Horizontal Form -->
<!--<br>-->
<div class="box box-info" style="min-height:450px;border-top:none;" data-ng-init="toggleLoading()">
    <div id="wrapper">
        <div class="stylelink active box-header with-border">
            <h3 class="box-title" style="font-weight:bold;">{{DocumentLanguage.afdList}}</h3>
        </div>
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <!--
        <div align="left">
            <a data-ng-href="/members/create" class="btn btn-primary btn-sm " role="button">{{addnew}} </a>
        </div>
-->
        <br/>

        <div data-ng-hide="hideSearchFilter()">

            <div class="row" style="margin:0;padding:0;">

                <div class="col-sm-5"></div>
                <div class="col-sm-7">
                    <div class="col-sm-1" style=""></div>

                    <div data-ng-hide="hideSearchFilter()" class="col-sm-1" style="text-align:left;padding-right:0px;padding-left:0px;font-weight:600">
                        <label>{{DocumentLanguage.show}}</label>
                        <div class="sell">
                            <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                        </div>
                        <!--					<span>Entries</span>-->
                    </div>

                    <div data-ng-hide="hideSearchFilter()" class="col-sm-5" style="padding-right:0px;">
                        <div class="space" style="margin-top:25px;">
                            <div class="input-group">
                                <input type="text" id="Search" class="form-control ng-pristine ng-valid" placeholder="{{DocumentLanguage.search}}" style="z-index:0;border-right:none;border-color:#d5d7df;border-top-left-radius:4px;border-bottom-left-radius: 4px;" data-ng-model="searchInput" focus="someFocusVariable">
                                <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-right-radius:4px;border-bottom-right-radius: 4px;border-color:#d5d7df;background:none;border-left:none;"><span class="glyphicon glyphicon-search"></span></button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <a data-ng-href="" class="btn btn-success btn-sm " role="button" ng-click="exportData()" style="padding:5px 20px;margin-right:10px;margin-top:25px;">
                        <img src="images/export-icon.png" />&nbsp;&nbsp;{{DocumentLanguage.exportData}}</a>
                    </div>


                    <div class="col-sm-2 tp">
                        <a data-ng-href="/applyfordocument/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-right:10px;margin-top:25px;">{{DocumentLanguage.addNew}} </a>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <style>
            table,
            th,
            td {
                fill: #262d57;
                font-size: 14px;
            }

            th {
                background-color: #d5d7df;
                font-weight: normal;
            }

            tr {
                background-color: White;
                color: #262d57;
                font-size: 10px;
            }

        </style>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr id="rowClick">
                        <th style="padding-left:30px;">S NO.</th>
                        <th title="{{DocumentLanguage.documentId}}" ng-click="changeSorting('schemeName')">{{DocumentLanguage.documentId | uppercase}}
                            <span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('schemeName')"></i></span>
                        </th>
                        <th title="{{DocumentLanguage.memberId}}" ng-click="changeSorting('memberName')">{{DocumentLanguage.memberId | uppercase}}
                            <span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('memberName')"></i></span>
                        </th>
                        <th title="{{DocumentLanguage.stage}}" ng-click="changeSorting('stageName')">{{DocumentLanguage.stage | uppercase}}
                            <span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('stageName')"></i></span>
                        </th>
                        <th title="{{DocumentLanguage.followUpDate}}" ng-click="changeSorting('datetime')">{{DocumentLanguage.followUpDate | uppercase}}
                            <span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('datetime')"></i></span>
                        </th>
                        <th>{{DocumentLanguage.action | uppercase}}</th>
                    </tr>
                </thead>
                <tbody id="bnbody">
                    <tr dir-paginate="household in schememstrs | search:searchInput:filterFields | orderBy:sort.active:sort.descending | itemsPerPage:pageSize" pagination-id="zonesid">
                        <td style="padding-left:30px;">{{ household.index }}</td>
                        <td>{{ household.schemeName }}</td>
                        <td>{{ household.memberName }}</td>
                        <td>{{ household.stageName }}</td>
                        <td>{{ household.datedisply }}</td>
                        <td>&nbsp;&nbsp;
                            <a data-ng-href="/applyfordocument/edit/{{household.id}}">
                                <!--                                <span class="glyphicon glyphicon-pencil"  title="{{DocumentLanguage.edit}}" style="color:#333;"></span>-->
                                <img src="images/edit.png" width="16px" title="{{DocumentLanguage.edit}}" />
                            </a>&nbsp;&nbsp;
                            <!--
                            <a style="color:#b7b8c8">|</a>&nbsp;&nbsp;
                            <a confirm-button="Delete(household.id)" message="{{DocumentLanguage.areYouSure}}"><span class="glyphicon glyphicon-remove" style=";cursor:pointer;" title="{{DocumentLanguage.delete}}"></span></a>&nbsp;
-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="padding4" align="right">
            <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" pagination-id="zonesid" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
            </dir-pagination-controls>
        </div>
        <div ng-show="!schememstrs.length" style="margin:0 auto;text-align:center;padding-top: 5%;">
            <span style="font-size:18px;font-weight:bold;font-family:Georgia, Serif;">Please select an options</span>
            <!--			<p class="lead text-muted">Please select an options</p>-->
        </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->


<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>
