<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        		background: #ffffff;
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        /*        border-bottom: 4px solid #e72e5a;*/
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        margin-top: 12px;
        background: #ffffff;
        /*        border-bottom: 1px solid #e6e6e6;*/
    }

    .form-horizontal .form-group {
         margin-right: 0px; 
        margin-left: 0px;
    }
     .selectdiv {
        position: relative;
        float: right;
        min-width: 100%;
    }
    
    .selectdiv:after {
        content: '>';
        font: 17px "Consolas", monospace;
        color: #333;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
/*        margin-left: -15px;*/
        margin-top: -2px;
        padding: 0 0 2px;
        position: absolute;
        pointer-events: none;
    }
    
    .selectdiv select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        height: 32px;
        float: left;
        padding: 0px 7px;
        font-size: 14px;
        line-height: 1.75;
        color: #878993;
        border-radius: 4px;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #cccccc;
        -ms-word-break: normal;
        word-break: normal;
    }
    .form-control{
        border-radius: 4px;
    }
.sp {
    margin-right: -15px;
}
</style>
<!-- Horizontal Form -->
<!--<br>-->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div id="wrapper">
        <div class=" stylelink active box-header with-border">
            <h3 class="box-title" style="font-weight:bold;padding-left:5px;">
               <a href="/applyforschemes" style="cursor:pointer;"> <img src="images/piclinks/back.png" width="10px" height="16px" style="margin-bottom:4px;"  /></a>&nbsp;&nbsp;&nbsp;{{AFSHeading}}</h3>
        </div>
    </div>
    <!-- Horizontal Form -->
    <!-- class="box box-info" style="min-height:450px;border-color:#b71c1c;">
	<div class="box-header with-border">
		<h3 class="box-title">{{applyforscheme}}</h3>
	</div>-->
    <!-- /.box-header -->
    <!-- form start -->
    <div class="box-body">
<!--        <br/>-->
        <form class="" role="form">
                        <p align="center" style="color:#ec0b6d">All * fields are Mandatory</p>
            <br/>
            <div class="row padding2">
<!--                <div class="col-sm-1" style="margin-left:3%"></div>-->
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="schememaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">{{SchemeLanguage.memberId}}<sup>*</sup></label>
                        <div class="">
                            <!--							{{memberfullname.fullname}}-->
                            <select ui-select2 ng-model="schememaster.memberId" data-placeholder="{{SchemeLanguage.selectMember}}" style="width:100%;" ng-disabled="HideCreateButton">
                                <option value=""></option>
                                <option data-ng-repeat="ben in beneficiaries" value="{{ben.id}}">{{ ben.name + ' - ' + ben.individualId + ' - ' + ben.mobile }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="schememaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">{{SchemeLanguage.assignedTo}}<sup>*</sup></label>
                        <div class="">
                            <select ui-select2 id="pillarid" ng-model="schememaster.associatedHF" data-placeholder="{{SchemeLanguage.selectAssignedTo}}" style="width:100%" ng-disabled="hideAssigned">
                                <option value="">{{ user.name }}</option>
                                <option data-ng-repeat="user in users" value="{{user.id}}">{{ user.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="sales-code" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">{{SchemeLanguage.schemeId}} <sup>*</sup></label>
                        <div class="">
                            <!--                            <p>-->
                            <select ui-select2 id="schemeId" ng-model="schememaster.schemeId" data-placeholder="{{SchemeLanguage.selectScheme}}" style="width:100%;" ng-disabled="HideCreateButton">
                                    <option value="">Select Scheme</option>
                                    <option data-ng-repeat="state in printschemes" value="{{state.id}}" ng-if="UserLanguage==1">{{ state.name }} </option>
                                    <option data-ng-repeat="state in printschemes" value="{{state.parentId}}" ng-if="UserLanguage!=1">{{ state.name }} </option>

                                </select>
                            <!--                            </p>-->
                        </div>
                    </div>
                </div>
<!--
            </div>

            <div class="row padding2">
-->
<!--                <div class="col-sm-1" style="margin-left:3%"></div>-->
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">{{SchemeLanguage.stage}}<sup>*</sup></label>
                        <div class="">
                            <select ui-select2 id="stage" ng-model="schememaster.stage" data-placeholder="{{SchemeLanguage.selectStage}}" style="width:100%;">
                                <option value="">Select Stage</option>
                                <option data-ng-repeat="schemestage in schemestages" value="{{schemestage.id}}" ng-if="UserLanguage==1" ng-disabled="schemestage.enabled">{{ schemestage.name }}</option>
                                <option data-ng-repeat="schemestage in schemestages" value="{{schemestage.parentId}}" ng-if="UserLanguage!=1" ng-disabled="schemestage.enabled">{{ schemestage.name }}</option>

                            </select>
                        </div>
                    </div>
                </div>
                <!--                <div class="col-sm-6">-->

                
                <!--                    </div>-->
                <!--                <div class="col-sm-6">-->
                <!--
                     <div class="form-group">
                        <label for="name" class="" style="font-weight:600;margin-top:7px;color:#262d57;">{{amounttaken}}</label>
                        <div class="">
                            <input type="text" class="form-control" id="amounttaken" data-ng-model="schememaster.amount" placeholder="{{amounttaken}}" ng-change="TestamountTaken(schememaster.amount)"> </div>
                    </div>
-->

                <div class="col-sm-3" ng-hide="reponserec">
                    <div class="form-group">
                        <label for="agegroup" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">{{SchemeLanguage.responseRecieve}}<sup>*</sup></label>
                        <div class="">
                            <select ui-select2 id="organizationId" ng-model="schememaster.responserecieve" data-placeholder="{{SchemeLanguage.selectResponseReceived}}" style="width:100%;">
                                <option value=""></option>
                                <!--<option value="Approved">Approved</option>
								<option value="Rejected">Rejected</option>-->
                                <option data-ng-repeat="responcedreceive in responcedreceived" value="{{responcedreceive.id}}" ng-if="UserLanguage==1">{{ responcedreceive.name }}</option>
                                <option data-ng-repeat="responcedreceive in responcedreceived" value="{{responcedreceive.parentId}}" ng-if="UserLanguage!=1">{{ responcedreceive.name }}</option>

                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3" ng-hide="delaydis">
                    <div class="form-group">
                        <label for="city" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">{{SchemeLanguage.delay}}<sup>*</sup></label>
                        <div class="">
                            <select ui-select2 id="cityId" style="width:100%;" ng-model="schememaster.delay" data-placeholder="{{SchemeLanguage.selectReasonForDelay}}">
                                <option value=""></option>
                                <option data-ng-repeat="delay in reasonfordelayed" value="{{delay.id}}" ng-if="UserLanguage==1">{{ delay.name }}</option>
                                <option data-ng-repeat="delay in reasonfordelayed" value="{{delay.parentId}}" ng-if="UserLanguage!=1">{{ delay.name }}</option>

                            </select>
                        </div>
                    </div>

                </div>
                
                <div class="col-sm-3" ng-hide="rejectdis">
                    <div class="form-group">
                        <label for="state" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">{{SchemeLanguage.rejection}}<sup>*</sup></label>
                        <div class="">
                            <select ui-select2 id="stateId" style="width:100%;" ng-model="schememaster.rejection" data-placeholder="{{SchemeLanguage.selectReasonForRejection}}">
                                <option value=""></option>
                                <option data-ng-repeat="resrej in reasonforrejections" value="{{resrej.id}}" ng-if="UserLanguage==1">{{ resrej.name }}</option>
                                <option data-ng-repeat="resrej in reasonforrejections" value="{{resrej.parentId}}" ng-if="UserLanguage!=1">{{ resrej.name }}</option>

                            </select>
                        </div>
                    </div>
                </div>

<!--
            </div>

            <div class="row padding2">
-->
<!--                <div class="col-sm-1" style="margin-left:3%;"></div>-->
                <div class="col-sm-3">
                    <div>
                        <div class="form-group">
                            <label for="formid" class="" style="font-weight:600;margin-top: 8px;">{{SchemeLanguage.serviceFeeCharged}}</label>
                            <div class="">
                                <input type="text" class="form-control" id="service" data-ng-model="schememaster.servicefee" placeholder="{{SchemeLanguage.serviceFeeCharged}}" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" style="width:100%;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3" ng-show="datetimehide" ng-if="schememaster.stage !=9">
                    <!--<div class="form-group">
                        <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:#262d57;">{{followupdate}}</label>
                        <div class="col-sm-6">
                            <p class="input-group">
                                <input type="text" id="{{'datepickertwo' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="schememaster.datetime1" is-open="seconddate.secdate" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" min-date="dtmin" /> <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="openSecond($event, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span> </p>
                        </div>
                    </div>-->
                    <div class="form-group">
                        <label for="formid" class="" style="font-weight:600;margin-top: 8px;color:#262d57;">{{SchemeLanguage.followUpDate}}</label>
                        <div class="">
                            <p class="input-group" style="width: 100%">
                                <input type="text" id="{{'datepickerstart' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="schememaster.datetime" is-open="start.openedstart" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" min-date="dtmin" ng-disabled="ShowStart" style="border-right:none;border-color:#d5d7df;"> 
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openstart1($event, $index)" ng-disabled="ShowStart" style="border-left:none;border-color:#d5d7df;">
<!--                                    <i class="glyphicon glyphicon-calendar"></i>-->
                                    <img src="images/piclinks/calender-copy-3.png" width="16px" height="17px" style="margin-bottom:4px;"/>
                                </button>
                                </span> </p>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-3" ng-hide="datetimehide">
                    <div>
                        <div class="form-group">
                            <label for="formid" class="" style="font-weight:600;margin-top: 8px;color:#262d57;">{{SchemeLanguage.followUpDate}}</label>
                            <div class="">
                                <p class="input-group" style="width: 100%">
                                    <input type="text" id="{{'datepickerstart' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="schememaster.datetime" is-open="start.openedstart" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" min-date="dtmin" ng-disabled="ShowStart" style="border-right:none;border-color:#d5d7df;"> 
                                    <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openstart($event, $index)" ng-disabled="ShowStart" style="border-left:none;border-color:#d5d7df;">
<!--                                        <i class="glyphicon glyphicon-calendar"></i>-->
                                        <img src="images/piclinks/calender-copy-3.png" width="16px" height="17px" style="margin-bottom:4px;"/>
                                        </button>
                                </span> </p>
                            </div>
                        </div>
                    </div>
                </div>
                
                 
            </div>
<!--
            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-1"></div>
               
            </div>
-->
            <br/>
            <br/>

            <div>
                <div align="right">
                    <a data-ng-href="/applyforschemes" class="btn btn-danger" role="button" style="padding:5px 20px;margin-right:10px;">{{SchemeLanguage.cancel}}</a>
                    
                    <a class="btn btn-info" type="submit" role="button" data-ng-click="Save()" data-ng-hide="HideCreateButton" ng-disabled="createClicked" style="padding:5px 20px;margin-right:30px;">{{SchemeLanguage.saveLabel}} </a>&nbsp;
                    
                    <a class="btn btn-info" type="submit" role="button" data-ng-click="Update()" data-ng-show="HideCreateButton" ng-disabled="updateClicked" style="padding:5px 20px;margin-right:30px;">{{SchemeLanguage.update}} </a>&nbsp; 
                 </div>
            </div>
        </form>
    </div>
    <!-- /.box-body -->
<!--    <div class="box-footer"> </div>-->
    <!-- /.box-footer -->
</div>
<!-- /.box -->

<modal1 title1="Search Schemes" visible="showschemesModal">
    <div style="width:100%; height:auto; min-height:500px;  border: 1px solid #E6E6E6; margin: 5px auto; padding:5px;">
        <br/>
        <form role="form" >
            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="last-name" class="col-sm-4" style="font-weight: 600; ">{{schemename}}</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="last-name" placeholder="{{schemename}}" ng-model="schemename"> </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="title" class="col-sm-4" style="font-weight: 600; margin-top: 4px;">{{state}}</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="group" data-placeholder="{{state}}" style="width:100%;" ng-model="schememaster.stateid">
                                <option value=""></option>
                                <option data-ng-repeat="state in states" value="{{state.id}}">{{ state.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="title" class="col-sm-4" style="font-weight: 600; margin-top: 4px;">{{agegroup}}</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="organizationId" ng-model="schememaster.agegrp" data-placeholder="{{agegroup}}" style="width:100%;">
                                <option value=""></option>
                                <option value="Any Age Group">Any Age Group</option>
                                <option value="Child(0-17 years)">Child(0-17 years)</option>
                                <option value="Adult(18-59 years)">Adult(18-59 years)</option>
                                <option value="Senior(60 and above years)">Senior(60 and above years)</option>
                                <!--<option data-ng-repeat="organization in organizations" value="{{organization.id}}">{{ organization.orgname }} </option>-->
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="title" class="col-sm-4" style="font-weight: 600; margin-top: 4px;">{{gender}}</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="group" data-placeholder="{{gender}}" style="width:100%;" ng-model="schememaster.gender">
                                <option value=""></option>
                                <option data-ng-repeat="gender in genders" value="{{gender.id}}">{{ gender.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div>
            <table class="table ">
                <thead>
                    <tr>
                        <th>S NO.</th>
                        <th>{{ schemename | uppercase }}</th>
                        <th>{{ schemelocalname | uppercase }}</th>
                        <th>{{ category | uppercase }}</th>
                        <th>{{ agegroup | uppercase }}</th>
                        <th>{{ gender  | uppercase}}</th>
                        <th>{{ select  | uppercase}}?</th>
                        <!--<th></th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="schememaster in printschemes| filter:schemename |itemsPerPage:5">
                        <td>{{ $index + 1 }}</td>
                        <td>{{schememaster.name}}</td>
                        <td>{{schememaster.localname}}</td>
                        <td>{{schememaster.category}}</td>
                        <td>{{schememaster.agegroup}}</td>
                        <td data-ng-init="gender = getGender(schememaster.gender)">{{gender.name}}</td>
                        <td>
                            <!--							<input class="eventCheckbox" type="radio" ng-model="schememaster.enabled" id="{{schememaster.enabled}}" value="{{schememaster.id}}" name="vehicle">-->
                            <input class="eventCheckbox" type="radio" ng-model="schememaster.enabled" id="{{schememaster.enabled}}" ng-value="yes" name="vehicle">
                            <!--							<input name="enabled" ng-value="yes" type="radio" ng-model="schememaster.enabled" checked="checked">-->
                        </td>
                    </tr>
                </tbody>
            </table>
            <div align="right">
                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"> </dir-pagination-controls>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <div align="left">
            <button class="btn btn-success btn-sm " ng-click="SaveScheme()"><span class="glyphicon glyphicon-ok"></span>{{ savebutton }}</button>
        </div>
    </div>
    <style>
        .toggle.android {
            border-radius: 0px;
        }
        
        .toggle.android .toggle-handle {
            border-radius: 0px;
        }
    </style>
</modal1>

<benefmodal1 visible="documentdataModal">
    <div class="modal-header" style="padding:0px;color:#ffffff;">
        <div class="pull-right" style="padding:15px;"> <a data-ng-click="OK()" data-dismiss="modal" class="btn btn-success btn-sm " role="button" style="background:#db4242;border-color:#db4242;padding:5px 20px;font-weight:bold;">{{okbutton}}</a> </div>
        <h4 class=" stylelink active modal-title">{{modalTitle}}</h4>
    </div>
    <div style="width:100%; height:auto; min-height:200px;  border: 1px solid #ffffff;padding:5px;" id="savemodals">
        <br/>
        <form class="form-horizontal" role="form">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="first-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:#262d57;">{{member}}</label>
                        <div class="col-sm-6"> {{printmember.fullname}} </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="email" class="col-sm-4" style="font-weight:600;margin-top:8px;color:#262d57;">{{scheme}}</label>
                        <div class="col-sm-6">
                            <div ng-if="UserLanguage==1"> {{printdocumenttype.name}} </div>
                            <div ng-if="UserLanguage==2"> {{printdocumenttype.hnname}} </div>
                            <div ng-if="UserLanguage==3"> {{printdocumenttype.knname}} </div>
                            <div ng-if="UserLanguage==4"> {{printdocumenttype.taname}} </div>
                            <div ng-if="UserLanguage==5"> {{printdocumenttype.tename}} </div>
                            <div ng-if="UserLanguage==6"> {{printdocumenttype.mrname}} </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="mobile" class="col-sm-4" style="font-weight:600;margin-top:8px;color:#262d57;">{{stage}}</label>
                        <div class="col-sm-6">
                            <!--							{{printstage.name}}-->
                            <div ng-if="UserLanguage==1"> {{printstage.name}} </div>
                            <div ng-if="UserLanguage==2"> {{printstage.hnname}} </div>
                            <div ng-if="UserLanguage==3"> {{printstage.knname}} </div>
                            <div ng-if="UserLanguage==4"> {{printstage.taname}} </div>
                            <div ng-if="UserLanguage==5"> {{printstage.tename}} </div>
                            <div ng-if="UserLanguage==6"> {{printstage.mrname}} </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="mobile" class="col-sm-4" style="font-weight:600;margin-top:8px;color:#262d57;">{{followupdate}}</label>
                        <div class="col-sm-6"> {{printdate | date:'dd-MMM-yyyy'}} </div>
                    </div>
                </div>
            </div>
            <br/>
            <br/>
            <br/>
            <!--<div>
				<div align="left">
					<a class="btn btn-success btn-sm " role="button" data-ng-click="OK()">{{okbutton}}</a>
				</div>
			</div>-->
        </form>
    </div>
    <style>
        .toggle.android {
            border-radius: 0px;
        }
        
        .toggle.android .toggle-handle {
            border-radius: 0px;
        }
        
        #mapCanvas {
            width: 500px;
            height: 400px;
            float: left;
        }
        
        #infoPanel {
            margin-left: 100px;
        }
        
        #infoPanel div {
            margin-bottom: 5px;
        }
    </style>
</benefmodal1>

<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert!!!" visible="showValidation">
    {{validatestring1}}
</validationmodal>

<script type="text/ng-template" id="template/AlertModal.html" class="modal" class="modal fade" role="dialog">
    <div class="modal-header">
        <h4 class="modal-title">{{palert}}</h4>
    </div>
    <div class="modal-body"> {{AlertMessage}} </div>
    <div class="modal-footer">
        <div align="left">

            <button type="button" class="btn btn-success btn-sm " ng-click="$close()">{{okbutton}}</button>

        </div>
    </div>
</script>
