<style>
    /*
    .stylelink {
        padding: 3px 10px;
        background: transparent;
        color: #333;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    }
    
    .stylelink.active {
        padding: 3px 10px;
        background: #b71c1c;
        color: #fff;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    }
    */
    
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 18px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
         padding-left: 0px;
        /*        border-bottom: 4px solid #e72e5a;*/
    }
    
    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }
    
    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #f4f4f4;
        /*        background-color: #fff;*/
    }
    
    #wrapper div {
        display: table-cell;
        height: auto;
    }
    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/
    
    .pdddlft2 {
        margin-top: 1.7em;
    }
    
    .sell {
        position: relative;
        min-width: 45px;
    }
    
    .sell:after {
        content: url(images/piclinks/down-arrow.png) ;
        font: 17px "Consolas", monospace;
        color: #333;
        top: 5px;
        margin-left: -22px;
        padding: 0 0 2px;
        position: absolute;
        pointer-events: none;
    }
    
    .sell select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        /*        max-width: 320px;*/
        height: 32px;
        float: left;
        padding: 0px 7px;
        font-size: 14px;
        line-height: 1.75;
        color: #878993;
        border-radius: 4px;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #d5d7df;
        -ms-word-break: normal;
        word-break: normal;
    }
    
    .nav-tabs-custom > .nav-tabs > li {
        width: 19%;
    }
    tbody {
        padding: 20px;
    }
    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 10px;
            padding: 5px 10px;
        }
        .stylelink.active {
            font-size: 10px;
            padding: 5px 10px;
        }
        .sub_menu {
            font-size: 10px;
            padding: 5px 10px;
        }
        .sub_menu.active {
            font-size: 10px;
            padding: 5px 10px;
        }
        .nav-tabs-custom > .nav-tabs > li {
            position: relative;
            display: block;
            padding: 10px;
            text-align: center;
            width: 180px;
        }
        .space {
            padding: 5px 0px 5px 0px;
        }
    }
.loadingwidth {
        width: 75px;
        height: auto;
        display: inline-block;
        overflow: hidden;
        /* position: absolute;*/
    }
</style>

<div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
        <!--
        <div style="text-align:center; ">
            <a class="stylelink" href="/co-organisation"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">FACILITY MANAGER/HDF</span></a>
        </div>
        <div style="text-align:center; ">
            <a class="stylelink" href="/mentor"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">OTHER ROLES</span></a>
        </div>
        <div style="text-align:center; ">
            <a class="stylelink" href="/roles"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">ROLES</span></a>
        </div>
-->
        <div class="stylelink active box-header with-border" style="">
            <h3 class="box-title ng-binding" style="font-weight:bold;">
<!--                AUDIT TRAIL-->
                <a href="/audit-trail">AUDIT TRAIL</a>
            </h3>
        </div>
<!--
        <h3 style="text-align:left; ">
            <a class="stylelink active" href="/audit-trail"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;font-weight:bold;">AUDIT TRAIL</span></a>
        </h3>
-->
        <!--
        <div style="text-align:center; ">
            <a class="stylelink" href="/mentorassign"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">FACILITY ASSIGN</span></a>
        </div>
-->
    </div>
</div>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <!--    <div class="box-header with-border">-->
    <!--        <h3 class="box-title">User List</h3>-->
    <!--    </div>-->
    <!-- /.box-header -->
    <!-- form start -->
<br/>
    <div class="box-body"  >
        <div class="row" style="margin:0;">
            <div class="col-sm-4">
                <div class="col-sm-8 pdddlft2">
                    <div class="form-group">
                        <p class="input-group">
                            <input type="text" placeholder="SELECT MONTH" id="{{'datepicker' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="selectedDate" is-open="opened1" min="minDate" max="'2015-06-22'" datepicker-options="{minMode: 'month'}" datepicker-mode="'month'" date-disabled="disabled(date, mode)" close-text="Close" datepicker-append-to-body="true" max-date="dt" style="border-color:#d5d7df;">
                            <span class="input-group-btn"><button type="button" class="btn btn-default calnd" ng-click="open1($event, $index)" style="border-color:#d5d7df;"><img src="images/piclinks/calender-copy-3.png" width="16px;" class="calddate"></button>
                                </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="col-sm-3"></div>
                <div data-ng-hide="hideSearchFilter()" class="col-sm-1 col-md-1" style=" padding-right:0px; padding-left:0px;border-color:#e1e8ee">
                    <div>
                    <label class="showlabel">Show</label>
                        </div>
                    <div class="sell">
                        <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <!--					<span>Entries</span>-->
                </div>


                <div data-ng-hide="hideSearchFilter()" class="col-sm-4  col-md-4 smright2txt" style="padding-right:0px;">
                    <div class="space">
                        <form role="form">
                            <div class="input-group">
                                <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-left-radius:4px;border-bottom-left-radius: 4px;border-color:#d5d7df;background:none;border-right:none;"><span class="glyphicon glyphicon-search"></span></button>
                                </span>
                                <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search" style="z-index:0;border-left:none;border-color:#d5d7df;border-top-right-radius:4px;border-bottom-right-radius: 4px;" ng-model="searchAudit" focus="someFocusVariable">

                            </div>
                        </form>
                    </div>

                </div>
                <div class="col-sm-2  col-md-2  smright smright2txt">
                    <a data-ng-href="" class="btn btn-success btn-sm " role="button" ng-click="exportData()" style="padding:5px 20px;margin-right:10px;"><img src="images/export-icon.png">&nbsp;&nbsp;Export Data </a>
                </div>


                <!--
            <div class="col-sm-2">
                <a data-ng-href="/user/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-right:10px;">Add New </a>
            </div>
-->
            </div>
        </div>
<!--        <br/>-->

        <div data-ng-hide="hideSearchFilter()">

            <!--
            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6" style="padding-top:5px;">
                    <span>Show</span>
                    <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <span>Entries</span>
                </div>
                <div class="col-sm-6">
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8">
                            <form role="form">
                                <div class="input-group">
                                    <input type="text" class="form-control  ng-pristine ng-valid" placeholder="Search" style="z-index:0;border-radius:20px;width:140%;" ng-model="searchUser">

                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
-->
        </div>
<!--        <br />-->




        <div data-ng-hide="showForm()" class="table-responsive">
            <form role="form">
                <div class="row" style="margin:0;padding:0;">
                    <!--
                    <div class="col-sm-6">
                        <label for="zone" class="col-sm-4" style="font-weight:600; margin-top: 5px;padding-left:0px;">State</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="country" ng-model="countryId" data-placeholder="Pick a State" style="width: 180px;">
                                <option value=""></option>
                                <option data-ng-repeat="state in states" value="{{state.id}}">{{ state.name }}</option>
                            </select>
                        </div>
                    </div>
-->

                    <!--
                    <div class="col-sm-6">
                        <label for="salesarea" class="col-sm-4" style="font-weight:600; margin-top: 5px;">Facility</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="state" ng-model="failityId" data-placeholder="Pick a Facility" style="width: 180px;">
                                <option value=""></option>
                                <option data-ng-repeat="fas  in facilities" value="{{fas.id}}">{{ fas.firstName }}</option>
                            </select>
                        </div>
                    </div>
-->
                </div>
                <br/>
            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th ng-click="changeSorting('index')" title="#" style="cursor:pointer;padding-left:32px;width:300px;">S NO.<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('index')"></i></span></th>
                        <th ng-click="changeSorting('action')" title="NAME" style="cursor:pointer;width:300px;">ACTION<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('action')"></i></span></th>
                        <th ng-click="changeSorting('module')" title="STATE" style="cursor:pointer;width:300px;">MODULE<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('module')"></i></span></th>
                        <th ng-click="changeSorting('owner')" title="STATE" style="cursor:pointer;width:300px;">OWNER<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('owner')"></i></span></th>
                        <th ng-click="changeSorting('datetime')" title="EMAIL" style="cursor:pointer;width:300px;">DATE/TIME<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('datetime')"></i></span></th>
                        <th ng-click="changeSorting('details')" title="ROLE" style="cursor:pointer;">DETAILS<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('details')"></i></span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="audittrial in audittrials| filter: searchAudit | orderBy:sort.active:sort.descending |itemsPerPage:pageSize" pagination-id="fstable">
                        <td style="padding-left:32px;">{{ audittrial.index}}</td>
                        <td>{{ audittrial.action }}</td>
                        <td>{{ audittrial.module }}</td>
                        <td data-ng-init="user = getUser(audittrial.owner)">{{ user.username }}</td>
                        <td>{{ audittrial.datetime }}</td>
                        <td style="width:400px;">{{ audittrial.details }}</td>
                    </tr>
                </tbody>
            </table>
            <br/>
                <loadingtodo visible="loaderModal" align="center"></loadingtodo>
            <div class="padding4" align="right">
                <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" pagination-id="fstable" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
                </dir-pagination-controls>
            </div>
        </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->
