<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;" data-ng-init="toggleLoading()">
	<div class="box-header with-border"  style="background:#e85a5a;padding:20px 10px;">
		<h3 class="box-title" style="color:#fff;">{{heading}}</h3>
	</div>
	<!-- /.box-header -->
	<!-- form start -->

	<div class="box-body" style="padding:20px;">
		<div data-ng-show="isCreateView">

			<!-- <tabset>
                <tab heading="Basic Information" style="font-weight: bold;">-->
			<form class="form-horizontal" role="form">
				<br/>
				<p align="center">All <span style="color:red">*</span> fields are Mandatory</p>
				<br />
				<div style="width:100%;height:auto;padding:5px 5px;background:#ddd;">
					<span style="font-weight:bold;">BASIC</span>
				</div>
				<br/>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;">Full Name <span style="color:red">*</span>
							</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="name" data-ng-model="beneficiary.fullname" placeholder="Firstname Middlename Lastname">
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="name" class="col-sm-4" style="font-weight:600;margin-top: 8px;">Nick/Street Name</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="name" data-ng-model="beneficiary.nickname" placeholder="Nick/Street Name">
							</div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="typology" class="col-sm-4" style="font-weight:600;margin-top:4px;">Typology <span style="color:red">*</span>
							</label>
							<div class="col-sm-6">
								<select ui-select2 id="typology" ng-model="beneficiary.typology" data-placeholder="Typology" style="width:100%;">
									<option value=""></option>
									<option value="fsw">FSW</option>
									<option value="msm">MSM</option>
									<option value="tg">TG</option>
									<option value="idu">IDU</option>
									<option value="truckers">Truckers</option>
									<option value="migrants">Migrants</option>
									<option value="general">General</option>
								</select>
							</div>
						</div>
					</div>

					<div class="col-sm-6">
						<div class="form-group">
							<label for="fw" class="col-sm-4" style="font-weight:600;margin-top:4px;">Gender <span style="color:red">*</span>
							</label>
							<div class="col-sm-6">
								<select ui-select2 id="fw" ng-model="beneficiary.gender" data-placeholder="Pick a Gender" style="width:100%;" ng-disabled="DisableGender">
									<option value=""></option>
									<option data-ng-repeat="gender in genders" value="{{gender.id}}">{{ gender.name }}</option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="plhiv" class="col-sm-4" style="font-weight:600;margin-top:4px;">PLHIV <span style="color:red">*</span>
							</label>
							<div class="col-sm-6">
								<span>
                                <input name="plhiv" value="no" type="radio" ng-model="beneficiary.plhiv">
                                <label for="code" style="font-weight:600">No</label>
                            </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<span>
                                <input name="plhiv" value="yes" type="radio" ng-model="beneficiary.plhiv">
                                <label for="code" style="font-weight:600">Yes</label>
                            </span>
							</div>
						</div>

						<div class="form-group" ng-hide="HideMonthofDetection">
							<label for="code" class="col-sm-4" style="font-weight:600;margin-top: 8px;">Month of Detection</label>
							<div class="col-sm-6">
								<p class="input-group">
									<input type="text" id="{{'datepickermod' + $index}}" class="form-control" datepicker-popup="MMM-yyyy" ng-model="beneficiary.monthofdetection" is-open="mod.openedmod" min="minDate" max="'2015-06-22'" datepicker-options="monthOptions" datepicker-mode="'month'" date-disabled="disabled(date, mode)" close-text="Close" max-date="presenttoday" />
									<span class="input-group-btn"><button class="btn btn-default" ng-click="openmod($event, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="formid" class="col-sm-4" style="font-weight:600;margin-top: 8px;">Month/Year of start of Sex work</label>
							<div class="col-sm-6">
								<p class="input-group" style="width: 100%;">
									<input type="text" id="{{'datepickerstart' + $index}}" class="form-control" datepicker-popup="MMM-yyyy" ng-model="beneficiary.startofsexwork" is-open="start.openedstart" min="minDate" max="'2015-06-22'" datepicker-options="monthOptions" datepicker-mode="'month'" date-disabled="disabled(date, mode)" close-text="Close" max-date="presenttoday" ng-disabled="ShowStart" />
									<span class="input-group-btn"><button class="btn btn-default" ng-click="openstart($event, $index)" ng-disabled="ShowStart"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
								</p>
							</div>
						</div>
					</div>
				</div>



				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="age" class="col-sm-4" style="font-weight:600;margin-top: 8px;">Age <span style="color:red">*</span>
							</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="age" data-ng-model="beneficiary.age" placeholder="Age" numbers-only="true">
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="dob" class="col-sm-4" style="font-weight:600;margin-top: 8px;">DOB <span style="color:red">*</span>
							</label>
							<div class="col-sm-6">
								<td style="width: 100%;">
									<p class="input-group" style="width: 100%;">
										<input type="text" id="{{'datepickerdob' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="beneficiary.dob" is-open="picker.dobopened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" max-date="dtmax" />
										<span class="input-group-btn"><button class="btn btn-default" ng-click="opendob($event, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
									</p>
								</td>
							</div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="maritalstatus" class="col-sm-4" style="font-weight:600;margin-top:4px;">Marital Status <span style="color:red">*</span>
							</label>
							<div class="col-sm-6">
								<select ui-select2 id="maritalstatus" data-ng-model="beneficiary.maritalstatus" data-placeholder="Pick a Marital Status" style="width:100%;">
									<option value=""></option>
									<option data-ng-repeat="maritalstatus in maritalstatuses" value="{{maritalstatus.id}}">{{ maritalstatus.name }}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="phoneno" class="col-sm-4" style="font-weight:600;margin-top: 8px;">Phone No</label>
							<div class="col-sm-6">
								<div class="input-group">
									<input type="text" class="form-control" id="phoneno" data-ng-model="beneficiary.phonenumber" placeholder="Phone No" maxlength="10" numbers-only="true">
									<span class="input-group-btn">
                                            <button class="btn btn-default" type="button" ng-click="AnotherPhone()" autocomplete="off"><span class="glyphicon glyphicon-plus"></span>
									</button>
									</span>
								</div>
							</div>
						</div>

						<data-ng-switch on="anotherphonenumber">
							<div data-ng-switch-when="1">
								<div class="form-group">
									<label for="route" class="col-sm-4" style="font-weight:600;margin-top: 8px;">Another Phone No</label>
									<div class="col-sm-6">
										<div class="input-group">
											<input type="text" class="form-control" id="phoneno" data-ng-model="beneficiary.phonenumberone" placeholder="Another Phone No" maxlength="10" numbers-only="true">
											<span class="input-group-btn">
                                            <button class="btn btn-default" type="button" ng-click="removePhone('one')" autocomplete="off" ng-if="anotherphonenumber==1"><span class="glyphicon glyphicon-remove"></span>
											</button>
											</span>
										</div>
									</div>
								</div>
							</div>
							<div data-ng-switch-when="2">
								<div class="form-group">
									<label for="route" class="col-sm-4" style="font-weight:600;margin-top: 8px;">Another Phone No</label>
									<div class="col-sm-6">
										<div class="input-group">
											<input type="text" class="form-control" id="phoneno" data-ng-model="beneficiary.phonenumberone" placeholder="Another Phone No" maxlength="10" numbers-only="true"><span class="input-group-btn">
                                            <button class="btn btn-default" type="button" ng-click="removePhone('one')" autocomplete="off" ng-if="anotherphonenumber==1"><span class="glyphicon glyphicon-remove"></span>
											</button>
											</span>
										</div>
									</div>
								</div>

								<div class="form-group">
									<label for="route" class="col-sm-4" style="font-weight:600;margin-top: 8px;">Another Phone No</label>
									<div class="col-sm-6">
										<div class="input-group">
											<input type="text" class="form-control" id="phoneno" data-ng-model="beneficiary.phonenumbertwo" placeholder="Another Phone No" maxlength="10" numbers-only="true"><span class="input-group-btn">
                                            <button class="btn btn-default" type="button" ng-click="removePhone('two')" autocomplete="off" ng-if="anotherphonenumber==2"><span class="glyphicon glyphicon-remove"></span>
											</button>
											</span>
										</div>
									</div>
								</div>
							</div>
							<div data-ng-switch-when="3">
								<div class="form-group">
									<label for="route" class="col-sm-4" style="font-weight:600;margin-top: 8px;">Another Phone No</label>
									<div class="col-sm-6">
										<div class="input-group">
											<input type="text" class="form-control" id="phoneno" data-ng-model="beneficiary.phonenumberone" placeholder="Another Phone No" maxlength="10" numbers-only="true"><span class="input-group-btn">
                                            <button class="btn btn-default" type="button" ng-click="removePhone('one')" autocomplete="off" ng-if="anotherphonenumber==1"><span class="glyphicon glyphicon-remove"></span>
											</button>
											</span>
										</div>
									</div>
								</div>

								<div class="form-group">
									<label for="route" class="col-sm-4" style="font-weight:600;margin-top: 8px;">Another Phone No</label>
									<div class="col-sm-6">
										<div class="input-group">
											<input type="text" class="form-control" id="phoneno" data-ng-model="beneficiary.phonenumbertwo" placeholder="Another Phone No" maxlength="10" numbers-only="true"><span class="input-group-btn">
                                            <button class="btn btn-default" type="button" ng-click="removePhone('two')" autocomplete="off" ng-if="anotherphonenumber==2"><span class="glyphicon glyphicon-remove"></span>
											</button>
											</span>
										</div>
									</div>
								</div>

								<div class="form-group">
									<label for="route" class="col-sm-4" style="font-weight:600;margin-top: 8px;">Another Phone No</label>
									<div class="col-sm-6">
										<div class="input-group">
											<input type="text" class="form-control" id="phoneno" data-ng-model="beneficiary.phonenumberthree" placeholder="Another Phone No" maxlength="10" numbers-only="true"><span class="input-group-btn">
                                            <button class="btn btn-default" type="button" ng-click="removePhone('three')" autocomplete="off" ng-if="anotherphonenumber==3"><span class="glyphicon glyphicon-remove"></span>
											</button>
											</span>
										</div>
									</div>
								</div>
							</div>
						</data-ng-switch>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="disabled" class="col-sm-4" style="font-weight:600;margin-top:4px;">Physically Disabled</label>
							<div class="col-sm-6">
								<span>
                                <input name="physicallydisabled" value="no" type="radio" ng-model="beneficiary.physicallydisabled">
                                <label for="code" style="font-weight:600">No</label>
                            </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<span>
                                <input name="physicallydisabled" value="yes" type="radio" ng-model="beneficiary.physicallydisabled">
                                <label for="code" style="font-weight:600">Yes</label>
                            </span>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="mentallydisabled" class="col-sm-4" style="font-weight:600;margin-top:4px;">Mentally Disabled</label>
							<div class="col-sm-6">
								<span>
                                <input name="mentallydisabled" value="no" type="radio" ng-model="beneficiary.mentallydisabled">
                                <label for="code" style="font-weight:600">No</label>
                            </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<span>
                                <input name="mentallydisabled" value="yes" type="radio" ng-model="beneficiary.mentallydisabled">
                                <label for="code" style="font-weight:600">Yes</label>
                            </span>
							</div>
						</div>
					</div>
				</div>

				<div style="width:100%;height:auto;padding:5px 5px;background:#ddd;">
					<span style="font-weight:bold;">FACILITY</span>
				</div>
				<br/>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="state" class="col-sm-4" style="font-weight:600;margin-top: 8px;">State <span style="color:red">*</span>
							</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="state" data-ng-model="zoneName" placeholder="State" readonly>
							</div>
						</div>
					</div>


					<div class="col-sm-6">
						<div class="form-group">
							<label for="co" class="col-sm-4" style="font-weight:600;margin-top: 8px;">Facility <span style="color:red">*</span>
							</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="state" data-ng-model="facilityName" placeholder="Facility" readonly>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="site" class="col-sm-4" style="font-weight:600;margin-top:4px;">Site <span style="color:red">*</span>
							</label>
							<div class="col-sm-6">
								<select ui-select2 id="site" ng-model="beneficiary.site" data-placeholder="Site" style="width:100%;">
									<option value=""></option>
									<option data-ng-repeat="site in sites" value="{{site.id}}">{{ site.name }}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="fw" class="col-sm-4" style="font-weight:600;margin-top:4px;">FW <span style="color:red">*</span>
							</label>
							<div class="col-sm-6">
								<select ui-select2 id="fw" ng-model="beneficiary.fieldworker" data-placeholder="Pick a FW" ng-change="fwChanged(this, distributionSubarea.zoneId)" style="width:100%;" ng-disabled="fwdisable">
									<option value=""></option>
									<option data-ng-repeat="fw in fieldworkers" value="{{fw.id}}">{{ fw.firstname }} - {{fw.lastname}}</option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group" style="margin-bottom:0;">
							<label for="hotspot" class="col-sm-4" style="font-weight:600;margin-top: 8px;">Hotspot <span style="color:red">*</span>
							</label>
							<div class="col-sm-6">
								<angucomplete id="ex1" placeholder="Enter Hotspot" pause="100" selectedobject="beneficiary.hotspot" localdata="hotspots" searchfields="name" titlefield="name" minlength="1" inputclass="form-control form-control-small" matchclass="highlight" searchstring="no.Noresponse" autocomplete="off"/>
							</div>
						</div>
						<span ng-hide="hotspotprint" style="display:block;margin-left:170px;margin-top: 0px;margin-bottom:15px;">
									<span>Hotspot: {{beneficiary.hotspot}}</span>
						</span>
						
						
						<!--<div class="form-group">
							<label for="hotspot" class="col-sm-4" style="font-weight:600;margin-top: 8px;">Hotspot <span style="color:red">*</span>
							</label>
							<div class="col-sm-6">
								<input id="ex11" placeholder="Enter Hotspot" ng-model="Printhotspot"/>
								
							</div>
						</div>-->
					
					</div>

					<div class="col-sm-6">
						<div class="form-group">
							<label for="town" class="col-sm-4" style="font-weight:600;margin-top:4px;">Town <span style="color:red">*</span>
							</label>
							<div class="col-sm-6">
								<select ui-select2 id="town" ng-model="beneficiary.town" data-placeholder="Pick a Town" ng-change="townChanged(this, distributionSubarea.zoneId)" style="width:100%;">
									<option value=""></option>
									<option data-ng-repeat="town in towns" value="{{town.id}}">{{ town.name }}</option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="avahanid" class="col-sm-4" style="font-weight:600;margin-top: 8px;">Avahan Id <span style="color:red">*</span>
							</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="avahanid" data-ng-model="beneficiary.avahanid" placeholder="Avahan Id" readonly>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="tiid" class="col-sm-4" style="font-weight:600;margin-top: 8px;">TI Id</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="tiid" data-ng-model="beneficiary.tiid" placeholder="TI Id">
							</div>
						</div>
					</div>
				</div>

				<div style="width:100%;height:auto;padding:5px 5px;background:#ddd;">
					<span style="font-weight:bold;">MEMBERSHIP</span>
				</div>
				<br/>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="activemember" class="col-sm-4" style="font-weight:600;margin-top:4px;">Active Member <span style="color:red">*</span>
							</label>
							<div class="col-sm-6">
								<span>
                                <input name="activemember" value="no" type="radio" ng-model="beneficiary.activemember">
                                <label for="code" style="font-weight:600">No</label>
                            </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<span>
                                <input name="activemember" value="yes" type="radio" ng-model="beneficiary.activemember">
                                <label for="code" style="font-weight:600">Yes</label>
                            </span>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="registered" class="col-sm-4" style="font-weight:600;margin-top:4px;">Paid Member <span style="color:red">*</span>
							</label>
							<div class="col-sm-6">
								<span>
                                <input name="paidmember" value="no" type="radio" ng-model="beneficiary.paidmember">
                                <label for="code" style="font-weight:600">No</label>
                            </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<span>
                                <input name="paidmember" value="yes" type="radio" ng-model="beneficiary.paidmember">
                                <label for="code" style="font-weight:600">Yes</label>
                            </span>
							</div>
						</div>
					</div>
				</div>





				<div class="row">
					<div class="col-sm-6">

					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="maritalstatus" class="col-sm-4" style="font-weight:600;margin-top:4px;">Champion
							</label>
							<div class="col-sm-3">
								<input type="checkbox" name="champion" ng-model="beneficiary.championproposed" />
								<label>Proposed</label>
							</div>
							<div class="col-sm-3">
								<input type="checkbox" name="champion" ng-model="beneficiary.championapproved" ng-disabled="disableapprove">
								<label>Approved</label>
							</div>
						</div>
					</div>
				</div>
				<br/>
				<br/>
				<br/>

				<div>
					<div align="left">
						<a class="btn btn-success btn-sm btn-flat" type="submit" role="button" data-ng-click="SaveProfile()" data-ng-show="isCreateSave" style="padding:5px 20px;margin-right:10px;">Create </a>

						<a class="btn btn-success btn-sm btn-flat" type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateEdit" style="padding:5px 20px;margin-right:10px;">Update </a>


						<a data-ng-href="/members" class="btn btn-danger btn-sm btn-flat" role="button" style="padding:5px 20px;">Cancel</a>
					</div>
				</div>
			</form>
		</div>

	</div>
	<!-- /.box-body -->
	<div class="box-footer">

	</div>
	<!-- /.box-footer -->
	<!--</div>-->
	<!-- /.box -->




	<!-------------------------------------------- MODAL  START ------------------------------------>

	<modal1 title1="PLHIV Details" visible="showplhivModal">
		<div style="width:100%; height:auto;  border: 1px solid #E6E6E6; margin: 5px auto; padding:5px;">
			<div  style="background:#e85a5a;padding:20px 10px;">
				<h4>Source of Infection </h4>
			</div>
			<br/>
			<form class="form-horizontal" role="form">
				<div class="row" style="margin:0;padding:0;">
					<div class="col-sm-3"></div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="code" class="col-sm-4" style="font-weight:600;margin-top: 8px;">Month of Detection</label>
							<div class="col-sm-6">
								<p class="input-group">
									<input type="text" id="{{'datepickermod' + $index}}" class="form-control" datepicker-popup="MM/yyyy" ng-model="beneficiary.monthofdetection" is-open="mod.openedmod" min="minDate" max="'2015-06-22'" datepicker-options="monthOptions" datepicker-mode="'month'" date-disabled="disabled(date, mode)" close-text="Close" max-date="presenttoday" />
									<span class="input-group-btn"><button class="btn btn-default" ng-click="openmod($event, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
								</p>
							</div>
						</div>

						<div class="form-group">
							<label for="code" class="col-sm-4" style="font-weight:600;margin-top: -5px;"> Type of Transmission</label>
							<div class="col-sm-6">
								<select ui-select2 id="zone" data-ng-model="beneficiary.typeoftransmission" data-placeholder="Pick a Type" style="width:100%;">
									<option value=""></option>
									<option value="Heterosexual">Heterosexual</option>
									<option value="Homesexual">Homesexual</option>
									<option value="Blood transfusion">Blood transfusion</option>
									<option value="Needles/Syringes">Needles/Syringes</option>
									<option value="Parent to child transfusion">Parent to child transfusion</option>
								</select>
							</div>
						</div>
					</div>

					<div class="col-sm-3"></div>
				</div>

				<br/>
				<br/>
				<br/>

				<div>
					<div align="left">
						<div>
							<a class="btn btn-success btn-sm btn-flat" type="submit" role="button" data-ng-click="SavePLHIV()" style="padding:5px 20px;margin-right:10px;">Save </a>


							<a data-ng-href="" class="btn btn-danger btn-sm btn-flat" role="button" data-ng-click="CancelPLHIV()" style="padding:5px 20px;margin-right:10px;">Cancel</a>
						</div>
					</div>
				</div>
			</form>

			<style>
				.toggle.android {
					border-radius: 0px;
				}
				
				.toggle.android .toggle-handle {
					border-radius: 0px;
				}

			</style>

		</div>
	</modal1>



	<modal1 title1="Get Location" visible="showMapModal">
		<div style="width:100%; height:auto; min-height:500px;  border: 1px solid #E6E6E6; margin: 5px auto; padding:5px;" id="mapmodals">
			<br/>

			<form class="form-horizontal" role="form">
				<div class="row" style="margin-left:20px;">

					<div id="mapCanvas"></div>
					<div id="infoPanel">
						<b>Marker status:</b>
						<div id="markerStatus"><i>Click and drag the marker.</i>
						</div>
						<b>Current position:</b>
						<div id="info"></div>
						<b>Closest matching address:</b>
						<div id="address"></div>
					</div>

				</div>

				<br/>
				<br/>

				<div align="left">
					<div>
						<div class="col-sm-6 col-md-offset-3" align="center">
							<a class="btn btn-success btn-sm btn-flat" type="submit" role="button" data-ng-click="SaveMap()" style="padding:5px 20px;margin-right:10px;">Save </a>


							<a data-ng-href="" class="btn btn-danger btn-sm btn-flat" role="button" data-ng-click="CancelMap()" style="padding:5px 20px;margin-right:10px;">Cancel</a>
						</div>
					</div>
				</div>
			</form>


		</div>


		<style>
			.toggle.android {
				border-radius: 0px;
			}
			
			.toggle.android .toggle-handle {
				border-radius: 0px;
			}
			
			#mapCanvas {
				width: 500px;
				height: 400px;
				float: left;
			}
			
			#infoPanel {
				margin-left: 100px;
			}
			
			#infoPanel div {
				margin-bottom: 5px;
			}

		</style>

	</modal1>





	<modal1 title1="{{modalTitle}}" visible="beneficiarydataModal">
		<div style="width:100%; height:auto; min-height:500px;  border: 1px solid #E6E6E6; margin: 5px auto; padding:5px;" id="savemodals">
			<br/>

			<form class="form-horizontal" role="form">
				<div style="width:100%;height:auto;padding:5px 5px;background:#ddd;">
					<span style="font-weight:bold;">BASIC</span>
				</div>
				<br/>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="first-name" class="col-sm-4" style="font-weight:600;margin-top:8px;">Full Name <span style="color:red">*</span>
							</label>
							<div class="col-sm-6">
								{{beneficiary.fullname}}
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="email" class="col-sm-4" style="font-weight:600;margin-top:8px;">Gender<span style="color:red">*</span></label>
							<div class="col-sm-6">
								{{genderName}}
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="typology" class="col-sm-4" style="font-weight:600;margin-top:4px;">Typology <span style="color:red">*</span>
							</label>
							<div class="col-sm-6">
								{{beneficiary.typology | uppercase }}
							</div>
						</div>
					</div>

					<div class="col-sm-6">
						<div class="form-group">
							<label for="mobile" class="col-sm-4" style="font-weight:600;margin-top:8px;">PLHIV<span style="color:red">*</span>
							</label>
							<div class="col-sm-6">
								{{beneficiary.plhiv}}
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="email" class="col-sm-4" style="font-weight:600;margin-top:8px;">Age<span style="color:red">*</span></label>
							<div class="col-sm-6">
								{{beneficiary.age}}
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="mobile" class="col-sm-4" style="font-weight:600;margin-top:8px;">DOB<span style="color:red">*</span>
							</label>
							<div class="col-sm-6">
								{{beneficiary.dob | date:'dd-MMM-yyyy'}}
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="mobile" class="col-sm-4" style="font-weight:600;margin-top:8px;">Marital Status<span style="color:red">*</span>
							</label>
							<div class="col-sm-6">
								{{maritalstatusName}}
							</div>
						</div>
					</div>
					<div class="col-sm-6"></div>
				</div>

				<div style="width:100%;height:auto;padding:5px 5px;background:#ddd;">
					<span style="font-weight:bold;">FACILITY</span>
				</div>
				<br/>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="first-name" class="col-sm-4" style="font-weight:600;margin-top:8px;">State <span style="color:red">*</span>
							</label>
							<div class="col-sm-6">
								{{zoneName}}
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="code" class="col-sm-4" style="font-weight:600;margin-top:8px;">Facility <span style="color:red">*</span>
							</label>
							<div class="col-sm-6">
								{{facilityName}}
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="im-provider" class="col-sm-4" style="font-weight:600;margin-top:8px;">Site <span style="color:red">*</span>
							</label>
							<div class="col-sm-6">
								{{siteName}}
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="partner-manager" class="col-sm-4" style="font-weight:600;margin-top:8px;">FW <span style="color:red">*</span></label>
							<div class="col-sm-6">
								{{fieldworkerName}}
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="partner-manager" class="col-sm-4" style="font-weight:600;margin-top:8px;">Hotspot <span style="color:red">*</span>
							</label>
							<div class="col-sm-6">
								{{beneficiary.hotspot}}
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="im-provider" class="col-sm-4" style="font-weight:600;margin-top:8px;">Town <span style="color:red">*</span>
							</label>
							<div class="col-sm-6">
								{{townName}}
							</div>
						</div>

					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="email" class="col-sm-4" style="font-weight:600;margin-top:8px;">Avahan ID<span style="color:red">*</span></label>
							<div class="col-sm-6">
								{{beneficiary.avahanid}}
							</div>
						</div>
					</div>
					<div class="col-sm-6"></div>
				</div>

				<div style="width:100%;height:auto;padding:5px 5px;background:#ddd;">
					<span style="font-weight:bold;">MEMBERSHIP</span>
				</div>
				<br/>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="mobile" class="col-sm-4" style="font-weight:600;margin-top:8px;">Active Member<span style="color:red">*</span>
							</label>
							<div class="col-sm-6">
								{{beneficiary.activemember}}
							</div>
						</div>
					</div>
					<div class="col-sm-6"></div>
				</div>






				<br/>
				<br/>
				<br/>

				<div>
					<div align="left">
						<a class="btn btn-success btn-sm btn-flat" role="button" data-ng-click="OK()" style="padding:5px 20px;margin-right:10px;">OK</a>
					</div>
				</div>
			</form>

		</div>


		<style>
			.toggle.android {
				border-radius: 0px;
			}
			
			.toggle.android .toggle-handle {
				border-radius: 0px;
			}
			
			#mapCanvas {
				width: 500px;
				height: 400px;
				float: left;
			}
			
			#infoPanel {
				margin-left: 100px;
			}
			
			#infoPanel div {
				margin-bottom: 5px;
			}

		</style>

	</modal1>

	<validationmodal title1="Alert!!!" visible="showValidation">
		{{validatestring1}}
	</validationmodal>
