<!-- Table -->
<table class="table table-bordered table-striped">
	<tr>
	  <th>#</th>
	  <th data-ng-repeat="item in cbGridConfig">{{ item.header }}</th>
	  <th></th>
	</tr>
	<tr data-ng-repeat="item in ngModel">
	  <td>{{ $index + 1 }}</td>
	  <td class="cb-grid-td" data-ng-repeat="config in cbGridConfig">{{ item[config.column] }}</td>
	  <!--
	  <td class="cb-grid-td" data-ng-repeat="config in cbGridConfig"><cb-grid-td data-ng-model="config" data-init="{{ item[config.init] }}"></cb-grid-td></td>
	  -->
	  <td>
      	<a data-ng-href="/{{slug}}/{{item.id}}" class="btn btn-default btn-xs" role="button"><span class="glyphicon glyphicon-edit"></span> Edit</a>
	  </td>
	</tr>
</table>