<style>
	/*
	.stylelink {
		padding: 3px 10px;
		background: transparent;
		color: #333;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}
	
	.stylelink.active {
		padding: 3px 10px;
		background: #b71c1c;
		color: #fff;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		font-weight: 600;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}
	*/
	
	 .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #e72e5a;
    }
	
	.sub_menu {
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
		padding: 10px 10px;
		border-bottom: 2px solid transparent;
		color: #333;
	}
	
	.sub_menu.active {
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
		padding: 10px 10px;
		color: #000;
		font-weight: bold;
		border-bottom: 2px solid #01adfb;
	}
	
	#wrapper {
		display: table;
		table-layout: fixed;
		width: 100%;
		height: auto;
         border-bottom: 1px solid #e6e6e6;
		/*		background-color: #fff;*/
	}
	
	#wrapper div {
		display: table-cell;
		height: auto;
	}
	/*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/
	
	.nav-tabs-custom > .nav-tabs > li {
		width: 19%;
	}
	
	@media screen and (max-width: 480px) {
		.stylelink {
			font-size: 10px;
			padding: 5px 10px;
		}
		.stylelink.active {
			font-size: 10px;
			padding: 5px 10px;
		}
		.sub_menu {
			font-size: 10px;
			padding: 5px 10px;
		}
		.sub_menu.active {
			font-size: 10px;
			padding: 5px 10px;
		}
		.nav-tabs-custom > .nav-tabs > li {
			position: relative;
			display: block;
			padding: 10px;
			text-align: center;
			width: 180px;
		}
	}

</style>

<div style="width:100%;height:auto;background:#ffffff;">
	<div id="wrapper">
		<div style="text-align:center;">
			<a class="stylelink active" href="/co-organisation"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">FACILITY MANAGER/HDF</span></a>
		</div>
		<div style="text-align:center;">
			<a class="stylelink" href="/mentor"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">OTHER ROLES</span></a>
		</div>
		<div style="text-align:center;">
			<a class="stylelink" href="/roles"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">ROLES</span></a>
		</div>
		<div style="text-align:center;">
			<a class="stylelink" href="/users"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">USERS</span></a>
		</div>
		<div style="text-align:center;">
			<a class="stylelink" href="/mentorassign"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">FACILITY ASSIGN</span></a>
		</div>
	</div>
</div>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
	<div class="box-header with-border">
		<!--		<h3 class="box-title">Facility Manager/HDF List</h3>-->
	</div>
	<!-- /.box-header -->
	<!-- form start -->

	<div class="box-body" style="padding:20px;">
		<div class="row">
			  <div class="col-sm-4"></div>
            <div data-ng-hide="hideSearchFilter()" class="col-sm-2" style="text-align:right;padding-right:0px;border-color:#e1e8ee">
                <span>Show</span>
                <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <!--					<span>Entries</span>-->
            </div>
            <div data-ng-hide="hideSearchFilter()" class="col-sm-3" style="padding-right:0px;">
                <!--
            <div class="row" style="margin:0;padding:0;">
						<div class="col-sm-5"></div>
						<div class="col-sm-7">
-->
                <form role="form">
                    <div class="input-group">
                        <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search" style="z-index:0;border-right:none;border-color:#e1e8ee;border-top-left-radius:4px;border-bottom-left-radius: 4px;"   data-ng-model="searchPart">
                        <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-right-radius:4px;border-bottom-right-radius: 4px;border-color:#e1e8ee;background:none;border-left:none;"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </form>

                <!--
						</div>
					</div>
-->
            </div>
            <div class="col-sm-3">
				<a data-ng-href="/co-organisation/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-right:10px;">Add New </a>
				<a data-ng-href="/upload-co-organisation" class="btn btn-success btn-sm " role="button" data-ng-hide="hideCreateButton()" style="padding:5px 20px;margin-right:10px;">Upload</a>
			</div>
			
		</div>
		<br/>

		<div data-ng-hide="hideSearchFilter()">

<!--
			<div class="row" style="margin:0;padding:0;">
				<div class="col-sm-6" style="padding-top:5px;">
					<span>Show</span>
					<select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
						<option value="25">25</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select>
					<span>Entries</span>
				</div>
				<div class="col-sm-6">
					<div class="row" style="margin:0;padding:0;">
						<div class="col-sm-4"></div>
						<div class="col-sm-8">
							<form role="form">
								<div class="input-group">
									<input type="text" class="form-control ng-pristine ng-valid" placeholder="Search" style="z-index:0;border-radius:20px;width:140%;" data-ng-model="searchPart">
								</div>
							</form>

						</div>
					</div>
				</div>

			</div>
-->
		</div>
		<br />


		<div data-ng-hide="showForm()" >
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<label for="zone" class="col-sm-2" style="font-weight:600;margin-top:5px;padding-left:30px;">State</label>
					<div class="col-sm-10">
						<select ui-select2 id="zone" ng-model="countryId" data-placeholder="Pick a State" style="width:180px;">
							<option value=""></option>
							<option data-ng-repeat="zone  in zones" value="{{zone.id}}">{{ zone.name }}</option>
						</select>
					</div>
				</div>
			</form>
			<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<!--<th style="width:5%;">#</th>
						<th style="width:30%;">Facility Manager/HDF Name</th>
						<th style="width:20%;">HDF Flag</th>
						<th style="width:100%;">Facility Name</th>
						<th style="width:20%;">Mobile No</th>
						<th style="width:100px;">Action</th>-->
						<!--<th></th>-->
						<th style="width:5%;">#</th>
						<th>FACILITY MANAGER/HDF NAME</th>
						<th>HDF FLAG</th>
						<th>FACILITY NAME</th>
						<th>MOBILE NO</th>
						<th>ACTION</th>
					</tr>
				</thead>
				<tbody>
					<tr dir-paginate="partner in partners| filter:searchPart |itemsPerPage:pageSize" current-page="currentpage" pagination-id="coOrgtable">
						<td>{{ partner.index }}</td>
						<td>{{ partner.id }} - {{ partner.name }}</td>
						<td>{{ partner.hdfflag }}</td>
						<td data-ng-init="facilityName = getFacilityName(partner.facility)">{{facilityName.firstName}}</td>
						<td>{{ partner.helpline }}</td>
						<td>
							<a data-ng-href="/co-organisation/{{partner.id}}"><span class="glyphicon glyphicon-pencil" ></span></a>&nbsp;&nbsp;
                            <a style="color:#b7b8c8;">|</a>&nbsp;&nbsp;
							<a confirm-button="Delete(partner.id)" message="Are you sure? you want to delete?"><span class="glyphicon glyphicon-remove" style="cursor:pointer;" title="Bin"></span></a>&nbsp;

						</td>
					</tr>
				</tbody>
			</table>
			<div align="right">
				<dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" on-page-change="PageChanged(newPageNumber, oldPageNumber)" pagination-id="coOrgtable">
				</dir-pagination-controls>
			</div>
			<div ng-show="!partners.length" style="margin:0 auto;text-align:center;padding-top: 5%;">
				<span style="font-size:18px;font-weight:bold;font-family:Georgia, Serif;">Please select an options</span>
			</div>
		</div>
		</div>

	</div>
	<!-- /.box-body -->
	<div class="box-footer">

	</div>
	<!-- /.box-footer -->
</div>
<!-- /.box -->
