<style>
    .stylelink {
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        color: #4a4d72;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #e72e5a;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
    }
    
    .tht:hover {
        color: blue;
    }
    .padd {
        padding:5px 20px;
    }
</style>
<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div id="wrapper">
        <div class=" stylelink active box-header with-border" >
            <h3 class="box-title" style="font-weight:600">CO BUDGET</h3>
        </div>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <div class="box-body" style="padding:20px;">
        <br/>
        <div class="row" style="margin:0;padding:0;">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="schememaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">SELECT YEAR</label>
                    <div class="col-sm-6">
                        <select ui-select2 id="year" data-ng-model="cobudget.year" data-placeholder="Select Budget Year" style="width:100%;" ng-change="YearFunction(cobudget.year)">
                            <option value=""></option>
                            <option ng-repeat="spmbudget in spmbudgetyears" value="{{spmbudget.id}}">{{spmbudget.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row" style="margin:0px;">
            <div class="col-sm-3" style="border:1px solid #ccc;height:100px;text-align:center;" dir-paginate="cobud in TotalData  = ( cobudgetsArray | filter:searchPart ) | itemsPerPage:pageSize">

                <div ng-if="cobud.totalamounts[0].totalamount==null" style="padding-top:20px;"><a style="font-weight:bold;cursor:pointer;" ng-click="AddBudget(cobud.mymonth,cobud.id,cobud.totalamounts[0].year)">{{ cobud.mymonth}}</a></div>
                <div ng-if="cobud.totalamounts[0].totalamount!=null" style="padding-top:20px;"><a style="font-weight:bold;cursor:pointer;" ng-click="BudgetEdit(cobud.id,cobud.totalamounts[0].year)">{{ cobud.mymonth}}</a></div>

<!--
                <div>Balance Amount : &nbsp;<span style="font-weight:600;"><span class="fa fa-rupee" ></span> &nbsp;{{ cobud.totalamounts[0].balancetilldate}}</span>
                </div>
-->
<!--
                
                <div>Balance Amount : &nbsp;<span style="font-weight:600;"><span class="fa fa-rupee" ></span> &nbsp;{{ cobud.remainingtilldate}}</span>
                </div>
-->

                
<!--
                <div>Balance Amount : &nbsp;<span style="font-weight:600;"><span class="fa fa-rupee" ></span> &nbsp;{{((spmhumanresources*1) -- (cobud.totalamounts[0].humanresources*1)) ++
                                        ((spmgenericactivity*1) -- (cobud.totalamounts[0].genericactivity*1)) ++ 
                                        ((spmtravelandcommunication*1) -- (cobud.totalamounts[0].travelandcommunication*1)) ++ 
                                        ((spmspecificactivity*1) -- (cobud.totalamounts[0].specificactivity*1)) ++ 
                                        ((spmmsgtgactivity*1) -- (cobud.totalamounts[0].msgtgactivity*1)) ++ 
                                        ((spmadministrativeexpense*1) -- (cobud.totalamounts[0].administrativeexpense*1)) ++ 
                                        ((spmmonitoringevaluation*1) -- (cobud.totalamounts[0].monitoringevaluation*1))}}</span>
                </div>
-->
                
                <div>Balance Amount : &nbsp;<span style="font-weight:600;"><span class="fa fa-rupee" ></span> &nbsp;{{(((spmhumanresources*1)++(spmgenericactivity*1)++(spmtravelandcommunication*1)++(spmspecificactivity*1)++(spmmsgtgactivity*1)++(spmadministrativeexpense*1)++(spmmonitoringevaluation*1))- ((cobud.totalamounts[0].humanresources*1)++(cobud.totalamounts[0].genericactivity*1)++(cobud.totalamounts[0].travelandcommunication*1)
                    ++(cobud.totalamounts[0].specificactivity*1)++(cobud.totalamounts[0].msgtgactivity*1)++(cobud.totalamounts[0].administrativeexpense*1)++(cobud.totalamounts[0].monitoringevaluation*1)))|number}}</span>
                </div>
                
                
                
<!--
                <div>Balance Amount : &nbsp;<span style="font-weight:600;"><span class="fa fa-rupee" ></span> &nbsp;spmhumanresources::{{(spmhumanresources|number)}} ,,humanresources::{{(cobud.totalamounts[0].humanresources|number)}}
                                        ,,spmgenericactivity::{{(spmgenericactivity*1)}} ,,genericactivity:: {{(cobud.totalamounts[0].genericactivity*1)}}
                                        ,,spmtravelandcommunication::{{(spmtravelandcommunication*1)}} ,,travelandcommunication:: {{(cobud.totalamounts[0].travelandcommunication*1)}} ,,spmspecificactivity:: 
                                        {{(spmspecificactivity*1)}} ,,specificactivity:: {{(cobud.totalamounts[0].specificactivity*1)}} ,,spmmsgtgactivity::
                                        {{(spmmsgtgactivity*1)}} ,,msgtgactivity:: {{(cobud.totalamounts[0].msgtgactivity*1)}} ,,spmadministrativeexpense:: 
                                        {{(spmadministrativeexpense*1)}} ,,administrativeexpense:: {{(cobud.totalamounts[0].administrativeexpense*1)}} ,,spmmonitoringevaluation:: 
                                        {{(spmmonitoringevaluation*1)}} ,,monitoringevaluation:: {{(cobud.totalamounts[0].monitoringevaluation*1)}}</span>
                </div>
-->
            </div>

        </div>
        <br/>

        <!--<div align="right">
                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" on-page-change="PageChanged(newPageNumber, oldPageNumber)"> </dir-pagination-controls>
            </div>-->

    </div>
    <!-- /.box-body -->
    <div class="box-footer"> </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->
<script type="text/ng-template" id="template/spmbudgetView.html">
    <div id="wrapper">
        <div class="stylelink active modal-header" >
            <h4 class="modal-title" style="font-weight:600">CO ACTUAL MONTHLY FORM</h4>
        </div>
    </div>
    <div class="modal-body"> <a style="padding-left:40%;color:red;">All Fields are Mandatory</a>
        <div>
            <div>
                <br>
                <div> <span>
						<table class="table ">
							<thead>
                                <tr style="background:none;">
    
                                    <th colspan="3" class="mystyle" style="text-align:end;border:none;">{{Current_Year}}</th>
                                    <th colspan="3" class="mystyle" style="border:none;">{{Displaymonth}}</th>
                                    
    </tr>
								<tr>
									<th>BUDGET NAME</th>
                                    <th>BUDGET</th>
									<th>SWASTI</th>
									<th>CO</th>
									<th>TOTAL</th>
                                    <th>REMAINING</th>
								</tr>
							</thead>
							<tbody>
                                
                            <td>
							<div class="row " style="margin:0px;line-height:2.8;">			
							<label for="state"  style="font-weight:600;color:red;">Human Resources</label> </div>	  
                                <br/>
                                <div class="row " style="margin:0px;line-height:2.5;">	
                                    <label for="state"  style="font-weight:600;color:red;">Travel and Communication</label></div>
                                <br/>
                                <div class="row" style="margin:0px;line-height:2.6">	
                                    <label for="state"  style="font-weight:600;color:red;">Generic Activities</label> 	</div>
                                <div class="row"  style="margin:0px;line-height:4">	
                                    <label for="state"  style="font-weight:600;color:red;">Specific Activities</label>   </div>
                                <div class="row"  style="margin:0px;line-height:3.4">	
                                    <label for="state" style="font-weight:600;color:red;">MSM/TG - Activities</label> 	</div>
                                <div class="row"  style="margin:0px;line-height:3.6">	
						    <label for="state"  style="font-weight:600;color:red;">Administrative expenses</label> 	        
                            </div>	
                        <div class="row"  style="margin:0px;line-height:3.6">	
						    <label for="state"  style="font-weight:600;color:red;">Monitoring, Evaluation and Learning (MEAL)</label> 	        
                        </div>
                            </td>
                              
                                <td>
                                     <input type="text" class="form-control" id="name" data-ng-model="spmhumanresources" placeholder="Human Resources" disabled><br />{{totalhumanresource}}
                                <input type="text" class="form-control" id="name" data-ng-model="spmtravelandcommunication" placeholder="Travel and Communication" disabled><br />    
                                <input type="text" class="form-control" id="name" data-ng-model="spmgenericactivity" placeholder="Generic Activities"  disabled><br />
                                <input type="text" class="form-control" id="name" data-ng-model="spmspecificactivity" placeholder="Specific Activities" disabled><br />
                                <input type="text" class="form-control" id="name" data-ng-model="spmmsgtgactivity" placeholder="MSM/TG - Activities" disabled><br />
                                <input type="text" class="form-control" id="name" data-ng-model="spmadministrativeexpense" placeholder="Administrative Expenses" disabled><br />
                                <input type="text" class="form-control" id="name" data-ng-model="spmmonitoringevaluation" placeholder="Monitoring, Evaluation and Learning (MEAL)" disabled><br />
                                
                                </td>
                                
				            <td>
                               
				                <input type="text" numbers-only="true"  class="form-control" id="swastihumanresources" data-ng-model="cobudget.swastihumanresources" placeholder="Human Resources" ng-change="HumanresourceTotal1(cobudget.swastihumanresources);SwastiSum1(cobudget.swastihumanresources)"><br />
                                
                                <input type="text" numbers-only="true" class="form-control" id="swastitravelandcommunication" data-ng-model="cobudget.swastitravelandcommunication" placeholder="Travel and Communication" ng-change="TravelandCommunication1(cobudget.swastitravelandcommunication);SwastiSum2(cobudget.swastitravelandcommunication);SwastiSum1()"><br />   
                                
                                <input type="text" numbers-only="true"  class="form-control" id="swastigenericactivity" data-ng-model="cobudget.swastigenericactivity" placeholder="Generic Activities" ng-change="Genericactivity1(cobudget.swastigenericactivity);SwastiSum3(cobudget.swastigenericactivity);SwastiSum2();SwastiSum1()"><br />
                                
                                <input type="text" numbers-only="true"  class="form-control" id="swastispecificactivity" data-ng-model="cobudget.swastispecificactivity" placeholder="Specific Activities" ng-change="Specificactivity1(cobudget.swastispecificactivity);SwastiSum4(cobudget.swastispecificactivity);SwastiSum3();SwastiSum2();SwastiSum1()"><br />
                                
                                <input type="text" numbers-only="true"  class="form-control" id="swastimsgtgactivity" data-ng-model="cobudget.swastimsgtgactivity" placeholder="MSM/TG - Activities" ng-change="Msgtgactivity1(cobudget.swastimsgtgactivity);SwastiSum5(cobudget.swastimsgtgactivity);SwastiSum4();SwastiSum3();SwastiSum2();SwastiSum1()"><br />
                                
                                <input type="text" numbers-only="true"  class="form-control" id="swastiadministrativeexpense" data-ng-model="cobudget.swastiadministrativeexpense" placeholder="Administrative Expenses" ng-change="Administrativeexpense1(cobudget.swastiadministrativeexpense);SwastiSum6(cobudget.swastiadministrativeexpense);SwastiSum5();SwastiSum4();SwastiSum3();SwastiSum2();SwastiSum1()"><br />
                                
                                <input type="text" numbers-only="true"  class="form-control" id="swastimonitoringevaluation" data-ng-model="cobudget.swastimonitoringevaluation" placeholder="Monitoring, Evaluation and Learning (MEAL)" ng-change="Monitoringevaluation1(cobudget.swastimonitoringevaluation);SwastiSum7(cobudget.swastimsgtgactivity);SwastiSum6();SwastiSum5();SwastiSum4();SwastiSum3();SwastiSum2();SwastiSum1()"><br />
                    				
                            </td>
				            <td>		
								<input type="text" numbers-only="true"  class="form-control" id="cohumanresources" data-ng-model="cobudget.cohumanresources" placeholder="Human Resources" ng-change="HumanresourceTotal1();HumanresourceTotal(cobudget.cohumanresources);COSum1(cobudget.cohumanresources)"><br />
                                
                                <input type="text" numbers-only="true"  class="form-control" id="cotravelandcommunication" data-ng-model="cobudget.cotravelandcommunication" placeholder="Travel and Communication" ng-change="TravelandCommunication(cobudget.cotravelandcommunication);TravelandCommunication1();COSum2(cobudget.cotravelandcommunication);COSum1()"><br />   
                                
                                <input type="text" numbers-only="true"  class="form-control" id="cogenericactivity" data-ng-model="cobudget.cogenericactivity" placeholder="Generic Activities" ng-change="Genericactivity(cobudget.cogenericactivity);Genericactivity1();COSum3(cobudget.cogenericactivity);COSum2();COSum1()"><br />
                                
                                <input type="text" numbers-only="true"  class="form-control" id="cospecificactivity" data-ng-model="cobudget.cospecificactivity" placeholder="Specific Activities" ng-change="Specificactivity(cobudget.cospecificactivity);Specificactivity1();COSum4(cobudget.cospecificactivity);COSum3();COSum2();COSum1()"><br />
                                
                                <input type="text" numbers-only="true" class="form-control" id="comsgtgactivity" data-ng-model="cobudget.comsgtgactivity" placeholder="MSM/TG - Activities"    ng-change="Msgtgactivity(cobudget.comsgtgactivity);Msgtgactivity1();COSum4(cobudget.comsgtgactivity);COSum4();COSum3();COSum2();COSum1()"><br />
                                
                                <input type="text" numbers-only="true"  class="form-control" id="coadministrativeexpense" data-ng-model="cobudget.coadministrativeexpense" placeholder="Administrative Expenses" ng-change="Administrativeexpense(cobudget.coadministrativeexpense);Administrativeexpense1();COSum6(cobudget.comsgtgactivity);COSum5();COSum4();COSum3();COSum2();COSum1()"><br />
                                
                                <input type="text" numbers-only="true"  class="form-control" id="comonitoringevaluation" data-ng-model="cobudget.comonitoringevaluation" placeholder="Monitoring, Evaluation and Learning (MEAL)" ng-change="Monitoringevaluation(cobudget.comonitoringevaluation);Monitoringevaluation1();COSum7(cobudget.comsgtgactivity);COSum6();COSum5();COSum4();COSum3();COSum2();COSum1()"><br />
                            </td>
                                   
                            <td>
                                <input type="text" class="form-control" id="name" data-ng-model="cobudget.humanresources" placeholder="Human Resources" disabled><br />
                                <input type="text" class="form-control" id="name" data-ng-model="cobudget.travelandcommunication" placeholder="Travel and Communication" disabled><br />
                                <input type="text" class="form-control" id="name" data-ng-model="cobudget.genericactivity" placeholder="Generic Activities"  disabled><br />
                                <input type="text" class="form-control" id="name" data-ng-model="cobudget.specificactivity" placeholder="Specific Activities" disabled><br />
                                <input type="text" class="form-control" id="name" data-ng-model="cobudget.msgtgactivity" placeholder="MSM/TG - Activities" disabled><br />
                                <input type="text" class="form-control" id="name" data-ng-model="cobudget.administrativeexpense" placeholder="Administrative Expenses" disabled><br />
                                <input type="text" class="form-control" id="name" data-ng-model="cobudget.monitoringevaluation" placeholder="Monitoring, Evaluation and Learning (MEAL)" disabled><br />
						
                            </td>
                                <td>
                                 <input type="text" class="form-control" id="name" data-ng-model="remaininghumanresources" placeholder="Human Resources"disabled><br />
                                <input type="text" class="form-control" id="name" data-ng-model="remainingtravelandcommunication" placeholder="Travel and Communication"disabled><br /> <input type="text" class="form-control" id="name" data-ng-model="remaininggenericactivity" placeholder="Generic Activities"  disabled><br />
                                <input type="text" class="form-control" id="name" data-ng-model="remainingspecificactivity" placeholder="Specific Activities" disabled><br />
                                <input type="text" class="form-control" id="name" data-ng-model="remainingmsgtgactivity" placeholder="MSM/TG - Activities" disabled><br />
                                <input type="text" class="form-control" id="name" data-ng-model="remainingadministrativeexpense" placeholder="Administrative Expenses" disabled><br />
                                <input type="text" class="form-control" id="name" data-ng-model="remainingmonitoringevaluation" placeholder="Monitoring, Evaluation and Learning (MEAL)" disabled><br />
                                </td>
                                <tr>
                                    <th>Total</th>
                                    <th>SPM: {{spmbudget_total}}</th>
                                    <th>SWASTI TOTAL: {{Swasti_Total}}</th>
                                    <th>CO TOTAL: {{CO_Total}}</th>
                                   <th>TOTAL SUM: {{Total_Sum}}</th>
                                    <th>REMAINING SUM: {{Remaining_Sum}}</th>
                                    </tr>                      
<!--                        </tr>-->
                        </tbody>
                        </table>
                    <br/>
			<br/>
			<br/>

			<div align="left">
				<div>

					<a class="btn btn-success btn-sm padd" type="submit" role="button" data-ng-click="Save()" ng-disabled="saveDisable" data-ng-show="isCreateView" >Save </a>&nbsp;

					<a class="btn btn-success btn-sm padd " type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView">{{update}} </a>&nbsp;

					<a class="btn btn-danger btn-sm padd" role="button" data-ng-click="Cancel()">Cancel</a>

				</div>
			</div>
                        </span> </div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="template/validation.html">
    <style>
        p {
            white-space: pre;
        }

    </style>
    <div class="modal-header" style="background:#e85a5a;padding-bottom:22px;color:#ffffff;">
        <h4 class="modal-title" style="color:#fff;font-weight:bold;">Alert<a data-ng-click="OkValidation()" data-dismiss="modal" class="btn btn-info  pull-right padd" role="button" style="background:#db4242;border-color:#db4242;">OK</a></h4>
    </div>
    <div class="modal-body"> {{validatestring1}} </div>
</script>
<script type="text/ng-template" id="template/validation2.html">
    <style>
        p {
            white-space: pre;
        }

    </style>
    <div class="modal-header" style="background:#e85a5a;padding-bottom:22px;color:#ffffff;">
        <h4 class="modal-title" style="color:#fff;font-weight:bold;">Alert<a data-ng-click="OkValidation()" data-dismiss="modal" class="btn btn-info  pull-right padd" role="button" style="background:#db4242;border-color:#db4242;">OK</a></h4>
    </div>
    <div class="modal-body"> You have already created budget for this month </div>
</script>
<modal2 title1="{{modalTitle}}" visible="eventdataModal">
    <p>{{message}}</p>
</modal2>
<validationmodal title1="Alert!!!" visible="showValidation"> {{validatestring1}} </validationmodal>
