<style>
    .tht:hover {
        color: blue;
    }
</style>
<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div class="box-header with-border" style="background:#e85a5a;padding:20px 10px;">
        <h3 class="box-title" style="color:#ffffff;">CO BUDGET</h3> </div>
    <!-- /.box-header -->
    <!-- form start -->
    <div class="box-body" style="padding:20px;">
        <!-- <div class="row">
		<div class="col-sm-6">
			<a data-ng-href="/events/create" class="btn btn-primary btn-sm btn-flat" role="button" data-ng-hide="hideCreateButton()"   style="padding:5px 20px;margin-right:10px;">{{addnew}}</a>
		</div>
        	<div class="col-sm-6">
				
				</div>
            </div>-->
        <br/>
        <div class="row" style="margin:0;padding:0;">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="schememaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">SELECT YEAR</label>
                    <div class="col-sm-6">
                        <select ui-select2 id="year" data-ng-model="cobudget.year" data-placeholder="Select Budget Year" style="width:100%;" ng-change="YearFunction(cobudget.year)">
                            <option value=""></option>
                            <option ng-repeat="spmbudget in spmbudgetyears" value="{{spmbudget.id}}">{{spmbudget.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="table-responsive">
            <table class="table  table-striped table-bordered" style="background:#f9f9f9;text-align:center;">
                <thead>
                    <tr>
                        <th style="text-align:center;width:50%;">MONTH</th>
                        <th style="padding-left:14%;">BALANCE AMOUNT</th>
                        <!--                        <th ng-style="style">EXPENCE AMOUNT</th>-->
                        <!--                        <th  style="text-align:center;">ACTION</th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr style="height:70px;" dir-paginate="cobud in TotalData  = ( cobudgetsArray | filter:searchPart ) | itemsPerPage:pageSize">
                        <td style="text-align:center;border-right:0px;"><a style="font-weight:bold;cursor:pointer" ng-click="AddBudget(cobud.mymonth,cobud.id)">{{ cobud.mymonth}}</a></td>
                        <!--                        <td><p ng-repeat="specificpillar in cobud.totalamounts"> {{specificpillar.balancetilldate}}</p></td>-->
                        <td style="border-left:0px;border-right:0px;">
                          
                            <p ng-repeat="specificpillar in cobud.totalamounts"> {{specificpillar.totalamount}} &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<a data-ng-click="BudgetEdit(cobud.id)" style="cursor:pointer"><span class="glyphicon glyphicon-edit" title="Edit" style="color: black;"  ng-hide="editHide" ng-if="cobud.totalamounts !=null "></span></a></p>
                                
                           
                        </td>
                        <!--<td style="border-left:0px;" ng-repeat="specificpillar in cobud.totalamounts">
                            <a data-ng-click="BudgetEdit(cobud.id)" style="cursor:pointer"><span class="glyphicon glyphicon-edit" title="Edit" style="color: black;"  ng-hide="editHide" ng-if="cobud.totalamounts !=null "></span></a>&nbsp;&nbsp;

                          </td>-->
                        <!--                        <td data-ng-init="test = TestData(cobud.id)"> {{Test}}</td>-->
                    </tr>
                </tbody>
            </table>
            <div align="right">
                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" on-page-change="PageChanged(newPageNumber, oldPageNumber)"> </dir-pagination-controls>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer"> </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->
<script type="text/ng-template" id="template/spmbudgetView.html">
    <div class="modal-header" style="background:#e85a5a;padding-bottom:22px;color:#ffffff;">
        <h4 class="modal-title">CO ACTUAL MONTHLY FORM</h4> </div>
    <div class="modal-body"> <a style="padding-left:40%;color:red;">All Fields are Mandatory</a>
        <div>
            <div>
                <br>
                <div> <span>
						<table class="table table-bordered table-striped">
							<thead>
                                <tr style="background:none;">
    <th></th>
                                    <th>{{Current_Year}}</th>
                                    <th>{{Displaymonth}}</th>
                                    <th></th>
    </tr>
								<tr>
								
									<th>BUDGET NAME</th>
									<th>SWASTI</th>
									<th>CO</th>
									<th>TOTAL</th>
								</tr>
							</thead>
							<tbody>
                            <td>
							<div class="row " style="margin:0px;line-height:2.8;">			
							<label for="state"  style="font-weight:600;color:red;">Human Resources</label> </div>	  
                                <br/>
                                <div class="row " style="margin:0px;line-height:2.5;">	
                                    <label for="state"  style="font-weight:600;color:red;">Travel and Communication</label></div>
                                <br/>
                                <div class="row" style="margin:0px;line-height:2.6">	
                                    <label for="state"  style="font-weight:600;color:red;">Generic Activities</label> 	</div>
                                <div class="row"  style="margin:0px;line-height:4">	
                                    <label for="state"  style="font-weight:600;color:red;">Specific Activities</label>   </div>
                                <div class="row"  style="margin:0px;line-height:3.4">	
                                    <label for="state" style="font-weight:600;color:red;">MSM/TG - Activities</label> 	</div>
                                <div class="row"  style="margin:0px;line-height:3.6">	
						    <label for="state"  style="font-weight:600;color:red;">Administrative expenses</label> 	        
                            </div>	
                        <div class="row"  style="margin:0px;line-height:3.6">	
						    <label for="state"  style="font-weight:600;color:red;">Monitoring, Evaluation and Learning (MEAL)</label> 	        
                        </div>
                            </td>
                               
				            <td>
                               
				                <input type="text" numbers-only="true"  class="form-control" id="swastihumanresources" data-ng-model="cobudget.swastihumanresources" placeholder="Human Resources" ng-change="HumanresourceTotal1(cobudget.swastihumanresources);SwastiSum1(cobudget.swastihumanresources)"><br />
                                
                                <input type="text" numbers-only="true" class="form-control" id="swastitravelandcommunication" data-ng-model="cobudget.swastitravelandcommunication" placeholder="Travel and Communication" ng-change="TravelandCommunication1(cobudget.swastitravelandcommunication);SwastiSum2(cobudget.swastitravelandcommunication);SwastiSum1()"><br />   
                                
                                <input type="text" numbers-only="true"  class="form-control" id="swastigenericactivity" data-ng-model="cobudget.swastigenericactivity" placeholder="Generic Activities" ng-change="Genericactivity1(cobudget.swastigenericactivity);SwastiSum3(cobudget.swastigenericactivity);SwastiSum2();SwastiSum1()"><br />
                                
                                <input type="text" numbers-only="true"  class="form-control" id="swastispecificactivity" data-ng-model="cobudget.swastispecificactivity" placeholder="Specific Activities" ng-change="Specificactivity1(cobudget.swastispecificactivity);SwastiSum4(cobudget.swastispecificactivity);SwastiSum3();SwastiSum2();SwastiSum1()"><br />
                                
                                <input type="text" numbers-only="true"  class="form-control" id="swastimsgtgactivity" data-ng-model="cobudget.swastimsgtgactivity" placeholder="MSM/TG - Activities" ng-change="Msgtgactivity1(cobudget.swastimsgtgactivity);SwastiSum5(cobudget.swastimsgtgactivity);SwastiSum4();SwastiSum3();SwastiSum2();SwastiSum1()"><br />
                                
                                <input type="text" numbers-only="true"  class="form-control" id="swastiadministrativeexpense" data-ng-model="cobudget.swastiadministrativeexpense" placeholder="Administrative Expenses" ng-change="Administrativeexpense1(cobudget.swastiadministrativeexpense);SwastiSum6(cobudget.swastiadministrativeexpense);SwastiSum5();SwastiSum4();SwastiSum3();SwastiSum2();SwastiSum1()"><br />
                                
                                <input type="text" numbers-only="true"  class="form-control" id="swastimonitoringevaluation" data-ng-model="cobudget.swastimonitoringevaluation" placeholder="Monitoring, Evaluation and Learning (MEAL)" ng-change="Monitoringevaluation1(cobudget.swastimonitoringevaluation);SwastiSum7(cobudget.swastimsgtgactivity);SwastiSum6();SwastiSum5();SwastiSum4();SwastiSum3();SwastiSum2();SwastiSum1()"><br />
                    				
                            </td>
				            <td>		
								<input type="text" numbers-only="true"  class="form-control" id="cohumanresources" data-ng-model="cobudget.cohumanresources" placeholder="Human Resources" ng-change="HumanresourceTotal(cobudget.cohumanresources);HumanresourceTotal1();COSum1(cobudget.cohumanresources)"><br />
                                
                                <input type="text" numbers-only="true"  class="form-control" id="cotravelandcommunication" data-ng-model="cobudget.cotravelandcommunication" placeholder="Travel and Communication" ng-change="TravelandCommunication(cobudget.cotravelandcommunication);TravelandCommunication1();COSum2(cobudget.cotravelandcommunication);COSum1()"><br />   
                                
                                <input type="text" numbers-only="true"  class="form-control" id="cogenericactivity" data-ng-model="cobudget.cogenericactivity" placeholder="Generic Activities" ng-change="Genericactivity(cobudget.cogenericactivity);Genericactivity1();COSum3(cobudget.cogenericactivity);COSum2();COSum1()"><br />
                                
                                <input type="text" numbers-only="true"  class="form-control" id="cospecificactivity" data-ng-model="cobudget.cospecificactivity" placeholder="Specific Activities" ng-change="Specificactivity(cobudget.cospecificactivity);Specificactivity1();COSum4(cobudget.cospecificactivity);COSum3();COSum2();COSum1()"><br />
                                
                                <input type="text" numbers-only="true" class="form-control" id="comsgtgactivity" data-ng-model="cobudget.comsgtgactivity" placeholder="MSM/TG - Activities"    ng-change="Msgtgactivity(cobudget.comsgtgactivity);Msgtgactivity1();COSum4(cobudget.comsgtgactivity);COSum4();COSum3();COSum2();COSum1()"><br />
                                
                                <input type="text" numbers-only="true"  class="form-control" id="coadministrativeexpense" data-ng-model="cobudget.coadministrativeexpense" placeholder="Administrative Expenses" ng-change="Administrativeexpense(cobudget.coadministrativeexpense);Administrativeexpense1();COSum6(cobudget.comsgtgactivity);COSum5();COSum4();COSum3();COSum2();COSum1()"><br />
                                
                                <input type="text" numbers-only="true"  class="form-control" id="comonitoringevaluation" data-ng-model="cobudget.comonitoringevaluation" placeholder="Monitoring, Evaluation and Learning (MEAL)" ng-change="Monitoringevaluation(cobudget.comonitoringevaluation);Monitoringevaluation1();COSum7(cobudget.comsgtgactivity);COSum6();COSum5();COSum4();COSum3();COSum2();COSum1()"><br />
                            </td>
                                   
                            <td>
                         <input type="text" class="form-control" id="name" data-ng-model="cobudget.humanresources" placeholder="Human Resources" disabled><br />{{totalhumanresource}}
                                <input type="text" class="form-control" id="name" data-ng-model="cobudget.travelandcommunication" placeholder="Travel and Communication" disabled><br />    
                                <input type="text" class="form-control" id="name" data-ng-model="cobudget.genericactivity" placeholder="Generic Activities"  disabled><br />
                                <input type="text" class="form-control" id="name" data-ng-model="cobudget.specificactivity" placeholder="Specific Activities" disabled><br />
                                <input type="text" class="form-control" id="name" data-ng-model="cobudget.msgtgactivity" placeholder="MSM/TG - Activities" disabled><br />
                                <input type="text" class="form-control" id="name" data-ng-model="cobudget.administrativeexpense" placeholder="Administrative Expenses" disabled><br />
                                <input type="text" class="form-control" id="name" data-ng-model="cobudget.monitoringevaluation" placeholder="Monitoring, Evaluation and Learning (MEAL)" disabled><br />
						
                            </td>
                                <tr>
                                    <th>Total</th>
                                    <th>SWASTI TOTAL: {{Swasti_Total}}</th>
                                    <th>CO TOTAL: {{CO_Total}}</th>
                                   <th>TOTAL SUM: {{Total_Sum}}</th>
                                    </tr>
                                
                          
                       
<!--                        </tr>-->
                        </tbody>
                        </table>
                    <br/>
			<br/>
			<br/>

			<div align="left">
				<div>

					<a class="btn btn-success btn-sm btn-flat" type="submit" role="button" data-ng-click="Save()" ng-disabled="saveDisable" data-ng-show="isCreateView">Save </a>

					<a class="btn btn-success btn-sm btn-flat" type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView">{{update}} </a>

					<a class="btn btn-danger btn-sm btn-flat" role="button" data-ng-click="Cancel()">Cancel</a>

				</div>
			</div>
                        </span> </div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="template/validation.html">
    <style>
        p {
            white-space: pre;
        }
    </style>
    <div class="modal-header" style="background:#e85a5a;padding-bottom:22px;color:#ffffff;">
        <h4 class="modal-title" style="color:#fff;font-weight:bold;">Alert<a data-ng-click="OkValidation()" data-dismiss="modal" class="btn btn-info btn-flat pull-right" role="button" style="background:#db4242;border-color:#db4242;">OK</a></h4> </div>
    <div class="modal-body"> {{validatestring1}} </div>
</script>
<script type="text/ng-template" id="template/validation2.html">
    <style>
        p {
            white-space: pre;
        }
    </style>
    <div class="modal-header" style="background:#e85a5a;padding-bottom:22px;color:#ffffff;">
        <h4 class="modal-title" style="color:#fff;font-weight:bold;">Alert<a data-ng-click="OkValidation()" data-dismiss="modal" class="btn btn-info btn-flat pull-right" role="button" style="background:#db4242;border-color:#db4242;">OK</a></h4> </div>
    <div class="modal-body"> You have already created budget for this month </div>
</script>
<modal2 title1="{{modalTitle}}" visible="eventdataModal">
    <p>{{message}}</p>
</modal2>
<validationmodal title1="Alert!!!" visible="showValidation"> {{validatestring1}} </validationmodal>