<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        background: #ffffff;
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 30px;
        /*        border-bottom: 4px solid #e72e5a;*/
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        margin-top: 12px;
        background: #ffffff;
        /*        border-bottom: 1px solid #e6e6e6;*/
    }
    
    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }
    
    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        /*		border-bottom: 2px solid #01adfb;*/
    }
    
    .customcheck {
        display: block;
        position: relative;
        padding-left: 10px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
    }
    
    .customcheck input {
        position: absolute;
        opacity: 0;
    }
    
    .checkmark {
        position: absolute;
        height: 18px;
        width: 18px;
        background-color: #ffffff;
        border: 1px solid #d5d7df;
    }
    
    .customcheck:hover input ~ .checkmark {
        background-color: #f4f4f4;
    }
    
    .customcheck input:checked ~ .checkmark {
        background-color: #73b33e;
    }
    
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    
    .customcheck input:checked ~ .checkmark:after {
        display: block;
    }
    
    .customcheck .checkmark:after {
        left: 6px;
        top: 2px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
    }
    /*
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
        		background-color: #fff;
    }

    #wrapper div {
        display: table-cell;
        height: auto;
    }
*/
    
    .nav-tabs-custom>.nav-tabs>li {
        width: 16%;
    }
    
    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 10px 20px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 10px 20px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
    }
    
    .dropdown-menu {
        width: -moz-calc(100% - 28px);
        width: -webkit-calc(100% - 28px);
        width: calc(100% - 28px);
    }
    
    .card-3 {
        box-shadow: 0px 1px 2px 1px #f2f2f2;
        margin: 0px 15px;
        border-bottom: 1px solid #e2e2e2;
        padding: 5px;
        font-weight: 600;
    }
    
    a.adisabled {
        cursor: not-allowed;
        opacity: .65;
    }
    
    a.adisabled:hover {
        text-decoration: none;
    }
    
    a.adisabled:focus {
        text-decoration: none;
    }
    
    a.adisabled:active {
        text-decoration: none;
    }

</style>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none">
    <div id="wrapper"> 
    <div class="box-header with-border stylelink active" style="background:#ffffff;padding-left:17px;">
        <h3 class="box-title" style="font-weight:bold;">
            <a href="/screentreats-list" style="cursor:pointer;"><img src="images/piclinks/back.png" width="10px" height="16px" style="margin-bottom:4px;"/></a>&nbsp;&nbsp;&nbsp;{{conditionHeading}}</h3>
    </div>
        </div>

    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body" >
        <!--        <br/>-->
        <div class="row padding3" style="">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="zone" class="" style="">{{ConditionLanguage.member}}<sup>*</sup> </label>
                    <div class="">
                        <select ui-select2 id="memberId" ng-model="condition.memberId" data-placeholder="{{ConditionLanguage.memberName}}" style="width: 100%;" ng-disabled="editDisable">
                            <option value=""></option>
                            <option data-ng-repeat="member in members" value="{{member.id}}">{{ member.name + ' - ' + member.individualId + ' - ' + member.mobile }} </option>
                            <!--                          <a>{{ member.mobile}}</a>  -->

                        </select>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <label for="zone" class="" style="" ng-if="hideLabel">{{ConditionLanguage.condition}}<sup>*</sup> </label>

                    <label for="zone" class="" style="" ng-if="hideAddBtn">{{ConditionLanguage.condition}}<sup>*</sup> </label>

                    <div class="">
                        <select ui-select2 id="condition" ng-model="condition.condition" data-placeholder="{{ConditionLanguage.selectCondition}} " style="width: 100%;" ng-disabled="editDisable">
                            <option value=""></option>
                            <option data-ng-repeat="condition in conditionsdsply" ng-if="UserLanguage==1" value="{{condition.id}}">{{ condition.name }}</option>
                            <option data-ng-repeat="condition in conditionsdsply" ng-if="UserLanguage!=1" value="{{condition.parentId}}">{{ condition.name }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <!--                <br>-->
                <div class="form-group">
                    <label for="zone" class="" style="">{{ConditionLanguage.assignedTo}}<sup>*</sup> </label>
                    <div class="">
                        <select ui-select2 id="associatedhf" ng-model="condition.associatedHF" data-placeholder="{{ConditionLanguage.selectAssignedTo}} " style="width: 100%;" ng-disabled="hideAssigned">
                            <option value=""></option>
                            <option data-ng-repeat="user in users" value="{{user.id}}">{{ user.name }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2" style="padding-top:1.8em;">
                <div class="form-group">
                    <a class="btn btn-primary btn-sm" role="button" style="" href="/patientrecord/create" ng-if="hideAddBtn" ng-disabled="disablePatientAdd">{{ConditionLanguage.addPatientRecord}}</a>
                </div>
            </div>
            <!--            </div>-->

            <!--
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="zone" class="" style="font-weight:600;margin-top:5px;color:red;" ng-if="hideLabel">{{ConditionLanguage.condition}} </label>
                    
                    <label for="zone" class="col-sm-2" style="font-weight:600;margin-top:5px;color:red;" ng-if="hideAddBtn">{{ConditionLanguage.condition}} </label>
                    
                    <div class="col-sm-6">
                        <select ui-select2 id="condition" ng-model="condition.condition" data-placeholder="{{ConditionLanguage.selectCondition}} " style="width: 100%;" ng-disabled="editDisable">
                            <option value=""></option>
                            <option data-ng-repeat="condition in conditionsdsply" ng-if="UserLanguage==1" value="{{condition.id}}">{{ condition.name }}</option>
                            <option data-ng-repeat="condition in conditionsdsply" ng-if="UserLanguage!=1" value="{{condition.parentId}}">{{ condition.name }}</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-primary btn-sm" role="button" style="padding:5px 20px;margin-right:10px;" href="/patientrecord/create" ng-if="hideAddBtn" ng-disabled="disablePatientAdd">{{ConditionLanguage.addPatientRecord}}</a>
                    </div>
                </div>
            </div>
-->
        </div>
        <br/>
        <!--
        <div class="row ">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:5px;">{{ConditionLanguage.step}} </label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:5px;">{{ConditionLanguage.status}} </label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:5px;">{{ConditionLanguage.date}} </label>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
-->
        <br/>

        <div data-ng-hide="showForm()" class="table-responsive">
            <table class="table">
                <thead>
                    <tr id="rowClick">
                        <th style="padding-left:3.6%">{{ConditionLanguage.step | uppercase}}</th>
                        <th>{{ConditionLanguage.status | uppercase}}</th>
                        <th>{{ConditionLanguage.date | uppercase}}</th>
                        <th>{{ConditionLanguage.checkList | uppercase}}</th>
                </thead>
                <tbody id="bnbody">
                    <tr dir-paginate="trailer in trailerArray | itemsPerPage:25">
                        <td style="font-weight:normal;margin-top:5px;width:300px;padding-left:3.6%;">{{ trailer.step }}</td>
                        <td style="font-weight:nomal;margin-top:5px;">
                            <select ui-select2 id="risk" ng-model="trailer.status" ng-change="statusChange(trailer.id, $index, trailer.status, trailer.statuses, trailer.enabledVal, trailer.step, '{{trailer.status}}')" data-placeholder="{{ConditionLanguage.selectStatus}}" style="width:70%;" ng-disabled="trailer.enabled">
                                <option value=""></option>
                                <option data-ng-repeat="conditionstatus in trailer.statuses" ng-if="UserLanguage==1" ng-disabled="conditionstatus.enabled || (conditionstatus.id == 1 || conditionstatus.id == 2)" value="{{conditionstatus.id}}">{{ conditionstatus.name }}</option>
                                <option data-ng-repeat="conditionstatus in trailer.statuses" ng-if="UserLanguage!=1" ng-disabled="conditionstatus.enabled || (conditionstatus.parentId == 1 || conditionstatus.parentId == 2)" value="{{conditionstatus.parentId}}">{{ conditionstatus.name }}</option>
                            </select>
                        </td>
                        <td style="font-weight:normal;margin-top:5px;width:295px;">{{ trailer.date | date:'dd-MMM-yyyy' }}</td>
                        <td style="font-weight:normal;margin-top:5px;" ng-if="$first">
                            <a href="" data-ng-click="openCheckList(trailer.id, trailer.status)">
                                <!--                                <span class="glyphicon glyphicon-th-list" title="{{ConditionLanguage.checkList}}"></span>-->
                                <img src="images/piclinks/checklist.png" width="16px" title="{{ConditionLanguage.checkList}}" />
                            </a>&nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>
            <br/>
            <div class="row padding1" style="margin:0px;" ng-if="vendorField">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="zone" class="col-sm-6" style="font-weight:600;margin-top:5px;">{{ConditionLanguage.screenedBy}} </label>
                        <div class="col-sm-6" style="padding-left:20px;">
                            <select ui-select2 id="vendorId" ng-model="condition.screenedby" data-placeholder="{{ConditionLanguage.selectScreenedBy}} " style="width: 100%;">
                                <option value=""></option>
                                <option data-ng-repeat="screenedby in screenedbys" value="{{screenedby.id}}">{{ screenedby.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <table class="table" ng-if="hideDiagnosis">
                <thead>
                    <tr id="rowClick">
                        <th style="padding-left:3.6%;">{{ConditionLanguage.diagnosis}}</th>
                        <th>{{ConditionLanguage.value}}</th>
                        <th>{{ConditionLanguage.metric}}</th>
                        <th><a href="" data-ng-click="addDiagnosis()"><span class="glyphicon glyphicon-plus" title="{{ConditionLanguage.add}}" style="color:#333;"></span></a>
                        </th>
                    </tr>
                </thead>
                <tbody id="bnbody">
                    <tr dir-paginate="diagnosis in diagnosisArray | itemsPerPage:25">
                        <td style="font-weight:600;margin-top:5px;width:27%;padding-left:3.6%;">
                            <select ui-select2 id="risk" ng-model="diagnosis.diagnosis" ng-change="diagnosisChange(diagnosis.diagnosis, $index)" data-placeholder="{{ConditionLanguage.selectDiagnosis}}" style="width:65%;" ng-disabled="diagnosis.disableEdit">
                                <option value=""></option>
                                <option data-ng-repeat="diagnos in diagnosis.conditiondiagnosis" ng-if="UserLanguage==1" value="{{diagnos.id}}">{{ diagnos.name }}</option>
                                <option data-ng-repeat="diagnos in diagnosis.conditiondiagnosis" ng-if="UserLanguage!=1" value="{{diagnos.parentId}}">{{ diagnos.name }}</option>
                            </select>
                        </td>
                        <td style="font-weight:600;margin-top:5px;width:30%;">
                            <input type="text" class="form-control" id="floatcheck" data-ng-model="diagnosis.value" placeholder="{{ConditionLanguage.value}}" style="width:60%;" ng-disabled="diagnosis.disableEdit" valid-number>
                        </td>
                        <td style="font-weight:600;margin-top:5px;width:25%;">
                            {{diagnosis.metric}}
                        </td>
                        <!--
                        <td ng-if="$last">
                            <a href="" data-ng-click="addDiagnosis(diagnosis.id, $index)" ng-class="{'adisabled': disableAddBtn}"><span class="glyphicon glyphicon-plus" title="{{ConditionLanguage.add}}"></span></a>
                        </td>
-->
                        <td>
                            <a href="" data-ng-click="removeDiagnosis(diagnosis.id, $index)" ng-if="!diagnosis.disableEdit"><span class="glyphicon glyphicon-remove" title="{{ConditionLanguage.remove}}"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br/>
        
        <div class="row" style="margin:0px">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="customcheck" style="margin-left:15px;">
                        <input type="checkbox" value="{{check.id}}" ng-model="condition.caseClosed" type="radio" name="name" required="required" ng-disabled="disableCaseClosed" ng-change="closedCase(condition.caseClosed)" title="{{ConditionLanguage.caseClosed}}" checked="checked" />
                        <span class="checkmark"></span>
                        <label for="zone" class="col-sm-5" style="margin-top:-5px;margin-left:24px;font-size:18px">{{ConditionLanguage.caseClosed}} </label>
                    </label>
                </div>
            </div>
        </div>
        <br/>
        <div class="row padding3" style="margin:0">
            <div class="col-sm-3" ng-if="hideReason">
                     <div class="form-group">
                    <label for="zone">{{ConditionLanguage.reasonForCancelling}}<sup>*</sup> </label>
                    <div>
                        <select ui-select2 id="reasonId" ng-model="condition.reasonForCancel" data-placeholder="{{ConditionLanguage.selectReasonForCancelling}}" style="width: 100%;">
                            <option value=""></option>
                            <option data-ng-repeat="reasonforcancellation in reasonforcancellations" ng-if="UserLanguage==1" value="{{reasonforcancellation.id}}">{{ reasonforcancellation.name }}</option>
                            <option data-ng-repeat="reasonforcancellation in reasonforcancellations" ng-if="UserLanguage!=1" value="{{reasonforcancellation.parentId}}">{{ reasonforcancellation.name }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-3" ng-if="hideFollowUp">
                 <div class="form-group">
                    <label for="zone">{{ConditionLanguage.followUpName}} </label>
                    <div>
                        <select ui-select2 id="zoneId" ng-model="condition.followup" data-placeholder="{{ConditionLanguage.selectfollowUp}}" style="width: 100%;">
                            <option value=""></option>
                            <option data-ng-repeat="conditionfollowup in conditionfollowups" ng-if="UserLanguage==1" value="{{conditionfollowup.id}}">{{ conditionfollowup.name }}</option>
                            <option data-ng-repeat="conditionfollowup in conditionfollowups" ng-if="UserLanguage!=1" value="{{conditionfollowup.parentId}}">{{ conditionfollowup.name }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-3" ng-if="hideFollowUp">
                   <div class="form-group">
                    <label for="code">{{ConditionLanguage.followUpDate}}</label>
                    <div>
                        <p class="input-group">
                            <input type="text" id="{{'datepickerfollowup' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="condition.followupdate" is-open="condition.followupdatepick" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" min-date="dt" style="border-right:none;border-color:#d5d7df;" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="conditionfollowupopen($event, $index)" style="border-left:none;border-color:#d5d7df;"><img src="images/piclinks/calender-copy-3.png" style="width:16px;" class="calddate"></button>
                                </span>
                        </p>
                    </div>
                </div>
                 <!--
                <div class="form-group">
                    <input type="checkbox" value="{{check.id}}" ng-model="condition.caseClosed" type="radio" name="name" required="required" ng-disabled="disableCaseClosed" ng-change="closedCase(condition.caseClosed)" title="{{ConditionLanguage.caseClosed}}" />
                    <label for="zone" class="col-sm-3" style="font-weight:600;margin-top:5px;">{{ConditionLanguage.caseClosed}} </label>
                </div>

-->

            </div>
        </div>
        <br/>
        <br/>
        <div align="right">
            <a data-ng-href="/screentreats-list" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">{{ConditionLanguage.cancel}}</a>

            <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="okConfirm()" data-ng-show="HideCreateButton" ng-disabled="CreateClicked" style="padding:5px 20px;margin-right:20px;">{{ConditionLanguage.saveLabel}}</a>&nbsp;

            <a class="btn btn-info btn-sm" type="submit" role="button" data-ng-click="okConfirm()" data-ng-hide="HideCreateButton" style="padding:5px 20px;margin-right:20px;">{{ConditionLanguage.update}}</a>&nbsp;
        </div>
    </div>
    <br/>
    <!-- /.box-body -->
    <div class="box-footer"> </div>
    <!-- /.box-footer -->
</div>
<style>
    table,
th,
td {
    fill: #262d57;
    font-size: 14px;
}
th {
    background-color: #d5d7df;
    font-weight: normal;
}
tr {
    background-color: White;
    color: #262d57;
    font-size: 10px;
}
</style>
    
<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert!!!" visible="showValidation">
    {{validatestring1}}
</validationmodal>

<shgmeetingmodal visible="confirmationModel">
    <div class="modal-header" style="color:#ffffff;padding:0px;">
<!--        <div class="pull-right" style='padding:15px;'></div>-->
        <h4 class="stylelink active modal-title"><img class="image" src="images/piclinks/save.png" width="16px" height="18px" style="margin-top:2px;">&nbsp;&nbsp;&nbsp;{{ConditionLanguage.areYouSureToWantToSave}}</h4>
    </div>

    <div style="width:100%; height:auto; min-height:305px;  border: 1px solid #ffffff;" id="savemodals">
        <br>
        <form>
             <div class="row padding">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="" class="" style="font-weight:600;margin-top:4px;">{{ConditionLanguage.member}}</label>
                        <input type="text" class="form-control" id="name" data-ng-model="memberName" placeholder="{{ConditionLanguage.member}}" readonly>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="" class="" style="font-weight:600;margin-top:4px;">{{ConditionLanguage.condition}}</label>
                         <input type="text" class="form-control" id="name" data-ng-model="conditionName" placeholder="{{ConditionLanguage.condition}}" readonly>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="" class="" style="font-weight:600;margin-top:4px;">{{ConditionLanguage.step}} </label>
                        <input type="text" class="form-control" id="name" data-ng-model="stepName" placeholder="{{ConditionLanguage.step}}" readonly>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="" class="" style="font-weight:600;margin-top:4px;">{{ConditionLanguage.status}} </label>
                        <input type="text" class="form-control" id="name" data-ng-model="statusName" placeholder="{{ConditionLanguage.status}}" readonly>
                    </div>
                </div>
                 <div class="col-sm-4">
                    <div class="form-group">
                        <label for="" class="" style="font-weight:600;margin-top:4px;">{{ConditionLanguage.caseClosed}} </label>
                        <input type="text" class="form-control" id="name" data-ng-model="condition.caseClosed" placeholder="{{ConditionLanguage.caseClosed}}" readonly>
                    </div>
                </div>
            </div>
            <div class="row padding">
                <div class="col-sm-4" ng-if="hideFollowUp">
                    <div class="form-group">
                        <label for="">{{ConditionLanguage.followUpName}} </label>
                        <input type="text" class="form-control" id="name" data-ng-model="followUpName" placeholder="{{ConditionLanguage.followUpName}} " style="width:100%;" readonly>
                    </div>
                </div>
                  <div class="col-sm-4" ng-if="hideFollowUp">
                    <div class="form-group">
                        <label for="" class="">{{ConditionLanguage.followUpDate}} </label>
                        <input type="text" class="form-control" id="name" data-ng-model="followUpDate" placeholder="{{ConditionLanguage.followUpDate}}" style="width:100%;" readonly>
                    </div>
                </div>
                   <div class="col-sm-4" ng-if="hideReason">
                    <div class="form-group">
                        <label for="">{{ConditionLanguage.reasonForCancelling}} </label>
                        <input type="text" class="form-control" id="reason" data-ng-model="reasonForCancelName" placeholder="{{ConditionLanguage.reasonForCancelling}}" style="width:100%;" readonly>
                    </div>
                </div>
            </div>
            
<!--
            <div class="row" style="margin:0px;" ng-if="hideFollowUp">
                <div class="col-sm-9"></div>
                <div class="col-sm-5" style="text-align:center;">
                    <div class="form-group">
                        <label for="" class="" style="font-weight:600;margin-top:4px;">{{ConditionLanguage.followUpName}} </label>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" data-ng-model="followUpName" placeholder="{{ConditionLanguage.followUpName}} " style="width:110%;" readonly>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
-->

<!--
            <div class="row" style="margin:0px;" ng-if="hideFollowUp">
                <div class="col-sm-9"></div>
                <div class="col-sm-5" style="text-align:center;">
                    <div class="form-group">
                        <label for="" class="" style="font-weight:600;margin-top:4px;">{{ConditionLanguage.followUpDate}} </label>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" data-ng-model="followUpDate" placeholder="{{ConditionLanguage.followUpDate}}" style="width:110%;" readonly>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
-->

<!--
            <div class="row" style="margin:0px;" ng-if="hideReason">
                <div class="col-sm-9"></div>
                <div class="col-sm-5" style="text-align:center;">
                    <div class="form-group">
                        <label for="" class="" style="font-weight:600;margin-top:4px;">{{ConditionLanguage.reasonForCancelling}} </label>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <input type="text" class="form-control" id="reason" data-ng-model="reasonForCancelName" placeholder="{{ConditionLanguage.reasonForCancelling}}" style="width:110%;" readonly>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
-->

            <table class="table" ng-if="hideDiagnosis" align="center">
                <thead>
                    <tr id="rowClick">
                        <th style="width: 50%;padding-left:4.2%;">{{ConditionLanguage.diagnosis | uppercase}}</th>
                        <th>{{ConditionLanguage.value | uppercase}}</th>
                </thead>
                <tbody id="bnbody">
                    <tr dir-paginate="diagnosis in diagnosisArray | itemsPerPage:25">
                        <td style="width:205px;padding-left:4.2%;">
                            {{diagnosis.name}}
                        </td>
                        <td style="width:200px;">
                            {{diagnosis.value}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <br>

    <div class="form-group">
        <div align="center">
            <div align="right">
                <a data-ng-click="" data-dismiss="modal" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">{{ConditionLanguage.cancel}} </a>
                
                <a data-ng-click="Save()" data-dismiss="modal" class="btn btn-info btn-sm " role="button" style="border-color:#db4242;padding:5px 20px;font-weight:bold;margin-right:30px;">{{ConditionLanguage.yes}} </a>&nbsp;
            </div>
        </div>
    </div>
    <br>

    <style>
        div.scroll {
            width: 100%;
            height: 100px;
            overflow: scroll;
        }
        
        .toggle.android {
            border-radius: 0px;
        }
        
        .toggle.android .toggle-handle {
            border-radius: 0px;
        }
        
        #mapCanvas {
            width: 500px;
            height: 400px;
            float: left;
        }
        
        #infoPanel {
            margin-left: 100px;
        }
        
        #infoPanel div {
            margin-bottom: 5px;
        }
        
        .table-striped>tbody>tr:nth-of-type(odd) {
            background-color: #fff;
        }
        
        .table-striped>tbody>tr:nth-child(even)>td,
        .table-striped>tbody>tr:nth-child(odd)>th {
            background-color: #fff;
        }

    </style>
</shgmeetingmodal>

<checklistmodal visible="checkListModal">
    <div class="modal-header" style="color:#ffffff;padding:0px;background:#004891;">
        <!--        <div class="pull-right" style='padding:15px;'></div>-->
        <h4 class="stylelink active modal-title" style="color:#fff;background:#004891;">{{ConditionLanguage.checkList}} </h4>
    </div>
    <div class="padding2" style="width:100%; height:auto; min-height:265px;  border: 1px solid #ffffff;" id="savemodals">
        <br>
        <form style="">
            <table class="table">
                <!--
                <thead>
                    <tr>
                        <th style="width:55px;">{{ConditionLanguage.srNo}}</th>
                        <th style="width:165px;">{{ConditionLanguage.checkList}}</th>
                        <th style="width:85px;">{{ConditionLanguage.status}}</th>
                    </tr>
                </thead>
-->

                <tbody>
                    <!--
                    <tr dir-paginate="check in checklists |itemsPerPage:pageSize">
                        <td>
                            <input type="checkbox" value="{{check.id}}" ng-model="check.statusFlag" type="radio" name="name" required="required" ng-disabled="disableCheck" />
                        </td>
                        <td>{{ check.name }}</td>
                    </tr>
-->
                    <tr dir-paginate="check in checklists |itemsPerPage:pageSize">
                        <!-- <td>{{ check.index }}</td>-->
                        <td>
                            <label class="customcheck">
                                <input type="checkbox" value="{{check.id}}" ng-model="check.statusFlag" type="radio" name="name" required="required" ng-disabled="disableCheck" checked="checked" />
                                <span class="checkmark"></span>
                            </label>
                        </td>
                        <td style="padding-left:20px;">{{ check.name }}</td>

                    </tr>
                </tbody>
            </table>
            <br>
            <div class="form-group">
                <div align="right">
                    <a data-ng-click="cancelCheckList()" data-dismiss="modal" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">{{ConditionLanguage.cancel}} </a>

                    <a data-ng-click="saveChecklist()" class="btn btn-info btn-sm " role="button" style="padding:5px 20px;margin-right:20px;">{{ConditionLanguage.saveLabel}} </a>&nbsp;
                </div>
            </div>
        </form>
    </div>

    <style>
        div.scroll {
            width: 100%;
            height: 100px;
            overflow: scroll;
        }
        
        .toggle.android {
            border-radius: 0px;
        }
        
        .toggle.android .toggle-handle {
            border-radius: 0px;
        }
        
        #mapCanvas {
            width: 500px;
            height: 400px;
            float: left;
        }
        
        #infoPanel {
            margin-left: 100px;
        }
        
        #infoPanel div {
            margin-bottom: 5px;
        }

    </style>
</checklistmodal>
