<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 30px 10px 15px 0px;;
        /*        border-bottom: 4px solid #e72e5a;*/
    }

    .tht:hover {
        color: blue;
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
    }

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 10px 20px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 10px 20px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        .space {
            padding: 5px 0px 5px 0px;
        }
    }

</style>

<style>
    th {
        cursor: pointer;
    }

        {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    .selectdiv {
        position: relative;
        float: right;
        min-width: 100%;
    }

    .selectdiv:after {
        content: '>';
        font: 17px "Consolas", monospace;
        color: #333;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        /*        margin-left: -15px;*/
        margin-top: -2px;
        padding: 0 0 2px;
        position: absolute;
        pointer-events: none;
    }

    .selectdiv select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        height: 32px;
        float: left;
        padding: 0px 7px;
        font-size: 14px;
        line-height: 1.75;
        color: #878993;
        border-radius: 4px;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #cccccc;
        -ms-word-break: normal;
        word-break: normal;
    }

    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-xs-1,
    .col-xs-10,
    .col-xs-11,
    .col-xs-12,
    .col-xs-2,
    .col-xs-3,
    .col-xs-4,
    .col-xs-5,
    .col-xs-6,
    .col-xs-7,
    .col-xs-8,
    .col-xs-9 {
        position: relative;
        min-height: 1px;
        padding-right: 0px;
        /*        padding-left: 15px;*/
    }

    /*
    .table-responsive {
        margin-left: -10px;
        margin-right: -10px;
    }
*/

   .sell {
        position: relative;
        min-width: 45px;
    }
    
    .sell:after {
        content: url(images/piclinks/down-arrow.png) ;
        font: 17px "Consolas", monospace;
        color: #333;
        top: 9px;
        margin-left: -22px;
        padding: 0 0 2px;
        position: absolute;
        pointer-events: none;
    }
    
    .sell select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        /*        max-width: 320px;*/
        height: 32px;
        float: left;
        padding: 0px 7px;
        font-size: 14px;
        line-height: 1.75;
        color: #878993;
        border-radius: 4px;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #d5d7df;
        -ms-word-break: normal;
        word-break: normal;
    }d-break: normal;
    }

    .smright2txt {
        text-align: right;
        padding-top: 2.em;
        padding-right: 16%;
        min-width: 131px;
    }
    .ptop{
        padding-top: 2.1em;
    }
</style>
<!--
<script>
table th.active {color: blue;}
$(document).ready(function(){
    $("#rowClick > th").click(function(){
        $(this).toggleClass("active");
    });
});
</script>
-->
<!--
<script type="text/javascript">
    var sortingOrder = 'name';
</script>
-->

<!-- Horizontal Form -->
<!--<br/>-->
<div class="box box-info" style="min-height:450px;border-top:none;" data-ng-init="toggleLoading()">
    <div id="wrapper">
        <div class="stylelink active box-header with-border" style="">
            <h3 class="box-title" style="font-weight:600;">{{ConditionLanguage.conditionsList}}</h3>
        </div>
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <br/>

        <div data-ng-hide="hideSearchFilter()">

            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-5">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="maritalstatus" class="" style="font-weight:600;margin-top:4px;color:#262d57;">{{ConditionLanguage.condition}} </label>
                            <div class="">
                                <select ui-select2 id="maritalstatus" data-ng-model="condition" data-placeholder="{{ConditionLanguage.selectCondition}}" style="width:100%">
                            <option value="">Select Screen and Treat</option>
                            <option ng-repeat="condition in conditionsdsply" ng-if="UserLanguage==1" value="{{condition.id}}">{{condition.name}}</option>
                            <option ng-repeat="condition in conditionsdsply" ng-if="UserLanguage!=1" value="{{condition.parentId}}">{{condition.name}}</option>
                        </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="maritalstatus" class="" style="font-weight:600;margin-top:4px;color:#262d57;">{{ConditionLanguage.step}} </label>
                            <div class="">
                                <select ui-select2 id="maritalstatus" data-ng-model="stepId" data-placeholder="{{ConditionLanguage.selectStep}}" style="width:100%">
                            <option value="">Select Step</option>
                            <option ng-repeat="step in conditionsteps" ng-if="UserLanguage==1" value="{{step.id}}">{{step.name}}</option>
                            <option ng-repeat="step in conditionsteps" ng-if="UserLanguage!=1" value="{{step.parentId}}">{{step.name}}</option>
                        </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="maritalstatus" class="" style="font-weight:600;margin-top:4px;color:#262d57;">{{ConditionLanguage.status}} </label>
                            <div class="">
                                <select ui-select2 id="maritalstatus" data-ng-model="statusId" data-placeholder="{{ConditionLanguage.selectStatus}}" style="width:100%">
                            <option value="">Select Status</option>
                            <option ng-repeat="status in conditionstatuses" ng-if="UserLanguage==1" value="{{status.id}}"  ng-disabled="status.id == 1 || status.id == 2">{{status.name}}</option>
                            <option ng-repeat="status in conditionstatuses" ng-if="UserLanguage!=1" value="{{status.parentId}}" ng-disabled="status.parentId == 1 || status.parentId == 2">{{status.name}}</option>
                        </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-7">
                                        <div class="col-sm-1" style=""></div>
                    <div data-ng-hide="hideSearchFilter()" class="col-sm-1 col-md-1" style="text-align:left;padding-left:0px;padding-right:0px;font-weight:600">
                        <label>{{ConditionLanguage.show}}</label>
                        <div class="sell">
                            <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)" style="margin-top:4px;">
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                        </div>
                        <!--					<span>Entries</span>-->
                    </div>
                    <div data-ng-hide="hideSearchFilter()" class="col-sm-5 col-md-5 ptop " style="padding-right:0px;">
                        <div class="space">
                            <div class="input-group">
                                <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-left-radius:4px;border-bottom-left-radius: 4px;border-color:#d5d7df;background:none;border-right:none;">
                         <span class="glyphicon glyphicon-search"></span>
                                </button>
                                </span>
                                <input type="text" id="Search" class="form-control ng-pristine ng-valid" placeholder="{{ConditionLanguage.search}}" style="z-index:0;border-left:none;border-color:#d5d7df;border-top-right-radius:4px;border-bottom-right-radius: 4px;" data-ng-model="searchInput" focus="someFocusVariable">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2 col-md-2 smright2txt" style="padding-top:2em;">
                        <a data-ng-href="" class="btn btn-success btn-sm " role="button" ng-click="exportData()" style="padding:5px 20px;margin-right:10px;color:#ffffff;">
                            <img src="images/export-icon.png"/>&nbsp;&nbsp;{{ConditionLanguage.exportData}}</a>
                    </div>

                    <div class="col-sm-2 col-md-2 smright2txt " style="padding-top:2em;">
                        <a data-ng-href="/screentreat/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-right:10px;">{{ConditionLanguage.addNew}} </a>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div data-ng-hide="showForm()" class="table-responsive">
            <table class="table">
                <thead>
                    <tr id="rowClick">
                        <th title="#" ng-click="changeSorting('index')" style="padding-left:30px;">S NO.&nbsp;
                            <i class="fa fa-sort-desc" ng-class="getIcon('index')"></i>
                        </th>
                        <th title="{{ConditionLanguage.memberName}}" ng-click="changeSorting('memberId')" style="width:140px;">{{ConditionLanguage.memberName | uppercase}}&nbsp;
                            <i class="fa fa-sort-desc" ng-class="getIcon('memberId')"></i>
                        </th>
                        <th title="{{ConditionLanguage.headOfTheHousehold}}" ng-click="changeSorting('headOfHouseholdId')">{{ConditionLanguage.headOfTheHousehold | uppercase}}&nbsp;
                            <i class="fa fa-sort-desc" ng-class="getIcon('headOfHouseholdId')"></i>
                        </th>
                        <th title="{{ConditionLanguage.individualId}}" ng-click="changeSorting('individualId')">{{ConditionLanguage.individualId | uppercase}}&nbsp;
                            <i class="fa fa-sort-desc" ng-class="getIcon('individualId')"></i>
                        </th>
                        <th title="{{ConditionLanguage.condition}}" ng-click="changeSorting('condition')">{{ConditionLanguage.condition | uppercase}}&nbsp;
                            <i class="fa fa-sort-desc" ng-class="getIcon('condition')"></i>
                        </th>
                        <th title="{{ConditionLanguage.step}}" ng-click="changeSorting('step')">{{ConditionLanguage.step | uppercase}}&nbsp;
                            <i class="fa fa-sort-desc" ng-class="getIcon('status')"></i>
                        </th>
                        <th title="{{ConditionLanguage.status}}" ng-click="changeSorting('ssgThisHHBelongs')">{{ConditionLanguage.status | uppercase}}&nbsp;
                            <i class="fa fa-sort-desc" ng-class="getIcon('status')"></i>
                        </th>
                        <th title="{{ConditionLanguage.nextFollowUpDate}}" ng-click="changeSorting('followupdate')">{{ConditionLanguage.nextFollowUpDate | uppercase}}&nbsp;
                            <i class="fa fa-sort-desc" ng-class="getIcon('followupdate')"></i>
                        </th>
                        <th title="{{ConditionLanguage.action}}">{{ConditionLanguage.action | uppercase}}</th>
                    </tr>
                </thead>
                <tbody id="bnbody">
                    <tr dir-paginate="conditionheader in ConditionList | search:searchInput:filterFields | orderBy:sort.active:sort.descending | itemsPerPage:pageSize" pagination-id="zonesid">
                        <td style="padding-left:30px;">{{ conditionheader.index }}</td>
                        <td>{{ conditionheader.membername }}</td>
                        <td>{{ conditionheader.householdname }}</td>
                        <td>{{ conditionheader.individualId }}</td>
                        <td>{{ conditionheader.conditionname }}</td>
                        <td>{{ conditionheader.conditionstepname }}</td>
                        <td>{{ conditionheader.conditionstatusname }}</td>
                        <td>{{ conditionheader.followupdate | date:'dd-MMM-yyyy'}}</td>
                        <td>
                            &nbsp;&nbsp;
                            <a data-ng-href="/screentreat/edit/{{conditionheader.id}}">
                                <!--                                <span class="glyphicon glyphicon-pencil" title="{{ConditionLanguage.edit}}" style="color:#333;"></span>-->
                                <img src="images/edit.png" title="{{ConditionLanguage.edit}}" style="width:16px" >
                            </a>&nbsp;&nbsp;
                            <!--
                            <a style="color:#b7b8c8">|</a>&nbsp;&nbsp;
                            <a confirm-button="Delete(condition.id)" message="{{ConditionLanguage.areYouSure}}"><span class="glyphicon glyphicon-remove" style=";cursor:pointer;" title="{{ConditionLanguage.delete}}"></span></a>&nbsp;
-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="padding4" align="right">
            <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" pagination-id="zonesid" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
            </dir-pagination-controls>
        </div>
        <div ng-show="!ConditionList.length" style="margin:0 auto;text-align:center;padding-top: 5%;">
            <span style="font-size:18px;font-weight:bold;font-family:Georgia, Serif;">{{ConditionLanguage.pleaseSelectanOptions}}</span>
            <!--			<p class="lead text-muted">Please select an options</p>-->
        </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->
<script type="text/ng-template" id="template/option.html">
    <style>
        p {
            white-space: pre;
        }

    </style>
    <div class="modal-header" style="padding:0px;color:#ffffff;">
        <div class="pull-right" style="padding:15px;">
            <a data-ng-click="OK()" data-dismiss="modal" class="btn btn-success btn-sm " role="button" style="background:#db4242;border-color:#db4242;padding:5px 20px;font-weight:bold;">{{okbutton}}</a>&nbsp;&nbsp;
            <a data-ng-click="Cancelmodal()" data-dismiss="modal" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;font-weight:bold;">{{printcancel}}</a>
        </div>
        <div class=" stylelink active box-header with-border">
            <h4 class="modal-title" style="font-weight:600;">{{modalTitle}}</h4>
        </div>
    </div>
    <div style="width:100%; height:auto; min-height:200px;  border: 1px solid #ffffff;padding:5px;" id="savemodals">
        <br/>
        <form class="form-horizontal" role="form">
            <br>

            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6" align="center" style="padding:right">
                    <div class="form-group" style="margin:0">
                        <input class="col-sm-2" name="reasonforarchive" value="Unable_to_contact_over_the_last_6_months" type="radio" ng-model="beneficiary.reasonforarchive">
                        <label class="col-sm-8" for="code" style="font-weight:600;padding-left:0px;text-align:left;">Unable to contact over the last 6 months</label>
                    </div>


                    <div class="form-group" style="margin:0">
                        <input class="col-sm-2" name="reasonforarchive" value="Has_Died" type="radio" ng-model="beneficiary.reasonforarchive">
                        <label class="col-sm-8" for="code" style="font-weight:600;padding-left:0px;text-align:left;">Has Died</label>
                    </div>

                    <div class="form-group" style="margin:0">
                        <input class="col-sm-2" name="reasonforarchive" value="Duplicate_Member" type="radio" ng-model="beneficiary.reasonforarchive">
                        <label class="col-sm-8" for="code" style="font-weight:600;padding-left:0px;text-align:left;">Duplicate Member</label>
                    </div>

                    <div class="form-group" style="margin:0">
                        <input class="col-sm-2" name="reasonforarchive" value="Reason_Unknown" type="radio" ng-model="beneficiary.reasonforarchive">
                        <label class="col-sm-8" for="code" style="font-weight:600;padding-left:0px;text-align:left;">Reason Unknown</label>
                    </div>


                </div>

            </div>

        </form>

    </div>
</script>

<script type="text/ng-template" id="template/AlertModal.html">
    <style>
        p {
            white-space: pre;
        }

    </style>
    <div class="modal-header" style="background:#e85a5a;padding-bottom:22px;color:#ffffff;">
        <div class="pull-right">
            <a data-ng-click="okAlert()" data-dismiss="modal" class="btn btn-success btn-sm " role="button" style="background:#db4242;border-color:#db4242;padding:5px 20px;font-weight:bold;">{{okbutton}}</a>
        </div>
        <h4 class="modal-title">Alert</h4>
    </div>

    <div class="modal-body">

        Choose an Option
    </div>

    <!--<div class="modal-footer">
		<div align="left">
			<button type="button" class="btn btn-success btn-sm " ng-click="okAlert()">Ok</button>
		</div>
	</div>-->
</script>

<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>
