<style>
 .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #e72e5a;
    }   
     #wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #e6e6e6;
}
</style>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-color:#b71c1c;" data-ng-init="toggleLoading()">
    <div id="wrapper">
	<div class="stylelink active box-header with-border">
		<h3 class="box-title" style="font-weight:600;">{{comanagerhdfprofileheader}}</h3>
	</div>
        </div>
	<!-- /.box-header -->
	<!-- form start -->

	<div class="box-body">
		<div class="nav-tabs-custom">
			<ul class="nav nav-tabs">
				<li class="active" style="cursor:pointer;"><a data-target="#tab_1" data-toggle="tab">{{divbasicinfo}}</a></li>
				<li style="cursor:pointer;"><a data-target="#tab_2" data-toggle="tab">{{divuserinfo}}</a></li>
				<!--ng-hide="tabtwohide"-->
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="tab_1">
					<br/>
					<form class="form-horizontal" role="form">
						<br/>
						<div class="row" style="margin:0;padding:0;">
							<div class="col-sm-6">

								<div class="form-group">
									<label for="city" class="col-sm-4" style="margin-top: 7px;">{{name}} <span style="color:red">*</span></label>
									<div class="col-sm-6">
										<input type="text" class="form-control" id="first-name" ng-model="partner.name" placeholder="{{name}}">
									</div>
								</div>

							</div>

							<div class="col-sm-6">
								<div class="form-group">
									<label for="city" class="col-sm-4" style="margin-top: 7px;">{{printmobile}} <span style="color:red">*</span></label>
									<div class="col-sm-6">
										<input type="text" class="form-control" id="first-name" ng-model="partner.helpline" placeholder="{{printmobile}}" maxlength="10" numbers-only="true">
									</div>
								</div>

							</div>

							<!--<div class="col-sm-6">
					<div class="form-group">
						<label for="helplineno" class="col-sm-4" style="margin-top: 7px;">{{printmobile}} <span style="color:red">*</span></label>
						<div class="col-sm-6">
							<div class="input-group">
								<input type="text" class="form-control" id="helplineno" data-ng-model="partner.helpline" placeholder="{{printmobile}}" maxlength="10" numbers-only="true">
								<span class="input-group-btn">
                                            <button class="btn btn-default" type="button" ng-click="AnotherHelpline()" autocomplete="off"><span class="glyphicon glyphicon-plus"></span>
								</button>
								</span>
							</div>

						</div>
					</div>
				</div>

				<data-ng-switch on="anotherhelplinenumber">
					<div data-ng-switch-when="1">
						<div class="form-group">
							<label for="route" class="col-sm-4" style="margin-top: 7px;">{{anotherhelplineno}}<span style="color:red">*</span></label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="helplineno" data-ng-model="partner.helplineone" placeholder="{{anotherhelplineno}}" maxlength="10" numbers-only="true">
							</div>
						</div>
					</div>
					<div data-ng-switch-when="2">
						<div class="form-group">
							<label for="route" class="col-sm-4" style="margin-top: 7px;">{{anotherhelplineno}} <span style="color:red">*</span></label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="helplineno" data-ng-model="partner.helplineone" placeholder="{{anotherhelplineno}}" maxlength="10" numbers-only="true">
							</div>
						</div>

						<div class="form-group">
							<label for="route" class="col-sm-4" style="margin-top: 7px;">{{anotherhelplineno}} <span style="color:red">*</span></label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="helplineno" data-ng-model="partner.helplinetwo" placeholder="{{anotherhelplineno}}" maxlength="10" numbers-only="true">
							</div>
						</div>
					</div>
					<div data-ng-switch-when="3">
						<div class="form-group">
							<label for="route" class="col-sm-4" style="margin-top: 7px;">{{anotherhelplineno}} <span style="color:red">*</span></label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="helplineno" data-ng-model="partner.helplineone" placeholder="{{anotherhelplineno}}" maxlength="10" numbers-only="true">
							</div>
						</div>

						<div class="form-group">
							<label for="route" class="col-sm-4" style="margin-top: 7px;">{{anotherhelplineno}} <span style="color:red">*</span></label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="helplineno" data-ng-model="partner.helplinetwo" placeholder="{{anotherhelplineno}}" maxlength="10" numbers-only="true">
							</div>
						</div>

						<div class="form-group">
							<label for="route" class="col-sm-4" style="margin-top: 7px;">{{anotherhelplineno}} <span style="color:red">*</span></label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="helplineno" data-ng-model="partner.helplinethree" placeholder="{{anotherhelplineno}}" maxlength="10" numbers-only="true">
							</div>
						</div>
					</div>
				</data-ng-switch>
			</div>-->
						</div>

						<div class="row" style="margin:0;padding:0;">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="route" class="col-sm-4" style="margin-top: 7px;">{{address}} <span style="color:red">*</span></label>
									<div class="col-sm-6">
										<textarea type="text" class="form-control" id="address" data-ng-model="partner.address" placeholder="{{address}}" rows="3"></textarea>
									</div>
								</div>
							</div>

							<div class="col-sm-6">
								<div class="form-group">
									<label for="helplineno" class="col-sm-4" style="margin-top: 7px;">{{latlong}} <span style="color:red">*</span></label>
									<div class="col-sm-6">
										<div class="input-group">
											<input type="text" class="form-control" id="latlong" data-ng-model="partner.latitude" placeholder="{{latlong}}">
											<span class="input-group-btn">
                                            <button class="btn btn-default" type="button" ng-click="toggleMapModal()" autocomplete="off"><span class="glyphicon glyphicon-search"></span>
											</button>
											</span>
										</div>
									</div>
								</div>
							</div>

							<div class="col-sm-6">
								<div class="form-group">
									<label for="zone" class="col-sm-4" style="margin-top: 3px;">{{state}} <span style="color:red">*</span></label>
									<div class="col-sm-6">
										<select ui-select2 ng-model="partner.state" data-placeholder="Pick a State" style="width:100%;" ng-disabled="stateDisable">
											<!--ng-Change="PillarChanged(partner.state)"-->
											<option value=""></option>
											<option data-ng-repeat="zone in zones" value="{{zone.id}}">{{ zone.name }}</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="sales-area" class="col-sm-4" style="margin-top: 3px;">{{district}} <span style="color:red">*</span></label>
									<div class="col-sm-6">
										<select ui-select2 id="sales-area" ng-model="partner.district" data-placeholder="Pick a District" style="width:100%;" ng-disabled="districDisable">
											<option value=""></option>
											<option data-ng-repeat="salesArea in salesAreas" value="{{salesArea.id}}">{{ salesArea.name }}</option>
										</select>

									</div>
								</div>
							</div>
						</div>

						<br/>
						<br/>
						<br/>



						<div>
							<div align="left">
								<a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView" ng-disabled="createDisabled" style="padding:5px 20px;">{{update}} </a>&nbsp;

								<a data-ng-href="/" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">{{cancel}}</a>

							</div>
						</div>


					</form>
				</div>




				<div class="tab-pane" id="tab_2">
					<br/>
					<form class="form-horizontal" role="form">

						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="first-name" class="col-sm-4" style="font-weight:600;margin-top:8px;">{{username}} <span style="color:red">*</span>
									</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" id="firstname" data-ng-model="user.username" placeholder="{{username}}" readonly>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;">{{password}} <span style="color:red">*</span>
									</label>
									<div class="col-sm-6">
										<input type="password" class="form-control" id="lastname" data-ng-model="usr.password" placeholder="{{password}}">
									</div>
								</div>
							</div>
						</div>
						<br/>
						<br/>
						<br/>

						<div>
							<div align="left">
								<a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView" ng-disabled="createDisabled">{{update}} </a>

								<a data-ng-href="/" class="btn btn-danger btn-sm " role="button">{{cancel}}</a>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
		<!-- /.box-body -->
		<div class="box-footer">

		</div>
		<!-- /.box-footer -->
	</div>
	<!-- /.box -->




	<script type="text/ng-template" id="template/latlong.html">
		<div class="modal-body">
			<form class="form-horizontal" role="form">
				<div id='map' style="display:block;height:550px" />

				<div align="center">
					<button type="submit" class="btn btn-info btn-sm " ng-click="okFs()">Cancel</button>
				</div>
			</form>
		</div>
	</script>

	<modal1 title="Get Location" visible="showMapModal">
		<div style="width:100%; height:auto; min-height:500px;  border: 1px solid #E6E6E6; margin: 5px auto; padding:5px;" id="mapmodals">
			<br/>

			<form class="form-horizontal" role="form">
				<div class="row" style="margin-left:20px;">

					<div id="mapCanvas"></div>
					<div id="infoPanel">
						<b>Marker status:</b>
						<div id="markerStatus"><i>Click and drag the marker.</i>
						</div>
						<b>Current position:</b>
						<div id="info"></div>
						<b>Closest matching address:</b>
						<div id="mapaddress"></div>
					</div>

				</div>

				<br />
				<br />

				<div class="form-group">
					<div class="col-sm-10 col-md-offset-1" align="center">
						<div class="col-sm-6 col-md-offset-3" align="center">
							<a class="btn btn-success btn-sm" type="submit" role="button" data-ng-click="SaveMap()"><span class="glyphicon glyphicon-ok"></span> Save </a>


							<a data-ng-href="" class="btn btn-info btn-sm" role="button" data-ng-click="CancelMap()"><span class="glyphicon glyphicon-remove"></span> Cancel</a>
						</div>
					</div>
				</div>
			</form>


		</div>


		<style>
			.toggle.android {
				border-radius: 0px;
			}
			
			.toggle.android .toggle-handle {
				border-radius: 0px;
			}
			
			#mapCanvas {
				width: 500px;
				height: 400px;
				float: left;
			}
			
			#infoPanel {
				margin-left: 100px;
			}
			
			#infoPanel div {
				margin-bottom: 5px;
			}

		</style>

	</modal1>
