<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #e72e5a;
    }
    
    .tht:hover {
        color: blue;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
    }
</style>

<style>
    th {
        cursor: pointer;
    }
    
    {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }
        @media screen and (max-width: 480px) {
        
         
          .space
        {
            padding: 5px 0px 5px 0px;
        }
    }
</style>
<!--
<script>
table th.active {color: blue;}
$(document).ready(function(){
    $("#rowClick > th").click(function(){
        $(this).toggleClass("active");
    });
});
</script>
-->
<!--
<script type="text/javascript">
    var sortingOrder = 'name';
</script>
-->

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div id="wrapper">
        <div class="stylelink active box-header with-border" style="padding:20px 10px;">
            <h3 class="box-title" style="font-weight:600;">{{SHGLanguage.shgList}}</h3>
        </div>
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <!--
        <div align="left">
            <a data-ng-href="/members/create" class="btn btn-primary btn-sm " role="button">{{addnew}} </a>
        </div>
-->
        <br/>

        <div data-ng-hide="hideSearchFilter()">

            <div class="row" style="margin:0;padding:0;">

                <div class="col-sm-3"></div>
          
                <div data-ng-hide="hideSearchFilter()" class="col-sm-2" style="text-align:right;padding-right:0px;border-color:#e1e8ee">
                    <span>{{SHGLanguage.show}}</span>
                    <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <!--					<span>Entries</span>-->
                </div>

                <div data-ng-hide="hideSearchFilter()" class="col-sm-3" style="padding-right:0px;">
                        <div class="space">
                    <div class="input-group">
                        <input type="text" id="Search" class="form-control ng-pristine ng-valid" placeholder="Search" style="z-index:0;border-right:none;border-color:#e1e8ee;border-top-left-radius:4px;border-bottom-left-radius: 4px;" data-ng-model="searchPart" focus="someFocusVariable">
                        <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-right-radius:4px;border-bottom-right-radius: 4px;border-color:#e1e8ee;background:none;border-left:none;"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                    </div></div>
               

            </div>
        </div>
        <br />
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>GroupId</th>
                        <th>GroupName</th>
                        <th>Mem'sInGrp</th>
                        <th>HHId</th>
                        <th>IndividualId</th>
                        <th>Mem Name</th>
                        <th>Mem Id</th>
                        <th>SHG Id</th>
                    </tr>
                </thead>
                <tbody>
                    <!--TotalData -->
                    <!-- <tr dir-paginate="surveyquestion in TotalData  = ( surveyquestions | filter:searchUser ) |itemsPerPage:pageSize" current-page="currentPage" pagination-id="surId">-->
                    <tr dir-paginate="mem in mismatchedMember | filter:searchPart|itemsPerPage:pageSize"  pagination-id="surId">
                        <!--pagination-id="surId"-->
                        <td>{{ $index+1 }}</td>
                        <td>{{ mem.GroupId }}</td>
                        <td>{{ mem.GroupName }}</td>
                        <td>{{ mem.MembersInGroup }}</td>
                        <td>{{ mem.HHId }}</td>
                        <td>{{ mem.IndividualId }}</td>
                        <td>{{ mem.MemberName }}</td>
                        <td>{{ mem.MemberId }}</td>
                        <td>{{ mem.SHGId }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div align="right">
            <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" pagination-id="surId">
            </dir-pagination-controls>
        </div>
        <div ng-show="!mismatchedMember.length" style="margin:0 auto;text-align:center;padding-top: 5%;">
            <span style="font-size:18px;font-weight:bold;font-family:Georgia, Serif;">Please select an options</span>
            <!--			<p class="lead text-muted">Please select an options</p>-->
        </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->

<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>