<style>
	/*
	.stylelink {
		padding: 3px 10px;
		background: transparent;
		color: #333;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}
	
	.stylelink.active {
		padding: 3px 10px;
		background: #b71c1c;
		color: #fff;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		font-weight: 600;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}
	*/
	
	.stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #e72e5a;
    }
	
	.sub_menu {
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
		padding: 10px 10px;
		border-bottom: 2px solid transparent;
		color: #333;
	}
	
	.sub_menu.active {
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
		padding: 10px 10px;
		color: #000;
		font-weight: bold;
		border-bottom: 2px solid #01adfb;
	}
	
	#wrapper {
		display: table;
		table-layout: fixed;
		width: 100%;
		height: auto;
         border-bottom: 1px solid #e6e6e6;
		/*		background-color: #fff;*/
	}
	
	#wrapper div {
		display: table-cell;
		height: auto;
	}
	/*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/
	
	@media screen and (max-width: 480px) {
		.stylelink {
			font-size: 12px;
		}
		.stylelink.active {
			font-size: 12px;
		}
		.sub_menu {
			font-size: 10px;
		}
		.sub_menu.active {
			font-size: 10px;
		}
	}

</style>


<!--<div style="width:100%;height:auto;background:#e85a5a;">
	<div id="wrapper">
		<div style="text-align:center;">
			<a class="stylelink active" href="/employees"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">FACILITY</span></a>
		</div>
		<div style="text-align:center;">
			<a class="stylelink" href="/mentor"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">OTHER ROLES</span></a>
		</div>
		<div style="text-align:center;">
			<a class="stylelink" href="/roles"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">ROLES</span></a>
		</div>
		<div style="text-align:center;">
			<a class="stylelink" href="/users"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">USERS</span></a>
		</div>
		<div style="text-align:center;">
			<a class="stylelink" href="/mentorassign"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">FACILITY ASSIGN</span></a>
		</div>
	</div>

</div>-->


<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-TOP:none;">
	<div class="stylelink active box-header with-border" >
		<h3 class="box-title" style="font-weight:600;">Facility</h3>
	</div>
	<!-- /.box-header -->
	<!-- form start -->
	<p align="center" style="color:red">All fields in red are mandatory</p>
	<br/>
	<div class="nav-tabs-custom">
		<ul class="nav nav-tabs" >
			<li class="active" style="cursor:pointer;"><a data-target="#tab_1" data-toggle="tab">BASIC</a></li>
			<li style="cursor:pointer;"><a data-target="#tab_2" data-toggle="tab">NON STATUTORY</a></li>
			<li style="cursor:pointer;"><a data-target="#tab_3" data-toggle="tab">STATUTORY</a></li>
			<!--ng-hide="tabtwohide"-->
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="tab_1">
				<div class="box-body">
					<br />
					<form class="form-horizontal" role="form">
						<div class="row" style="margin:0;padding:0;">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="sales-code" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red">Facility Code </label>
									<div class="col-sm-6">
										<input type="text" class="form-control" id="salesCode" data-ng-model="employee.salesCode" placeholder="Facility Code" ng-disabled="fwcodedisable">
									</div>
								</div>

								<div class="form-group">
									<label for="first-name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red">First Name </label>
									<div class="col-sm-6">
										<input type="text" class="form-control" id="firstName" data-ng-model="employee.firstName" placeholder="First Name">
									</div>
								</div>

								<div class="form-group">
									<label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:7px;">Last Name</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" id="last-name" data-ng-model="employee.lastName" placeholder="Last Name">
									</div>
								</div>

								<div class="form-group">
									<label for="email" class="col-sm-4" style="font-weight:600;margin-top:7px;">Email</label>
									<div class="col-sm-6">
										<input type="email" class="form-control" id="email" data-ng-model="employee.email" placeholder="Email">
									</div>
								</div>


								<div class="form-group">
									<label for="city" class="col-sm-4" style="font-size:12px;color:red">State </label>
									<div class="col-sm-6">
										<select  ui-select2 id="stateId" ng-model="employee.stateId" data-placeholder="Pick a State" style="width:100%;" ng-disabled="fwstatedisable">
											<option value=""></option>
											<option data-ng-repeat="state in states" value="{{state.id}}">{{ state.name }}</option>
										</select>
									</div>
								</div>
							</div>

							<div class="col-sm-6">
								<div class="form-group">
									<label for="address" class="col-sm-4" style="font-weight:600;margin-top:7px;">Address</label>
									<div class="col-sm-6">
										<textarea class="form-control" id="address" data-ng-model="employee.address" placeholder="Address" rows="3"></textarea>
									</div>
								</div>


								<div class="form-group">
									<label for="zip" class="col-sm-4" style="font-weight:600;margin-top:7px;">Pin code</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" id="zip" data-ng-model="employee.zip" placeholder="Pin code" maxlength="6">
									</div>
								</div>

								<div class="form-group">
									<label for="mobile" class="col-sm-4" style="font-weight:600;margin-top:7px;">Mobile (+91)</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" id="mobile" data-ng-model="employee.mobile" placeholder="Mobile number" maxlength="10">
									</div>
								</div>



								<div class="form-group">
									<label for="city" class="col-sm-4" style="font-size:12px;color:red">District </label>
									<div class="col-sm-6">
										<select ui-select2 id="district" ng-model="employee.district" data-placeholder="Pick a District" style="width:100%;">
											<option value=""></option>
											<option data-ng-repeat="district in districts" value="{{district.id}}">{{ district.name }}</option>
										</select>
									</div>
								</div>

							</div>
						</div>
						<br/>
						<br/>
						<br/>

						<div align="left">
							<div>
								<!--<a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-hide="Created" style="padding:5px 20px;margin-right:10px;">Create </a>

								<a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="Updated" style="padding:5px 20px;margin-right:10px;">Update </a>-->


								<a data-ng-href="/employees" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">Cancel</a>
							</div>
						</div>
					</form>

				</div>
				<br/>
			</div>
			<div class="tab-pane" id="tab_2">
				<div class="box-body">
					<br />
					<form class="form-horizontal" role="form">
						<div class="row" style="margin:0;padding:0;">
							<div class="col-sm-6">
								<!--<div class="form-group">
									<label for="sales-code" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red">Type of Facility </label>
									<div class="col-sm-6">
										<div class="form-group" style="margin:0">
											<span>
                                    <input name="ictc" type="radio" ng-model="employee.ictc"><label for="code" style="font-weight:600">ICTC</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											<span>
                                    <input name="art" type="radio" ng-model="employee.art">
                                    <label for="code" style="font-weight:600">ART</label>
                                </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											<span>
                                    <input name="co" type="radio" ng-model="employee.co">
                                    <label for="code" style="font-weight:600">CO</label>
                                </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											<span>
                                    <input name="ti" type="radio" ng-model="employee.ti">
                                    <label for="code" style="font-weight:600">TI</label>
                                </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											<span>
                                    <input name="directintervention"  type="radio" ng-model="employee.directintervention">
                                    <label for="code" style="font-weight:600">Direct Intervention</label>
                                </span>
										</div>
									</div>
								</div>-->
								<div class="form-group">
									<label for="city" class="col-sm-4" style="font-size:12px;color:red">Facility Type </label>
									<div class="col-sm-6">
										<select ui-select2 id="facilitytype" ng-model="employee.facilitytype" data-placeholder="Pick a Facility Type" style="width:100%;">
											<option value=""></option>
											<option data-ng-repeat="fs in facilitytypes" value="{{fs.id}}">{{ fs.name }}</option>
										</select>
									</div>
								</div>
							</div>

							<div class="col-sm-6">
								<div class="form-group">
									<label for="city" class="col-sm-4" style="font-size:12px;color:red">Area of Operation </label>
									<div class="col-sm-6">
										<select ui-select2 id="areaofoperation" ng-model="employee.areaofoperation" data-placeholder="Pick a Area of Operation" style="width:100%;">
											<option value=""></option>
											<option data-ng-repeat="area in areaofoperations" value="{{area.id}}">{{ area.name }}</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="row" style="margin:0;padding:0;">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="champion" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Typology
									</label>
									<div class="col-sm-6">
										<select ui-select2 id="typolog" ng-model="employee.typolog" data-placeholder="Pick a Typology" style="width:100%;" multiple>
											<!--											<option value=""></option>-->
											<option data-ng-repeat="typology in typologies" value="{{typology.id}}">{{ typology.name }}</option>
										</select>
									</div>
								</div>
							</div>

							<div class="col-sm-6">
								<div class="form-group">
									<label for="city" class="col-sm-4" style="font-size:12px;">Implements TI </label>
									<div class="col-sm-6">
										<select ui-select2 id="inplementsti" ng-model="employee.implementsti" data-placeholder="Pick a Area of Operation" style="width:100%;">
											<option value=""></option>
											<option value="yes">YES</option>
											<option value="no">NO</option>
										</select>
									</div>
								</div>
							</div>
						</div>

						<div class="row" style="margin:0;padding:0;">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="champion" class="col-sm-4" style="font-size:12px;margin-top:4px;color:red;">No of Towns Covered
									</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" id="nooftowncover" data-ng-model="employee.nooftowncover" placeholder="No of Towns Covered">
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="champion" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">No of Mandals/Talukas/Blocks Covered
									</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" id="noofmandal" data-ng-model="employee.noofmandal" placeholder="No of Mandals/Talukas/Blocks Covered">
									</div>
								</div>
							</div>
						</div>

						<div class="row" style="margin:0;padding:0;">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="city" class="col-sm-4" style="font-size:12px;">CO Representation in HIV Management and Governance at State or District Level
									</label>
									<div class="col-sm-6">
										<select ui-select2 id="representationinhiv" ng-model="employee.representationinhiv" data-placeholder="Pick a CO Representation in HIV Management and Governance at State or District Level
" style="width:100%;">
											<option value=""></option>
											<option value="yes">YES</option>
											<option value="no">NO</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="city" class="col-sm-4" style="font-size:12px;">CO a Member of Any State or National Level Networks
									</label>
									<div class="col-sm-6">
										<select ui-select2 id="coamember" ng-model="employee.coamember" data-placeholder="Pick a CO a Member of Any State or National Level Networks
" style="width:100%;">
											<option value=""></option>
											<option value="yes">YES</option>
											<option value="no">NO</option>
										</select>
									</div>
								</div>
							</div>
						</div>

						<div class="row" style="margin:0;padding:0;">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="city" class="col-sm-4" style="font-size:12px;">CO is Empanelled for LIC/Insurance Company
									</label>
									<div class="col-sm-6">
										<select ui-select2 id="coempanelled" ng-model="employee.coempanelled" data-placeholder="Pick a CO Representation in HIV Management and Governance at State or District Level
" style="width:100%;">
											<option value=""></option>
											<option value="yes">YES</option>
											<option value="no">NO</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="city" class="col-sm-4" style="font-size:12px;color:red">No of Income Generating Activities Undertaken by the CO

									</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" id="noofincome" data-ng-model="employee.noofincome" placeholder="No of Income Generating Activities Undertaken by the CO">
									</div>
								</div>
							</div>
						</div>

						<div class="row" style="margin:0;padding:0;">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="champion" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">No of TIs Implemented by the facility
									</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" id="nooftis" data-ng-model="employee.nooftis" placeholder="No of TIs Implemented by the facility" ng-change="Rating(employee.nooftis)">
									</div>
								</div>
							</div>



							<div class="col-sm-6">
								<div class="form-group">
									<table>
										<thead>
											<tr>
												<!--											<th>#</th>-->
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="item in tifacilities">

												<td style="width:44%;"> <strong style="font-size:12px;width:100%;padding-left:15px;">TI- {{$index+1}} Rating</strong>
												</td>
												<td>
													<div style="padding-bottom:10px;padding-top:10px;">
														<select ui-select2="" id="rating" ng-model="item.rating" data-placeholder="TI Rating" style="width:100%;" ng-change="TIRATING(item.rating)">
															<option value=""></option>
															<!--<option value=1>A+</option>
															<option value=2>A</option>
															<option value=3>B</option>
															<option value=4>C</option>
															<option value=5>NA</option>-->
															<option data-ng-repeat="rat in tiratings" value="{{rat.id}}">{{ rat.name }}</option>
														</select>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>

						<div class="row" style="margin:0;padding:0;">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="champion" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">No of Non TI and Non Avahan Projects Implemented by the CO
									</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" id="noofnonti" data-ng-model="employee.noofnonti" placeholder="No of Non TI and Non Avahan Projects Implemented by the CO" ng-change="ProjectImp(employee.noofnonti)">
									</div>
								</div>
							</div>

							<div class="col-sm-6">
								<div class="form-group">
									<table>
										<thead>
											<tr>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="itemnonti in nontifacilities">
												<td style="width:36%;"> <strong style="font-size:12px;width:100%;padding-left:15px;">Name of the Projects Implemented by the CO - {{$index+1}} </strong>
												</td>
												<td>
													<!--<div  style="padding-bottom:10px;padding-top:10px;">
														<select ui-select2="" id="titypology" ng-model="itemnonti.rating" data-placeholder="Projects Implemented by the CO" style="width:100%;">
															<option value=""></option>
															<option data-ng-repeat="typology in typologies" value="{{typology.id}}">{{ typology.name }}</option>
														</select>
													</div>-->
													<div class="col-sm-8">
														<input type="text" class="form-control" id="noofmandal" data-ng-model="itemnonti.rating" placeholder="Name of the Projects Implemented by the CO" >
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>


						<br/>
						<br/>
						<br/>

						<div align="left">
							<div>
								<a data-ng-href="/employees" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">Cancel</a>
							</div>
						</div>
					</form>
				</div>
				<br/>
			</div>

			<div class="tab-pane" id="tab_3">
				<div class="row" style="margin:0;padding:0;">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="champion" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Registration Number
							</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="registrationno" data-ng-model="employee.registrationno" placeholder="Register Number">
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="zip" class="col-sm-6 control-label" style="font-weight:600;color:red">Registration Renewal Date
							</label>
							<div class="col-sm-6">
								<p class="input-group">
									<input type="text" id="{{'datepicker' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="employee.registrationdate" is-open="RegistrationRenewal.opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" max-date="dtmax" date-disabled="disabled(date, mode)" close-text="Close">
									<span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="RegistrationRenewal($event, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="row" style="margin:0;padding:0;">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="champion" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">PAN Card Number
							</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="pancard" data-ng-model="employee.pancard" placeholder="PAN Card Number" maxlength="10">
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="champion" class="col-sm-6" style="font-weight:600;margin-top:4px;">Income tax returns filed for the last financial year
							</label>
							<div class="col-sm-6">
								<select ui-select2 id="incometaxreturn" ng-model="employee.incometaxreturn" data-placeholder="Pick a Income tax returns filed for the last financial year
" style="width:100%;">
									<option value=""></option>
									<option value="yes">YES</option>
									<option value="no">NO</option>
								</select>
							</div>
						</div>

					</div>
				</div>


				<div class="row" style="margin:0;padding:0;">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="champion" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">12 A Status
							</label>
							<div class="col-sm-6">
								<select ui-select2 id="astatus" ng-model="employee.astatus" data-placeholder="Pick a 12 A Status" style="width:100%;">
									<option value=""></option>
									<option data-ng-repeat="status in employeestatuses" value="{{status.id}}">{{ status.name }}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="zip" class="col-sm-6 control-label" style="font-weight:600;color:red">Registration Number
							</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="aregistrationno" data-ng-model="employee.aregistrationno" placeholder="Registration Number" ng-disabled="aRegistration">
							</div>
						</div>
					</div>
				</div>

				<div class="row" style="margin:0;padding:0;">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="champion" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">80 G Status
							</label>
							<div class="col-sm-6">
								<select ui-select2 id="gstatus" ng-model="employee.gstatus" data-placeholder="Pick a 80 G Status" style="width:100%;">
									<option value=""></option>
									<option data-ng-repeat="status in employeestatuses" value="{{status.id}}">{{ status.name }}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="zip" class="col-sm-6 control-label" style="font-weight:600;color:red">Registration Number
							</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="gregistrationno" data-ng-model="employee.gregistrationno" placeholder="Registration Number" ng-disabled="gRegistration">
							</div>
						</div>
					</div>
				</div>

				<div class="row" style="margin:0;padding:0;">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="champion" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">FCRA Status
							</label>
							<div class="col-sm-6">
								<select ui-select2 id="frcastatus" ng-model="employee.frcastatus" data-placeholder="Pick a FCRA Status
" style="width:100%;">
									<option value=""></option>
									<option data-ng-repeat="status in employeestatuses" value="{{status.id}}">{{ status.name }}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="zip" class="col-sm-6 control-label" style="font-weight:600;color:red">Registration Number
							</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="frcaregistrationno" data-ng-model="employee.frcaregistrationno" placeholder="Registration Number" ng-disabled="fRegistration">
							</div>
						</div>
					</div>
				</div>

				<div class="row" style="margin:0;padding:0;">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="zip" class="col-sm-4 control-label" style="font-weight:600;color:red">Date of Last AGBM
							</label>
							<div class="col-sm-6">
								<p class="input-group">
									<input type="text" id="{{'datepicker' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="employee.dateoflastabgm" is-open="LastAGBM.opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" max-date="dtmax" date-disabled="disabled(date, mode)" close-text="Close">
									<span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="LastAGBM($event, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="zip" class="col-sm-6 control-label" style="font-weight:600;color:red">Registration Renewal Date
							</label>
							<div class="col-sm-6">
								<p class="input-group">
									<input type="text" id="{{'datepicker' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="employee.registrationrenewaldate" is-open="RegistrationRenewal2.opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" max-date="dtmax" date-disabled="disabled(date, mode)" close-text="Close">
									<span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="RegistrationRenewal2($event, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
								</p>
							</div>
						</div>
					</div>
				</div>
                <br/>
				<div style="margin:0;padding:5px;border-bottom:1px solid #e1e8ed;">
					<h4 style="margin:0;padding:0;font-weight: 600;color:#4a4d72;">Statutory Audit Completed for the past Financial Year	
					</h4>
				</div>
				<br>

				<div class="row" style="margin:0;padding:0;">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="champion" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">External Audit Completed
							</label>
							<div class="col-sm-6">
								<select ui-select2 id="externalaudit" ng-model="employee.externalaudit" data-placeholder="Pick a External Audit Completed" style="width:100%;">
									<option value=""></option>
									<option value="yes">YES</option>
									<option value="no">NO</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="champion" class="col-sm-6" style="font-weight:600;margin-top:4px;color:red;">Audit Report Submitted
							</label>
							<div class="col-sm-6">
								<select ui-select2 id="auditreport" ng-model="employee.auditreport" data-placeholder="Pick a Audit Report Submitted" style="width:100%;">
									<option value=""></option>
									<option value="yes">YES</option>
									<option value="no">NO</option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="row" style="margin:0;padding:0;">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="champion" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Board has discussed Audit Report and prepared Action plan
							</label>
							<div class="col-sm-6">
								<select ui-select2 id="actionplan" ng-model="employee.actionplan" data-placeholder="Pick a Board has discussed Audit Report and prepared Action plan
" style="width:100%;">
									<option value=""></option>
									<option value="yes">YES</option>
									<option value="no">NO</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
					</div>
				</div>
                <br/>
				<div style="margin:0;padding:5px;border-bottom:1px solid  #e1e8ed;">
					<h4 style="margin:0;padding:0;font-weight: 600">Elections
					</h4>
				</div>
				<br>
				<div class="row" style="margin:0;padding:0;">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="zip" class="col-sm-4 control-label" style="font-weight:600;color:red">Date of Last Elections
							</label>
							<div class="col-sm-6">
								<p class="input-group">
									<input type="text" id="{{'datepicker' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="employee.electiondate" is-open="LastElection.opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" max-date="dtmax" date-disabled="disabled(date, mode)" close-text="Close">
									<span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="LastElection($event, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="zip" class="col-sm-6 control-label" style="font-weight:600;color:red">Total No.of Members in the Elected Body( No of board members)
							</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="electionbody" data-ng-model="employee.electionbody" placeholder="Total No.of Members in the Elected Body( No of board members)" maxlength="10">
							</div>
						</div>
					</div>
				</div>

				<div align="left">
					<div class="box-body">
						<a class="btn btn-primary btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-hide="Created" style="padding:5px 20px;margin-right:10px;">Create </a>

						<a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="Updated" style="padding:5px 20px;margin-right:10px;">Update </a>


						<a data-ng-href="/employees" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">Cancel</a>
					</div>
				</div>

			</div>
			<!--Tab_3-->
			<br/>
		</div>
	</div>


	<!-- /.box-body -->

	<!-- /.box-footer -->
</div>
<!-- /.box -->

<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
	<p>{{message}}</p>
</modal2>

<validationmodal title1="Alert!!!" visible="showValidation">
	{{validatestring1}}
</validationmodal>

<validationmodal title1="Alert!!!" visible="showUniqueValidation">
	{{validatestring2}}
</validationmodal>
