<style>
    /*	.stylelink {
		padding: 3px 10px;
		background: transparent;
		color: #333;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}
	
	.stylelink.active {
		padding: 3px 10px;
		background: #b71c1c;
		color: #fff;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		font-weight: 600;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}  */
    
    .stylelink {
        background: transparent;
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
    }
    
    .stylelink.active {
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
        border-bottom: 4px solid #cc3535;
    }
    
    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }
    
    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
         border-bottom: 1px solid #e6e6e6;
        /*		background-color: #fff;*/
    }
    
    #wrapper div {
        display: table-cell;
        height: auto;
    }
    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/
    
    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 5px 10px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 5px 10px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
    }

</style>


<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-TOP:none;">
    <div class="box-header with-border" style="background:#e85a5a;padding:20px 10px;">
        <h3 class="box-title" style="color:#ffffff;">Facility</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body" style="padding:20px;">
        <div class="row">
            <div class="col-sm-6">
                <a data-ng-href="/employees/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;">Add New </a>&nbsp;&nbsp;&nbsp;
                <a data-ng-href="/uploadfacility" class="btn btn-success btn-sm " role="button" data-ng-hide="hideCreateButton()" style="padding:5px 20px;">Upload</a>
            </div>
            <div class="col-sm-6">

            </div>
        </div>
        <br/>

        <div data-ng-hide="hideSearchFilter()">

            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6" style="padding-top:5px;">
                    <span>Show</span>
                    <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <span>Entries</span>
                </div>
                <div class="col-sm-6">
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8">
                            <form role="form">
                                <div class="input-group">
                                    <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search" style="z-index:0;border-radius:20px;width:140%;" ng-model="searchEmp">
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <br />




        <div data-ng-hide="showForm()">
            <form class="form-horizontal" role="form">
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <label for="zone" class="col-sm-4" style="font-weight:600; margin-top: 5px;padding-left:0px;">State</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="country" ng-model="countryId" data-placeholder="Pick a State" style="width: 180px;">
                                <option value=""></option>
                                <option data-ng-repeat="zone  in zones" value="{{zone.id}}">{{ zone.name }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label for="salesarea" class="col-sm-4" style="font-weight:600; margin-top: 5px;">District</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="state" ng-model="stateId" data-placeholder="Pick a District" style="width: 180px;">
                                <option value=""></option>
                                <option data-ng-repeat="state  in displaysalesareas" value="{{state.id}}">{{ state.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br/>
            </form>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width:50px;">#</th>
                            <th ng-style="style">FACILITY NAME</th>
                            <th ng-style="style">FACILITY CODE</th>
                            <th ng-style="style">FACILITY EMAIL</th>
                            <th ng-style="style" style="width:100px;">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="employee in employees| filter: searchEmp | itemsPerPage:pageSize" pagination-id="table1" current-page=currentpage ng-style="{color:employee.backgroundColor}">
                            <td>{{ employee.index }}</td>
                            <td>{{employee.id}} - {{ employee.firstName+' '+employee.lastName }}</td>
                            <td>{{ employee.salesCode }}</td>
                            <td>{{ employee.email }}</td>
                            <!--<td>
							<a data-ng-href="/employees/{{employee.id}}" style="color: black;" role="button"><span class="glyphicon glyphicon-edit" title="Edit"></span></a>&nbsp;&nbsp;
							<a data-ng-href="/employees" data-ng-click="updateEmpFlag(employee.id)"><span class="glyphicon glyphicon-remove-circle" style="color: red;" title="Bin"></span></a>&nbsp;
						</td>-->
                            <td ng-if="employee.deleteflag==false&&employee.partiallyunarchivedflag==false&& employee.partiallyarchivedflag==false">
                                <a data-ng-href="/employees/{{employee.id}}"><span class="glyphicon glyphicon-edit" style="color: black;" title="Edit"></span></a>&nbsp;

                                <a confirm-button="Delete(employee.id)" message="Do you want to Archive this Facility?"><img src="images/archiveicon.png" style="color: #333;cursor:pointer; height:2%; width:30%;" title="Archive"></a>&nbsp;
                            </td>

                            <td ng-if="employee.deleteflag != false">
                                <a confirm-button="UnDelete(employee.id)" message="Do you want to Unarchive this Facility?"><img src="images/unarchiveicon.png" style="color: #333;cursor:pointer; height:10%; width:20%;" title="Unarchive"></a>&nbsp;
                            </td>

                            <td ng-if="employee.partiallyarchivedflag == true">
                                <a confirm-button="Delete(employee.id)" message="Partially Archived.Continue Archiving?"><img src="images/archiveicon.png" style="color:#FF0000;cursor:pointer; height:2%; width:30%;" title="Archive"></a>&nbsp;
                            </td>

                            <td ng-if="employee.partiallyunarchivedflag == true">
                                <a confirm-button="UnDelete(employee.id)" message="Partially Unarchived.Continue Unarchiving?"><img src="images/unarchiveicon.png" style="color: #333;cursor:pointer; height:10%; width:20%;" title="Unarchive"></a>&nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div align="right">
                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="false" pagination-id="table1" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
                </dir-pagination-controls>
            </div>
            <br/>
            <div ng-show="!employees.length" style="margin:0 auto;text-align:center;padding-top: 5%;">
                <span style="font-size:18px;font-weight:bold;font-family:Georgia, Serif;">Please select an options</span>
            </div>

        </div>




    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->
