<style>
    .tht:hover {
        color: blue;
    }
 .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #e72e5a;
    }
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
    }
</style>

<style>
    th {
        cursor: pointer;
    }
    
    {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

</style>
<!--
<script type="text/javascript">
    var sortingOrder = 'filterDate';

</script>
-->
<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;" data-ng-init="toggleLoading()">
    <div id="wrapper">
    <div class="stylelink active box-header with-border" style="padding:20px 10px;">
        <h3 class="box-title" style="font-weight:600;">{{eventheader}}</h3>
    </div>
        </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body" style="padding:20px;">
        <div class="row">
           <div class="col-sm-5"></div>
            <div data-ng-hide="hideSearchFilter()" class="col-sm-2" style="text-align:right;padding-right:0px;border-color:#e1e8ee">
					<span>Show</span>
					<select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
						<option value="25">25</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select>
<!--					<span>Entries</span>-->
				</div>
            <div data-ng-hide="hideSearchFilter()" class="col-sm-3" style="padding-right:0px;">
<!--
            <div class="row" style="margin:0;padding:0;">
						<div class="col-sm-5"></div>
						<div class="col-sm-7">
-->
							<form role="form">
								<div class="input-group">
									<input type="text" class="form-control ng-pristine ng-valid" placeholder="Search" style="z-index:0;border-radius:2px;border-right:none;border-color:#e1e8ee;border-top-left-radius:4px;border-bottom-left-radius: 4px;"  data-ng-model="searchPart" >
									   <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-right-radius: 4px;border-bottom-right-radius: 4px;border-color:#e1e8ee;background:none;border-left:none;"><span class="glyphicon glyphicon-search"></span></button>
									</span>
								</div>
							</form>

<!--
						</div>
					</div>
-->
            </div>
		<div  class="col-sm-2">
                <a data-ng-href="/events/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton()" style="padding:5px 20px;margin-right:10px;">{{addnew}}</a>
            </div>
        
        </div>
        <br/>

        <form class="form-horizontal" role="form" data-ng-show="showForm()">
            <br/>
            <p align="center" style="color:red;">{{mandatoryfield}}</p>
            <br />


            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="city" class="col-sm-4" style="font-weight: 600;margin-top: 8px;color:red;">{{date}} </label>
                        <div class="col-sm-6">
                            <p class="input-group">
                                <input type="text" id="{{'datepicker' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="event.datetime" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" min-date="todate" />
                                <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="open($event, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight: 600;margin-top: 8px;color:red;">{{eventname}} </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="name" data-ng-model="event.name" placeholder="{{eventname}}" pattern='[A-Za-z\\s]*'>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight: 600;margin-top: 8px;color:red;">{{venue}} </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="name" data-ng-model="event.venue" placeholder="{{venue}}">

                        </div>
                    </div>
                </div>
                <div class="col-sm-6">

                </div>
            </div>

            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="pillar" class="col-sm-4" style="font-weight: 600;margin-top: 4px;color:red;">{{pillar}}</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="pillarid" ng-model="event.pillarid" data-placeholder="{{pillar}}" style="width:100%;" ng-Change="PillarChanged(event.pillarid)">
                                <option value=""></option>
                                <!--								<option data-ng-repeat="pillar in pillars" value="{{pillar.id}}">{{ pillar.name }}</option>-->
                                <option data-ng-repeat="pillar in pillars" value="{{pillar.id}}" ng-if="UserLanguage==1">{{ pillar.name }}</option>
                                <option data-ng-repeat="pillar in pillars" value="{{pillar.id}}" ng-if="UserLanguage==2">{{ pillar.hnname }}</option>
                                <option data-ng-repeat="pillar in pillars" value="{{pillar.id}}" ng-if="UserLanguage==3">{{ pillar.knname }}</option>
                                <option data-ng-repeat="pillar in pillars" value="{{pillar.id}}" ng-if="UserLanguage==4">{{ pillar.taname }}</option>
                                <option data-ng-repeat="pillar in pillars" value="{{pillar.id}}" ng-if="UserLanguage==5">{{ pillar.tename }}</option>
                                <option data-ng-repeat="pillar in pillars" value="{{pillar.id}}" ng-if="UserLanguage==6">{{ pillar.mrname }}</option>
                            </select>
                        </div>
                    </div>
                </div>



                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="eventtype" class="col-sm-4" style="font-weight: 600;margin-top: 4px;color:red;">{{eventtype}}</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="eventype" ng-model="event.eventype" data-placeholder="{{eventtype}}" style="width:100%;">
                                <option value=""></option>
                                <option data-ng-repeat="eventtype in eventtypes" value="{{eventtype.id}}" ng-if="UserLanguage==1">{{ eventtype.name }}</option>
                                <option data-ng-repeat="eventtype in eventtypes" value="{{eventtype.id}}" ng-if="UserLanguage==2">{{ eventtype.hnname }}</option>
                                <option data-ng-repeat="eventtype in eventtypes" value="{{eventtype.id}}" ng-if="UserLanguage==3">{{ eventtype.knname }}</option>
                                <option data-ng-repeat="eventtype in eventtypes" value="{{eventtype.id}}" ng-if="UserLanguage==4">{{ eventtype.taname }}</option>
                                <option data-ng-repeat="eventtype in eventtypes" value="{{eventtype.id}}" ng-if="UserLanguage==5">{{ eventtype.tename }}</option>
                                <option data-ng-repeat="eventtype in eventtypes" value="{{eventtype.id}}" ng-if="UserLanguage==6">{{ eventtype.mrname }}</option>
                            </select>
                        </div>
                    </div>
                </div>


            </div>

            <div class="row" style="margin:0;padding:0;">
                <!--ng-hide="organisedbychange"-->
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="city" class="col-sm-4" style="font-weight: 600;margin-top: 4px;">{{organizedby}}</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="city" data-ng-model="event.organisedby" data-placeholder="{{organizedby}}" style="width:100%;" ng-Change="PillarChanged1(event.partnerid)">
                                <option value=""></option>
                                <option data-ng-repeat="fw in fieldworkers" value="{{fw.id}}">{{ fw.firstname }}</option>
                                <option data-ng-repeat="partner in Organisedcomembers" value="{{partner.id}}">{{ partner.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div ng-hide="documenthide">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight: 600;margin-top: 8px;">{{printothers}}</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" data-ng-model="event.others" style="width:100%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <br/>
            <br/>


            <div>
                <div align="left">
                    <a class="btn btn-primary btn-sm " type="submit" role="button" data-ng-click="SaveEvent()" data-ng-show="isCreateView()" ng-disabled="createDisabled" style="padding:5px 20px;margin-right:10px;">{{create}} </a>

                    <a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="UpdateEvent()" data-ng-hide="isCreateView()" ng-disabled="createDisabled" style="padding:5px 20px;margin-right:10px;">{{update}} </a>

                    <a data-ng-href="/events" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">{{cancel}}</a>
                </div>
            </div>

        </form>

        <div data-ng-hide="hideSearchFilter()">
<!--
            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6" style="padding-top:5px;">
                    <span>{{show}}</span>
                    <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <span>{{entry}}</span>
                </div>
                <div class="col-sm-6">
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8">
                            <form role="form">
                                <div class="input-group">
                                    <input type="text" class="form-control ng-pristine ng-valid" placeholder="{{searchfor}}" style="z-index:0;border-radius:20px;width:140%;" data-ng-model="searchPart">

                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
-->
        </div>
        <br />


        <div data-ng-hide="showForm()" class="table-responsive">
            <table class="table">

                <thead>
                    <tr>
                        <th style="width:50px;">#</th>
                        <!--                        <th class="tht" ng-style="style" ng-click="EventNameFilter()" style="cursor:pointer;" class="name"><span style="color:{{backgroundCol1}};">{{eventname | uppercase}}</span>&nbsp;<a ng-click="sort_by('name')"><i class="icon-sort"></i></a></th>-->

                        <th ng-if="UserLanguage==1" ng-click="changeSorting('name')">{{eventname | uppercase}}<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('name')"></i></span></th>

                        <!--                        <th class="tht" ng-style="style" ng-click="VenueFilter()" style="cursor:pointer;" class="venue"><span style="color:{{backgroundCol2}};">{{venue | uppercase}}</span>&nbsp;<a ng-click="sort_by('venue')"><i class="icon-sort"></i></a></th>-->

                        <th ng-if="UserLanguage==1" ng-click="changeSorting('venue')">{{venue | uppercase}}<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('venue')"></i></span></th>
                        <th >{{eventtype | uppercase}}</th>
                        <!--						<th ng-style="style">{{date | uppercase}}</th>-->
                        <!--                        <th class="tht" ng-click="DateFilter()" style="cursor:pointer;" class="filterDate"><span style="color:{{backgroundCol3}}">{{date}}</span>&nbsp;<a ng-click="sort_by('filterDate')"><i class="icon-sort"></i></a></th>-->
                        <th ng-if="UserLanguage==1" ng-click="changeSorting('filterDate')">{{date | uppercase}}<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('filterDate')"></i></span></th>

                        <th  style="width:75px;">{{action | uppercase}}</th>

                    </tr>
                </thead>
                <tbody>
                    <!--     orderBy:sortingOrder:reverse  -->
                    <tr dir-paginate="event in TotalData  = ( events | filter:searchPart )| orderBy:sort.active:sort.descending | itemsPerPage:pageSize" current-page="currentPage">
                        <td>{{ event.index }}</td>
                        <td>{{ event.name}}</td>
                        <td>{{ event.venue}}</td>
                        <td>
                            <!--{{ event.EventType.name}}-->
                            <a ng-if="UserLanguage==1" style="color:black">
									{{event.EventType.name}}
							</a>
                            <a ng-if="UserLanguage==2" style="color:black">
								{{event.EventType.hnname}}
							</a>
                            <a ng-if="UserLanguage==3" style="color:black">
								{{event.EventType.knname}}
							</a>
                            <a ng-if="UserLanguage==4" style="color:black">
								{{event.EventType.taname}}
							</a>
                            <a ng-if="UserLanguage==5" style="color:black">
								{{event.EventType.tename}}
							</a>
                            <a ng-if="UserLanguage==6" style="color:black">
								{{event.EventType.mrname}}
							</a>
                        </td>
                        <td>{{ event.datetime }}</td>
                        <td><a data-ng-href="/events/{{event.id}}"><span class="glyphicon glyphicon-pencil" title="Edit" ></span></a>&nbsp;&nbsp;
                            <a style="color:#b7b8c8;">|</a>&nbsp;&nbsp;
                            <a confirm-button="Delete(event.id)"><span class="glyphicon glyphicon-remove" style="cursor:pointer;" title="Bin"></span></a>&nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>

            <div align="right">
                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
                </dir-pagination-controls>

            </div>
        </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->
<modal2 title1="{{modalTitle}}" visible="eventdataModal">
    <p>{{message}}</p>
</modal2>
<validationmodal title1="Alert!!!" visible="showValidation">
    {{validatestring1}}
</validationmodal>


<script type="text/ng-template" id="template/AlertModal.html" class="modal" class="modal fade" role="dialog">
    <div class="modal-header">
        <h4 class="modal-title">{{modalTitle}}</h4>
            </div>
    <div class="modal-body"> {{message}} </div>
</script>

<!--<tbody>
        <tr dir-paginate="event in events | orderBy:['id', 't']:true | itemsPerPage: dirPaginate.pageSize" current-page="dirPaginate.currentPage">

            <td><i class="{{ ::(event.el | eventtype).icon }}" tooltip="{{ ::(event.el | eventtype).tooltip }}"></i></td>
            <td class="hidden-xs">{{::event.nr}}</td>
            <td><span ng-bind-html="::('' + event.tg | eventMessage:event.d:'html')"></span>
                <span class="visible-xs"> ({{::event.nr}})</span>
            </td>
            <td>{{ ::(event.t * 1000 | date:'mediumDate')}} <span class="visible-xs">{{ ::(event.t * 1000 | date:'mediumTime')}}</span></td>
            <td class="hidden-xs">{{ ::(event.t * 1000 | date:'mediumTime')}}</td>
        </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" class="paginationContainer"><dir-pagination-controls></dir-pagination-controls></td>
            </tr>
        </tfoot>-->
<!--
Paginate (almost) anything in AngularJS
Code
Preview
                    index.html
                    
<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <link data-require="bootstrap-css@3.1.1" data-semver="3.1.1" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
  <script data-require="angular.js@1.3.0" data-semver="1.3.0" src="https://code.angularjs.org/1.3.0/angular.js"></script>
  <script data-require="jquery@*" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script data-require="bootstrap@3.1.1" data-semver="3.1.1" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="style.css" />
  <script src="script.js"></script>
  <script src="dirPagination.js"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div ng-controller="MyController" class="my-controller">
          <h1>Tasty Paginated Menu</h1>

          <small>this is in "MyController"</small>


          <div class="row">
            <div class="col-xs-4">
              <h3>Meals Page: {{ currentPage }}</h3>
            </div>
            <div class="col-xs-4">
              <label for="search">Search:</label>
              <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
            </div>
            <div class="col-xs-4">
              <label for="search">items per page:</label>
              <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
            </div>
          </div>
          <br>
          <div class="panel panel-default">
            <div class="panel-body">

              <ul>
                <li dir-paginate="meal in meals | filter:q | itemsPerPage: pageSize" current-page="currentPage">{{ meal }}</li>
                
              </ul>
            </div>
          </div>
        </div>

        <div ng-controller="OtherController" class="other-controller">
          <small>this is in "OtherController"</small>
          <div class="text-center">
          <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>-->
