<style>
    /**	.nav-tabs-custom > .nav-tabs > li.active {
		border-top-color: #b71c1c;
	}
    **/

    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        		background: #ffffff;
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
/*        border-bottom: 4px solid #e72e5a;*/
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        background: #ffffff;
        margin-top: 12px;
/*        border-bottom: 1px solid #e6e6e6;*/
    }
  .selectdiv {
        position: relative;
        float: right;
        min-width: 100%;
    }
    
    .selectdiv:after {
        content: '>';
        font: 17px "Consolas", monospace;
        color: #333;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        /*        top: 42px;*/
        margin-left: -30px;
        margin-top: 5px;
        padding: 0 0 2px;
        /*        margin: -15px;*/
        position: absolute;
        pointer-events: none;
    }
    
    .selectdiv select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        /* Add some styling */
        display: block;
        width: 100%;
        /*        max-width: 320px;*/
        height: 32px;
        float: left;
        /*        margin: 5px 0px;*/
        padding: 0px 7px;
        font-size: 14px;
        line-height: 1.75;
        color: #878993;
        border-radius: 4px;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #cccccc;
        -ms-word-break: normal;
        word-break: normal;
    }
    [type=button], [type=reset], [type=submit], button {
        -webkit-appearance: none;
    }
    .tab-content .tab-pane {
    padding: 0;
}
</style>

<!-- Horizontal Form -->
<!--<br/>-->
<div class="box box-info" style="min-height:450px;border-top:none;" data-ng-init="toggleLoading()">
    <div id="wrapper">
        <div class=" stylelink active box-header with-border" style="padding:20px 14px;">
            <h3 class="box-title" style="font-weight:bold;">
                <a href="/healthfacilitator-list" style="cursor:pointer;"><img src="images/piclinks/back.png" width="10px" height="16px" style="margin-bottom:4px;"/></a>&nbsp;&nbsp; {{hfHeading}}</h3>
        </div>
    </div>

    <div class="box-body">
<!--        <br/>-->
<!--        <br>-->
        <p align="center" style="font-weight:600;margin-top: 8px;color:#ec0b6d;">{{HfLanguage.mandatory}}</p>
<!--        <br>-->
        <div class="nav-tabs-custom padding2">
            <ul class="nav nav-tabs">
                <li class="active" style="cursor:pointer;"><a data-target="#tab_1" data-toggle="tab">{{HfLanguage.basicinfo}}</a></li>
                <li style="cursor:pointer;"><a data-target="#tab_2" data-toggle="tab">{{HfLanguage.userinfo}}</a></li>
                <!--ng-hide="tabtwohide"-->
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <br/>
                    <form role="form">
                        <div class="row" style="padding: 0px 7px;">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="first-name"   style=" margin-top:8px; ">{{HfLanguage.username}}<sup>*</sup>
									</label>
                                    <div>
                                        <input type="text" class="form-control" id="firstname" data-ng-model="hf.username" placeholder="{{HfLanguage.username}}" ng-blur="checkuser(hf.username)">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="last-name" style="margin-top:8px;">{{HfLanguage.fullname}}<sup>*</sup>
									</label>
                                    <div>
                                        <input type="text" class="form-control" id="lastname" data-ng-model="hf.name" placeholder="{{HfLanguage.fullname}}">
                                    </div>
                                </div>
                            </div>
<!--
                        </div>

                        <div class="row">
-->
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="im-provider"  style="margin-top:8px;">{{HfLanguage.country}}<sup>*</sup>
									</label>
                                    <div>
                                        <input type="text" class="form-control" id="country" data-ng-model="countryName" placeholder="{{HfLanguage.country}}" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="im-provider"  style="margin-top:8px;">{{HfLanguage.state}}<sup>*</sup>
									</label>
                                    <div>
                                        <input type="text" class="form-control" id="state" data-ng-model="stateName" placeholder="{{HfLanguage.state}}" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="im-provider"  style="margin-top:8px;">{{HfLanguage.district}}<sup>*</sup>
									</label>
                                    <div>
                                        <input type="text" class="form-control" id="district" data-ng-model="districtName" placeholder="{{HfLanguage.district}}" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="partner-manager"  style="margin-top:8px;">{{HfLanguage.site}}<sup>*</sup>
									</label>
                                    <div>
                                        <input type="text" class="form-control" id="site" data-ng-model="siteName" placeholder="{{HfLanguage.site}}" readonly>
                                    </div>
                                </div>
                            </div>
<!--
                        </div>

                        <div class="row">
-->
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="partner-manager" style="margin-top:8px;">{{HfLanguage.sitemanager}}<sup>*</sup>
									</label>
                                    <div>
                                        <input type="text" class="form-control" id="sitemgr" data-ng-model="sitemgrName" placeholder="{{HfLanguage.sitemanager}}" readonly>
                                    </div>
                                </div>
                            </div>
<!--
                            <div class="col-sm-3">
                            </div>
                        </div>

                        <div class="row">
-->
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="email"   style="margin-top:8px;">{{HfLanguage.email}}<sup>*</sup> </label>
                                    <div>
                                        <input type="email" class="form-control" id="email" data-ng-model="hf.email" placeholder="{{HfLanguage.email}}" ng-blur="checkemail(hf.email)">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="mobile" style="margin-top:8px;">{{HfLanguage.mobile}}<sup>*</sup></label>
                                    <div>
                                        <input type="tel" class="form-control" id="mobile" data-ng-model="hf.mobile" placeholder="{{HfLanguage.mobile}}" maxlength="10">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <br/>

                        <div>
                            <div align="right">
<!--                                <a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView" ng-disabled="createDisabled" style="padding:5px 20px;">{{HfLanguage.create}} </a>&nbsp;-->

                                <a data-ng-href="/healthfacilitator-list" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">{{HfLanguage.cancel}}</a>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab_2">
                    <br/>
                    <form role="form">

                        <div class="row" style="padding: 0px 7px;">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="first-name"   style="margin-top:8px;">{{HfLanguage.username}}<sup>*</sup>
									</label>
                                    <div>
                                        <input type="text" class="form-control" id="username" data-ng-model="hf.username" placeholder="{{HfLanguage.username}}" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="last-name"  style="margin-top:8px;">{{HfLanguage.password}}<sup>*</sup>
									</label>
                                    <div>
                                        <input type="password" class="form-control" id="password" data-ng-model="hf.password" placeholder="********">
                                    </div>
                                </div>
                            </div>
<!--
                        </div>
                        <br/>
                        <div class="row">
-->
                            <div class="col-sm-3">
                                <div class="  form-group">
                                    <label for="distributionRouteId"  style=" margin-top:4px;">{{HfLanguage.languageone}}<sup>*</sup> </label>
                                    <div>
                                         <select ui-select2 ng-model="hf.languageId" data-placeholder="{{HfLanguage.selectLanguage}}" style="width:100%;">
											<option value=""></option>
											<option data-ng-repeat="language in languages" value="{{language.id}}">{{ language.name }}</option>
										</select>
                                    </div>
                                </div>
                            </div>
<!--                            <div class="col-sm-6"></div>-->
                        </div>

                        <br/>
                        <br/>
                        <br/>

                        <div>
                            <div align="right">
                                 <a data-ng-href="/healthfacilitator-list" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">{{HfLanguage.cancel}}</a>
                                
                                <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView" ng-disabled="createDisabled" style="padding:5px 20px;">{{HfLanguage.saveLabel}} </a>&nbsp;

                                <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView" ng-disabled="createDisabled" style="padding:5px 20px;">{{HfLanguage.update}} </a>&nbsp;
                            </div>
                        </div>

                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->

<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>
