<style>
    .tht:hover {
        color: blue;
    }
    
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 30px 10px 15px 0px;
        padding-left: 0px;
        /*        border-bottom: 4px solid #e72e5a;*/
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
/*        border-bottom: 1px solid #e6e6e6;*/
    }
    .entry {
        min-width: 45px;
    }
  .sell {
        position: relative;
        min-width: 45px;
    }
    
    .sell:after {
        content: url(images/piclinks/down-arrow.png) ;
        font: 17px "Consolas", monospace;
        color: #333;
        top: 5px;
        margin-left: -22px;
        padding: 0 0 2px;
        position: absolute;
        pointer-events: none;
    }
    
    .sell select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        /*        max-width: 320px;*/
        height: 32px;
        float: left;
        padding: 0px 7px;
        font-size: 14px;
        line-height: 1.75;
        color: #878993;
        border-radius: 4px;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #d5d7df;
        -ms-word-break: normal;
        word-break: normal;
    }
    .breadcrumb>li+li:before {
        content: ">";
        /*  padding: 0 5px;*/
        color: #000;
    }
    
</style>

<style>
    th {
        cursor: pointer;
    }
    
    {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

</style>

<!---<script type="text/javascript">
    var sortingOrder = 'firstname';

</script> -->
<!-- Horizontal Form -->
<!--<br/>-->
<div class="box box-info" style="min-height:450px;border-top:none;" data-ng-init="toggleLoading()">
    <div id="wrapper">
        <div class=" stylelink active box-header with-border">
            <h3 class="box-title" style="font-weight:bold;">{{HfLanguage.hflist}}</h3>
        </div>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
<!--    <br/>-->
    <div class="box-body">
        <br/>
        <div class="row" data-ng-hide="hideSearchFilter()">
                <div class="col-sm-5">
                <div class="col-sm-12">
                    <ol class="breadcrumb" style="background: #fff;">
                        <li>Site Manager</li>
                        <li>Language Menu</li>
                        <li class="active">HF List</li>
                    </ol>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="col-sm-1"></div>
                <div data-ng-hide="hideSearchFilter()" class="col-sm-1 col-md-1 smright" style=" padding-right:0px;padding-left:0px;">
                    <div class=" form-group ">
                        <label class="showlabel">{{HfLanguage.show}}</label>
                   
                    <div class="sell entry">
                    <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                        </div>
                         </div>
                </div>
                <div data-ng-hide="hideSearchFilter()" class="col-sm-5 col-md-5 smright2txt" style="padding-right:0px;padding-top:1.8em;">
                    <form role="form">
                        <div class="input-group">
                             <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-left-radius:4px;border-bottom-left-radius: 4px;border-color:#d5d7df;background:none;border-right:none;"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                            <input type="text" class="form-control ng-pristine ng-valid" placeholder="{{HfLanguage.search}}" style="z-index:0;border-left:none;border-color:#d5d7df;border-top-right-radius:4px;border-bottom-right-radius: 4px;" data-ng-model="searchPart" focus="someFocusVariable">
                           
                        </div>
                    </form>
                </div>
                 <div class="col-sm-2 col-md-2  smright smright2txt" style="padding-top:1.7em;">
                    <a data-ng-href="" class="btn btn-success btn-sm" role="button" ng-click="exportData()" style="padding:5px 20px;margin-right:10px;color:#ffffff;" ng-disabled="DisableExport"><img src="images/export-icon.png">&nbsp;&nbsp;{{HfLanguage.exportData}}</a>
                </div>
                <div class="col-sm-2 col-md-2 smright2txt" style="padding-top:1.7em;">
                    <a data-ng-href="/healthfacilitator/create" class="btn btn-primary btn-sm" role="button" style="padding:5px 20px;margin-right:10px;">{{HfLanguage.addNew}}</a>
                </div>
            </div>
        </div>
        <br />
<!--        <br />-->

        <style>
            table,
th,
td {
    fill: #262d57;
    font-size: 14px;
}
th {
    background-color: #d5d7df;
    font-weight: normal;
}
tr {
    background-color: White;
    color: #262d57;
    font-size: 10px;
}
        </style>
        <div data-ng-hide="showForm()" class="table-responsive">
            <table class="table ">

                <thead>
                    <tr>
                        <th style="padding-left:29px;">S NO.</th>
                        <th ng-click="changeSorting('username')">{{HfLanguage.username | uppercase}}<span style="margin-left:10px;"><i class="fa fa-sort" ng-class="getIcon('username')"></i></span></th>
                        <th ng-click="changeSorting('name')">{{HfLanguage.fullname | uppercase}}<span style="margin-left:10px;"><i class="fa fa-sort" ng-class="getIconOne('name')"></i></span></th>
                        <th>{{HfLanguage.mobile | uppercase}}</th>
                        <th>{{HfLanguage.email | uppercase}}</th>
                        <th>{{HfLanguage.site | uppercase}}</th>
                        <th style="width:75px;">{{HfLanguage.action}}</th>

                    </tr>
                </thead>
                <tbody id="bnbody">
                    <tr dir-paginate="partner in TotalFWData  = ( partners | filter:searchPart ) |  itemsPerPage:pageSize" current-page="currentPage">
                        <td style="padding-left:29px;">{{ partner.index }}</td>
                        <td data-ng-init="useremp = getUser(partner.id)">{{ partner.username }}
                            <br>{{HfLanguage.getdata}}: {{partner.syncintime|date:'dd-MMM-yyyy/hh:mm:ss a'}}
                            <br>{{HfLanguage.pushdata}}: {{partner.syncouttime|date:'dd-MMM-yyyy/hh:mm:ss a'}}
                        </td>
                        <td>{{ partner.name }}</td>
                        <td>{{ partner.mobile }}</td>
                        <td>{{ partner.email }}</td>
                        <td>
                            {{ partner.sitename }}
                        </td>
                        <td>
                            <a data-ng-href="/healthfacilitator/{{partner.id}}" title="{{HfLanguage.edit}}"><img  src="images/piclinks/edit.png" width="16px"></a>&nbsp;&nbsp;&nbsp;

<!--                            <a style="color:#b7b8c8;">|</a>&nbsp;&nbsp;-->
                            <a data-ng-href="/syncoutdata/{{partner.id}}" title="{{HfLanguage.view}}"><img   src="images/piclinks/view-icon.png"   width="16px"></a>&nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="padding4" align="right">
                <!-- max-size="5"-->
                <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
                </dir-pagination-controls>
            </div>
        </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->
