<style>
    /*
	.stylelink {
		padding: 3px 10px;
		background: transparent;
		color: #333;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}
	
	.stylelink.active {
		padding: 3px 10px;
		background: #b71c1c;
		color: #fff;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		font-weight: 600;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}
	*/
    
   .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #e72e5a;
    }
   
    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }
    
    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
         border-bottom: 1px solid #e6e6e6;
        /*		background-color: #fff;*/
    }
    
/*
    #wrapper div {
        display: table-cell;
        height: auto;
    }
*/
    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/
    
    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
        }
        .stylelink.active {
            font-size: 12px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
    }
    
    label {
        font-weight: 600;
    }
    
    strong {
        font-weight: 600;
    }
</style>
<!--<div style="width:100%;height:auto;background:#e85a5a;">
	<div id="wrapper">
		<div style="text-align:center;">
			<a class="stylelink active" href="/employees"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">FACILITY</span></a>
		</div>
		<div style="text-align:center;">
			<a class="stylelink" href="/mentor"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">OTHER ROLES</span></a>
		</div>
		<div style="text-align:center;">
			<a class="stylelink" href="/roles"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">ROLES</span></a>
		</div>
		<div style="text-align:center;">
			<a class="stylelink" href="/users"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">USERS</span></a>
		</div>
		<div style="text-align:center;">
			<a class="stylelink" href="/mentorassign"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">FACILITY ASSIGN</span></a>
		</div>
	</div>

</div>-->
<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-TOP:none;">
    <div id="wrapper">
    <div class="stylelink active box-header with-border" style="padding:20px 10px;">
        <h3 class="box-title" style="font-weight:600;">{{facilityprofileheader}}</h3> </div>
        </div>
    <!-- /.box-header -->
    <!-- form start -->
    <br/>
    <p align="center" style="color:red">{{mandatoryfield}}</p>
    
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active" style="cursor:pointer;"><a data-target="#tab_1" data-toggle="tab">{{BASIC}}</a></li>
            <li style="cursor:pointer;"><a data-target="#tab_2" data-toggle="tab">{{NON_STATUTORY}}</a></li>
            <li style="cursor:pointer;"><a data-target="#tab_3" data-toggle="tab">{{STATUTORY}}</a></li>
            <!--ng-hide="tabtwohide"-->
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                <div class="box-body">
                    <br />
                    <form class="form-horizontal" role="form">
                        <div class="row" style="margin:0;padding:0;">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="sales-code" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red">{{facilitycode}} </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="salesCode" data-ng-model="employee.salesCode" placeholder="Facility Code" ng-disabled="fwcodedisable" style="width:240px;"> </div>
                                </div>
                                <div class="form-group">
                                    <label for="first-name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red">{{firstname}} </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="firstName" data-ng-model="employee.firstName" placeholder="First Name" style="width:240px;"> </div>
                                </div>
                                <div class="form-group">
                                    <label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:7px;">{{lastname}}</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="last-name" data-ng-model="employee.lastName" placeholder="Last Name" style="width:240px;"> </div>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="col-sm-4" style="font-weight:600;margin-top:7px;">{{pemail}}</label>
                                    <div class="col-sm-6">
                                        <input type="email" class="form-control" id="email" data-ng-model="employee.email" placeholder="Email" style="width:240px;"> </div>
                                </div>
                                <div class="form-group">
                                    <label for="city" class="col-sm-4" style="font-size:12px;color:red">{{pstate}} </label>
                                    <div class="col-sm-6">
                                        <select ui-select2 id="stateId" ng-model="employee.stateId" data-placeholder="Pick a State" style="width:240px;" ng-disabled="fwstatedisable">
                                            <option value=""></option>
                                            <option data-ng-repeat="state in states" value="{{state.id}}">{{ state.name }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="address" class="col-sm-4" style="font-weight:600;margin-top:7px;">{{paddress}}</label>
                                    <div class="col-sm-6">
                                        <textarea class="form-control" id="address" data-ng-model="employee.address" placeholder="Address" rows="3" style="width:240px;"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="zip" class="col-sm-4" style="font-weight:600;margin-top:7px;">{{ppincode}}</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="zip" data-ng-model="employee.zip" placeholder="Pin code" maxlength="6" style="width:240px;"> </div>
                                </div>
                                <div class="form-group">
                                    <label for="mobile" class="col-sm-4" style="font-weight:600;margin-top:7px;">{{pmobile}} </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="mobile" data-ng-model="employee.mobile" placeholder="Mobile number" maxlength="10" style="width:240px;"> </div>
                                </div>
                                <div class="form-group">
                                    <label for="city" class="col-sm-4" style="font-size:12px;color:red">{{pdistrict}} </label>
                                    <div class="col-sm-6">
                                        <select ui-select2 id="district" ng-model="employee.district" data-placeholder="Pick a District" style="width:240px;">
                                            <option value=""></option>
                                            <option data-ng-repeat="district in districts" value="{{district.id}}">{{ district.name }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <br/>
                        <div align="left">
                            <div>
                                <!--<a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-hide="Created" style="padding:5px 20px;margin-right:10px;">Create </a>

								<a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="Updated" style="padding:5px 20px;margin-right:10px;">Update </a>--><a data-ng-href="/employees" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">{{cancel}}</a> </div>
                        </div>
                    </form>
                </div>
                <br/> </div>
            <div class="tab-pane" id="tab_2">
                <div class="box-body">
                    <br />
                    <form class="form-horizontal" role="form">
                        <div class="row" style="margin:0;padding:0;">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="city" class="col-sm-4" style="color:red">{{Facility_Type}}</label>
                                    <div class="col-sm-6">
                                        <select ui-select2 id="facilitytype" ng-model="employee.facilitytype" data-placeholder="{{Facility_Type}}" style="width:240px;">
                                            <option value=""></option>
                                            <option data-ng-repeat="fs in facilitytypes" value="{{fs.id}}">{{ fs.name }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="city" class="col-sm-4" style="color:red">{{AreaofOperation}} </label>
                                    <div class="col-sm-6">
                                        <select ui-select2 id="areaofoperation" ng-model="employee.areaofoperation" data-placeholder="{{AreaofOperation}}" style="width:240px;">
                                            <option value=""></option>
                                            <option data-ng-repeat="area in areaofoperations" value="{{area.id}}">{{ area.name }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin:0;padding:0;">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="champion" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{Typology}} </label>
                                    <div class="col-sm-6">
                                        <select ui-select2 id="typolog" ng-model="employee.typolog" data-placeholder="{{Typology}}" style="width:240px;" multiple>
                                            <!--											<option value=""></option>-->
                                            <option data-ng-repeat="typology in typologies" value="{{typology.id}}">{{ typology.name }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="city" class="col-sm-4">{{insurancecompany}} </label>
                                    <div class="col-sm-6">
                                        <select ui-select2 id="coempanelled" ng-model="employee.coempanelled" data-placeholder="{{insurancecompany}}" style="width:240px;">
                                            <option value=""></option>
                                            <option value="yes">YES</option>
                                            <option value="no">NO</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin:0;padding:0;">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="champion" class="col-sm-4" style="margin-top:4px;color:red;">{{nooftowncover}} </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="nooftowncover" data-ng-model="employee.nooftowncover" placeholder="{{nooftowncover}}" style="width:240px;"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="champion" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{noofblockcovered}} </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="noofmandal" data-ng-model="employee.noofmandal" placeholder="{{noofblockcovered}}" style="width:240px;"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin:0;padding:0;">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="city" class="col-sm-4">{{corepresentationinhiv}} </label>
                                    <div class="col-sm-6">
                                        <select ui-select2 id="representationinhiv" ng-model="employee.representationinhiv" data-placeholder="{{corepresentationinhiv}}" style="width:240px;">
                                            <option value=""></option>
                                            <option value="yes">YES</option>
                                            <option value="no">NO</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="city" class="col-sm-4">{{stateornationallevel}} </label>
                                    <div class="col-sm-6">
                                        <select ui-select2 id="coamember" ng-model="employee.coamember" data-placeholder="{{stateornationallevel}}" style="width:240px;">
                                            <option value=""></option>
                                            <option value="yes">YES</option>
                                            <option value="no">NO</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin:0;padding:0;">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="city" class="col-sm-4" style="color:red">{{Implements_TI}} </label>
                                    <div class="col-sm-6">
                                        <select ui-select2 id="implementsti" ng-model="employee.implementsti" data-placeholder="{{Implements_TI}}" style="width:240px;">
                                            <option value=""></option>
                                            <option value="yes">YES</option>
                                            <option value="no">NO</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="city" class="col-sm-4" style="color:red">{{noofincome}} </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="noofincome" data-ng-model="employee.noofincome" placeholder="{{noofincome}}" style="width:240px;"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin:0;padding:0;" ng-hide="HideNoOfTis">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="champion" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{nooftiimplemented}} </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="nooftis" data-ng-model="employee.nooftis" placeholder="{{nooftiimplemented}}" ng-change="Rating(employee.nooftis)" style="width:240px;" ng-disabled="nooftis_disable"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <table class="table table-responsive ">
                                        <thead>
                                            <tr>
                                                <!--                                            <th></th><th>AC</th>-->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in tifacilities">
                                                <div class="col-sm-4">
                                                    <td width="35%" style="padding-left:15px;font-weight:600;">{{tirating}} {{$index+1}} </td>
                                                </div>
                                                <div class="col-sm-6">
                                                    <td width="65%">
                                                        <div>
                                                            <select ui-select2="" id="rating" ng-model="item.rating" data-placeholder="{{tirating}} {{$index+1}}" style="width:240px;" ng-change="TIRATING(item.rating)">
                                                                <option value=""></option>
                                                                <option data-ng-repeat="rat in tiratings" value="{{rat.id}}">{{ rat.name }}</option>
                                                            </select> <a type="submit" class="btn btn-default " ng-click="addTIRating()" ng-show="$last"><span class="glyphicon glyphicon-plus-sign" style="color: black;cursor:pointer; font-size:16px;" title="Add"></span></a>
                                                            <!--<a type="submit" class="btn btn-default btn-xs" data-ng-click="removeTIRating($index)" ng-show="$last" ng-hide="tideletebuttonhide"><span class="glyphicon glyphicon-remove-circle" style="color: red;cursor:pointer;" title="Remove"></span></a> -->
<!--                                                            <a type="submit" class="btn btn-danger btn-xs" data-ng-click="DeleteFamilyMember(familymember.id, $index, familymember.beneficiaryid)" ng-hide="tideletebuttonhide" ng-if="tifacilities.length != 0"><span class="glyphicon glyphicon-trash" style="color: white;cursor:pointer; size:50%" title="Delete"></span></a>-->
                                                            <a type="submit" class="btn btn-default " ng-click="DeleteTI(item.id, $index, item.beneficiaryid)" ><span class="glyphicon glyphicon-remove" style="color: black;cursor:pointer; font-size:16px;" title="Delete"></span></a>

                                                        </div>
                                                    </td>
                                                </div>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin:0;padding:0;">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="champion" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red">{{noofnontiimplemented}} </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="noofnonti" data-ng-model="employee.noofnonti" placeholder="{{noofnontiimplemented}}" ng-change="ProjectImp(employee.noofnonti)" style="width:240px;" ng-disabled="noofnontis_disable"> </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <table class="table table-responsive ">
                                        <thead>
                                            <tr> </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="itemnonti in nontifacilities">
                                                <div class="col-sm-4">
                                                    <td style="width:35%;" style="padding-left:15px !important;font-weight:600 !important;">{{nameofprojects}} - {{$index+1}} </td>
                                                </div>
                                                <div class="col-sm-6">
                                                    <td style="width:65%;">
                                                        <!--<div class="input-group">
                                                            
                                                            
                                                            
                                                            <input type="text" class="form-control" id="noofmandal" data-ng-model="itemnonti.rating" placeholder="Name of the Projects Implemented by the CO" style="width:240px;">
                                                            
                                                            
                                                            <span class="input-group-btn" ><button class="btn btn-default"  type="button"  ><span class="glyphicon glyphicon-remove"></span></button>
                                                            </span>
                                                        </div>-->
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" id="noofmandal" data-ng-model="itemnonti.rating" placeholder="Name of the Projects Implemented by the CO" style="width:240px;">
<!--                                         <a class="btn btn-default" type="submit" ng-click="addNONTIRating()" ng-show="$last"><span class="glyphicon glyphicon-plus" title="Add"></span> </a>-->
                                                            
                                                            <a type="submit" class="btn btn-default btn-sm" ng-click="addNONTIRating()" ng-show="$last"><span class="glyphicon glyphicon-plus-sign" style="color: black;cursor:pointer; font-size:16px;" title="Add"></span></a>
                                                         
                                                             <a type="submit" class="btn btn-default btn-sm" ng-click="DeleteNonTI(itemnonti.id, $index, itemnonti.beneficiaryid)" ng-show="$last"><span class="glyphicon glyphicon-remove" style="color: black;cursor:pointer; font-size:16px;" title="Delete"></span></a>
                                                            
<!--                                                             <a type="submit" class="btn btn-danger btn-xs" data-ng-click="DeleteNonTI(itemnonti.id, $index, itemnonti.beneficiaryid)" ng-show="!$last"><span class="glyphicon glyphicon-trash" style="color: black;cursor:pointer; font-size:16px;" title="Delete"></span></a>-->

                                                        </div>
                                                    </td>
                                                </div>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <br/>
                        <div align="left">
                            <div> <a data-ng-href="/employees" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">Cancel</a> </div>
                        </div>
                    </form>
                </div>
                <br/> </div>
            <div class="tab-pane" id="tab_3">
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="champion" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{Registration_Number}} </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="registrationno" data-ng-model="employee.registrationno" placeholder="{{Register_Number}}" style="width:240px;"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-6 control-label" style="font-weight:600;color:red">{{RegistrationRenewalDate}} </label>
                            <div class="col-sm-6">
                                <p class="input-group" style="width:240px;">
                                    <input type="text" id="{{'datepicker' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="employee.registrationdate" is-open="RegistrationRenewal.opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" min-date="dtmax" date-disabled="disabled(date, mode)" close-text="Close"> <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="RegistrationRenewal($event, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="champion" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{pancardno}} </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="pancard" data-ng-model="employee.pancard" placeholder="PAN Card Number" style="width:240px;" maxlength="10"> </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="champion" class="col-sm-6" style="font-weight:600;margin-top:4px;">{{incometaxreturn}} </label>
                            <div class="col-sm-6">
                                <select ui-select2 id="incometaxreturn" ng-model="employee.incometaxreturn" data-placeholder="{{incometaxreturn}}" style="width:240px;">
                                    <option value=""></option>
                                    <option value="yes">YES</option>
                                    <option value="no">NO</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="champion" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{astatus}} </label>
                            <div class="col-sm-6">
                                <select ui-select2 id="astatus" ng-model="employee.astatus" data-placeholder="{{astatus}}" style="width:240px;">
                                    <option value=""></option>
                                    <option data-ng-repeat="status in employeestatuses" value="{{status.id}}">{{ status.name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-6 control-label" style="font-weight:600;color:red">{{Registration_Number}} </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="aregistrationno" data-ng-model="employee.aregistrationno" placeholder="{{Registration_Number}}" ng-disabled="aRegistration" style="width:240px;"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="champion" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{gstatus}} </label>
                            <div class="col-sm-6">
                                <select ui-select2 id="gstatus" ng-model="employee.gstatus" data-placeholder="{{gstatus}}" style="width:240px;">
                                    <option value=""></option>
                                    <option data-ng-repeat="status in employeestatuses" value="{{status.id}}">{{ status.name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-6 control-label" style="font-weight:600;color:red">{{Registration_Number}} </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="gregistrationno" data-ng-model="employee.gregistrationno" placeholder="Registration Number" ng-disabled="gRegistration" style="width:240px;"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="champion" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{fcrastatus}} </label>
                            <div class="col-sm-6">
                                <select ui-select2 id="frcastatus" ng-model="employee.frcastatus" data-placeholder="{{fcrastatus}}
 " style="width:240px;">
                                    <option value=""></option>
                                    <option data-ng-repeat="status in employeestatuses" value="{{status.id}}">{{ status.name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-6 control-label" style="font-weight:600;color:red">{{Registration_Number}} </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="frcaregistrationno" data-ng-model="employee.frcaregistrationno" placeholder="{{Registration_Number}}" ng-disabled="fRegistration" style="width:240px;"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-4 control-label" style="font-weight:600;color:red">{{dateoflastagbm}} </label>
                            <div class="col-sm-6">
                                <p class="input-group" style="width:240px;">
                                    <input type="text" id="{{'datepicker' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="employee.dateoflastabgm" is-open="LastAGBM.opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" max-date="dtmax" date-disabled="disabled(date, mode)" close-text="Close"> <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="LastAGBM($event, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-6 control-label" style="font-weight:600;">{{fcrarenewaldate}} </label>
                            <div class="col-sm-6">
                                <p class="input-group" style="width:240px;">
                                    <input type="text" id="{{'datepicker' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="employee.registrationrenewaldate" is-open="RegistrationRenewal2.opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" min-date="dtmax" date-disabled="disabled(date, mode)" close-text="Close"> <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="RegistrationRenewal2($event, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div style="margin:0;padding:5px;border-bottom:1px solid #f4f4f4;">
                    <h4 style="margin:0;padding:0;font-weight: 600">Statutory Audit Completed for the past Financial Year	
					</h4> </div>
                <br>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="champion" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{ExternalAuditCompleted}} </label>
                            <div class="col-sm-6">
                                <select ui-select2 id="externalaudit" ng-model="employee.externalaudit" data-placeholder="{{ExternalAuditCompleted}}" style="width:240px;">
                                    <option value=""></option>
                                    <option value="yes">YES</option>
                                    <option value="no">NO</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="champion" class="col-sm-6" style="font-weight:600;margin-top:4px;color:red;">{{AuditReportSubmitted}} </label>
                            <div class="col-sm-6">
                                <select ui-select2 id="auditreport" ng-model="employee.auditreport" data-placeholder="{{AuditReportSubmitted}}" style="width:240px;">
                                    <option value=""></option>
                                    <option value="yes">YES</option>
                                    <option value="no">NO</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="champion" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{boardhasdiscuss}} </label>
                            <div class="col-sm-6">
                                <select ui-select2 id="actionplan" ng-model="employee.actionplan" data-placeholder="{{boardhasdiscuss}}" style="width:240px;">
                                    <option value=""></option>
                                    <option value="yes">YES</option>
                                    <option value="no">NO</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6"> </div>
                </div>
                <br/>
                <div style="margin:0;padding:5px;border-bottom:1px solid #f4f4f4;">
                    <h4 style="margin:0;padding:0;font-weight: 600">Elections
					</h4> </div>
                <br>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-4 control-label" style="font-weight:600;color:red">{{dateoflastelection}} </label>
                            <div class="col-sm-6">
                                <p class="input-group" style="width:240px;">
                                    <input type="text" id="{{'datepicker' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="employee.electiondate" is-open="LastElection.opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" max-date="dtmax" date-disabled="disabled(date, mode)" close-text="Close"> <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="LastElection($event, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-6 control-label" style="font-weight:600;color:red">{{totalnoofmembers}} </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="electionbody" data-ng-model="employee.electionbody" placeholder="{{totalnoofmembers}}" maxlength="10" style="width:240px;"> </div>
                        </div>
                    </div>
                </div>
                <br/>
                <br/>
                <div align="left">
                    <div> <a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-hide="Created" style="padding:5px 20px;margin-right:10px;">Create </a> <a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="Updated" style="padding:5px 20px;margin-right:10px;">Update </a> <a data-ng-href="/employees" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">Cancel</a> </div>
                </div>
            </div>
            <!--Tab_3-->
            <br/> </div>
    </div>
    <!-- /.box-body -->
    <!-- /.box-footer -->
</div>
<!-- /.box -->
<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>
<validationmodal title1="Alert" visible="showValidation"> {{TabName}}
    <br> {{validatestring1}} </validationmodal>
<validationmodal title1="Alert" visible="showUniqueValidation"> {{validatestring2}} </validationmodal>
<script type="text/ng-template" id="template/Message.html">
    <div class="modal-header"> </div>
    <div class="modal-body"> {{divfacility}} {{hasbeenupdated}} </div>
    <div class="modal-footer"> </div>
</script>

<script type="text/ng-template" id="template/AlertModal.html" class="modal" class="modal fade" role="dialog">
    <div class="modal-header">
        <h4 class="modal-title">{{modalTitle}}</h4>
            </div>
    <div class="modal-body"> {{message}} </div>
</script>
