<style>
    .stylelink {
        padding: 3px 10px;
        background: transparent;
        color: #333;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    }
    
    .stylelink.active {
        padding: 3px 10px;
        background: #b71c1c;
        color: #fff;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    }
    
    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }
    
    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        background-color: #fff;
         border-bottom: 1px solid #e6e6e6;
    }
    
    #wrapper div {
        display: table-cell;
        height: auto;
    }
    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/
    
    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
        }
        .stylelink.active {
            font-size: 12px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
    }

</style>

<div style="width:100%;height:auto;background:#f8fafb;">
    <div id="wrapper">
        <div style="text-align:center;padding: 20px 0px;">
            <a class="stylelink" href="/pillars"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">Pillars</span></a>
        </div>
        <div style="text-align:center;padding: 20px 0px;">
            <a class="stylelink" href="/sdocumenttypes"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">Social Protection</span></a>
        </div>
        <div style="text-align:center;padding: 20px 0px;">
            <a class="stylelink active" href="/fdocumenttypes"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">Financial Security</span></a>
        </div>
        <div style="text-align:center;padding: 20px 0px;">
            <a class="stylelink" href="/applicationstage"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">Application Stage</span></a>
        </div>
        <div style="text-align:center;padding: 20px 0px;">
            <a class="stylelink" href="/todostatuses"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">To Do Status</span></a>
        </div>
    </div>

</div>


<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-color:#b71c1c;margin-top:5px;">
    <div class="box-header with-border">
        <h3 class="box-title">Financial Security</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <div align="left">
            <a data-ng-href="/fdocumenttypes/create" class="btn btn-primary btn-sm btn-flat" role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()">Add New </a>
        </div>
        <br/>

        <form class="form-horizontal" role="form" data-ng-show="showForm()">
			<p align="center">All <span style="color:red">*</span> fields are mandatory</p>
			<br/>
            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;">Financial Security <span style="color:red">*</span></label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="name" data-ng-model="financialdocumenttype.name" placeholder="Financial Security" pattern='[A-Za-z\\s]*'>

                        </div>

                    </div>

                    <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:0px;">Multiple Flag <span style="color:red">*</span></label>
                        <div class="col-sm-4">
                            <input type="checkbox" id="name" data-ng-model="financialdocumenttype.multipleflag">

                        </div>

                    </div>
                </div>
                <div class="col-sm-6"></div>
            </div>
            <br/>
            <br/>
            <br/>

            <div align="left">
                <div>
                    <a class="btn btn-success btn-sm btn-flat" type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView()" ng-disabled="submitDisable">Create </a>

                    <a class="btn btn-success btn-sm btn-flat" type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView()" ng-disabled="submitDisable">Update </a>

                    <a data-ng-href="/fdocumenttypes" class="btn btn-danger btn-sm btn-flat" role="button">Cancel</a>
                </div>
            </div>
        </form>

        <div data-ng-hide="hideSearchFilter()">

            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6" style="padding-top:5px;">
                    <span>Show</span>
                    <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                    </select>
                    <span>Entries</span>
                </div>
                <div class="col-sm-6">
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8">
                            <form role="form">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for..." style="z-index:0; border-top-left-radius: 15px;border-bottom-left-radius: 15px;" data-ng-model="Search">
                                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" style="border-top-right-radius: 15px;border-bottom-right-radius: 15px;"><span class="glyphicon glyphicon-search"></span></button>
                                    </span>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <br />



        <div data-ng-hide="showForm()">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="width:50px;">#</th>
                        <th>Financial Document Type</th>
                        <th style="width:100px;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="documenttype in financialdocumenttypes | filter: Search |itemsPerPage:pageSize" current-page="currentpage">
                        <td>{{ documenttype.index }}</td>
                        <td>{{documenttype.name}}</td>

                        <td><a data-ng-href="/fdocumenttypes/{{documenttype.id}}"><span class="glyphicon glyphicon-edit" title="Edit" style="color: black;"></span></a>&nbsp;
                            <a confirm-button="Delete(documenttype.id)" message="Are you sure? you want to delete?"><span class="glyphicon glyphicon-trash" style="color: red;cursor:pointer;" title="Bin"></span></a>&nbsp;
						</td>
                    </tr>
                </tbody>
            </table>

            <div align="right">
                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
				</dir-pagination-controls>

            </div>
        </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->


<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
	<p>{{message}}</p>
</modal2>

<validationmodal title1="Alert!!!" visible="showValidation">
	{{validatestring1}}
</validationmodal>



