<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-color:#b71c1c;" data-ng-init="toggleLoading()">
	<div class="box-header with-border">
		<h3 class="box-title">{{memberlist}}</h3>
	</div>
	<!-- /.box-header -->
	<!-- form start -->

	<div class="box-body">

		<div data-ng-hide="hideSearchFilter()">

			<div class="row" style="margin:0;padding:0;">
				<div class="col-sm-6" style="padding-top:5px;">
					<span>{{show}}</span>
					<select ng-model="pageSize" data-placeholder="Show Entries">
						<option value="5">5</option>
						<option value="10">10</option>
						<option value="15">15</option>
					</select>
					<span>{{entry}}</span>
				</div>
				<div class="col-sm-6">
					<div class="row" style="margin:0;padding:0;">
						<div class="col-sm-4"></div>
						<div class="col-sm-8">
							<form role="form">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="{{searchfor}}..." style="z-index:0; border-top-left-radius: 15px;border-bottom-left-radius: 15px;" data-ng-model="searchPart">
									<span class="input-group-btn">
                         <button class="btn btn-default" type="button" style="border-top-right-radius: 15px;border-bottom-right-radius: 15px;"><span class="glyphicon glyphicon-search"></span>
									</button>
									</span>
								</div>
							</form>

						</div>
					</div>
				</div>

			</div>
		</div>
		<br />


		<div data-ng-hide="showForm()">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>{{membername}}</th>
						<th>{{membercode}}</th>
						<th>{{membermobileno}}</th>
						<th>{{action}}</th>
						<!--<th></th>-->
					</tr>
				</thead>
				<tbody>
					<tr dir-paginate="partner in beneficiaries | filter:searchPart |itemsPerPage:pageSize">
						<td>{{ partner.index }}</td>
						<td>{{ partner.fullname }}</td>
						<td>{{ partner.avahanid }}</td>
						<td>{{ partner.phonenumber }}</td>
						<td>
							<!--                            <a data-ng-click="Delete(partner.id)"><span class="glyphicon glyphicon-open" style="color: black;cursor:pointer;" title="Unarchive Member"></span></a>&nbsp;
-->
							<!--                            <a data-ng-href="/beneficiaries" data-ng-click="Delete(partner.id)"><span class="glyphicon glyphicon-trash" style="color: red;" title="Bin"></span></a>&nbsp;-->

							<a confirm-button="Delete(partner.id)" message="Are you sure? you want to unarchive this member?"><span class="glyphicon glyphicon-save" style="color: #333;cursor:pointer;" title="Unarchive"></span></a>&nbsp;
						</td>
					</tr>
				</tbody>
			</table>
			<div align="right">
				<dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
				</dir-pagination-controls>
			</div>
		</div>

	</div>
	<!-- /.box-body -->
	<div class="box-footer">

	</div>
	<!-- /.box-footer -->
</div>
<!-- /.box -->
