<style>
    /*
    .stylelink {
        padding: 3px 10px;
        background: transparent;
        color: #333;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    }
    
    .stylelink.active {
        padding: 3px 10px;
        background: #b71c1c;
        color: #fff;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    } */

    .stylelink {
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }

    .stylelink.active {
        color: #4a4d72;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;
        border-bottom: 4px solid #ec0b6d;
    }

    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }

    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 4px solid #f4f4f4;
        background-color: #fff;
    }

    #wrapper div {
        display: table-cell;
        height: auto;
    }

    .sell {
        position: relative;
        min-width: 45px;
    }

    .sell:after {
        content: url(images/piclinks/down-arrow.png);
        font: 17px "Consolas", monospace;
        color: #333;
        top: 5px;
        margin-left: -22px;
        padding: 0 0 2px;
        position: absolute;
        pointer-events: none;
    }

    .sell select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        /*        max-width: 320px;*/
        height: 32px;
        float: left;
        padding: 0px 7px;
        font-size: 14px;
        line-height: 1.75;
        color: #878993;
        border-radius: 4px;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #d5d7df;
        -ms-word-break: normal;
        word-break: normal;
    }

    d-break: noArmal;

    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/

    /*
    .nav-tabs-custom>.nav-tabs>li {
        width: 19% !important;
    }
*/

    .nav-tabs-custom>.nav-tabs>li.active {
        /* border-top-color: #3c8dbc; */
        /* border-top-color: #cc3535; */
        width: 19%;
    }

    .nav-tabs-custom>.nav-tabs>li {
        border-top: 3px solid transparent;
        margin-bottom: -2px;
        /* margin-right: 5px; */
        width: 19%;
    }

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 5px 10px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 5px 10px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        .nav-tabs-custom>.nav-tabs>li {
            position: relative;
            display: block;
            padding: 10px;
            text-align: center;
            width: 180px;
        }
        .space {
            padding: 5px 0px 5px 0px;
        }
    }

</style>

<div style="width:100%;height:auto;background:#ffffff;margin-top:12px;">
    <div id="wrapper">
        <div style="text-align:center;">
            <a class="stylelink" href="/LangHhList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">HH LABEL LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink active" href="/genders-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">GENDER</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/occupations-list "><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">OCCUPATION</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/castes-list "><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">CASTE</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/religions-list "><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">RELIGION</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/migrants-list "><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">MIGRANT</span></a>
        </div>

    </div>

</div>
<div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">

        <div style="text-align:center;">
            <a class="stylelink" href="/bplstatus-list "><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">BPL STATUS</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/relationwithhh-list "><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">RELATION WITH HH</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/literacylevel-list "><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">LITERACY LEVEL</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/nameofschools-list "><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">NAME OF SCHOOL</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/nameoffactories-list "><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">NAME OF FACTORY</span></a>
        </div>
    </div>

</div>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <!--    <div class="box-header with-border" style="padding:0;">-->
    <!--        <h3 class="box-title">Gender</h3>-->
    <!--    </div>-->
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <br/>
        <div class="row padding">
            <div class="col-sm-5"></div>
            <div class="col-sm-7">
                <div class="col-sm-2"></div>
                <div data-ng-hide="hideSearchFilter()" class="col-sm-1" style="text-align:left;padding-right:0px;padding-left:0px;">
                    <label>Show</label>
                    <div class="sell">
                        <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                    </div>
                    <!--					<span>Entries</span>-->
                </div>
                <div data-ng-hide="hideSearchFilter()" class="col-sm-5" style="padding-right:0px;padding-top:26px">
                    <!--
            <div class="row" style="margin:0;padding:0;">
						<div class="col-sm-5"></div>
						<div class="col-sm-7">
-->
                    <div class="space">
                        <form role="form">
                            <div class="input-group">
                                <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-left-radius:4px;border-bottom-left-radius: 4px;border-color:#d5d7df;background:none;border-right:none;"><span class="glyphicon glyphicon-search"></span></button>
                                </span>
                                <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search " style="z-index:0;border-left:none;border-color:#d5d7df;border-top-right-radius:4px;border-bottom-right-radius: 4px;" data-ng-model="Search">
                            </div>
                        </form>
                    </div>

                    <!--
						</div>
					</div>
-->
                </div>
                <div class="col-sm-2" style="padding-top:26px;">
                    <a data-ng-href="/gender/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-right:10px;">Add New </a>
                </div>
            </div>

        </div>
        <!--        <br/>-->

        <form class="" role="form" data-ng-show="showForm()">
            <p align="center" style="color:#ec0b6d">All fields in * are mandatory</p>
            <br/>

            <!--
            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name" id="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Language </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="language" data-ng-model="gender.language" data-placeholder="Pick a language" style="width:100%;" data-ng-disabled="!isCreateView()">
								<option value=""></option>
								<option data-ng-repeat="language in genlanguages" value="{{language.id}}">{{ language.name }}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6"></div>
            </div>

            <div class="row" style="margin:0;padding:0;" ng-hide="showenglishLang">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name" id="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Gender English</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="genderenglish" data-ng-model="gender.parentId" data-placeholder="Pick a Value" style="width:100%;" data-ng-disabled="!isCreateView()">
								<option value=""></option>
								<option data-ng-repeat="gender in englishgenders" value="{{gender.id}}">{{ gender.name }}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6"></div>
            </div>
-->

            <div class="row padding4">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name" id="name" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Gender<sup>*</sup> </label>
                        <div class="">
                            <input type="text" class="form-control" id="name" data-ng-model="gender.name" placeholder="Gender" pattern='[A-Za-z\\s]*'>

                        </div>
                    </div>
                </div>
                <!--                <div class="col-sm-6"></div>-->
            </div>
            <br/>
            <br/>
            <br/>
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs" align="center">
                    <li style="cursor:pointer;" ng-repeat="tablanguage in tablanguages" ng-class="{'active': tablanguage.active == true}" ng-click="tabClick(tablanguage)"><a data-target="#tab_1" data-toggle="tab">{{tablanguage.name}}</a>
                    </li>
                </ul>
            </div>

            <div class="tab-content">
                <div class="tab-pane active" id="tab_1" ng-if="tablanguages[currValue].visible">
                    <div class="row padding4">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="name" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Gender<sup>*</sup> </label>
                                <div class="">
                                    <input type="text" class="form-control" id="nameone" data-ng-model="rowArray[currValue].name" placeholder="Gender">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div align="right">
                <div>
                    <a data-ng-href="/genders-list" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">Cancel</a>

                    <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:30px;">Create </a>

                    <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:30px;">Update </a>
                </div>
            </div>
        </form>

        <div data-ng-hide="hideSearchFilter()">

            <!--
            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6" style="padding-top:5px;">
                    <span>Show</span>
                    <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <span>Entries</span>
                </div>
                <div class="col-sm-6">
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-5"></div>
                        <div class="col-sm-7">
                            <form role="form">
                                <div class="input-group">
                                    <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search " style="z-index:0;border-right:none;border-color:#e1e8ee;border-top-left-radius:4px;border-bottom-left-radius: 4px;" data-ng-model="Search">
                                    <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-right-radius:4px;border-bottom-right-radius: 4px;border-color:#e1e8ee;background:none;border-left:none;"><span class="glyphicon glyphicon-search"></span></button>
                                    </span>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
-->
        </div>
        <br />



        <div data-ng-hide="showForm()" class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th ng-click="changeSorting('index')" title="#" style="cursor:pointer;padding-left:4.3%;;">S NO.
                            <span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('index')"></i></span>
                        </th>

                        <th ng-click="changeSorting('language')" title="LANGUAGE" style="cursor:pointer;">LANGUAGE
                            <span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('language')"></i></span>
                        </th>
                        <th ng-click="changeSorting('name')" title="NAME" style="cursor:pointer;">NAME
                            <span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('name')"></i></span>
                        </th>
                        <th style="width:100px;">ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="gender in genders | filter: Search | orderBy:sort.active:sort.descending |itemsPerPage:pageSize">
                        <td style="padding-left:4.3%;;">{{ gender.index }}</td>
                        <td data-ng-init="language = getLanguage(gender.language)">{{language.name}}</td>
                        <td>{{gender.id}} - {{gender.name}}</td>

                        <td>
                            <a data-ng-href="/gender/edit/{{gender.id}}">
                                <!--                            <span class="glyphicon glyphicon-pencil" title="Edit" ></span>-->
                                <img src="images/piclinks/edit.png" width="16px" title="Edit" />
                            </a>&nbsp;&nbsp;
                            <!--                            <a style="color:#b7b8c8;">|</a>&nbsp;&nbsp;-->
                            <a confirm-button="Delete(gender.id)" message="Are you sure? you want to delete?">
                                <!--                                <span class="glyphicon glyphicon-remove " style="cursor:pointer;" title="Bin"></span>-->
                                <img src="images/piclinks/cross.png" width="16px" style="cursor:pointer;" title="Bin" />
                            </a>&nbsp;
                    </tr>
                </tbody>
            </table>
            <br/>
            <div class="padding7" align="right">
                <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true">
                </dir-pagination-controls>

            </div>
        </div>

    </div>
    <br/>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->




<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert!!!" visible="showValidation">
    {{validatestring1}}
</validationmodal>
