<style>
    .stylelink {
        padding: 3px 10px;
        background: transparent;
        color: #333;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    }
    
    .stylelink.active {
        padding: 3px 10px;
        background: #b71c1c;
        color: #fff;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    }
    
    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }
    
    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        background-color: #fff;
        border-bottom: 1px solid #e6e6e6;
    }
    
    #wrapper div {
        display: table-cell;
        height: auto;
    }
    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/
    
    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
        }
        .stylelink.active {
            font-size: 12px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
    }

</style>

<div style="width:100%;height:auto;background:#f8fafb;">
    <div id="wrapper">
        <div style="text-align:center;padding: 20px 0px;">
            <a class="stylelink" href="/groupmeetingtopics"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">Topics</span></a>
        </div>
        <div style="text-align:center;padding: 20px 0px;">
            <a class="stylelink active" href="/groupmeetingevents"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">Events</span></a>
        </div>
    </div>

</div>


<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-color:#b71c1c;margin-top:5px;">
    <div class="box-header with-border">
        <h3 class="box-title">Group Meeting Events</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <div align="left">
            <a data-ng-href="/groupmeetingevents/create" class="btn btn-primary btn-sm btn-flat" role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()">Add New </a>
        </div>
        <br/>

        <form class="form-horizontal" role="form" data-ng-show="showForm()">
            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;">Event Name</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="name" data-ng-model="groupmeetingevent.name" placeholder="Event Name" pattern='[A-Za-z\\s]*'>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="salesmanager" class="col-sm-4" style="font-weight:600;margin-top:5px;">Topic</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="sales-area" ng-model="groupmeetingevent.topicId" data-placeholder="Pick a Topic" style="width:100%">
                                <option value=""></option>
                                <option data-ng-repeat="groupmeetingevent in groupmeetingevents" value="{{groupmeetingevent.id}}">{{ groupmeetingevent.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6"></div>
            </div>
            <br/>
            <br/>
            <br/>

            <div align="left">
                <div>
                    <a class="btn btn-success btn-sm btn-flat" type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView()">Create </a>

                    <a class="btn btn-success btn-sm btn-flat" type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView()">Update </a>


                    <a data-ng-href="/groupmeetingevents" class="btn btn-danger btn-sm btn-flat" role="button">Cancel</a>
                </div>
            </div>

        </form>

        <div data-ng-hide="hideSearchFilter()">

            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6" style="padding-top:5px;">
                    <span>Show</span>
                    <select ng-model="pageSize" data-placeholder="Show Entries">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                    </select>
                    <span>Entries</span>
                </div>
                <div class="col-sm-6">
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8">
                            <form role="form">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for..." style="z-index:0; border-top-left-radius: 15px;border-bottom-left-radius: 15px;" data-ng-model="searchgroupmeetingevent">
                                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" style="border-top-right-radius: 15px;border-bottom-right-radius: 15px;"><span class="glyphicon glyphicon-search"></span></button>
                                    </span>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <br />



        <div data-ng-hide="showForm()">
            <table class="table table-bordered table-striped">

                <thead>
                    <tr>
                        <th style="width:50px;">#</th>
                        <th>Event Name</th>
                        <th>Topic Name</th>
                        <th style="width:100px;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="groupmeetingevent in groupmeetingevents | filter: searchgroupmeetingevent |itemsPerPage:pageSize">
                        <td>{{ groupmeetingevent.index }}</td>
                        <td>{{groupmeetingevent.name}}</td>
                        <td data-ng-init="topic = getTopic(groupmeetingevent.topicId)">{{topic.name}}</td>


                        <td><a data-ng-href="/groupmeetingevents/{{groupmeetingevent.id}}"><span class="glyphicon glyphicon-edit" title="Edit" style="color: black;"></span></a>&nbsp;
                            <a data-ng-href="/groupmeetingevents" data-ng-click="Delete(groupmeetingevent.id)"><span class="glyphicon glyphicon-trash" title="Bin" style="color: red;"></span></a>&nbsp; </td>
                    </tr>
                </tbody>
            </table>

            <div align="right">
                <dir-pagination-controls max-size="52" direction-links="true" boundary-links="true">

                </dir-pagination-controls>

            </div>
        </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->





<!--<div style="width:100%; height:auto; min-height:500px;background: #FFFFF0;  border: 1px solid #E6E6E6; margin: 5px auto; padding:5px;">
    <div class="row" style="margin:0;padding:0;">

        <div class="col-sm-5">
            <h4 style="font-family: Arial; font-weight: bold;font-size:19px;">Group Meeting Events</h4>
        </div>

        <div class="col-sm-7" style="padding-left: 65px;">
            <a data-ng-href="/groupmeetingevents/create" class="btn btn-primary btn-sm" role="button" data-ng-hide="hideCreateButton()"><span class="glyphicon glyphicon-plus"></span> Add New</a>
        </div>

    </div>

    <br/>




    <form class="form-horizontal" role="form" data-ng-show="showForm()">
        <div class="form-group">
            <label for="name" class="col-sm-4 control-label">Event Name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="name" data-ng-model="groupmeetingevent.name" placeholder="Event Name" pattern='[A-Za-z\\s]*'>
            </div>
        </div>

        <div class="form-group">
            <label for="salesmanager" class="col-sm-4 control-label" style="font-weight:600;margin-top:-4px;">Topic</label>
            <div class="col-sm-8">
                <select ui-select2 id="sales-area" ng-model="groupmeetingevent.topicId" data-placeholder="Pick a Topic" style="width:260px">
                    <option value=""></option>
                    <option data-ng-repeat="groupmeetingevent in groupmeetingevents" value="{{groupmeetingevent.id}}">{{ groupmeetingevent.name }}</option>
                </select>
            </div>
        </div>





        <div class="form-group" align="center">
            <div>
                <a class="btn btn-success btn-sm" type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView()"><span class="glyphicon glyphicon-ok"></span> Create </a>

                <a class="btn btn-success btn-sm" type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView()"><span class="glyphicon glyphicon-ok"></span> Update </a>


                <a data-ng-href="/groupmeetingevents" class="btn btn-info btn-sm" role="button"><span class="glyphicon glyphicon-remove"></span> Cancel</a>
            </div>
        </div>





    </form>


    <div data-ng-hide="hideSearchFilter()">
        <form role="form">
            <div class="row">
                <div class="col-lg-offset-8 col-lg-4">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for..." style="z-index:0; border-top-left-radius: 15px;border-bottom-left-radius: 15px;" data-ng-model="searchgroupmeetingevent">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button" style="border-top-right-radius: 15px;border-bottom-right-radius: 15px;"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <br />

    <div data-ng-hide="showForm()">
        <table class="table table-bordered table-striped">

            <thead>
                <tr>
                    <th>#</th>
                    <th>Event Name</th>
                    <th>Topic Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="groupmeetingevent in groupmeetingevents | filter: searchgroupmeetingevent |itemsPerPage:5">
                    <td>{{ groupmeetingevent.index }}</td>
                    <td>{{groupmeetingevent.name}}</td>
                    <td data-ng-init="topic = getTopic(groupmeetingevent.topicId)">{{topic.name}}</td>


                    <td><a data-ng-href="/groupmeetingevents/{{groupmeetingevent.id}}"><span class="glyphicon glyphicon-edit" title="Edit" style="color: black;"></span></a>&nbsp;
                        <a data-ng-href="/groupmeetingevents" data-ng-click="Delete(groupmeetingevent.id)"><span class="glyphicon glyphicon-trash" title="Bin" style="color: red;"></span></a>&nbsp; </td>
                </tr>
            </tbody>
        </table>

        <div align="right">
            <dir-pagination-controls max-size="52" direction-links="true" boundary-links="true">

            </dir-pagination-controls>

        </div>
    </div>
</div>-->
