<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 30px 10px 15px 0px;
        padding-left: 0px;
        /*        border-bottom: 4px solid #e72e5a;*/
    }
    
    .tht:hover {
        color: blue;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
/*        border-bottom: 1px solid #e6e6e6;*/
    }
    
 .sell {
        position: relative;
        min-width: 45px;
    }
    
    .sell:after {
        content: url(images/piclinks/down-arrow.png) ;
        font: 17px "Consolas", monospace;
        color: #333;
        top: 5px;
        margin-left: -22px;
        padding: 0 0 2px;
        position: absolute;
        pointer-events: none;
    }
    
    .sell select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        /*        max-width: 320px;*/
        height: 32px;
        float: left;
        padding: 0px 7px;
        font-size: 14px;
        line-height: 1.75;
        color: #878993;
        border-radius: 4px;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #d5d7df;
        -ms-word-break: normal;
        word-break: normal;
    }
    
    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 10px 20px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 10px 20px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        .space {
            padding: 5px 0px 5px 0px;
        }
    }
    
    .inactive {
        color: #dddddd;
        pointer-events: none;
        cursor: default;
    }
    
    .inactive1 {
        color: #dddddd;
        pointer-events: none;
        cursor: default;
    }

</style>

<style>
    th {
        cursor: pointer;
    }
    
    {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }
    .smright2txt{
        padding-top: 0.4em;
    }
    .tp{
        margin-top: -1.4em;
    }
    .sp{
        margin-right: -15px;
    }

</style>
<!--
<script>
table th.active {color: blue;}
$(document).ready(function(){
    $("#rowClick > th").click(function(){
        $(this).toggleClass("active");
    });
});
</script>
-->
<!--
<script type="text/javascript">
    var sortingOrder = 'name';
</script>
-->

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;" data-ng-init="toggleLoading()">
    <div id="wrapper">
        <div class="stylelink active box-header with-border" style="">
            <h3 class="box-title" style="font-weight:600;">{{HHLanguage.houseHoldList}}</h3>
        </div>
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <!--
        <div align="left">
            <a data-ng-href="/members/create" class="btn btn-primary btn-sm " role="button">{{addnew}} </a>
        </div>
-->
        <br/>

        <div data-ng-hide="hideSearchFilter()" style="padding:5px;">

            <div class="row" style="margin:0;padding:0;">

                <div class="col-sm-5" ng-if="Showforsite1">
                    <div class="col-sm-6 sp">
                        <div class="form-group">
                            <label for="maritalstatus">{{HHLanguage.statusFilter}}<sup>*</sup> </label>
                            <div>
                                <select ui-select2="" id="maritalstatus" data-ng-model="status" data-placeholder="{{HHLanguage.statusFilter}}" style="width:100%">
                                    <option value=""></option>
                                    <option value="active">Active</option>
                                    <option disabled>Archive</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 sp">
                        <div class="form-group">
                            <label for="maritalstatus">{{HHLanguage.SHGFilter}}<sup>*</sup> </label>
                            <div>
                                <select ui-select2="" id="maritalstatus" data-ng-model="obj1.shgId" data-placeholder="{{HHLanguage.SHGFilter}}" style="width:100%">
                                    <option value=""></option>
                                    <option ng-repeat="shg in shgs" value="{{shg.id}}">{{shg.groupName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 sp">
                        <div class="form-group">
                            <label for="maritalstatus">{{HHLanguage.hfFilter}}<sup>*</sup> </label>
                            <div>
                                <select ui-select2="" id="maritalstatus" data-ng-model="obj.HfId" data-placeholder="{{HHLanguage.hfFilter}}" style="width:100%">
                                    <option value=""></option>
                                    <option data-ng-repeat="user in users" value="{{user.id}}">{{ user.name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
<!--                <div >-->
                    <div class="col-sm-5" ng-if="hideforHf">
                           <div class="col-sm-6 sp">
                <div class="form-group">
                    <label for="maritalstatus" class="" style="">{{HHLanguage.statusFilter}}<sup>*</sup> </label>
                    <div class="">
                        <select ui-select2="" id="maritalstatus" data-ng-model="status" data-placeholder="{{HHLanguage.statusFilter}}" style="width:100%">
                            <option value=""></option>
                            <option value="active">Active</option>
                            <option disabled>Archive</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 sp">
                <div class="form-group">
                    <label for="maritalstatus" class="" style="">{{HHLanguage.SHGFilter}}<sup>*</sup> </label>
                    <div class="">
                        <select ui-select2="" id="maritalstatus" data-ng-model="obj1.shgId" data-placeholder="{{HHLanguage.SHGFilter}}" style="width:100%">
                            <option value=""></option>
                            <option ng-repeat="shg in shgs" value="{{shg.id}}">{{shg.groupName}}</option>
                        </select>
                    </div>
                </div>
            </div>
                    </div>
<!--                </div>-->
        <br/>
                <div class="col-sm-7">
                    <div data-ng-hide="hideSearchFilter()" class="col-sm-1  col-md-1 tp " style=" padding-right:0px;padding-left:0px;">
                        <label class="showlabel">{{HHLanguage.show}}</label>
                        <div class="sell">
                            <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                        <!--					<span>Entries</span>-->
                    </div>

                    <div data-ng-hide="hideSearchFilter()" class="col-sm-5 col-md-5 smright2txt" style="padding-right:0px;">
                        <div class="space">
                            <div class="input-group">
                                <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-left-radius:4px;border-bottom-left-radius: 4px;border-color:#d5d7df;background:none;border-right:none;"><span class="glyphicon glyphicon-search"></span></button>
                                </span>
                                <input type="text" id="Search" class="form-control ng-pristine ng-valid" placeholder="{{HHLanguage.search}}" style="z-index:0;border-left:none;border-color:#d5d7df;border-top-right-radius:4px;border-bottom-right-radius: 4px;" data-ng-model="searchInput" focus="someFocusVariable">

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2 col-md-2  smright smright2txt">
                        <a data-ng-href="" class="btn btn-success btn-sm " role="button" ng-click="exportData()" style="padding:5px 20px;margin-right:10px;color:#ffffff;"><img src="images/export-icon.png">&nbsp;&nbsp;{{HHLanguage.exportData}}</a>
                    </div>

                    <div class="col-sm-2  col-md-2  smright2txt" style="margin-left:1%;">
                        <a data-ng-href="/household/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-right:10px;" ng-if="hideAddBtn">{{HHLanguage.addNew}} </a>
                    </div>
                    <!--
                <div class="col-sm-6" style="padding-top:5px;">
                    <span>{{show}}</span>
                    <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <span>{{entry}}</span>
                </div>
                <div class="col-sm-6">
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8">
                            <form role="form">
                                <div class="input-group">
                                    <input type="text" id="Search" class="form-control ng-pristine ng-valid" placeholder="Search " style="z-index:0;border-radius:20px;width:140%;" data-ng-model="searchPart">
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
-->
                </div>
            </div>
        </div>
<!--        <br />-->
        <div class="row" ng-if="Showforsite1">
            <!--
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="maritalstatus" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{HHLanguage.statusFilter}} </label>
                    <div class="col-sm-6">
                        <select ui-select2="" id="maritalstatus" data-ng-model="status" data-placeholder="{{HHLanguage.statusFilter}}" style="width:100%">
                            <option value=""></option>
                            <option value="active">Active</option>
                            <option disabled>Archive</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="maritalstatus" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{HHLanguage.SHGFilter}} </label>
                    <div class="col-sm-6">
                        <select ui-select2="" id="maritalstatus" data-ng-model="obj1.shgId" data-placeholder="{{HHLanguage.SHGFilter}}" style="width:100%">
                            <option value=""></option>
                            <option ng-repeat="shg in shgs" value="{{shg.id}}">{{shg.groupName}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="maritalstatus" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{HHLanguage.hfFilter}} </label>
                    <div class="col-sm-6">
                        <select ui-select2="" id="maritalstatus" data-ng-model="obj.HfId" data-placeholder="{{HHLanguage.hfFilter}}" style="width:100%">
                            <option value=""></option>
                            <option data-ng-repeat="user in users" value="{{user.id}}">{{ user.name }}</option>
                        </select>
                    </div>
                </div>
            </div>
-->
        </div>

<!--
        <div class="row" ng-if="hideforHf">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="maritalstatus" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{HHLanguage.statusFilter}} </label>
                    <div class="col-sm-6">
                        <select ui-select2="" id="maritalstatus" data-ng-model="status" data-placeholder="{{HHLanguage.statusFilter}}" style="width:100%">
                            <option value=""></option>
                            <option value="active">Active</option>
                            <option disabled>Archive</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="maritalstatus" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{HHLanguage.SHGFilter}} </label>
                    <div class="col-sm-6">
                        <select ui-select2="" id="maritalstatus" data-ng-model="obj1.shgId" data-placeholder="{{HHLanguage.SHGFilter}}" style="width:100%">
                            <option value=""></option>
                            <option ng-repeat="shg in shgs" value="{{shg.id}}">{{shg.groupName}}</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
        <br/>
-->
        <style>
            table,
th,
td {
    fill: #262d57;
    font-size: 14px;
}
th {
    background-color: #d5d7df;
    font-weight: normal;
}
tr {
    background-color: White;
    color: #262d57;
    font-size: 10px;
}
        </style>
        <div data-ng-hide="showForm()" class="table-responsive">
            <table class="table">
                <thead>
                    <tr id="rowClick">
                        <th style="padding-left:34px;width:100px;">S NO.</th>
                        <th title="{{HHLanguage.houseHoldId}}" ng-click="changeSorting('HHId')" style="width:150px;">{{HHLanguage.houseHoldId | uppercase}}<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('HHId')"></i></span></th>
                        <th title="{{HHLanguage.noOfMembersInHH}}" ng-click="changeSorting('noOfMembersDisplay')" style="width:274px;">{{HHLanguage.noOfMembersInHH | uppercase}}<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('noOfMembersDisplay')"></i></span></th>
                        <th title="{{HHLanguage.nameOfHeadOfHH}}" ng-click="changeSorting('nameOfHeadInHH')" style="width:227px;">{{HHLanguage.nameOfHeadOfHH | uppercase}}<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('nameOfHeadInHH')"></i></span></th>

                        <th title="{{HHLanguage.SHGToWhichAnyMember}}" ng-click="changeSorting('ssgThisHHBelongs')" style="width:225px;">{{HHLanguage.SHGToWhichAnyMember | uppercase}}<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('ssgThisHHBelongs')"></i></span></th>

                        <th title="{{HHLanguage.hf}}" ng-click="changeSorting('assignedTo')" ng-if="Showforsite" style="width:138px;">{{HHLanguage.hf | uppercase}}<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('assignedTo')"></i></span></th>

                        <th style="width:10%;">{{HHLanguage.action | uppercase}}</th>
                    </tr>
                </thead>
                <tbody id="bnbody">
                    <tr dir-paginate="household in households | search:searchInput:filterFields | orderBy:sort.active:sort.descending | itemsPerPage:pageSize" pagination-id="zonesid" style="color:{{household.backgroundcolor}}">
                        <td style="padding-left:34px;">{{ household.index }}</td>
                        <td>{{ household.HHId }}</td>
                        <td>{{ household.noOfMembersDisplay }}</td>
                        <td>{{ household.nameOfHeadInHH }}</td>
                        <td>{{ household.shgBelongsName }}</td>
                        <td ng-if="Showforsite">{{ household.assignedTo }}</td>
                        <td>
                            <a data-ng-href="/household/edit/{{household.id}}" ng-if="hideAddBtn"><img title="{{HHLanguage.edit}}" src="images/piclinks/edit.png" width="16px;"></a>&nbsp;&nbsp;&nbsp;

<!--                            <a style="color:#b7b8c8" ng-if="Showforsite">|</a>&nbsp;&nbsp;-->
                            
                            <a confirm-button="UnassignedSHG(household.id)" message="{{HHLanguage.areYouSureShg}}" data-ng-class="household.disableAssign ? '' : 'inactive'" ng-if="Showforsite"><img src="images/piclinks/unassigned.png" style="cursor:pointer;" title="{{HHLanguage.unassigne}}" width="16px;"></a>&nbsp;&nbsp;&nbsp;

<!--                            <a style="color:#b7b8c8" ng-if="Showforsite">|</a>&nbsp;&nbsp;-->
                            
                            <a confirm-button="Delete(household.id)" message="{{HHLanguage.areYouSure}}" data-ng-class="household.disableDelete ? '' : 'inactive1'" ng-if="Showforsite&&household.disableDelete"><img src="images/piclinks/cross.png" style=";cursor:pointer;" title="{{HHLanguage.delete}}" width="16px;"></a>
                            
                            <a confirm-button="Delete(household.id)" message="{{HHLanguage.areYouSure}}" data-ng-class="household.disableDelete ? '' : 'inactive1'" ng-if="Showforsite&&!household.disableDelete"><img src="images/piclinks/crossgrey.png" style=";cursor:pointer;" title="{{HHLanguage.delete}}" width="16px;"></a>
                            
                            <!--                            data-ng-disabled="household.disableDelete ? '' : 'inactive'"-->
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--
            <div align="right">
                <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
                </dir-pagination-controls>
            </div> 
-->
        </div>

        <div class="padding4" align="right">
            <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" pagination-id="zonesid" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
            </dir-pagination-controls>
        </div>
        <div ng-show="!households.length" style="margin:0 auto;text-align:center;padding-top: 5%;">
            <span style="font-size:18px;font-weight:bold;font-family:Georgia, Serif;">Please select an options</span>
            <!--			<p class="lead text-muted">Please select an options</p>-->
        </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->


<!--<benefmodal1 visible="documentdataModal">
	<div class="modal-header" style="background:#e85a5a;padding-bottom:22px;color:#ffffff;">
		<div class="pull-right">
					<a data-ng-click="OK()" data-dismiss="modal" class="btn btn-success btn-sm " role="button" style="background:#db4242;border-color:#db4242;padding:5px 20px;font-weight:bold;">{{okbutton}}</a>
				</div>
		<h4 class="modal-title">{{modalTitle}}</h4>
	</div>
	<div style="width:100%; height:auto; min-height:200px;  border: 1px solid #ffffff;padding:5px;" id="savemodals">
		<br/>
		<form class="form-horizontal" role="form">
			<br>

			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-6" align="center" style="padding:right">

					<div class="form-group" style="margin:0">

						<input class="col-sm-2" name="reasonforarchive" value="Unable_to_contact_over_the_last_6_months" type="radio" ng-model="beneficiary.reasonforarchive">
						<label class="col-sm-8" for="code" style="font-weight:600;padding-left:0px;text-align:left;">Unable to contact over the last 6 months</label>
					</div>


					<div class="form-group" style="margin:0">
						<input class="col-sm-2" name="reasonforarchive" value="Has_Died" type="radio" ng-model="beneficiary.reasonforarchive">
						<label class="col-sm-8" for="code" style="font-weight:600;padding-left:0px;text-align:left;">Has Died</label>
					</div>

					<div class="form-group" style="margin:0">
						<input class="col-sm-2" name="reasonforarchive" value="Duplicate_Member" type="radio" ng-model="beneficiary.reasonforarchive">
						<label class="col-sm-8" for="code" style="font-weight:600;padding-left:0px;text-align:left;">Duplicate Member</label>
					</div>

					<div class="form-group" style="margin:0">
						<input class="col-sm-2" name="reasonforarchive" value="Reason_Unknown" type="radio" ng-model="beneficiary.reasonforarchive">
						<label class="col-sm-8" for="code" style="font-weight:600;padding-left:0px;text-align:left;">Reason Unknown</label>
					</div>


				</div>
				
			</div>
			
		</form>

	</div>
</benefmodal1>-->

<script type="text/ng-template" id="template/option.html">
    <style>
        p {
            white-space: pre;
        }

    </style>
    <div class="modal-header" style="padding:0px;color:#ffffff;">
        <div class="pull-right" style="padding:15px;">
            <a data-ng-click="OK()" data-dismiss="modal" class="btn btn-success btn-sm " role="button" style="background:#db4242;border-color:#db4242;padding:5px 20px;font-weight:bold;">{{okbutton}}</a>&nbsp;&nbsp;
            <a data-ng-click="Cancelmodal()" data-dismiss="modal" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;font-weight:bold;">{{printcancel}}</a>
        </div>
        <div class=" stylelink active box-header with-border">
            <h4 class="modal-title" style="font-weight:600;">{{modalTitle}}</h4>
        </div>
    </div>
    <div style="width:100%; height:auto; min-height:200px;  border: 1px solid #ffffff;padding:5px;" id="savemodals">
        <br/>
        <form class="form-horizontal" role="form">
            <br>

            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6" align="center" style="padding:right">

                    <div class="form-group" style="margin:0">

                        <input class="col-sm-2" name="reasonforarchive" value="Unable_to_contact_over_the_last_6_months" type="radio" ng-model="beneficiary.reasonforarchive">
                        <label class="col-sm-8" for="code" style="font-weight:600;padding-left:0px;text-align:left;">Unable to contact over the last 6 months</label>
                    </div>


                    <div class="form-group" style="margin:0">
                        <input class="col-sm-2" name="reasonforarchive" value="Has_Died" type="radio" ng-model="beneficiary.reasonforarchive">
                        <label class="col-sm-8" for="code" style="font-weight:600;padding-left:0px;text-align:left;">Has Died</label>
                    </div>

                    <div class="form-group" style="margin:0">
                        <input class="col-sm-2" name="reasonforarchive" value="Duplicate_Member" type="radio" ng-model="beneficiary.reasonforarchive">
                        <label class="col-sm-8" for="code" style="font-weight:600;padding-left:0px;text-align:left;">Duplicate Member</label>
                    </div>

                    <div class="form-group" style="margin:0">
                        <input class="col-sm-2" name="reasonforarchive" value="Reason_Unknown" type="radio" ng-model="beneficiary.reasonforarchive">
                        <label class="col-sm-8" for="code" style="font-weight:600;padding-left:0px;text-align:left;">Reason Unknown</label>
                    </div>


                </div>

            </div>

        </form>

    </div>
</script>

<script type="text/ng-template" id="template/AlertModal.html">
    <style>
        p {
            white-space: pre;
        }

    </style>
    <div class="modal-header" style="background:#e85a5a;padding-bottom:22px;color:#ffffff;">
        <div class="pull-right">
            <a data-ng-click="okAlert()" data-dismiss="modal" class="btn btn-success btn-sm " role="button" style="background:#db4242;border-color:#db4242;padding:5px 20px;font-weight:bold;">{{okbutton}}</a>
        </div>
        <h4 class="modal-title">Alert</h4>
    </div>

    <div class="modal-body">

        Choose an Option
    </div>

    <!--<div class="modal-footer">
		<div align="left">
			<button type="button" class="btn btn-success btn-sm " ng-click="okAlert()">Ok</button>
		</div>
	</div>-->
</script>

<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>
