<style>
    /*	.stylelink {
		padding: 3px 10px;
		background: transparent;
		color: #333;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}
	
	.stylelink.active {
		padding: 3px 10px;
		background: #b71c1c;
		color: #fff;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		font-weight: 600;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}
	*/

    .stylelink {
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }

    .stylelink.active {
        color: #4a4d72;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        padding-left: 0px;
        /*        border-bottom: 4px solid #ec0b6d;*/
    }

    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }

    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 4px solid #f4f4f4;
        /*        background-color: #fff;*/
    }

    #wrapper div {
        display: table-cell;
        height: auto;
    }

    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 5px 10px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 5px 10px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        img {
            width: 80%;
        }
    }

</style>

<div style="width:100%;height:auto;background:#ffffff;">
    <!--
    <div id="wrapper">
        <div style="text-align:left; ">
            <a class="stylelink active" href="/import"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">IMPORT</span></a>
        </div>
    </div>
-->
    <div id="wrapper">
        <div class="stylelink active box-header with-border">
            <h3 class="box-title ng-binding" style="font-weight:bold;">
                <a href="/import">IMPORT</a>
            </h3>
        </div>
    </div>
</div>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <!--    <div class="box-header with-border" style="padding:0;">-->
    <!--		<h3 class="box-title">State</h3>-->
    <!--    </div>-->
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <br/>
        <form role="form">
            <div class="row padding">
                <div class="col-sm-3">
                    <label for="salesarea" class="" style="font-weight:600; margin-top: 5px;">Country<sup>*</sup> </label>
                    <div class="" style="padding-left:0px">
                        <select ui-select2 id="state" ng-model="countryId" data-placeholder="Pick a Country" style="width:100%;">
                            <option value=""></option>
                            <option data-ng-repeat="country in countries" value="{{country.id}}">{{ country.name }}</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-3">
                    <label for="zone" class="" style="font-weight:600; margin-top: 5px;">State<sup>*</sup> </label>
                    <div class="" style="padding-left:0px">
                        <select ui-select2 id="country" ng-model="stateId" data-placeholder="Pick a State" style="width:100%;">
                            <option value=""></option>
                            <option data-ng-repeat="state in displaystates" value="{{state.id}}">{{ state.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label for="zone" class="" style="font-weight:600; margin-top: 5px;">District<sup>*</sup> </label>
                    <div class="" style="padding-left:0px">
                        <select ui-select2 id="country" ng-model="districtId" data-placeholder="Pick a District" style="width:100%;">
                            <option value=""></option>
                            <option data-ng-repeat="district in displaydistricts" value="{{district.id}}">{{ district.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label for="zone" class="" style="font-weight:600; margin-top: 5px;">Site<sup>*</sup> </label>
                    <div class="" style="padding-left:0px">
                        <select ui-select2 id="country" ng-model="siteId" data-placeholder="Pick a Site" style="width:100%;">
                            <option value=""></option>
                            <option data-ng-repeat="site in displaysites" value="{{site.id}}">{{ site.name }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <br/>
            <!--
            <div class="row">
                
            </div>
-->
            <!--            <br/>-->
        </form>

        <!--
        <form class="form-horizontal" role="form">
            <div class="row" style="padding:0;">
               
            </div>
            <br/>
        </form>
-->

        <div class="padding3" align="center">
            <h4>HouseHold Heads XLS file should be in the following format.</h4>
            <img src="images/xls_house_hold.png" style="width:100%;">
            <br/>
            <br/>
            <a href="/xlssheets/xlshouseholds.xlsx" target="_blank">LINK TO SAMPLE EXCEL FILE WITH ALL MANDATORY FIELDS</a>
            <br/>
        </div>

        <div class="padding3">
            <p ng-hide="showFileUpload">Head of Household</p>
            <p ng-hide="showFileUpload">
                <input type="file" name="xlfile" id="xlf" ng-files="getTheFiles($files)" ng-click="headUpload()" /> <span ng-show="showFileText">... click here to select a file</span>
            </p>
        </div>
        <br/>
        <br/>

        <div class="padding3" align="center" ng-hide="showFileUpload">
            <h4>Members XLS file should be in the following format.</h4>
            <img src="images/xlshhmembersImage.PNG" style="width:100%;">
            <br/>
            <br/>
            <a href="/xlssheets/xlshhmembers.xlsx" target="_blank">LINK TO SAMPLE EXCEL FILE WITH ALL MANDATORY FIELDS</a>
            <br/>
            <br/>
        </div>

        <div class="padding3">
            <p ng-hide="showFileUpload">Members of Household</p>
            <p ng-hide="showFileUpload">
                <input type="file" name="xlfile1" id="xlf1" ng-files="getTheFiles1($files)" ng-click="memUpload()" /> <span ng-show="showFileText1">... click here to select a file</span>
                <br>
            </p>
        </div>
        <br/>

        <div class="table-responsive" ng-if="showHead">
            <table class="table  table-striped">
                <thead>
                    <tr>
                        <th ng-style="style" style="padding-left:22px;"> S NO.</th>
                        <th ng-style="style">HouseHold Name</th>
                        <th>Age</th>
                        <th>Mobile</th>
                        <th>Address</th>
                        <!--
                        <th ng-style="style">HH Id</th>
                        <th ng-style="style">No of Members</th>
-->
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="prospect in entriesdisplay |itemsPerPage:1000">
                        <td style="padding-left:22px;">{{ prospect.index+1 }}</td>
                        <td>{{ prospect.nameOfHeadInHH }}</td>
                        <td>{{ prospect.age }}</td>
                        <td>{{ prospect.mobile }}</td>
                        <td>{{ prospect.address }}</td>
                        <!--
                        <td>{{ prospect.HHId }}</td>
                        <td>{{ prospect.noOfMembers }}</td>
-->
                    </tr>
                </tbody>
            </table>

            <div class="padding2" align="right">
                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="false">
                </dir-pagination-controls>
            </div>
        </div>

        <div class="table-responsive" ng-if="showMem">
            <table class="table  table-striped">
                <thead>
                    <tr>
                        <th ng-style="style" style="padding-left:22px;">S NO.</th>
                        <th ng-style="style">Name</th>
                        <th>Age</th>
                        <th ng-style="style">HH Id</th>
                        <th ng-style="style">Individual Id</th>
                        <th ng-style="style">Parent Id</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="prospect in entriesdisplay |itemsPerPage:1000">
                        <td style="padding-left:22px;">{{ prospect.index+1 }}</td>
                        <td>{{ prospect.name }}</td>
                        <td>{{ prospect.age }}</td>
                        <td>{{ prospect.HHId }}</td>
                        <td>{{ prospect.individualId }}</td>
                        <td>{{ prospect.parentId }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="padding2" align="right">
                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="false">
                </dir-pagination-controls>
            </div>
        </div>
        <br/>
        <br/>
        <br/>

        <div align="right">
            <!--            <button ng-click="Save()" class="btn btn-success btn-sm " ng-hide="hideSubmit" style="margin-right:10px;padding:5px 20px;">Save</button>-->
            <a href="" ng-click="cancelBtn()">
                <button class="btn btn-danger btn-sm " style="padding:5px 20px;margin-right:10px;">Cancel</button>
            </a>

            <button ng-click="Validate()" class="btn btn-info btn-sm" ng-disabled="DisableValidate" style="padding:5px 20px;margin-right:30px;" ng-if="showHead">Validate</button>

            <button ng-click="Validate1()" class="btn btn-info btn-sm" ng-disabled="DisableValidate" style="padding:5px 20px;margin-right:30px" ng-if="showMem">Validate</button>

        </div>
        <br/>
    </div>
</div>


<!--
<modal2 title1="Wait!!!" visible="zonedataModal">
    <p>{{message}}</p>
</modal2>
-->

<!--
<modal2 title1="{{Validationmessage}}" visible="sheetValidation">
    <p>{{validationStatus}}</p>
    <p>{{validationSuccess}}</p>
    <p>{{NoofHouseholdsToBecreated}}</p>
</modal2>
-->

<migrantmodal visible="sheetValidation">
    <div class="modal-header" style="color:#ffffff;padding:0px;">
        <div class="pull-right" style='padding:15px;'> </div>
        <h4 class="stylelink active modal-title">VALIDATION SUCCEEDED </h4>
    </div>
    <div style="width:100%; height:auto; min-height:140px;  border: 1px solid #ffffff;padding:5px" id="savemodals">
        <br>
        <form style="padding-left:2em;">
            <p>Number of Households / Members to be created - {{xlslength}}</p>
            <br/>
            <a data-ng-click="Save()" data-dismiss="modal" class="btn btn-primary btn-sm " role="button" ng-disabled="DisableMigrantBtn" style="border-color:#db4242;padding:5px 20px;font-weight:bold;" ng-if="showHead">Upload </a>&nbsp;

            <a data-ng-click="Save1()" data-dismiss="modal" class="btn btn-primary btn-sm " role="button" ng-disabled="DisableMigrantBtn" style="border-color:#db4242;padding:5px 20px;font-weight:bold;" ng-if="showMem">Upload </a>&nbsp;

            <a data-ng-click="" data-dismiss="modal" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">Cancel </a>
            <br/>
        </form>
    </div>

    <style>
        div.scroll {
            width: 100%;
            height: 100px;
            overflow: scroll;
        }

        .toggle.android {
            border-radius: 0px;
        }

        .toggle.android .toggle-handle {
            border-radius: 0px;
        }

        #mapCanvas {
            width: 500px;
            height: 400px;
            float: left;
        }

        #infoPanel {
            margin-left: 100px;
        }

        #infoPanel div {
            margin-bottom: 5px;
        }

    </style>
</migrantmodal>

<!--
<modal2 title1="VALIDATION FAILED!!!" visible="showValidation">
    {{errortext}}
    <br/>
    <br/>
    <div align="left">
        <br/>
        <button ng-click="angular.copy(files)" class="btn btn-primary btn-sm" type="reset">Upload Again</button>
        <a href="">
            <button class="btn btn-danger btn-sm " data-dismiss="modal" style="padding:5px 20px;">Cancel</button>
        </a>
    </div>
</modal2>
-->

<migrantmodal visible="showValidation">
    <div class="modal-header" style="color:#ffffff;padding:0px;">
        <div class="pull-right" style='padding:15px;'> </div>
        <h4 class="stylelink active modal-title">VALIDATION FAILED!!!</h4>
    </div>
    <div style="width:100%; height:auto; min-height:170px;  border: 1px solid #ffffff;padding:5px" id="savemodals">
        <br>
        <form style="padding-left:2em;">
            <p>VALIDATION ERROR!!!</p>
            <a download="errorlog.txt" id="downloadlink" style="display: none" align="center">Download Error Text</a>
            <br>
            <a data-ng-click="UploadAgain()" data-dismiss="modal" class="btn btn-primary btn-sm " role="button" ng-disabled="DisableMigrantBtn" style="border-color:#db4242;padding:5px 20px;font-weight:bold;">FIX AND VALIDATE FILE </a>&nbsp;
            <a data-ng-click="" data-dismiss="modal" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">Cancel </a>
        </form>
    </div>

    <style>
        div.scroll {
            width: 100%;
            height: 100px;
            overflow: scroll;
        }

        .toggle.android {
            border-radius: 0px;
        }

        .toggle.android .toggle-handle {
            border-radius: 0px;
        }

        #mapCanvas {
            width: 500px;
            height: 400px;
            float: left;
        }

        #infoPanel {
            margin-left: 100px;
        }

        #infoPanel div {
            margin-bottom: 5px;
        }

    </style>
</migrantmodal>

<migrantmodal visible="zonedataModal">
    <div class="modal-header" style="color:#ffffff;padding:0px;">
        <div class="pull-right" style='padding:15px;'> </div>
        <h4 class="stylelink active modal-title">Wait... </h4>
    </div>
    <div style="width:100%; height:auto; min-height:90px;  border: 1px solid #ffffff;padding:5px" id="savemodals">
        <br>
        <form style="padding-left:2em;">
            <p>Households Uploading...</p>
            <!--            <p>Updated Row...{{datatext}}</p>-->
            <br>
            <!--
            <a data-ng-click="reloadPage()" data-dismiss="modal" class="btn btn-primary btn-sm " role="button" ng-disabled="DisableMigrantBtn" style="border-color:#db4242;padding:5px 20px;font-weight:bold;">Okie </a>&nbsp;
            <a data-ng-click="" data-dismiss="modal" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">Cancel </a>
-->
        </form>
    </div>

    <style>
        div.scroll {
            width: 100%;
            height: 100px;
            overflow: scroll;
        }

        .toggle.android {
            border-radius: 0px;
        }

        .toggle.android .toggle-handle {
            border-radius: 0px;
        }

        #mapCanvas {
            width: 500px;
            height: 400px;
            float: left;
        }

        #infoPanel {
            margin-left: 100px;
        }

        #infoPanel div {
            margin-bottom: 5px;
        }

    </style>
</migrantmodal>

<migrantmodal visible="savedataModal">
    <div class="modal-header" style="color:#ffffff;padding:0px;">
        <div class="pull-right" style='padding:15px;'> </div>
        <h4 class="stylelink active modal-title">UPLOAD SUCCEEDED FULLY </h4>
    </div>
    <div style="width:100%; height:auto; min-height:180px;  border: 1px solid #ffffff;padding:5px" id="savemodals">
        <br>
        <form style="padding-left:2em;">
            <p>TOTAL Number of Rows in FILE - {{xlslength}}</p>
            <p>Last Row Uploaded - {{datatext}}</p>
            <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="" ng-click="DownLoad()" style="border-color:#db4242;padding:5px 20px;font-weight:bold;" ng-if="showDownload">Download </a>
            <br/>
            <br/>
            <a data-ng-click="UploadAgain()" data-dismiss="modal" class="btn btn-primary btn-sm " role="button" ng-disabled="DisableMigrantBtn" style="border-color:#db4242;padding:5px 20px;font-weight:bold;">Import Again </a>&nbsp;
            <a data-ng-click="" data-dismiss="modal" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">Cancel </a>
            <br/>
            <br/>
        </form>
    </div>

    <style>
        div.scroll {
            width: 100%;
            height: 100px;
            overflow: scroll;
        }

        .toggle.android {
            border-radius: 0px;
        }

        .toggle.android .toggle-handle {
            border-radius: 0px;
        }

        #mapCanvas {
            width: 500px;
            height: 400px;
            float: left;
        }

        #infoPanel {
            margin-left: 100px;
        }

        #infoPanel div {
            margin-bottom: 5px;
        }

    </style>
</migrantmodal>

<migrantmodal visible="savepartialdataModal">
    <div class="modal-header" style="color:#ffffff;padding:0px;">
        <div class="pull-right" style='padding:15px;'> </div>
        <h4 class="stylelink active modal-title">UPLOAD SUCCEEDED PARTIALLY </h4>
    </div>
    <div style="width:100%; height:auto; min-height:180px;  border: 1px solid #ffffff;padding:5px" id="savemodals">
        <br>
        <form style="padding-left:2em;">
            <p>TOTAL Number of Rows in FILE - {{xlslength}}</p>
            <p>Households Created - {{datatext}}</p>
            <p>Last Row Uploaded - {{datatext}}</p>
            <br>
            <a data-ng-click="UploadAgain()" data-dismiss="modal" class="btn btn-primary btn-sm " role="button" ng-disabled="DisableMigrantBtn" style="border-color:#db4242;padding:5px 20px;font-weight:bold;">Import Again </a>&nbsp;
            <a data-ng-click="" data-dismiss="modal" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">Cancel </a>
        </form>
    </div>

    <style>
        div.scroll {
            width: 100%;
            height: 100px;
            overflow: scroll;
        }

        .toggle.android {
            border-radius: 0px;
        }

        .toggle.android .toggle-handle {
            border-radius: 0px;
        }

        #mapCanvas {
            width: 500px;
            height: 400px;
            float: left;
        }

        #infoPanel {
            margin-left: 100px;
        }

        #infoPanel div {
            margin-bottom: 5px;
        }

    </style>
</migrantmodal>

<validationmodal title1="Alert!!!" visible="xlsValidation">
    {{validatestringxls}}
</validationmodal>

<!--<modal2 title1="{{modalProgress}}" visible="zoneprogressModal">
	<div id="myProgress">
		<div id="myBar">
			<div id="label">0%</div>
		</div>
	</div>
</modal2>-->

<style>
    #myProgress {
        position: relative;
        width: 100%;
        height: 30px;
        background-color: #ddd;
    }

    #myBar {
        position: absolute;
        width: 10%;
        height: 100%;
        background-color: blue;
    }

    #label {
        text-align: center;
        line-height: 30px;
        color: white;
    }

</style>

<style>
    .progress {
        height: 3em;
        i {
            line-height: 3.5em;
        }
    }

    .progress-bar {
        transition: width 1s ease-in-out;
    }

</style>
