<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 30px 10px 15px 0px;
        padding-left: 0px;
        /*        border-bottom: 4px solid #e72e5a;*/
    }

    .tht:hover {
        color: blue;
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
/*        border-bottom: 1px solid #e6e6e6;*/
/*        margin-top: 8px;*/
    }

    .inactive {
        color: #dddddd;
        pointer-events: none;
        cursor: default;
    }

    .color-blue {
        color: #D3D3D3;
    }

    .color-red {
        color: #333;
    }

    .smright2txt {
        text-align: right;
        padding-top: 2em;
        padding-right: 16%;
        min-width: 131px;
    }

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 10px 20px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 10px 20px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        .space {
            padding: 5px 0px 5px 0px;
            margin-top: 28px;
        }
    }

</style>

<style>
    th {
        cursor: pointer;
    }

        {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    .selectdiv {
        position: relative;
        float: right;
        min-width: 100%;
    }

    .selectdiv:after {
        content: '>';
        font: 17px "Consolas", monospace;
        color: #333;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        /*        margin-left: -15px;*/
        margin-top: -2px;
        padding: 0 0 2px;
        position: absolute;
        pointer-events: none;
    }

    .selectdiv select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        height: 32px;
        float: left;
        padding: 0px 7px;
        font-size: 14px;
        line-height: 1.75;
        color: #878993;
        border-radius: 4px;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #cccccc;
        -ms-word-break: normal;
        word-break: normal;
    }

     .sell {
        position: relative;
        min-width: 45px;
    }
    
    .sell:after {
        content: url(images/piclinks/down-arrow.png) ;
        font: 17px "Consolas", monospace;
        color: #333;
        top: 5px;
        margin-left: -22px;
        padding: 0 0 2px;
        position: absolute;
        pointer-events: none;
    }
    
    .sell select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        /*        max-width: 320px;*/
        height: 32px;
        float: left;
        padding: 0px 7px;
        font-size: 14px;
        line-height: 1.75;
        color: #878993;
        border-radius: 4px;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #d5d7df;
        -ms-word-break: normal;
        word-break: normal;
    }
    .fspace {
        margin-left: -5%;
        margin-right: -5%;
    }

   

</style>
<!--
<script>
table th.active {color: blue;}
$(document).ready(function(){
    $("#rowClick > th").click(function(){
        $(this).toggleClass("active");
    });
});
</script>
-->
<!--
<script type="text/javascript">
    var sortingOrder = 'name';
</script>
-->

<!-- Horizontal Form -->
<!--<br/>-->
<div class="box box-info" style="min-height:450px;border-top:none;" data-ng-init="toggleLoading()">
    <div id="wrapper">
        <div class="stylelink active box-header with-border" style="">
            <h3 class="box-title" style="font-weight:bold;">{{InterventionLanguage.interventionsList}}</h3>
        </div>
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <br/>

        <div data-ng-hide="hideSearchFilter()" style="padding:8px">
            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-5">
                    <div class="col-sm-6">
                        <div class="fspace form-group">
                            <label for="maritalstatus" class="" style="color:#262d57;">{{InterventionLanguage.type}}<sup>*</sup> </label>
                            <div class="">
                                <select ui-select2 id="maritalstatus" data-ng-model="type" data-placeholder="{{InterventionLanguage.selectType}}" style="width:100%">
                            <option value=""></option>
                            <option ng-repeat="type in types" ng-if="UserLanguage==1" value="{{type.id}}">{{type.name}}</option>
                            <option ng-repeat="type in types" ng-if="UserLanguage!=1" value="{{type.parentId}}">{{type.name}}</option>
                        </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="fspace form-group">
                            <label for="maritalstatus" class="" style="font-weight:600;color:#262d57;">{{InterventionLanguage.status}} <sup>*</sup> </label>
                            <div class="">
                                <select ui-select2 id="maritalstatus" data-ng-model="status" data-placeholder="{{InterventionLanguage.selectStatus}}" style="width:100%">
                            <option value=""></option>
                            <option value="active">Active</option>
                            <option value="archive" disabled>Archive</option>
                        </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="col-sm-1"></div>
                    <div data-ng-hide="hideSearchFilter()" class="col-sm-1" style="text-align:left;padding-right:0px;padding-left:0px;">
                        <label style="">{{InterventionLanguage.show}}</label>
                        <div class="sell" style="margin-top:-1px;">
                            <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                        </div>
                        <!--					<span>Entries</span>-->
                    </div>
                    <div data-ng-hide="hideSearchFilter()" class="col-sm-5" style="padding-right:0px;margin-top:24px;">
                        <div class="space">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" style="border-top-left-radius:4px;border-bottom-left-radius: 4px;border-color:#d5d7df;background:none;border-right:none;"><span class="glyphicon glyphicon-search"></span></button>
                                </span>
                                <input type="text" id="Search" class="form-control ng-pristine ng-valid" placeholder="{{InterventionLanguage.search}}" style="z-index:0;border-left:none;border-color:#d5d7df;border-top-right-radius:4px;border-bottom-right-radius: 4px;" data-ng-model="searchPart" focus="someFocusVariable">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <a data-ng-href="" class="btn btn-success btn-sm " role="button" ng-click="exportData()" style="padding:5px 20px;margin-top:24px;color:#ffffff;">
                        <img src="images/export-icon.png" />&nbsp;&nbsp;
                        {{InterventionLanguage.exportData}}</a>
                    </div>

                    <div class="col-sm-2" style="margin-left:5%;">
                        <a data-ng-href="/intervention/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-right:10px;margin-top:24px;">{{InterventionLanguage.addNew}} </a>
                    </div>
                </div>
            </div>
        </div>
<!--        <br/>-->
<!--        <br/>-->
<style>
    table,
th,
td {
    fill: #262d57;
    font-size: 14px;
}
th {
    background-color: #d5d7df;
    font-weight: normal;
}
tr {
    background-color: White;
    color: #262d57;
    font-size: 10px;
}
        </style>
        <div data-ng-hide="showForm()" class="table-responsive">
            <table class="table">
                <thead>
                    <tr id="rowClick">
                        <th title="{{InterventionLanguage.srNo}}" style="padding-left:32px;">{{InterventionLanguage.srNo | uppercase}}</th>
                        <th title="{{InterventionLanguage.interventionDate}}" ng-click="changeSorting('date')" style="width:190px;">{{InterventionLanguage.interventionDate | uppercase}}
                            <span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('date')"></i></span>
                        </th>
                        <th title="{{InterventionLanguage.typeOfIntervention}}" ng-click="changeSorting('typeOfInterventionName')">{{InterventionLanguage.typeOfIntervention | uppercase}}
                            <span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('typeOfInterventionName')"></i></span></th>
                        <th title="{{InterventionLanguage.venue}}" ng-click="changeSorting('venueName')">{{InterventionLanguage.venue | uppercase}}
                            <span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('venueName')"></i></span>
                        </th>
                        <th title="{{InterventionLanguage.totalMembersCovered}}" ng-click="changeSorting('totalMembersCovered')">{{InterventionLanguage.totalMembersCovered | uppercase}}
                            <span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('totalMembersCovered')"></i></span>
                        </th>
                        <th title="{{InterventionLanguage.action}}">{{InterventionLanguage.action | uppercase}}</th>
                    </tr>
                </thead>
                <tbody id="bnbody">
                    <tr dir-paginate="intervention in displayInterventions | filter:searchPart | orderBy:sort.active:sort.descending | itemsPerPage:pageSize" pagination-id="zonesid">
                        <td style="padding-left:32px;">{{ intervention.index }}</td>
                        <td>{{ intervention.datedisply }}</td>
                        <td>{{ intervention.typeName }}</td>
                        <td>{{ intervention.venueName }}</td>
                        <td>{{ intervention.totalMembersCovered }}</td>
                        <td>
                            &nbsp;&nbsp;
                            <a data-ng-href="/intervention/edit/{{intervention.id}}" title="{{InterventionLanguage.edit}}" ng-class="intervention.disableEdit ? '' : 'inactive'">
                                <!--                                <span class="glyphicon glyphicon-pencil" ng-class="{'color-red': intervention.disableEdit === true,'color-blue': intervention.disableEdit === false}"></span>-->
                                <img src="images/edit.png" width="16px" ng-class="{'color-red': intervention.disableEdit === true,'color-blue': intervention.disableEdit === false}" />
                            </a>&nbsp;&nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="padding4" align="right">
            <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" pagination-id="zonesid" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
            </dir-pagination-controls>
        </div>
        <div ng-show="!displayInterventions.length" style="margin:0 auto;text-align:center;padding-top: 5%;">
            <span style="font-size:18px;font-weight:bold;font-family:Georgia, Serif;">{{InterventionLanguage.pleaseSelectanOptions}}</span>
            <!--			<p class="lead text-muted">Please select an options</p>-->
        </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->
<script type="text/ng-template" id="template/option.html">
    <style>
        p {
            white-space: pre;
        }

    </style>
    <div class="modal-header" style="padding:0px;color:#ffffff;">
        <div class="pull-right" style="padding:15px;">
            <a data-ng-click="OK()" data-dismiss="modal" class="btn btn-success btn-sm " role="button" style="background:#db4242;border-color:#db4242;padding:5px 20px;font-weight:bold;">{{okbutton}}</a>&nbsp;&nbsp;
            <a data-ng-click="Cancelmodal()" data-dismiss="modal" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;font-weight:bold;">{{printcancel}}</a>
        </div>
        <div class=" stylelink active box-header with-border">
            <h4 class="modal-title" style="font-weight:600;">{{modalTitle}}</h4>
        </div>
    </div>
    <div style="width:100%; height:auto; min-height:200px;  border: 1px solid #ffffff;padding:5px;" id="savemodals">
        <br/>
        <form class="form-horizontal" role="form">
            <br>

            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6" align="center" style="padding:right">

                    <div class="form-group" style="margin:0">

                        <input class="col-sm-2" name="reasonforarchive" value="Unable_to_contact_over_the_last_6_months" type="radio" ng-model="beneficiary.reasonforarchive">
                        <label class="col-sm-8" for="code" style="font-weight:600;padding-left:0px;text-align:left;">Unable to contact over the last 6 months</label>
                    </div>


                    <div class="form-group" style="margin:0">
                        <input class="col-sm-2" name="reasonforarchive" value="Has_Died" type="radio" ng-model="beneficiary.reasonforarchive">
                        <label class="col-sm-8" for="code" style="font-weight:600;padding-left:0px;text-align:left;">Has Died</label>
                    </div>

                    <div class="form-group" style="margin:0">
                        <input class="col-sm-2" name="reasonforarchive" value="Duplicate_Member" type="radio" ng-model="beneficiary.reasonforarchive">
                        <label class="col-sm-8" for="code" style="font-weight:600;padding-left:0px;text-align:left;">Duplicate Member</label>
                    </div>

                    <div class="form-group" style="margin:0">
                        <input class="col-sm-2" name="reasonforarchive" value="Reason_Unknown" type="radio" ng-model="beneficiary.reasonforarchive">
                        <label class="col-sm-8" for="code" style="font-weight:600;padding-left:0px;text-align:left;">Reason Unknown</label>
                    </div>


                </div>

            </div>

        </form>

    </div>
</script>

<script type="text/ng-template" id="template/AlertModal.html">
    <style>
        p {
            white-space: pre;
        }

    </style>
    <div class="modal-header" style="background:#e85a5a;padding-bottom:22px;color:#ffffff;">
        <div class="pull-right">
            <a data-ng-click="okAlert()" data-dismiss="modal" class="btn btn-success btn-sm " role="button" style="background:#db4242;border-color:#db4242;padding:5px 20px;font-weight:bold;">{{okbutton}}</a>
        </div>
        <h4 class="modal-title">Alert</h4>
    </div>

    <div class="modal-body">

        Choose an Option
    </div>

    <!--<div class="modal-footer">
		<div align="left">
			<button type="button" class="btn btn-success btn-sm " ng-click="okAlert()">Ok</button>
		</div>
	</div>-->
</script>

<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>
