<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 30px;
    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        background: #ffffff;
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 30px;
        /*        border-bottom: 4px solid #e72e5a;*/
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        background: #ffffff;
        margin-top: 12px;
        /*        border-bottom: 1px solid #e6e6e6;*/
    }

    /*
    .row1 {
        margin-left: 10px;
        margin-right: 10px;
    }
*/

    .selectdiv {
        position: relative;
        float: right;
        min-width: 100%;
    }

    .selectdiv:after {
        content: '>';
        font: 17px "Consolas", monospace;
        color: #333;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        /*        margin-left: -15px;*/
        margin-top: -2px;
        padding: 0 0 2px;
        position: absolute;
        pointer-events: none;
    }

    .selectdiv select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        height: 32px;
        float: left;
        padding: 0px 7px;
        font-size: 14px;
        line-height: 1.75;
        color: #878993;
        border-radius: 4px;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #cccccc;
        -ms-word-break: normal;
        word-break: normal;
    }

    .form-horizontal .form-group {
        /* margin-right: 0px; */
        margin-left: 0px;
    }

    .form-control {
        border-radius: 4px;
    }

    .plmi {
        width: 38px;
        height: 32px;
/*        margin-top: 0px;*/
    }

</style>
<!--<br/>-->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div id="wrapper" style="">
        <div class=" stylelink active box-header with-border" style="padding:25px 15px;">
            <h3 class="box-title" style="font-weight:bold;">
                <a href="/interventions-list" style="cursor:pointer"><img src="images/piclinks/back.png" width="10px" height="16px" style="margin-bottom:4px;margin-right:2px;" /></a> &nbsp;&nbsp;{{interventionHeading}} </h3>
        </div>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <div class="box-body">
        <!--        <br>-->
        <form class="" role="form">
            <p align="center" style="color:#ec0b6d">{{InterventionLanguage.allFieldAreMandatory}}</p>
            <!--            <br />-->
            <div class="row padding2">
                <div class="col-xs-3 col-sm-3 col-md-3">
                    <div class="form-group">
                        <label for="maritalstatus" class="" style="font-weight:600;margin-top:4px;color:#262d57;">{{InterventionLanguage.date}}<sup>*</sup> </label>
                        <div class="">
                            <p class="input-group">
                                <input type="text" id="{{'datepicker' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="intervention.date" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" max-date="dtmax" date-disabled="disabled(date, mode)" close-text="Close" style="border-color:#d5d7df;" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event, $index)" style="border-left:none;border-color:#d5d7df;">
<!--                                        <i class="glyphicon glyphicon-calendar"></i>-->
                                    <img src="images/piclinks/calender-copy-3.png" style="margin-bottom:4px;width:16px;"/>
                                    </button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3">
                    <div class="form-group">
                        <label for="" class="" style="font-weight:600;margin-top:4px;color:#262d57;">{{InterventionLanguage.assignedTo}}<sup>*</sup>  </label>
                        <div class="">
                            <select ui-select2 id="venue" ng-model="intervention.associatedHF" data-placeholder="{{InterventionLanguage.selectAssignedTo}}" style="width:100%" ng-disabled="hideAssigned">
                                <option value="">{{user.name}}</option>
                                <option ng-repeat="user in users" value="{{user.id}}">{{user.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3">
                    <div class="form-group">
                        <label for="" class="" style="font-weight:600;margin-top:4px;color:#262d57;">{{InterventionLanguage.venue}}<sup>*</sup>  </label>
                        <div class="">
                            <select ui-select2 id="venue" ng-model="intervention.venue" data-placeholder="{{InterventionLanguage.pleaseSelectVenue}}" style="width:100%">
                                <option value=""></option>
                                <option ng-repeat="venue in venues" ng-if="UserLanguage==1" value="{{venue.id}}">{{venue.name}}</option>
                                <option ng-repeat="venue in venues" ng-if="UserLanguage!=1" value="{{venue.parentId}}">{{venue.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3">
                    <div class="form-group">
                        <label for="" class="" style="font-weight:600;margin-top:4px;color:#262d57;">{{InterventionLanguage.typeOfIntervention}} <sup>*</sup> </label>
                        <div class="">
                            <select ui-select2 id="type" ng-model="intervention.typeOfIntervention" data-placeholder="{{InterventionLanguage.pleaseSelectType}}" style="width:100%">
                                <option value=""></option>
                                <option ng-repeat="type in types" ng-if="UserLanguage==1" value="{{type.id}}">{{type.name}}</option>
                                <option ng-repeat="type in types" ng-if="UserLanguage!=1" value="{{type.parentId}}">{{type.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row padding2">
                <div class="col-xs-3 col-sm-3 col-md-3">
                    <div class="form-group">
                        <label for="" class="" style="font-weight:600;margin-top:4px;color:#262d57;">{{InterventionLanguage.noOfMaleMembersCovered}} <sup>*</sup> </label>
                        <div class="">
                            <input type="text" class="form-control" id="male" ng-model="intervention.maleMemberCovered" placeholder="{{InterventionLanguage.noOfMaleMembersCovered}}" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3" style="padding-top:2.1em;">
                    <div class="form-group">
                        <a href="" type="button" ng-click="maleAdd()">
<!--                                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>-->
                       <img class="plmi" src="images/piclinks/plus.png">
                        </a>&nbsp; &nbsp;
                        <a href="" type="button" ng-click="maleMinus()">
<!--                                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-minus"></span></button>-->
                            <img class="plmi" src="images/piclinks/minus.png">
                        </a>
                    </div>
                </div>
            </div>

            <div class="row padding2">
                <div class="col-xs-3 col-xs-3 col-sm-3 col-md-3 col-md-3">
                    <div class="form-group">
                        <label for="" class="" style="font-weight:600;margin-top:4px;color:#262d57;">{{InterventionLanguage.noOfFemaleMembersCovered}} <sup>*</sup> </label>
                        <div class="">
                            <input type="text" class="form-control" id="female" ng-model="intervention.femaleMemberCovered" placeholder="{{InterventionLanguage.noOfFemaleMembersCovered}}" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3" style="padding-top:2.1em;">
                    <div class="form-group">
                        <a href="" type="button" ng-click="femaleAdd()">
                            <!--                                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>-->
                            <img class="plmi" src="images/piclinks/plus.png">
                        </a>&nbsp; &nbsp;
                        <a href="" type="button" ng-click="femaleMinus()">
<!--                                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-minus"></span></button>-->
                            <img class="plmi" src="images/piclinks/minus.png">
                        </a>
                    </div>
                </div>
            </div>

            <!--
            <div class="row padding1">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="" class="" style="font-weight:600;margin-top:4px;color:#262d57;">{{InterventionLanguage.noOfMaleMembersCovered}} <sup>*</sup> </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="male" ng-model="intervention.maleMemberCovered" placeholder="{{InterventionLanguage.noOfMaleMembersCovered}}" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" style="width:241px;margin-left:-15px">
                        </div>
                        <div class="col-sm-4" style="padding-left: 0px;margin-left:-10px;">
                            <a href="" type="button" ng-click="maleAdd()">
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-plus"></span></button></a>&nbsp; &nbsp;
                            <a href="" type="button" ng-click="maleMinus()">
                                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-minus"></span></button></a>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row padding1">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="" class="" style="font-weight:600;margin-top:4px;color:#262d57;">{{InterventionLanguage.noOfFemaleMembersCovered}} <sup>*</sup> </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="female" ng-model="intervention.femaleMemberCovered" placeholder="{{InterventionLanguage.noOfFemaleMembersCovered}}" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" style="width:241px;margin-left:-15px;">
                        </div>
                        <div class="col-sm-4" style="padding-left: 0px;margin-left:-10px;">
                            <a href="" type="button" ng-click="femaleAdd()">
                                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button></a>&nbsp; &nbsp;
                            <a href="" type="button" ng-click="femaleMinus()">
                                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-minus"></span></button></a>
                        </div>
                    </div>
                </div>
            </div>
-->

            <br/>
        </form>
        <br/>
        <div>

            <div align="right">
                <a href="/interventions-list" class="btn btn-danger" role="button" ng-click="CancelButton()" style="padding:5px 20px;margin-right:10px">{{InterventionLanguage.cancel}} </a>

                <a class="btn btn-info" type="submit" role="button" data-ng-click="Confirm()" ng-if="SaveBtn" style="padding:5px 20px;margin-right:30px">{{InterventionLanguage.saveLabel}} </a>&nbsp;

                <a class="btn btn-info" type="submit" role="button" data-ng-click="Confirm()" ng-if="UpdateBtn" style="padding:5px 20px;margin-right:30px">{{InterventionLanguage.update}} </a>&nbsp;

            </div>
        </div>
        <br/>

        <!--
        <div class="box-footer">
        </div>
-->
    </div>
</div>

<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert!!!" visible="showValidation">
    {{validatestring1}}
</validationmodal>

<shgmeetingmodal visible="interventionModel">
    <div class="modal-header" style="color:#ffffff;padding:0px;">
        <!--        <div class="pull-right" style='padding:15px;'></div>-->
        <h4 class="stylelink active modal-title" style="padding:20px;">
            <img src="images/piclinks/save.png" width="16px" height="16px" style="margin-top:2px;" />&nbsp;&nbsp;&nbsp;{{InterventionLanguage.areYouSureToWantToSave}}</h4>
    </div>

    <div style="width:100%; height:auto; min-height:305px;  border: 1px solid #ffffff;" id="savemodals">
        <br>
        <form style="">
            <div class="row" style="padding:0px 20px;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="" class="" style="">{{InterventionLanguage.interventionDate}}</label>
                        <input type="text" class="form-control" id="name" data-ng-model="popupObj.date" placeholder="{{InterventionLanguage.interventionDate}}" style="" readonly>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="" class="" style="">{{InterventionLanguage.assignedTo}}</label>
                        <input type="text" class="form-control" id="name" data-ng-model="popupObj.assignedTo" placeholder="{{InterventionLanguage.assignedTo}}" style="" readonly>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="" class="" style="">{{InterventionLanguage.venue}} </label>
                        <input type="text" class="form-control" id="name" data-ng-model="popupObj.venueName" placeholder="{{InterventionLanguage.venue}}" style="" readonly>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="" class="" style="">{{InterventionLanguage.typeOfIntervention}} </label>
                        <input type="text" class="form-control" id="name" data-ng-model="popupObj.typeName" placeholder="{{InterventionLanguage.typeOfIntervention}}" style="" readonly>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="" class="" style="">{{InterventionLanguage.noOfMaleMembersCovered}} </label>
                        <input type="text" class="form-control" id="name" data-ng-model="popupObj.maleMemsCovered" placeholder="{{InterventionLanguage.noOfMaleMembersCovered}}" style="" readonly>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="" class="" style="">{{InterventionLanguage.noOfFemaleMembersCovered}} </label>
                        <input type="text" class="form-control" id="name" data-ng-model="popupObj.femaleMemsCovered" placeholder="{{InterventionLanguage.noOfFemaleMembersCovered}} " style="" readonly>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <br>
    <div class="form-group">
        <div align="right">
            <a data-ng-click="" data-dismiss="modal" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">{{InterventionLanguage.cancel}} </a>

            <a data-ng-click="Save()" data-dismiss="modal" class="btn btn-info btn-sm " role="button" style="padding:5px 20px;font-weight:bold;margin-right:30px;">{{InterventionLanguage.yes}} </a>&nbsp;
        </div>
    </div>
    <br>

    <style>
        div.scroll {
            width: 100%;
            height: 100px;
            overflow: scroll;
        }

        .toggle.android {
            border-radius: 0px;
        }

        .toggle.android .toggle-handle {
            border-radius: 0px;
        }

        #mapCanvas {
            width: 500px;
            height: 400px;
            float: left;
        }

        #infoPanel {
            margin-left: 100px;
        }

        #infoPanel div {
            margin-bottom: 5px;
        }

    </style>
</shgmeetingmodal>
