<style>
    .stylelink {
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        color: #4a4d72;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;
        border-bottom: 4px solid #ec0b6d;
    }
    
    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }
    
    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 3px solid #f4f4f4;
        background-color: #fff;
        margin-top: 12px;
    }
    
    #wrapper div {
        display: table-cell;
        height: auto;
    }
    
    .nav-tabs-custom>.nav-tabs>li {
        width: 19%;
    }
    
    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 10px;
            padding: 5px 10px;
        }
        .stylelink.active {
            font-size: 10px;
            padding: 5px 10px;
        }
        .sub_menu {
            font-size: 10px;
            padding: 5px 10px;
        }
        .sub_menu.active {
            font-size: 10px;
            padding: 5px 10px;
        }
        .nav-tabs-custom>.nav-tabs>li {
            position: relative;
            display: block;
            padding: 10px;
            text-align: center;
            width: 180px;
        }
        .space {
            padding: 5px 0px 5px 0px;
        }
    }
    /*
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
        		background-color: #fff;
    }

    #wrapper div {
        display: table-cell;
        height: auto;
    }
*/
</style>

<!--
<div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
        <div style="text-align:left; ">
            <a class="stylelink active" href="/user-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">SHG List</span></a>
        </div>
    </div>
</div>
-->

<!-- Horizontal Form -->
<div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
        <div style="text-align:center;">
            <a class="stylelink active" href="/LangShgList"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">SHG LABEL LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/meetinginterval-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">MEETING INTERVAL</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/associatedbanks-list "><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">ASSOCIATE BANK</span></a>
        </div>


    </div>

</div>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none">
<!--    <div id="wrapper"> </div>-->
    <!--
    <div class="box-header with-border stylelink active" style="background:#ffffff;">
        <h3 class="box-title" style="font-weight:600;">SHG Registration</h3>
    </div>
-->

    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body" style="border-top: 1px solid #e6e6e6;">
        <br/><br/>
        <div class="row padding3">
                        <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:5px;color:#262d57;">Language <sup>*</sup> </label>
                    <div class="col-sm-6">
                        <select ui-select2 id="zoneId" ng-model="shg.language" data-placeholder="Pick a Langauge" style="width: 100%;" ng-disabled="langdisable">
                            <option value=""></option>
                            <option data-ng-repeat="language in languages" value="{{language.id}}">{{ language.name }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <!--            <div class="col-sm-3"></div>-->
        </div>
        <!--        =============================         -->
        <div class="row padding3">
            <div style="width:100%;height:auto;color:#262d57;border-bottom:2px solid #f4f4f4;margin-bottom:15px;"> <span style="font-weight:bold" class="ng-binding">Labels</span> </div>
            <div style="display:block">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name" class="" style="font-weight:600;margin-top:7px;color:#262d57;">SHG Registraion List<sup>*</sup>
                            </label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="shglist" data-ng-model="shg.shgList" ng-blur="Validate($event)" placeholder="SHG Registraion List">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name" class="" style="font-weight:600;margin-top:7px;color:#262d57;">SHG Registraion Edit <sup>*</sup>
                            </label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="shgedit" data-ng-model="shg.shgEdit" ng-blur="Validate($event)" placeholder="SHG Registraion Edit">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label for="search" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Name<sup>*</sup>
                        </label>
                        <div class="" style="margin-top:7px;">
                            <input type="text" class="form-control" id="name" data-ng-model="shg.name" ng-blur="Validate($event)" placeholder="Name">
                        </div>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label for="search" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Age<sup>*</sup>
                        </label>
                        <div class="" style="margin-top:7px;">
                            <input type="text" class="form-control" id="age" data-ng-model="shg.age" ng-blur="Validate($event)" placeholder="Age">
                        </div>
                    </div>
                </div>



                <!--
                    <div class="form-group">
                        <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Associate HF
                        </label>
                        <div class="col-sm-6" style="margin-top:7px;">
                            <input type="text" class="form-control" id="hf" data-ng-model="shg.associateHF" ng-blur="Validate($event)" placeholder="Associate HF">
                        </div>
                    </div>
-->
                <!--
                    <div class="form-group">
                        <label for="search" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Search
                        </label>
                        <div class="col-sm-6" style="margin-top:7px;">
                            <input type="text" class="form-control" id="search" data-ng-model="shg.search" ng-blur="Validate($event)" placeholder="Search">
                        </div>
                    </div>
-->
                <div class="row">
                    <div class="col-sm-3">
                        <label for="name" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Amount To Be Saved Per Member Per Meeting<sup>*</sup>
                        </label>
                        <div class="" style="margin-top:7px;">
                            <input type="text" class="form-control" id="amount" data-ng-model="shg.amountToBeSave" placeholder="Amount To Be Save">
                        </div>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label for="name" class="" style="font-weight:600;margin-top:7px;color:#262d57;">SHG Registraion Create<sup>*</sup>
                        </label>
                        <div class="">
                            <input type="text" class="form-control" style="margin-top:7px;" id="shgcreate" data-ng-model="shg.shgCreate" ng-blur="Validate($event)" placeholder="SHG Registraion Create">
                        </div>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label for="name" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Name of Group<sup>*</sup>
                        </label>
                        <div class="">
                            <input type="text" class="form-control" style="margin-top:7px;" id="group" data-ng-model="shg.nameOfGroup" ng-blur="Validate($event)" placeholder="Name of Group">
                        </div>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label for="zone" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Individual Id<sup>*</sup>
                        </label>
                        <div class="" style="margin-top:7px;">
                            <input type="text" class="form-control" id="IId" data-ng-model="shg.individualId" ng-blur="Validate($event)" placeholder="Individual Id">
                        </div>
                    </div>
                </div>


                <!--
                    <div class="form-group">
                        <label for="search" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Action
                        </label>
                        <div class="col-sm-6" style="margin-top:7px;">
                            <input type="text" class="form-control" id="action" data-ng-model="shg.action" ng-blur="Validate($event)" placeholder="Action">
                        </div>
                    </div>
-->

                <!--
                    <div class="form-group">
                        <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Status Filter
                        </label>
                        <div class="col-sm-6" style="margin-top:7px;">
                            <input type="text" class="form-control" id="statusFilter" data-ng-model="shg.statusFilter" placeholder="Status Filter">
                        </div>
                    </div>
-->

                <!--                </div>-->
                <!--                <div class="col-sm-6">-->

                <!--
                    <div class="form-group">
                        <label for="dob" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:#262d57;">Date of Formation </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" style="margin-top:7px;" id="formation" data-ng-model="shg.dateOfFormation" ng-blur="Validate($event)" placeholder="Date of Formation">
                        </div>
                    </div>
-->

                <!--
                    <div class="form-group">
                        <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Meeting Interval
                        </label>
                        <div class="col-sm-6" style="margin-top:7px;">
                            <input type="text" class="form-control" id="meeting" data-ng-model="shg.meetingInterval" ng-blur="Validate($event)" placeholder="Meeting Interval">
                        </div>
                    </div>
-->
                <!--
                    <div class="form-group">
                        <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Add New Household
                        </label>
                        <div class="col-sm-6" style="margin-top:7px;">
                            <input type="text" class="form-control" id="newhh" data-ng-model="shg.addNewHousehold" ng-blur="Validate($event)" placeholder="Add New Household">
                        </div>
                    </div>
-->
                <div class="row">
                    <div class="col-sm-3 form-group">
                        <label for="zone" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Phone Number<sup>*</sup>
                        </label>
                        <div class="" style="margin-top:7px;">
                            <input type="text" class="form-control" id="phone" data-ng-model="shg.phoneNumber" ng-blur="Validate($event)" placeholder="Phone Number">
                        </div>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label for="name" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Account Number For SHG<sup>*</sup></label>
                        <div class="" style="margin-top:7px;">
                            <input type="text" class="form-control" id="accno" data-ng-model="shg.accountNumberForShg" placeholder="Account Number">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Interest rate For Loan Per Month<sup>*</sup>
                            </label>
                            <div class="">
                                <input type="text" class="form-control" id="interestrate" data-ng-model="shg.interestRateForLoan" placeholder="Interest Rate">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zone" class="" style="font-weight:600;margin-top:7px;color:#262d57;">No Of Members In Group<sup>*</sup>
                            </label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="noofmembers" data-ng-model="shg.noOfMembersInGroup" placeholder="No Of Members In Group">
                            </div>
                        </div>
                    </div>
                </div>

                <!--
                    <div class="form-horizontal">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Amount To Be Saved Per Member Per Meeting
                        </label>
                        <div class="col-sm-6" style="margin-top:7px;">
                            <input type="text" class="form-control" id="amount" data-ng-model="shg.amountToBeSave" placeholder="Amount To Be Save">
                        </div>
                    </div>
-->
                <!--                </div>-->
                <!--
            </div>
        </div>
-->
                <!--
        <div class="row">
       
        </div>
-->
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="nameofgrp" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Enter Name Of The Group<sup>*</sup>
                            </label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="entergroupname" data-ng-model="shg.enterNameOfGroup" placeholder="Enter Name Of The Group">
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-3">

                        <div class="form-group">
                            <label for="zone" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Enter Amount<sup>*</sup>
                            </label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="enteramount" data-ng-model="shg.enterAmount" placeholder="Enter Amount">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zone" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Enter Interest Rate<sup>*</sup>
                            </label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="selectassocistedhf" data-ng-model="shg.enterInterestRate" placeholder="Please Enter Interest Rate Per Month">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zone" class="" style="font-weight:600;margin-top:7px;color:#262d57;">SHG Having Members<sup>*</sup>
                            </label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="shgHavingMembers" data-ng-model="shg.shgHavingMembers" placeholder="SHG Having Members">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="dob" class="" style="font-weight:600;margin-top: 8px;color:#262d57;">Date of Formation <sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" style="margin-top:7px;" id="formation" data-ng-model="shg.dateOfFormation" ng-blur="Validate($event)" placeholder="Date of Formation">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="search" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Action<sup>*</sup>
                            </label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="action" data-ng-model="shg.action" ng-blur="Validate($event)" placeholder="Action">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Amount Should Be<sup>*</sup></label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="entergroupname" data-ng-model="shg.amountShouldBe" placeholder="Amount should be more than 50">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zone" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Total Amount Saved
                                <Sup>*</Sup>
                            </label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="totalAmountSaved" data-ng-model="shg.totalAmountSaved" placeholder="Total Amount Saved">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Show<sup>*</sup>
                            </label>
                            <div class="">
                                <input type="text" class="form-control" id="show" data-ng-model="shg.show" placeholder="Show">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zone" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Status Filter<sup>*</sup>
                            </label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="statusFilter" data-ng-model="shg.statusFilter" placeholder="Status Filter">
                            </div>
                        </div>
                    </div>
                     <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zone" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Select Member Name<sup>*</sup>
                            </label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="statusFilter" data-ng-model="shg.selectmembername" placeholder="Select Member Name">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zone" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Members Selected<sup>*</sup>
                            </label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="statusFilter" data-ng-model="shg.membersselected" placeholder="Members Selected">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zone" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Ok Label<sup>*</sup>
                            </label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="statusFilter" data-ng-model="shg.okLabel" placeholder="Ok Label Selected">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--        </div>-->
        <div class="row padding3">
            <div style="width:100%;height:auto;color:#262d57;border-bottom:2px solid #f4f4f4;margin-bottom:15px;"> <span style="font-weight:bold" class="ng-binding">Placeholders</span> </div>
            <div style="display:block">
                <div class="row">
                    <!--
                    <div class="form-group">
                        <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Status Filter
                        </label>
                        <div class="col-sm-6" style="margin-top:7px;">
                            <input type="text" class="form-control" id="statusFilter" data-ng-model="shg.statusFilter" placeholder="Status Filter">
                        </div>
                    </div>
-->
                    <!--
                    <div class="form-group">
                        <label for="dob" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:#262d57;">Date of Formation </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" style="margin-top:7px;" id="formation" data-ng-model="shg.dateOfFormation" ng-blur="Validate($event)" placeholder="Date of Formation">
                        </div>
                    </div>
-->
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zone" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Meeting Interval<sup>*</sup>
                            </label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="meeting" data-ng-model="shg.meetingInterval" ng-blur="Validate($event)" placeholder="Meeting Interval">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zone" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Select Assigned To<sup>*</sup>
                            </label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="selectassocistedhf" data-ng-model="shg.selectAssociateHF" placeholder="Select Assigned To">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zone" class="c" style="font-weight:600;margin-top:7px;color:#262d57;">Select Date Of Formation<sup>*</sup>
                            </label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="selectdateofformation" data-ng-model="shg.selectDateOfFormation" placeholder="Select Date Of Formation">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="search" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Search<sup>*</sup>
                            </label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="search" data-ng-model="shg.search" ng-blur="Validate($event)" placeholder="Search">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zone" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Assigned To<sup>*</sup>
                            </label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="hf" data-ng-model="shg.associateHF" ng-blur="Validate($event)" placeholder="Assigned To">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zone" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Associated Bank<sup>*</sup>
                            </label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="assobank" data-ng-model="shg.associatedBank" placeholder="Associated Bank">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Select Meeting Interval<sup>*</sup></label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="selectmeetinginterval" data-ng-model="shg.selectMeetingInterval" placeholder="Select Meeting Interval">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Last Meeting Date<sup>*</sup></label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="lastmeetingdate" data-ng-model="shg.lastMeetingDate" placeholder="Last Meeting Date">
                            </div>
                        </div>
                    </div>
                </div>





                <!--                </div>-->
                <!--                <div class="col-sm-6">-->


                <!--
                    <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Show
                        </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="show" data-ng-model="shg.show" placeholder="Show">
                        </div>
                    </div>
-->


            </div>
        </div>
        <!--            </div>-->
        <div class="row padding3">
            <div style="width:100%;height:auto;color:#262d57;border-bottom:2px solid #f4f4f4;margin-bottom:15px;"> <span style="font-weight:bold" class="ng-binding">Buttons</span> </div>
            <div style="display:block">
                <div class="row">
                    <!--
                    <div class="form-group">
                        <label for="search" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Search
                        </label>
                        <div class="col-sm-6" style="margin-top:7px;">
                            <input type="text" class="form-control" id="search" data-ng-model="shg.search" ng-blur="Validate($event)" placeholder="Search">
                        </div>
                    </div>
-->
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zone" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Add New Household<sup>*</sup>
                            </label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="newhh" data-ng-model="shg.addNewHousehold" ng-blur="Validate($event)" placeholder="Add New Household">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zone" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Add New<sup>*</sup>
                            </label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="addnew" data-ng-model="shg.addNew" placeholder="Add New">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zone" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Save<sup>*</sup>
                            </label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="save" data-ng-model="shg.saveLabel" placeholder="Save">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zone" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Cancel<sup>*</sup>
                            </label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="Cancel" data-ng-model="shg.cancel" placeholder="Cancel">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zone" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Yes<sup>*</sup>
                            </label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="Delete" data-ng-model="shg.yes" placeholder="Yes">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zone" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Export Data<sup>*</sup>
                            </label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="exportData" data-ng-model="shg.exportData" placeholder="Export Data">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zone" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Update<sup>*</sup>
                            </label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="update" data-ng-model="shg.update" placeholder="Update">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zone" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Edit<sup>*</sup>
                            </label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="Edit" data-ng-model="shg.edit" placeholder="Edit">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zone" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Delete<sup>*</sup>
                            </label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="Delete" data-ng-model="shg.delete" placeholder="Delete">
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <br/>







        <!--
                    </div>
                    <div class="col-sm-6">
-->
        <!--
                    <div class="form-group">
                        <label for="search" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Action
                        </label>
                        <div class="col-sm-6" style="margin-top:7px;">
                            <input type="text" class="form-control" id="action" data-ng-model="shg.action" ng-blur="Validate($event)" placeholder="Action">
                        </div>
                    </div>
-->




        <!--                    </div>-->
        <div class="row padding3">
            <div style="width:100%;height:auto;color:#262d57;border-bottom:2px solid #f4f4f4;"> <span style="font-weight:bold" class="ng-binding">Error Messages</span> </div>
            <br/>
            <div style="display:block">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zone" class="" style="font-weight:600;margin-top:7px;color:#262d57;">SHG name already exists, Please enter another name<sup>*</sup>
                            </label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="alrdyexist" data-ng-model="shg.existingShgNamePleaseChange" placeholder="SHG name already exists, Please enter another name">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zone" class="" style="font-weight:600;margin-top:7px;color:#262d57;">SHG Created<sup>*</sup>
                            </label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="thankYouCreated" data-ng-model="shg.thankYouCreated" placeholder="SHG has been Created">
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zone" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Are you sure to delete shg?<sup>*</sup>
                            </label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="areyousure" data-ng-model="shg.areYouSure" placeholder="Are you sure, you want to delete?">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Confirm Delete!<sup>*</sup></label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="confirmDelete" data-ng-model="shg.confirmDelete" placeholder="Confirm Delete!">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zone" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Thank You<sup>*</sup>
                            </label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="thankYouCreated" data-ng-model="shg.thankYou" placeholder="Thank You">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zone" class="" style="font-weight:600;margin-top:7px;color:#262d57;">SHG Updated<sup>*</sup>
                            </label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="thankYouUpdated" data-ng-model="shg.thankYouUpdated" placeholder="SHG has been Updated">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zone" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Group Already Exists<sup>*</sup>
                            </label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="alreadyGroupExists" data-ng-model="shg.alreadyGroupExists" placeholder="Group Already Exists">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Are You Sure Want To Save?<sup>*</sup></label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="thankYouUpdated" data-ng-model="shg.areYouSureToWantToSave" placeholder="Are You Sure Want To Save"> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Are You Sure To Delete<sup>*</sup></label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="areyousurehh" data-ng-model="shg.areYouSureHH" placeholder="Are you sure? you want to delete?">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zone" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Atleast One Member<sup>*</sup>
                            </label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="atleastOneMember" data-ng-model="shg.atleastOneMember" placeholder="Atleast One Member">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zone" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Account No Should Be More Than 6 Digits or Less Than 18 Digits<sup>*</sup>
                            </label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="accNoValid" data-ng-model="shg.accNoValidationAlert" placeholder="Account No Should Be More Than 6 Digits or Less Than 18 Digits">
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        
        
        <div class="row padding3">
            <div style="width:100%;height:auto;color:#262d57;border-bottom:2px solid #f4f4f4;"> <span style="font-weight:bold" class="ng-binding">Mobile Labels</span> </div>
            <br/>
            <div style="display:block">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="basicDetails" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Basic Details<sup>*</sup>
                            </label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="basicDetails" data-ng-model="shg.basic" placeholder="Basic Details">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="groupDetails" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Group Details<sup>*</sup>
                            </label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="groupDetails" data-ng-model="shg.group" placeholder="Group Details">
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="pleaseSelectBank" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Please Select Bank<sup>*</sup>
                            </label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="pleaseSelectBank" data-ng-model="shg.selectassociatebank" placeholder="Please Select Bank">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="fetchingData" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Fetching Data<sup>*</sup></label>
                            <div class="" style="margin-top:7px;">
                                <input type="text" class="form-control" id="fetchingData" data-ng-model="shg.fetchingData" placeholder="Fetching Data">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--                </div>-->
        <!--
              
            </div>
        </div>
-->

        <!--        ========================             -->

        <!--
        <div class="row">
            <div style="display:block">
                <div class="col-sm-6">
                    <div class="form-group">
                        
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">SHG Registraion List
                        </label>
                        <div class="col-sm-6" style="margin-top:7px;">
                            <input type="text" class="form-control" id="shglist" data-ng-model="shg.shgList" ng-blur="Validate($event)" placeholder="SHG Registraion List">
                        </div>
                    </div>
                    <div class="form-group">
                        
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">SHG Registraion Edit
                        </label>
                        <div class="col-sm-6" style="margin-top:7px;">
                            <input type="text" class="form-control" id="shgedit" data-ng-model="shg.shgEdit" ng-blur="Validate($event)" placeholder="SHG Registraion Edit">
                        </div>
                    </div>

                    <div class="form-group">
                        
                        <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Associate HF
                        </label>
                        <div class="col-sm-6" style="margin-top:7px;">
                            <input type="text" class="form-control" id="hf" data-ng-model="shg.associateHF" ng-blur="Validate($event)" placeholder="Associate HF">
                        </div>
                    </div>
                    <div class="form-group">
                        
                        <label for="search" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Search
                        </label>
                        <div class="col-sm-6" style="margin-top:7px;">
                            <input type="text" class="form-control" id="search" data-ng-model="shg.search" ng-blur="Validate($event)" placeholder="Search">
                        </div>
                    </div>
                    <div class="form-group">
                        
                        <label for="search" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Name
                        </label>
                        <div class="col-sm-6" style="margin-top:7px;">
                            <input type="text" class="form-control" id="name" data-ng-model="shg.name" ng-blur="Validate($event)" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group">
                        
                        <label for="search" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Age
                        </label>
                        <div class="col-sm-6" style="margin-top:7px;">
                            <input type="text" class="form-control" id="age" data-ng-model="shg.age" ng-blur="Validate($event)" placeholder="Age">
                        </div>
                    </div>
                    <div class="form-group">
                        
                        <label for="search" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Action
                        </label>
                        <div class="col-sm-6" style="margin-top:7px;">
                            <input type="text" class="form-control" id="action" data-ng-model="shg.action" ng-blur="Validate($event)" placeholder="Action">
                        </div>
                    </div>

                    <div class="form-group">
                        
                        <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Status Filter
                        </label>
                        <div class="col-sm-6" style="margin-top:7px;">
                            <input type="text" class="form-control" id="statusFilter" data-ng-model="shg.statusFilter" placeholder="Status Filter">
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">SHG Registraion Create
                        </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" style="margin-top:7px;" id="shgcreate" data-ng-model="shg.shgCreate" ng-blur="Validate($event)" placeholder="SHG Registraion Create">
                        </div>
                    </div>
                    <div class="form-group">
                        
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Name of Group
                        </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" style="margin-top:7px;" id="group" data-ng-model="shg.nameOfGroup" ng-blur="Validate($event)" placeholder="Name of Group">
                        </div>
                    </div>
                    <div class="form-group">
                        
                        <label for="dob" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:#262d57;">Date of Formation </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" style="margin-top:7px;" id="formation" data-ng-model="shg.dateOfFormation" ng-blur="Validate($event)" placeholder="Date of Formation">
                        </div>
                    </div>

                    <div class="form-group">
                        
                        <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Meeting Interval
                        </label>
                        <div class="col-sm-6" style="margin-top:7px;">
                            <input type="text" class="form-control" id="meeting" data-ng-model="shg.meetingInterval" ng-blur="Validate($event)" placeholder="Meeting Interval">
                        </div>
                    </div>
                    <div class="form-group">
                        
                        <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Add New Household
                        </label>
                        <div class="col-sm-6" style="margin-top:7px;">
                            <input type="text" class="form-control" id="newhh" data-ng-model="shg.addNewHousehold" ng-blur="Validate($event)" placeholder="Add New Household">
                        </div>
                    </div>
                    <div class="form-group">
                        
                        <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Individual Id
                        </label>
                        <div class="col-sm-6" style="margin-top:7px;">
                            <input type="text" class="form-control" id="IId" data-ng-model="shg.individualId" ng-blur="Validate($event)" placeholder="Individual Id">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Phone Number
                        </label>
                        <div class="col-sm-6" style="margin-top:7px;">
                            <input type="text" class="form-control" id="phone" data-ng-model="shg.phoneNumber" ng-blur="Validate($event)" placeholder="Phone Number">
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Amount To Be Saved Per Member Per Meeting
                        </label>
                        <div class="col-sm-6" style="margin-top:7px;">
                            <input type="text" class="form-control" id="amount" data-ng-model="shg.amountToBeSave" placeholder="Amount To Be Save">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">

                <div class="form-group">
                    <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Associated Bank
                    </label>
                    <div class="col-sm-6" style="margin-top:7px;">
                        <input type="text" class="form-control" id="assobank" data-ng-model="shg.associatedBank" placeholder="Associated Bank">
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Account Number For SHG</label>
                    <div class="col-sm-6" style="margin-top:7px;">
                        <input type="text" class="form-control" id="accno" data-ng-model="shg.accountNumberForShg" placeholder="Account Number">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">

                <div class="form-group">
                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Show
                    </label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="show" data-ng-model="shg.show" placeholder="Show">
                    </div>
                </div>

                <div class="form-group">
                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Interest rate For Loan Per Month
                    </label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="interestrate" data-ng-model="shg.interestRateForLoan" placeholder="Interest Rate">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-6">

                <div class="form-group">
                    <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">No Of Members In Group
                    </label>
                    <div class="col-sm-6" style="margin-top:7px;">
                        <input type="text" class="form-control" id="noofmembers" data-ng-model="shg.noOfMembersInGroup" placeholder="No Of Members In Group">
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Last Meeting Date</label>
                    <div class="col-sm-6" style="margin-top:7px;">
                        <input type="text" class="form-control" id="lastmeetingdate" data-ng-model="shg.lastMeetingDate" placeholder="Last Meeting Date">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">SHG Created
                    </label>
                    <div class="col-sm-6" style="margin-top:7px;">
                        <input type="text" class="form-control" id="thankYouCreated" data-ng-model="shg.thankYouCreated" placeholder="SHG has been Created">
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Confirm Delete!</label>
                    <div class="col-sm-6" style="margin-top:7px;">
                        <input type="text" class="form-control" id="confirmDelete" data-ng-model="shg.confirmDelete" placeholder="Confirm Delete!">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Are you sure to delete shg?
                    </label>
                    <div class="col-sm-6" style="margin-top:7px;">
                        <input type="text" class="form-control" id="areyousure" data-ng-model="shg.areYouSure" placeholder="Are you sure, you want to delete?">
                    </div>
                </div>
-->


        <!--
                <div class="form-group">
                    <label for="nameofgrp" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Enter Name Of The Group
                    </label>
                    <div class="col-sm-6" style="margin-top:7px;">
                        <input type="text" class="form-control" id="entergroupname" data-ng-model="shg.enterNameOfGroup" placeholder="Enter Name Of The Group">
                    </div>
                </div>
-->
        <!--

            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Select Associated HF
                    </label>
                    <div class="col-sm-6" style="margin-top:7px;">
                        <input type="text" class="form-control" id="selectassocistedhf" data-ng-model="shg.selectAssociateHF" placeholder="Select Associated HF">
                    </div>
                </div>
-->

        <!--
                <div class="form-group">
                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Select Meeting Interval</label>
                    <div class="col-sm-6" style="margin-top:7px;">
                        <input type="text" class="form-control" id="selectmeetinginterval" data-ng-model="shg.selectMeetingInterval" placeholder="Select Meeting Interval">
                    </div>
                </div>
-->

        <!--
            </div>

        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="nameofgrp" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Enter Name Of The Group
                    </label>
                    <div class="col-sm-6" style="margin-top:7px;">
                        <input type="text" class="form-control" id="entergroupname" data-ng-model="shg.enterNameOfGroup" placeholder="Enter Name Of The Group">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Select Meeting Interval</label>
                    <div class="col-sm-6" style="margin-top:7px;">
                        <input type="text" class="form-control" id="selectmeetinginterval" data-ng-model="shg.selectMeetingInterval" placeholder="Select Meeting Interval">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">

                <div class="form-group">
                    <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Enter Amount
                    </label>
                    <div class="col-sm-6" style="margin-top:7px;">
                        <input type="text" class="form-control" id="enteramount" data-ng-model="shg.enterAmount" placeholder="Enter Amount">
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Amount Should Be</label>
                    <div class="col-sm-6" style="margin-top:7px;">
                        <input type="text" class="form-control" id="entergroupname" data-ng-model="shg.amountShouldBe" placeholder="Amount should be more than 50">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Enter Interest Rate
                    </label>
                    <div class="col-sm-6" style="margin-top:7px;">
                        <input type="text" class="form-control" id="selectassocistedhf" data-ng-model="shg.enterInterestRate" placeholder="Please Enter Interest Rate Per Month">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Add New
                    </label>
                    <div class="col-sm-6" style="margin-top:7px;">
                        <input type="text" class="form-control" id="addnew" data-ng-model="shg.addNew" placeholder="Add New">
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">

                <div class="form-group">
                    <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Select Date Of Formation
                    </label>
                    <div class="col-sm-6" style="margin-top:7px;">
                        <input type="text" class="form-control" id="selectdateofformation" data-ng-model="shg.selectDateOfFormation" placeholder="Select Date Of Formation">
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Are You Sure To Delete</label>
                    <div class="col-sm-6" style="margin-top:7px;">
                        <input type="text" class="form-control" id="areyousurehh" data-ng-model="shg.areYouSureHH" placeholder="Are you sure? you want to delete?">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Group Already Exists
                    </label>
                    <div class="col-sm-6" style="margin-top:7px;">
                        <input type="text" class="form-control" id="alreadyGroupExists" data-ng-model="shg.alreadyGroupExists" placeholder="Group Already Exists">
                    </div>
                </div>
                <div class="form-group">
                    <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Atleast One Member
                    </label>
                    <div class="col-sm-6" style="margin-top:7px;">
                        <input type="text" class="form-control" id="atleastOneMember" data-ng-model="shg.atleastOneMember" placeholder="Atleast One Member">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">


            <div class="col-sm-6">

                <div class="form-group">
                    <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">SHG Having Members
                    </label>
                    <div class="col-sm-6" style="margin-top:7px;">
                        <input type="text" class="form-control" id="shgHavingMembers" data-ng-model="shg.shgHavingMembers" placeholder="SHG Having Members">
                    </div>
                </div>
                <div class="form-group">
                    <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Thank You
                    </label>
                    <div class="col-sm-6" style="margin-top:7px;">
                        <input type="text" class="form-control" id="thankYouCreated" data-ng-model="shg.thankYou" placeholder="Thank You">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">SHG Updated
                    </label>
                    <div class="col-sm-6" style="margin-top:7px;">
                        <input type="text" class="form-control" id="thankYouUpdated" data-ng-model="shg.thankYouUpdated" placeholder="SHG has been Updated">
                    </div>
                </div>
                <div class="form-group">
                    <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Add New
                    </label>
                    <div class="col-sm-6" style="margin-top:7px;">
                        <input type="text" class="form-control" id="addnew" data-ng-model="shg.addNew" placeholder="Add New">
                    </div>
                </div>
                <div class="form-group">
                    <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Save
                    </label>
                    <div class="col-sm-6" style="margin-top:7px;">
                        <input type="text" class="form-control" id="save" data-ng-model="shg.saveLabel" placeholder="Save">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-6">

                <div class="form-group">
                    <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Update
                    </label>
                    <div class="col-sm-6" style="margin-top:7px;">
                        <input type="text" class="form-control" id="update" data-ng-model="shg.update" placeholder="Update">
                    </div>
                </div>
                <div class="form-group">
                    <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Edit
                    </label>
                    <div class="col-sm-6" style="margin-top:7px;">
                        <input type="text" class="form-control" id="Edit" data-ng-model="shg.edit" placeholder="Edit">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Cancel
                    </label>
                    <div class="col-sm-6" style="margin-top:7px;">
                        <input type="text" class="form-control" id="Cancel" data-ng-model="shg.cancel" placeholder="Cancel">
                    </div>
                </div>

                <div class="form-group">
                    <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Delete
                    </label>
                    <div class="col-sm-6" style="margin-top:7px;">
                        <input type="text" class="form-control" id="Delete" data-ng-model="shg.delete" placeholder="Delete">
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">

                <div class="form-group">
                    <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Export Data
                    </label>
                    <div class="col-sm-6" style="margin-top:7px;">
                        <input type="text" class="form-control" id="exportData" data-ng-model="shg.exportData" placeholder="Export Data">
                    </div>
                </div>

                <div class="form-group">
                    <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Account No Should Be More Than 6 Digits or Less Than 18 Digits
                    </label>
                    <div class="col-sm-6" style="margin-top:7px;">
                        <input type="text" class="form-control" id="accNoValid" data-ng-model="shg.accNoValidationAlert" placeholder="Account No Should Be More Than 6 Digits or Less Than 18 Digits">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:#262d57;">Total Amount Saved
                    </label>
                    <div class="col-sm-6" style="margin-top:7px;">
                        <input type="text" class="form-control" id="totalAmountSaved" data-ng-model="shg.totalAmountSaved" placeholder="Total Amount Saved">
                    </div>
                </div>
            </div>
        </div>
    </div>
-->

        <form class="" role="form">

            <br/>
            <br/>
            <br>
            <div align="right">
                <div>
                    <a data-ng-href="/LangShgList" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">Cancel</a>

                    <button type="button" class="btn btn-info btn-sm " data-ng-click="Save()" data-ng-show="isCreateView" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:30px;">Save</button>

                    <button type="button" class="btn btn-info btn-sm " data-ng-click="Update()" data-ng-hide="isCreateView" style="padding:5px 20px;margin-right:30px;">Update</button>
                </div>
            </div>
            <br>
        </form>
        <br/>
        <!-- /.box-body -->
        <div class="box-footer">
        </div>
        <!-- /.box-footer -->
    </div>
    <!-- /.box -->

    <modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
        <p>{{message}}</p>
    </modal2>

    <validationmodal title1="Alert!!!" visible="showValidation">
        {{validatestring1}}
    </validationmodal>
    
      <checkmodal title1="Alert" visible="showValidationNew">
    {{validatestring1}}
    <br>
   
             <div class="form-group">
                <div align="center">
                    <div align="center">
                        <a data-ng-click="OKBUTTON()" class="btn btn-success btn-sm " role="button" style="border-color:#db4242;padding:5px 20px;font-weight:bold;">Ok</a>
                        
                    </div>
                </div>
            </div>
</checkmodal>