<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        padding-left: 0px;
        /*        border-bottom: 4px solid #e72e5a;*/
    }
    
    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }
    
    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #f4f4f4;
        margin-top: 12px;
    }
    
    #wrapper div {
        /*        display: table-cell;*/
        height: auto;
    }
    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/
    /*
    tbody tr td {
        color:#9d9eb3;
        
    }
*/
    
    thead tr th {
        color: #4a4d72;
    }
    
    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 10px 20px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 10px 20px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        .space {
            padding: 5px 0px 5px 0px;
        }
    }

</style>
<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div id="wrapper">
        <div class="stylelink active box-header with-border">
            <h3 class="box-title ng-binding" style="font-weight:bold">HF List</h3>
        </div>
    </div>

    <div class="box-body">
        <!--<h2>documentmaster</h2>-->
        <br/>
        <form class=" " role="form">
            <br/>
            <div class="row padding3">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="zone" class="col-sm-4">Language<sup>*</sup> </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="" ng-model="hf.language" data-placeholder="Pick a Langauge" style="width: 100%;" ng-disabled="langdisable">
                                <option value=""></option>
                                <option data-ng-repeat="language in languages" value="{{language.id}}">{{ language.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
            <br/>
            <div class="row padding3">
                <div style="border-bottom:2px solid #f4f4f4;margin-left:18px;margin-right:18px;"> <span style="font-weight:bold">Labels</span> </div>
                <br/>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id">Mandatory<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="memberId" ng-model="hf.mandatory" placeholder="Mandatory">
                        </div>
                    </div>

                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id">Health Facilitator List<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="hflist" ng-model="hf.hflist" placeholder="Health Facilitator List">
                        </div>
                    </div>

                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id">Health Facilitator Create<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="hfcreate" ng-model="hf.hfCreate" placeholder="Health Facilitator Create">
                        </div>
                    </div>

                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id">Health Facilitator Edit<sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="hfedit" ng-model="hf.hfEdit" placeholder="Health Facilitator Edit">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id">Username<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="username" ng-model="hf.username" placeholder="Username">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id">Password<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="password" ng-model="hf.password" placeholder="Password">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id">Full Name<sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="fullname" ng-model="hf.fullname" placeholder="Full Name">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id">Mobile<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="mobile" ng-model="hf.mobile" placeholder="Mobile">
                        </div>
                    </div>

                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id">Email<sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="eamil" ng-model="hf.email" placeholder="Email">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="sales-code">User Info<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="userinfo" ng-model="hf.userinfo" placeholder="User Info">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Basic Info<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="basicinfo" data-ng-model="hf.basicinfo" placeholder="Basic Info">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">State<sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="state" data-ng-model="hf.state" placeholder="State">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Site<sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="Site" data-ng-model="hf.site" placeholder="Site">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Language<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="language" data-ng-model="hf.languageone" placeholder="Language">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Get Data<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="getdata" data-ng-model="hf.getdata" placeholder="Get Data">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Action<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="action" data-ng-model="hf.action" placeholder="Action">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">HF Username<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="hfusername" data-ng-model="hf.hfusername" placeholder="HF Username">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Details<sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="details" data-ng-model="hf.details" placeholder="Details">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Application<sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="application" data-ng-model="hf.application" placeholder="Application">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Condition<sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="condition" data-ng-model="hf.condition" placeholder="Condition">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Country<sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="country" data-ng-model="hf.country" placeholder="Basic Info">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">District<sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="district" data-ng-model="hf.district" placeholder="District">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Site Manager<sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="sitemgr" data-ng-model="hf.sitemanager" placeholder="Site Manager">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Show<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="show" data-ng-model="hf.show" placeholder="Show">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Push Data<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="pushdata" data-ng-model="hf.pushdata" placeholder="Push Data">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Last Pushed Data<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="lastpusheddata" data-ng-model="hf.lastpusheddata" placeholder="Last Pushed Data">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">HF Name<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="hfname" data-ng-model="hf.hfname" placeholder="HF Name">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">MEMBERS UPDATED / ADDED<sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="membersupdatedadded" data-ng-model="hf.membersupdatedadded" placeholder="MEMBERS UPDATED/ADDED">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">SHG Meetings<sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="shgmeeting" data-ng-model="hf.shgmeeting" placeholder="SHG Meetings">
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            
            <div class="row padding3">
                <div style="border-bottom:2px solid #f4f4f4;margin-left:18px;margin-right:18px;"> <span style="font-weight:bold">Placeholders</span> </div>
                <br/>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="agegroup">Select Language<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="languageselect" ng-model="hf.selectLanguage" placeholder="Select Language">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="agegroup">Search<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="search" ng-model="hf.search" placeholder="Search">
                        </div>
                    </div>
                </div>
            </div>
            <br/>

            <div class="row padding3">
                <div style="border-bottom:2px solid #f4f4f4;margin-left:18px;margin-right:18px;"> <span style="font-weight:bold">Error Messages</span> </div>
                <br/>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Health Facilitator has been Created<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="thankYouCreated" data-ng-model="hf.thankYouCreated" placeholder="Health Facilitator has been Created">
                        </div>
                    </div>

                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name">Health Facilitator has been Updated<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="thankYouUpdated" data-ng-model="hf.thankYouUpdated" placeholder="Health Facilitator has been Updated"> </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name">Are You Sure Want To Save<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="thankYouUpdated" data-ng-model="hf.areYouSureToWantToSave" placeholder="Are You Sure Want To Save"> </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Confirm Delete<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="confirmDelete" data-ng-model="hf.confirmDelete" placeholder="Confirm Delete">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Please Enter Username<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="enteremail" data-ng-model="hf.enterusername" placeholder="Please Enter Username">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Please Enter Email<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="enteremail" data-ng-model="hf.enteremail" placeholder="Please Enter Email">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Username Already Exists<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="usernameexist" data-ng-model="hf.usernameexist" placeholder="Username Already Exists">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Email Already Exists<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="emailexist" data-ng-model="hf.emailexist" placeholder="Email Already Exists">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Please Enter Fullname<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="enterfullname" data-ng-model="hf.enterfullname" placeholder="Please Enter Fullname">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Please Enter Mobile No<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="entermobile" data-ng-model="hf.entermobile" placeholder="Please Enter Mobile No">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Please Enter Password<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="entermobile" data-ng-model="hf.enterpassword" placeholder="Please Enter Password">
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            
            <div class="row padding3">
                <div style="border-bottom:2px solid #f4f4f4;margin-left:18px;margin-right:18px;"> <span style="font-weight:bold">Buttons</span> </div>
                <br/>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name">Export Data<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="exportData" data-ng-model="hf.exportData" placeholder="Export Data"> </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name">Cancel<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="cancel" data-ng-model="hf.cancel" placeholder="Cancel"> </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="edit-id">Ok<sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="ok" ng-model="hf.ok" placeholder="Ok">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Create<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="saveLabel" data-ng-model="hf.saveLabel" placeholder="Create">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Yes<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="saveLabel" data-ng-model="hf.yes" placeholder="Yes">
                        </div>
                    </div>

                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name">Add New<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="addNew" data-ng-model="hf.addNew" placeholder="Add New"> </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name">Edit<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="edit" data-ng-model="hf.edit" placeholder="Edit"> </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Delete<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="delete" data-ng-model="hf.delete" placeholder="Delete">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name">Update<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="update" data-ng-model="hf.update" placeholder="Update"> </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name">View<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="view" data-ng-model="hf.view" placeholder="View"> </div>
                    </div>
                </div>
            </div>
            <br/>
            <br/>
            <br/>
            <div align="right">
                <a data-ng-href="/LangHf-list" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">Cancel</a>
                
                <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="HideCreateButton" ng-disabled="CreateClicked" style="padding:5px 20px;margin-right:30px;">Create</a>&nbsp;

                <a class="btn btn-info btn-sm" type="submit" role="button" data-ng-click="Update()" data-ng-hide="HideCreateButton" style="padding:5px 20px;margin-right:30px;">Update</a>&nbsp;
            </div>
        </form>
    </div>
    <br/>
    
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->



<modal2 title1="{{modalTitle}}" visible="applyfordocumentdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>



<benefmodal1 visible="documentdataModal">
    <div class="modal-header" style="padding:0px;">
        <div class="pull-right" style="padding:15px;">
            <a data-ng-click="OK()" data-dismiss="modal" class="btn btn-success btn-sm " role="button" style="background:#db4242;border-color:#db4242;padding:5px 20px;font-weight:bold;">{{okbutton}}</a>
        </div>
        <h4 class="stylelink active modal-title" style="padding:20px 10px;">{{modalTitle}}</h4>
    </div>
    <div style="width:100%; height:auto; min-height:200px;  border: 1px solid #ffffff;padding:5px;" id="savemodals">
        <br/>

        <form class="form-horizontal" role="form">

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="first-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">{{member}}</label>
                        <div class="col-sm-6">
                            {{printmember.fullname}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">

                    <div class="form-group">
                        <label for="email" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">{{document}}</label>
                        <div class="col-sm-6">
                            <!--							{{printdocumenttype.name}}-->
                            <div ng-if="UserLanguage==1">
                                {{printdocumenttype.name}}
                            </div>
                            <div ng-if="UserLanguage==2">
                                {{printdocumenttype.hnname}}
                            </div>
                            <div ng-if="UserLanguage==3">
                                {{printdocumenttype.knname}}
                            </div>
                            <div ng-if="UserLanguage==4">
                                {{printdocumenttype.taname}}
                            </div>
                            <div ng-if="UserLanguage==5">
                                {{printdocumenttype.tename}}
                            </div>
                            <div ng-if="UserLanguage==6">
                                {{printdocumenttype.mrname}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="mobile" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">{{stage}}</label>
                        <div class="col-sm-6">
                            <!--							{{printstage.name}}-->
                            <div ng-if="UserLanguage==1">
                                {{printstage.name}}
                            </div>
                            <div ng-if="UserLanguage==2">
                                {{printstage.hnname}}
                            </div>
                            <div ng-if="UserLanguage==3">
                                {{printstage.knname}}
                            </div>
                            <div ng-if="UserLanguage==4">
                                {{printstage.taname}}
                            </div>
                            <div ng-if="UserLanguage==5">
                                {{printstage.tename}}
                            </div>
                            <div ng-if="UserLanguage==6">
                                {{printstage.mrname}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="mobile" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">{{followupdate}}</label>
                        <div class="col-sm-6">
                            {{printdate | date:'dd-MMM-yyyy'}}
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <br/>
            <br/>

            <!--<div>
				<div align="left">
					<a class="btn btn-success btn-sm btn-flat" role="button" data-ng-click="OK()">{{okbutton}}</a>
				</div>
			</div>-->
        </form>

    </div>


    <style>
        .toggle.android {
            border-radius: 0px;
        }
        
        .toggle.android .toggle-handle {
            border-radius: 0px;
        }
        
        #mapCanvas {
            width: 500px;
            height: 400px;
            float: left;
        }
        
        #infoPanel {
            margin-left: 100px;
        }
        
        #infoPanel div {
            margin-bottom: 5px;
        }

    </style>

</benefmodal1>

<script type="text/ng-template" id="template/AlertModal.html" class="modal" class="modal fade" role="dialog">
    <div class="modal-header">
        <h4 class="modal-title">{{palert}}</h4>
    </div>
    <div class="modal-body"> {{AlertMessage}} </div>
    <div class="modal-footer">
        <div align="left">

            <button type="button" class="btn btn-success btn-sm " ng-click="$close()">{{okbutton}}</button>

        </div>
    </div>
</script>

<checkmodal title1="Alert" visible="showValidationNew">
    {{validatestring1}}
    <br>
   
             <div class="form-group">
                <div align="center">
                    <div align="center">
                        <a data-ng-click="OKBUTTON()" class="btn btn-success btn-sm " role="button" style="border-color:#db4242;padding:5px 20px;font-weight:bold;">Ok</a>
                        
                    </div>
                </div>
            </div>
</checkmodal>
