<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        padding-left: 0px;

        /*        border-bottom: 4px solid #e72e5a;*/
    }

    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }

    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #f4f4f4;
        margin-top: 12px;
    }

    #wrapper div {
        /*        display: table-cell;*/
        height: auto;
    }

    .sell {
        position: relative;
        min-width: 45px;
    }

    .sell:after {
        content: url(images/piclinks/down-arrow.png);
        font: 17px "Consolas", monospace;
        color: #333;
        top: 5px;
        margin-left: -22px;
        padding: 0 0 2px;
        position: absolute;
        pointer-events: none;
    }

    .sell select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        /*        max-width: 320px;*/
        height: 32px;
        float: left;
        padding: 0px 7px;
        font-size: 14px;
        line-height: 1.75;
        color: #878993;
        border-radius: 4px;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #d5d7df;
        -ms-word-break: normal;
        word-break: normal;
    }

    d-break: noArmal;

    thead tr th {
        color: #4a4d72;
    }

    .breadcrumb>li+li:before {
        content: ">";
        /*  padding: 0 5px;*/
        color: #000;
    }

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 10px 20px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 10px 20px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        .space {
            padding: 5px 0px 5px 0px;
        }
    }

</style>
<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div id="wrapper">
        <div class="stylelink active box-header with-border">
            <h3 class="box-title ng-binding" style="font-weight:600">HF List</h3>
        </div>
    </div>

    <div class="box-body">
        <br/>
        <div class="row padding3">
            <div class="col-sm-5">
                <div class="col-sm-12" style="margin-left: -40px;">
                    <ol class="breadcrumb" style="background: #fff;">
                        <li>Admin</li>
                        <li>Language Menu</li>
                        <li class="active">HF List</li>
                    </ol>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="col-sm-2"></div>
                <div data-ng-hide="hideSearchFilter()" class="col-sm-1 col-md-1" style=" padding-right:0px;padding-left:0px;">
                    <label class="showlabel">Show</label>
                    <div class="sell">
                        <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    </div>
                </div>
                <div data-ng-hide="hideSearchFilter()" class="col-sm-5 col-md-5 smright2txt" style="padding-right:0px;pading-top:1.8em;">
                    <div class="space">
                        <form role="form">
                            <div class="input-group">
                                <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-left-radius:4px;border-bottom-left-radius: 4px;border-color:#d5d7df;background:none;border-right:none;"><span class="glyphicon glyphicon-search"></span></button>
                                </span>
                                <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search" style="z-index:0;border-left:none;border-color:#d5d7df;border-top-right-radius:4px;border-bottom-right-radius: 4px;" ng-model="searchUser" focus="someFocusVariable">

                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-2 col-md-2  smright smright2txt" style="padding-top: 1.8em;">
                    <a data-ng-href="/LangHf/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-right:10px;">Add New </a>
                </div>
            </div>
        </div>
        <br/>
        <div data-ng-hide="showForm()" class="table-responsive">

            <table class="table">
                <thead>
                    <tr>
                        <th ng-click="changeSorting('index')" title="#" style="cursor:pointer;padding-left:2.3%;">S NO.<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('index')"></i></span></th>

                        <th ng-click="changeSorting('language')" title="Language" style="cursor:pointer;">Language<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('language')"></i></span></th>

                        <th ng-click="changeSorting('username')" title="Username" style="cursor:pointer;">Username<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('username')"></i></span></th>

                        <th ng-click="changeSorting('mobile')" title="Mobile" style="cursor:pointer;">Mobile <span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('dateofAdding')"></i></span></th>

                        <th ng-click="changeSorting('email')" title="Email" style="cursor:pointer;">Email<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('email')"></i></span></th>



                        <th style="width:100px;">ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="hfLanguage in hflanguages| filter: searchUser | orderBy:sort.active:sort.descending |itemsPerPage:pageSize" pagination-id="fstable1" current-page=currentpage>
                        <td style="padding-left:2.3%;">{{hfLanguage.index}}</td>
                        <td>{{hfLanguage.langname}}</td>
                        <td>{{hfLanguage.username}}</td>
                        <td>{{hfLanguage.mobile}}</td>
                        <td>{{hfLanguage.email}}</td>
                        <td>
                            <a data-ng-href="/LangHf/edit/{{hfLanguage.id}}" style="color: black;" role="button"><img  src="images/piclinks/edit.png" width="16px" tile="Edit"></a>&nbsp;&nbsp;
                            <!--                            <a style="color:#b7b8c8;">|</a>&nbsp;&nbsp;-->
                        </td>
                    </tr>
                </tbody>
            </table>
            <br/>
            <div class="padding3" align="right">
                <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" pagination-id="fstable1" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
                </dir-pagination-controls>
            </div>
        </div>
    </div>
    <br/>

    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->
