<style>
    

.stylelink {
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        color: #4a4d72;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;
        border-bottom: 4px solid #ec0b6d;
    }
    
    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }
    
    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 4px solid #f4f4f4;
        background-color: #fff;
    }
    
    #wrapper div {
        display: table-cell;
        height: auto;
    }
    
    .nav-tabs-custom > .nav-tabs > li {
        width: 19%;
    }
    
    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 10px;
            padding: 5px 10px;
        }
        .stylelink.active {
            font-size: 10px;
            padding: 5px 10px;
        }
        .sub_menu {
            font-size: 10px;
            padding: 5px 10px;
        }
        .sub_menu.active {
            font-size: 10px;
            padding: 5px 10px;
        }
        .nav-tabs-custom > .nav-tabs > li {
            position: relative;
            display: block;
            padding: 10px;
            text-align: center;
            width: 180px;
        }
    }
</style>

<div style="width:100%;height:auto;background:#ffffff;margin-top:12px;">
    <div id="wrapper">
        <div style="text-align:center;">
            <a class="stylelink active" href="/Langapplyforschmlist" title="APPLY FOR SCHEME LABEL LIST"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">APPLY FOR SCHEME LABEL LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/schemes-list" title="SCHEMES"><span style="flex:1;white-space:pre;overflow:hidden;text-overflow: ellipsis;">SCHEMES </span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/agegroup-list" title="AGE GROUP"><span style="flex:1;white-space:pre;overflow:hidden;text-overflow: ellipsis;">AGE GROUP</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink " href="/healthstatus-list" title="HEALTH STATUS"><span style="flex:1;white-space:pre;overflow:hidden;text-overflow: ellipsis;">HEALTH STATUS</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/minoritystatus-list" title="MINORITY STATUS"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">MINORITY STATUS</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/socialstatus-list" title="SOCIAL STATUS"><span style="flex:1;white-space:pre;overflow:hidden;text-overflow: ellipsis;">SOCIAL STATUS</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/occupationstatus-list" title="OCCUPATION STATUS"><span style="flex:1;white-space:pre;overflow:hidden;text-overflow: ellipsis;">OCCUPATION STATUS</span></a>
        </div>
    </div>
</div>

<div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
        <div style="text-align:center;">
            <a class="stylelink" href="/locationtype-list" title="LOCATION TYPE"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">LOCATION TYPE</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/education-list" title="EDUCATIONAL STATUS"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">EDUCATIONAL STATUS</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/incomestatus-list" title="INCOME STATUS"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">INCOME STATUS</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink  " href="/schemetype-list" title="SCHEME TYPE"><span style="flex:1;white-space:pre;overflow:hidden;text-overflow: ellipsis;">SCHEME TYPE</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink " href="/schemecategory-list" title="SCHEME CATEGORY"><span style="flex:1;white-space:pre;overflow:hidden;text-overflow: ellipsis;">SCHEME CATEGORY</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/schemestage-list" title="SCHEME STAGE"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">SCHEME STAGE</span></a>
        </div>
    </div>
</div>
<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <!--
    <div id="wrapper">
        <div class=" stylelink active box-header with-border" style="padding:20px 10px;">
            <h3 class="box-title" style="font-weight:600;">Apply For Scheme</h3>
        </div>
    </div>
-->
    <!-- Horizontal Form -->
    <!-- class="box box-info" style="min-height:450px;border-color:#b71c1c;">
	<div class="box-header with-border">
		<h3 class="box-title">{{applyforscheme}}</h3>
	</div>-->
    <!-- /.box-header -->
    <!-- form start -->
    <div class="box-body">
        <br/>
        <form class="" role="form">
            <div class="row padding">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:5px;color: #262d57;">Language<sup>*</sup> </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="" ng-model="afscheme.language" data-placeholder="Pick a Langauge" style="width: 100%;" ng-disabled="langdisable">
                                <option value=""></option>
                                <option data-ng-repeat="language in languages" value="{{language.id}}">{{ language.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
<!--                <div class="col-sm-3"></div>-->
            </div>
            <br/>
            
            <div class="padding">
                 <div style="color:#4a4d72;border-bottom:2px solid #f4f4f4;margin-bottom:15px;margin-left:18px;margin-right:18px;"> <span style="font-weight:bold" class="ng-binding">Labels</span> </div>
            <div class="row" style="margin:0;">
                    <div class="col-sm-3">
                        <div class="form-group">
                        <label for="schememaster-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Apply For Scheme List<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="memberId" ng-model="afscheme.schemeList" placeholder="Apply For Scheme List">
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                        <label for="schememaster-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Apply For Scheme Create<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="memberId" ng-model="afscheme.schemeCreate" placeholder="Apply For Scheme Create">
                        </div>
                    </div>
                        
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                        <label for="schememaster-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Apply For Scheme Edit<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="memberId" ng-model="afscheme.schemeEdit" placeholder="Apply For Scheme Edit">
                        </div>
                    </div>
                     </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                        <label for="sales-code" class="" style="font-weight:600;margin-top: 8px;color: #262d57;">Scheme <sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="schemeId" ng-model="afscheme.schemeId" placeholder="Scheme">
                        </div>
                    </div>
                </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                        <label for="schememaster-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Member<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="memberId" ng-model="afscheme.memberId" placeholder="Member">
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                         <div class="form-group">
                        <label for="sales-code" class="" style="font-weight:600;margin-top: 8px;color: #262d57;">Assigned To<sup>*</sup> </label>
                        <div class="">
                            <input type="text" class="form-control" id="assignedTo" ng-model="afscheme.assignedTo" placeholder="Assigned To">
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                        <label for="formid" class="" style="font-weight:600;margin-top: 8px;color: #262d57;">Follow Up Date<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="{{'datepickerstart' + $index}}" ng-model="afscheme.followUpDate" placeholder="Follow Up Date">
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                        <label for="formid" class="" style="font-weight:600;margin-top: 8px;color: #262d57;">Service fee charged<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="servicefee" ng-model="afscheme.serviceFeeCharged" placeholder="Service fee charged">
                        </div>
                    </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                        <label for="group" class="" style="font-weight:600; margin-top: 4px;color: #262d57;">Stage<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="stage" ng-model="afscheme.stage" placeholder="Stage">
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                        <label for="group" class="" style="font-weight:600; margin-top: 4px;color: #262d57;">Action<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="action" data-ng-model="afscheme.action" placeholder="Action">
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                        <label for="group" class="" style="font-weight:600; margin-top: 4px;color: #262d57;">Show<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="show" data-ng-model="afscheme.show" placeholder="Show">
                        </div>
                    </div>
                    </div>
                <div class="col-sm-3">
                        <div class="form-group">
                        <label for="group" class="" style="font-weight:600; margin-top: 4px;color: #262d57;">Scheme Title<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="show" data-ng-model="afscheme.schemeTitle" placeholder="Scheme Title">
                        </div>
                    </div>
                    </div>
                  </div>
            </div>
            <br/>
            
            <div class="padding">
                  <div style="color:#4a4d72;border-bottom:2px solid #f4f4f4;margin-bottom:15px;margin-left:18px;margin-right:18px;"> <span style="font-weight:bold" class="ng-binding">Placeholders</span> </div>
            <div class="row" style="margin:0;">
                    <div class="col-sm-3">
                        <div class="form-group" ng-hide="reponserec">
                        <label for="agegroup" class="" style="font-weight:600; margin-top: 4px;color: #262d57;">Response Recieved<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="organizationId" ng-model="afscheme.responseRecieve" placeholder="Response Recieved">
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                        <label for="group" class="" style="font-weight:600; margin-top: 4px;color: #262d57;">Search<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="search" data-ng-model="afscheme.search" placeholder="Search">
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group" ng-hide="rejectdis">
                        <label for="state" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Reason for Rejection<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="stateId" ng-model="afscheme.rejection" placeholder="Reason for Rejection">
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                        <label for="name" class="" style="font-weight:600;margin-top:7px;color: #262d57;">Select a Member<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="selectMember" data-ng-model="afscheme.selectMember" placeholder="Select a Member"> </div>
                    </div>
                    </div>
                 <div class="col-sm-3">
                     <div class="form-group" ng-hide="delaydis">
                        <label for="city" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Reason for Delay<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="cityId" ng-model="afscheme.delay" placeholder="Reason for Delay">
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                        <label for="group" class="" style="font-weight:600; margin-top: 4px;color: #262d57;">Select a Scheme<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="selectScheme" data-ng-model="afscheme.selectScheme" placeholder="Select a Scheme">
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                         <div class="form-group">
                        <label for="group" class="" style="font-weight:600; margin-top: 4px;color: #262d57;">Select a Follow up<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="selectFollowUp" data-ng-model="afscheme.selectFollowUp" placeholder="Select a Follow up">
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                        <label for="group" class="" style="font-weight:600; margin-top: 4px;color: #262d57;">Select a Assigned To<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="selectScheme" data-ng-model="afscheme.selectAssignedTo" placeholder="Select a Assigned To">
                        </div>
                    </div>
                    </div>
                 <div class="col-sm-3">
                     <div class="form-group">
                        <label for="name" class="" style="font-weight:600;margin-top:7px;color: #262d57;">Select Response Receive<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="selectResponseReceived" data-ng-model="afscheme.selectResponseReceived" placeholder="Select Response Receive"> </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                         <div class="form-group">
                        <label for="name" class="" style="font-weight:600;margin-top:7px;color: #262d57;">Select a Stage<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="selectStage" data-ng-model="afscheme.selectStage" placeholder="Select a Stage"> </div>
                    </div>
                </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                        <label for="name" class="" style="font-weight:600;margin-top:7px;color: #262d57;">Select Reason for Delay<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="selectReasonForDelay" data-ng-model="afscheme.selectReasonForDelay" placeholder="Select Reason for Delay"> </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                         <div class="form-group">
                        <label for="group" class="" style="font-weight:600; margin-top: 4px;color: #262d57;">Select Reason for Rejection<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="selectReasonForRejection" data-ng-model="afscheme.selectReasonForRejection" placeholder="Select Reason for Rejection">
                        </div>
                    </div>
                    </div>
                 </div>
            </div>
            <br/>
            
            <div class="padding">
                    <div style="color:#4a4d72;border-bottom:2px solid #f4f4f4;margin-bottom:15px;margin-left:18px;margin-right:18px;"> <span style="font-weight:bold" class="ng-binding">Error Messages</span> </div>
            <div class="row" style="margin:0;">
                    <div class="col-sm-3">
                        <div class="form-group">
                        <label for="group" class="" style="font-weight:600; margin-top: 4px;color: #262d57;">Scheme has been Created<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="thankYouCreated" data-ng-model="afscheme.thankYouCreated" placeholder="Scheme has been Created">
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                        <label for="name" class="" style="font-weight:600;margin-top:7px;color: #262d57;">Scheme has been Updated<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="thankYouUpdated" data-ng-model="afscheme.thankYouUpdated" placeholder="Scheme has been Updated"> </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                        <label for="group" class="" style="font-weight:600; margin-top: 4px;color: #262d57;">Confirm Delete<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="confirmDelete" data-ng-model="afscheme.confirmDelete" placeholder="Confirm Delete">
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                        <label for="group" class="" style="font-weight:600; margin-top: 4px;color: #262d57;">Scheme Already Added<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="confirmDelete" data-ng-model="afscheme.schemeAlreadyAdded" placeholder="Scheme Already Added">
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        <br/>
            
            <div class="padding">
                 <div style="color:#4a4d72;border-bottom:2px solid #f4f4f4;margin-bottom:15px;margin-left:18px;margin-right:18px;"> <span style="font-weight:bold" class="ng-binding">Buttons</span> </div>
            <div class="row" style="margin:0;">
                    <div class="col-sm-3">
                         <div class="form-group">
                        <label for="name" class="" style="font-weight:600;margin-top:7px;color: #262d57;">Export Data<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="exportData" data-ng-model="afscheme.exportData" placeholder="Export Data"> </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                        <label for="name" class="" style="font-weight:600;margin-top:7px;color: #262d57;">Add New<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="addNew" data-ng-model="afscheme.addNew" placeholder="Add New"> </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                        <label for="name" class="" style="font-weight:600;margin-top:7px;color: #262d57;">Cancel<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="cancel" data-ng-model="afscheme.cancel" placeholder="Cancel"> </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                        <label for="name" class="" style="font-weight:600;margin-top:7px;color: #262d57;">Edit<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="edit" data-ng-model="afscheme.edit" placeholder="Edit"> </div>
                    </div>
                    </div>
                     <div class="col-sm-3">
                         <div class="form-group">
                        <label for="group" class="" style="font-weight:600; margin-top: 4px;color: #262d57;">Save<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="saveLabel" data-ng-model="afscheme.saveLabel" placeholder="Save">
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                        <label for="name" class="" style="font-weight:600;margin-top:7px;color: #262d57;">Update<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="update" data-ng-model="afscheme.update" placeholder="Update"> </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                         <div class="form-group">
                        <label for="group" class="" style="font-weight:600; margin-top: 4px;color: #262d57;">Delete<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="delete" data-ng-model="afscheme.delete" placeholder="Delete">
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <br/>
            <!--            ////////////*******================<>>>>>>0>o<0<<<<<<>============*******////////////-->

            <!--
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="schememaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">1Apply For Scheme List</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="memberId" ng-model="afscheme.schemeList" placeholder="Apply For Scheme List">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="schememaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">1Apply For Scheme Edit</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="memberId" ng-model="afscheme.schemeEdit" placeholder="Apply For Scheme Edit">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="schememaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">1Member</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="memberId" ng-model="afscheme.memberId" placeholder="Member">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">

                            <div class="form-group">
                                <label for="schememaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">1Apply For Scheme Create</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="memberId" ng-model="afscheme.schemeCreate" placeholder="Apply For Scheme Create">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="sales-code" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">1Scheme </label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="schemeId" ng-model="afscheme.schemeId" placeholder="Scheme">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">1Stage</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="stage" ng-model="afscheme.stage" placeholder="Stage">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div ng-hide="datetimehide">
                                <div class="form-group">
                                    <label for="formid" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">1Follow Up Date</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="{{'datepickerstart' + $index}}" ng-model="afscheme.followUpDate" placeholder="Follow Up Date">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-hide="reponserec">
                                <label for="agegroup" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">1Response Recieved</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="organizationId" ng-model="afscheme.responseRecieve" placeholder="Response Recieved">
                                </div>
                            </div>
                            <div class="form-group" ng-hide="rejectdis">
                                <label for="state" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">1Reason for Rejection</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="stateId" ng-model="afscheme.rejection" placeholder="Reason for Rejection">
                                </div>
                            </div>
                            <div class="form-group" ng-hide="delaydis">
                                <label for="city" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">1Reason for Delay</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="cityId" ng-model="afscheme.delay" placeholder="Reason for Delay">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-6" ng-show="datetimehide" ng-if="schememaster.stage !=9">
                            <div class="form-group">
                                <label for="formid" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">1Follow Up Date</label>
                                <input type="text" class="form-control" id="{{'datepickerstart' + $index}}" ng-model="afscheme.followUpDate" placeholder="Follow Up Date">
                            </div>
                        </div>
                        <div class="col-sm-6">
                        </div>
                    </div>
                    <div class="row" style="margin:0px;">
                        <div class="col-sm-6">
                            <div class="form-group" ng-hide="purposeofloanhide">
                                <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Purposeofloan</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="financialgoal" data-ng-model="afscheme.purposeOfLoan" placeholder="Purposeofloan">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6" ng-hide="purposeofloanhide">
                            <div class="form-group">
                                <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Amounttaken</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="amounttaken" data-ng-model="afscheme.amountTaken" placeholder="Amounttaken" ng-change="TestamountTaken(schememaster.amount)"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin:0;padding:0;" ng-hide="purposeofloanhide">
                        <div class="col-sm-6" ng-hide="noofmonthrepay_Hide">
                            <div class="form-group">
                                <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Noofmonthrepay</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="financialgoal" data-ng-model="afscheme.noOfMonthRepay" placeholder="Noofmonthrepay" ng-change="MonthRepay(schememaster.noofmonthrepay)">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Amount To Be Saved</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="amountToBeSave" data-ng-model="afscheme.amountToBeSave" placeholder="Amount To Be Saved"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">1Show</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="show" data-ng-model="afscheme.show" placeholder="Show">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">1Export Data</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="exportData" data-ng-model="afscheme.exportData" placeholder="Export Data"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">1Search</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="search" data-ng-model="afscheme.search" placeholder="Search">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Add New</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="addNew" data-ng-model="afscheme.addNew" placeholder="Add New"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">1Action</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="action" data-ng-model="afscheme.action" placeholder="Action">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Cancel</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="cancel" data-ng-model="afscheme.cancel" placeholder="Cancel"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Save</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="saveLabel" data-ng-model="afscheme.saveLabel" placeholder="Save">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Update</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="update" data-ng-model="afscheme.update" placeholder="Update"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Scheme has been Created</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="thankYouCreated" data-ng-model="afscheme.thankYouCreated" placeholder="Scheme has been Created">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Scheme has been Updated</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="thankYouUpdated" data-ng-model="afscheme.thankYouUpdated" placeholder="Scheme has been Updated"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Cancel</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="cancel" data-ng-model="afscheme.cancel" placeholder="Cancel">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Edit</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="edit" data-ng-model="afscheme.edit" placeholder="Edit"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Delete</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="delete" data-ng-model="afscheme.delete" placeholder="Delete">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">1Select a Member</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="selectMember" data-ng-model="afscheme.selectMember" placeholder="Select a Member"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">1Select a Scheme</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="selectScheme" data-ng-model="afscheme.selectScheme" placeholder="Select a Scheme">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">1Select a Stage</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="selectStage" data-ng-model="afscheme.selectStage" placeholder="Select a Stage"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">1Select a Follow up</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="selectFollowUp" data-ng-model="afscheme.selectFollowUp" placeholder="Select a Follow up">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">1Select Response Receive</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="selectResponseReceived" data-ng-model="afscheme.selectResponseReceived" placeholder="Select Response Receive"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">1Select Reason for Rejection</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="selectReasonForRejection" data-ng-model="afscheme.selectReasonForRejection" placeholder="Select Reason for Rejection">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">1Select Reason for Delay</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="selectReasonForDelay" data-ng-model="afscheme.selectReasonForDelay" placeholder="Select Reason for Delay"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Confirm Delete</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="confirmDelete" data-ng-model="afscheme.confirmDelete" placeholder="Confirm Delete">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Are you sure, you want to remove this member?</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="areYouSure" data-ng-model="afscheme.areYouSure" placeholder="Are you sure, you want to remove this member?"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Scheme Already Added</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="confirmDelete" data-ng-model="afscheme.schemeAlreadyAdded" placeholder="Scheme Already Added">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">

                        </div>
                    </div>
-->
            <div class="row padding" ng-hide="purposeofloanhide">
                <div class="col-sm-3" ng-repeat="item in currMonthyear">
                    <div class="form-group">
                        <div class="col-sm-6">{{item}}</div>
                        <div class="col-sm-4">
                            <input type="checkbox" ng-model="studcheck[$index]" ng-value="$index" /> </div>
                    </div>
                </div>
            </div>
            <br/>
            <br/>
            <br/>
            <div>
                <div align="right"> 
                    <a data-ng-href="/Langapplyforschmlist" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">Cancel</a>
                    
                    <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateSave" ng-disabled="createClicked" style="padding:5px 20px;margin-right:30px;">Create </a> &nbsp; 
                    
                    <a class="btn btn-info btn-sm" type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateSave" ng-disabled="updateClicked" style="padding:5px 20px;margin-right:30px;">Update </a> &nbsp; 
                    </div>
            </div>
        </form>
    </div>
    <br/>
    <!-- /.box-body -->
    <div class="box-footer"> </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->
<modal1 title1="Search Schemes" visible="showschemesModal">
    <div style="width:100%; height:auto; min-height:500px;  border: 1px solid #E6E6E6; margin: 5px auto; padding:5px;">
        <br/>
        <form role="form" class="form-horizontal">
            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="last-name" class="col-sm-4" style="font-weight: 600; ">{{schemename}}</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="last-name" placeholder="{{schemename}}" ng-model="schemename"> </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="title" class="col-sm-4" style="font-weight: 600; margin-top: 4px;">{{state}}</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="group" data-placeholder="{{state}}" style="width:100%;" ng-model="schememaster.stateid">
                                <option value=""></option>
                                <option data-ng-repeat="state in states" value="{{state.id}}">{{ state.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="title" class="col-sm-4" style="font-weight: 600; margin-top: 4px;">{{agegroup}}</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="organizationId" ng-model="schememaster.agegrp" data-placeholder="{{agegroup}}" style="width:100%;">
                                <option value=""></option>
                                <option value="Any Age Group">Any Age Group</option>
                                <option value="Child(0-17 years)">Child(0-17 years)</option>
                                <option value="Adult(18-59 years)">Adult(18-59 years)</option>
                                <option value="Senior(60 and above years)">Senior(60 and above years)</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="title" class="col-sm-4" style="font-weight: 600; margin-top: 4px;">{{gender}}</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="group" data-placeholder="{{gender}}" style="width:100%;" ng-model="schememaster.gender">
                                <option value=""></option>
                                <option data-ng-repeat="gender in genders" value="{{gender.id}}">{{ gender.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div>
            <table class="table ">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{{ schemename }}</th>
                        <th>{{ schemelocalname }}</th>
                        <th>{{ category }}</th>
                        <th>{{ agegroup }}</th>
                        <th>{{ gender }}</th>
                        <th>{{ select }}?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="schememaster in printschemes| filter:schemename |itemsPerPage:5">
                        <td>{{ $index + 1 }}</td>
                        <td>{{schememaster.name}}</td>
                        <td>{{schememaster.localname}}</td>
                        <td>{{schememaster.category}}</td>
                        <td>{{schememaster.agegroup}}</td>
                        <td data-ng-init="gender = getGender(schememaster.gender)">{{gender.name}}</td>
                        <td>
                            <input class="eventCheckbox" type="radio" ng-model="schememaster.enabled" id="{{schememaster.enabled}}" ng-value="yes" name="vehicle">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div align="right">
                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"> </dir-pagination-controls>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <div align="left">
            <button class="btn btn-success btn-sm " ng-click="SaveScheme()"><span class="glyphicon glyphicon-ok"></span>{{ savebutton }}</button>
        </div>
    </div>
    <style>
        .toggle.android {
            border-radius: 0px;
        }
        
        .toggle.android .toggle-handle {
            border-radius: 0px;
        }
    </style>
</modal1>
<!--<modal2 title1="{{modalTitle}}" visible="applyforschemedataModal">
		<p>{{message}}</p>
</modal2>-->
<validationmodal title1="Alert" visible="showValidation"> {{validatestring1}} </validationmodal>

<benefmodal1 visible="documentdataModal">
    <div class="modal-header" style="padding:0px;color:#ffffff;">
        <div class="pull-right" style="padding:15px;"> <a data-ng-click="OK()" data-dismiss="modal" class="btn btn-success btn-sm " role="button" style="background:#db4242;border-color:#db4242;padding:5px 20px;font-weight:bold;">{{okbutton}}</a> </div>
        <h4 class=" stylelink active modal-title">{{modalTitle}}</h4>
    </div>
    <div style="width:100%; height:auto; min-height:200px;  border: 1px solid #ffffff;padding:5px;" id="savemodals">
        <br/>
        <form class="form-horizontal" role="form">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="first-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color: #262d57;">{{member}}</label>
                        <div class="col-sm-6"> {{printmember.fullname}} </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="email" class="col-sm-4" style="font-weight:600;margin-top:8px;color: #262d57;">{{scheme}}</label>
                        <div class="col-sm-6">
                            <div ng-if="UserLanguage==1"> {{printdocumenttype.name}} </div>
                            <div ng-if="UserLanguage==2"> {{printdocumenttype.hnname}} </div>
                            <div ng-if="UserLanguage==3"> {{printdocumenttype.knname}} </div>
                            <div ng-if="UserLanguage==4"> {{printdocumenttype.taname}} </div>
                            <div ng-if="UserLanguage==5"> {{printdocumenttype.tename}} </div>
                            <div ng-if="UserLanguage==6"> {{printdocumenttype.mrname}} </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="mobile" class="col-sm-4" style="font-weight:600;margin-top:8px;color: #262d57;">{{stage}}</label>
                        <div class="col-sm-6">
                            <!--							{{printstage.name}}-->
                            <div ng-if="UserLanguage==1"> {{printstage.name}} </div>
                            <div ng-if="UserLanguage==2"> {{printstage.hnname}} </div>
                            <div ng-if="UserLanguage==3"> {{printstage.knname}} </div>
                            <div ng-if="UserLanguage==4"> {{printstage.taname}} </div>
                            <div ng-if="UserLanguage==5"> {{printstage.tename}} </div>
                            <div ng-if="UserLanguage==6"> {{printstage.mrname}} </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="mobile" class="col-sm-4" style="font-weight:600;margin-top:8px;color: #262d57;">{{followupdate}}</label>
                        <div class="col-sm-6"> {{printdate | date:'dd-MMM-yyyy'}} </div>
                    </div>
                </div>
            </div>
            <br/>
            <br/>
            <br/>
            <!--<div>
				<div align="left">
					<a class="btn btn-success btn-sm " role="button" data-ng-click="OK()">{{okbutton}}</a>
				</div>
			</div>-->
        </form>
    </div>
    <style>
        .toggle.android {
            border-radius: 0px;
        }
        
        .toggle.android .toggle-handle {
            border-radius: 0px;
        }
        
        #mapCanvas {
            width: 500px;
            height: 400px;
            float: left;
        }
        
        #infoPanel {
            margin-left: 100px;
        }
        
        #infoPanel div {
            margin-bottom: 5px;
        }
    </style>
</benefmodal1>

<script type="text/ng-template" id="template/AlertModal.html" class="modal" class="modal fade" role="dialog">
    <div class="modal-header">
        <h4 class="modal-title">{{palert}}</h4>
    </div>
    <div class="modal-body"> {{AlertMessage}} </div>
    <div class="modal-footer">
        <div align="left">

            <button type="button" class="btn btn-success btn-sm " ng-click="$close()">{{okbutton}}</button>

        </div>
    </div>
</script>

     <checkmodal title1="Alert" visible="showValidationNew">
    {{validatestring1}}
    <br>
   
             <div class="form-group">
                <div align="center">
                    <div align="center">
                        <a data-ng-click="OKBUTTON()" class="btn btn-success btn-sm " role="button" style="border-color:#db4242;padding:5px 20px;font-weight:bold;">Ok</a>
                        
                    </div>
                </div>
            </div>
</checkmodal>