<style>
   .stylelink {
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        color: #4a4d72;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;
        border-bottom: 4px solid #ec0b6d;
    }
    
    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }
    
    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 4px solid #f4f4f4;
        background-color: #fff;
    }
    
    #wrapper div {
        display: table-cell;
        height: auto;
    }
    
   .nav-tabs-custom>.nav-tabs>li.active {
        /* border-top-color: #3c8dbc; */
        /* border-top-color: #cc3535; */
        width: 19%;
    }

    .nav-tabs-custom>.nav-tabs>li {
        border-top: 3px solid transparent;
        margin-bottom: -2px;
        /* margin-right: 5px; */
        width: 19%;
    }

    .sell {
        position: relative;
        min-width: 45px;
    }
    
    .sell:after {
        content: url(images/piclinks/down-arrow.png) ;
        font: 17px "Consolas", monospace;
        color: #333;
        top: 5px;
        margin-left: -22px;
        padding: 0 0 2px;
        position: absolute;
        pointer-events: none;
    }
    
    .sell select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        /*        max-width: 320px;*/
        height: 32px;
        float: left;
        padding: 0px 7px;
        font-size: 14px;
        line-height: 1.75;
        color: #878993;
        border-radius: 4px;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #d5d7df;
        -ms-word-break: normal;
        word-break: normal;
    }d-break: noArmal;
    
    
    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 10px;
            padding: 5px 10px;
        }
        .stylelink.active {
            font-size: 10px;
            padding: 5px 10px;
        }
        .sub_menu {
            font-size: 10px;
            padding: 5px 10px;
        }
        .sub_menu.active {
            font-size: 10px;
            padding: 5px 10px;
        }
        .nav-tabs-custom > .nav-tabs > li {
            position: relative;
            display: block;
            padding: 10px;
            text-align: center;
            width: 180px;
        }
        .space {
            padding: 5px 0px 5px 0px;
        }
    }
    
/*
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
        		background-color: #fff;
    }
    
    #wrapper div {
        display: table-cell;
        height: auto;
    }
*/
</style>
<!-- Horizontal Form -->

<!-- Horizontal Form -->

<div style="width:100%;height:auto;background:#ffffff;margin-top:12px;">
    <div id="wrapper">
         <div style="text-align:center;">
            <a class="stylelink active" href="/LangScreenTreat-list" title="SCREEN AND TREAT LIST"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">SCREEN AND TREAT LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/screentreat-list" title="SCREEN AND TREAT"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">SCREEN AND TREAT</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/screentreatstep-list" title="STEP"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">STEP</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/screentreatstatus-list" title="STATUS"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">STATUS</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/screentreatfollowup-list" title="FOLLOW UP"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">FOLLOW UP</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/screentreatchecklist-list" title="CHECK LIST"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">CHECK LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/reasonforcancelling-list" title="REASON FOR CANCELLING"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">REASON FOR CANCELLING</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/screentreatdiagnosis-list" title="DIAGNOSIS"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">DIAGNOSIS</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/screenedby-list" title="SCREENED BY"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">SCREENED BY</span></a>
        </div>
    </div>
</div>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
<!--    <div class="box-header with-border">-->
        <!--        <h3 class="box-title">Gender</h3>-->
<!--    </div>-->
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <br/>
        <div class="row padding">
            <div class="col-sm-5"></div>
            <div class="col-sm-7">
                <div class="col-sm-2"></div>
                <div data-ng-hide="hideSearchFilter()" class="col-sm-1" style="text-align:left;padding-left:0px;padding-right:0px;">
                <label>Show</label>
                    <div class="sell">
                <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                </div>
            </div>
            <div data-ng-hide="hideSearchFilter()" class="col-sm-5" style="padding-right:0px;padding-top:26px;">
                <div class="space">
                    <form role="form">
                        <div class="input-group">
                            <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-left-radius:4px;border-bottom-left-radius: 4px;border-color:#d5d7df;background:none;border-right:none;"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                            <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search" style="z-index:0;border-left:none;border-color:#d5d7df;border-top-right-radius:4px;border-bottom-right-radius: 4px;" ng-model="searchUser" focus="someFocusVariable">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-2" style="padding-top:26px;">
                <a data-ng-href="/LangScreenTreat/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-right:10px;">Add New </a>
            </div>
            </div>
        </div>
        <br/>
        <div data-ng-hide="showForm()" class="table-responsive">

            <table class="table">
                <thead>
                    <tr>
                         <th ng-click="changeSorting('index')" title="#" style="padding-left:30px;">S NO.&nbsp;&nbsp;<i class="fa fa-sort-desc" ng-class="getIcon('index')"></i></th>
                        
                        <th ng-click="changeSorting('language')" title="Language" >Language&nbsp;&nbsp;<i class="fa fa-sort-desc" ng-class="getIcon('language')"></i></th>
                        
                        <th ng-click="changeSorting('addNewCondition')" title="Add New Screen and Treat" style="width:205px;">Add New Screen and Treat&nbsp;&nbsp;<i class="fa fa-sort-desc" ng-class="getIcon('addNewCondition')"></i></th>
                        
                        <th ng-click="changeSorting('editCondition')" title="Edit Screen and Treat" style="width:205px;">Edit Screen and Treat&nbsp;&nbsp;<i class="fa fa-sort-desc" ng-class="getIcon('editCondition')"></i></th>
                        
                        <th ng-click="changeSorting('memberName')" title="Member Name">Member Name&nbsp;&nbsp;<i class="fa fa-sort-desc" ng-class="getIcon('memberName')"></i></th>
                        
                        <th ng-click="changeSorting('selectCondition')" title="Select a Screen and Treat">Select a Screen and Treat&nbsp;&nbsp;<i class="fa fa-sort-desc" ng-class="getIcon('selectCondition')"></i></th>
                        
                        <th style="width:65px;">ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="conditionLanguage in conditionLanguages| filter: searchUser | orderBy:sort.active:sort.descending |itemsPerPage:pageSize" pagination-id="fstable" current-page=currentpage>
                        <td style="padding-left:30px;">{{conditionLanguage.index}}</td>
                        <td data-ng-init="language = getLanguage(conditionLanguage.language)">{{language.name}}</td>
                        <td>{{conditionLanguage.addNewCondition}}</td>
                        <td>{{conditionLanguage.editCondition}}</td>
                        <td>{{conditionLanguage.memberName}}</td>
                        <td>{{conditionLanguage.selectCondition}}</td>
                        <td>
                            <a data-ng-href="/LangScreenTreat/edit/{{conditionLanguage.id}}" style="color: black;" role="button">
<!--                                <span class="glyphicon glyphicon-pencil" title="Edit"></span>-->
                             <img src="images/piclinks/edit.png" width="16px" title="Edit"/>
                            </a>&nbsp;&nbsp;
<!--                            <a style="color:#b7b8c8;">|</a>&nbsp;&nbsp;-->
                            <!--                            <a confirm-button="updateUsrFlag(user.id)" message="Are you sure want to delete?"><span class="glyphicon glyphicon-remove" style="cursor:pointer;" title="Bin"></span></a>&nbsp;-->
                        </td>
                    </tr>
                </tbody>
            </table>
            <br/>
            <div class="padding4" align="right">
                <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" pagination-id="fstable" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
                </dir-pagination-controls>
            </div>
        </div>
    </div>
    <br/>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->