<style>
   .stylelink {
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        color: #4a4d72;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;
        border-bottom: 4px solid #ec0b6d;
    }
    
    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }
    
    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }
    
    .selectdiv {
        position: relative;
        float: right;
        min-width: 100%;
    }

    .selectdiv:after {
        content: '>';
        font: 17px "Consolas", monospace;
        color: #333;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        margin-left: -20px;
        margin-top: -2px;
        padding: 0 0 2px;
        position: absolute;
        pointer-events: none;
    }

    .selectdiv select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        height: 32px;
        float: left;
        padding: 0px 7px;
        font-size: 14px;
        line-height: 1.75;
        color: #878993;
        border-radius: 4px;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #cccccc;
        -ms-word-break: normal;
        word-break: normal;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 4px solid #f4f4f4;
        background-color: #fff;
    }
    
    #wrapper div {
        display: table-cell;
        height: auto;
    }
    
    .nav-tabs-custom > .nav-tabs > li {
        width: 19%;
    }
    
    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 10px;
            padding: 5px 10px;
        }
        .stylelink.active {
            font-size: 10px;
            padding: 5px 10px;
        }
        .sub_menu {
            font-size: 10px;
            padding: 5px 10px;
        }
        .sub_menu.active {
            font-size: 10px;
            padding: 5px 10px;
        }
        .nav-tabs-custom > .nav-tabs > li {
            position: relative;
            display: block;
            padding: 10px;
            text-align: center;
            width: 180px;
        }
        .space {
            padding: 5px 0px 5px 0px;
        }
        
        
    }
/*
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
        		background-color: #fff;
    }
    
    #wrapper div {
        display: table-cell;
        height: auto;
    }
*/
</style>
<!-- Horizontal Form -->

<!-- Horizontal Form -->

<div style="width:100%;height:auto;background:#ffffff;margin-top:12px;">
    <div id="wrapper">
         <div style="text-align:center;">
            <a class="stylelink active" href="/LangScreenTreat-list" title="SCREEN AND TREAT LIST"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">SCREEN AND TREAT LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/screentreat-list" title="SCREEN AND TREAT"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">SCREEN AND TREAT</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/screentreatstep-list" title="STEP"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">STEP</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/screentreatstatus-list" title="STATUS"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">STATUS</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/screentreatfollowup-list" title="FOLLOW UP"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">FOLLOW UP</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/screentreatchecklist-list" title="CHECK LIST"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">CHECK LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/reasonforcancelling-list" title="REASON FOR CANCELLING"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">REASON FOR CANCELLING</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/screentreatdiagnosis-list" title="DIAGNOSIS"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">DIAGNOSIS</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/screenedby-list" title="SCREENED BY"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">SCREENED BY</span></a>
        </div>
    </div>
</div>

<div class="box box-info" style="min-height:450px;border-top:none;">
<!--    <div class="box-header with-border" >-->
        <!--        <h3 class="box-title">Gender</h3>-->
<!--    </div>-->
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <br/>
        <div class="row">
            <div class="col-sm-5"></div>
            <!--<h2>documentmaster</h2>-->
            <br/>
            <form class="" role="form">
                <div class="row padding3">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:5px;color: #262d57;">Language <sup>*</sup></label>
                            <div class="col-sm-6">
                                <select ui-select2 id="" ng-model="condition.language" data-placeholder="Pick a Langauge" style="width: 100%;" ng-disabled="langdisable">
                                    <option value=""></option>
                                    <option data-ng-repeat="language in languages" value="{{language.id}}">{{ language.name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
<!--                <br/>-->
                <!--///////////======*****======////////-->
                <div class="padding3">
                    <div style="color:#4a4d72;border-bottom:2px solid #f4f4f4;margin-left:18px;margin-right:18px;"> <span style="font-weight:bold">Labels</span> </div>
                        <br/>
                    <div class="row" style="margin:0;">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Screen and Treat List<sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="listcondition" ng-model="condition.conditionsList" placeholder="Screen and Treat List">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Add Screen and Treat<sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="addnew" ng-model="condition.addNewCondition" placeholder="Add Screen and Treat">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Member Name <sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="member" ng-model="condition.memberName" placeholder="Member Name">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Head Of The Household<sup>*</sup> </label>
                                <div class="">
                                    <input type="text" class="form-control" id="hhid" ng-model="condition.headOfTheHousehold" placeholder="Head Of The Household">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row" style="margin:0;padding:0;">
                             <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Individual Id <sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="invidualId" ng-model="condition.individualId" placeholder="Individual Id">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Edit Screen and Treat<sup>*</sup></label>
                                <div class="">

                                    <input type="text" class="form-control" id="edit" ng-model="condition.editCondition" placeholder="Edit Screen and Treat">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Screen and Treat <sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="condition" ng-model="condition.condition" placeholder="Screen and Treat">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Status<sup>*</sup> </label>
                                <div class="">

                                    <input type="text" class="form-control" id="status" ng-model="condition.status" placeholder="Status">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Step<sup>*</sup> </label>
                                <div class="">
                                    <input type="text" class="form-control" id="step" ng-model="condition.step" placeholder="Step">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Date <sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="step" ng-model="condition.date" placeholder="Date">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Follow Up <sup>*</sup></label>
                                <div class="">

                                    <input type="text" class="form-control" id="followupname" ng-model="condition.followUpName" placeholder="Follow Up">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Follow Up Date <sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="followupdate" ng-model="condition.followUpDate" placeholder="Follow Up Date">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row" style="margin:0;padding:0;">
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Next Follow Up Date <sup>*</sup></label>
                                <div class="">

                                    <input type="text" class="form-control" id="followupdate" ng-model="condition.nextFollowUpDate" placeholder="Next Follow Up Date">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Reason for Cancelling <sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="reason" ng-model="condition.reasonForCancelling" placeholder="Reason for Cancelling">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Action <sup>*</sup></label>
                                <div class="">

                                    <input type="text" class="form-control" id="action" ng-model="condition.action" placeholder="Action">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Case Closed <sup>*</sup></label>
                                <div class="">

                                    <input type="text" class="form-control" id="caseclosed" ng-model="condition.caseClosed" placeholder="Case Closed">
                                </div>
                            </div>
                        </div>
                     </div>
                    
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Diagnosis <sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="diagnosis" ng-model="condition.diagnosis" placeholder="Diagnosis">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Metric<sup>*</sup> </label>
                                <div class="">
                                    <input type="text" class="form-control" id="metric" ng-model="condition.metric" placeholder="Metric">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Value<sup>*</sup> </label>
                                <div class="">

                                    <input type="text" class="form-control" id="value" ng-model="condition.value" placeholder="Value">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Assigned To <sup>*</sup></label>
                                <div class="">

                                    <input type="text" class="form-control" id="assignedto" ng-model="condition.assignedTo" placeholder="Assigned To">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row" style="margin:0;">
                       <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Add Patient Record <sup>*</sup></label>
                                <div class="">

                                    <input type="text" class="form-control" id="value" ng-model="condition.addPatientRecord" placeholder="Add Patient Record">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Screened By<sup>*</sup> </label>
                                <div class="">
                                    <input type="text" class="form-control" id="value" ng-model="condition.screenedBy" placeholder="Screened By">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="c" style="font-weight:600;margin-top: 4px;color: #262d57;">Member <sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="step" ng-model="condition.member" placeholder="Member">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="c" style="font-weight:600;margin-top: 4px;color: #262d57;">Ok Label<sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="step" ng-model="condition.okLabel" placeholder="Ok Label">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="padding3">
                    <div style="color:#4a4d72;border-bottom:2px solid #f4f4f4;margin-left:18px;margin-right:18px;"> <span style="font-weight:bold">Placeholders</span> </div>
                     <br/>
                    <div class="row" style="margin:0;">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Select a Screen and Treat<sup>*</sup> </label>
                                <div class="">
                                    <input type="text" class="form-control" id="select" ng-model="condition.selectCondition" placeholder="Select a Screen and Treat">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Select a Reason for Cancelling <sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="selectreason" ng-model="condition.selectReasonForCancelling" placeholder="Select a Reason for Cancelling">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Select a Assigned To <sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="selectassignedto" ng-model="condition.selectAssignedTo" placeholder="Select a Assigned To">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Show <sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="show" ng-model="condition.show" placeholder="Show">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row" style="margin:0">
                         <div class="col-sm-3">
                            <div class="form-group">
                                <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Search<sup>*</sup> </label>
                                <div class="">
                                    <input type="text" class="form-control" id="search" ng-model="condition.search" placeholder="Search">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Status Filter<sup>*</sup> </label>
                                <div class="">
                                    <input type="text" class="form-control" id="statusfilter" ng-model="condition.statusFilter" placeholder="Status Filter">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Select a Step <sup>*</sup></label>
                                <div class="">

                                    <input type="text" class="form-control" id="selectstep" ng-model="condition.selectStep" placeholder="Select a Step">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Select a Status <sup>*</sup></label>
                                <div class="">

                                    <input type="text" class="form-control" id="selectstatus" ng-model="condition.selectStatus" placeholder="Select a Status">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin:0;">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Select a Diagnosis <sup>*</sup></label>
                                <div class="">

                                    <input type="text" class="form-control" id="selectdiagnosis" ng-model="condition.selectDiagnosis" placeholder="Select a Diagnosis">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Select Followup <sup>*</sup></label>
                                <div class="">

                                    <input type="text" class="form-control" id="selectfollowup" ng-model="condition.selectfollowUp" placeholder="Select Followupp">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Select Screened By <sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="value" ng-model="condition.selectScreenedBy" placeholder="Select Screened By">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="padding3">
                    <div style="color:#4a4d72;border-bottom:2px solid #f4f4f4;margin-left:18px;margin-right:18px;"> <span style="font-weight:bold">Error Messages</span> </div>
                        <br/>
                    <div class="row" style="margin:0;">
                         <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Please Select an Options<sup>*</sup> </label>
                                <div class="">
                                    <input type="text" class="form-control" id="selectOption" ng-model="condition.pleaseSelectanOptions" placeholder="Please Select an Options">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Please Select a Member<sup>*</sup> </label>
                                <div class="">
                                    <input type="text" class="form-control" id="selectamemberplease" ng-model="condition.pleaseSelectMember" placeholder="Please Select a Member">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Please Select a Screen and Treat <sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="selectconditionplease" ng-model="condition.pleaseSelectCondition" placeholder="Please Select a Screen and Treat">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Please Select a Followup <sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="selectfollowupplease" ng-model="condition.pleaseSelectFollowup" placeholder="Please Select a Followup">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row" style="margin:0;">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Thank You<sup>*</sup> </label>
                                <div class="">
                                    <input type="text" class="form-control" id="thankyou" ng-model="condition.thankYou" placeholder="Thank You">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Check List<sup>*</sup> </label>
                                <div class="">
                                    <input type="text" class="form-control" id="checklist" ng-model="condition.checkList" placeholder="Check List">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Sr No <sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="thankyou" ng-model="condition.srNo" placeholder="Sr No">
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Are you sure you want to save this screen and treat?<sup>*</sup> </label>
                                <div class="">
                                    <input type="text" class="form-control" id="suresave" ng-model="condition.areYouSureToWantToSave" placeholder="Are you sure you want to save this screen and treat?">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="padding3">
                    <div style="color:#4a4d72;border-bottom:2px solid #f4f4f4;margin-left:18px;margin-right:18px;"> <span style="font-weight:bold">Buttons</span> </div>
                        <br/>
                    <div class="row" style="margin:0;">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Edit<sup>*</sup> </label>
                                <div class="">
                                    <input type="text" class="form-control" id="edit" ng-model="condition.edit" placeholder="Edit">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="update-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Update<sup>*</sup> </label>
                                <div class="">
                                    <input type="text" class="form-control" id="updatelabel" ng-model="condition.update" placeholder="Update">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="save-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Save<sup>*</sup> </label>
                                <div class="">
                                    <input type="text" class="form-control" id="savelabel" ng-model="condition.saveLabel" placeholder="Save">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Cancel <sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="cancel" ng-model="condition.cancel" placeholder="Cancel">
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="row" style="margin:0;">
                          <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Add New<sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="export" ng-model="condition.addNew" placeholder="Add New">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Yes<sup>*</sup> </label>
                                <div class="">
                                    <input type="text" class="form-control" id="yes" ng-model="condition.yes" placeholder="Yes">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Export Data<sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="export" ng-model="condition.exportData" placeholder="Export Data">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Add<sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="addlabel" ng-model="condition.addLabel" placeholder="Add">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin:0;">
                  <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Remove<sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="removelabel" ng-model="condition.removeLabel" placeholder="Remove">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="padding3">
                    <div style="color:#4a4d72;border-bottom:2px solid #f4f4f4;margin-left:18px;margin-right:18px;"> <span style="font-weight:bold">Mobile Labels</span> </div>
                        <br/>
                    
                    <div class="row" style="margin:0;">
                  <div class="col-sm-3">
                            <div class="form-group">
                                <label for="fetchingData" class="" style="font-weight:600;margin-top: 4px;color: #262d57;">Fetching Data<sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="fetchingData" ng-model="condition.fetchingData" placeholder="Fetching Data">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--///////////======*****======////////-->
                <!--                //////////////////\\\\\\\\\\\\\\\\>>>>>>>>>>>>>>>--------------*>-->

                <!--
                <div class="row" style="margin:0;padding:0;">

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color: #262d57;">Conditions List</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="addnew" ng-model="condition.conditionsList" placeholder="Conditions List">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color: #262d57;">Add Condition</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="addnew" ng-model="condition.addNewCondition" placeholder="Add Condition">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color: #262d57;">Edit Condition</label>
                            <div class="col-sm-6">

                                <input type="text" class="form-control" id="edit" ng-model="condition.editCondition" placeholder="Edit Condition">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color: #262d57;">Member Name </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="member" ng-model="condition.memberName" placeholder="Member Name">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color: #262d57;">Head Of The Household </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="hhid" ng-model="condition.headOfTheHousehold" placeholder="Head Of The Household">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color: #262d57;">Individual Id </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="invidualId" ng-model="condition.individualId" placeholder="Individual Id">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color: #262d57;">Condition </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="condition" ng-model="condition.condition" placeholder="Condition">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color: #262d57;">Select a Condition </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="select" ng-model="condition.selectCondition" placeholder="Select a Condition">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color: #262d57;">Status </label>
                            <div class="col-sm-6">

                                <input type="text" class="form-control" id="status" ng-model="condition.status" placeholder="Status">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color: #262d57;">Select a Status </label>
                            <div class="col-sm-6">

                                <input type="text" class="form-control" id="selectstatus" ng-model="condition.selectStatus" placeholder="Select a Status">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color: #262d57;">Step </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="step" ng-model="condition.step" placeholder="Step">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color: #262d57;">Select a Step </label>
                            <div class="col-sm-6">

                                <input type="text" class="form-control" id="selectstep" ng-model="condition.selectStep" placeholder="Select a Step">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color: #262d57;">Follow Up </label>
                            <div class="col-sm-6">

                                <input type="text" class="form-control" id="followupname" ng-model="condition.followUpName" placeholder="Follow Up">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color: #262d57;">Select a Follow Up </label>
                            <div class="col-sm-6">

                                <input type="text" class="form-control" id="selectfollowup" ng-model="condition.selectfollowUp" placeholder="Select a Follow Up">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color: #262d57;">Next Follow Up Date </label>
                            <div class="col-sm-6">

                                <input type="text" class="form-control" id="followupdate" ng-model="condition.nextFollowUpDate" placeholder="Next Follow Up Date">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color: #262d57;">Follow Up Date </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="followupdate" ng-model="condition.followUpDate" placeholder="Follow Up Date">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color: #262d57;">Reason for Cancelling </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="reason" ng-model="condition.reasonForCancelling" placeholder="Reason for Cancelling">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color: #262d57;">Select a Reason for Cancelling </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="selectreason" ng-model="condition.selectReasonForCancelling" placeholder="Select a Reason for Cancelling">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color: #262d57;">Action </label>
                            <div class="col-sm-6">

                                <input type="text" class="form-control" id="action" ng-model="condition.action" placeholder="Action">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color: #262d57;">Edit </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="edit" ng-model="condition.edit" placeholder="Edit">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color: #262d57;">Delete </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="delete" ng-model="condition.delete" placeholder="Delete">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color: #262d57;">Are You Sure to Want to Delete? </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="areYouSure" ng-model="condition.areYouSure" placeholder="Are You Sure to Want to Delete?">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color: #262d57;">Please Select an Options </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="selectOption" ng-model="condition.pleaseSelectanOptions" placeholder="Please Select an Options">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color: #262d57;">Member </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="member" ng-model="condition.member" placeholder="Member">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color: #262d57;">Date </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="date" ng-model="condition.date" placeholder="Date">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color: #262d57;">Export Data</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="export" ng-model="condition.exportData" placeholder="Export Data">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color: #262d57;">Save Condition </label>
                            <div class="col-sm-6">

                                <input type="text" class="form-control" id="savecondition" ng-model="condition.saveCondtion" placeholder="Save Condition">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color: #262d57;">Update Condition </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="update" ng-model="condition.updateCondition" placeholder="Update Condition">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color: #262d57;">Conditions </label>
                            <div class="col-sm-6">

                                <input type="text" class="form-control" id="conditions" ng-model="condition.conditions" placeholder="Conditions">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color: #262d57;">Cancel </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="cancel" ng-model="condition.cancel" placeholder="Cancel">
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color: #262d57;">Add New</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="export" ng-model="condition.addNew" placeholder="Add New">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="save-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color: #262d57;">Save </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="savelabel" ng-model="condition.saveLabel" placeholder="Save">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="update-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color: #262d57;">Update </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="updatelabel" ng-model="condition.update" placeholder="Update">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="edit-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color: #262d57;">Edit </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="editlabel" ng-model="condition.edit" placeholder="Edit">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="edit-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color: #262d57;">Thank You </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="thankyou" ng-model="condition.thankYou" placeholder="Thank You">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="edit-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color: #262d57;">Show </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="show" ng-model="condition.show" placeholder="Show">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="edit-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color: #262d57;">Search </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="search" ng-model="condition.search" placeholder="Search">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="edit-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color: #262d57;">Status Filter </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="statusfilter" ng-model="condition.statusFilter" placeholder="Status Filter">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="edit-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color: #262d57;">Please Select a Member </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="selectamemberplease" ng-model="condition.pleaseSelectMember" placeholder="Please Select a Member">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="edit-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color: #262d57;">Please Select a Condition </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="selectconditionplease" ng-model="condition.pleaseSelectCondition" placeholder="Please Select a Condition">
                            </div>
                        </div>
                    </div>
-->

                <!--
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="edit-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color: #262d57;">Please Select a Status </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="selectstatusplease" ng-model="condition.pleaseSelectStatus" placeholder="Please Select a Status">
                            </div>
                        </div>
                    </div>
-->

                <!--
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="edit-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color: #262d57;">Please Select a Followup </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="selectfollowupplease" ng-model="condition.pleaseSelectFollowup" placeholder="Please Select a Followup">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="edit-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color: #262d57;">Are you sure you want to save this condition? </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="suresave" ng-model="condition.areYouSureToWantToSave" placeholder="Are you sure you want to save this condition?">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="edit-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color: #262d57;">Yes </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="yes" ng-model="condition.yes" placeholder="Yes">
                            </div>
                        </div>
                    </div>
                </div>
-->
                <br/>
                <br/>
                <br/>
                <div align="right">
                     <a data-ng-href="/LangScreenTreat-list" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">Cancel</a>
                    
                    <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="HideCreateButton" ng-disabled="CreateClicked" style="padding:5px 20px;margin-right:30px;">Create</a>&nbsp;

                    <a class="btn btn-info btn-sm" type="submit" role="button" data-ng-click="Update()" data-ng-hide="HideCreateButton" style="padding:5px 20px;margin-right:30px;">Update</a>&nbsp;
                </div>
            </form>
        </div>
        <br/>
        <!-- /.box-body -->
        <div class="box-footer">

        </div>
        <!-- /.box-footer -->
    </div>
    <!-- /.box -->



    <modal2 title1="{{modalTitle}}" visible="applyfordocumentdataModal">
        <p>{{message}}</p>
    </modal2>

    <validationmodal title1="Alert" visible="showValidation">
        {{validatestring1}}
    </validationmodal>
      <checkmodal title1="Alert" visible="showValidationNew">
    {{validatestring1}}
    <br>
   
             <div class="form-group">
                <div align="center">
                    <div align="center">
                        <a data-ng-click="OKBUTTON()" class="btn btn-success btn-sm " role="button" style="border-color:#db4242;padding:5px 20px;font-weight:bold;">Ok</a>
                        
                    </div>
                </div>
            </div>
</checkmodal>