<style>
    /*
    .stylelink {
        padding: 3px 10px;
        background: transparent;
        color: #333;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    }
    
    .stylelink.active {
        padding: 3px 10px;
        background: #b71c1c;
        color: #fff;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    } */
  

.stylelink {
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        color: #4a4d72;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;
        border-bottom: 4px solid #ec0b6d;
    }
    
    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }
    
    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 2px solid #f4f4f4;
        background-color: #fff;
/*        margin-top: 12px;*/
    }
    
    #wrapper div {
        display: table-cell;
        height: auto;
    }
    
    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/
    
    .nav-tabs-custom > .nav-tabs > li {
        width: 19%;
    }
    
    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 5px 10px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 5px 10px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        .nav-tabs-custom > .nav-tabs > li {
            position: relative;
            display: block;
            padding: 10px;
            text-align: center;
            width: 180px;
        }
          .space
        {
            padding: 5px 0px 5px 0px;
        }
    }
</style>
<div style="width:100%;height:auto;background:#ffffff;margin-top:12px;">
    <div id="wrapper">
        <div style="text-align:center;">
            <a class="stylelink active" href="/Langapplyfordoclist"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">APPLY FOR DOCUMENT LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink " href="/documenttype-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">DOCUMENT TYPE</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/responsereceive-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">RESPONSE RECEIVE</span></a>
        </div>
         <div style="text-align:center;">
            <a class="stylelink " href="/reasonforrejection-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">REASON FOR REJECTION</span></a> 
        </div>
     <div style="text-align:center;">
            <a class="stylelink" href="/reasonfordelay-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">REASON FOR DELAY</span></a>  
        </div>
    </div>

</div>
<!-- Horizontal Form -->
<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">

    <div id="wrapper">

<!--
        <div class=" stylelink active box-header with-border" style="padding:20px 10px;">
            <h3 class="box-title" style="font-weight:600;">Apply for Document</h3>

        </div>
-->

    </div>





    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <!--<h2>documentmaster</h2>-->
        <br/>
        <form class="" role="form">
            <div class="row padding">
                <br/>
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:5px;color:#262d57;">Language<sup>*</sup> </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="" ng-model="afdoc.language" data-placeholder="Pick a Langauge" style="width: 100%;" ng-disabled="langdisable">
                                <option value=""></option>
                                <option data-ng-repeat="language in languages" value="{{language.id}}">{{ language.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
<!--                <div class="col-sm-3"></div>-->
            </div>
            <br/>
            
            <div class="row padding">
                <div style="color:#4a4d72;border-bottom:2px solid #f4f4f4;margin-left:18px;margin-right:18px;"> <span style="font-weight:bold">Labels</span> </div>
                <br/>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Apply for Document List<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="memberId" ng-model="afdoc.afdList" placeholder="Apply for Document List">
                        </div>
                    </div>

                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Apply for Document Create<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="memberId" ng-model="afdoc.afdCreate" placeholder="Apply for Document Create">
                        </div>
                    </div>

                </div>
                 <div class="col-sm-3">
                      <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Apply for Document Edit <sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="memberId" ng-model="afdoc.afdEdit" placeholder="Apply for Document Edit">
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Member<sup>*</sup> </label>
                        <div class="">
                            <input type="text" class="form-control" id="memberId" ng-model="afdoc.memberId" placeholder="Member">
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                         <div class="form-group">
                        <label for="sales-code" class="" style="font-weight:600;color:#262d57;">Document<sup>*</sup> </label>
                        <div class="">
                            <input type="text" class="form-control" id="schemeId" ng-model="afdoc.documentId" placeholder="Document">
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                         <div class="form-group">
                        <label for="sales-code" class="" style="font-weight:600;color:#262d57;">Assigned To <sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="assigned" ng-model="afdoc.assignedTo" placeholder="Assigned To">
                        </div>
                    </div>
                    </div>
                 <div class="col-sm-3">
                     <div class="form-group">
                        <label for="zip" class="" style="font-weight:600;margin-top: 8px;color:#262d57;">Follow Up Date <sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="{{'datepicker' + $index}}" ng-model="afdoc.followUpDate" placeholder="Follow Up Date">
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                        <label for="formid" class="" style="font-weight:600;margin-top: 8px;color:#262d57;">Service fee charged<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="servicefee" ng-model="afdoc.serviceFeeCharged" placeholder="Service fee charged">
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                        <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Action<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="action" data-ng-model="afdoc.action" placeholder="Action">
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                        <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Stage<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="stage" data-ng-model="afdoc.stage" placeholder="Stage">
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                        <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Show<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="show" data-ng-model="afdoc.show" placeholder="Show">
                        </div>
                    </div>
                    </div>
                <div class="col-sm-3">
                        <div class="form-group">
                        <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Document Title<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="show" data-ng-model="afdoc.documentTitle" placeholder="Document Title">
                        </div>
                    </div>
                    </div>
            </div>
            <br/>
            
            <div class="padding">
                <div style="color:#4a4d72;border-bottom:2px solid #f4f4f4;margin-left:18px;margin-right:18px;"> <span style="font-weight:bold">Placeholders</span> </div>
                <br/>
                <div class="row" style="margin:0;">
                    <div class="col-sm-3">
                        <div class="form-group" ng-hide="reponserec">
                        <label for="agegroup" class="" style="font-weight:600;margin-top:4px;color:#262d57;">Response Recieved<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="organizationId" ng-model="afdoc.responseRecieve" placeholder="Response Recieved">
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                        <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Search<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="search" data-ng-model="afdoc.search" placeholder="Search">
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group" ng-hide="rejectdis">
                        <label for="state" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Reason for Rejection<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="stateId" ng-model="afdoc.rejection" placeholder="Reason for Rejection">
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                         <div class="form-group">
                        <label for="name" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Select a Member<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="selectMember" data-ng-model="afdoc.selectMember" placeholder="Select a Member"> </div>
                    </div>
                     </div>
                     <div class="col-sm-3">
                         <div class="form-group" ng-hide="delaydis">
                        <label for="city" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Reason for Delay <sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="cityId" ng-model="afdoc.delay" placeholder="Reason for Delay">
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                         <div class="form-group">
                        <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Select a Document<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="selectScheme" data-ng-model="afdoc.selectDocument" placeholder="Select a Scheme">
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group" ng-hide="reponserec">
                        <label for="agegroup" class="" style="font-weight:600;margin-top:4px;color:#262d57;">Select Assigned To<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="selectassigned" ng-model="afdoc.selectAssignedTo" placeholder="Select Assigned To">
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                          <div class="form-group">
                        <label for="name" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Select a Stage<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="selectStage" data-ng-model="afdoc.selectStage" placeholder="Select a Stage"> </div>
                    </div>
                    </div>
                     <div class="col-sm-3">
                         <div class="form-group">
                        <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Select a Follow up<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="selectFollowUp" data-ng-model="afdoc.selectFollowUp" placeholder="Select a Follow up">
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                        <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Select Reason for Rejection<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="selectReasonForRejection" data-ng-model="afdoc.selectReasonForRejection" placeholder="Select Reason for Rejection">
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                        <label for="name" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Select Response Receive<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="selectResponseReceived" data-ng-model="afdoc.selectResponseReceived" placeholder="Select Response Receive"> </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                         <div class="form-group">
                        <label for="name" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Select Reason for Delay<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="selectReasonForDelay" data-ng-model="afdoc.selectReasonForDelay" placeholder="Select Reason for Delay"> </div>
                    </div>
                    </div>
                </div>
            </div>
            <br/>
            
            <div class="row padding">
                <div style="color:#4a4d72;border-bottom:2px solid #f4f4f4;margin-left:18px;margin-right:18px;"> <span style="font-weight:bold">Error Messages</span> </div>
                <br/>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Document has been Created<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="thankYouCreated" data-ng-model="afdoc.thankYouCreated" placeholder="Document has been Created">
                        </div>
                    </div>

                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Document has been Updated<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="thankYouUpdated" data-ng-model="afdoc.thankYouUpdated" placeholder="Document has been Updated"> </div>
                    </div>
                </div>
        
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Confirm Delete<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="confirmDelete" data-ng-model="afdoc.confirmDelete" placeholder="Confirm Delete">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                         <div class="form-group">
                            <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Document Already Added<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="confirmDelete" data-ng-model="afdoc.documentAlreadyAdded" placeholder="Document Already Added">
                            </div>
                        </div>
                    </div>
                </div>
            <br/>
            
            <div class="row padding">
                <div style="color:#4a4d72;border-bottom:2px solid #f4f4f4;margin-left:18px;margin-right:18px;"> <span style="font-weight:bold">Buttons</span> </div>
                <br/>
                 <div class="col-sm-3">
                     <div class="form-group">
                        <label for="name" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Export Data<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="exportData" data-ng-model="afdoc.exportData" placeholder="Export Data"> </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                        <label for="name" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Add New<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="addNew" data-ng-model="afdoc.addNew" placeholder="Add New"> </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                         <div class="form-group">
                        <label for="name" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Cancel<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="cancel" data-ng-model="afdoc.cancel" placeholder="Cancel"> </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                        <label for="name" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Edit<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="edit" data-ng-model="afdoc.edit" placeholder="Edit"> </div>
                    </div>
                    </div>
                   <div class="col-sm-3">
                       <div class="form-group">
                        <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Save<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="saveLabel" data-ng-model="afdoc.saveLabel" placeholder="Save">
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                        <label for="name" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Update<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="update" data-ng-model="afdoc.update" placeholder="Update"> </div>
                    </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                        <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Delete<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="delete" data-ng-model="afdoc.delete" placeholder="Delete">
                        </div>
                    </div>
                    </div>
              </div>



<!--
            /////////////////
            <<<<<<<<<<<<<<<<<<=========ooo========>>>>>>>>>>>>>///////////////////////////
-->


<!--
                <div class="row" style="margin:0;padding:0;">

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Apply for Document List</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="memberId" ng-model="afdoc.afdList" placeholder="Apply for Document List">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Apply for Document Create</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="memberId" ng-model="afdoc.afdCreate" placeholder="Apply for Document Create">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Apply for Document Edit </label>
                            <div class="col-sm-6">

                                <input type="text" class="form-control" id="memberId" ng-model="afdoc.afdEdit" placeholder="Apply for Document Edit">
                            </div>
                        </div>
                    </div>



                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Member </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="memberId" ng-model="afdoc.memberId" placeholder="Member">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="sales-code" class="col-sm-4" style="font-weight:600;color:red;">Document </label>
                            <div class="col-sm-6">
                               
                                <input type="text" class="form-control" id="schemeId" ng-model="afdoc.documentId" placeholder="Document">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Stage</label>
                            <div class="col-sm-6">
                               
                                <input type="text" class="form-control" id="stage" data-ng-model="afdoc.stage" placeholder="Stage">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group" ng-hide="reponserec">
                            <label for="agegroup" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Response Recieved</label>
                            <div class="col-sm-6">
                               
                                <input type="text" class="form-control" id="organizationId" ng-model="afdoc.responseRecieve" placeholder="Response Recieved">
                            </div>
                        </div>

                        <div class="form-group" ng-hide="rejectdis">
                            <label for="state" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Reason for Rejection</label>
                            <div class="col-sm-6">
                              
                                <input type="text" class="form-control" id="stateId" ng-model="afdoc.rejection" placeholder="Reason for Rejection">
                            </div>
                        </div>


                        <div class="form-group" ng-hide="delaydis">
                            <label for="city" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Reason for Delay </label>
                            <div class="col-sm-6">
                             
                                <input type="text" class="form-control" id="cityId" ng-model="afdoc.delay" placeholder="Reason for Delay">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin:0;padding:0;" ng-hide="datetimehide">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Follow Up Date </label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control" id="{{'datepicker' + $index}}" ng-model="afdoc.followUpDate" placeholder="Follow Up Date">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">

                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Show</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="show" data-ng-model="afdoc.show" placeholder="Show">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Export Data</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="exportData" data-ng-model="afdoc.exportData" placeholder="Export Data"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Search</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="search" data-ng-model="afdoc.search" placeholder="Search">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Add New</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="addNew" data-ng-model="afdoc.addNew" placeholder="Add New"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Action</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="afdoc.action" placeholder="Action">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Cancel</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="cancel" data-ng-model="afdoc.cancel" placeholder="Cancel"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Save</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="saveLabel" data-ng-model="afdoc.saveLabel" placeholder="Save">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Update</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="update" data-ng-model="afdoc.update" placeholder="Update"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Document has been Created</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="thankYouCreated" data-ng-model="afdoc.thankYouCreated" placeholder="Document has been Created">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Document has been Updated</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="thankYouUpdated" data-ng-model="afdoc.thankYouUpdated" placeholder="Document has been Updated"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Cancel</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="cancel" data-ng-model="afdoc.cancel" placeholder="Cancel">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Edit</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="edit" data-ng-model="afdoc.edit" placeholder="Edit"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Delete</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="delete" data-ng-model="afdoc.delete" placeholder="Delete">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Select a Member</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="selectMember" data-ng-model="afdoc.selectMember" placeholder="Select a Member"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Select a Document</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="selectScheme" data-ng-model="afdoc.selectDocument" placeholder="Select a Scheme">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Select a Stage</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="selectStage" data-ng-model="afdoc.selectStage" placeholder="Select a Stage"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Select a Follow up</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="selectFollowUp" data-ng-model="afdoc.selectFollowUp" placeholder="Select a Follow up">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Select Response Receive</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="selectResponseReceived" data-ng-model="afdoc.selectResponseReceived" placeholder="Select Response Receive"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Select Reason for Rejection</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="selectReasonForRejection" data-ng-model="afdoc.selectReasonForRejection" placeholder="Select Reason for Rejection">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Select Reason for Delay</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="selectReasonForDelay" data-ng-model="afdoc.selectReasonForDelay" placeholder="Select Reason for Delay"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Confirm Delete</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="confirmDelete" data-ng-model="afdoc.confirmDelete" placeholder="Confirm Delete">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Are you sure, you want to remove this member?</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="areYouSure" data-ng-model="afdoc.areYouSure" placeholder="Are you sure, you want to remove this member?"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Document Already Added</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="confirmDelete" data-ng-model="afdoc.documentAlreadyAdded" placeholder="Document Already Added">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">

                    </div>
                </div>
-->

                <br/>
                <br/>
                <br/>
                <div align="right">
                    <a data-ng-href="/Langapplyfordoclist" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">Cancel</a>

                    <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="HideCreateButton" ng-disabled="CreateClicked" style="padding:5px 20px;margin-right:30px;">Create</a>&nbsp;

                    <a class="btn btn-info btn-sm" type="submit" role="button" data-ng-click="Update()" data-ng-hide="HideCreateButton" style="padding:5px 20px;margin-right:30px;">Update</a>&nbsp;
            </div>
        </form>
    </div>
    <br/>
    
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->



<modal2 title1="{{modalTitle}}" visible="applyfordocumentdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>



<benefmodal1 visible="documentdataModal">
    <div class="modal-header" style="padding:0px;">
        <div class="pull-right" style="padding:15px;">
            <a data-ng-click="OK()" data-dismiss="modal" class="btn btn-success btn-sm " role="button" style="background:#db4242;border-color:#db4242;padding:5px 20px;font-weight:bold;">{{okbutton}}</a>
        </div>
        <h4 class="stylelink active modal-title" style="padding:20px 10px;">{{modalTitle}}</h4>
    </div>
    <div style="width:100%; height:auto; min-height:200px;  border: 1px solid #ffffff;padding:5px;" id="savemodals">
        <br/>

        <form class="form-horizontal" role="form">

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="first-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:#262d57;">{{member}}</label>
                        <div class="col-sm-6">
                            {{printmember.fullname}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">

                    <div class="form-group">
                        <label for="email" class="col-sm-4" style="font-weight:600;margin-top:8px;color:#262d57;">{{document}}</label>
                        <div class="col-sm-6">
                            <!--							{{printdocumenttype.name}}-->
                            <div ng-if="UserLanguage==1">
                                {{printdocumenttype.name}}
                            </div>
                            <div ng-if="UserLanguage==2">
                                {{printdocumenttype.hnname}}
                            </div>
                            <div ng-if="UserLanguage==3">
                                {{printdocumenttype.knname}}
                            </div>
                            <div ng-if="UserLanguage==4">
                                {{printdocumenttype.taname}}
                            </div>
                            <div ng-if="UserLanguage==5">
                                {{printdocumenttype.tename}}
                            </div>
                            <div ng-if="UserLanguage==6">
                                {{printdocumenttype.mrname}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="mobile" class="col-sm-4" style="font-weight:600;margin-top:8px;color:#262d57;">{{stage}}</label>
                        <div class="col-sm-6">
                            <!--							{{printstage.name}}-->
                            <div ng-if="UserLanguage==1">
                                {{printstage.name}}
                            </div>
                            <div ng-if="UserLanguage==2">
                                {{printstage.hnname}}
                            </div>
                            <div ng-if="UserLanguage==3">
                                {{printstage.knname}}
                            </div>
                            <div ng-if="UserLanguage==4">
                                {{printstage.taname}}
                            </div>
                            <div ng-if="UserLanguage==5">
                                {{printstage.tename}}
                            </div>
                            <div ng-if="UserLanguage==6">
                                {{printstage.mrname}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="mobile" class="col-sm-4" style="font-weight:600;margin-top:8px;color:#262d57;">{{followupdate}}</label>
                        <div class="col-sm-6">
                            {{printdate | date:'dd-MMM-yyyy'}}
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <br/>
            <br/>

            <!--<div>
				<div align="left">
					<a class="btn btn-success btn-sm btn-flat" role="button" data-ng-click="OK()">{{okbutton}}</a>
				</div>
			</div>-->
        </form>

    </div>


    <style>
        .toggle.android {
            border-radius: 0px;
        }
        
        .toggle.android .toggle-handle {
            border-radius: 0px;
        }
        
        #mapCanvas {
            width: 500px;
            height: 400px;
            float: left;
        }
        
        #infoPanel {
            margin-left: 100px;
        }
        
        #infoPanel div {
            margin-bottom: 5px;
        }

    </style>

</benefmodal1>

<script type="text/ng-template" id="template/AlertModal.html" class="modal" class="modal fade" role="dialog">
    <div class="modal-header">
        <h4 class="modal-title">{{palert}}</h4>
    </div>
    <div class="modal-body"> {{AlertMessage}} </div>
    <div class="modal-footer">
        <div align="left">

            <button type="button" class="btn btn-success btn-sm " ng-click="$close()">{{okbutton}}</button>

        </div>
    </div>
</script>

<checkmodal title1="Alert" visible="showValidationNew">
    {{validatestring1}}
    <br>
   
             <div class="form-group">
                <div align="center">
                    <div align="center">
                        <a data-ng-click="OKBUTTON()" class="btn btn-success btn-sm " role="button" style="border-color:#db4242;padding:5px 20px;font-weight:bold;">Ok</a>
                        
                    </div>
                </div>
            </div>
</checkmodal>
