<style>
    /*
    .stylelink {
        padding: 3px 10px;
        background: transparent;
        color: #333;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    }
    
    .stylelink.active {
        padding: 3px 10px;
        background: #b71c1c;
        color: #fff;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    } */

    .stylelink {
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }

    .stylelink.active {
        color: #4a4d72;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;
        border-bottom: 4px solid #ec0b6d;
    }

    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }

    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 4px solid #f4f4f4;
        background-color: #fff;
        margin-top: 12px;
    }

    #wrapper div {
        display: table-cell;
        height: auto;
    }

    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/

    .nav-tabs-custom>.nav-tabs>li {
        width: 19%;
    }

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 5px 10px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 5px 10px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        .nav-tabs-custom>.nav-tabs>li {
            position: relative;
            display: block;
            padding: 10px;
            text-align: center;
            width: 180px;
        }
        .space {
            padding: 5px 0px 5px 0px;
        }
    }

</style>

<!-- Horizontal Form -->
<div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
        <div style="text-align:center;">
            <a class="stylelink active" href="/LangShgmeetings-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">SHG MEETINGS LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/symptoms-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">SYMPTOMS</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/illness-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">ILLNESS</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/reasonforloan-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">REASON FOR LOAN</span></a>
        </div>
    </div>
</div>

<!-- Horizontal Form -->
<!-- Horizontal Form -->
<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
<!--    <div class="box-header with-border" style="padding:0px;">-->
        <!--        <h3 class="box-title">Gender</h3>-->
<!--    </div>-->
    <!-- /.box-header -->
    <!-- form start -->

    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <!--<h2>documentmaster</h2>-->
        <br/>
        <br/>
        <form class="" role="form">
            <div class="row padding">
                                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:5px;color:#262d57;">Language<Sup>*</Sup> </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="" ng-model="shgmeeting.language" data-placeholder="Pick a Langauge" style="width: 100%;" ng-disabled="langdisable">
                                <option value=""></option>
                                <option data-ng-repeat="language in languages" value="{{language.id}}">{{ language.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!--                <div class="col-sm-3"></div>-->
            </div>
            <br/>
            <!--======/////******\\\\\======-->
            <div class="padding">
                <div style="color:#4a4d72;border-bottom:2px solid #f4f4f4;margin-left:18px;margin-right:18px;"> <span style="font-weight:bold">Labels</span> </div>
                <br/>
                <div class="row" style="margin:0;">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">SHG Meetings List<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="addshg" ng-model="shgmeeting.ShgMeeting" placeholder="SHG Meetings List">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">SHG Meeting Create<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="addshg" ng-model="shgmeeting.addNewShgMeeting" placeholder="SHG Meeting Create">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">SHG Meeting View<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="addshg" ng-model="shgmeeting.ShgMeetingView" placeholder="SHG Meeting View">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Group Name<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="addshg" ng-model="shgmeeting.grpName" placeholder="Group Name">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin:0;">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">No Of Members In The Group<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="addshg" ng-model="shgmeeting.noOfMembers" placeholder="No Of Members In The Group">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Last Meeting Date<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="addshg" ng-model="shgmeeting.lastMeetingDate" placeholder="last Meeting Date">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Amount Saved In This Meeting<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="addshg" ng-model="shgmeeting.amountSavedInMeeting" placeholder="Amount Saved In This Meeting">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Action<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="addshg" ng-model="shgmeeting.action" placeholder="Action">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin:0;">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Today's Date<sup>*</sup> </label>
                            <div class="">
                                <input type="text" class="form-control" id="todaydate" ng-model="shgmeeting.todayDate" placeholder="Today's Date">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">INDIVIDUAL ID<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="statusfilter" ng-model="shgmeeting.individualId" placeholder="INDIVIDUAL ID">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Saved<sup>*</sup> </label>
                            <div class="">
                                <input type="text" class="form-control" id="saved" ng-model="shgmeeting.saved" placeholder="Saved">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">MEMBER NAME <sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="statusfilter" ng-model="shgmeeting.memberName" placeholder="MEMBER NAME">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin:0;">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Attended<sup>*</sup> </label>
                            <div class="">
                                <input type="text" class="form-control" id="status" ng-model="shgmeeting.attended" placeholder="Attended">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Amount <sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="amount" ng-model="shgmeeting.amount" placeholder="Amount">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Saved In This Meeting<sup>*</sup> </label>
                            <div class="">
                                <input type="text" class="form-control" id="totalsaved" ng-model="shgmeeting.totalSavedInMeeting" placeholder="Saved In This Meeting">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Amount Calculated <sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="amnt" ng-model="shgmeeting.amountCalculated" placeholder="Amount Calculated">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin:0;">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Save Meeting <sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="savemeeting" ng-model="shgmeeting.saveMeeting" placeholder="Save Meeting">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Update Meeting <sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="updatemeeting" ng-model="shgmeeting.updateMeeting" placeholder="Update Meeting">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Meetings <sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="meetings" ng-model="shgmeeting.meetings" placeholder="Meetings">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Last Meeting Date<sup>*</sup> </label>
                            <div class="">
                                <input type="text" class="form-control" id="lastmeeting" ng-model="shgmeeting.lastMeetingDate" placeholder="Last Meeting Date">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin:0;">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Search <sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="search" ng-model="shgmeeting.search" placeholder="Search">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Assigned To <sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="assignedto" ng-model="shgmeeting.assignedTo" placeholder="Assigned To">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Loan <sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="loan" ng-model="shgmeeting.loan" placeholder="Loan">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Add Loan<sup>*</sup> </label>
                            <div class="">
                                <input type="text" class="form-control" id="addloan" ng-model="shgmeeting.addLoan" placeholder="Add Loan">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin:0px;">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Amount Of Loan Taken<sup>*</sup> </label>
                            <div class="">
                                <input type="text" class="form-control" id="amountofloantaken" ng-model="shgmeeting.amountofloantaken" placeholder="Amount Of Loan Taken">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Reason For Taking Loan <sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="reasonfortakingloan" ng-model="shgmeeting.reasonfortakingloan" placeholder="Reason For Taking Loan">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">No of Installements To Be Paid<sup>*</sup> </label>
                            <div class="">
                                <input type="text" class="form-control" id="noofinstallementstobepaid" ng-model="shgmeeting.noofinstallementstobepaid" placeholder="No of Installements To Be Paid">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Amount of Installements To Be Paid<sup>*</sup> </label>
                            <div class="">
                                <input type="text" class="form-control" id="amountofinstallmenttobepaid" ng-model="shgmeeting.amountofinstallmenttobepaid" placeholder="Amount of Installements To Be Paid">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin:0px;">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Installements Repaid<sup>*</sup> </label>
                            <div class="">
                                <input type="text" class="form-control" id="installmentrepaid" ng-model="shgmeeting.installmentrepaid" placeholder="Installements Repaid">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Loan Outstanding<sup>*</sup> </label>
                            <div class="">
                                <input type="text" class="form-control" id="loanoutstanding" ng-model="shgmeeting.loanoutstanding" placeholder="Loan Outstanding">
                            </div>
                        </div>
                    </div>
                     <div class="col-sm-3">
                        <div class="form-group">
                            <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Ok Label<sup>*</sup> </label>
                            <div class="">
                                <input type="text" class="form-control" id="loanoutstanding" ng-model="shgmeeting.okLabel" placeholder="Ok Label">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>

            <div class="padding">
                <div style="color:#4a4d72;border-bottom:2px solid #f4f4f4;margin-left:18px;margin-right:18px;"> <span style="font-weight:bold">Placeholders</span> </div>
                <br/>
                <div class="row" style="margin:0;">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">SHG Name<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="shgname" ng-model="shgmeeting.shgName" placeholder="SHG Name">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Date of Meeting <sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="dateofmeeting" ng-model="shgmeeting.dateOfMeeting" placeholder="Date of Meeting">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Please Select a SHG<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="shgselect" ng-model="shgmeeting.pleaseSelectShg" placeholder="Please Select a SHG">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Please Select a Assigned To<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="selectassignedto" ng-model="shgmeeting.selectAssignedTo" placeholder="Please Select a Assigned To">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Show <sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="show" ng-model="shgmeeting.show" placeholder="Show">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Status Filter<sup>*</sup> </label>
                            <div class="">
                                <input type="text" class="form-control" id="statusfilter" ng-model="shgmeeting.statusFilter" placeholder="Status Filter">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Total No Of Members in SHG <sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="totalmembersshg" ng-model="shgmeeting.totalNoOfMembersInShg" placeholder="Total No Of Members in SHG">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Total No Of Members Attended<sup>*</sup> </label>
                            <div class="">
                                <input type="text" class="form-control" id="totalmembersattended" ng-model="shgmeeting.totalNoOfMembersAttended" placeholder="Total No Of Members Attended">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Total No Of Members Saved <sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="totalmemberssaved" ng-model="shgmeeting.totalNoOfMembersSaved" placeholder="Total No Of Members Saved">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Total Saved In This Meeting <sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="totalsavedmeeting" ng-model="shgmeeting.totalSavedInThisMeeting" placeholder="Total Saved In This Meeting">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Select Reason for Taking Loan <sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="selectreasonfortakingloan" ng-model="shgmeeting.selectreasonfortakingloan" placeholder="Select Reason for Taking Loan">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <br/>


            <div class="padding">
                   <div style="color:#4a4d72;border-bottom:2px solid #f4f4f4;margin-left:18px;margin-right:18px;"> <span style="font-weight:bold">Error Messages</span> </div>
            <br/>
            <div class="row" style="margin:0;">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">SHG Meeting Has Been Saved<sup>*</sup> </label>
                        <div class="">
                            <input type="text" class="form-control" id="saved" ng-model="shgmeeting.shgMeetingSaved" placeholder="SHG Meeting Has Been Saved">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">SHG Meeting Has Been Updated <sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="updated" ng-model="shgmeeting.shgMeetingUpdated" placeholder="SHG Meeting Has Been Updated">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Thank You<sup>*</sup> </label>
                        <div class="">
                            <input type="text" class="form-control" id="thankyou" ng-model="shgmeeting.thankYou" placeholder="Thank You">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">All fields in red are mandatory <sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="statusfilter" ng-model="shgmeeting.allfieldsMandatory" placeholder="All fields in red are mandatory">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Please Select SHG<sup>*</sup> </label>
                        <div class="">
                            <input type="text" class="form-control" id="statusfilter" ng-model="shgmeeting.pleaseSelectShg" placeholder="Please Select SHG">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Please Select Date of Meeting <sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="statusfilter" ng-model="shgmeeting.pleaseSelectDateOfMeeting" placeholder="Please Select Date of Meeting">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Are You Sure to Save This SHG Meeting?<sup>*</sup> </label>
                        <div class="">
                            <input type="text" class="form-control" id="areyousure" ng-model="shgmeeting.areYouSuretoSave" placeholder="Are You Sure to Save This SHG Meeting?">
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <br/>
           
            <div class="padding"> 
                <div style="color:#4a4d72;border-bottom:2px solid #f4f4f4;margin-left:18px;margin-right:18px;"> <span style="font-weight:bold">Buttons</span> </div>
                <br/>
                <div class="row" style="margin:0;">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Add New<sup>*</sup> </label>
                        <div class="">
                            <input type="text" class="form-control" id="addshg" ng-model="shgmeeting.addNew" placeholder="Add New">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">View <sup>*</sup> </label>
                        <div class="">
                            <input type="text" class="form-control" id="addshg" ng-model="shgmeeting.view" placeholder="View">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Cancel <sup>*</sup> </label>
                        <div class="">
                            <input type="text" class="form-control" id="cancel" ng-model="shgmeeting.cancel" placeholder="Cancel">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Delete<sup>*</sup>  </label>
                        <div class="">
                            <input type="text" class="form-control" id="delete" ng-model="shgmeeting.delete" placeholder="Delete">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Export Data<sup>*</sup> </label>
                        <div class="">
                            <input type="text" class="form-control" id="export" ng-model="shgmeeting.exportData" placeholder="Export Data">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="save-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Save <sup>*</sup> </label>
                        <div class="">
                            <input type="text" class="form-control" id="savelabel" ng-model="shgmeeting.saveLabel" placeholder="Save">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="update-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Update <sup>*</sup> </label>
                        <div class="">
                            <input type="text" class="form-control" id="updatelabel" ng-model="shgmeeting.update" placeholder="Update">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Edit<sup>*</sup>  </label>
                        <div class="">
                            <input type="text" class="form-control" id="editlabel" ng-model="shgmeeting.edit" placeholder="Edit">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Yes<sup>*</sup> </label>
                        <div class="">
                            <input type="text" class="form-control" id="yes" ng-model="shgmeeting.yes" placeholder="Yes">
                        </div>
                    </div>
                </div>
            </div>
            </div> 
            <br/>
                
            <div class="padding">
                  <div style="color:#4a4d72;border-bottom:2px solid #f4f4f4;margin-left:18px;margin-right:18px;"> <span style="font-weight:bold">Healthy Days</span> </div>
                <br/>
                 <div class="row" style="margin:0;">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">HEALTHY DAYS 's HOUSEHOLD<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="addshg" ng-model="shgmeeting.healthyDaysHH" placeholder="HEALTHY DAYS 's HOUSEHOLD">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Households <sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="addshg" ng-model="shgmeeting.houseHolds" placeholder="Households">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;"> Days Unwell <sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="cancel" ng-model="shgmeeting.daysUnwell" placeholder="Days Unwell">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Primary Symptom<sup>*</sup> </label>
                        <div class="">
                            <input type="text" class="form-control" id="delete" ng-model="shgmeeting.primarySymptom" placeholder="Primary Symptom">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;"> Secondary Symptom <sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="export" ng-model="shgmeeting.secondarySymptom" placeholder="Secondary Symptom">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Illness <sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="export" ng-model="shgmeeting.illness" placeholder="Illness">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="save-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Select Primary Symptom<sup>*</sup> </label>
                        <div class="">
                            <input type="text" class="form-control" id="savelabel" ng-model="shgmeeting.selectPrimarySymptom" placeholder="Select Primary Symptom">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="update-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Select Secondary Symptom<sup>*</sup> </label>
                        <div class="">
                            <input type="text" class="form-control" id="updatelabel" ng-model="shgmeeting.selectSecondarySymptom" placeholder="Select Secondary Symptom">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Select Illness<sup>*</sup> </label>
                        <div class="">
                            <input type="text" class="form-control" id="editlabel" ng-model="shgmeeting.selectIllness" placeholder="Select Illness">
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <br/>
              
            <div class="padding">
                <div style="color:#4a4d72;border-bottom:2px solid #f4f4f4;margin-left:18px;margin-right:18px;"> <span style="font-weight:bold">Mobile Labels</span> </div>
                <br/>
                 <div class="row" style="margin:0;">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="enterAmountOfLoanTaken" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Enter Amount Of Loan Taken<sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="enterAmountOfLoanTaken" ng-model="shgmeeting.enterAmountOfLoanTaken" placeholder="Enter Amount Of Loan Taken">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="enterNoOfInstallments" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Enter No Of Installments <sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="enterNoOfInstallments" ng-model="shgmeeting.enterNoOfInstallments" placeholder="Enter No Of Installments">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="shgMeetingTitle" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Shg Meeting <sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="shgMeetingTitle" ng-model="shgmeeting.shgMeetingTitle" placeholder="Shg Meeting">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="fetchingData" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Fetching Data<sup>*</sup> </label>
                        <div class="">
                            <input type="text" class="form-control" id="fetchingData" ng-model="shgmeeting.fetchingData" placeholder="Fetching Data">
                        </div>
                    </div>
                </div>
            </div>
            </div>
            

            <!--======/////******\\\\\======-->





            <!--
            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">SHG Meetings List</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="addshg" ng-model="shgmeeting.ShgMeeting" placeholder="SHG Meetings List">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">SHG Meeting Create</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="addshg" ng-model="shgmeeting.addNewShgMeeting" placeholder="SHG Meeting Create">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">SHG Meeting View</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="addshg" ng-model="shgmeeting.ShgMeetingView" placeholder="SHG Meeting View">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Group Name</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="addshg" ng-model="shgmeeting.grpName" placeholder="Group Name">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">No Of Members In The Group</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="addshg" ng-model="shgmeeting.noOfMembers" placeholder="No Of Members In The Group">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Last Meeting Date</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="addshg" ng-model="shgmeeting.lastMeetingDate" placeholder="last Meeting Date">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Amount Saved In This Meeting</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="addshg" ng-model="shgmeeting.amountSavedInMeeting" placeholder="Amount Saved In This Meeting">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Action</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="addshg" ng-model="shgmeeting.action" placeholder="Action">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Add New</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="addshg" ng-model="shgmeeting.addNew" placeholder="Add New">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">View </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="addshg" ng-model="shgmeeting.view" placeholder="View">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">SHG Name</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="shgname" ng-model="shgmeeting.shgName" placeholder="SHG Name">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Please Select a SHG</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="shgselect" ng-model="shgmeeting.pleaseSelectShg" placeholder="Please Select a SHG">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">1Date of Meeting </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="dateofmeeting" ng-model="shgmeeting.dateOfMeeting" placeholder="Date of Meeting">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Today's Date </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="todaydate" ng-model="shgmeeting.todayDate" placeholder="Today's Date">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="edit-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">MEMBER NAME </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="statusfilter" ng-model="shgmeeting.memberName" placeholder="MEMBER NAME">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="edit-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">INDIVIDUAL ID</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="statusfilter" ng-model="shgmeeting.individualId" placeholder="INDIVIDUAL ID">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">1Attended </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="status" ng-model="shgmeeting.attended" placeholder="Attended">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">1Saved </label>
                        <div class="col-sm-6">

                            <input type="text" class="form-control" id="saved" ng-model="shgmeeting.saved" placeholder="Saved">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Saved In This Meeting </label>
                        <div class="col-sm-6">

                            <input type="text" class="form-control" id="totalsaved" ng-model="shgmeeting.totalSavedInMeeting" placeholder="Saved In This Meeting">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Amount Calculated </label>
                        <div class="col-sm-6">

                            <input type="text" class="form-control" id="amnt" ng-model="shgmeeting.amountCalculated" placeholder="Amount Calculated">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Save Meeting </label>
                        <div class="col-sm-6">

                            <input type="text" class="form-control" id="savemeeting" ng-model="shgmeeting.saveMeeting" placeholder="Save Meeting">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Update Meeting </label>
                        <div class="col-sm-6">

                            <input type="text" class="form-control" id="updatemeeting" ng-model="shgmeeting.updateMeeting" placeholder="Update Meeting">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Cancel </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="cancel" ng-model="shgmeeting.cancel" placeholder="Cancel">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Delete </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="delete" ng-model="shgmeeting.delete" placeholder="Delete">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Meetings </label>
                        <div class="col-sm-6">

                            <input type="text" class="form-control" id="meetings" ng-model="shgmeeting.meetings" placeholder="Meetings">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">1Last Meeting Date </label>
                        <div class="col-sm-6">

                            <input type="text" class="form-control" id="lastmeeting" ng-model="shgmeeting.lastMeetingDate" placeholder="Last Meeting Date">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">SHG Meeting Has Been Saved </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="saved" ng-model="shgmeeting.shgMeetingSaved" placeholder="SHG Meeting Has Been Saved">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">SHG Meeting Has Been Updated </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="updated" ng-model="shgmeeting.shgMeetingUpdated" placeholder="SHG Meeting Has Been Updated">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Export Data</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="export" ng-model="shgmeeting.exportData" placeholder="Export Data">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="save-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Save </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="savelabel" ng-model="shgmeeting.saveLabel" placeholder="Save">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="update-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Update </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="updatelabel" ng-model="shgmeeting.update" placeholder="Update">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="edit-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Edit </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="editlabel" ng-model="shgmeeting.edit" placeholder="Edit">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="edit-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Thank You </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="thankyou" ng-model="shgmeeting.thankYou" placeholder="Thank You">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="edit-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Show </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="show" ng-model="shgmeeting.show" placeholder="Show">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="edit-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Search </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="search" ng-model="shgmeeting.search" placeholder="Search">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="edit-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Status Filter </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="statusfilter" ng-model="shgmeeting.statusFilter" placeholder="Status Filter">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="edit-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">All fields in red are mandatory </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="statusfilter" ng-model="shgmeeting.allfieldsMandatory" placeholder="All fields in red are mandatory">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="edit-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Please Select SHG </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="statusfilter" ng-model="shgmeeting.pleaseSelectShg" placeholder="Please Select SHG">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="edit-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Please Select Date of Meeting </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="statusfilter" ng-model="shgmeeting.pleaseSelectDateOfMeeting" placeholder="Please Select Date of Meeting">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="edit-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Are You Sure to Save This SHG Meeting? </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="areyousure" ng-model="shgmeeting.areYouSuretoSave" placeholder="Are You Sure to Save This SHG Meeting?">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="edit-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Total No Of Members in SHG </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="totalmembersshg" ng-model="shgmeeting.totalNoOfMembersInShg" placeholder="Total No Of Members in SHG">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="edit-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Total No Of Members Attended </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="totalmembersattended" ng-model="shgmeeting.totalNoOfMembersAttended" placeholder="Total No Of Members Attended">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="edit-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Total No Of Members Saved </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="totalmemberssaved" ng-model="shgmeeting.totalNoOfMembersSaved" placeholder="Total No Of Members Saved">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="edit-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Total Saved In This Meeting </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="totalsavedmeeting" ng-model="shgmeeting.totalSavedInThisMeeting" placeholder="Total Saved In This Meeting">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="edit-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Yes </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="yes" ng-model="shgmeeting.yes" placeholder="Yes">
                        </div>
                    </div>
                </div>
            </div>
-->
            <br/>
            <br/>
            <br/>
            <div align="right">
                <a data-ng-href="/LangShgmeetings-list" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">Cancel</a>
                
                <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="HideCreateButton" ng-disabled="CreateClicked" style="padding:5px 20px;margin-right:30px;">Create</a>&nbsp;

                <a class="btn btn-info btn-sm" type="submit" role="button" data-ng-click="Update()" data-ng-hide="HideCreateButton" style="padding:5px 20px;margin-right:30px;">Update</a>&nbsp;
            </div>
        </form> 
    </div>
    <br/>
    
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->



<modal2 title1="{{modalTitle}}" visible="applyfordocumentdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>

  <checkmodal title1="Alert" visible="showValidationNew">
    {{validatestring1}}
    <br>
   
             <div class="form-group">
                <div align="center">
                    <div align="center">
                        <a data-ng-click="OKBUTTON()" class="btn btn-success btn-sm " role="button" style="border-color:#db4242;padding:5px 20px;font-weight:bold;">Ok</a>
                        
                    </div>
                </div>
            </div>
</checkmodal>
