<style>
    /*
    .stylelink {
        padding: 3px 10px;
        background: transparent;
        color: #333;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    }
    
    .stylelink.active {
        padding: 3px 10px;
        background: #b71c1c;
        color: #fff;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    } */
    
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 0px 40px;
        /*        border-bottom: 4px solid #e72e5a;*/
    }
    
    .userstyle {
        padding: 20px 0px;
        border-bottom: 4px solid #e72e5a;
    }
    
    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }
    
    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 4px solid #f4f4f4;
        background-color: #fff;
        margin-top: 12px;
    }
    
    #wrapper div {
        display: table-cell;
        height: auto;
    }
    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/
    
    .nav-tabs-custom>.nav-tabs>li {
        width: 19%;
    }
    
    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 5px 10px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 5px 10px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        .nav-tabs-custom>.nav-tabs>li {
            position: relative;
            display: block;
            padding: 10px;
            text-align: center;
            width: 180px;
        }
        .space {
            padding: 5px 0px 5px 0px;
        }
    }

</style>
<div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
        <div style="text-align:center;">
            <a class="stylelink active" href="/Langschool-list "><span class="userstyle" style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">SCHOOL LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink " href="/typeofschool-list"><span style="flex:1;white-space:pre;overflow:hidden;text-overflow: ellipsis;">TYPE OF SCHOOL</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink " href="/dynamicschoolchecklist"><span style="flex:1;white-space:pre;overflow:hidden;text-overflow: ellipsis;">SCHOOL CHECKLIST</span></a>
        </div>


    </div>

</div>
<!-- Horizontal Form -->
<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">

    <!--    <div id="wrapper">-->
    <!--
        <div class=" stylelink active box-header with-border" style="padding:20px 10px;">
            <h3 class="box-title" style="font-weight:600;">Apply for Document</h3>

        </div>
-->
    <!--    </div>-->
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <!--<h2>documentmaster</h2>-->
        <br/>
        <form class=" " role="form">
            <br/>
            <div class="row padding3">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="zone" class="col-sm-4" style=" margin-top:5px; ">Language<sup>*</sup> </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="" ng-model="school.language" data-placeholder="Pick a Langauge" style="width: 100%;" ng-disabled="langdisable">
                                <option value=""></option>
                                <option data-ng-repeat="language in languages" value="{{language.id}}">{{ language.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
            <br/>
            <div class="row padding3">
                <div style="border-bottom:2px solid #f4f4f4;margin-left:18px;margin-right:18px;"> <span style="font-weight:bold">Labels</span> </div>
                <br/>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id">Mandatory<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="memberId" ng-model="school.mandatory" placeholder="Mandatory">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id">School List<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="memberId" ng-model="school.schoollist" placeholder="School List">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id">School Create<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="memberId" ng-model="school.schoolCreate" placeholder="School Create">
                        </div>
                    </div>

                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id">School Edit<sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="memberId" ng-model="school.schoolEdit" placeholder="School Edit">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id">School Checklist<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="memberId" ng-model="school.schoolChecklist" placeholder="School Checklist">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id">Create School Checklist<sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="memberId" ng-model="school.schoolchecklistCreate" placeholder="Cretae school Checklist">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id">Edit School Checklist<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="memberId" ng-model="school.schoolchecklistEdit" placeholder="Edit School Checklist">
                        </div>
                    </div>

                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id">Date of Last Check<sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="memberId" ng-model="school.lastcheckDate" placeholder="Date of Last Check">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">

                    <div class="form-group">
                        <label for="sales-code">School Name<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="memberofSHG" ng-model="school.schoolName" placeholder="School Name">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="sales-code">Status Filter<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="memberofSHG" ng-model="school.statusFilter" placeholder="Status Filter">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="zip">Date of Adding<sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="patientnonSHG" ng-model="school.dateofAdding" placeholder="Date of Adding">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id">Select Location<sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="new" ng-model="school.selectLocation" placeholder="Select Location">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Latitude<sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="action" data-ng-model="school.latitude" placeholder="Latitude ">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Longitude<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="action" data-ng-model="school.longitude" placeholder="Longitude">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="zip">Assigned To<sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="patientnonSHG" ng-model="school.assignedTo" placeholder="Assigned To">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">No of Student<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="action" data-ng-model="school.noofStudent" placeholder="No of Student">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="zip">Date<sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="patientnonSHG" ng-model="school.dateof" placeholder="Date ">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="zip">Toilets In School Premise<sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="patientnonSHG" ng-model="school.toiletInschool" placeholder="Toilets In School Premise ">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="zip">Source of Drinking Water<sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="patientnonSHG" ng-model="school.waterSource" placeholder="Source of Drinking Water ">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="zip">Quality of Water<sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="patientnonSHG" ng-model="school.waterQuality" placeholder="Quality of Water ">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Action<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="action" data-ng-model="school.action" placeholder="Action">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Area<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="action" data-ng-model="school.areaName" placeholder="Area ">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Type of School<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="Symptom" data-ng-model="school.schoolType" placeholder="Type of School">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">No of Teachers<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="Illness" data-ng-model="school.teacherNo" placeholder="No of Teachers">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id">Marker Status<sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="marker" ng-model="school.markerStatus" placeholder="Marker Status">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id">Current Position<sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="position" ng-model="school.currentPosition" placeholder="Current Position">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id">Closest Matching Address<sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="addressmatching" ng-model="school.closestMatchingAddress" placeholder="Closest Matching Address">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">No of Male Children<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="seenBy" data-ng-model="school.maleChildren" placeholder="No of Male Children">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">No of Female Children<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="patientidfromWHP" data-ng-model="school.femaleChildren" placeholder="No of Female Children">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Seperate Toilets For Boys and Girls<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="show" data-ng-model="school.seprateToilet" placeholder="Seperate Toilets For Boys and Girls">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Quantity of Water Available Per Day<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="show" data-ng-model="school.waterAvilableperday" placeholder="Quantity of Water Available Per Day">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Source of Water For Mid Day Meal<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="show" data-ng-model="school.waterforMeal" placeholder="Source of Water For Mid Day Meal">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Show<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="show" data-ng-model="school.show" placeholder="Show">
                        </div>
                    </div>
                </div>
                 <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Add School<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="show" data-ng-model="school.addschool" placeholder="Add School">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Add School Checklist<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="show" data-ng-model="school.addschoolchecklist" placeholder="Add School Checklist">
                        </div>
                    </div>
                </div>
            </div>
            
            <br/>
            
            <div class="row padding3">
                <div style="border-bottom:2px solid #f4f4f4;margin-left:18px;margin-right:18px;"> <span style="font-weight:bold">Placeholders</span> </div>
                <br/>
                <div class="col-sm-3">
                    <div class="form-group" ng-hide="reponserec">
                        <label for="agegroup">Select Assigned To<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="selectassigned" ng-model="school.selectAssignedTo" placeholder="Select Assigned To">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group" ng-hide="reponserec">
                        <label for="agegroup">Select Date of Adding<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="organizationId" ng-model="school.selectdateofAdding" placeholder="Select Date of Adding">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Enter School Name<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="search" data-ng-model="school.enterSchool" placeholder="Enter School Name">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Enter Latitude<sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="search" data-ng-model="school.enterLatitude" placeholder="Enter Latitude">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Enter Longitude<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="search" data-ng-model="school.enterLongitude" placeholder="Enter Longitude">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Enter Quantity of Water Available per Day<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="search" data-ng-model="school.enterwaterAvilablePerday" placeholder="Enter Quantity of Water Available per Day">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Enter Quality of Water<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="search" data-ng-model="school.enterWaterquality" placeholder="Enter Quality of Water">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Select Toilets in School Premise<sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="search" data-ng-model="school.selectToilet" placeholder="Select Toilets in School Premise ">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row padding3">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group"> Select Source of Drinking Water<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="search" data-ng-model="school.selectWatersource" placeholder=" select Source of Drinking Water">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Search<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="search" data-ng-model="school.search" placeholder="Search">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group" ng-hide="rejectdis">
                        <label for="state">Select Area<sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="stateId" ng-model="school.selectarea" placeholder="Select Area ">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group" ng-hide="delaydis">
                        <label for="city">Select Type of School<sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="cityId" ng-model="school.selectschoolType" placeholder="Select Type of School">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Enter No of Teachers<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="search" data-ng-model="school.enterTeacherNo" placeholder="Enter No of Teachers">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">EnterNo of Male Children<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="search" data-ng-model="school.enterMaleStudent" placeholder="Enter No of Male Children">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Enter No of Female Children<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="search" data-ng-model="school.enterFemaleStudent" placeholder="Enter No of Female Children">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Select Name of the School<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="search" data-ng-model="school.selectSchool" placeholder="Select Name of the School">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Select Date<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="search" data-ng-model="school.selectDate" placeholder="Select Date">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Enter Source of Water for Mid Day meal<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="search" data-ng-model="school.enterWaterforMeal" placeholder="Enter Source of Water for Mid Day meal">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Select Seperate Toilets for Boys and Girls<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="search" data-ng-model="school.selectToiletforbg" placeholder="Select Seperate Toilets for Boys and Girls">
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            
            <div class="row padding3">
                <div style="border-bottom:2px solid #f4f4f4;margin-left:18px;margin-right:18px;"> <span style="font-weight:bold">Error Messages</span> </div>
                <br/>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">School has been Created<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="thankYouCreated" data-ng-model="school.thankYouCreated" placeholder="School has been Created">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name">School has been Updated<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="thankYouUpdated" data-ng-model="school.thankYouUpdated" placeholder="School has been Updated"> </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name">Are You Sure Want To Save<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="thankYouUpdated" data-ng-model="school.areYouSureToWantToSave" placeholder="Are You Sure Want To Save"> </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Confirm Delete<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="confirmDelete" data-ng-model="school.confirmDelete" placeholder="Confirm Delete">
                        </div>
                    </div>
                </div>
                <!--
            </div>
            <div class="row" style="margin:0;">
-->

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">School Already Added<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="confirmDelete" data-ng-model="school.schoolAlreadyAdded" placeholder="School Already Added">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">School Checklist Already Added<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="confirmDelete" data-ng-model="school.schoolchecklistAdded" placeholder="School Checklist Already Added">
                        </div>
                    </div>
                </div>

                <!--
            </div>
            <div class="row" style="margin:0;">
-->

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">School Checklist has been Created<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="thankYouCreated" data-ng-model="school.thankYouCreatedchecklist" placeholder="School Checklist has been Created">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name">School Checklist has been Updated<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="thankYouUpdated" data-ng-model="school.thankYouUpdatedchecklist" placeholder="School Checklist has been Updated"> </div>
                    </div>
                </div>
            </div>
            <br/>
            
            <div class="row padding3">
                <div style="border-bottom:2px solid #f4f4f4;margin-left:18px;margin-right:18px;"> <span style="font-weight:bold">Buttons</span> </div>
                <br/>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name">Export Data<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="exportData" data-ng-model="school.exportData" placeholder="Export Data"> </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name">Cancel<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="cancel" data-ng-model="school.cancel" placeholder="Cancel"> </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="edit-id">Ok<sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="ok" ng-model="school.ok" placeholder="Ok">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group" >Save<sup>*</sup></label>
                        <div >
                            <input type="text" class="form-control" id="saveLabel" data-ng-model="school.saveLabel" placeholder="Save">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Yes<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="saveLabel" data-ng-model="school.yes" placeholder="Yes">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name">Add New<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="addNew" data-ng-model="school.addNew" placeholder="Add New"> </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name">Edit<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="edit" data-ng-model="school.edit" placeholder="Edit"> </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group">Delete<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="delete" data-ng-model="school.delete" placeholder="Delete">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name">Update<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="update" data-ng-model="school.update" placeholder="Update"> </div>
                    </div>
                </div>
            </div>
            <br/>
            
            <div class="row padding3">
                <div style="border-bottom:2px solid #f4f4f4;margin-left:18px;margin-right:18px;"> <span style="font-weight:bold">Mobile Labels</span> </div>
                <br/>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name">School<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="schoolTitle" data-ng-model="school.schoolTitle" placeholder="School"> </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name">CheckList<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="checkListTitle" data-ng-model="school.checkListTitle" placeholder="CheckList"> </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="edit-id">Please Select<sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="pleaseSelect" ng-model="school.pleaseselect" placeholder="Please Select">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="group" >Select All Fields<sup>*</sup></label>
                        <div >
                            <input type="text" class="form-control" id="selectAllFields" data-ng-model="school.selectAllFields" placeholder="Select All Fields">
                        </div>
                    </div>
                </div>
            </div>



            <!--
            /////////////////
            <<<<<<<<<<<<<<<<<<=========ooo========>>>>>>>>>>>>>///////////////////////////
-->


            <!--
                <div class="row" style="margin:0;padding:0;">

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Apply for Document List</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="memberId" ng-model="school.afdList" placeholder="Apply for Document List">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Apply for Document Create</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="memberId" ng-model="school.afdCreate" placeholder="Apply for Document Create">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Apply for Document Edit </label>
                            <div class="col-sm-6">

                                <input type="text" class="form-control" id="memberId" ng-model="school.afdEdit" placeholder="Apply for Document Edit">
                            </div>
                        </div>
                    </div>



                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Member </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="memberId" ng-model="school.memberId" placeholder="Member">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="sales-code" class="col-sm-4" style="font-weight:600;color:red;">Document </label>
                            <div class="col-sm-6">
                               
                                <input type="text" class="form-control" id="schemeId" ng-model="school.documentId" placeholder="Document">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Stage</label>
                            <div class="col-sm-6">
                               
                                <input type="text" class="form-control" id="stage" data-ng-model="school.stage" placeholder="Stage">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group" ng-hide="reponserec">
                            <label for="agegroup" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Response Recieved</label>
                            <div class="col-sm-6">
                               
                                <input type="text" class="form-control" id="organizationId" ng-model="school.responseRecieve" placeholder="Response Recieved">
                            </div>
                        </div>

                        <div class="form-group" ng-hide="rejectdis">
                            <label for="state" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Reason for Rejection</label>
                            <div class="col-sm-6">
                              
                                <input type="text" class="form-control" id="stateId" ng-model="school.rejection" placeholder="Reason for Rejection">
                            </div>
                        </div>


                        <div class="form-group" ng-hide="delaydis">
                            <label for="city" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Reason for Delay </label>
                            <div class="col-sm-6">
                             
                                <input type="text" class="form-control" id="cityId" ng-model="school.delay" placeholder="Reason for Delay">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin:0;padding:0;" ng-hide="datetimehide">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Follow Up Date </label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control" id="{{'datepicker' + $index}}" ng-model="school.followUpDate" placeholder="Follow Up Date">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">

                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Show</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="show" data-ng-model="school.show" placeholder="Show">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Export Data</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="exportData" data-ng-model="school.exportData" placeholder="Export Data"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Search</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="search" data-ng-model="school.search" placeholder="Search">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Add New</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="addNew" data-ng-model="school.addNew" placeholder="Add New"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Action</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="school.action" placeholder="Action">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Cancel</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="cancel" data-ng-model="school.cancel" placeholder="Cancel"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Save</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="saveLabel" data-ng-model="school.saveLabel" placeholder="Save">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Update</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="update" data-ng-model="school.update" placeholder="Update"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Document has been Created</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="thankYouCreated" data-ng-model="school.thankYouCreated" placeholder="Document has been Created">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Document has been Updated</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="thankYouUpdated" data-ng-model="school.thankYouUpdated" placeholder="Document has been Updated"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Cancel</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="cancel" data-ng-model="school.cancel" placeholder="Cancel">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Edit</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="edit" data-ng-model="school.edit" placeholder="Edit"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Delete</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="delete" data-ng-model="school.delete" placeholder="Delete">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Select a Member</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="selectMember" data-ng-model="school.selectMember" placeholder="Select a Member"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Select a Document</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="selectScheme" data-ng-model="school.selectDocument" placeholder="Select a Scheme">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Select a Stage</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="selectStage" data-ng-model="school.selectStage" placeholder="Select a Stage"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Select a Follow up</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="selectFollowUp" data-ng-model="school.selectFollowUp" placeholder="Select a Follow up">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Select Response Receive</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="selectResponseReceived" data-ng-model="school.selectResponseReceived" placeholder="Select Response Receive"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Select Reason for Rejection</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="selectReasonForRejection" data-ng-model="school.selectReasonForRejection" placeholder="Select Reason for Rejection">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Select Reason for Delay</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="selectReasonForDelay" data-ng-model="school.selectReasonForDelay" placeholder="Select Reason for Delay"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Confirm Delete</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="confirmDelete" data-ng-model="school.confirmDelete" placeholder="Confirm Delete">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Are you sure, you want to remove this member?</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="areYouSure" data-ng-model="school.areYouSure" placeholder="Are you sure, you want to remove this member?"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Document Already Added</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="confirmDelete" data-ng-model="school.documentAlreadyAdded" placeholder="Document Already Added">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">

                    </div>
                </div>
-->

            <br/>
            <br/>
            <br/>
            <div align="right">
                <a data-ng-href="/Langschool-list" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">Cancel</a>

                <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="HideCreateButton" ng-disabled="CreateClicked" style="padding:5px 20px;margin-right:30px;">Create</a>&nbsp;

                <a class="btn btn-info btn-sm" type="submit" role="button" data-ng-click="Update()" data-ng-hide="HideCreateButton" style="padding:5px 20px;margin-right: 30px;">Update</a>&nbsp;
            </div>
        </form>
    </div>
    <br/>
    
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->



<modal2 title1="{{modalTitle}}" visible="applyfordocumentdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>



<benefmodal1 visible="documentdataModal">
    <div class="modal-header" style="padding:0px;">
        <div class="pull-right" style="padding:15px;">
            <a data-ng-click="OK()" data-dismiss="modal" class="btn btn-success btn-sm " role="button" style="background:#db4242;border-color:#db4242;padding:5px 20px;font-weight:bold;">{{okbutton}}</a>
        </div>
        <h4 class="stylelink active modal-title" style="padding:20px 10px;">{{modalTitle}}</h4>
    </div>
    <div style="width:100%; height:auto; min-height:200px;  border: 1px solid #ffffff;padding:5px;" id="savemodals">
        <br/>

        <form class="" role="form">

            <div class="row padding3">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="first-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">{{member}}</label>
                        <div class="col-sm-6">
                            {{printmember.fullname}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">

                    <div class="form-group">
                        <label for="email" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">{{document}}</label>
                        <div class="col-sm-6">
                            <!--							{{printdocumenttype.name}}-->
                            <div ng-if="UserLanguage==1">
                                {{printdocumenttype.name}}
                            </div>
                            <div ng-if="UserLanguage==2">
                                {{printdocumenttype.hnname}}
                            </div>
                            <div ng-if="UserLanguage==3">
                                {{printdocumenttype.knname}}
                            </div>
                            <div ng-if="UserLanguage==4">
                                {{printdocumenttype.taname}}
                            </div>
                            <div ng-if="UserLanguage==5">
                                {{printdocumenttype.tename}}
                            </div>
                            <div ng-if="UserLanguage==6">
                                {{printdocumenttype.mrname}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row padding3">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="mobile" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">{{stage}}</label>
                        <div class="col-sm-6">
                            <!--							{{printstage.name}}-->
                            <div ng-if="UserLanguage==1">
                                {{printstage.name}}
                            </div>
                            <div ng-if="UserLanguage==2">
                                {{printstage.hnname}}
                            </div>
                            <div ng-if="UserLanguage==3">
                                {{printstage.knname}}
                            </div>
                            <div ng-if="UserLanguage==4">
                                {{printstage.taname}}
                            </div>
                            <div ng-if="UserLanguage==5">
                                {{printstage.tename}}
                            </div>
                            <div ng-if="UserLanguage==6">
                                {{printstage.mrname}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="mobile" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">{{followupdate}}</label>
                        <div class="col-sm-6">
                            {{printdate | date:'dd-MMM-yyyy'}}
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <br/>
            <br/>

            <!--<div>
				<div align="left">
					<a class="btn btn-success btn-sm btn-flat" role="button" data-ng-click="OK()">{{okbutton}}</a>
				</div>
			</div>-->
        </form>

    </div>


    <style>
        .toggle.android {
            border-radius: 0px;
        }
        
        .toggle.android .toggle-handle {
            border-radius: 0px;
        }
        
        #mapCanvas {
            width: 500px;
            height: 400px;
            float: left;
        }
        
        #infoPanel {
            margin-left: 100px;
        }
        
        #infoPanel div {
            margin-bottom: 5px;
        }

    </style>

</benefmodal1>

<script type="text/ng-template" id="template/AlertModal.html" class="modal" class="modal fade" role="dialog">
    <div class="modal-header">
        <h4 class="modal-title">{{palert}}</h4>
    </div>
    <div class="modal-body"> {{AlertMessage}} </div>
    <div class="modal-footer">
        <div align="left">

            <button type="button" class="btn btn-success btn-sm " ng-click="$close()">{{okbutton}}</button>

        </div>
    </div>
</script>


  <checkmodal title1="Alert" visible="showValidationNew">
    {{validatestring1}}
    <br>
   
             <div class="form-group">
                <div align="center">
                    <div align="center">
                        <a data-ng-click="OKBUTTON()" class="btn btn-success btn-sm " role="button" style="border-color:#db4242;padding:5px 20px;font-weight:bold;">Ok</a>
                        
                    </div>
                </div>
            </div>
</checkmodal>