<style>
    .stylelink {
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }

    .stylelink.active {
        color: #4a4d72;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;
        border-bottom: 4px solid #ec0b6d;
    }

    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }

    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 4px solid #f4f4f4;
        background-color: #fff;
        margin-top: 12px;
    }

    #wrapper div {
        display: table-cell;
        height: auto;
    }

    .sel {
        position: relative;
        float: right;
        min-width: 100%;
    }

    .sel:after {
        content: '>';
        font: 17px "Consolas", monospace;
        color: #333;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        margin-left: -20px;
        margin-top: 5px;
        padding: 0 0 2px;
        position: absolute;
        pointer-events: none;
    }

    .sel select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        height: 32px;
        float: left;
        padding: 0px 7px;
        font-size: 14px;
        line-height: 1.75;
        color: #878993;
        border-radius: 4px;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #cccccc;
        -ms-word-break: normal;
        word-break: normal;
    }

    .nav-tabs-custom>.nav-tabs>li {
        width: 19%;
    }

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 10px;
            padding: 5px 10px;
        }
        .stylelink.active {
            font-size: 10px;
            padding: 5px 10px;
        }
        .sub_menu {
            font-size: 10px;
            padding: 5px 10px;
        }
        .sub_menu.active {
            font-size: 10px;
            padding: 5px 10px;
        }
        .nav-tabs-custom>.nav-tabs>li {
            position: relative;
            display: block;
            padding: 10px;
            text-align: center;
            width: 180px;
        }
        .space {
            padding: 5px 0px 5px 0px;
        }
    }

    /*
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
        		background-color: #fff;
    }
    
    #wrapper div {
        display: table-cell;
        height: auto;
    }
*/

</style>
<!-- Horizontal Form -->

<!-- Horizontal Form -->
<div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
        <div style="text-align:center;">
            <a class="stylelink active" href="/LangInterventions-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">INTERVENTIONS LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/interventions-venue-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">VENUE</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/interventions-type-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">TYPE</span></a>
        </div>
        <!--
        <div style="text-align:center;">
            <a class="stylelink" href="/interventions-status-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">STATUS</span></a>
        </div>
-->
    </div>
</div>

<div class="box box-info" style="min-height:450px;border-top:none;">
<!--    <div class="box-header with-border" style="padding:0;">-->
        <!--        <h3 class="box-title">Gender</h3>-->
<!--    </div>-->
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <br/>
        <div class="row">
<!--            <div class="col-sm-5"></div>-->
            <!--<h2>documentmaster</h2>-->
            <br/>
            <form class="" role="form">
                <div class="row padding">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:5px;color:#262d57;">Language <sup>*</sup></label>
                            <div class="col-sm-6">
                                <select ui-select2 id="" ng-model="intervention.language" data-placeholder="Pick a Langauge" style="width: 100%;" ng-disabled="langdisable">
                                    <option value=""></option>
                                    <option data-ng-repeat="language in languages" value="{{language.id}}">{{ language.name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
<!--                    <div class="col-sm-3"></div>-->
                </div>
                <br/>
                <!--///////////======*****======////////-->
                <div class="padding5">
                    
                        <div style="color:#4a4d72;border-bottom:2px solid #f4f4f4;margin-left:18px;margin-right:18px;"> <span style="font-weight:bold">Labels</span> </div>
                        <br/>
                        <div class="row" style="margin:0;">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Interventions List<sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="listcondition" ng-model="intervention.interventionsList" placeholder="Interventions List">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Add Intervention<sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="addnew" ng-model="intervention.addIntervention" placeholder="Add Intervention">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Edit Condition<sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="addnew" ng-model="intervention.editIntervention" placeholder="Edit Intervention">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:#262d57;">Type <sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="type" ng-model="intervention.type" placeholder="Type">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Status<sup>*</sup> </label>
                                <div class="">
                                    <input type="text" class="form-control" id="status" ng-model="intervention.status" placeholder="Status">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Sr No<sup>*</sup> </label>
                                <div class="">
                                    <input type="text" class="form-control" id="srNo" ng-model="intervention.srNo" placeholder="Sr No">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Intervention Date <sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="srNo" ng-model="intervention.interventionDate" placeholder="Intervention Date">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Type of Intervention<sup>*</sup> </label>
                                <div class="">
                                    <input type="text" class="form-control" id="typeintervention" ng-model="intervention.typeOfIntervention" placeholder="Type of Intervention">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Venue <sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="venue" ng-model="intervention.venue" placeholder="Venue">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Total Members Covered <sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="totalmems" ng-model="intervention.totalMembersCovered" placeholder="Total Members Covered">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Action<sup>*</sup> </label>
                                <div class="">
                                    <input type="text" class="form-control" id="totalmems" ng-model="intervention.action" placeholder="Action">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Date<sup>*</sup> </label>
                                <div class="">
                                    <input type="text" class="form-control" id="date" ng-model="intervention.date" placeholder="Date">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Assigned To <sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="assignedto" ng-model="intervention.assignedTo" placeholder="Assigned To">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">No of male members covered <sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="memsno" ng-model="intervention.noOfMaleMembersCovered" placeholder="No of male members covered">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">No of female members covered <sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="fememsno" ng-model="intervention.noOfFemaleMembersCovered" placeholder="No of female members covered">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">All * fields are Mandatory <sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="fememsno" ng-model="intervention.allFieldAreMandatory" placeholder="All * fields are Mandatory">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>

                <div class="padding5">
                    <div style="color:#4a4d72;border-bottom:2px solid #f4f4f4;margin-left:18px;margin-right:18px;"> <span style="font-weight:bold">Placeholders</span> </div>
                        <br/>
                    <div class="row" style="margin:0;">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Select a Type<sup>*</sup> </label>
                                <div class="">
                                    <input type="text" class="form-control" id="select" ng-model="intervention.selectType" placeholder="Select a Type">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Select a Status<sup>*</sup> </label>
                                <div class="">
                                    <input type="text" class="form-control" id="selectreason" ng-model="intervention.selectStatus" placeholder="Select a Status">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Select a Assigned To <sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="selectassignedto" ng-model="intervention.selectAssignedTo" placeholder="Select a Assigned To">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Show <sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="show" ng-model="intervention.show" placeholder="Show">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Search<sup>*</sup> </label>
                                <div class="">
                                    <input type="text" class="form-control" id="search" ng-model="intervention.search" placeholder="Search">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Select a Venue<sup>*</sup> </label>
                                <div class="">

                                    <input type="text" class="form-control" id="venue" ng-model="intervention.selectVenue" placeholder="Select a Venue">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>

                <div class="padding5">
                    <div style="color:#4a4d72;border-bottom:2px solid #f4f4f4;margin-left:18px;margin-right:18px;"> <span style="font-weight:bold">Error Messages</span> </div>
                        <br/>
                    <div class="row" style="margin:0;">
                      <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Please Select an Options <sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="selectOption" ng-model="intervention.pleaseSelectanOptions" placeholder="Please Select an Options">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Please Select a Date<sup>*</sup> </label>
                                <div class="">
                                    <input type="text" class="form-control" id="selectdateplease" ng-model="intervention.pleaseSelectDate" placeholder="Please Select a Date">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Please Select a Assigned To<sup>*</sup> </label>
                                <div class="">
                                    <input type="text" class="form-control" id="selectaassignedtoplease" ng-model="intervention.pleaseSelectAssignedTo" placeholder="Please Select a Assigned To">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Please Select a Venue <sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="selectvenueplease" ng-model="intervention.pleaseSelectVenue" placeholder="Please Select a Venue">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Please Select a Intervention Type<sup>*</sup> </label>
                                <div class="">
                                    <input type="text" class="form-control" id="selecttypeplease" ng-model="intervention.pleaseSelectType" placeholder="Please Select a Intervention Type">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Please Enter No of male members covered <sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="selecttypeplease" ng-model="intervention.pleaseSelectnoOfMaleMembersCovered" placeholder="Please Enter No of male members covered">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Please Enter No of male members covered <sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="selecttypeplease" ng-model="intervention.pleaseSelectnoOfFemaleMembersCovered" placeholder="Please Enter No of female members covered">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Thank You <sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="thankyou" ng-model="intervention.thankYou" placeholder="Thank You">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin:0;">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Are you sure you want to save this intervention? <sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="suresave" ng-model="intervention.areYouSureToWantToSave" placeholder="Are you sure you want to save this intervention?">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Are you sure you want to delete?<sup>*</sup> </label>
                                <div class="">
                                    <input type="text" class="form-control" id="suredelete" ng-model="intervention.areYouSureToWantToDelete" placeholder="Are you sure you want to delete?">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Intervention Has Been Saved<sup>*</sup> </label>
                                <div class="">
                                    <input type="text" class="form-control" id="saved" ng-model="intervention.interventionHasBeenSaved" placeholder="Intervention Has Been Saved">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Intervention Has Been Updated<sup>*</sup> </label>
                                <div class="">
                                    <input type="text" class="form-control" id="updated" ng-model="intervention.interventionHasBeenUpdated" placeholder="Intervention Has Been Updated">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>


                <div class="padding5">
                    <div style="color:#4a4d72;border-bottom:2px solid #f4f4f4;margin-left:18px;margin-right:18px;"> <span style="font-weight:bold">Buttons</span> </div>
                        <br/>
                    <div class="row" style="margin:0;">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Edit<sup>*</sup> </label>
                                <div class="">
                                    <input type="text" class="form-control" id="edit" ng-model="intervention.edit" placeholder="Edit">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="update-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Update <sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="updatelabel" ng-model="intervention.update" placeholder="Update">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="save-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Save <sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="savelabel" ng-model="intervention.saveLabel" placeholder="Save">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Cancel<sup>*</sup> </label>
                                <div class="">
                                    <input type="text" class="form-control" id="cancel" ng-model="intervention.cancel" placeholder="Cancel">
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Add New<sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="export" ng-model="intervention.addNew" placeholder="Add New">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="edit-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Yes <sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="yes" ng-model="intervention.yes" placeholder="Yes">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Export Data<sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="export" ng-model="intervention.exportData" placeholder="Export Data">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Add<sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="addlabel" ng-model="intervention.addLabel" placeholder="Add">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Remove<sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="removelabel" ng-model="intervention.removeLabel" placeholder="Remove">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Delete<sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="delete" ng-model="intervention.delete" placeholder="Delete">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>


                <div class="padding5">
                    <div style="color:#4a4d72;border-bottom:2px solid #f4f4f4;margin-left:18px;margin-right:18px;"> <span style="font-weight:bold">Mobile Labels</span> </div>
                        <br/>
                    <div class="row" style="margin:0;">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="pleaseenterNoOfMaleFemaleCovered" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Please Enter No Of Male Female Covered<sup>*</sup> </label>
                                <div class="">
                                    <input type="text" class="form-control" id="pleaseenterNoOfMaleFemaleCovered" ng-model="intervention.pleaseenterNoOfMaleFemaleCovered" placeholder="Please Enter No Of Male Female Covered">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="fetchingData" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Fetching Data <sup>*</sup></label>
                                <div class="">
                                    <input type="text" class="form-control" id="fetchingData" ng-model="intervention.fetchingData" placeholder="Fetching Data">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <br/>
                <br/>
                <div align="right">
                    <a data-ng-href="/LangInterventions-list" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">Cancel</a>
                    
                    <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="HideCreateButton" ng-disabled="CreateClicked" style="padding:5px 20px;margin-right:30px;">Create</a>&nbsp;

                    <a class="btn btn-info btn-sm" type="submit" role="button" data-ng-click="Update()" data-ng-hide="HideCreateButton" style="padding:5px 20px;margin-right:30px;">Update</a>&nbsp;
                </div>
            </form>
        </div>
    </div>
        <br/>
        <!-- /.box-body -->
        <div class="box-footer">

        </div>
        <!-- /.box-footer -->
    </div>
    <!-- /.box -->



    <modal2 title1="{{modalTitle}}" visible="applyfordocumentdataModal">
        <p>{{message}}</p>
    </modal2>

    <validationmodal title1="Alert" visible="showValidation">
        {{validatestring1}}
    </validationmodal>
    
      <checkmodal title1="Alert" visible="showValidationNew">
    {{validatestring1}}
    <br>
   
             <div class="form-group">
                <div align="center">
                    <div align="center">
                        <a data-ng-click="OKBUTTON()" class="btn btn-success btn-sm " role="button" style="border-color:#db4242;padding:5px 20px;font-weight:bold;">Ok</a>
                        
                    </div>
                </div>
            </div>
</checkmodal>
