<style>
    /*
    .stylelink {
        padding: 3px 10px;
        background: transparent;
        color: #333;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    }
    
    .stylelink.active {
        padding: 3px 10px;
        background: #b71c1c;
        color: #fff;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    } */
    
    .stylelink {
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        color: #4a4d72;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;
        border-bottom: 4px solid #ec0b6d;
    }
    
    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }
    
    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 2px solid #f4f4f4;
        background-color: #fff;
    }
    
    #wrapper div {
        display: table-cell;
        height: auto;
    }
    
    .sell {
        position: relative;
        min-width: 45px;
    }
    
    .sell:after {
        content: url(images/piclinks/down-arrow.png) ;
        font: 17px "Consolas", monospace;
        color: #333;
        top: 5px;
        margin-left: -22px;
        padding: 0 0 2px;
        position: absolute;
        pointer-events: none;
    }
    
    .sell select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        /*        max-width: 320px;*/
        height: 32px;
        float: left;
        padding: 0px 7px;
        font-size: 14px;
        line-height: 1.75;
        color: #878993;
        border-radius: 4px;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #d5d7df;
        -ms-word-break: normal;
        word-break: normal;
    }d-break: noArmal;
    
    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/
    
    .nav-tabs-custom>.nav-tabs>li {
        width: 19%;
    }
    
    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 5px 10px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 5px 10px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        .nav-tabs-custom>.nav-tabs>li {
            position: relative;
            display: block;
            padding: 10px;
            text-align: center;
            width: 180px;
        }
        .space {
            padding: 5px 0px 5px 0px;
        }
    }
</style>
<div style="width:100%;height:auto;background:#ffffff;margin-top: 12px;">
    <div id="wrapper">
        <div style="text-align:center;">
            <a class="stylelink active" href="/LangPatientRecordlist "><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">PATIENT LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink " href="/medicine-list"><span style="flex:1;white-space:pre;overflow:hidden;text-overflow: ellipsis;">MEDICINE NAME</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink " href="/seenby-list"><span style="flex:1;white-space:pre;overflow:hidden;text-overflow: ellipsis;">SEEN BY</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink " href="/referto-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">REFER TO</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink " href="/testname-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">TEST NAME</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink " href="/vitalrecord-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">VITAL RECORD</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink " href="/vitalrecord-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">VITAL RECORDS</span></a>
        </div>
        <!--
        <div style="text-align:center;">
            <a class="stylelink " href="/nonsystematicrecords-list" title="NON SYSTEMATIC RECORDS"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">NON SYSTEMATIC RECORDS</span></a>
        </div>
-->
    </div>
</div>
<!-- Horizontal Form -->
<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">

    <div id="wrapper">

        <!--
        <div class=" stylelink active box-header with-border" style="padding:20px 10px;">
            <h3 class="box-title" style="font-weight:600;">Apply for Document</h3>

        </div>
-->

    </div>





    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <!--<h2>documentmaster</h2>-->
        <br/>
        <form class="" role="form">
            <div class="row padding1">
                                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:5px;color:#262d57;">Language<sup>*</sup> </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="" ng-model="precord.language" data-placeholder="Pick a Langauge" style="width: 100%;" ng-disabled="langdisable">
                                <option value=""></option>
                                <option data-ng-repeat="language in languages" value="{{language.id}}">{{ language.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!--                <div class="col-sm-3"></div>-->
            </div>
            <br/>
            <div class="padding">
                <div style="height:auto;color:#4a4d72;border-bottom:2px solid #f4f4f4;margin-left:28px;margin-right:28px;"> <span style="font-weight:bold">Labels</span> </div>
                <br/>
                <div class="row padding1">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Patient Record List<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="memberId" ng-model="precord.prlist" placeholder="Patient Record List">
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Patient Record Create<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="memberId" ng-model="precord.prCreate" placeholder="Patient Record Create">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Patient Record Edit<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="memberId" ng-model="precord.prEdit" placeholder="Patient Record Edit">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Age <sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="memberId" ng-model="precord.age" placeholder="Age">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row padding1">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="sales-code" class="" style="font-weight:600;color:#262d57;">Member of SHG<sup>*</sup> </label>
                            <div class="">
                                <input type="text" class="form-control" id="memberofSHG" ng-model="precord.memberofSHG" placeholder="Member of SHG">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Gender <sup>*</sup> </label>
                            <div class="">
                                <input type="text" class="form-control" id="memberId" ng-model="precord.gender" placeholder="Gender">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip" class="" style="font-weight:600;margin-top: 8px;color:#262d57;">Name of the patient (SHG)<sup>*</sup> </label>
                            <div class="">
                                <input type="text" class="form-control" id="patientSHG" ng-model="precord.patientSHG" placeholder="Name of the patient (SHG)">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Contact Number<sup>*</sup> </label>
                            <div class="">
                                <input type="text" class="form-control" id="memberId" ng-model="precord.mobile" placeholder="Contact Number">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row padding1">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="zip" class="" style="font-weight:600;margin-top: 8px;color:#262d57;">Name of the patient (non SHG)<sup>*</sup> </label>
                            <div class="">
                                <input type="text" class="form-control" id="patientnonSHG" ng-model="precord.patientnonSHG" placeholder="Name of the patient (non SHG)">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Migrant<sup>*</sup> </label>
                            <div class="">
                                <input type="text" class="form-control" id="memberId" ng-model="precord.migrant" placeholder="Migrant">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Action<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="action" data-ng-model="precord.action" placeholder="Action">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="sales-code" class="" style="font-weight:600;color:#262d57;">Assigned To<sup>*</sup> </label>
                            <div class="">
                                <input type="text" class="form-control" id="assigned" ng-model="precord.assignedTo" placeholder="Assigned To">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row padding1">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Symptom<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="Symptom" data-ng-model="precord.symptom" placeholder="Symptom">
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Visit Date<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="{{'datepicker' + $index}}" data-ng-model="precord.visitDate" placeholder="Visit Date">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Illness<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="Illness" data-ng-model="precord.illness" placeholder="Illness">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Name of the Medicine<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="show" data-ng-model="precord.medicineName" placeholder="Name of the Medicine">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row padding1">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Seen by<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="seenBy" data-ng-model="precord.seenBy" placeholder="Seen by">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Amount Of Medicine Given<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="noOfMedicine" data-ng-model="precord.noOfMedicine" placeholder="Amount Of Medicine Given">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Patient ID from WHP<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="patientidfromWHP" data-ng-model="precord.patientidfromWHP" placeholder="Patient ID from WHP">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Amount charged<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="show" data-ng-model="precord.amountCharged" placeholder="Amount charged">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row padding1">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Vital Record<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="patientidfromWHP" data-ng-model="precord.vitalRecord" placeholder="Vital Record">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Refer To<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="show" data-ng-model="precord.referto" placeholder="Refer To">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Non Systematic Records<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="nonsysrecord" data-ng-model="precord.nonSystematicRecord" placeholder="Non Systematic Records">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">BMI<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="show" data-ng-model="precord.bmi" placeholder="BMI">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row padding1">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">BP (Diastolic)<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="patientidfromWHP" data-ng-model="precord.bpDiastolic" placeholder="BP (Diastolic)">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">BP (Systolic) <sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="show" data-ng-model="precord.bpSystolic" placeholder="BP (Systolic) ">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">SPO2</label>
                            <div class="">
                                <input type="text" class="form-control" id="patientidfromWHP" data-ng-model="precord.spo" placeholder="SPO2">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Pulse Rate<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="show" data-ng-model="precord.pulseRate" placeholder="Pulse Rate">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row padding1">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Hemoglobin<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="show" data-ng-model="precord.hemoglobin" placeholder="Hemoglobin">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Height<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="patientidfromWHP" data-ng-model="precord.height" placeholder="Height">
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Weight<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="show" data-ng-model="precord.weight" placeholder="Weight">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Sugar Level<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="patientidfromWHP" data-ng-model="precord.sugerLevel" placeholder="Sugar Level">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row padding1">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">RR<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="show" data-ng-model="precord.rr" placeholder="RR">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Results<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="patientidfromWHP" data-ng-model="precord.result" placeholder="Results">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Results of Test<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="patientidfromWHP" data-ng-model="precord.resultofTest" placeholder="Results of Test">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Date of Test<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="dateOfTests" data-ng-model="precord.dateOfTest" placeholder="Date of Test">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row padding1">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Show<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="show" data-ng-model="precord.show" placeholder="Show">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Test Name<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="patientidfromWHP" data-ng-model="precord.testName" placeholder="Test Name">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Patient Name<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="show" data-ng-model="precord.patient" placeholder="Patient Name">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">HF Name<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="show" data-ng-model="precord.hfName" placeholder="HF Name">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row padding1">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Remark<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="remark" data-ng-model="precord.remark" placeholder="Remark">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Add Test<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="remark" data-ng-model="precord.addtest" placeholder="Add Test">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Medicine Record<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="remark" data-ng-model="precord.medicinerecord" placeholder="Medicine Record">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Add Patient Record<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="remark" data-ng-model="precord.addpatientrecord" placeholder="Add Patient Record">
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <br/>
            <!--
            <div class="row" style="margin:0px;">
               
            </div>
            <div class="row" style="margin:0px;">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                 </div>
            </div>
-->
            <div class="padding">
                <div style="height:auto;color:#4a4d72;border-bottom:2px solid #f4f4f4;margin-left:28px;margin-right:28px;"> <span style="font-weight:bold">Placeholders</span> </div>
                <br/>
                <div class="row padding1">
                    <div class="col-sm-3">
                        <div class="form-group" ng-hide="reponserec">
                            <label for="agegroup" class="" style="font-weight:600;margin-top:4px;color:#262d57;">Select Member of SHG<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="organizationId" ng-model="precord.selectmemberOfSHG" placeholder="Select Member of SHG">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Search<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="search" data-ng-model="precord.search" placeholder="Search">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group" ng-hide="rejectdis">
                            <label for="state" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Select Name of the patient(SHG)<sup>*</sup> </label>
                            <div class="">
                                <input type="text" class="form-control" id="stateId" ng-model="precord.selectpatientnameSHG" placeholder="Select Name of the patient(SHG)">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Select Medicine Name<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="search" data-ng-model="precord.selectMedicineName" placeholder="Select Medicine Name">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row padding1">
                    <div class="col-sm-3">
                        <div class="form-group" ng-hide="delaydis">
                            <label for="city" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Select Gender<sup>*</sup> </label>
                            <div class="">
                                <input type="text" class="form-control" id="cityId" ng-model="precord.selectGender" placeholder="Select Gender">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group" ng-hide="delaydis">
                            <label for="city" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Select Migrant<sup>*</sup> </label>
                            <div class="">
                                <input type="text" class="form-control" id="cityId" ng-model="precord.selectMigrant" placeholder="Select Migrant">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group" ng-hide="reponserec">
                            <label for="agegroup" class="" style="font-weight:600;margin-top:4px;color:#262d57;">Select Assigned To<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="selectassigned" ng-model="precord.selectAssignedTo" placeholder="Select Assigned To">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Select Seen by<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="selectMember" data-ng-model="precord.selectSeenBy" placeholder="Select Seen by"> </div>
                        </div>
                    </div>
                </div>

                <div class="row padding1">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Select Refer To<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="selectScheme" data-ng-model="precord.selectreferTo" placeholder="Select Refer To">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Select a Test Name<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="selectStage" data-ng-model="precord.selecttestname" placeholder="Select a Test Name"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Select a VisitDate<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="selectFollowUp" data-ng-model="precord.selectVisitDate" placeholder="Select a VisitDate">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Select Symptom<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="selectResponseReceived" data-ng-model="precord.selectSymptom" placeholder="Select Symptom"> </div>
                        </div>

                    </div>
                </div>

                <div class="row padding1">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Select Illness<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="selectReasonForDelay" data-ng-model="precord.selectIllness" placeholder="Select Illness"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Enter Age<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="selectResponseReceived" data-ng-model="precord.enterAge" placeholder="Enter Age"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Enter <sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="selectResponseReceived" data-ng-model="precord.enter" placeholder="Enter "> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Enter Contact No<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="selectResponseReceived" data-ng-model="precord.enterContact" placeholder="Enter Contact No"> </div>
                        </div>
                    </div>
                </div>
                <!--            </div>-->

                <div class="row padding1">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Enter Amount Charged<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="selectResponseReceived" data-ng-model="precord.enterAmount" placeholder="Enter Amount Charged "> </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>


            <div class="padding">
                <div style="color:#4a4d72;border-bottom:2px solid #f4f4f4;margin-left:28px;margin-right:28px;"> <span style="font-weight:bold">Error Messages</span> </div>
                <br/>
                <div class="row padding1">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Patient Record has been Created<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="thankYouCreated" data-ng-model="precord.thankYouCreated" placeholder="Patient Record has been Created">
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Patient Record has been Updated<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="thankYouUpdated" data-ng-model="precord.thankYouUpdated" placeholder="Patient Record has been Updated"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Confirm Delete<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="confirmDelete" data-ng-model="precord.confirmDelete" placeholder="Confirm Delete">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Patient Record Already Added<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="confirmDelete" data-ng-model="precord.patientAlreadyAdded" placeholder="Patient Record Already Added">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>

            <div class="padding">
                <div style="color:#4a4d72;border-bottom:2px solid #f4f4f4;margin-left:28px;margin-right:28px;"> <span style="font-weight:bold">Buttons</span> </div>
                <br/>
                <div class="row padding1">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Export Data<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="exportData" data-ng-model="precord.exportData" placeholder="Export Data"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Add New<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="addNew" data-ng-model="precord.addNew" placeholder="Add New"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Cancel<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="cancel" data-ng-model="precord.cancel" placeholder="Cancel"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Save<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="saveLabel" data-ng-model="precord.saveLabel" placeholder="Save">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row padding1">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Update<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="update" data-ng-model="precord.update" placeholder="Update"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Edit<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="edit" data-ng-model="precord.edit" placeholder="Edit"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="group" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Delete<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="delete" data-ng-model="precord.delete" placeholder="Delete">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>

<!--            <div class="padding3">-->
                <div style="color:#4a4d72;border-bottom:2px solid #f4f4f4;margin-left:36px;margin-right:36px;"> <span style="font-weight:bold">Mobile Labels</span> </div>
                <br/>
                <div class="row padding2">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="pleaseEnterAmountCharged" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Please Enter Amount Charged<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="pleaseEnterAmountCharged" data-ng-model="precord.pleaseEnterAmountCharged" placeholder="Please Enter Amount Charged"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="fetchingData" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Fetching Data<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="fetchingData" data-ng-model="precord.fetchingData" placeholder="Fetching Data"> </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="patientRecordTitle" class="" style="font-weight:600;margin-top:7px;color:#262d57;">Patient Record Title<sup>*</sup></label>
                            <div class="">
                                <input type="text" class="form-control" id="patientRecordTitle" data-ng-model="precord.patientRecordTitle" placeholder="Patient Record Title"> </div>
                        </div>
                    </div>
                </div>
<!--            </div>-->




            <!--
            /////////////////
            <<<<<<<<<<<<<<<<<<=========ooo========>>>>>>>>>>>>>///////////////////////////
-->


            <!--
                <div class="row" style="margin:0;padding:0;">

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Apply for Document List</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="memberId" ng-model="precord.afdList" placeholder="Apply for Document List">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Apply for Document Create</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="memberId" ng-model="precord.afdCreate" placeholder="Apply for Document Create">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Apply for Document Edit </label>
                            <div class="col-sm-6">

                                <input type="text" class="form-control" id="memberId" ng-model="precord.afdEdit" placeholder="Apply for Document Edit">
                            </div>
                        </div>
                    </div>



                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Member </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="memberId" ng-model="precord.memberId" placeholder="Member">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="sales-code" class="col-sm-4" style="font-weight:600;color:red;">Document </label>
                            <div class="col-sm-6">
                               
                                <input type="text" class="form-control" id="schemeId" ng-model="precord.documentId" placeholder="Document">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Stage</label>
                            <div class="col-sm-6">
                               
                                <input type="text" class="form-control" id="stage" data-ng-model="precord.stage" placeholder="Stage">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group" ng-hide="reponserec">
                            <label for="agegroup" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Response Recieved</label>
                            <div class="col-sm-6">
                               
                                <input type="text" class="form-control" id="organizationId" ng-model="precord.responseRecieve" placeholder="Response Recieved">
                            </div>
                        </div>

                        <div class="form-group" ng-hide="rejectdis">
                            <label for="state" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Reason for Rejection</label>
                            <div class="col-sm-6">
                              
                                <input type="text" class="form-control" id="stateId" ng-model="precord.rejection" placeholder="Reason for Rejection">
                            </div>
                        </div>


                        <div class="form-group" ng-hide="delaydis">
                            <label for="city" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">Reason for Delay </label>
                            <div class="col-sm-6">
                             
                                <input type="text" class="form-control" id="cityId" ng-model="precord.delay" placeholder="Reason for Delay">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin:0;padding:0;" ng-hide="datetimehide">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">Follow Up Date </label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control" id="{{'datepicker' + $index}}" ng-model="precord.followUpDate" placeholder="Follow Up Date">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">

                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Show</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="show" data-ng-model="precord.show" placeholder="Show">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Export Data</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="exportData" data-ng-model="precord.exportData" placeholder="Export Data"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Search</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="search" data-ng-model="precord.search" placeholder="Search">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Add New</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="addNew" data-ng-model="precord.addNew" placeholder="Add New"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Action</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="action" data-ng-model="precord.action" placeholder="Action">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Cancel</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="cancel" data-ng-model="precord.cancel" placeholder="Cancel"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Save</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="saveLabel" data-ng-model="precord.saveLabel" placeholder="Save">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Update</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="update" data-ng-model="precord.update" placeholder="Update"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Document has been Created</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="thankYouCreated" data-ng-model="precord.thankYouCreated" placeholder="Document has been Created">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Document has been Updated</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="thankYouUpdated" data-ng-model="precord.thankYouUpdated" placeholder="Document has been Updated"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Cancel</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="cancel" data-ng-model="precord.cancel" placeholder="Cancel">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Edit</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="edit" data-ng-model="precord.edit" placeholder="Edit"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Delete</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="delete" data-ng-model="precord.delete" placeholder="Delete">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Select a Member</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="selectMember" data-ng-model="precord.selectMember" placeholder="Select a Member"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Select a Document</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="selectScheme" data-ng-model="precord.selectDocument" placeholder="Select a Scheme">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Select a Stage</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="selectStage" data-ng-model="precord.selectStage" placeholder="Select a Stage"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Select a Follow up</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="selectFollowUp" data-ng-model="precord.selectFollowUp" placeholder="Select a Follow up">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Select Response Receive</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="selectResponseReceived" data-ng-model="precord.selectResponseReceived" placeholder="Select Response Receive"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Select Reason for Rejection</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="selectReasonForRejection" data-ng-model="precord.selectReasonForRejection" placeholder="Select Reason for Rejection">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Select Reason for Delay</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="selectReasonForDelay" data-ng-model="precord.selectReasonForDelay" placeholder="Select Reason for Delay"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Confirm Delete</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="confirmDelete" data-ng-model="precord.confirmDelete" placeholder="Confirm Delete">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Are you sure, you want to remove this member?</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="areYouSure" data-ng-model="precord.areYouSure" placeholder="Are you sure, you want to remove this member?"> </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">Document Already Added</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="confirmDelete" data-ng-model="precord.documentAlreadyAdded" placeholder="Document Already Added">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">

                    </div>
                </div>
-->

            <br/>
            <br/>
            <br/>
            <div align="right">
                <a data-ng-href="/LangPatientRecordlist" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">Cancel</a>

                <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="HideCreateButton" ng-disabled="CreateClicked" style="padding:5px 20px;margin-right:30px;">Create</a>&nbsp;

                <a class="btn btn-info btn-sm" type="submit" role="button" data-ng-click="Update()" data-ng-hide="HideCreateButton" style="padding:5px 20px;margin-right:30px;">Update</a>&nbsp;
            </div>
        </form>
    </div>
    <br/>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->



<modal2 title1="{{modalTitle}}" visible="applyfordocumentdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>



<benefmodal1 visible="documentdataModal">
    <div class="modal-header" style="padding:0px;">
        <div class="pull-right" style="padding:15px;">
            <a data-ng-click="OK()" data-dismiss="modal" class="btn btn-success btn-sm " role="button" style="background:#db4242;border-color:#db4242;padding:5px 20px;font-weight:bold;">{{okbutton}}</a>
        </div>
        <h4 class="stylelink active modal-title" style="padding:20px 10px;">{{modalTitle}}</h4>
    </div>
    <div style="width:100%; height:auto; min-height:200px;  border: 1px solid #ffffff;padding:5px;" id="savemodals">
        <br/>

        <form class="form-horizontal" role="form">

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="first-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:#262d57;">{{member}}</label>
                        <div class="col-sm-6">
                            {{printmember.fullname}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">

                    <div class="form-group">
                        <label for="email" class="col-sm-4" style="font-weight:600;margin-top:8px;color:#262d57;">{{document}}</label>
                        <div class="col-sm-6">
                            <!--							{{printdocumenttype.name}}-->
                            <div ng-if="UserLanguage==1">
                                {{printdocumenttype.name}}
                            </div>
                            <div ng-if="UserLanguage==2">
                                {{printdocumenttype.hnname}}
                            </div>
                            <div ng-if="UserLanguage==3">
                                {{printdocumenttype.knname}}
                            </div>
                            <div ng-if="UserLanguage==4">
                                {{printdocumenttype.taname}}
                            </div>
                            <div ng-if="UserLanguage==5">
                                {{printdocumenttype.tename}}
                            </div>
                            <div ng-if="UserLanguage==6">
                                {{printdocumenttype.mrname}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="mobile" class="col-sm-4" style="font-weight:600;margin-top:8px;color:#262d57;">{{stage}}</label>
                        <div class="col-sm-6">
                            <!--							{{printstage.name}}-->
                            <div ng-if="UserLanguage==1">
                                {{printstage.name}}
                            </div>
                            <div ng-if="UserLanguage==2">
                                {{printstage.hnname}}
                            </div>
                            <div ng-if="UserLanguage==3">
                                {{printstage.knname}}
                            </div>
                            <div ng-if="UserLanguage==4">
                                {{printstage.taname}}
                            </div>
                            <div ng-if="UserLanguage==5">
                                {{printstage.tename}}
                            </div>
                            <div ng-if="UserLanguage==6">
                                {{printstage.mrname}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="mobile" class="col-sm-4" style="font-weight:600;margin-top:8px;color:#262d57;">{{followupdate}}</label>
                        <div class="col-sm-6">
                            {{printdate | date:'dd-MMM-yyyy'}}
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <br/>
            <br/>

            <!--<div>
				<div align="left">
					<a class="btn btn-success btn-sm btn-flat" role="button" data-ng-click="OK()">{{okbutton}}</a>
				</div>
			</div>-->
        </form>

    </div>


    <style>
        .toggle.android {
            border-radius: 0px;
        }
        
        .toggle.android .toggle-handle {
            border-radius: 0px;
        }
        
        #mapCanvas {
            width: 500px;
            height: 400px;
            float: left;
        }
        
        #infoPanel {
            margin-left: 100px;
        }
        
        #infoPanel div {
            margin-bottom: 5px;
        }
    </style>

</benefmodal1>

<script type="text/ng-template" id="template/AlertModal.html" class="modal" class="modal fade" role="dialog">
    <div class="modal-header">
        <h4 class="modal-title">{{palert}}</h4>
    </div>
    <div class="modal-body"> {{AlertMessage}} </div>
    <div class="modal-footer">
        <div align="left">

            <button type="button" class="btn btn-success btn-sm " ng-click="$close()">{{okbutton}}</button>

        </div>
    </div>
</script>

  <checkmodal title1="Alert" visible="showValidationNew">
    {{validatestring1}}
    <br>
   
             <div class="form-group">
                <div align="center">
                    <div align="center">
                        <a data-ng-click="OKBUTTON()" class="btn btn-success btn-sm " role="button" style="border-color:#db4242;padding:5px 20px;font-weight:bold;">Ok</a>
                        
                    </div>
                </div>
            </div>
</checkmodal>