<style>
   .stylelink {
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        color: #4a4d72;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;
/*        border-bottom: 4px solid #ec0b6d;*/
    }
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
/*        border-bottom: 1px solid #e6e6e6;*/
        border-bottom: 4px solid #f4f4f4;
/*        margin-top: 12px;*/
    }

</style>
<!-- Horizontal Form -->
<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">

    <div id="wrapper">

        <div class=" stylelink active box-header with-border">
            <h3 class="box-title" style="font-weight:bold;">LHS</h3>

        </div>

    </div>





    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <!--<h2>documentmaster</h2>-->
        <br/>
        <form class="" role="form">
            <div class="row padding">
                <br/>
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:5px;color:#262d57;">Language<sup>*</sup> </label>

                        <div class="col-sm-6">
                            <select ui-select2 id="" ng-model="lhs.language" data-placeholder="Pick a Langauge" style="width: 100%;" ng-disabled="langdisable">
                                <option value=""></option>
                                <option data-ng-repeat="language in languages" value="{{language.id}}">{{ language.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
<!--                <div class="col-sm-3"></div>-->
            </div>
            <br>
<!--            <br>-->

            <div class="row padding">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Welcome</label>
                        <sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="welcome" ng-model="lhs.welcome" placeholder="Welcome">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">HF</label>
                        <sup>*</sup>
                        <div class="">

                            <input type="text" class="form-control" id="hf" ng-model="lhs.hf" placeholder="HF">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Members</label>
                        <sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="hf" ng-model="lhs.members" placeholder="Members">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">SHG </label>
                        <sup>*</sup>
                        <div class="">

                            <input type="text" class="form-control" id="shg" ng-model="lhs.shg" placeholder="SHG">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row padding">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Household </label>
                        <sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="household" ng-model="lhs.household" placeholder="Household">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Apply for Scheme </label>
                        <sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="applyforscheme" ng-model="lhs.applyforscheme" placeholder="Apply for Scheme">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Apply for Document </label>
                        <sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="applyfordocument" ng-model="lhs.applyfordocument" placeholder="Apply for Document">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Report Incident </label>
                        <sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="reportincident" ng-model="lhs.reportincident" placeholder="Report Incident">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row padding1">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Patient Record  </label> <sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="reportincident" ng-model="lhs.patientrecord" placeholder="Patient Record">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Facility  </label>
                        <sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="facility" ng-model="lhs.facility" placeholder="Facility">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Health Facilitator  </label>
                        <sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="healthFacilitator" ng-model="lhs.healthFacilitator" placeholder="Health Facilitator">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Wash  </label>
                        <sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="reportincident" ng-model="lhs.wash" placeholder="Wash">
                        </div>
                    </div>
                </div>
            </div>

           <div class="row padding">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">School </label>
                        <sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="reportincident" ng-model="lhs.school" placeholder="School">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">School CheckList</label>
                        <sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="reportincident" ng-model="lhs.schoolchecklist" placeholder="School CheckList">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">SHG Meeting </label>
                        <sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="shgmeeting" ng-model="lhs.shgmeeting" placeholder="SHG Meeting">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Screen and Treat</label>
                        <sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="condition" ng-model="lhs.condition" placeholder="Screen and Treat">
                        </div>
                    </div>
                </div>
            </div>

           <div class="row padding">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="3" style="font-weight:600;margin-top: 4px;color:#262d57;">Interventions </label>
                        <sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="intervention" ng-model="lhs.intervention" placeholder="Interventions">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">No of Active Screen and Treat Being Tracked By Logged In User<sup>*</sup> </label>

                        <div class="">
                            <input type="text" class="form-control" id="activecondition" ng-model="lhs.activeConditionsTrackedByUser" placeholder="No of Active Screen and Treat Being Tracked By Logged In User">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">No of SHG Meetings Saved By Logged In User <sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="meetings" ng-model="lhs.noOfSHGMeetingsSavedByUser" placeholder="No of SHG Meetings Saved By Logged In User">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">No of Report Incidents By Logged In User                          <sup>*</sup>
</label>
                        <div class="">
                            <input type="text" class="form-control" id="incidentsuser" ng-model="lhs.noOfReportIncidentsByUser" placeholder="No of SHG Meetings Saved By Logged In User">
                        </div>
                    </div>
                </div>
            </div>

           <div class="row padding">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">No of Households Registered <sup>*</sup> </label>
                        <div class="">
                            <input type="text" class="form-control" id="reportincident" ng-model="lhs.NoofHouseholdsRegistered" placeholder="No of Households Registered">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">No of Individual Members Registered <sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="reportincident" ng-model="lhs.NoofIndMemRegistered" placeholder="No of Individual Members Registered">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">No of SHGs Formed </label>
                        <sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="reportincident" ng-model="lhs.NoofShgsFormed" placeholder="No of SHGs Formed">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">No of Members in All SHGs   <sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="reportincident" ng-model="lhs.NoofMemsAllShgs" placeholder="No of Members in All SHGs">
                        </div>
                    </div>
                </div>
            </div>

           <div class="row padding">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">No of SHGs With Less Than 5 Members <sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="reportincident" ng-model="lhs.SHGsLessThanfiveMems" placeholder="No of SHGs With Less Than 5 Members">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">No of SHGs With Greater Than 15 Members <sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="reportincident" ng-model="lhs.SHGsGtThanfiftnMems" placeholder="No of SHGs With Greater Than 15 Members">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Analytics </label>
                        <sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="analytics" ng-model="lhs.analytics" placeholder="Analytics">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">No of SHG members not screened <sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="shgmems" ng-model="lhs.noOfShgMemsNotScreened" placeholder="No of SHG members not screened">
                        </div>
                    </div>
                </div>
            </div>

           <div class="row padding">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">No of HHs in which no members have been pre screened <sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="hhs" ng-model="lhs.noOfHHsMemsNotScreened" placeholder="No of HHs in which no members have been pre screened">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">No of individuals who have not been pre screened <sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="indmems" ng-model="lhs.noOfIndMemsNotScreened" placeholder="No of individuals who have not been pre screened">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Total members pre screened <sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="memsscreened" ng-model="lhs.totalMemsPreScreened" placeholder="Total members pre screened">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Total members positive after pre screening <sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="memspstvescreened" ng-model="lhs.totalMemsPositivePreScreened" placeholder="Total members positive after pre screening">
                        </div>
                    </div>
                </div>
            </div>

           <div class="row padding">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Total members screened </label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="memsscreened" ng-model="lhs.totalMemsScreened" placeholder="Total members screened">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Total members positive after screening </label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="memspstvscreened" ng-model="lhs.totalMemsPstveAfterScreened" placeholder="Total members positive after screening">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Total members referred for testing <sup>*</sup></label>
                            <input type="text" class="form-control" id="memspstvscreened" ng-model="lhs.totalMemsReferredForTesting" placeholder="Total members referred for testing">
                        </div>
                    </div>
<!--                </div>-->

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Total members tested<sup>*</sup> </label>
                        <div class="">
                            <input type="text" class="form-control" id="memspstvscreened" ng-model="lhs.totalMemsTested" placeholder="Total members tested">
                        </div>
                    </div>
                </div>
            </div>

           <div class="row padding">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="3" style="font-weight:600;margin-top: 4px;color:#262d57;">Total members tested positive after testing <sup>*</sup></label>
                        <div class="3">
                            <input type="text" class="form-control" id="memspstvscreened" ng-model="lhs.totalMemsTestedPositiveAfterTesting" placeholder="Total members tested positive after testing">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Total members on treatment <sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="memspstvscreened" ng-model="lhs.totalMemsonTreatment" placeholder="Total members on treatment">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Total members cured/Managed <sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="memspstvscreened" ng-model="lhs.totalMemsCured" placeholder="Total members cured/Managed">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">No of Open Applications Made By Logged In User <sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="openapplicationmadebyuser" ng-model="lhs.noOfOpenApplicationsMadeByUser" placeholder="No of Open Applications Made By Logged In User">
                        </div>
                    </div>
                </div>
            </div>

           <div class="row padding">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">No of Patient Records <sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="NoofPatientRecords" ng-model="lhs.NoofPatientRecords" placeholder="No of Patient Records">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">No of Apply for Schemes <sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="NoofApplyforschemes" ng-model="lhs.NoofApplyforschemes" placeholder="No of Apply for Schemes">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">No of Apply for Documents <sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="NoofApplyfordocuments" ng-model="lhs.NoofApplyfordocuments" placeholder="No of Apply for Documents">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">No of Interventions <sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="NoofInterventions" ng-model="lhs.NoofInterventions" placeholder="No of Interventions">
                        </div>
                    </div>
                </div>
            </div>

           <div class="row padding">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Total Savings In Shgs <sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="TotalsavingsInShgs" ng-model="lhs.TotalsavingsInShgs" placeholder="Total Savings In Shgs">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Trend in HH Added<sup>*</sup> </label>
                        <div class="">
                            <input type="text" class="form-control" id="TrendinHhAdded" ng-model="lhs.TrendinHhAdded" placeholder="Trend in HH Added">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Trend In OPD </label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="TrendinOpd" ng-model="lhs.TrendinOpd" placeholder="Trend In OPD">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Confirm? </label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="confirm" ng-model="lhs.confirm" placeholder="Confirm?">
                        </div>
                    </div>
                </div>
            </div>

           <div class="row padding">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Which Page You Want To Redirect? <sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="redirectConfirm" ng-model="lhs.redirectConfirm" placeholder="Which Page You Want To Redirect??">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Ok </label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="ok" ng-model="lhs.ok" placeholder="Ok">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Cancel </label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="cancel" ng-model="lhs.cancel" placeholder="Cancel">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Todo List </label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="todolist" ng-model="lhs.todoList" placeholder="Todo List">
                        </div>
                    </div>
                </div>
            </div>

           <div class="row padding">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Type </label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="type" ng-model="lhs.type" placeholder="Type">
                        </div>
                    </div>
                </div>
                <!--            </div>-->

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Select a Type </label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="selecttype" ng-model="lhs.selectType" placeholder="Select a Type">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Status </label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="status" ng-model="lhs.status" placeholder="Status">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Select a Status </label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="selectstatus" ng-model="lhs.selectStatus" placeholder="Select a Status">
                        </div>
                    </div>
                </div>


            </div>

           <div class="row padding">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Show </label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="show" ng-model="lhs.show" placeholder="Show">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Export Data </label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="exportdata" ng-model="lhs.exportData" placeholder="Export Data">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Search </label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="search" ng-model="lhs.search" placeholder="Search">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Add New </label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="add" ng-model="lhs.addNew" placeholder="Add New">
                        </div>
                    </div>
                </div>
               <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Resources</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="add" ng-model="lhs.resources" placeholder="resources">
                        </div>
                    </div>
                </div>
               <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Search Household Or Shg</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="add" ng-model="lhs.searchHouseholdOrShg" placeholder="Search  Household Or Shg">
                        </div>
                    </div>
                </div>
               <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Search Member</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="add" ng-model="lhs.searchmember" placeholder="Search Member">
                        </div>
                    </div>
                </div>
               <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Task List</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="add" ng-model="lhs.tasklist" placeholder="Task List">
                        </div>
                    </div>
                </div>
            </div>

           <div class="row padding">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Sr No </label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="srno" ng-model="lhs.srNo" placeholder="Sr No">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Name </label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="name" ng-model="lhs.name" placeholder="Name">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">ID </label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="indid" ng-model="lhs.indId" placeholder="ID">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Assigned To </label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="assigned" ng-model="lhs.assignedTo" placeholder="Assigned To">
                        </div>
                    </div>
                </div>
            </div>

           <div class="row padding">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Details </label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="detail" ng-model="lhs.details" placeholder="Details">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Status / Step<sup>*</sup> </label>
                        <div class="">
                            <input type="text" class="form-control" id="statusstep" ng-model="lhs.statusStep" placeholder="Status / Step">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Date </label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="date" ng-model="lhs.date" placeholder="Date">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Action </label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="action" ng-model="lhs.action" placeholder="Action">
                        </div>
                    </div>
                </div>
            </div>

           <div class="row padding">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Edit </label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="edit" ng-model="lhs.edit" placeholder="Edit">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="3" style="font-weight:600;margin-top: 4px;color:#262d57;">What do you want to do today? <sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="whatdouwanttodo" ng-model="lhs.whatDoYouWantToDoToday" placeholder="What do you want to do today?">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Add Screen and Treat <sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="addcondition" ng-model="lhs.addCondition" placeholder="Add Screen and Treat">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Add SHG Meeting </label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="addshgmeeting" ng-model="lhs.addSHGMeeting" placeholder="Add SHG Meeting">
                        </div>
                    </div>
                </div>
            </div>

           <div class="row padding">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Add Intervention </label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="addintervention" ng-model="lhs.addIntervention" placeholder="Add Intervention">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">No Data Found  </label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="nodata" ng-model="lhs.noDataFound" placeholder="No Data Found">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Screen and Treat </label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="todocondition" ng-model="lhs.todoCondition" placeholder="Screen and Treat (Todo)">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">SHG Meeting </label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="shgmeetingtodo" ng-model="lhs.todoSHGMeeting" placeholder="SHG Meeting (Todo)">
                        </div>
                    </div>
                </div>
            </div>

           <div class="row padding">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Intervention </label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="todointervention" ng-model="lhs.todoIntervention" placeholder="Intervention (Todo)">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Scheme </label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="schemetodo" ng-model="lhs.todoScheme" placeholder="Scheme (Todo)">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Document </label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="doctodo" ng-model="lhs.todoDocument" placeholder="Document (Todo)">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Incident </label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="incidenttodo" ng-model="lhs.todoIncident" placeholder="Incident (Todo)">
                        </div>
                    </div>
                </div>
            </div>

           <div class="row padding">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Intervention </label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="todointervention" ng-model="lhs.todoIntervention" placeholder="Intervention (Todo)">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Closed </label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="closed" ng-model="lhs.todoClosed" placeholder="Closed">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Todo Count </label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="counttodo" ng-model="lhs.todoCount" placeholder="Todo Count">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Quick Add  </label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="counttodo" ng-model="lhs.quickAdd" placeholder="Quick Add">
                        </div>
                    </div>
                </div>
            </div>

           <div class="row padding">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Quick Add Household </label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="counttodo" ng-model="lhs.quickAddNewHH" placeholder="Quick Add Household">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">WHAT WOULD YOU LIKE TO DO NOW? <sup>*</sup></label>
                        <div class="">
                            <input type="text" class="form-control" id="counttodo" ng-model="lhs.whatYouLikeToDo" placeholder="WHAT WOULD YOU LIKE TO DO NOW?">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Home</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="counttodo" ng-model="lhs.home" placeholder="Home">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">State</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="state" ng-model="lhs.state" placeholder="State">
                        </div>
                    </div>
                </div>
            </div>

           <div class="row padding">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">District</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="district" ng-model="lhs.district" placeholder="District">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="documentmaster-id" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Site</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="site" ng-model="lhs.site" placeholder="Site">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="trendcharts" class="" style="font-weight:600;margin-top: 4px;color:#262d57;">Trend Charts</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="site" ng-model="lhs.trendcharts" placeholder="Trend Charts">
                        </div>
                    </div>
                </div>

                <!--  *********************** -->
                <!--  *********************** -->
            </div>


            <div style="color:#4a4d72;border-bottom:2px solid #f4f4f4;margin-bottom:15px;margin-left:24px;margin-right:24px;"> <span style="font-weight:bold" class="ng-binding">Placeholders</span> </div>
            <div class="row padding" style="margin:0px;">
                <div class="col-sm-3">
                    <div class="form-group" ng-hide="reponserec">
                        <label for="agegroup" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Select a State</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="selectstate" ng-model="lhs.selectstate" placeholder="Select a State">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group" ng-hide="reponserec">
                        <label for="agegroup" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Select a District</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="selectdistrict" ng-model="lhs.selectdistrict" placeholder="Select a District">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group" ng-hide="reponserec">
                        <label for="agegroup" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Select a Site</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="selectsite" ng-model="lhs.selectsite" placeholder="Select a Site">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group" ng-hide="reponserec">
                        <label for="agegroup" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Select a HF</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="selecthf" ng-model="lhs.selecthf" placeholder="Select a HF">
                        </div>
                    </div>
                </div>
            </div>


            <div style="color:#4a4d72;border-bottom:2px solid #f4f4f4;margin-bottom:15px;margin-left:24px;margin-right:24px;"> <span style="font-weight:bold" class="ng-binding">Mobile Labels</span> </div>
            <div class="row padding" style="margin:0px;">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="agegroup" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Fetching Data From Server</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="selectstate" ng-model="lhs.fetchingData" placeholder="Fetching Data From Server">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="writingData" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Writing Data</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="writingData" ng-model="lhs.writingData" placeholder="Writing Data">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="doYouWantToLogout" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Do You Want To Logout?</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="doYouWantToLogout" ng-model="lhs.doYouWantToLogout" placeholder="Do You Want To Logout">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="editProfileWorksInOnline" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Edit Profile Works only In Online</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="editProfileWorksInOnline" ng-model="lhs.editProfileWorksInOnline" placeholder="Edit Profile Works only In Online">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row padding" style="margin:0px;">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="nameCannotBlank" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Name Cannot Blank</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="nameCannotBlank" ng-model="lhs.nameCannotBlank" placeholder="Name Cannot Blank">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="enterValidMobile" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Enter Valid Mobile</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="enterValidMobile" ng-model="lhs.enterValidMobile" placeholder="Enter Valid Mobile">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="oldPasswordCantBlank" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Old Password Cant Be Blank</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="oldPasswordCantBlank" ng-model="lhs.oldPasswordCantBlank" placeholder="Old Password Cant Be Blank">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="newPasswordCantBlank" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">New Password Cant Be Blank</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="newPasswordCantBlank" ng-model="lhs.newPasswordCantBlank" placeholder="New Password Cant Be Blank">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row padding" style="margin:0px;">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="nameCannotBlank" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Confirm Password Cant Be Blank</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="confirmPasswordCantBlank" ng-model="lhs.confirmPasswordCantBlank" placeholder="Confirm Password Cant Be Blank">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="newPwdAndConfirmPwdMismatch" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">New Pswd And Confirm Pswd Mismatch</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="newPwdAndConfirmPwdMismatch" ng-model="lhs.newPwdAndConfirmPwdMismatch" placeholder="New Password And Confirm Paswword Mismatch">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="validatingUser" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Validating User</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="validatingUser" ng-model="lhs.validatingUser" placeholder="Validating User">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="unableToUpdate" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Unable To Update</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="unableToUpdate" ng-model="lhs.unableToUpdate" placeholder="Unable To Update">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row padding" style="margin:0px;">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="internalError" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Internal Error</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="internalError" ng-model="lhs.internalError" placeholder="Internal Error">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="unauthorised" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Unauthorised</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="unauthorised" ng-model="lhs.unauthorised" placeholder="Unauthorised">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="getData" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Get Data</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="getData" ng-model="lhs.getData" placeholder="Get Data">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="mobile" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Mobile</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="mobile" ng-model="lhs.mobile" placeholder="mobile">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row padding" style="margin:0px;">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="email" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Email</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="email" ng-model="lhs.email" placeholder="Email">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="oldPassword" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Old Password</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="oldPassword" ng-model="lhs.oldPassword" placeholder="Old Password">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="newPassword" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">New Password</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="newPassword" ng-model="lhs.newPassword" placeholder="New Password">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="confirmPassword" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Confirm Password</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="confirmPassword" ng-model="lhs.confirmPassword" placeholder="Confirm Password">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row padding" style="margin:0px;">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="emptyUsername" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Empty Username</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="emptyUsername" ng-model="lhs.emptyUsername" placeholder="Empty Username">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="emptyPassword" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Empty Password</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="emptyPassword" ng-model="lhs.emptyPassword" placeholder="Empty Password">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="accessDenied" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Access Denied</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="accessDenied" ng-model="lhs.accessDenied" placeholder="Access Denied">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="apkMismatch" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">APK Mismatch</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="apkMismatch" ng-model="lhs.apkMismatch" placeholder="APK Mismatch">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row padding" style="margin:0px;">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="internalErrorUnableToLogin" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Internal Error Unable To Login</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="internalErrorUnableToLogin" ng-model="lhs.internalErrorUnableToLogin" placeholder="Internal Error Unable To Login">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="invalidUsername" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Invalid Username</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="invalidUsername" ng-model="lhs.invalidUsername" placeholder="Invalid Username">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="invalidPassword" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Invalid Password</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="invalidPassword" ng-model="lhs.invalidPassword" placeholder="Invalid Password">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="prevDayLogin" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Previous Day Login</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="prevDayLogin" ng-model="lhs.prevDayLogin" placeholder="Previous Day Login">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row padding" style="margin:0px;">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="internalErrorUnableToLogin" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Contact Your Facility</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="contactYourFacility" ng-model="lhs.contactYourFacility" placeholder="Contact Your Facility">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="login" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Login</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="login" ng-model="lhs.login" placeholder="Login">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="username" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Username</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="username" ng-model="lhs.username" placeholder="Username">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="password" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Password</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="password" ng-model="lhs.password" placeholder="Password">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row padding" style="margin:0px;">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="forgotPassword" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Forgot Password</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="forgotPassword" ng-model="lhs.forgotPassword" placeholder="Forgot Password">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="loggingIn" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Logging In...Please Wait</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="loggingIn" ng-model="lhs.loggingIn" placeholder="Logging In...Please Wait">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="pushData" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Push Data</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="pushData" ng-model="lhs.pushData" placeholder="Push Data">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="success" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Success</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="success" ng-model="lhs.success" placeholder="Success">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row padding" style="margin:0px;">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="loggingIn" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Edit Profile</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="editProfile" ng-model="lhs.editProfile" placeholder="Edit Profile">
                        </div>
                    </div>
                </div>
                
                 <div class="col-sm-3">
                    <div class="form-group">
                        <label for="Logout" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">Logout</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="logout" ng-model="lhs.logout" placeholder=" Logout">
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="Logout" class="" style="font-weight:600; margin-top: 4px;color:#262d57;">SHG Migration</label><sup>*</sup>
                        <div class="">
                            <input type="text" class="form-control" id="logout" ng-model="lhs.shgMigration" placeholder=" SHG Migration">
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <br/>
            <br/>
            <div align="right">
                <a data-ng-href="/LangLHSlist" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px">Cancel</a>

                <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="HideCreateButton" ng-disabled="CreateClicked" style="padding:5px 20px;margin-right:30px;">Create</a>&nbsp;

                <a class="btn btn-info btn-sm" type="submit" role="button" data-ng-click="Update()" data-ng-hide="HideCreateButton" style="padding:5px 20px;margin-right:30px;">Update</a>&nbsp;
            </div>

        </form>

    </div>
    <br>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->



<modal2 title1="{{modalTitle}}" visible="applyfordocumentdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>




<script type="text/ng-template" id="template/AlertModal.html" class="modal" class="modal fade" role="dialog">
    <div class="modal-header">
        <h4 class="modal-title">{{palert}}</h4>
    </div>
    <div class="modal-body"> {{AlertMessage}} </div>
    <div class="modal-footer">
        <div align="left">

            <button type="button" class="btn btn-success btn-sm " ng-click="$close()">{{okbutton}}</button>

        </div>
    </div>
</script>

<checkmodal title1="Alert" visible="showValidationNew">
    {{validatestring1}}
    <br>
   
             <div class="form-group">
                <div align="center">
                    <div align="center">
                        <a data-ng-click="OKBUTTON()" class="btn btn-success btn-sm " role="button" style="border-color:#db4242;padding:5px 20px;font-weight:bold;">Ok</a>
                        
                    </div>
                </div>
            </div>
</checkmodal>