<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 0px 40px;
        /*        border-bottom: 4px solid #e72e5a;*/
    }
    
    .userstyle {
        padding: 20px 0px;
        border-bottom: 4px solid #e72e5a;
    }
    
    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }
    
    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 4px solid #f4f4f4;
        background-color: #fff;
        margin-top: 12px;
    }
    
    #wrapper div {
        display: table-cell;
        height: auto;
    }
    
    .sell {
        position: relative;
        /*        float: right;*/
        min-width: 45px;
    }
    
    .sell:after {
        content: '>';
        font: 17px "Consolas", monospace;
        color: #333;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        top: 5px;
        margin-left: -15px;
        /*        margin-top: 5px;*/
        padding: 0 0 2px;
        /*        margin: -15px;*/
        position: absolute;
        pointer-events: none;
    }
    
    .sell select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        /* Add some styling */
        display: block;
        width: 100%;
        /*        max-width: 320px;*/
        height: 32px;
        float: left;
        /*        margin: 5px 0px;*/
        padding: 0px 7px;
        font-size: 14px;
        line-height: 1.75;
        color: #878993;
        border-radius: 4px;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #cccccc;
        -ms-word-break: normal;
        word-break: normal;
    }
    .nav-tabs-custom>.nav-tabs>li {
        width: 19%;
    }
    
    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 10px;
            padding: 5px 10px;
        }
        .stylelink.active {
            font-size: 10px;
            padding: 5px 10px;
        }
        .sub_menu {
            font-size: 10px;
            padding: 5px 10px;
        }
        .sub_menu.active {
            font-size: 10px;
            padding: 5px 10px;
        }
        .nav-tabs-custom > .nav-tabs > li {
            position: relative;
            display: block;
            padding: 10px;
            text-align: center;
            width: 180px;
        }
        .space {
            padding: 5px 0px 5px 0px;
        }
    }
    
</style>
<!-- Horizontal Form -->

<!-- Horizontal Form -->
<div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
        <div style="text-align:center;">
            <a class="stylelink active" href="/LangWash-list"><span class="userstyle" style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">WASH LIST</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/typeofinfrastructure-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">TYPE OF INFRASTRUCTURE</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/isnew-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">NEW</span></a>
        </div>
<!--
        <div style="text-align:center;">
            <a class="stylelink" href="/interventions-type-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">TYPE</span></a>
        </div>
-->
<!--
        <div style="text-align:center;">
            <a class="stylelink" href="/interventions-status-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">STATUS</span></a>
        </div>
-->
    </div>
</div>

<div class="box box-info" style="min-height:450px;border-top:none;">
<!--    <div class="box-header with-border">-->
        <!--        <h3 class="box-title">Gender</h3>-->
<!--    </div>-->
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <br/>
        <div class="row">
            <div class="col-sm-5"></div>
            <!--<h2>documentmaster</h2>-->
            <br/>
            <form class=" " role="form">
                <div class="row padding">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zone" class="col-sm-4"  >Language<sup>*</sup> </label>
                            <div class="col-sm-6">
                                <select ui-select2 id="" ng-model="wash.language" data-placeholder="Pick a Langauge" style="width: 100%;" ng-disabled="langdisable">
                                    <option value=""></option>
                                    <option data-ng-repeat="language in languages" value="{{language.id}}">{{ language.name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
                <br/>
                <!--///////////======*****======////////-->
                <div class="">
                    <div class="row padding4">
                        <div style="border-bottom:2px solid #f4f4f4;margin-left:18px;margin-right:18px;"> <span style="font-weight:bold">Labels</span> </div>
                        <br/>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" >Wash Infrastructure<sup>*</sup></label>
                                <div >
                                    <input type="text" class="form-control" id="listcondition" ng-model="wash.washInfrastructure" placeholder="Wash Infrastructure">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id"  >Add New Infrastructure<sup>*</sup></label>
                                <div >
                                    <input type="text" class="form-control" id="addnew" ng-model="wash.addNewInfrastructure" placeholder="Add New Infrastructure">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id"  >Edit Infrastructure<sup>*</sup></label>
                                <div >
                                    <input type="text" class="form-control" id="addnew" ng-model="wash.editInfrastructure" placeholder="Edit Infrastructure">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id"  >Sr no<sup>*</sup> </label>
                                <div >
                                    <input type="text" class="form-control" id="type" ng-model="wash.srNo" placeholder="Sr no">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id"  >Area Name<sup>*</sup> </label>
                                <div >
                                    <input type="text" class="form-control" id="status" ng-model="wash.areaName" placeholder="Area name">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id"  >Date of Mapping<sup>*</sup></label>
                                <div >
                                    <input type="text" class="form-control" id="srNo" ng-model="wash.dateOfMapping" placeholder="Date of Mapping">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" >Number<sup>*</sup> </label>
                                <div >
                                    <input type="text" class="form-control" id="no" ng-model="wash.number" placeholder="Number">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id"  >Action<sup>*</sup> </label>
                                <div >
                                    <input type="text" class="form-control" id="action" ng-model="wash.action" placeholder="Action">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id"  >Assigned To<sup>*</sup> </label>
                                <div >
                                    <input type="text" class="form-control" id="assigned" ng-model="wash.assignedTo" placeholder="Assigned To">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" >Location<sup>*</sup> </label>
                                <div  >
                                    <input type="text" class="form-control" id="location" ng-model="wash.location" placeholder="Location">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" >Type of Infrastructure<sup>*</sup> </label>
                                <div >
                                    <input type="text" class="form-control" id="type" ng-model="wash.typeOfInfrastructure" placeholder="Type of Infrastructure">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" >Number of Infrastructure<sup>*</sup> </label>
                                <div >
                                    <input type="text" class="form-control" id="number" ng-model="wash.noOfInfrastructure" placeholder="Number of Infrastructure">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" >New<sup>*</sup> </label>
                                <div >
                                    <input type="text" class="form-control" id="new" ng-model="wash.new" placeholder="New">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" >Select Location<sup>*</sup> </label>
                                <div >
                                    <input type="text" class="form-control" id="new" ng-model="wash.selectLocation" placeholder="Select Location">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" >Latitude<sup>*</sup> </label>
                                <div >
                                    <input type="text" class="form-control" id="latitude" ng-model="wash.latitude" placeholder="Latitude">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" >Longitude<sup>*</sup> </label>
                                <div >
                                    <input type="text" class="form-control" id="longitude" ng-model="wash.longitude" placeholder="Longitude">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id"  >Marker Status<sup>*</sup> </label>
                                <div >
                                    <input type="text" class="form-control" id="marker" ng-model="wash.markerStatus" placeholder="Marker Status">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id"  >Current Position<sup>*</sup> </label>
                                <div >
                                    <input type="text" class="form-control" id="position" ng-model="wash.currentPosition" placeholder="Current Position">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" >Closest Matching Address<sup>*</sup> </label>
                                <div >
                                    <input type="text" class="form-control" id="addressmatching" ng-model="wash.closestMatchingAddress" placeholder="Closest Matching Address">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" >All * fields are Mandatory<sup>*</sup> </label>
                                <div >
                                    <input type="text" class="form-control" id="mand" ng-model="wash.allFieldAreMandatory" placeholder="All * fields are Mandatory">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" >No<sup>*</sup> </label>
                                <div >
                                    <input type="text" class="form-control" id="mand" ng-model="wash.no" placeholder="No">
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <br/>

                <div>
                    <div class="row padding4">
                        <div style="border-bottom:2px solid #f4f4f4;margin-left:18px;margin-right:18px;"> <span style="font-weight:bold">Placeholders</span> </div>
                        <br/>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" >Select a Type of Infrastructure<sup>*</sup></label>
                                <div >
                                    <input type="text" class="form-control" id="select" ng-model="wash.selectTypeOfInfrastructure" placeholder="Select a Type of Infrastructure">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" >Select a New<sup>*</sup> </label>
                                <div >
                                    <input type="text" class="form-control" id="selectnew" ng-model="wash.selectNew" placeholder="Select a New">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" >Select a Assigned To<sup>*</sup> </label>
                                <div >
                                    <input type="text" class="form-control" id="selectassignedto" ng-model="wash.selectAssignedTo" placeholder="Select a Assigned To">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="edit-id" >Show<sup>*</sup> </label>
                                <div >
                                    <input type="text" class="form-control" id="show" ng-model="wash.show" placeholder="Show">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="edit-id" >Search<sup>*</sup> </label>
                                <div >
                                    <input type="text" class="form-control" id="search" ng-model="wash.search" placeholder="Search">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" >Select a Area<sup>*</sup> </label>
                                <div >

                                    <input type="text" class="form-control" id="selectArea" ng-model="wash.selectArea" placeholder="Select a Area">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>

                <div>
                    <div class="row padding4">
                        <div style="border-bottom:2px solid #f4f4f4;margin-left:18px;margin-right:18px;"> <span style="font-weight:bold">Error Messages</span> </div>
                        <br/>


                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" >Please Select an Options<sup>*</sup> </label>
                                <div >
                                    <input type="text" class="form-control" id="selectOption" ng-model="wash.pleaseSelectanOptions" placeholder="Please Select an Options">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="edit-id" >Please Select a Date of Mapping<sup>*</sup></label>
                                <div >
                                    <input type="text" class="form-control" id="selectdateplease" ng-model="wash.pleaseSelectDateOfMapping" placeholder="Please Select a Date of Mapping">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="edit-id" >Please Select a Assigned To<sup>*</sup> </label>
                                <div >
                                    <input type="text" class="form-control" id="selectaassignedtoplease" ng-model="wash.pleaseSelectAssignedTo" placeholder="Please Select a Assigned To">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="edit-id" >Please Select a Area<sup>*</sup> </label>
                                <div >
                                    <input type="text" class="form-control" id="selectareaplease" ng-model="wash.pleaseSelectArea" placeholder="Please Select a Area">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="edit-id" >Please Select a Location<sup>*</sup> </label>
                                <div >
                                    <input type="text" class="form-control" id="selectlocationplease" ng-model="wash.pleaseSelectLocation" placeholder="Please Select a Location">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="edit-id" >Please Select a Type of Infrastructure<sup>*</sup> </label>
                                <div >
                                    <input type="text" class="form-control" id="selecttypeofinfrastructureplease" ng-model="wash.pleaseSelectTypeOfInfrastructure" placeholder="Please Select a Type of Infrastructure">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="edit-id">Please Enter No of Infrastructure<sup>*</sup></label>
                                <div>
                                    <input type="text" class="form-control" id="selecttypeplease" ng-model="wash.pleaseEnterNoOfInsfrastructure" placeholder="Please Enter No of Infrastructure">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="edit-id">Please Select a New<sup>*</sup></label>
                                <div>
                                    <input type="text" class="form-control" id="selectnewplease" ng-model="wash.pleaseSelectNew" placeholder="Please Select a New">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="edit-id"  >Thank You<sup>*</sup> </label>
                                <div >
                                    <input type="text" class="form-control" id="thankyou" ng-model="wash.thankYou" placeholder="Thank You">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="edit-id" >Are you sure you want to save this infrastructure?<sup>*</sup> </label>
                                <div >
                                    <input type="text" class="form-control" id="suresave" ng-model="wash.areYouSureToWantToSave" placeholder="Are you sure you want to save this infrastructure?">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="edit-id" >Are you sure you want to delete?<sup>*</sup> </label>
                                <div >
                                    <input type="text" class="form-control" id="suredelete" ng-model="wash.areYouSureToWantToDelete" placeholder="Are you sure you want to delete?">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="edit-id" >Infrastructure Has Been Saved<sup>*</sup> </label>
                                <div >
                                    <input type="text" class="form-control" id="saved" ng-model="wash.infrastructureHasBeenSaved" placeholder="Infrastructure Has Been Saved">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row padding4">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="edit-id" >Infrastructure Has Been Updated<sup>*</sup> </label>
                                <div >
                                    <input type="text" class="form-control" id="updated" ng-model="wash.infrastructureHasBeenUpdated" placeholder="Infrastructure Has Been Updated">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>


                <div>
                    <div class="row padding4">
                        <div style="border-bottom:2px solid #f4f4f4;margin-left:18px;margin-right:18px;"> <span style="font-weight:bold">Buttons</span> </div>
                        <br/>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" >Edit<sup>*</sup> </label>
                                <div >
                                    <input type="text" class="form-control" id="edit" ng-model="wash.edit" placeholder="Edit">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="update-id" >Update<sup>*</sup> </label>
                                <div >
                                    <input type="text" class="form-control" id="updatelabel" ng-model="wash.update" placeholder="Update">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="save-id" >Save<sup>*</sup> </label>
                                <div >
                                    <input type="text" class="form-control" id="savelbl" ng-model="wash.saveLabel" placeholder="Save">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" >Cancel<sup>*</sup> </label>
                                <div >
                                    <input type="text" class="form-control" id="cancel" ng-model="wash.cancel" placeholder="Cancel">
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" >Add New<sup>*</sup></label>
                                <div >
                                    <input type="text" class="form-control" id="export" ng-model="wash.addNew" placeholder="Add New">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="edit-id" >Yes<sup>*</sup> </label>
                                <div >
                                    <input type="text" class="form-control" id="yes" ng-model="wash.yes" placeholder="Yes">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="edit-id" >Ok<sup>*</sup> </label>
                                <div >
                                    <input type="text" class="form-control" id="ok" ng-model="wash.ok" placeholder="Ok">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" >Export Data<sup>*</sup></label>
                                <div >
                                    <input type="text" class="form-control" id="export" ng-model="wash.exportData" placeholder="Export Data">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id" >Add<sup>*</sup></label>
                                <div>
                                    <input type="text" class="form-control" id="addlabel" ng-model="wash.addLabel" placeholder="Add">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id">Remove<sup>*</sup></label>
                                <div>
                                    <input type="text" class="form-control" id="removelabel" ng-model="wash.removeLabel" placeholder="Remove">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="documentmaster-id">Delete<sup>*</sup></label>
                                <div>
                                    <input type="text" class="form-control" id="delete" ng-model="wash.delete" placeholder="Delete">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <br/>
                <br/>
                <div align="right">
                    <a data-ng-href="/LangWash-list" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px">Cancel</a>

                    <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="HideCreateButton" ng-disabled="CreateClicked" style="padding:5px 20px;margin-right:30px">Create</a>&nbsp;

                    <a class="btn btn-info btn-sm" type="submit" role="button" data-ng-click="Update()" data-ng-hide="HideCreateButton" style="padding:5px 20px;margin-right:30px">Update</a>&nbsp;
                </div>
            </form>
        </div>
        <br/>
        <!-- /.box-body -->
        <div class="box-footer">

        </div>
        <!-- /.box-footer -->
    </div>
    <!-- /.box -->



    <modal2 title1="{{modalTitle}}" visible="applyfordocumentdataModal">
        <p>{{message}}</p>
    </modal2>

    <validationmodal title1="Alert" visible="showValidation">
        {{validatestring1}}
    </validationmodal>
    
<checkmodal title1="Alert" visible="showValidationNew">
    {{validatestring1}}
    <br>
   
             <div class="form-group">
                <div align="center">
                    <div align="center">
                        <a data-ng-click="OKBUTTON()" class="btn btn-success btn-sm " role="button" style="border-color:#db4242;padding:5px 20px;font-weight:bold;">Ok</a>
                        
                    </div>
                </div>
            </div>
</checkmodal>