<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 0px 40px;
        /*        border-bottom: 4px solid #e72e5a;*/
    }

    .userstyle {
        padding: 20px 0px;
        border-bottom: 4px solid #e72e5a;
    }

    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }

    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 4px solid #f4f4f4;
        background-color: #fff;
        margin-top: 12px;
    }

    #wrapper div {
        display: table-cell;
        height: auto;
    }

    .sell {
        position: relative;
        min-width: 45px;
    }

    .sell:after {
        content: url(images/piclinks/down-arrow.png);
        font: 17px "Consolas", monospace;
        color: #333;
        top: 5px;
        margin-left: -22px;
        padding: 0 0 2px;
        position: absolute;
        pointer-events: none;
    }

    .sell select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        /*        max-width: 320px;*/
        height: 32px;
        float: left;
        padding: 0px 7px;
        font-size: 14px;
        line-height: 1.75;
        color: #878993;
        border-radius: 4px;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #d5d7df;
        -ms-word-break: normal;
        word-break: normal;
    }

    d-break: noArmal;

    .nav-tabs-custom>.nav-tabs>li {
        width: 19%;
    }

    .customcheck {
        display: block;
        position: relative;
        /*        padding-left: 10px;*/
        margin-bottom: 20px;
        cursor: pointer;
        font-size: 14px;
        left: -15px;
    }

    .customcheck input {
        position: absolute;
        opacity: 0;
    }

    .checkmark {
        position: absolute;
        height: 18px;
        width: 18px;
        background-color: #ffffff;
        border: 1px solid #d5d7df;
    }

    .customcheck:hover input~.checkmark {
        background-color: #f4f4f4;
    }

    .customcheck input:checked~.checkmark {
        background-color: #73b33e;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .customcheck input:checked~.checkmark:after {
        display: block;
    }

    .customcheck .checkmark:after {
        left: 6px;
        top: 2px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
    }

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 10px 20px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 10px 20px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
    }

    button,
    input,
    select,
    textarea {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        /*    height: 60px;*/
        border-color: #e1e8ee;
    }

</style>

<div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
        <div style="text-align:center;">
            <a class="stylelink active" href="/learning"><span class="userstyle" style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">LEARNING</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/learningtype"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">LEARNING TYPE</span></a>
        </div>
        <!--
        <div style="text-align:center;">
            <a class="stylelink" href="/sales-areas"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">DISTRICT</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/cities"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">TOWN</span></a>
        </div>
-->
        <!--<div style="text-align:center;">
			<a class="stylelink" href="/employees"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">FACILITY</span></a>
		</div>
		<div style="text-align:center;">
			<a class="stylelink" href="/routes"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">SITE</span></a>
		</div>-->
    </div>

</div>


<!-- Horizontal Form -->
<!--<div class="box box-info" style="min-height:450px;border-color:#b71c1c;margin-top:5px;">-->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <!--    <div class="box-header with-border">-->
    <!--		<h3 class="box-title">State</h3>-->
    <!--    </div>-->
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <br/>
        <div data-ng-hide="hideSearchFilter()">
            <div class="row padding">
                <div class="col-sm-5"></div>
                <div class="col-sm-7">
                    <div class="col-sm-2"></div>
                    <div data-ng-hide="hideSearchFilter()" class="col-sm-1 col-md-1" style="padding-right:0px;padding-left:0px;">
                        <label class="showlabel">Show</label>
                        <div class="sell">
                            <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-5 col-md-5 smright2txt" style="padding-right:0px;">
                        <form role="form" class="">
                            <div class="input-group">
                                <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-left-radius:4px;border-bottom-left-radius: 4px;border-color:#d5d7df;background:none;border-right:none;"><span class="glyphicon glyphicon-search"></span></button>
                                </span>
                                <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search" style="z-index:0;border-left:none;border-color:#d5d7df;border-top-right-radius:4px;border-bottom-right-radius: 4px;" data-ng-model="searchlearning">
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-2 col-md-2  smright smright2txt">
                        <a data-ng-href="/learning/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-right:10px;">Add New </a>
                    </div>
                </div>
            </div>
        </div>
        <br/>

        <form class=" " role="form" data-ng-show="showForm()">

            <p align="center" style="color:#ec0b6d">All fields in * are mandatory</p>
            <br/>
            <div class="row padding3">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name">Name<sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="name" data-ng-model="learning.name" placeholder="Name" pattern='[A-Za-z\\s]*'>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="state">Type<sup>*</sup> </label>
                        <div>
                            <select ui-select2 id="type" data-ng-model="learning.type" data-placeholder="Pick a Type" style="width: 100%;">
                                <option value=""></option>
                                <option data-ng-repeat="type in types" value="{{type.id}}">{{ type.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name">URL<sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="learningulr" data-ng-model="learning.learningurl" placeholder="URL" ng-change="UrlTest()">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="state">Featured<sup>*</sup> </label>
                        <div>
                            <select ui-select2 id="featured" data-ng-model="learning.featured" data-placeholder="Pick a Featured" style="width: 100%;">
                                <option value=""></option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="city">Language<sup>*</sup> </label>
                        <div ng-repeat="language in languages" style="padding:0px;">
                            <div class="col-sm-3">
                                <label class="customcheck">
                                <input class="learningCheckbox" type="checkbox" ng-model="language.enabled" value="{{language.id}}" name="vehicle" ng-change="GetLanguage()" checked="checked">{{language.name}}
                                    <span class="checkmark"></span>
                                    </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name">Tag<sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="count" data-ng-model="learning.tag" placeholder="TAG">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name">Description<sup>*</sup> </label>
                        <div>
                            <textarea class="form-control" rows="3" ng-model="learning.description" maxlength="100" placeholder="Description" style="width:100%"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group" ng-hide="representativeHide">
                        <label for="name">Representative Image<sup>*</sup>
                        </label>
                        <div>
                            <input type="text" class="form-control" ng-model="learning.representative" placeholder="Representative Image" ng-disabled="repDisable">
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <br/>
            <br/>
            <div align="right">
                <div>
                    <a data-ng-href="/learning" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;"> Cancel</a>

                    <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Savelearning()" data-ng-show="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:30px;">Create </a>&nbsp;&nbsp;&nbsp;

                    <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Updatelearning()" data-ng-hide="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:10px;margin-right:30px;">Update </a>
                </div>
            </div>
        </form>

        <div data-ng-hide="hideSearchFilter()">
        </div>
        <!--        <br />-->


        <div data-ng-hide="showForm()" class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th style="padding-left:30px;">S NO.</th>
                        <th>NAME</th>
                        <th>TAG</th>
                        <th>TYPE</th>
                        <!--                        <th >LINK</th>-->
                        <th>LINK</th>
                        <th width="12%;">ACTION</th>
                    </tr>
                </thead>

                <tbody>

                    <tr dir-paginate="learning in TotalData  = ( learnings | filter:searchlearning ) |itemsPerPage:pageSize" pagination-id="learningsid" current-page="currentPage">
                        <td style="padding-left:30px;">{{ learning.index }}</td>
                        <td>{{learning.name}}</td>
                        <td>{{learning.tag}}</td>
                        <td ng-init="type = getType(learning.type)">{{type.name}}</td>
                        <!--<td ng-if="learning.representative != null">
                            <a href="{{learning.learningurl}}"><img src="{{learning.representative}}" style="height:20%;"></a>
                        </td>
                        <td ng-if="learning.representative == ''|| learning.representative == null">
                            <a href="{{learning.learningurl}}"><img src="images/documentImage2.png" style="height:65%;width:60%"></a>
                        </td>-->
                        <td>
                            <a ng-if="learning.representative != null" href="{{learning.learningurl}}"><img src="{{learning.representative}}" style="height:20%;"></a>
                            <a ng-if="learning.representative == '' || learning.representative == null" href="{{learning.learningurl}}"><img src="images/documentImage2.png" style="height:65%;width:60%"></a>
                        </td>
                        <td>
                            <a data-ng-href="/learning/{{learning.id}}">
                                <!--                                <span class="glyphicon glyphicon-pencil" title="Edit" style="color: black;"></span>-->
                                <img src="images/piclinks/edit.png" width="16px" title="Edit"></a>&nbsp;&nbsp;
                            <!--                            <a style="color:#b7b8c8;">|</a>&nbsp;&nbsp;-->
                            <a confirm-button="Delete(learning.id)" message="Are you sure? you want to delete?">
                                <!--                                <span class="glyphicon glyphicon-remove" style="cursor:pointer;" title="Bin"></span>-->
                                <img src="images/piclinks/cross.png" width="16px;" style="cursor:pointer;" title="Bin"></a>&nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>
            <br/>
            <div class="padding4" align="right">
                <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" pagination-id="learningsid" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
                </dir-pagination-controls>
            </div>
        </div>
    </div>
    <br/>

    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->


<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>
