<!--<div class="row">
    
     <div class="col-sm-6">
     <div class="form-group">
		    <label class="col-sm-4 control-label">Journey Date</label>
		    <div class="col-sm-8">
		         <td style = "width: 250px;">   <p class="input-group" style = "width: 200px;">
                               <input type="text" id="{{'datepicker' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="journeydate" is-open="opened"         min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close"/>
                                <span class="input-group-btn">
                                <button class="btn btn-default" ng-click="open($event, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
            </p></td>
		    </div>
		  </div>
        </div>-->
  <!--<div class="col-sm-6">   
<div class="form-group">
<div class="col-sm-8"><p><b>CO</b>&nbsp;&nbsp;&nbsp;&nbsp;
    <select ui-select2 id="id" ng-model="retailerlocationviews" data-placeholder="Pick a CO" style="width:180px;">
		    <option value=""></option>
		  <option data-ng-repeat="partner in partners" value="{{salesagent.salesCode}}">{{ partner.firstName }}</option>
			</select></p>
</div></div></div>
   
</div>
<div class="form-group">
  <a data-ng-href="/retailermap" class="btn btn-primary" role="button"> All Retailers</a>
</div>-->
<div id='map' style="display:block;height:550px" />