<style>
	.stylelink {
		padding: 3px 10px;
		background: transparent;
		color: #333;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}
	
	.stylelink.active {
		padding: 3px 10px;
		background: #b71c1c;
		color: #fff;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		font-weight: 600;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}
	
	.sub_menu {
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
		padding: 10px 10px;
		border-bottom: 2px solid transparent;
		color: #333;
	}
	
	.sub_menu.active {
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
		padding: 10px 10px;
		color: #000;
		font-weight: bold;
		border-bottom: 2px solid #01adfb;
	}
	
	#wrapper {
		display: table;
		table-layout: fixed;
		width: 100%;
		height: auto;
		background-color: #fff;
	}
	
	#wrapper div {
		display: table-cell;
		height: auto;
	}
	
	@media screen and (max-width: 480px) {
		.stylelink {
			font-size: 12px;
		}
		.stylelink.active {
			font-size: 12px;
		}
		.sub_menu {
			font-size: 10px;
		}
		.sub_menu.active {
			font-size: 10px;
		}
	}

</style>


<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-color:#b71c1c;margin-top:5px;">
	<div class="box-header with-border">
		<h3 class="box-title">Member Data Migration</h3>
	</div>
	<!-- /.box-header -->
	<!-- form start -->

	<div class="box-body">
		<div align="center">
			<h4>XLS file should be in the following format.</h4>
			<img src="images/xmsmemberImage.png">
			<br/>
			<br/>
			<a href="/xlssheets/xlsmembers.xlsx" target="_blank">Click here to download sample xls file</a>
		</div>

		<div>
			<br/>
			<p>
				<input type="file" name="xlfile" id="xlf" /> ... click here to select a file
			</p>
		</div>
		<br/>
		<form class="form-horizontal" role="form">

			<div class="row" style="margin:0;padding:0">
				<div class="col-sm-3">
					<div class="form-group">
						<label class="col-sm-6" style="font-weight:600;margin-top:0px;">Error Flag</label>
						<div class="col-sm-2">
							<input type="checkbox" ng-model="partner.errorflag" ng-value="user.flag">
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label class="col-sm-6" style="font-weight:600;margin-top:0px;">Migration Flag</label>
						<div class="col-sm-4">
							<input type="checkbox" ng-model="partner.migrationflag" ng-value="user.flag">
						</div>
					</div>
				</div>
			</div>

			<div class="row" style="margin:0;padding:0;">
				<div class="col-sm-4">
					<div class="form-group">
						<label for="eventtype" class="col-sm-4" style="font-weight: 600;margin-top: 4px;">State</label>
						<div class="col-sm-8">
							<select ui-select2 id="state" ng-model="event.eventype" data-placeholder="State" style="width:100%;">
								<option value=""></option>
								<option data-ng-repeat="state in states" value="{{state.id}}">{{ state.name }}</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="eventtype" class="col-sm-4" style="font-weight: 600;margin-top: 4px;">District </label>
						<div class="col-sm-8">
							<select ui-select2 id="eventype" ng-model="event.eventype" data-placeholder="District" style="width:100%;">
								<option value=""></option>
								<option data-ng-repeat="district in districts" value="{{district.id}}">{{ district.name }}</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="eventtype" class="col-sm-4" style="font-weight: 600;margin-top: 4px;">Facility</label>
						<div class="col-sm-8">
							<select ui-select2 id="eventype" ng-model="event.eventype" data-placeholder="Facility" style="width:100%;">
								<option value=""></option>
								<option data-ng-repeat="facility in facilities" value="{{facility.id}}">{{ facility.name }}</option>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="row" style="margin:0;padding:0;">
				<div class="col-sm-4">
					<div class="form-group">
						<label for="eventtype" class="col-sm-4" style="font-weight: 600;margin-top: 4px;">Site</label>
						<div class="col-sm-8">
							<select ui-select2 id="eventype" ng-model="event.eventype" data-placeholder="Site" style="width:100%;">
								<option value=""></option>
								<option data-ng-repeat="site in sites" value="{{site.id}}">{{ site.name }}</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="eventtype" class="col-sm-4" style="font-weight: 600;margin-top: 4px;">Town</label>
						<div class="col-sm-8">
							<select ui-select2 id="eventype" ng-model="event.eventype" data-placeholder="Town" style="width:100%;">
								<option value=""></option>
								<option data-ng-repeat="city in towns" value="{{city.id}}">{{ city.name }}</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="eventtype" class="col-sm-4" style="font-weight: 600;margin-top: 4px;">Hotspot</label>
						<div class="col-sm-8">
							<select ui-select2 id="eventype" ng-model="event.eventype" data-placeholder="Hotspot" style="width:100%;">
								<option value=""></option>
								<option data-ng-repeat="hotspot in hotspots" value="{{hotspot.id}}">{{ hotspot.name }}</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</form>
		<br />


		<div>
			<table class="table table-bordered table-striped">

				<thead>
					<tr>
						<th style="width:50px;">#</th>
						<th>Name</th>
						<th>Facility</th>
						<th>Typology</th>
						<th>Gender</th>
						<th>Age</th>
						<th>Month/Year of start of Sex work</th>
					</tr>


				</thead>
				<tbody>

					<!--<li ng-repeat="feed in feedList" repeat-done="layoutDone()" ng-cloak>
						<a href="{{feed}}" title="view at {{feed | hostName}}" data-toggle="tooltip">{{feed | strip_http}}</a>
					</li> id="toggleLoading()"-->

					<tr dir-paginate="prospect in xlsentries |itemsPerPage:100">
						<td>{{ prospect.index+1 }}</td>
						<td>{{ prospect.fullname }}</td>
						<td>{{ prospect.facility }}</td>
						<td>{{ prospect.typology }}</td>
						<td>{{ prospect.gender }}</td>
						<td>{{ prospect.age }}</td>
						<td>{{ prospect.noofyearsinsexwork }}</td>
					</tr>
				</tbody>


			</table>

			<!--<div align="right">
				<dir-pagination-controls max-size="5" direction-links="true" boundary-links="false">
				</dir-pagination-controls>
			</div>-->
			<div ng-hide="loadinghide">
				<loading align="center"></loading>
			</div>
		</div>

		<br/>
		<br/>
		<br/>
		<div align="left">
			<button ng-click="Save()" class="btn btn-success btn-sm btn-flat">Submit</button>
			<!--ng-hide="hideSubmit"-->
			<!--			<button ng-click="Validate()" class="btn btn-success btn-sm btn-flat" ng-hide="hideValidate" ng-disabled="DisableValidate">Validate</button>-->
			<a href="/memberdatamigration">
				<button class="btn btn-danger btn-sm btn-flat">Cancel</button>
			</a>
		</div>
		<a download="errorlog.txt" id="downloadlink" style="display: none" align="center">Download Error Text</a>

	</div>
</div>


<modal2 title1="{{modalTitle}}" visible="zonedataModal">
	<p>{{message}}</p>
</modal2>


<modal2 title1="{{modalTitle}}" visible="sheetValidation">
	<p>{{Validationmessage}}</p>
</modal2>

<validationmodal title1="Alert!!!" visible="showValidation">
	{{validatestring1}}
</validationmodal>


<validationmodal title1="Alert!!!" visible="xlsValidation">
	{{validatestringxls}}
</validationmodal>


<modal2 title1="{{modalProgress}}" visible="zoneprogressModal">
	<div id="myProgress">
		<div id="myBar">
			<div id="label">0%</div>
		</div>
	</div>
</modal2>

<style>
	#myProgress {
		position: relative;
		width: 100%;
		height: 30px;
		background-color: #ddd;
	}
	
	#myBar {
		position: absolute;
		width: 10%;
		height: 100%;
		background-color: blue;
	}
	
	#label {
		text-align: center;
		line-height: 30px;
		color: white;
	}

</style>
