<style>
	/*
	.stylelink {
		padding: 3px 10px;
		background: transparent;
		color: #333;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}
	
	.stylelink.active {
		padding: 3px 10px;
		background: #b71c1c;
		color: #fff;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		font-weight: 600;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}
	*/
	
	.stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #e72e5a;
    }
	
	.sub_menu {
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
		padding: 10px 10px;
		border-bottom: 2px solid transparent;
		color: #333;
	}
	
	.sub_menu.active {
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
		padding: 10px 10px;
		color: #000;
		font-weight: bold;
		border-bottom: 2px solid #01adfb;
	}
	
	#wrapper {
		display: table;
		table-layout: fixed;
		width: 100%;
		height: auto;
        border-bottom: 1px solid #e6e6e6;
		/*		background-color: #fff;*/
	}
	
	#wrapper div {
		display: table-cell;
		height: auto;
	}
	
	 .nav-tabs-custom > .nav-tabs > li {
        width: 19%;
    }
	
	@media screen and (max-width: 480px) {
		.stylelink {
			font-size: 10px;
             padding:5px 10px;
		}
		.stylelink.active {
			font-size: 10px;
            padding:5px 10px;
		}
		.sub_menu {
			font-size: 10px;
             padding:5px 10px;
		}
		.sub_menu.active {
			font-size: 10px;
             padding:5px 10px;
		}
         .nav-tabs-custom > .nav-tabs > li {
         position: relative;
    display: block;
    padding:10px;
            text-align: center;
            width:180px;
        }
	}

</style>

<div style="width:100%;height:auto;background:#ffffff;">
	<div id="wrapper">
		<div style="text-align:center;">
			<a class="stylelink" href="/co-organisation"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">FACILITY MANAGER/HDF</span></a>
		</div>
		<div style="text-align:center;">
			<a class="stylelink" href="/mentor"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">OTHER ROLES</span></a>
		</div>
		<div style="text-align:center;">
			<a class="stylelink" href="/roles"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">ROLES</span></a>
		</div>
		<div style="text-align:center;">
			<a class="stylelink" href="/users"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">USERS</span></a>
		</div>
		<div style="text-align:center;">
			<a class="stylelink active" href="/mentorassign"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">FACILITY ASSIGN</span></a>
		</div>
	</div>
</div>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
	<div class="box-header with-border">
		<!--		<h3 class="box-title">Mentor Assignment</h3>-->
	</div>
	<!-- /.box-header -->
	<!-- form start -->

	<div class="box-body" style="padding:20px;">
		<div class="row">
			<div class="col-sm-5"></div>
            <div data-ng-hide="hideSearchFilter()" class="col-sm-2" style="text-align:right;padding-right:0px;border-color:#e1e8ee">
                <span>Show</span>
                <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <!--					<span>Entries</span>-->
            </div>
            <div data-ng-hide="hideSearchFilter()" class="col-sm-3" style="padding-right:0px;">
                <!--
            <div class="row" style="margin:0;padding:0;">
						<div class="col-sm-5"></div>
						<div class="col-sm-7">
-->
                <form role="form">
                    <div class="input-group">
                        <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search" style="z-index:0;border-right:none;border-color:#e1e8ee;border-top-left-radius:4px;border-bottom-left-radius: 4px;" data-ng-model="searchPart">
                        <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-right-radius:4px;border-bottom-right-radius: 4px;border-color:#e1e8ee;background:none;border-left:none;"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </form>

                <!--
						</div>
					</div>
-->
            </div>
            <div class="col-sm-2">
				<a data-ng-href="/mentorassign/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton()" style="padding:5px 20px;margin-right:10px;">Add New</a>
			</div>
		</div>
		<br/>


		<form class="form-horizontal" role="form" data-ng-show="showForm()">
			<p align="center" style="color:red">All fields in red are mandatory</p>
			<br/>

			<div class="row" style="margin:0;padding:0;">
				<div class="col-sm-3"></div>
				<div class="col-sm-6">

					<div class="form-group">
						<label for="distributionRouteId" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Role </label>
						<div class="col-sm-6">
							<select ui-select2 id="role" ng-model="routelink.role" data-placeholder="Role" style="width:240px;">
								<option value=""></option>
								<option data-ng-repeat="role in userroles" value="{{role.id}}">{{ role.name }}</option>
							</select>
						</div>
					</div>

					<div class="form-group" ng-if="routelink.role==17">
						<label for="partner" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Mentor </label>
						<div class="col-sm-6">
							<select ui-select2 ng-model="routelink.name" data-placeholder="Mentor Name" style="width:240px;">
								<option value=""></option>
								<option data-ng-repeat="partner in usermentors" value="{{partner.id}}">{{ partner.name}}</option>
							</select>
						</div>
					</div>

					<div class="form-group" ng-if="routelink.role==4">
						<label for="partner" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">RIO </label>
						<div class="col-sm-6">
							<select ui-select2 ng-model="routelink.name" data-placeholder="RIO Name" style="width:240px;">
								<option value=""></option>
								<option data-ng-repeat="partner in userrios" value="{{partner.id}}">{{ partner.name}}</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="distributionRouteId" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">Facility </label>
						<div class="col-sm-6">
							<select ui-select2 ng-model="routelink.facilityassigned" data-placeholder="Facility" style="width:240px;">
								<option value=""></option>
								<option data-ng-repeat="route in employees" value="{{route.id}}">{{ route.firstName }}</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-sm-3"></div>
			</div>

			<br/>
			<br/>
			<br/>

			<div align="left">
				<div>

					<a class="btn btn-primary btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView()" ng-disabled="disableSave" style="padding:5px 20px;margin-right:10px;">Create </a>

					<a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView()" style="padding:5px 20px;margin-right:10px;">Update </a>

					<a data-ng-href="/mentorassign" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">Cancel</a>

				</div>
			</div>
		</form>

		<div data-ng-hide="hideSearchFilter()">

<!--
			<div class="row" style="margin:0;padding:0;">
				<div class="col-sm-6" style="padding-top:5px;">
					<span>Show</span>
					<select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
						<option value="25">25</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select>
					<span>Entries</span>
				</div>
				<div class="col-sm-6">
					<div class="row" style="margin:0;padding:0;">
						<div class="col-sm-4"></div>
						<div class="col-sm-8">
							<form role="form">
								<div class="input-group">
									<input type="text" id="Search" class="form-control ng-pristine ng-valid" placeholder="Search" style="z-index:0; border-radius:20px;width:140%;" data-ng-model="searchPart">

								</div>
							</form>

						</div>
					</div>
				</div>

			</div>
-->
		</div>
		<br />


		<div data-ng-hide="showForm()" class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th style="width:50px;">#</th>
						<th>MENTOR NAME</th>
						<th>FACILITY</th>

						<!--						<th style="width:75px;">Action</th>-->
					</tr>
				</thead>
				<tbody>
					<tr dir-paginate="routelinkprint in TotalData  = ( mentors | filter:searchPart ) |itemsPerPage:pageSize" current-page="currentPage">
						<td>{{ routelinkprint.index }}</td>
						<td>{{ routelinkprint.name }}

							<!--						Index: {{TotalData.indexOf(routelinkprint.facilityassigned.$index)}}-->

						</td>
						<td>
							<p ng-repeat="specificpillar in routelinkprint.employees">{{specificpillar.id}} - {{specificpillar.firstName}}&nbsp;&nbsp;
								<!---{{$index}}-->
                                
								<a confirm-button="Delete(routelinkprint.id,specificpillar.id,$index)" class="pull-right" style="padding-right:40%;"><span class="glyphicon glyphicon-remove" style="cursor:pointer;" title="Bin"></span></a>&nbsp;

							</p>
						</td>

					</tr>
				</tbody>
			</table>
<br/>
			<div align="right">
				<dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" on-page-change="PageChanged(newPageNumber, oldPageNumber)">

				</dir-pagination-controls>

			</div>
		</div>

	</div>
	<!-- /.box-body -->
	<div class="box-footer">

	</div>
	<!-- /.box-footer -->
</div>
<!-- /.box -->


<validationmodal title1="Alert!!!" visible="agenttoutelinkModal">
	{{errorMessage}}
</validationmodal>

<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
	<p>{{message}}</p>
</modal2>

<validationmodal title1="Alert!!!" visible="showValidation">
	{{validatestring1}}
</validationmodal>
