<style>
    .stylelink {
    /*		padding: 3px 10px;*/
    background: transparent;
    color: #9d9eb3;
    font-weight: bold;
    /*		border-radius: 50px;*/
    text-decoration: none;
    font-size: 14px;
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 20px 10px;
}
.stylelink.active {
    /*		padding: 3px 10px;*/
    /*		background: #b71c1c;*/
    color: #4a4d72;
    font-weight: bold;
    /*		border-radius: 50px;*/
    text-decoration: none;
    font-size: 14px;
    /*		font-weight: 600;*/
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 20px 10px;
    border-bottom: 4px solid #e72e5a;
}
#wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #e6e6e6;
}

    .tht:hover {
        color: blue;
    }
    
    a {
        color: #333;
    }
    /*
    .table-striped {
        background-color: #ed7878;
    }
*/

</style>
<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div id="wrapper">
    <div class=" stylelink active box-header with-border" style="padding:20px 10px;">
        <h3 class="box-title" style="font-weight:600;">BUDGET</h3>
    </div>
</div>
    <!-- /.box-header -->
    <!-- form start -->
    <div class="box-body">
        <!--
        <div class="row">
            <div class="col-sm-6">
                <a data-ng-href="/spmbudgets/create" class="btn btn-primary btn-sm " role="button" style="padding:5px 20px;">Add New </a>
            </div>
        </div>
        <br/>
-->

        <div class="row" style="margin:0;padding:0;">

        </div>
        <br />
        <br />

        <div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="zone" class="col-sm-4 control-label">Budget Year</label>
                    <div class="col-sm-6">
                        <select ui-select2 id="year" data-ng-model="SPM_Budget_Year" data-placeholder="Select Budget Year" style="width:100%;" ng-change="YearFunction(spmbudget.year)">
                            <option value=""></option>
                            <option data-ng-repeat="budget in spmbudgetyears" value="{{budget.id}}">{{budget.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <br />
            <br />

            <div>
                <table class="table ">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>STATE</th>
                            <th>BUDGET</th>
                            <th>ACTUAL</th>
                            <th>ACTION</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr ng-repeat="stakeholder in TotalTodos  = ( stakeholders | filter:searchDep )">
                            <td>{{stakeholder.index}}</td>
                            <td>{{stakeholder.name}}</td>
                            <td>{{stakeholder.Sitename}}</td>

                            <td>{{stakeholder.COTotal}}</td>
                            <td ng-if="stakeholder.Sitename2.totalamount">
                                  <a ng-click="BudgetFunction(SPM_Budget_Year,stakeholder.Sitename2.state)"><span class="glyphicon glyphicon-pencil" title="Edit" style="color: black;cursor:pointer;"></span></a>&nbsp;&nbsp;
                            </td>
                            
                             <td ng-if="!stakeholder.Sitename2.totalamount">
                                 <a><span  style="color: black;"></span></a>&nbsp;&nbsp;
                            </td>
                        </tr>

                </table>
            </div>
        </div>
        <!--
        Human Resources:{{SPM_Budget_HumanResources}}
        Travel:{{SPM_Budget_TravelandCommunication}}
-->
    </div>
</div>

<script type="text/ng-template" id="template/nobudgetView.html">
    <div class=" stylelink active modal-header" style="padding-bottom:22px;">
        <h4 class="modal-title" style="font-weight:600;">STATE BUDGET DETAILS</h4>
        
    </div>
    <div class="modal-body"> 
        <div>
            <div>
                <br>
                <div> <span>
						<table class="table ">
							<thead>
<!--
                                <tr style="background:none;">
    <th></th>
                                    <th>{{Current_Year}}</th>
                                    <th>{{Displaymonth}}</th>
                                    <th></th>
    </tr>
-->
								<tr>
								    <th></th>
									<th>BUDGET</th>
									<th>ACTUAL</th>
								</tr>
							</thead>
							<tbody>
                            <td>
							<div class="row " style="margin:0px;line-height:2.8;">			
							<label for="state"  style="font-weight:600;color:red;">Human Resources</label> </div>	  
                                <br/>
                                <div class="row " style="margin:0px;line-height:2.5;">	
                                    <label for="state"  style="font-weight:600;color:red;">Travel and Communication</label></div>
                                <br/>
                                <div class="row" style="margin:0px;line-height:2.6">	
                                    <label for="state"  style="font-weight:600;color:red;">Generic Activities</label> 	</div>
                                <div class="row"  style="margin:0px;line-height:4">	
                                    <label for="state"  style="font-weight:600;color:red;">Specific Activities</label>   </div>
                                <div class="row"  style="margin:0px;line-height:3.4">	
                                    <label for="state" style="font-weight:600;color:red;">MSM/TG - Activities</label> 	</div>
                                <div class="row"  style="margin:0px;line-height:3.6">	
						    <label for="state"  style="font-weight:600;color:red;">Administrative expenses</label> 	        
                            </div>	
                        <div class="row"  style="margin:0px;line-height:3.6">	
						    <label for="state"  style="font-weight:600;color:red;">Monitoring, Evaluation and Learning (MEAL)</label> 	        
                        </div>
                            </td>
                               
				            <td>
            
                                 <input type="text" class="form-control" placeholder="Human Resources" data-ng-model="SPM_Budget_HumanResources" disabled><br />
                                
                                <input type="text" class="form-control" placeholder="Travel and Communication" data-ng-model="SPM_Budget_TravelandCommunication" disabled><br />
                                
                                 <input type="text" class="form-control" data-ng-model="SPM_Budget_GenericActivity" disabled><br />
                                <input type="text" class="form-control" data-ng-model="SPM_Budget_SpecificActivity" disabled><br />
                                <input type="text" class="form-control" data-ng-model="SPM_Budget_MSGTGActivity" disabled><br />
                                <input type="text" class="form-control" data-ng-model="SPM_Budget_AdminitrativeExpence" disabled><br />
                                <input type="text" class="form-control" data-ng-model="SPM_Budget_MoniteringEvaluation" disabled><br />
                               
                    				
                            </td>
				            <td>		
							
                                 <input type="text" class="form-control" placeholder="Human Resources" data-ng-model="CO_Budget_HumanResources" disabled><br />
                                
                                <input type="text" class="form-control" placeholder="Travel and Communication" data-ng-model="CO_Budget_TravelandCommunication" disabled><br />
                                
                                 <input type="text" class="form-control" data-ng-model="CO_Budget_GenericActivity" disabled><br />
                                <input type="text" class="form-control" data-ng-model="CO_Budget_SpecificActivity" disabled><br />
                                <input type="text" class="form-control" data-ng-model="CO_Budget_MSGTGActivity" disabled><br />
                                <input type="text" class="form-control" data-ng-model="CO_Budget_AdminitrativeExpence" disabled><br />
                                <input type="text" class="form-control" data-ng-model="CO_Budget_MoniteringEvaluation" disabled><br />
                            </td>
                                   
<!--
                            <td>
                         <input type="text" class="form-control" id="name" data-ng-model="cobudget.humanresources" placeholder="Human Resources" disabled><br />{{totalhumanresource}}
                                <input type="text" class="form-control" id="name" data-ng-model="cobudget.travelandcommunication" placeholder="Travel and Communication" disabled><br />    
                                <input type="text" class="form-control" id="name" data-ng-model="cobudget.genericactivity" placeholder="Generic Activities"  disabled><br />
                                <input type="text" class="form-control" id="name" data-ng-model="cobudget.specificactivity" placeholder="Specific Activities" disabled><br />
                                <input type="text" class="form-control" id="name" data-ng-model="cobudget.msgtgactivity" placeholder="MSM/TG - Activities" disabled><br />
                                <input type="text" class="form-control" id="name" data-ng-model="cobudget.administrativeexpense" placeholder="Administrative Expenses" disabled><br />
                                <input type="text" class="form-control" id="name" data-ng-model="cobudget.monitoringevaluation" placeholder="Monitoring, Evaluation and Learning (MEAL)" disabled><br />
						
                            </td>
-->

                                <tr>
                                    <th>Total</th>
                                    <th>{{Budget_Total}}</th>
                                    <th>{{Actual_Total}}</th>
<!--                                   <th>TOTAL SUM: {{Total_Sum}}</th>-->
                                    </tr>
                                
                          
                       
<!--                        </tr>-->
                        </tbody>
                        </table>
                    <br/>
			<br/>
			<br/>

			<div align="left">
				<div>

					

					<a class="btn btn-danger btn-sm " role="button" data-ng-click="Cancel()">Cancel</a>

				</div>
			</div>
                        </span> </div>
            </div>
        </div>
    </div>
</script>
