<style>
    .stylelink {
        background: transparent;
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #cc3535;
    }
    
    .tht:hover {
        color: blue;
    }
    
    a {
        color: #333;
    }
    
    .table-striped {
        /*        background-color: #ed7878;*/
    }

</style>
<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div class="box-header with-border" style="background:#e85a5a;padding:20px 10px;">
        <h3 class="box-title" style="color:#ffffff;">National BUDGET</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <div class="box-body">
        <div align="left"> </div>
        <br/>
        <div data-ng-hide="showForm()" class="table-responsive row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <table class="table   table-striped" style="height:420px;">
                    <tbody>
<!--
                        <tr>
                            <th colspan="5" style="text-align:center;">National BUDGET</th>
                        </tr>
-->

                        <tr>
                            <th>BUDGET HEAD</th>
                            <th>AMOUNT</th>
                            <th ng-hide="CO_Budget_Dispaly">ACTUAL</th>
                        </tr>
                        <tr>
                            <td>
                                <div class="row " style="margin:0px;line-height:2.8;">
                                    <label for="state" style="font-weight:600;color:red;">Human Resources</label>
                                </div>
                                <br/>
                                <div class="row " style="margin:0px;line-height:2.5;">
                                    <label for="state" style="font-weight:600;color:red;">Travel and Communication</label>
                                </div>
                                <br/>
                                <div class="row" style="margin:0px;line-height:2.6">
                                    <label for="state" style="font-weight:600;color:red;">Generic Activities</label>
                                </div>
                                <div class="row" style="margin:0px;line-height:4">
                                    <label for="state" style="font-weight:600;color:red;">Specific Activities</label>
                                </div>
                                <div class="row" style="margin:0px;line-height:3.4">
                                    <label for="state" style="font-weight:600;color:red;">MSM/TG - Activities</label>
                                </div>
                                <div class="row" style="margin:0px;line-height:3.6">
                                    <label for="state" style="font-weight:600;color:red;">Administrative Expenses</label>
                                </div>
                                <div class="row" style="margin:0px;line-height:3.6">
                                    <label for="state" style="font-weight:600;color:red;">Monitoring, Evaluation and Learning (MEAL)</label>
                                </div>
                                <br />
                                <div class="row" style="margin:0px;line-height:3.6">
                                    <label for="state" style="font-weight:1000;font-size:15px;color:red;">Total</label>
                                </div>
                            </td>
<!--                            <td ng-show="CO_Budget_Dispaly">-->
                                                        <td >

                                <input type="text" class="form-control" id="humanresources" data-ng-model="spmbudget.humanresources" placeholder="Human Resources" numbers-only="true" disabled>
                                <br/>
                                <input type="text" class="form-control" id="travelandcommunication" data-ng-model="spmbudget.travelandcommunication" placeholder="Travel and Communication" numbers-only="true" disabled>
                                <br/>
                                <input type="text" class="form-control" id="genericactivity" data-ng-model="spmbudget.genericactivity" placeholder="Generic Activities" numbers-only="true" disabled>
                                <br/>
                                <input type="text" class="form-control" id="specificactivity" data-ng-model="spmbudget.specificactivity" placeholder="Specific Activities" numbers-only="true" disabled>
                                <br/>
                                <input type="text" class="form-control" id="msgtgactivity" data-ng-model="spmbudget.msgtgactivity" placeholder="MSM/TG - Activities" numbers-only="true" disabled>
                                <br/>
                                <input type="text" class="form-control" id="administrativeexpense" data-ng-model="spmbudget.administrativeexpense" placeholder="Administrative Expenses" numbers-only="true" disabled>
                                <br/>
                                <input type="text" class="form-control" id="monitoringevaluation" data-ng-model="spmbudget.monitoringevaluation" placeholder="Monitoring, Evaluation and Learning (MEAL)" numbers-only="true" disabled>
                                <br/>
                                <input type="text" class="form-control" id="totalamount" data-ng-model="spmbudget.totalamount" placeholder="Total" numbers-only="true" readonly>
                            </td>

                            <td ng-hide="CO_Budget_Dispaly">
                                <input class="form-control" style="background-color:#eee" ng-model="CO_Budget_HumanResources" disabled><br>
                                <input class="form-control" style="background-color:#eee" ng-model="CO_Budget_TravelandCommunication" disabled><br>
                                <input class="form-control" style="background-color:#eee" ng-model="CO_Budget_GenericActivity" disabled><br>
                                <input class="form-control" style="background-color:#eee" ng-model="CO_Budget_SpecificActivity" disabled><br>
                                <input class="form-control" style="background-color:#eee" ng-model="CO_Budget_MsgtActivity" disabled><br>
                                <input class="form-control" style="background-color:#eee" ng-model="CO_Budget_AdministrativeExpence" disabled><br>
                                <input class="form-control" style="background-color:#eee" ng-model="CO_Budget_MoniteringEvaluation" disabled><br>
                                <input class="form-control" style="background-color:#eee" ng-model="CO_Budget_Total" disabled>
                            </td>

                         
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
<!--
        <a class="btn btn-success btn-sm btn-flat" type="submit" role="button" data-ng-click="Save()" ng-disabled="saveDisable" data-ng-hide="isCreateView">Save </a>
        <a class="btn btn-success btn-sm btn-flat" type="submit" role="button" data-ng-click="Update()" ng-disabled="saveDisable" data-ng-show="isCreateView">Update </a>
-->
        <a data-ng-href="/nobudgets" class="btn btn-danger btn-sm btn-flat" role="button">Cancel</a>
    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->
