<div style="width:100%; height:auto; min-height:500px;background: #FFFFF0;  border: 1px solid #E6E6E6; margin: 5px auto; padding:5px;">
    <br/>
    <div class="row form-horizontal" style="margin:0;padding:0;">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="code" class="col-sm-4 control-label" style="margin-top: -5px;"> Beneficiary:</label>
                <div class="col-sm-6">
                    <select ui-select2 data-ng-model="outreachactivity.partnerId" data-placeholder="Pick a Beneficiary " style="width:200px;">
                        <option value=""></option>
                        <option data-ng-repeat="partner in partners" value="{{partner.id}}">{{ partner.partnerCode +' - '+ partner.firstName }}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin:0;padding:0;">
        <div>
            <h4 style="font-family: Georgia; font-weight: bold; font-size: 25px;">OUTREACH ACTIVITY </h4>
        </div>

    </div>



    <form class="form-horizontal" role="form">
        <div class="row" style="margin:0;padding:0;">
            <div class="col-sm-7">
                <div class="form-group">
                    <label for="code" class="col-sm-6 control-label" style="margin-top: -5px;">SP</label>
                    <div class="col-sm-6">
                        <toggle-switch ng-model="outreachactivity.sp">
                        </toggle-switch>
                    </div>
                </div>


                <div class="form-group">
                    <label for="code" class="col-sm-6 control-label" style="margin-top: -5px;">SSJ </label>
                    <div class="col-sm-6">
                        <toggle-switch ng-model="outreachactivity.ssj">
                        </toggle-switch>
                    </div>
                </div>


                <div class="form-group">
                    <label for="code" class="col-sm-6 control-label" style="margin-top: -5px;">IDS </label>
                    <div class="col-sm-6">
                        <toggle-switch ng-model="outreachactivity.ids">
                        </toggle-switch>
                    </div>
                </div>

                <div class="form-group">
                    <label for="code" class="col-sm-6 control-label" style="margin-top: -5px;">Health </label>
                    <div class="col-sm-6">
                        <toggle-switch ng-model="outreachactivity.health">
                        </toggle-switch>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin:0;padding:0;">
             <div>
                <h4 style="font-family: Georgia; font-weight: bold; font-size: 25px;">Financial Security</h4>
            </div>
            <div class="col-sm-7">
                <div class="form-group">
                    <label for="code" class="col-sm-6 control-label" style="margin-top: -5px;">a.Saving</label>
                    <div class="col-sm-6">
                        <toggle-switch ng-model="outreachactivity.savings">
                        </toggle-switch>
                    </div>
                </div>


                <div class="form-group">
                    <label for="code" class="col-sm-6 control-label" style="margin-top: -5px;">b.Credit </label>
                    <div class="col-sm-6">
                        <toggle-switch ng-model="outreachactivity.credit">
                        </toggle-switch>
                    </div>
                </div>


                <div class="form-group">
                    <label for="code" class="col-sm-6 control-label" style="margin-top: -5px;">c.Pension </label>
                    <div class="col-sm-6">
                        <toggle-switch ng-model="outreachactivity.pension">
                        </toggle-switch>
                    </div>
                </div>

                <div class="form-group">
                    <label for="code" class="col-sm-6 control-label" style="margin-top: -5px;">d.Insurance </label>
                    <div class="col-sm-6">
                        <toggle-switch ng-model="outreachactivity.insurance">
                        </toggle-switch>
                    </div>
                </div>


                 <div class="form-group">
                    <label for="code" class="col-sm-6 control-label" style="margin-top: -5px;">e.Financial Support </label>
                    <div class="col-sm-6">
                        <toggle-switch ng-model="outreachactivity.financialsupport">
                        </toggle-switch>
                    </div>
                </div>
            </div>

        </div>







        <div class="form-group">
            <div class="col-sm-6 col-md-offset-3" align="center">
                <a class="btn btn-success btn-sm" type="submit" role="button" data-ng-click="SaveOutReachActivity()"><span class="glyphicon glyphicon-ok"></span> Save </a>

                <a class="btn btn-success btn-sm" type="submit" role="button" data-ng-click="Clear()"><span class="glyphicon glyphicon-ok"></span> Clear </a>

                <a data-ng-href="/outreachactivity" class="btn btn-info btn-sm" role="button"><span class="glyphicon glyphicon-remove"></span> Cancel</a>
            </div>
        </div>
</div>




</form>


</div>


<style>
    .toggle.android {
        border-radius: 0px;
    }
    
    .toggle.android .toggle-handle {
        border-radius: 0px;
    }

</style>
