<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 30px 10px 15px 0px;
        padding-left: 0px;
        /*        border-bottom: 4px solid #e72e5a;*/
    }

    .tht:hover {
        color: blue;
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
/*        border-bottom: 1px solid #e6e6e6;*/
/*        margin-top: 10px;*/
    }

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 10px 20px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 10px 20px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }



        .space {
            padding: 5px 0px 5px 0px;
        }

    }

  .sell {
        position: relative;
        min-width: 45px;
    }
    
    .sell:after {
        content: url(images/piclinks/down-arrow.png) ;
        font: 17px "Consolas", monospace;
        color: #333;
        top: 5px;
        margin-left: -22px;
        padding: 0 0 2px;
        position: absolute;
        pointer-events: none;
    }
    
    .sell select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        /*        max-width: 320px;*/
        height: 32px;
        float: left;
        padding: 0px 7px;
        font-size: 14px;
        line-height: 1.75;
        color: #878993;
        border-radius: 4px;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #d5d7df;
        -ms-word-break: normal;
        word-break: normal;
    }

    .top {
        margin-top: 19px;
    }

    /*
    .table-responsive {
        margin-left: -10px;
        margin-right: -10px;
    }
*/

</style>

<!--<br/>-->
<div class="box box-info ng-scope" style="min-height:450px;border-top:none;" data-ng-init="toggleLoading()">
    <div id="wrapper">
        <div class="stylelink active  box-header with-border ">
            <h3 class=" box-title" style="font-weight:bold;">{{PRLanguage.prlist}}</h3>
        </div>
    </div>

    <div class="box-body">
        <br>
        <div class="row" style="margin:0;padding:0;">
            <div class="col-sm-5"></div>
            <div class="col-sm-7">
                <div class="col-sm-1"></div>
                <div data-ng-hide="hideSearchFilter()" class="col-sm-1" style="text-align:left;padding-right:0px;padding-left:0px;margin-top:-5px;">
                    <label>{{PRLanguage.show}}</label>
                    <div class="sell">
                        <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)" class="ng-pristine ng-valid">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                    </div>
                    <!--					<span>Entries</span>-->
                </div>

                <div data-ng-hide="hideSearchFilter()" class="top col-sm-5" style="padding-right:0px;">
                    <div class="space">
                        <form role="form" class="ng-pristine ng-valid">
                            <div class="input-group">
                                <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-color:#d5d7df;background:none;border-right:none;"><span class="glyphicon glyphicon-search"></span></button>
                                </span>
                                <input type="text" class="form-control ng-pristine ng-valid" placeholder="{{PRLanguage.search}}" style="z-index:0;border-left:none;border-color:#d5d7df;" ng-model="searchInput" focus="someFocusVariable">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="top col-sm-2">
                    <a data-ng-href="" class="btn btn-success btn-sm" role="button" ng-click="exportData()" style="padding:5px 14px;color:#ffffff;" ng-disabled="DisableExport">
                    <img src="images/export-icon.png" />&nbsp;&nbsp;{{PRLanguage.exportData}}</a>
                </div>
                <div class="top col-sm-2" style="margin-left:3%;">
                    <a class="btn btn-primary btn-sm" role="button" data-ng-hide="hideCreateButton()" style="padding:5px 20px;" href="/patientrecord/create" ng-if="hideAddBtn">{{PRLanguage.addNew}}</a>
                </div>
            </div>
        </div>
        <br>
        <style>
        table,
th,
td {
    fill: #262d57;
    font-size: 14px;
}
th {
    background-color: #d5d7df;
    font-weight: normal;
}
tr {
    background-color: White;
    color: #262d57;
    font-size: 10px;
}
        </style>
        <div data-ng-hide="showForm()" class="">
            <div>
<!--                <br>-->

                <div class="table-responsive">
                    <table class="table">
                        <thead>

                            <tr>
                                <th ng-click="changeSorting('index')" style="padding-left:24px;">S NO.
                                    <span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('index')"></i></span>
                                </th>

                                <th ng-click="changeSorting('patientname')">{{PRLanguage.patient | uppercase}}
                                    <span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('patientname')"></i></span>
                                </th>


                                <th ng-click="changeSorting('datedisply')">{{PRLanguage.visitDate | uppercase}}
                                    <span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('datedisply')"></i></span>
                                </th>

                                <th ng-click="changeSorting('symptomName')">{{PRLanguage.symptom | uppercase}}
                                    <span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('symptomName')"></i></span>
                                </th>

                                <th ng-click="changeSorting('illnessName')">{{PRLanguage. | uppercase}}
                                    <span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('illnessName')"></i></span>
                                </th>

                                <th ng-click="changeSorting('associatedHFName')">{{PRLanguage.hfName | uppercase}}
                                    <span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('associatedHFName')"></i></span></th>

                                <th>{{PRLanguage.action | uppercase}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--TotalData -->
                            <tr dir-paginate="patientrecord in patientrecords | search:searchInput:filterFields | orderBy:sort.active:sort.descending |itemsPerPage:pageSize" current-page="currentPage" pagination-id="surId">
                                <td style="padding-left:24px;">{{patientrecord.index}}</td>
                                <!--<td ng-if="memberofShgFlag == true" data-ng-init="member = getMember(patientrecord.memberId)">{{member.name}}</td>-->


                                <td ng-if="patientrecord.memberofShgFlag == true">{{patientrecord.patientname}}</td>
                                <td ng-if="patientrecord.memberofShgFlag == false">{{patientrecord.patientname}} </td>
                                <td>{{patientrecord.datedisply}}</td>
                                <td>{{patientrecord.symptomName}}</td>
                                <td>{{patientrecord.illnessName}}</td>
                                <td>{{patientrecord.associatedHFName}}</td>

                                <!-- <td data-ng-init="Symptom = getSymptom(patientrecord.symptom)">{{Symptom.name}}</td>
                                <td data-ng-init="Illness = getIllness(patientrecord.illness)">{{Illness.name}}</td>
                                <td data-ng-init="HFName = getIllness(patientrecord.associatedHF)">{{HFName.name}}</td>-->
                                <td>&nbsp;&nbsp;
                                    <a data-ng-href="/patientrecord/edit/{{patientrecord.id}}" role="button" title="{{prLanguage.edit}}">
                                        <!--                                        <span class="glyphicon glyphicon-pencil" ></span>-->
                                        <img src="images/edit.png" width="16px" />
                                    </a> &nbsp;&nbsp;
                                    <!--
                                    <a style="color:#b7b8c8">|</a>&nbsp;&nbsp;

                                    <a confirm-button="Delete(reportincident.id)" message="{{RILanguage.areYouSure}}"><span class="glyphicon glyphicon-remove" style=";cursor:pointer;" title="{{RILanguage.delete}}"></span></a>&nbsp;
-->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="padding3" align="right">
                    <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" pagination-id="surId" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
                    </dir-pagination-controls>
                </div>
                <!--
                <div ng-show="!reportincidents.length" style="margin:0 auto;text-align:center;padding-top: 5%;">
                    <span style="font-size:18px;font-weight:bold;font-family:Georgia, Serif;">Please select an options</span>
                    			<p class="lead text-muted">Please select an options</p>
                </div>
-->

            </div>
        </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>

<!-- /.box -->

<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>
