<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        		background: #ffffff;
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
        /*        border-bottom: 4px solid #e72e5a;*/
    }

    #wrapper {
        background: #ffffff;
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
/*        border-bottom: 1px solid #e6e6e6;*/
        margin-top: 12px;
    }

    .selectdiv {
        position: relative;
        float: right;
        min-width: 100%;
    }

    .selectdiv:after {
        content: '>';
        font: 17px "Consolas", monospace;
        color: #333;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        /*        margin-left: -15px;*/
        margin-top: -2px;
        padding: 0 0 2px;
        position: absolute;
        pointer-events: none;
    }

    .selectdiv select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        height: 32px;
        float: left;
        padding: 0px 7px;
        font-size: 14px;
        line-height: 1.75;
        color: #878993;
        border-radius: 4px;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #cccccc;
        -ms-word-break: normal;
        word-break: normal;
    }

    .form-horizontal .form-group {
        margin-right: 0px;
        /*        margin-left: 0px;*/
    }

    .row1 {
        margin-left: 10px;
        margin-right: 0px;
    }

    .form-control {
        border-radius: 4px;
    }


/*
    .row2 {
        margin-left: -10px;
        margin-right: -10px;
    }
*/

    .left {
        padding-left: 1%!important;
    }
    .vr{
        padding-left: 3.3%;
    }
    .select2-container-multi .select2-choices{
            border: 1px solid #d5d7df;
    }
</style>
<!-- Horizontal Form -->
<!--<div class="box box-info" style="min-height:450px;border-color:rgb(83, 12, 44)" >
	<div class="box-header with-border">
		<h3 class="box-title">Report Incident</h3>
	</div>-->

<!--<br/>-->
<div class="box box-info" style="min-height:450px;border-top:none;" onedata-ng-init="toggleLoading()">
    <div id="wrapper">
        <div class=" stylelink active box-header with-border" style="padding:20px 14px;">
            <h3 class="box-title" style="font-weight:bold;color:#262d57;">
                <a href="/patientrecord-list" style="cursor:pointer;" ><img src="images/piclinks/back.png" width="10px" height="16px" style="margin-bottom:4px;" /></a> &nbsp;&nbsp;{{PRHeading}} </h3>
        </div>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <div class="box-body">
<!--        <br>-->
        <form class="" role="form">

            <p align="center" style="color:#ec0b6d">{{mandatoryfield}} All fields in * are mandatory </p>
            <br/>


            <!--
                <div style="width:100%;height:auto;padding:5px 5px;color:#4a4d72;border-bottom:2px solid #f4f4f4;"> <span style="font-weight:bold">{{HHLanguage.personalDetails}}</span> </div>
                <br>
-->
            <div class="row padding2">
                <!--                <div class="col-sm-6">-->
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="zone" class="" style="color:#262d57;">{{PRLanguage.memberofSHG}}<sup>*</sup>
                            </label>
                        <div class="" style="">
                            <select ui-select2 id="pillarid" ng-model="patient.memberofShgFlag" data-placeholder="{{PRLanguage.memberofSHG}}" style="width:100%" ng-change="checkMemberOfSHG(patient.memberofShgFlag)" ng-disabled="disableSHGmember">
                                    <option ng-value=""></option>
                                    <option ng-value="true" >Yes</option>
                                <option ng-value="false">No</option>
                                </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3" ng-if="patient.memberofShgFlag == 'true'">
                    <div class="form-group">
                        <label for="zone" class="" style="color:#262d57;">{{PRLanguage.patientSHG}}<sup>*</sup>
                            </label>

                        <div class="" style="">
                            <select ui-select2 id="name" ng-model="patient.memberId" data-placeholder="{{PRLanguage.patientSHG}}" style="width:100%" ng-disabled="disabledpatient">
                                    <option value=""></option>
                                    <option data-ng-repeat="member in members" value="{{member.id}}">{{ member.name + ' - ' + member.individualId + ' - ' + member.mobile  }}</option>
                        </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3" ng-if="patient.memberofShgFlag == 'false'">
                    <div class="form-group">
                        <label for="champion" class="" style="color:#262d57">{{PRLanguage.patientnonSHG}} <sup>*</sup></label>
                        <div class="" style="">
                            <input type="text" class="form-control" id="name" data-ng-model="patient.patientname" placeholder="{{PRLanguage.patientnonSHG}}" ng-disabled="disabledpatient">
                        </div>
                    </div>
                </div>
                <!--                </div>-->
                <!--                <div class="col-sm-6">-->
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="zone" class="" style="color:#262d57;">{{PRLanguage.gender}}<sup>*</sup>
                            </label>

                        <div class="" style="">
                            <select ui-select2 id="pillarid" ng-model="patient.gender" data-placeholder="{{PRLanguage.gender}}" style="width:100%" ng-disabled="disableGender">
                                    <option value=""></option>
                                    <option data-ng-repeat="gender in genders" ng-if="UserLanguage==1" value="{{gender.id}}">{{ gender.name }}</option>
                                <option data-ng-repeat="gender in genders" ng-if="UserLanguage!=1" value="{{gender.parentId}}">{{ gender.name }}</option>
                                
                                </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="zone" class="" style="color:#262d57;">{{PRLanguage.migrant}}<sup>*</sup>
                            </label>
                        <div class="" style="">
                            <select ui-select2 id="migrant" ng-model="patient.migrant" data-placeholder="{{PRLanguage.migrant}}" style="width:100%" ng-disabled="disableMigrant">
                                    <option value=""></option>
                                       <option data-ng-repeat="migrant in migrants" ng-if="UserLanguage==1" value="{{migrant.id}}">{{ migrant.name }}</option>
                                        <option data-ng-repeat="migrant in migrants" ng-if="UserLanguage!=1" value="{{migrant.parentId}}">{{ migrant.name }}</option>
                                </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="dob" class="" style="color:#262d57;">{{PRLanguage.visitDate}}<sup>*</sup> </label>
                        <div class="">
                            <td style="width: 100%">
                                <p class="input-group" style="width: 100%">
                                    <input type="text" id="{{'datepickerdob' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="patient.visitdate" is-open="picker.dobopened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" max-date="dtmax" style="border-right:none;border-color:#d5d7df;"> <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="opendob($event, $index)" style="border-left:none;background:none;border-color:#d5d7df">
                                        <img src="images/piclinks/calender-copy-3.png" width="16px" height="17px" style="margin-bottom:4px;"/>
<!--                                        <i class="glyphicon glyphicon-calendar"></i>-->
                                    </button>
                                </span> </p>
                            </td>
                        </div>
                    </div>
                </div>
<!--            </div>-->

<!--            <div class="row padding1" style="">-->
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="champion" class="" style="color:#262d57">{{PRLanguage.age}}<sup>*</sup> </label>
                        <div class="" style="">
                            <input type="text" class="form-control" id="age" data-ng-model="patient.age" placeholder="{{PRLanguage.age}}" ng-disabled="disabledAge" numbers-only="numbers-only">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="champion" class="" style="color:#262d57">{{PRLanguage.mobile}} </label>
                        <div class="" style="">
                            <input type="text" class="form-control" id="contact" data-ng-model="patient.mobile" placeholder="{{PRLanguage.mobile}}" ng-disabled="disabledcontact" numbers-only="numbers-only" maxlength="10">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="zone" class="" style="color:#262d57;">{{PRLanguage.assignedTo}}
                           <sup>*</sup> </label>
                        <div class="" style="">
                            <select ui-select2 id="assignto" ng-model="patient.associatedHF" data-placeholder="{{PRLanguage.assignedTo}}" style="width:100%" ng-disabled="disableAssigned">
                                    <option value=""></option>
                                   <option data-ng-repeat="user in users" value="{{user.id}}">{{ user.name }}</option>
                                </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="zone" class="" style="color:#262d57;">{{PRLanguage.symptom}}<sup>*</sup>
                            </label>
                        <div class="" style="">
                            <select ui-select2 id="pillarid" ng-model="patient.symptom" data-placeholder="{{PRLanguage.symptom}}" style="width:100%;" multiple="multiple">
<!--                                    <option value=""></option>-->
                                    <option data-ng-repeat="symptom in symptoms" ng-if="UserLanguage==1" value="{{symptom.id}}">{{ symptom.name }}</option>
                                 <option data-ng-repeat="symptom in symptoms" ng-if="UserLanguage!=1" value="{{symptom.parentId}}">{{ symptom.name }}</option>
                                </select>
                        </div>
                    </div>
                </div>

            </div>
            <!--
            <div class="row row1">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="zone" class="" style="font-weight:600;margin-top:7px;color:#262d57;">{{PRLanguage.symptom}}<sup>*</sup>
                            </label>
                        <div class="" style="margin-top:7px;">
                            <select ui-select2 id="pillarid" ng-model="patient.symptom" data-placeholder="{{PRLanguage.symptom}}" style="width:100%" multiple="multiple">
                                  
                                    <option data-ng-repeat="symptom in symptoms" ng-if="UserLanguage==1" value="{{symptom.id}}">{{ symptom.name }}</option>
                                 <option data-ng-repeat="symptom in symptoms" ng-if="UserLanguage!=1" value="{{symptom.parentId}}">{{ symptom.name }}</option>
                                </select>
                        </div>
                    </div>
                </div>
            </div>
-->
            <br>
            <div class="vr" style="width:100%;height:auto;color:#262d57;"> <span style="font-weight:bold">{{PRLanguage.vitalRecord}}</span> </div>
            <br>
            <br>
            <div class="row padding2">
                <div class="col-sm-3" ng-repeat="vitialrecord in vitalrecords track by $index">
                    <div class="">
                        <div class="form-group">
                            <label for="champion" class="" style="color:#262d57">{{vitialrecord.name}}</label>
                            <div class="" style="">
                                <input type="text" class="form-control" id="{{vitialrecord.name}}" data-ng-model="vitialrecord.TextValue" ng-change="ChnageVital(vitialrecord.TextValue, $index, vitialrecord.name, vitialrecord.id, vitalreocrd.orderNo)" placeholder="{{vitialrecord.name}}" numbers-only="numbers-only" ng-disabled="disabledVitalText">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="vr" style="width:100%;height:auto;color:#262d57;"> <span style="font-weight:bold">{{PRLanguage.nonSystematicRecord}}</span> </div>
            <br>
            <br>

            <div class="row padding2">
                <div class="col-sm-3" ng-repeat="nonsystematicrecord in nonsystematicrecords track by $index">
                    <div class="">
                        <div class="form-group">
                            <label for="champion" class="" style="color:#262d57">{{nonsystematicrecord.name}}</label>
                            <div class="" style="">
                                <input type="text" class="form-control" id="{{nonsystematicrecord.name}}" data-ng-model="nonsystematicrecord.nonSystematicValue" ng-change="ChnageNonSysRecord(nonsystematicrecord.nonSystematicValue, $index, nonsystematicrecord.name, nonsystematicrecord.id, nonsystematicrecord.orderNo)" placeholder="{{nonsystematicrecord.name}}" numbers-only="numbers-only" ng-disabled="disabledNonSysText">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row padding2">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="zone" class="" style="color:#262d57;">{{PRLanguage.illness}}<sup>*</sup>
                            </label>
                        <div class="" style="">
                            <select ui-select2 id="pillarid" ng-model="patient.illness" data-placeholder="{{PRLanguage.illness}}" style="width:100%">
                                    <option value=""></option>
                                    <option data-ng-repeat="illness in illnesses" ng-if="UserLanguage==1"  value="{{illness.id}}">{{ illness.name }}</option>
                                <option data-ng-repeat="illness in illnesses" ng-if="UserLanguage!=1"  value="{{illness.parentId}}">{{ illness.name }}</option>
                                </select>
                        </div>

                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="zone" class="" style="color:#262d57;">{{PRLanguage.seenBy}}<sup>*</sup>
                            </label>
                        <div class="" style="">
                            <select ui-select2 id="seenbyId" ng-model="patient.seenby" data-placeholder="{{PRLanguage.seenBy}}" style="width:100%">
                                    <option value=""></option>
                                    <option data-ng-repeat="seenby in seenbys" ng-if="UserLanguage==1" value="{{seenby.id}}">{{ seenby.name }}</option>
                                <option data-ng-repeat="seenby in seenbys"  ng-if="UserLanguage!=1"value="{{seenby.parentId}}">{{ seenby.name }}</option>
                                </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="champion" class="" style="color:#262d57">{{PRLanguage.amountCharged}}<sup>*</sup></label>
                        <div class="" style="">
                            <input type="text" class="form-control" id="amount" data-ng-model="patient.amountChagred" placeholder="{{PRLanguage.amountCharged}}" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="champion" class="" style="color:#262d57">{{PRLanguage.patientidfromWHP}} </label>
                        <div class="" style="">
                            <input type="text" class="form-control" id="Patient" data-ng-model="patient.patientidfromWHP" placeholder="{{PRLanguage.patientidfromWHP}}" ng-disabled="disablePatientForm">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="zone" class="" style="color:#262d57;">{{PRLanguage.referto}}
                            </label>
                        <div class="" style=";">
                            <select ui-select2 id="Referto" ng-model="patient.referto" data-placeholder="{{PRLanguage.referto}}" style="width:100%">
                                    <option value=""></option>
                                    <option data-ng-repeat="referto in refertos" ng-if="UserLanguage==1" value="{{referto.id}}">{{ referto.name }}</option>
                                 <option data-ng-repeat="referto in refertos"  ng-if="UserLanguage!=1"value="{{referto.parentId}}">{{ referto.name }}</option>
                                </select>
                        </div>
                    </div>
                </div>

            </div>
<!--            <br/>-->
            
            <div class="row" style="padding-left:1.8%;padding-top:10px;" ng-repeat="medicine in medicineList | filter: { 'deleteFlag': false }">
                <div class="col-sm-5">
                    <div class="col-sm-12">
                        <div class="form-group">
                        <label for="zone" class="" style="color:#262d57;">{{PRLanguage.medicineName}}<sup>*</sup>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6" style="margin-top:-15px;width:273.75px;">
                            <select ui-select2 id="medicineId" ng-model="medicine.medicineid" data-placeholder="{{PRLanguage.medicineName}}" style="width:100%">
                                    <option value=""></option>
                                    <option data-ng-repeat="medicine in medicines" ng-if="UserLanguage==1"  value="{{medicine.id}}">{{ medicine.name }}</option>
                                <option data-ng-repeat="medicine in medicines" ng-if="UserLanguage!=1"  value="{{medicine.parentId}}">{{ medicine.name }}</option>
                                </select>
                        </div>
                    <div class="col-sm-5" style="margin-left:-20px;margin-top:-15px;">
                        
                        <div class="col-sm-6" style="">
                            <input type="text" class="form-control" id="amount" data-ng-model="medicine.noofmedicine" placeholder="{{PRLanguage.noOfMedicine}}No of Medicine" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
                        </div>

                        <div class="col-sm-6" style="font-size:16px;margin-left:-6%;">
                            <a href="" ng-click="addMedicine($index)">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true" href=""></span>
                                </a>
                            <a href="" ng-click="removeMedicine($index)" ng-if='!$first'>
                            <span class="glyphicon glyphicon-minus" aria-hidden="true" href=""></span>
                            </a>
                        </div>
                    </div>
<!--                    <div class="col-sm-6"></div>-->
                    
                </div>
                </div>
                <br/>
            
<!--
            <div class="row row1" ng-repeat="medicine in medicineList | filter: { 'deleteFlag': false }">
                <div class="col-sm-3" style="padding:10px;">
                    <div class="form-group">
                        <label for="zone" class="" style="color:#262d57;">{{PRLanguage.medicineName}}<sup>*</sup>
                            </label>
                        <div class="col-sm-9" style="">
                            <select ui-select2 id="medicineId" ng-model="medicine.medicineid" data-placeholder="{{PRLanguage.medicineName}}" style="width:100%">
                                    <option value=""></option>
                                    <option data-ng-repeat="medicine in medicines" ng-if="UserLanguage==1"  value="{{medicine.id}}">{{ medicine.name }}</option>
                                <option data-ng-repeat="medicine in medicines" ng-if="UserLanguage!=1"  value="{{medicine.parentId}}">{{ medicine.name }}</option>
                                </select>
                        </div>

                        <div class="col-sm-3" style="">
                            <input type="text" class="form-control" id="amount" data-ng-model="medicine.noofmedicine" placeholder="{{PRLanguage.noOfMedicine}}No of Medicine" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
                        </div>

                        <div class="col-sm-1" style="font-size:16px;">
                            <a href="" ng-click="addMedicine($index)">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true" href=""></span>
                                </a>
                            <a href="" ng-click="removeMedicine($index)" ng-if='!$first'>
                            <span class="glyphicon glyphicon-minus" aria-hidden="true" href=""></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
-->
<style>
    table,
th,
td {
    fill: #262d57;
    font-size: 14px;
}
th {
    background-color: #d5d7df;
    font-weight: normal;
}
tr {
    background-color: White;
    color: #262d57;
    font-size: 10px;
}
            </style>

            <div class="row" style="margin:0;">
                <table class="table">
                    <thead>
                        <tr id="rowClick">
                            <th style="padding-left:3.2%;">{{PRLanguage.dateOfTest | uppercase}}</th>
                            <th class="left">{{PRLanguage.testName | uppercase}}</th>
                            <th class="left">{{PRLanguage.result | uppercase}}</th>
                            <th class="left"><a href="" data-ng-click="addTest()"><span class="glyphicon glyphicon-plus" title="{{PRLanguage.add}}"></span></a></th>
                    </thead>
                    <tbody id="bnbody">
                        <tr ng-repeat="test in TestArray | filter: { 'deleteFlag': false }">
                            <td style=";margin-top:5px;width:255px;padding-left:3.2%;">
                                <p class="input-group" style="width: 80%">
                                    <input type="text" id="{{'datepickertestdate' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="test.dateoftest" is-open="test.testdateopened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" max-date="dtmax" style="border-right:none;border-color:#d5d7df;">
                                    <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="opentestdate($event, $index)" style="border-left:none;background:none;border-color:#d5d7df;">
                                        <img src="images/piclinks/calender-copy-3.png" width="16px" height="17px" style="margin-bottom:4px"/>
<!--                                        <i class="glyphicon glyphicon-calendar"></i>-->
                                    </button>
                                </span> </p>
                                <!--
                                <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:black; width: 60%;">{{PRLanguage.resultofTest}} {{$index +1}}
                            </label>
-->
                            </td>

                            <td style="font-weight:600;width:325px;">
                                <select ui-select2 id="risk" ng-model="test.testnameId" ng-change="diagnosisChange(test.testnameId, $index)" data-placeholder="{{PRLanguage.testName}}" style="width:65%;">
                               <option value=""></option>
                                <option data-ng-repeat="testname in test.testnames"  value="{{testname.id}}">{{ testname.name }}</option>
                            </select>
                            </td>
                            <td style="font-weight:600;margin-top:5px;">
                                <input type="text" class="form-control" id="floatcheck" data-ng-model="test.result" placeholder="{{PRLanguage.result}}" style="width:60%;" numbers-only="numbers-only">
                            </td>
                            <td>
                                <a href="" data-ng-click="removeTest(test.id, $index)"><span class="glyphicon glyphicon-remove" title="{{PRLanguage.remove}}"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>

            <div class="row padding2">
<!--                <div class="col-sm-3"></div>-->
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="champion" class="" style="font-weight:600;margin-top:4px;color:#262d57;text-align:center;">{{PRLanguage.remark}} </label>
                        <div class="" style="">
                            <textarea rows="3" cols="100" class="form-control" name="comment" ng-model="patient.remark" placeholder="{{PRLanguage.remark}} . . .">
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <br>
            <br>
            <div>
                <!--                <div align="left">-->
                <div align="right">
                    <a data-ng-href="" class="btn btn-danger" role="button" style="padding:5px 20px;margin-right:10px;" ng-click="CancelButton()">{{PRLanguage.cancel}}</a>

                    <a class="btn btn-info" type="submit" role="button" data-ng-click="UpdatePatientRecord()" data-ng-hide="HideUpdateButton" style="padding:5px 20px;margin-right:20px;" ng-disabled="disableUpdate">{{PRLanguage.update}}</a>&nbsp;

                    <a class="btn btn-info" type="submit" role="button" data-ng-click="SavePatientRecord()" data-ng-show="HideSubmitButton" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:20px;" ng-disabled="disableSave" style="">{{PRLanguage.saveLabel}}</a>&nbsp;


                    <!-- /patientrecord-list-->
                </div>
            </div>
            <!--            </div>-->


        </form>
        <br/>

<!--         /.box-body -->
        
        <div class="box-footer">

        </div>

        <!-- /.box-footer -->
    </div>
    <!-- /.box -->



    <style>
        .toggle.android {
            border-radius: 0px;
        }

        .toggle.android .toggle-handle {
            border-radius: 0px;
        }

    </style>

    <modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
        <p>{{message}}</p>
    </modal2>


    <validationmodal title1="Alert" visible="showValidation"> {{validatestring1}} </validationmodal>

    <script type="text/ng-template" id="template/AlertModal.html">
        <div class="modal-header">
            <h4 class="modal-title">Alert</h4>
        </div>
        <div class="modal-body">

            {{AlertMessage}}
        </div>

        <div class="modal-footer">
            <div align="left">
                <button type="button" class="btn btn-success btn-sm " ng-click="okAlert()">{{okbutton}}</button>
            </div>
        </div>
    </script>
