<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
        border-bottom: 4px solid #e72e5a;
    }
    
    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }
    
    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        /*		border-bottom: 2px solid #01adfb;*/
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
    }
    /*
    #wrapper div {
        display: table-cell;
        height: auto;
    }
*/
    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/
    
    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 10px 20px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 10px 20px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
    }
</style>

<div class="box box-info" style="min-height:450px;border-top:none;">
    <div id="wrapper">
        <div class="stylelink active   box-header with-border " style="padding:20px 10px;">
            <h3 class=" box-title" style="font-weight:600;">Roles </h3>
        </div>
    </div>
    <div class="box-body">
        <br>
        <div class="row">
            <div class="col-sm-5"></div>
            <div data-ng-hide="hideSearchFilter()" class="col-sm-2" style="text-align:right;padding-right:0px;border-color:#e1e8ee">
                <span>Show</span>
                <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <!--					<span>Entries</span>-->
            </div>
            <div data-ng-hide="hideSearchFilter()" class="col-sm-3" style="padding-right:0px;">
                <!--
            <div class="row" style="margin:0;padding:0;">
						<div class="col-sm-5"></div>
						<div class="col-sm-7">
-->
                <form role="form">
                    <div class="input-group">
                        <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search" style="z-index:0;border-right:none;border-color:#e1e8ee;border-top-left-radius:4px;border-bottom-left-radius: 4px;" ng-model="searchUser">
                        <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-right-radius:4px;border-bottom-right-radius: 4px;border-color:#e1e8ee;background:none;border-left:none;"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </form>

                <!--
						</div>
					</div>
-->
            </div>
            <div class="col-sm-2">
                <a data-ng-href="/phctabs/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton()" style="padding:5px 20px;margin-right:10px;">Add New </a>
            </div>
            <div class="col-sm-6" data-ng-hide="showForm()">

            </div>
        </div>
        <br>

        <div data-ng-hide="showForm()">
            <div>
                <br/>
                <form role="form" class="form-horizontal">
                </form>
                <br>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>ROLE NAME</th>
                                <th style="width:100px;">ACTIONS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--TotalData -->
                            <!-- <tr dir-paginate="surveyquestion in TotalData  = ( surveyquestions | filter:searchUser ) |itemsPerPage:pageSize" current-page="currentPage" pagination-id="surId">-->
                            <tr dir-paginate="role in TotalRoles  = ( roles | filter:searchUser ) |itemsPerPage:pageSize" current-page="currentPage">
                                <!--pagination-id="surId"-->
                                <td>{{ shg.index }}</td>
                                <td>{{ shg.name }}</td>
                                <td>
                                    <a data-ng-href="/shg/{{shg.id}}" role="button" title="Edit"><span class="glyphicon glyphicon-pencil" ></span> </a>
                                    <a style="color:#b7b8c8">|</a>&nbsp;&nbsp;
                                    <a confirm-button="Delete(shg.id)" message="Are you sure, you want to archive this member?"><span class="glyphicon glyphicon-remove" style=";cursor:pointer;" title="Delete"></span></a>&nbsp;
                                    <!--<a style="color:#b7b8c8">|</a>&nbsp;&nbsp;

                                    <a ng-click="Delete1(shg.id)" message="You Need to archive this member..">
                                        <span class="fa fa-archive" style=";cursor:pointer" title="Archive"></span>
                                        <!--                                <img src="images/7a5b2ac6.archieve.png" style="cursor:pointer;width:23%;" title="Archive">-->
                                    <!--</a>&nbsp;&nbsp;-->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br/>
                    <div align="right">
                        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" pagination-id="surId" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
                            <!-- pagination-id="surId"-->
                        </dir-pagination-controls>
                    </div>
                </div>
<!--
                <div ng-show="!roles.length" style="margin:0 auto;text-align:center;padding-top: 5%;">
                    <span style="font-size:18px;font-weight:bold;font-family:Georgia, Serif;">Please select an options</span>
                </div>
-->
            </div>
        </div>

    </div>
</div>