<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 30px 10px 15px 0px;
        padding-left: 0px;
        /*        border-bottom: 4px solid #e72e5a;*/
    }

    .tht:hover {
        color: blue;
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        /*        border-bottom: 1px solid #e6e6e6;*/
        /*        margin-top: 19px;*/
    }

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 10px 20px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 10px 20px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }



        .space {
            padding: 5px 0px 5px 0px;
        }

    }

    .sell {
        position: relative;
        min-width: 45px;
    }

    .sell:after {
        content: url(images/piclinks/down-arrow.png);
        font: 17px "Consolas", monospace;
        color: #333;
        top: 5px;
        margin-left: -22px;
        padding: 0 0 2px;
        position: absolute;
        pointer-events: none;
    }

    .sell select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        /*        max-width: 320px;*/
        height: 32px;
        float: left;
        padding: 0px 7px;
        font-size: 14px;
        line-height: 1.75;
        color: #878993;
        border-radius: 4px;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #d5d7df;
        -ms-word-break: normal;
        word-break: normal;
    }

    .smright2txt {
        text-align: right;
        padding-top: 2em;
        padding-right: 16%;
        min-width: 131px;
    }

</style>

<!--<br>-->
<div class="box box-info ng-scope" style="min-height:450px;border-top:none;" data-ng-init="toggleLoading()">
    <div id="wrapper">
        <div class="stylelink active   box-header with-border ">
            <h3 class=" box-title" style="font-weight:bold;">{{RILanguage.riList}}</h3>
        </div>
    </div>
    <div class="box-body">
        <br>
        <div class="row" style="margin:-10px;padding:0;">
            <div class="col-sm-5">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="zone" class="" style="font-weight:600;margin-top:5px;">{{RILanguage.statusFilter}}</label>
                        <div class="">
                            <select ui-select2="" ng-model="status" data-placeholder="Pick a Status" style="width:100%" class="ng-pristine ng-valid select2-offscreen" tabindex="-1" title="">
                                        <option value=""></option>
                                        <option value="active">Active</option>
                                        <option value="archive" disabled>Archive</option>
                                    </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-7">
                <!--                   <div class="col-sm-1"></div>-->
                <div data-ng-hide="hideSearchFilter()" class="col-sm-1 " style="text-align:left;padding-right:0px;padding-left:0px;padding-top:0.2em">
                    <label>{{RILanguage.show}}</label>
                    <div class="sell">
                        <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)" class="ng-pristine ng-valid">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                    </div>
                    <!--					<span>Entries</span>-->
                </div>
                <div data-ng-hide="hideSearchFilter()" class="col-sm-5 smright2txt" style="padding-right:0px;">
                    <div class="space">
                        <form role="form" class="ng-pristine ng-valid">

                            <div class="input-group">
                                <input type="text" class="form-control ng-pristine ng-valid" placeholder="{{RILanguage.search}}" style="z-index:0;border-right:none;border-color:#d5d7df;border-top-left-radius:4px;border-bottom-left-radius: 4px;" ng-model="searchInput" focus="someFocusVariable">
                                <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-right-radius:4px;border-bottom-right-radius: 4px;border-color:#d5d7df;background:none;border-left:none;"><span class="glyphicon glyphicon-search"></span></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-sm-2 smright2txt">
                    <a data-ng-href="" class="btn btn-success btn-sm" role="button" ng-click="exportData()" style="padding:5px 20px;margin-right:10px;color:#ffffff;" ng-disabled="DisableExport">
                    <img src="images/export-icon.png" />&nbsp;&nbsp;{{RILanguage.exportData}} </a>
                </div>
                <div class="col-sm-2 smright2txt" style="">
                    <a class="btn btn-primary btn-sm" role="button" data-ng-hide="hideCreateButton()" style="padding:5px 20px;margin-right:10px;" href="/reportincident/create">{{RILanguage.addNew}} </a>
                </div>
            </div>
        </div>


        <div data-ng-hide="showForm()" class="">
            <div>
                <br>
                <form role="form" class="form-horizontal ng-pristine ng-valid">
                    <div class="row" style="margin:0;padding:0;">
                        <!--
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:5px;">{{RILanguage.statusFilter}}</label>
                                <div class="col-sm-6">
                                    <select ui-select2="" ng-model="status" data-placeholder="Pick a Status" style="width:100%" class="ng-pristine ng-valid select2-offscreen" tabindex="-1" title="">
                                        <option value=""></option>
                                        <option value="active">Active</option>
                                        <option value="archive" disabled>Archive</option>
                                    </select>
                                </div>
                            </div>
                        </div>
-->
                        <div class="col-sm-6"></div>
                    </div>
                </form>
                <!--                <br>-->
                <style>
                    table,
                    th,
                    td {
                        fill: #262d57;
                        font-size: 14px;
                    }

                    th {
                        background-color: #d5d7df;
                        font-weight: normal;
                    }

                    tr {
                        background-color: White;
                        color: #262d57;
                        font-size: 10px;
                    }

                </style>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <!--
                            <tr>
                                <th style="width:45px;">#</th>
                                <th ng-click="changeSorting('incidentdate')" style="width:180px;">INCIDENT DATE<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('incidentdate')"></i></span></th>
                                <th ng-click="changeSorting('incidenttype')" style="width:180px;">TYPE OF INCIDENT<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('incidenttype')"></i></span></th>
                                <th ng-click="changeSorting('multiplemembers')" style="width:200px;">MEMBER<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('multiplemembers')"></i></span></th>
                                <th ng-click="changeSorting('currentstatus')" style="width:190px;">CURRENT STATUS<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('currentstatus')"></i></span></th>
                                <th ng-click="changeSorting('followupdate')" style="width:190px;">FOLLOW UP DATE<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('followupdate')"></i></span></th>
                                <th style="width:100px;">ACTIONS</th>
                            </tr>
-->
                            <tr>
                                <th style="padding-left:20px;">S NO.</th>
                                <th ng-click="changeSorting('incidentdate')">{{RILanguage.incidentdate | uppercase}}
                                    <span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('incidentdate')"></i></span></th>
                                <th ng-click="changeSorting('incidenttype')">{{RILanguage.IncidentTypeHeading | uppercase}}
                                    <span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('incidenttype')"></i></span></th>
                                <th ng-click="changeSorting('multiplemembers')">{{RILanguage.member | uppercase}}
                                    <span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('multiplemembers')"></i></span></th>
                                <th ng-click="changeSorting('currentstatus')">{{RILanguage.currentStatus | uppercase}}
                                    <span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('currentstatus')"></i></span></th>
                                <th ng-click="changeSorting('followupdate')">{{RILanguage.followUpDate | uppercase}}
                                    <span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('followupdate')"></i></span></th>
                                <th>ACTIONS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--TotalData -->
                            <tr dir-paginate="reportincident in reportincidents | search:searchInput:filterFields | orderBy:sort.active:sort.descending |itemsPerPage:pageSize" current-page="currentPage" pagination-id="surId">
                                <td style="padding-left:20px;">{{reportincident.index}}</td>
                                <td>{{reportincident.datedisply}}</td>
                                <td>{{reportincident.incidenttypename}}</td>
                                <td>{{reportincident.multiplemembersname}}</td>
                                <td>{{reportincident.currentstatusname}}</td>
                                <td>{{reportincident.datedisplyone}}</td>
                                <td>&nbsp;&nbsp;
                                    <a data-ng-href="/reportincident/edit/{{reportincident.id}}" role="button" title="{{RILanguage.edit}}">
                                        <!--                                        <span class="glyphicon glyphicon-pencil" ></span> -->
                                        <img src="/images/piclinks/edit.png" width="16px" />
                                    </a>
                                    &nbsp;&nbsp;
                                    <!--
                                    <a style="color:#b7b8c8">|</a>&nbsp;&nbsp;

                                    <a confirm-button="Delete(reportincident.id)" message="{{RILanguage.areYouSure}}"><span class="glyphicon glyphicon-remove" style=";cursor:pointer;" title="{{RILanguage.delete}}"></span></a>&nbsp;
-->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="padding2" align="right">
                    <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" pagination-id="surId" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
                    </dir-pagination-controls>
                </div>
                <div ng-show="!reportincidents.length" style="margin:0 auto;text-align:center;padding-top: 5%;">
                    <span style="font-size:18px;font-weight:bold;font-family:Georgia, Serif;">Please select an options</span>
                    <!--			<p class="lead text-muted">Please select an options</p>-->
                </div>

            </div>
        </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>

<!-- /.box -->

<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>
