<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        background: #ffffff;
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        /*        border-bottom: 4px solid #e72e5a;*/
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        /*        border-bottom: 1px solid #e6e6e6;*/
        background: #ffffff;
        margin-top: 12px;
    }

    input[type='radio'] {
        -webkit-appearance: none;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        outline: none;
        background: #cad7e6;
    }

    input[type='radio']:hover {
        box-shadow: 0 0 5px 0px #cad7e6 inset;
    }

    input[type='radio']:before {
        content: '';
        display: block;
        width: 50%;
        height: 50%;
        margin: 25% auto;
        border-radius: 50%;
    }


    input[type='radio']:checked:before {
        background: #004891;
    }

    input[type="radio"]:focus {
        outline: none;
    }

    .select2-default {
        color: #878993;
    }

</style>
<!-- Horizontal Form -->
<!--<div class="box box-info" style="min-height:450px;border-color:rgb(83, 12, 44)" >
	<div class="box-header with-border">
		<h3 class="box-title">Report Incident</h3>
	</div>-->

<!--<br>-->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div id="wrapper">
        <div class=" stylelink active box-header with-border">
            <h3 class="box-title" style="font-weight:bold;padding-left:5px;">
                <a href="reportincident-list" style="cursor:pointer">
                <img src="images/piclinks/back.png"   style="margin-bottom:4px;width:10px;height:16px;"/>
                </a>&nbsp;&nbsp;&nbsp;{{RiHeading}}</h3>
        </div>
    </div>
    <!-- /.box-header -->
    <!-- form start -->



    <div class="box-body">
        <!--        <br>-->
        <form class="form" role="form">
            <p align="center" style="color:red">{{mandatoryfield}}</p>
            <!--            <br/>-->

            <div class="row padding3">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="zip" class="control-label" style="font-weight:600;color:#262d57;">{{RILanguage.incidentdate}}<sup>*</sup></label>
                        <div class="">
                            <p class="input-group">
                                <input type="text" id="{{'datepicker' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="reportincident.incidentdate" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" max-date="dtmax" date-disabled="disabled(date, mode)" close-text="Close" style="border-right:none;border-color:#d5d7df;">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event, $index)" style="border-left:none;border-color:#d5d7df;">
<!--                                        <i class="glyphicon glyphicon-calendar"></i>-->
                                        <img src="images/piclinks/calender-copy-3.png"   style="margin-bottom:4px;width:16px;height:16px;"/>
                                    </button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="code" class="control-label" style=""> {{RILanguage.IncidentTypeHeading}}<sup>*</sup></label>
                        <div class="">
                            <select ui-select2="incidenttypeid" ng-model="reportincident.incidenttype" data-placeholder="{{RILanguage.IncidentTypeHeading}}" style="width:100%;">
                                <option value=""></option>
                                <option data-ng-repeat="typeofincident in typeofincidents" value="{{typeofincident.id}}" ng-if="UserLanguage==1">{{ typeofincident.name }}</option>
                                <option data-ng-repeat="typeofincident in typeofincidents" value="{{typeofincident.parentId}}" ng-if="UserLanguage!=1">{{ typeofincident.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <label for="zip" class="control-label" style="font-weight:600;margin-top: -7px;color:#262d57;">{{RILanguage.peopleAffected}}<sup>*</sup></label>
                    <div class="">
                        <div class="form-group" style="margin:0">
                            <span>
                                <input name="incidentlocation" ng-value=false type="radio" ng-model="reportincident.co">
                                <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                            </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span>
                                <input name="incidentlocation" ng-value=true type="radio" ng-model="reportincident.co">
                                <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div data-ng-show="Showmember">
                        <div class="form-group">
                            <label for="code" class="control-label" style="font-weight: 600;color:#262d57;"> {{RILanguage.member}}<sup>*</sup></label>
                            <div>
                                <select ui-select2="" ng-model="reportincident.multiplemembers" multiple="multiple" data-placeholder="{{RILanguage.member}}" style="width:100%;">
                                    <option data-ng-repeat="member in members" value="{{member.id}}">{{ member.name + ' - ' + member.individualId + ' - ' + member.mobile }}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div ng-if="ShowmemberOne">
                        <div class="form-group">
                            <label for="code" class="control-label" style="font-weight: 600;color:#262d57;"> {{RILanguage.member}}<sup>*</sup></label>
                            <div>
                                <select ui-select2="" ng-model="reportincident.multiplemembers" data-placeholder="{{RILanguage.member}}" style="width:100%;">
                                    <option value=""></option>
                                    <option data-ng-repeat="member in members" value="{{member.id}}">{{ member.name + ' - ' + member.individualId + ' - ' + member.mobile }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row padding3">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="code" class="control-label" style="font-weight:600;color:#262d57;"> {{RILanguage.assignedTo}}<sup>*</sup></label>
                        <div class="">
                            <select ui-select2="assignedid" ng-model="reportincident.associatedHF" data-placeholder="{{RILanguage.assignedTo}}" style="width:100%;" ng-disabled="hideAssigned">
                                <option value=""></option>
                                <option data-ng-repeat="user in users" value="{{user.id}}">{{ user.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="padding5">
                <div class="" style="color:#4a4d72;border-bottom:2px solid #f4f4f4;">
                    <h4 style="">{{RILanguage.Incident}}</h4>
                </div>
                <br>
                <br>
                <!--            </div><br><br>-->

                <div data-ng-show="Violence">
                    <div class="row row1 ">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="code" class="control-label" style="margin-top: -12px;font-weight:600"><img src="images/piclinks/physical-filled.png" style="width:16px; height:18px;margin-bottom:10px">&nbsp; {{RILanguage.physical}}</label>
                                <div class="">
                                    <div class="form-group" style="margin:0">
                                        <span>
                                    <input name="physical" ng-value=false type="radio" ng-model="reportincident.physical" checked="checked"><label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>
                                    <input name="physical" ng-value=true type="radio" ng-model="reportincident.physical">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="code" class="control-label" style="margin-top: -8px;font-weight:600"><span><img src="images/piclinks/Sexual.png" style="width:16px; height:18px;margin-bottom:10px;"></span> {{RILanguage.sexual}}</label>
                                <div class="">
                                    <div class="form-group" style="margin:0">
                                        <span>
                                    <input name="sexual" ng-value=false type="radio" ng-model="reportincident.sexual" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>
                                    <input name="sexual" ng-value=true type="radio" ng-model="reportincident.sexual">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="code" class="control-label" style="margin-top: -5px;font-weight:600"><span><img src="images/piclinks/Child related.png" style="width:16px;height:18px;margin-bottom:10px">&nbsp;</span> {{RILanguage.childrelated}}</label>
                                <div class="">
                                    <div class="form-group" style="margin:0">
                                        <span>
                                    <input name="childrelated" ng-value=false type="radio" ng-model="reportincident.childrelated" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>
                                    <input name="childrelated" ng-value=true type="radio" ng-model="reportincident.childrelated">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="code" class="control-label" style="margin-top: -5px;font-weight:600"><span><img src="images/piclinks/emotional-filled.png" style="width:16px;height:18px;margin-bottom:10px">&nbsp;</span> {{RILanguage.emotional}}</label>
                                <div class="">
                                    <div class="form-group" style="margin:0">
                                        <span>
                                    <input name="emotional" ng-value=false type="radio" ng-model="reportincident.emotional" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>
                                    <input name="emotional" ng-value=true type="radio" ng-model="reportincident.emotional">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row1">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="code" class="control-label" style="margin-top: -12px;font-weight:600"><img src="images/piclinks/Property-Related.png" style="width:16px;height:18px;margin-bottom:8px;">&nbsp;{{RILanguage.propertyRelated}}</label>
                                <div class="">
                                    <div class="form-group" style="margin:0">
                                        <span>
                                <input name="property" ng-value=false type="radio" ng model="reportincident.propertyrelated" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>
                                <input name="property" ng-value=true type="radio" ng-model="reportincident.propertyrelated">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="code" class="control-label" style="margin-top: -12px;font-weight:600"><img src="images/piclinks/Property-Related.png" style="width:16px;height:18px;margin-bottom:8px;">&nbsp;{{RILanguage.Mental}}</label>
                                <div class="">
                                    <div class="form-group" style="margin:0">
                                        <span>
                                    <input name="mental" ng-value=false type="radio" ng-model="reportincident.mental" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>
                                    <input name="mental" ng-value=true type="radio" ng-model="reportincident.mental">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div data-ng-show="MedicalEmergency">
                    <div class="row row1">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="code" class="control-label" style="margin-top: -12px;font-weight:600"><img src="images/piclinks/physical-filled.png" style="width:16px; height:18px;margin-bottom:10px">&nbsp; {{RILanguage.Wound}}</label>
                                <div class="">
                                    <div class="form-group" style="margin:0">
                                        <span>
                                    <input name="wound" ng-value=false type="radio" ng-model="reportincident.wound" checked="checked"><label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>
                                    <input name="wound" ng-value=true type="radio" ng-model="reportincident.wound">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="code" class="control-label" style="margin-top: -8px;font-weight:600"><span><img src="images/piclinks/Sexual.png" style="width:16px; height:18px;margin-bottom:10px;"></span> {{RILanguage.Cut}}</label>
                                <div class="">
                                    <div class="form-group" style="margin:0">
                                        <span>
                                    <input name="cut" ng-value=false type="radio" ng-model="reportincident.cut" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>
                                    <input name="cut" ng-value=true type="radio" ng-model="reportincident.cut">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="code" class="control-label" style="margin-top: -5px;font-weight:600"><span><img src="images/piclinks/Child related.png" style="width:16px;height:18px;margin-bottom:10px">&nbsp;</span> {{RILanguage.SeverePain}}</label>
                                <div class="">
                                    <div class="form-group" style="margin:0">
                                        <span>
                                    <input name="severepain" ng-value=false type="radio" ng-model="reportincident.severepain" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>
                                    <input name="severepain" ng-value=true type="radio" ng-model="reportincident.severepain">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="code" class="control-label" style="margin-top: -5px;font-weight:600"><span><img src="images/piclinks/emotional-filled.png" style="width:16px;height:18px;margin-bottom:10px">&nbsp;</span> {{RILanguage.Bleeding}}</label>
                                <div class="">
                                    <div class="form-group" style="margin:0">
                                        <span>
                                    <input name="bleeding" ng-value=false type="radio" ng-model="reportincident.bleeding" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>
                                    <input name="bleeding" ng-value=true type="radio" ng-model="reportincident.bleeding">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row row1">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="code" class="control-label" style="margin-top: -12px;font-weight:600"><img src="images/piclinks/Property-Related.png" style="width:16px;height:18px;margin-bottom:8px;">&nbsp;{{RILanguage.Immobile}}</label>
                                <div class="">
                                    <div class="form-group" style="margin:0">
                                        <span>
                                    <input name="immobile" ng-value=false type="radio" ng-model="reportincident.immobile" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>
                                    <input name="immobile" ng-value=true type="radio" ng-model="reportincident.immobile">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="code" class="control-label" style="margin-top: -12px;font-weight:600"><img src="images/piclinks/emotional-filled.png" style="width:16px;height:18px;margin-bottom:10px">&nbsp;{{RILanguage.Passingout}}</label>
                                <div class="">
                                    <div class="form-group" style="margin:0">
                                        <span>
                                    <input name="passingout" ng-value=false type="radio" ng-model="reportincident.passingout" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>
                                    <input name="passingout" ng-value=true type="radio" ng-model="reportincident.passingout">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div data-ng-show="SAWFIssue">
                    <div class="row row1">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="code" class="control-label" style="margin-top: -12px;font-weight:600"><img src="images/piclinks/physical-filled.png" style="width:16px; height:18px;margin-bottom:10px">&nbsp; {{RILanguage.Uncoveredfood}}</label>
                                <div class="">
                                    <div class="form-group" style="margin:0">
                                        <span>
                                    <input name="uncoveredfood" ng-value=false type="radio" ng-model="reportincident.uncoveredfood" checked="checked"><label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>
                                    <input name="uncoveredfood" ng-value=true type="radio" ng-model="reportincident.uncoveredfood">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="code" class="control-label" style="margin-top: -8px;font-weight:600"><span><img src="images/piclinks/Sexual.png" style="width:16px; height:18px;margin-bottom:10px;"></span> {{RILanguage.Waterstagnation}}</label>
                                <div class="">
                                    <div class="form-group" style="margin:0">
                                        <span>
                                    <input name="waterstagnation" ng-value=false type="radio" ng-model="reportincident.waterstagnation" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>
                                    <input name="waterstagnation" ng-value=true type="radio" ng-model="reportincident.waterstagnation">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="code" class="control-label" style="margin-top: -5px;font-weight:600"><span><img src="images/piclinks/Child related.png" style="width:16px;height:18px;margin-bottom:10px">&nbsp;</span> {{RILanguage.UnclearedGarbage}}</label>
                                <div class="">
                                    <div class="form-group" style="margin:0">
                                        <span>
                                    <input name="unclearedgarbage" ng-value=false type="radio" ng-model="reportincident.unclearedgarbage" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>
                                    <input name="unclearedgarbage" ng-value=true type="radio" ng-model="reportincident.unclearedgarbage">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="padding5">
                <div style="color:#4a4d72;border-bottom:2px solid #f4f4f4;">
                    <h4 style="">{{RILanguage.severity}}</h4>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="code" class="control-label" style="margin-top: -5px;font-weight: bold;color:#262d57;">{{RILanguage.severity}}
                                <sup>*</sup>
                            </label>
                            <div class="">
                                <select ui-select2="" data-ng-model="reportincident.severity" data-placeholder="{{RILanguage.severity}}" style="width:100%">
                                    <option value=""></option>
                                    <option data-ng-repeat="svrety in severityofincidents" value="{{svrety.id}}" ng-if="UserLanguage==1">{{ svrety.name }}</option>
                                    <option data-ng-repeat="svrety in severityofincidents" value="{{svrety.parentId}}" ng-if="UserLanguage!=1">{{ svrety.name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--                <div class="col-sm-6"></div>-->
                </div>

                <div data-ng-show="Violence">
                    <div style="color:#4a4d72;border-bottom:2px solid #f4f4f4;">
                        <h4 style="">{{RILanguage.perpetratorHeading}}</h4>
                    </div>
                    <br>
                    <div class="row row1">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="code" class="control-label" style="margin-top: -5px;font-weight:600"><span><img src="images/piclinks/police-filled.png" style="width:16px;height:18px;margin-bottom:8px;">&nbsp;</span> {{RILanguage.police}}</label>
                                <div class="">
                                    <div class="form-group" style="margin:0">
                                        <span>
                                    <input name="police" ng-value=false type="radio" ng-model="reportincident.police" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>
                                    <input name="police" ng-value=true type="radio" ng-model="reportincident.police">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="code" class="control-label" style="margin-top: -5px;font-weight:600"><span><img src="images/piclinks/Client Field.png" style="width:16px;height:18px;margin-bottom:8px;">&nbsp;</span> {{RILanguage.Fatherinlaw}} </label>
                                <div class="">
                                    <div class="form-group" style="margin:0">
                                        <span>
                                    <input name="fatherinlaw" ng-value=false type="radio" ng-model="reportincident.fatherinlaw" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>
                                    <input name="fatherinlaw" ng-value=true type="radio" ng-model="reportincident.fatherinlaw">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="code" class="control-label" style="margin-top: -5px;font-weight:600"><span><img src="images/piclinks/service-provider-filled.png" style="width:16px;height:18px;margin-bottom:8px;">&nbsp;</span> {{RILanguage.Motherinlaw}}</label>
                                <div class="">
                                    <div class="form-group" style="margin:0">
                                        <span>
                                    <input name="motherinlaw" ng-value=false type="radio" ng-model="reportincident.motherinlaw" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>
                                    <input name="motherinlaw" ng-value=true type="radio" ng-model="reportincident.motherinlaw">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="code" class="control-label" style="margin-top: -5px;font-weight:600"><span><img src="images/piclinks/Other-KP.png" style="width:16px;height:18px;margin-bottom:8px;">&nbsp;</span> {{RILanguage.Sisbroinlaw}} </label>
                                <div class="">
                                    <div class="form-group" style="margin:0">
                                        <span>
                                    <input name="sisbroinlaw" ng-value=false type="radio" ng-model="reportincident.sisbroinlaw" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>
                                    <input name="sisbroinlaw" ng-value=true type="radio" ng-model="reportincident.sisbroinlaw">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row row1">

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="code" class="control-label" style="margin-top: -17px;font-weight:600"><img src="images/piclinks/Neighbour.png" style="width:16px;height:18px;margin-bottom:8px;">&nbsp;&nbsp;{{RILanguage.SonDaughter}} </label>
                                <div class="">
                                    <div class="form-group" style="margin:0">
                                        <span>
                                    <input name="sondaughter" ng-value=false type="radio" ng-model="reportincident.sondaughter" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>
                                    <input name="sondaughter" ng-value=true type="radio" ng-model="reportincident.sondaughter">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="code" class="control-label" style="margin-top: -17px;font-weight:600"><img src="images/piclinks/Neighbour.png" style="width:16px;height:18px;margin-bottom:8px;">&nbsp;&nbsp;{{RILanguage.Other}} </label>
                                <div class="">
                                    <div class="form-group" style="margin:0">
                                        <span>
                                    <input name="othermem" ng-value=false type="radio" ng-model="reportincident.othermem" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>
                                    <input name="othermem" ng-value=true type="radio" ng-model="reportincident.othermem">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="code" class="control-label" style="margin-top: -17px;font-weight:600"><img src="images/piclinks/Neighbour.png" style="width:16px;height:18px;margin-bottom:8px;">&nbsp;&nbsp;{{RILanguage.HusFriends}} </label>
                                <div class="">
                                    <div class="form-group" style="margin:0">
                                        <span>
                                    <input name="neighbour" ng-value=false type="radio" ng-model="reportincident.husfriends" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>
                                    <input name="neighbour" ng-value=true type="radio" ng-model="reportincident.husfriends">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="code" class="control-label" style="margin-top: -8px;font-weight:600"><span><img src="images/piclinks/goons.png" style="width:16px;height:18px;margin-bottom:8px;">&nbsp;</span> {{RILanguage.goons}}</label>
                                <div class="">
                                    <div class="form-group" style="margin:0">
                                        <span>
                                    <input name="goons" ng-value=false type="radio" ng-model="reportincident.goons" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>
                                    <input name="goons" ng-value=true type="radio" ng-model="reportincident.goons">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row1">

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="code" class="control-label" style="margin-top: -13px;font-weight:600"><span><img src="images/piclinks/partners - filed.png" style="width:16px;height:18px;margin-bottom:8px;">&nbsp;</span> {{RILanguage.partner}} </label>
                                <div class="">
                                    <div class="form-group" style="margin:0">
                                        <span>
                                    <input name="partners" ng-value=false type="radio" ng-model="reportincident.partners" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>
                                    <input name="partners" ng-value=true type="radio" ng-model="reportincident.partners">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="code" class="control-label" style="margin-top: -8px;font-weight:600"><span><img src="images/piclinks/partners - filed.png" style="width:16px;height:18px;margin-bottom:8px;">&nbsp;</span> {{RILanguage.husband}} </label>
                                <div class="">
                                    <div class="form-group" style="margin:0">
                                        <span>
                                    <input name="husband" ng-value="false" type="radio" ng-model="reportincident.husband" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>
                                    <input name="husband" ng-value="true" type="radio" ng-model="reportincident.husband">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="code" class="control-label" style="margin-top: -8px;font-weight:600"><span><img src="images/piclinks/Family.png" style="width:16px;height:18px;margin-bottom:8px;">&nbsp;</span> {{RILanguage.AnyOtherfamilyMember}} </label>
                                <div class="">
                                    <div class="form-group" style="margin:0">
                                        <span>
                                    <input name="anyfamilymember" ng-value=false type="radio" ng-model="reportincident.anyfamilymember" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>
                                    <input name="anyfamilymember" ng-value=true type="radio" ng-model="reportincident.anyfamilymember">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="code" class="control-label" style="margin-top: -8px;font-weight:600"><span><img src="images/piclinks/Family.png" style="width:16px;height:18px;margin-bottom:8px;">&nbsp;</span> {{RILanguage.DaughterInLaw}} </label>
                                <div class="">
                                    <div class="form-group" style="margin:0">
                                        <span>
                                    <input name="daughterinlaw" ng-value=false type="radio" ng-model="reportincident.daughterinlaw" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>
                                    <input name="daughterinlaw" ng-value=true type="radio" ng-model="reportincident.daughterinlaw">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row1">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="code" class="control-label" style="margin-top: -8px;font-weight:600"><span><img src="images/piclinks/Family.png" style="width:16px;height:18px;margin-bottom:8px;">&nbsp;</span> {{RILanguage.Landlord}} </label>
                                <div class="">
                                    <div class="form-group" style="margin:0">
                                        <span>
                                    <input name="landlord" ng-value=false type="radio" ng-model="reportincident.landlord" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>
                                    <input name="landlord" ng-value=true type="radio" ng-model="reportincident.landlord">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="code" class="control-label" style="margin-top: -8px;font-weight:600"><span><img src="images/piclinks/Family.png" style="width:16px;height:18px;margin-bottom:8px;">&nbsp;</span> {{RILanguage.familyMember}} </label>
                                <div class="">
                                    <div class="form-group" style="margin:0">
                                        <span>
                                    <input name="familymember" ng-value=false type="radio" ng-model="reportincident.familymember" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>
                                    <input name="familymember" ng-value=true type="radio" ng-model="reportincident.familymember">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div data-ng-show="Violence">
                    <div style="color:#4a4d72;border-bottom:2px solid #f4f4f4;">
                        <h4 style="">{{RILanguage.reportedHeading}}</h4>
                    </div>
                    <br>
                    <div class="row row1 " style="">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="code" class="control-label" style="margin-top: -5px; font-weight: bold;color:#262d57;">{{RILanguage.reportedHeading}}</label>
                                <div class="">
                                    <div class="form-group" style="margin:0">
                                        <span>
                                    <input name="reported" ng-value=false type="radio" ng-model="reportincident.reported" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>
                                    <input name="reported" ng-value=true type="radio" ng-model="reportincident.reported">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--                <div class="col-sm-6"></div>-->
                    </div>
                </div>

                <div data-ng-show="Violence">
                    <div class="" style="" data-ng-show="hideReportedTo">
                        <div style="color:#4a4d72;border-bottom:2px solid #f4f4f4;">
                            <h4 style="">{{RILanguage.reportedToHeading}}</h4>
                        </div>
                        <br>

                        <div class="row row1">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="code" class="control-label" style="margin-top: -5px;font-weight:600"><span><img src="images/piclinks/police-filled.png" style="width:16px;height:18px;margin-bottom:8px;">&nbsp;</span> {{RILanguage.reportedPolice}}</label>
                                    <div class="">
                                        <div class="form-group" style="margin:0">
                                            <span>
                                    <input name="reportedpolice" ng-value=false type="radio" ng-model="reportincident.reportedpolice" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span>
                                    <input name="reportedpolice" ng-value=true type="radio" ng-model="reportincident.reportedpolice">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="code" class="control-label" style="margin-top: -5px;font-weight:600"><span><img src="images/piclinks/ngo.png" style="width:16px;height:18px;margin-bottom:8px;">&nbsp;</span> {{RILanguage.reportedNgos}} </label>
                                    <div class="">
                                        <div class="form-group" style="margin:0">
                                            <span>
                                    <input name="reportedngos" ng-value=false type="radio" ng-model="reportincident.reportedngos" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span>
                                    <input name="reportedngos" ng-value=true type="radio" ng-model="reportincident.reportedngos">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="code" class="control-label" style="margin-top: -5px;font-weight:600"><span><img src="images/piclinks/Friends.png" style="width:16px;height:18px;margin-bottom:8px;">&nbsp;</span> {{RILanguage.reportedFriends}}</label>
                                    <div class="">
                                        <div class="form-group" style="margin:0">
                                            <span>
                                    <input name="reportedfriends" ng-value=false type="radio" ng-model="reportincident.reportedfriends" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span>
                                    <input name="reportedfriends" ng-value=true type="radio" ng-model="reportincident.reportedfriends">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="code" class="control-label" style="margin-top: -5px;font-weight:600"><span><img src="images/piclinks/PLV.png" style="width:16px;height:18px;margin-bottom:8px;">&nbsp;</span> {{RILanguage.reportedPlv}} </label>
                                    <div class="">
                                        <div class="form-group" style="margin:0">
                                            <span>
                                    <input name="reportedplv" ng-value=false type="radio" ng-model="reportincident.reportedplv" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span>
                                    <input name="reportedplv" ng-value=true type="radio" ng-model="reportincident.reportedplv">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row1">

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="code" class="control-label" style="margin-top: -5px;font-weight:600"><span><img src="images/piclinks/Co team.png" style="width:16px;height:18px;margin-bottom:8px;">&nbsp;</span>{{RILanguage.sgShg}}</label>
                                    <div class="">
                                        <div class="form-group" style="margin:0">
                                            <span>
                                    <input name="shshg" ng-value=false type="radio" ng-model="reportincident.shshg" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span>
                                    <input name="shshg" ng-value=true type="radio" ng-model="reportincident.shshg">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="code" class="control-label" style="margin-top: -5px;font-weight:600"><span><img src="images/piclinks/Champions.png" style="width:16px;height:18px;margin-bottom:8px;">&nbsp;</span>{{RILanguage.Hfs}} </label>
                                    <div class="">
                                        <div class="form-group" style="margin:0">
                                            <span>
                                    <input name="hfs" ng-value=false type="radio" ng-model="reportincident.hfs" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span>
                                    <input name="hfs" ng-value=true type="radio" ng-model="reportincident.hfs">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="code" class="control-label" style="margin-top: -5px;font-weight:600"><span><img src="images/piclinks/Champions.png" style="width:16px;height:18px;margin-bottom:8px;">&nbsp;</span>{{RILanguage.reportedChampions}} </label>
                                    <div class="">
                                        <div class="form-group" style="margin:0">
                                            <span>
                                    <input name="reportedchampions" ng-value=false type="radio" ng-model="reportincident.reportedchampions" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span>
                                    <input name="reportedchampions" ng-value=true type="radio" ng-model="reportincident.reportedchampions">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="code" class="control-label" style="margin-top: -5px;font-weight:600"><span><img  src="images/piclinks/Other-KP.png" style="width:16px;height:18px;margin-bottom:8px;">&nbsp;</span> {{RILanguage.doctorNurse}} </label>
                                    <div class="">
                                        <div class="form-group" style="margin:0">
                                            <span>
                                    <input name="doctornurse" ng-value=false type="radio" ng-model="reportincident.doctornurse" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span>
                                    <input name="doctornurse" ng-value=true type="radio" ng-model="reportincident.doctornurse">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row1">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="code" class="control-label" style="margin-top: -5px;font-weight:600"><span><img src="images/piclinks/Referred-to-Legal-Aid-Clinic-.png" style="width:16px;height:18px;margin-bottom:10px;">&nbsp;</span>{{RILanguage.reportedLegalaid}}</label>
                                    <div class="">
                                        <div class="form-group" style="margin:0">
                                            <span>
                                    <input name="reportedlegalaid" ng-value=false type="radio" ng-model="reportincident.reportedlegalaid" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span>
                                    <input name="reportedlegalaid" ng-value=true type="radio" ng-model="reportincident.reportedlegalaid">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="code" class="control-label" style="margin-top: -5px;font-weight:600"><span><img src="images/piclinks/Referred-to-Legal-Aid-Clinic-.png" style="width:16px;height:18px;margin-bottom:10px;">&nbsp;</span>{{RILanguage.gramPanchayat}}</label>
                                    <div class="">
                                        <div class="form-group" style="margin:0">
                                            <span>
                                    <input name="grampanchayat" ng-value=false type="radio" ng-model="reportincident.grampanchayat" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span>
                                    <input name="grampanchayat" ng-value=true type="radio" ng-model="reportincident.grampanchayat">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div data-ng-show="Violence">
                    <div data-ng-show="hideReportedTo">
                        <div style="color:#4a4d72;border-bottom:2px solid #f4f4f4;">
                            <h4 style="">{{RILanguage.TimeToRespondHeading}}</h4>
                        </div>
                        <br>

                        <div class="row" style="margin-left:-30px;">
                            <!--                            <div class="col-sm-4"></div>-->
                            <div class="col-sm-6">
                                <div class="form-group">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <div class="col-sm-4">
                                        <span><img src="images/piclinks/time-to-respond-filled.png" style="width:16px;height:16px; margin-bottom: 8px">&nbsp;</span>
                                        <span>
                        <input name="timetorespond" value="2hrs" type="radio" ng-model="reportincident.timetorespond">&nbsp;&nbsp;
                    
                    <label for="code" style="font-weight:600"> {{RILanguage.twoHour}}</label></span>
                                    </div>
                                    <div class="col-sm-4">
                                        <span>
						<span><img src="images/piclinks/time-to-respond-filled.png" style="width:16px;height:16px; margin-bottom: 8px">&nbsp;</span>
                                        <input name="timetorespond" value="2-24hrs" type="radio" ng-model="reportincident.timetorespond">&nbsp;

                                        <label for="code" style="font-weight:600"> {{RILanguage.twoTo24}}</label>
                                        </span>
                                    </div>
                                    <div class="col-sm-4" style="margin-top:-20px;">
                                        <span>
						<span><img src="images/piclinks/time-to-respond-filled.png" style="width:16px;height:16px; margin-bottom: 8px">&nbsp;</span>
                                        <input name="timetorespond" value="24hrs" type="radio" ng-model="reportincident.timetorespond">&nbsp;

                                        <label for="code" style="font-weight:600"> {{RILanguage.moreThan24}}</label>
                                        </span>
                                    </div>





                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <br/>

                <div>
                    <div style="color:#4a4d72;border-bottom:2px solid #f4f4f4;">
                        <h4 style="">{{RILanguage.actionTakenHeading}}</h4>
                    </div>
                    <br>

                    <div data-ng-show="Violence">
                        <div class="row row1">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="code" class="control-label" style="margin-top: -5px;font-weight:600"><span><img src="images/piclinks/Referred-for-Counselling.png" style="width:16px;height:18px;margin-bottom:10px;">&nbsp;</span> {{RILanguage.referredHF}}</label>
                                    <div class="">
                                        <div class="form-group" style="margin:0">
                                            <span>
                                    <input name="referredhf"ng-value=false type="radio" ng-model="reportincident.referredhf" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span>
                                    <input name="referredhf" ng-value=true type="radio" ng-model="reportincident.referredhf">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="code" class="control-label" style="margin-top: -5px;font-weight:600"><span><img src="images/piclinks/Referred-for-Medical-care.png" style="width:16px;height:18px;margin-bottom:8px;">&nbsp;</span> {{RILanguage.referredMedicalCare}}</label>
                                    <div class="">
                                        <div class="form-group" style="margin:0">
                                            <span>
                                    <input name="referredmedicalcare" ng-value=false type="radio" ng-model="reportincident.referredmedicalcare" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span>
                                    <input name="referredmedicalcare" ng-value=true type="radio" ng-model="reportincident.referredmedicalcare">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="code" class="control-label" style="margin-top: -5px;font-weight:600"><span><img src="images/piclinks/Referred-to-Co-Manager.png" style="width:16px;height:18px;margin-bottom:10px;">&nbsp;</span> {{RILanguage.referredCoManager}}</label>
                                    <div class="">
                                        <div class="form-group" style="margin:0">
                                            <span>
                                    <input name="referredcomanager" ng-value=false type="radio" ng-model="reportincident.referredcomanager" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span>
                                    <input name="referredcomanager" ng-value=true type="radio" ng-model="reportincident.referredcomanager">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="code" class="control-label" style="margin-top: -5px;font-weight:600"><span><img src="images/piclinks/Referred-to-Co-Manager.png" style="width:16px;height:18px;margin-bottom:10px;">&nbsp;</span> {{RILanguage.referredHeadOfGramPanchayat}}</label>
                                    <div class="">
                                        <div class="form-group" style="margin:0">
                                            <span>
                                    <input name="referredheadofgrampanchayat" ng-value=false type="radio" ng-model="reportincident.referredheadofgrampanchayat" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span>
                                    <input name="referredheadofgrampanchayat" ng-value=true type="radio" ng-model="reportincident.referredheadofgrampanchayat">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row1">

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="code" class="control-label" style="margin-top: -5px;font-weight:600"><span><img src="images/piclinks/Referred-to-Co-Manager.png" style="width:16px;height:18px;margin-bottom:10px;">&nbsp;</span> {{RILanguage.referredPlv}}</label>
                                    <div class="">
                                        <div class="form-group" style="margin:0">
                                            <span>
                                    <input name="referredplv" ng-value=false type="radio" ng-model="reportincident.referredplv" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span>
                                    <input name="referredplv" ng-value=true type="radio" ng-model="reportincident.referredplv">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="code" class="control-label" style="margin-top: -5px;font-weight:600"><span><img src="images/piclinks/Referred-to-Co-Manager.png" style="width:16px;height:18px;margin-bottom:10px;">&nbsp;</span> {{RILanguage.referredLegalAid}}</label>
                                    <div class="c">
                                        <div class="form-group" style="margin:0">
                                            <span>
                                    <input name="referredlegalaid" ng-value=false type="radio" ng-model="reportincident.referredlegalaid" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span>
                                    <input name="referredlegalaid" ng-value=true type="radio" ng-model="reportincident.referredlegalaid">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="code" class="control-label" style="margin-top: -5px;font-weight:600"><span><img src="images/piclinks/Referred-to-Co-Manager.png" style="width:16px;height:18px;margin-bottom:10px;">&nbsp;</span> {{RILanguage.referredPolice}}</label>
                                    <div class="">
                                        <div class="form-group" style="margin:0">
                                            <span>
                                    <input name="referredpolice" ng-value=false type="radio" ng-model="reportincident.referredpolice" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span>
                                    <input name="referredpolice" ng-value=true type="radio" ng-model="reportincident.referredpolice">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="code" class="control-label" style="margin-top: -5px;font-weight:600"><span><img src="images/piclinks/Referred-to-Co-Manager.png" style="width:16px;height:18px;margin-bottom:10px;">&nbsp;</span> {{RILanguage.referredSgShg}}</label>
                                    <div class="">
                                        <div class="form-group" style="margin:0">
                                            <span>
                                    <input name="referredsgshg" ng-value=false type="radio" ng-model="reportincident.referredsgshg" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span>
                                    <input name="referredsgshg" ng-value=true type="radio" ng-model="reportincident.referredsgshg">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div data-ng-show="MedicalEmergency">
                        <div class="row row1">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="code" class="control-label" style="margin-top: -5px;font-weight:600;"><span><img src="images/piclinks/Referred-to-PLV.png" style="width:16px;height:18px;margin-bottom:8px;">&nbsp;</span> {{RILanguage.emergencyActionClinic}}</label>
                                    <div class="">
                                        <div class="form-group" style="margin:0">
                                            <span>
                                    <input name="emergencyactionclinic" ng-value=false type="radio" ng-model="reportincident.emergencyactionclinic" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span>
                                    <input name="emergencyactionclinic" ng-value=true type="radio" ng-model="reportincident.emergencyactionclinic">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="code" class="control-label" style="margin-top: -5px;font-weight:600;"><span><img src="images/piclinks/Referred-to-Legal-Aid-Clinic-.png" style="width:16px;height:18px;margin-bottom:10px;">&nbsp;</span> {{RILanguage.referredHospital}}</label>
                                    <div class="">
                                        <div class="form-group" style="margin:0">
                                            <span>
                                    <input name="referredhospital" ng-value=false type="radio" ng-model="reportincident.referredhospital" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span>
                                    <input name="referredhospital" ng-value=true type="radio" ng-model="reportincident.referredhospital">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div data-ng-show="SAWFIssue">
                        <div class="row row1">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="code" class="control-label" style="margin-top: -5px;font-weight:600;"><span><img src="images/piclinks/Referred-to-PLV.png" style="width:16px;height:18px;margin-bottom:8px;">&nbsp;</span> {{RILanguage.complaintMade}}</label>
                                    <div class="">
                                        <div class="form-group" style="margin:0">
                                            <span>
                                    <input name="complaintmade" ng-value=false type="radio" ng-model="reportincident.complaintmade" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span>
                                    <input name="complaintmade" ng-value=true type="radio" ng-model="reportincident.complaintmade">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="code" class="control-label" style="margin-top: -5px;font-weight:600;"><span><img src="images/piclinks/Referred-to-Legal-Aid-Clinic-.png" style="width:22px;height:22px;"></span> {{RILanguage.communityMobilized}}</label>
                                    <div class="">
                                        <div class="form-group" style="margin:0">
                                            <span>
                                    <input name="communitymobilized" ng-value=false type="radio" ng-model="reportincident.communitymobilized" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span>
                                    <input name="communitymobilized" ng-value=true type="radio" ng-model="reportincident.communitymobilized">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="code" class="control-label" style="margin-top: -5px;font-weight:600;"><span><img src="images/piclinks/Referred-to-Legal-Aid-Clinic-.png" style="width:22px;height:22px;"></span> {{RILanguage.prioritizedflorSAWFaction}}</label>
                                    <div class="">
                                        <div class="form-group" style="margin:0">
                                            <span>
                                    <input name="prioritizedflorsawfaction" ng-value=false type="radio" ng-model="reportincident.prioritizedflorsawfaction" checked="checked">
                                    <label for="code" style="font-weight:600">{{RILanguage.no}}</label>
                                </span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <span>
                                    <input name="prioritizedflorsawfaction" ng-value=true type="radio" ng-model="reportincident.prioritizedflorsawfaction">
                                    <label for="code" style="font-weight:600">{{RILanguage.yes}}</label>
                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row " style="margin-top:4px;">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="code" class="control-label" style="margin-top: -5px;font-weight:600;">{{RILanguage.currentStatus}}</label>
                            <div class="">
                                <select ui-select2="" data-ng-model="reportincident.currentstatus" data-placeholder="{{RILanguage.currentStatus}}" style="width:100%">
                                    <option value=""></option>
                                    <option data-ng-repeat="curr in currentstatusofcases" value="{{curr.id}}" ng-if="UserLanguage==1">{{ curr.name }}</option>
                                    <option data-ng-repeat="curr in currentstatusofcases" value="{{curr.parentId}}" ng-if="UserLanguage!=1">{{ curr.name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-3" data-ng-show="followupHide">
                        <div class="form-group">
                            <label for="city" class="control-label" style="font-weight: 600;">{{RILanguage.followRequired}}</label>
                            <div class="">
                                <select ui-select2 ng-model="reportincident.followupneeded" data-placeholder="{{RILanguage.followRequired}}" style="width:100%;">
                                    <option value=""></option>
                                    <option ng-repeat="followup in reportincidentfollowups" value="{{followup.id}}" ng-if="UserLanguage==1">{{followup.name}}</option>
                                    <option ng-repeat="followup in reportincidentfollowups" value="{{followup.parentId}}" ng-if="UserLanguage!=1">{{followup.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="city" class="control-label" style="font-weight: 600;">{{RILanguage.followUpDate}}</label>
                            <div class="">
                                <p class="input-group">
                                    <input type="text" id="{{'datepickerfollowup' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="reportincident.followupdate" is-open="reportincident.followupdatepick" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" min-date="dt" style="border-right:none;border-color:#d5d7df;" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="reportincidentfollowupopen($event, $index)" style="border-left:none;border-color:#d5d7df;">
<!--                                            <i class="glyphicon glyphicon-calendar"></i>-->
                                            <img src="images/piclinks/calender-copy-3.png"  style="margin-bottom:4px;width:16px;height:16px;"/>
                                        </button>
                                </span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3" data-ng-show="dateofclosureHide">
                        <div class="form-group">
                            <label for="zip" class="control-label" style="font-weight:600">{{RILanguage.dateOfClosure}}</label>
                            <div>
                                <p class="input-group">
                                    <input type="text" id="{{'datepicker' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="reportincident.dateofclosure" is-open="opened1" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" datepicker-append-to-body="true" max-date="dt" style="border-right:none;border-color:#d5d7df;">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open1($event, $index)" style="border-left:none;border-color:#d5d7df;">
<!--                                            <i class="glyphicon glyphicon-calendar"></i>-->
                                            <img src="images/piclinks/calender-copy-3.png"  style="margin-bottom:4px;width:16px;height:16px;"/>
                                        </button>
                                </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br/>
                <div align="right">
                    <a data-ng-href="/reportincident-list" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">{{RILanguage.cancel}}</a>

                    <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="SaveReportIncident()" data-ng-hide="HideSubmitButton" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:30px;">{{RILanguage.saveLabel}}</a>&nbsp;

                    <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="UpdateReportIncident()" data-ng-show="HideSubmitButton" style="padding:5px 20px;margin-right:30px;">{{RILanguage.update}}</a>&nbsp;
                </div>
            </div>
        </form>
    </div>
    <br/>
    <!-- /.box-body -->
    <div class="box-footer">


        <!-- /.box-footer -->

    </div>
</div>

<style>
    .toggle.android {
        border-radius: 0px;
    }

    .toggle.android .toggle-handle {
        border-radius: 0px;
    }

</style>

<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert!!!" visible="showValidation">
    {{validatestring1}}
</validationmodal>

<script type="text/ng-template" id="template/AlertModal.html">
    <div class="modal-header">
        <h4 class="modal-title">Alert</h4>
    </div>
    <div class="modal-body">

        {{AlertMessage}}
    </div>

    <div class="modal-footer">
        <div align="left">
            <button type="button" class="btn btn-success btn-sm " ng-click="okAlert()">{{okbutton}}</button>
        </div>
    </div>
</script>
