<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-color:rgb(83, 12, 44);">
    <div class="box-header with-border">
        <h3 class="box-title">Site Details</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <form class="form-horizontal" role="form">
            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="name" class="col-sm-5 control-label" style="margin-top:-7px;">Site Name:</label>
                        <div class="col-sm-7">
                            {{routes.name}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="zone" class="col-sm-5 control-label" style="margin-top:-7px;">State:</label>
                        <div class="col-sm-7">
                            {{zones.name}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="sales-area" class="col-sm-5 control-label" style="margin-top:-7px;">District:</label>
                        <div class="col-sm-7">
                            {{salesAreas.name}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="distribution-area" class="col-sm-5 control-label" style="margin-top:-7px;">CO:</label>
                        <div class="col-sm-7">
                            {{partners.firstName}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </form>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->