
<h2>Route Assignment</h2><!--first column-->
     <div class="form-group">
	 <div>
	       <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Sl No</th>
                        <th>Date</th>
                        <th>Route Name</th> 
                        <th>Tour Type</th>
                    </tr>
                </thead>
                    <tr>
                        <div class="form-group">
                            <td style = "width: 50px;"> <strong class="text-cente col-sm-2">{{$index+1}}</strong></td>
                            <!-- <td><input type="date" class="form-control" style="height:28px;" ng-model="item.date"></td>-->
                           <td style = "width: 250px;">   <p class="input-group" style = "width: 200px;">
                            <input type="text" id="{{'datepicker' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="item[0].date" is-open="opened"                                                   min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close"/>
                                <span class="input-group-btn"><button class="btn btn-default" ng-click="open($event, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span></p>
                            </td>
                       <td style = "width: 180px;"> 
                           <select ui-select2 id="name" ng-model="item[0].distributionRouteId" data-placeholder="Pick a Route">
		                      <option value=""></option>
                                <option data-ng-repeat="route in routes" value="{{route.id}}" >{{ route.name }}</option>
			               </select>
                        </td>
                        <td style = "width: 180px;"> 
                            <select ui-select2 id="name" ng-model="item[0].tourtype" data-placeholder="Pick a Type">
		                      <option value=""></option>
                              <option data-ng-repeat="tourtype in tourtypes" value="{{tourtype.id}}" >{{ tourtype.name }}</option>
			                </select></td>
                        </div>
                    </tr>
            </table>
 </div>
</div>
  <div class="form-group">
    <div class="col-sm-6 col-md-offset-2">

			<!--<button type="submit" class="btn btn-success" data-ng-click="addRouteLinks()">Update</button>-->
        <a data-ng-href="/route_assignment" class="btn btn-success" type="submit" role="button" data-ng-click="addRouteLinks()"> Update </a>
        <a data-ng-href="/route_assignment" class="btn btn-danger" type="submit" role="button" data-ng-click="deleteRouteLinks()"> Delete </a>
        <a data-ng-href="/route_assignment" class="btn btn-info" role="button">Cancel</a>
			<!--<button type="submit" class="btn btn-success" data-ng-click="addRouteLinks()">Save Routes</button>-->
        
    <!--  <a data-ng-href="/partners" class="btn btn-info" role="button">Go back / Done !</a>-->
    </div>
  </div>