<h2></h2>
<div style="width:100%; height:auto; min-height:500px;  border: 1px solid #E6E6E6; margin: 5px auto; padding:5px;">    
     <div class="row" style="margin:0;padding:0;">
     <div>

            <h4 style="font-family: Arial; font-weight: bold; font-size: 19px;">Route Assignment</h4>
        </div>
    </div>
    <br />
<form class="form-horizontal" role="form" data-ng-show="showForm()">

 <!--first column-->
    
<div class="col-md-6">  

    <div class="form-group">
    <label for="name" class="col-sm-5 form-control-label">Sales Team</label>
        <div class="col-sm-4">
      <select ui-select2 data-ng-model="routeassignment.partnerId" data-placeholder="Pick a Sales Team" style="width:180px;">
		    <option value=""></option>
		    <option data-ng-repeat="partner in partners" value="{{partner.id}}">{{ partner.salesCode +'  -  '+ partner.firstName }}</option>
			</select>
    </div>
    </div>
     </div>
    
<div class="col-md-6"> 
    <div class="form-group">
   <label for="" class="col-sm-4 form-control-label">Sales Manager</label>
   <div class="col-sm-4">
       <!-- <input type="text" class="form-control" data-ng-model="routeassignment.salesManager" placeholder="Sales Manager"  >-->
       <p class="form-control-static">{{ salesManager.firstName + ' ' + salesManager.lastName}}
   </div>
 </div> 
</div>
   <!-- <div class="col-sm-6">
    <div class="form-group">
   <label for="" class="col-sm-6 form-control-label">Partner Manager</label>
   <div class="col-sm-6">
       <p class="form-control-static">{{ partnerManager.firstName + ' ' + partnerManager.lastName}}
   </div>
 </div>	 	
    </div>-->
    
    
     <div class="form-group" style="width:100%; height:auto; margin: 5px auto; padding:5px;">
	 <div>
	       <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Sl No</th>
                            <th>Date</th>
                            <th>Route Name</th> 
                            <th>Tour Type</th>
                        </tr>
                    </thead>
                    
                     <!--<tbody>
                      <tr ng-repeat="item in poheader.sample">-->
                        <tr>
                        <div class="form-group">
                            
                       <td style = "width: 50px;"> <strong class="text-cente col-sm-2">{{$index+1}}</strong></td>
                            
                           <td style = "width: 250px;">   <p class="input-group" style = "width: 200px;">
                               <input type="text" id="{{'datepicker' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="item[0].date" is-open="opened"                                                   min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close"/>
                                    <span class="input-group-btn"><button class="btn btn-default" ng-click="open($event, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span></p>
                            </td>
                            
                       <td style = "width: 180px;"> <select ui-select2 id="name" ng-model="item[0].distributionRouteId" data-placeholder="Pick a Route">
		               <option value=""></option>
                           <option data-ng-repeat="routelink in routes" value="{{routelink.id}}" >{{ routelink.name }}</option>
			           </select>
                        </td>
                            
                             <td style = "width: 180px;"> <select ui-select2 id="name" ng-model="item[0].tourtype" data-placeholder="Pick a Type">
		               <option value=""></option>
                           <option data-ng-repeat="tourtype in tourtypes" value="{{tourtype.id}}" >{{ tourtype.name }}</option>
			           </select></td>
                        </div>
                        </tr>
               
                        <tr>
                        <div class="form-group">
                       <td style = "width: 50px;"> <strong class="text-cente col-sm-2">{{$index+2}}</strong></td>
                   <!-- <td><input type="date" class="form-control" style="height:28px;" ng-model="item.date"></td>-->
                           <td style = "width: 250px;">   <p class="input-group" style = "width: 200px;">
                               <input type="text" id="{{'datepicker' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="item[1].date" is-open="opened2"                                                   min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close"/>
                                    <span class="input-group-btn"><button class="btn btn-default" ng-click="open2($event, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span></p>
                            </td>
                       <td style = "width: 180px;"> <select ui-select2 id="name" ng-model="item[1].distributionRouteId" data-placeholder="Pick a Route">
		               <option value=""></option>
                           <option data-ng-repeat="routelink in routes" value="{{routelink.id}}" >{{ routelink.name }}</option>
                    <!--   <option data-ng-repeat="routelink in routes" value="{{routelink.distributionRouteId}}" data-ng-init="distributionRoute = getdistributionRoute(routelink.distributionRouteId)" >{{ distributionRoute.name }}</option>-->
			           </select></td>
                             <td style = "width: 180px;"> <select ui-select2 id="name" ng-model="item[1].tourtype" data-placeholder="Pick a Type">
		               <option value=""></option>
                           <option data-ng-repeat="tourtype in tourtypes" value="{{tourtype.id}}" >{{ tourtype.name }}</option>
                    <!--   <option data-ng-repeat="routelink in routes" value="{{routelink.distributionRouteId}}" data-ng-init="distributionRoute = getdistributionRoute(routelink.distributionRouteId)" >{{ distributionRoute.name }}</option>-->
			           </select></td>
                         <!--<td style = "width: 180px;">  <button type="submit" class="btn btn-default btn-xs" data-ng-click="removeRouteLinkItem($index)">Remove</button></td>-->
                        </div>
                            </tr>
               
               
                <tr>
                        <div class="form-group">
                       <td style = "width: 50px;"> <strong class="text-cente col-sm-2">{{$index+3}}</strong></td>
                   <!-- <td><input type="date" class="form-control" style="height:28px;" ng-model="item.date"></td>-->
                           <td style = "width: 250px;">   <p class="input-group" style = "width: 200px;">
                               <input type="text" id="{{'datepicker' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="item[2].date" is-open="opened3"                                                   min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close"/>
                                    <span class="input-group-btn"><button class="btn btn-default" ng-click="open3($event, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span></p>
                            </td>
                       <td style = "width: 180px;"> <select ui-select2 id="name" ng-model="item[2].distributionRouteId" data-placeholder="Pick a Route">
		               <option value=""></option>
                           <option data-ng-repeat="routelink in routes" value="{{routelink.id}}" >{{ routelink.name }}</option>
                    <!--   <option data-ng-repeat="routelink in routes" value="{{routelink.distributionRouteId}}" data-ng-init="distributionRoute = getdistributionRoute(routelink.distributionRouteId)" >{{ distributionRoute.name }}</option>-->
			           </select></td>
                             <td style = "width: 180px;"> <select ui-select2 id="name" ng-model="item[2].tourtype" data-placeholder="Pick a Type">
		               <option value=""></option>
                           <option data-ng-repeat="tourtype in tourtypes" value="{{tourtype.id}}" >{{ tourtype.name }}</option>
                    <!--   <option data-ng-repeat="routelink in routes" value="{{routelink.distributionRouteId}}" data-ng-init="distributionRoute = getdistributionRoute(routelink.distributionRouteId)" >{{ distributionRoute.name }}</option>-->
			           </select></td>
                         <!--<td style = "width: 180px;">  <button type="submit" class="btn btn-default btn-xs" data-ng-click="removeRouteLinkItem($index)">Remove</button></td>-->
                        </div>
                        </tr>
               
                        <tr>
                        <div class="form-group">
                       <td style = "width: 50px;"> <strong class="text-cente col-sm-2">{{$index+4}}</strong></td>
                   <!-- <td><input type="date" class="form-control" style="height:28px;" ng-model="item.date"></td>-->
                           <td style = "width: 250px;">   <p class="input-group" style = "width: 200px;">
                               <input type="text" id="{{'datepicker' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="item[3].date" is-open="opened4"                                                   min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close"/>
                                    <span class="input-group-btn"><button class="btn btn-default" ng-click="open4($event, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span></p>
                            </td>
                       <td style = "width: 180px;"> <select ui-select2 id="name" ng-model="item[3].distributionRouteId" data-placeholder="Pick a Route">
		               <option value=""></option>
                           <option data-ng-repeat="routelink in routes" value="{{routelink.id}}" >{{ routelink.name }}</option>
                    <!--   <option data-ng-repeat="routelink in routes" value="{{routelink.distributionRouteId}}" data-ng-init="distributionRoute = getdistributionRoute(routelink.distributionRouteId)" >{{ distributionRoute.name }}</option>-->
			           </select></td>
                             <td style = "width: 180px;"> <select ui-select2 id="name" ng-model="item[3].tourtype" data-placeholder="Pick a Type">
		               <option value=""></option>
                           <option data-ng-repeat="tourtype in tourtypes" value="{{tourtype.id}}" >{{ tourtype.name }}</option>
                    <!--   <option data-ng-repeat="routelink in routes" value="{{routelink.distributionRouteId}}" data-ng-init="distributionRoute = getdistributionRoute(routelink.distributionRouteId)" >{{ distributionRoute.name }}</option>-->
			           </select></td>
                         <!--<td style = "width: 180px;">  <button type="submit" class="btn btn-default btn-xs" data-ng-click="removeRouteLinkItem($index)">Remove</button></td>-->
                        </div>
                            </tr>
               
               
                <tr>
                        <div class="form-group">
                       <td style = "width: 50px;"> <strong class="text-cente col-sm-2">{{$index+5}}</strong></td>
                   <!-- <td><input type="date" class="form-control" style="height:28px;" ng-model="item.date"></td>-->
                           <td style = "width: 250px;">   <p class="input-group" style = "width: 200px;">
                               <input type="text" id="{{'datepicker' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="item[4].date" is-open="opened5"                                                   min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close"/>
                                    <span class="input-group-btn"><button class="btn btn-default" ng-click="open5($event, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span></p>
                            </td>
                       <td style = "width: 180px;"> <select ui-select2 id="name" ng-model="item[4].distributionRouteId" data-placeholder="Pick a Route">
		               <option value=""></option>
                           <option data-ng-repeat="routelink in routes" value="{{routelink.id}}" >{{ routelink.name }}</option>
                    <!--   <option data-ng-repeat="routelink in routes" value="{{routelink.distributionRouteId}}" data-ng-init="distributionRoute = getdistributionRoute(routelink.distributionRouteId)" >{{ distributionRoute.name }}</option>-->
			           </select></td>
                             <td style = "width: 180px;"> <select ui-select2 id="name" ng-model="item[4].tourtype" data-placeholder="Pick a Type">
		               <option value=""></option>
                           <option data-ng-repeat="tourtype in tourtypes" value="{{tourtype.id}}" >{{ tourtype.name }}</option>
                    <!--   <option data-ng-repeat="routelink in routes" value="{{routelink.distributionRouteId}}" data-ng-init="distributionRoute = getdistributionRoute(routelink.distributionRouteId)" >{{ distributionRoute.name }}</option>-->
			           </select></td>
                         <!--<td style = "width: 180px;">  <button type="submit" class="btn btn-default btn-xs" data-ng-click="removeRouteLinkItem($index)">Remove</button></td>-->
                        </div>
                        </tr>
               
                        <tr>
                        <div class="form-group">
                       <td style = "width: 50px;"> <strong class="text-cente col-sm-2">{{$index+6}}</strong></td>
                   <!-- <td><input type="date" class="form-control" style="height:28px;" ng-model="item.date"></td>-->
                           <td style = "width: 250px;">   <p class="input-group" style = "width: 200px;">
                               <input type="text" id="{{'datepicker' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="item[5].date" is-open="opened6"                                                   min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close"/>
                                    <span class="input-group-btn"><button class="btn btn-default" ng-click="open6($event, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span></p>
                            </td>
                       <td style = "width: 180px;"> <select ui-select2 id="name" ng-model="item[5].distributionRouteId" data-placeholder="Pick a Route">
		               <option value=""></option>
                           <option data-ng-repeat="routelink in routes" value="{{routelink.id}}" >{{ routelink.name }}</option>
                    <!--   <option data-ng-repeat="routelink in routes" value="{{routelink.distributionRouteId}}" data-ng-init="distributionRoute = getdistributionRoute(routelink.distributionRouteId)" >{{ distributionRoute.name }}</option>-->
			           </select></td>
                             <td style = "width: 180px;"> <select ui-select2 id="name" ng-model="item[5].tourtype" data-placeholder="Pick a Type">
		               <option value=""></option>
                           <option data-ng-repeat="tourtype in tourtypes" value="{{tourtype.id}}" >{{ tourtype.name }}</option>
                    <!--   <option data-ng-repeat="routelink in routes" value="{{routelink.distributionRouteId}}" data-ng-init="distributionRoute = getdistributionRoute(routelink.distributionRouteId)" >{{ distributionRoute.name }}</option>-->
			           </select></td>
                         <!--<td style = "width: 180px;">  <button type="submit" class="btn btn-default btn-xs" data-ng-click="removeRouteLinkItem($index)">Remove</button></td>-->
                        </div>
                            </tr>
                       <!-- </tr>
                    </tbody>-->
            </table>
 </div>
</div>
  <div class="form-group">
    <div class="col-sm-6 col-md-offset-3" align="center">

			<!--<button type="submit" class="btn btn-success" data-ng-click="addRouteLinkItem()">Add new Route</button>-->
        <a data-ng-href="/route_assignment" class="btn btn-success" type="submit" role="button" data-ng-click="addRouteLinks()">Save Routes</a>
			<!--<button type="submit" class="btn btn-success" data-ng-click="addRouteLinks()">Save Routes</button>-->
        
   <a data-ng-href="/route_assignment" class="btn btn-info" role="button">Cancel</a>
    </div>
  </div>
    
    
    
	<!--  <div class="form-group">
	 <div>
	       <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                          <!--   <th>Day</th>-->
                         <!--   <th>Route Name</th>     
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr ng-repeat="routeassignment in routeassignments">
                        
                        <div class="form-group">
                        <tr>
                           <td><input type="date" ng-model="routeassignment.date"></td>
                         <!--  <td><input type="text" ng-model="routeassignment.day" ng-click="sayHello()" value='{{day}}'></td>-->
                          <!--  <td>
                                <select class="form-control" ui-select2 ng-model="routeassignment.distributionRouteId" data-placeholder="Pick a Route">
                                <option value=""></option>
		                          <option data-ng-repeat="routelink in routes" value="{{routelink.id}}">{{ routelink.id }}</option>
                                </select>
                            </td>
                         </tr>
                        </tr>
                        </div>
                      <!--  <tr>
                             <td> <input type="date" ng-model="routeassignment.date2">  </td>
                            <!--  <td><input type="text" ng-click="sayHello2()" value='{{day2}}'></td>-->
                          <!--  <td>
                                
                                <select class="form-control" ui-select2 ng-model="routeassignment.distributionRouteId2" data-placeholder="Pick a Route">
                                <option value=""></option>
		                          <option data-ng-repeat="routelink in routes" value="{{routelink.id}}">{{ routelink.id }}</option>
                                </select>
                            </td>
                        </tr>
                        
                        
                        <tr>
                             <td> <input type="date" ng-model="routeassignment.date3">  </td>
                            <!--  <td><input type="text" ng-click="sayHello3()" value='{{day3}}'></td>-->
                       <!--     <td>
                                
                                <select class="form-control" ui-select2 ng-model="routeassignment.distributionRouteId3" data-placeholder="Pick a Route">
                                <option value=""></option>
		                          <option data-ng-repeat="routelink in routes" value="{{routelink.id}}">{{ routelink.id }}</option>
                                </select>
                            
                            </td>
                        </tr>
                        
                        
                        <tr>
                             <td> <input type="date" ng-model="username4">  </td>
                           <!--   <td><input type="text" ng-click="sayHello4()" value='{{day4}}'></td>-->
                         <!--   <td>
                                
                                <select class="form-control" ui-select2 ng-model="routeassignment.distributionRouteId4" data-placeholder="Pick a Route">
                                <option value=""></option>
		                          <option data-ng-repeat="routelink in routes" value="{{routelink.id}}">{{ routelink.id }}</option>
                                </select>
                            
                            </td>
                        </tr>
                        
                        
                        <tr>
                             <td> <input type="date" ng-model="username5">  </td>
                             <!-- <td><input type="text" ng-click="sayHello5()" value='{{day5}}'></td>-->
                          <!--  <td>
                                
                               <select class="form-control" ui-select2 ng-model="routeassignment.distributionRouteId5" data-placeholder="Pick a Route">
                                <option value=""></option>
		                          <option data-ng-repeat="routelink in routes" value="{{routelink.id}}">{{ routelink.id }}</option>
                                </select>
                            </td>
                        </tr>
                        
                        
						<tr>
                             <td> <input type="date" ng-model="username6">  </td>
                            <!--  <td><input type="text" ng-click="sayHello6()" value='{{day6}}'></td>-->
                           <!-- <td>
                                
                                <select class="form-control" ui-select2 ng-model="routeassignment.distributionRouteId6" data-placeholder="Pick a Route">
                                <option value=""></option>
		                          <option data-ng-repeat="routelink in routes" value="{{routelink.id}}">{{ routelink.id }}</option>
                                </select>
                            
                            </td>-->
                        
                    <!--    </tr>
                        
                    </tbody>
            </table>
 </div>
</div>
   
	 

<!--second column-->
 
    
<!-- <div class="form-group">
    <div class="col-sm-6 col-md-offset-2">
			<data-cb-form-submit data-singular="routeassignment" data-plural="routeassignments" data-label="Assign" data-slug="route_assignment" data-ng-show="isCreateView()"></data-cb-form-submit>

    <!--  <a data-ng-href="/routeassignment" class="btn btn-info" role="button">Cancel</a>-->

     
	<!--	</div>
	</div>-->

<!--<table>
  <tr>
    <th>#</th>
      
    <th>Sales Agent</th>
    <th>Date</th>
      <th>Route</th>
    <th></th>
  </tr>
  <tr ng-repeat="routeassign in routeassigns">
    <td width="100px;">{{ $index + 1 }}</td>
   <td data-ng-init="partner = getPartner(routeassignment.partnerId)" width="200px;">{{partner.firstName}}</td>
     <!-- <td data-ng-init="routeassignment = getrouteassignment(routeassign.partnerId)" width="200px;">{{routeassignment.date}}</td>-->
    <!--  <td width="200px;">{{routeassign.date | date:'mediumDate'}}</td>
      <td data-ng-init="distributionRoute = getdistributionRoute(routeassign.distributionRouteId)">{{distributionRoute.name}}</td>
    
    <td>
     <!-- <a data-ng-href="/route_assignment/{{routeassignments.id}}" class="btn btn-default btn-xs" role="button"><span class="glyphicon glyphicon-edit"></span> Edit</a>-->
 <!--  </td>
  </tr>
</table>

    
	


<!--<form>
<input type="date" ng-model="username">
<input type="text" ng-click="sayHello()" value='{{day}}'><br>
	
	
	<input type="date" ng-model="username1">
    <input type="text" ng-click="sayHello1()" value='{{day1}}'><br>
  
    <input type="date" ng-model="username2">
    <input type="text" ng-click="sayHello2()" value='{{day2}}'><br>
	
	

</form>-->
    </form>
</div>