
<div style="width:100%; height:auto; min-height:500px;  border: 1px solid #E6E6E6; margin: 5px auto; padding:5px;">    
     <div class="row" style="margin:0;padding:0;">
        
      <div align="center">
            <div class="form-group">
                <a data-ng-href="/route_assignment/create" class="btn btn-primary btn-sm" role="button" data-ng-hide="hideCreateButton()"><span class="glyphicon glyphicon-plus"></span>Add New Route</a>
            </div>
        </div>
         
         <div>

            <h4 style="font-family: Arial; font-weight: bold; font-size: 19px;">Route Assignment List</h4>
        </div>
    </div>
    <br />
<div class="col-md-6">  

    <div class="form-group">
    <label for="name" class="col-sm-6 form-control-label">Sales Team</label>
        <div class="col-sm-5">
      <select ui-select2 data-ng-model="routeassignment.partnerId" data-placeholder="Pick a Sales Team" style="width:180px">
		    <option value=""></option>
		    <option data-ng-repeat="partner in partners" value="{{partner.id}}">{{ partner.salesCode +'  -  '+ partner.firstName }}</option>
			</select>
    </div>
    </div>
     </div>

<table class="table table-bordered table-striped">
  <tr>
    <th>#</th>
    <th>Date</th>
    <th>Sales Executive</th>
    <th>Route</th>
    <th>Tourtype</th>
    <th>Action</th>
  </tr>
  <tr ng-repeat="routeassignment in routeassignments | orderBy:'date'">
    <td>{{ $index + 1 }}</td>
    <td>{{routeassignment.date| date : 'dd-MMM-yyyy'}}</td>
    <td data-ng-init="partner = getpartner(routeassignment.partnerId)">{{partner.firstName}}</td>
    <td data-ng-init="route = getroute(routeassignment.distributionRouteId)">{{route.name}}</td>
    <td data-ng-init="tourtype = gettourtype(routeassignment.tourtype)">{{tourtype.name}}</td>
    <td>
      <a data-ng-href="/route_assignment/{{routeassignment.id}}" class="btn btn-default btn-xs" role="button"><span class="glyphicon glyphicon-edit"></span> Edit</a>
    </td>
  </tr>
</table>