<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        		background: #ffffff;
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 30px;
        /*        border-bottom: 4px solid #e72e5a;*/
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        margin-top: 12px;
        background: #ffffff;
/*        border-bottom: 1px solid #e6e6e6;*/
    }
    .calddate {
       margin-top:-6px;
    } 
     .calnd {
        border-left: none;
    }
    .selectdiv {
        position: relative;
        float: right;
        min-width: 100%;
    }
    
    .selectdiv:after {
        content: '>';
        font: 17px "Consolas", monospace;
        color: #333;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        /*        top: 42px;*/
        margin-left: -35px;
        margin-top: 5px;
        padding: 0 0 2px;
        /*        margin: -15px;*/
        position: absolute;
        pointer-events: none;
    }
    
    .selectdiv select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        /* Add some styling */
        display: block;
        width: 100%;
        /*        max-width: 320px;*/
        height: 32px;
        float: left;
        /*        margin: 5px 0px;*/
        padding: 0px 7px;
        font-size: 14px;
        line-height: 1.75;
        color: #878993;
        border-radius: 4px;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #cccccc;
        -ms-word-break: normal;
        word-break: normal;
    }

</style>
<!-- Horizontal Form -->
<!--<div class="box box-info" style="min-height:450px;border-color:rgb(83, 12, 44)" >
	<div class="box-header with-border">
		<h3 class="box-title">Report Incident</h3>
	</div>-->


<div class="box box-info" style="min-height:450px;border-top:none;" onedata-ng-init="toggleLoading()">
    <div id="wrapper">
        <div class=" stylelink active box-header with-border" style="padding:20px 15px;">
            <h3 class="box-title" style="font-weight:bold;">
               <a href="/school-list" style="cursor:pointer;"><img src="images/piclinks/back.png" width="10px" height="16px" style="margin-bottom:4px;"/></a>&nbsp;&nbsp;&nbsp;{{schoolHeading}} </h3>
        </div>
    </div>
    <!-- /.box-header -->
    <!-- form start -->



    <div class="box-body">
        <br>
        <form class=" " role="form">
<!--            <p align="center" style="color:#ec0b6d">{{mandatory}} </p>-->
            <p align="center" style="color:#ec0b6d">All fields in * are mandatory</p>
            <br/>

            <!--
                <div style="width:100%;height:auto;padding:5px 5px;color:#4a4d72;border-bottom:2px solid #f4f4f4;"> <span style="font-weight:bold">{{HHLanguage.personalDetails}}</span> </div>
                <br>
-->
            <div class="row padding3">

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="champion" >{{schoolLanguage.schoolName}}<sup>*</sup></label>
                        <div  style="">
                            <input type="text" class="form-control" id="name" data-ng-model="school.schoolname" placeholder="{{schoolLanguage.schoolName}}">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="dob"  >{{schoolLanguage.dateofAdding}}<sup>*</sup> </label>
                        <div>
                            <td style="width: 100%">
                                <p class="input-group" style="width: 100%">
                                    <input type="text" id="{{'datepickerdob' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="school.dateofAdding" is-open="picker.dobopened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" max-date="dtmax" style="border-color:#d5d7df;"> <span class="input-group-btn"><button type="button" class="btn btn-default calnd" ng-click="opendob($event, $index)" style="border-color:#d5d7df;"><img src="images/piclinks/calender-copy-3.png" class="calddate" width="16px;"></button>
                                </span> </p>
                            </td>
                        </div>
                    </div>
                </div>
<!--
            </div>

            <div class="row">
-->
                <div class="col-sm-3">
                    <div class="form-group">

                        <label for="zone"  >{{schoolLanguage.assignedTo}}<sup>*</sup>
                        </label>
                        <div>
                            <select  ui-select2="" id="assignto" ng-model="school.associatedHF" data-placeholder="{{schoolLanguage.assignedTo}}" style="width:100%" ng-disabled="disableAssigned">
                                <option value=""> </option>
                                <option data-ng-repeat="user in users" value="{{user.id}}">{{ user.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class=" form-group">

                        <label for="zone"  >{{schoolLanguage.areaName}}<sup>*</sup>
                        </label>

                        <div>
                            <select ui-select2="" id="area" ng-model="school.area" data-placeholder="{{schoolLanguage.areaName}} " style="width:100%" ng-disabled="disableGender">
                                <option value=""></option>
                                <option data-ng-repeat="areaname in areas" value="{{areaname.id}}">{{ areaname.name }}</option>

                            </select>
                        </div>

                    </div>
                </div>
<!--
            </div>

            <div class="row">
-->
                <div class="col-sm-3">
                    <div class="form-group">
                        <div>
                        <label for="typology">{{schoolLanguage.latitude}} / {{schoolLanguage.longitude}}<sup>*</sup> </label>
                    </div>
                        <div class="col-sm-5" style="padding-left: 0px;">
                            <input type="text" class="form-control" id="latitude" data-ng-model="school.latitude" placeholder="{{schoolLanguage.latitude}}" readonly>

                        </div>
                        <p1> </p1>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="longitude" data-ng-model="school.longitude" placeholder="{{schoolLanguage.longitude}}" readonly>
                        </div>
                        <div class="col-sm-1" style="font-size:22px;color:#f55c51;padding-left:0px;">
                            <span class="glyphicon glyphicon-map-marker" aria-hidden="true" ng-click="LocateMe()" href=""></span>
                        </div>
                    </div>
                </div>


                <div class="col-sm-3">
                    <div class=" form-group">

                        <label for="zone">{{schoolLanguage.schoolType}}<sup>*</sup>
                        </label>

                        <div>
                            <select ui-select2=""  id="type" ng-model="school.typeofSchool" data-placeholder="{{schoolLanguage.schoolType}}" style="width:100%">
                                <option value=""></option>
                                <option data-ng-repeat="schooltype in schooltypes" ng-if="UserLanguage==1" value="{{schooltype.id}}">{{ schooltype.name }}</option>
                                <option data-ng-repeat="schooltype in schooltypes" ng-if="UserLanguage!=1" value="{{schooltype.parentId}}">{{ schooltype.name }}</option>

                            </select>
                        </div>

                    </div>
                </div>


<!--
            </div>

            <div class="row">
-->
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="champion">{{schoolLanguage.teacherNo}}<sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="teacherNo" data-ng-model="school.noofTeacher" placeholder="{{schoolLanguage.teacherNo}}" ng-disabled="disabledcontact" numbers-only="numbers-only" maxlength="10">
                        </div>
                    </div>


                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="champion">{{schoolLanguage.maleChildren}}<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="male" data-ng-model="school.noofChildrenMale" placeholder="{{schoolLanguage.maleChildren}}" ng-disabled="disabledcontact" numbers-only="numbers-only" maxlength="10">
                        </div>
                    </div>
                </div>
<!--
            </div>
            <br/>
            <div class="row">
-->
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="champion">{{schoolLanguage.femaleChildren}}<sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="female" data-ng-model="school.noofChildrenFemale" placeholder="{{schoolLanguage.femaleChildren}}" ng-disabled="disabledcontact" numbers-only="numbers-only" maxlength="10">
                        </div>
                    </div>
                </div>
            </div>




            <br>
            <br>
            <br>
            <div>
                    <div align="right">
                        <a data-ng-href="/school-list" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">{{schoolLanguage.cancel}}</a>
                        
                        <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="SaveschoolRecord()" data-ng-show="HideSubmitButton" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:30px;">{{schoolLanguage.saveLabel}}</a>&nbsp;

                        <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="UpdateschoolRecord()" data-ng-hide="HideSubmitButton" style="padding:5px 20px;margin-right:30px;">{{schoolLanguage.update}}</a>&nbsp;
                </div>
            </div>


        </form>
        <br/>

        <!-- /.box-body -->
        <div class="box-footer">

        </div>
        <!-- /.box-footer -->
    </div>
    <!-- /.box -->



    <style>
        .toggle.android {
            border-radius: 0px;
        }
        
        .toggle.android .toggle-handle {
            border-radius: 0px;
        }

    </style>

    <modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
        <p>{{message}}</p>
    </modal2>


    <validationmodal title1="Alert" visible="showValidation"> {{validatestring1}} </validationmodal>

    <script type="text/ng-template" id="template/AlertModal.html">
        <div class="modal-header">
            <h4 class="modal-title">Alert</h4>
        </div>
        <div class="modal-body">

            {{AlertMessage}}
        </div>

        <div class="modal-footer">
            <div align="left">
                <button type="button" class="btn btn-success btn-sm " ng-click="okAlert()">{{okbutton}}</button>
            </div>
        </div>
    </script>

    <mapmodal visible="mapdataModal">
        <div class="modal-header" style="color:#ffffff;padding:0px;">
            <div class="pull-right" style='padding:15px;'></div>
            <h4 class="stylelink active modal-title">{{schoolLanguage.selectLocation}}</h4> </div>
        <div style="width:100%; height:auto; min-height:300px;  border: 1px solid #ffffff;padding:5px" id="savemodals">
<!--            <br>-->
            <form class="" role="form" style="padding:12px;">
                <div class="row" style="margin:0;padding:0;font-size: 12px;">
                    <div class="col-sm-12" style="padding:5px;">
                        <div id='mapCanvas' style="display:block;height:850px:width:550px;">
                        </div>
                        <br/>
                        <div class="col-sm-4">
                            <div id="infoPanel">
                                <b style="color:blue;">{{schoolLanguage.markerStatus}}:</b>
                                <div id="markerStatus"><i>{{schoolLanguage.clickAndDrag}}</i>
                                </div>
                                <b style="color:blue;">{{schoolLanguage.currentPosition}}</b>
                                <div id="info"></div>
                                <b style="color:blue;">{{schoolLanguage.closestMatchingAddress}}</b>
                                <div id="mapaddress"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <div>
                <div class="form-group">
                        <div align="right">
                            <a data-ng-click="CLOSEBUTTON()" data-dismiss="modal" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">{{schoolLanguage.cancel}} </a>
                            
                            <a data-ng-click="CLOSEBUTTON()" data-dismiss="modal" class="btn btn-info btn-sm " role="button" style="padding:5px 20px;margin-right:20px;">{{schoolLanguage.ok}}</a>&nbsp;
                        </div>
                </div>
                </div>
            </form>
            <br/>
        </div>

        <style>
            div.scroll {
                width: 100%;
                height: 100px;
                overflow: scroll;
            }
            
            .toggle.android {
                border-radius: 0px;
            }
            
            .toggle.android .toggle-handle {
                border-radius: 0px;
            }
            
            #mapCanvas {
/*                width: 800px;*/
                height: 500px;
                float: center;
            }
            
/*
            #infoPanel {
                margin-left: 100px;
            }
*/
            
            #infoPanel div {
                margin-bottom: 5px;
            }

        </style>
    </mapmodal>


    <shgmeetingmodal visible="interventionModel">
        <div class="modal-header" style="color:#ffffff;padding:0px;">
            <div class="pull-right" style='padding:15px;'></div>
            <h4 class="stylelink active modal-title">
                <img src="images/piclinks/save.png" width="16px" height="16px" style="margin-top:2px;"/>&nbsp;&nbsp;&nbsp;&nbsp;{{schoolLanguage.areYouSureToWantToSave}}</h4>
        </div>

        <div style="width:100%; height:auto; min-height:305px;  border: 1px solid #ffffff;padding:5px" id="savemodals">
            <br>
            <form style="">
                <div class="row padding" style="margin:0px;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="" class="" style="">{{schoolLanguage.schoolName}}</label>
                       
                            <input type="text" class="form-control" id="name" data-ng-model="popupObj.schoolname" placeholder="{{schoolLanguage.schoolName}}" readonly>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="" class="" style="">{{schoolLanguage.dateofAdding}}</label>
                      <input type="text" class="form-control" id="name" data-ng-model="popupObj.dateofAdding" placeholder="{{schoolLanguage.dateofAdding}}" readonly>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="" class="" style="">{{schoolLanguage.assignedTo}} </label>
                        
                            <input type="text" class="form-control" id="name" data-ng-model="popupObj.associatedHF" placeholder="{{schoolLanguage.assignedTo}}" readonly>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="" class="" style="">{{schoolLanguage.areaName}} </label>
                        <input type="text" class="form-control" id="name" data-ng-model="popupObj.area" placeholder="{{schoolLanguage.areaName}}" readonly>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="" class="" style="">{{schoolLanguage.schoolType}} </label>
                        <input type="text" class="form-control" id="name" data-ng-model="popupObj.typeofSchool" placeholder="{{schoolLanguage.schoolType}} "  readonly>
                        </div>
                    </div>
                   
                   
                    <div class="col-sm-6" style="text-align:center;">
                        <div class="form-group">
                            <label for="" class="" style="">{{schoolLanguage.teacherNo}} </label>
                       <input type="text" class="form-control" id="name" data-ng-model="popupObj.noofTeacher" placeholder="{{schoolLanguage.teacherNo}} "  readonly>
                        </div>
                    </div>
                    

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="" class="" style="">{{schoolLanguage.maleChildren}} </label>
                         <input type="text" class="form-control" id="name" data-ng-model="popupObj.noofChildrenMale" placeholder="{{schoolLanguage.maleChildren}} " readonly>
                        </div>
                    </div>
                   

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="" class="" style="">{{schoolLanguage.femaleChildren}} </label>
                        <input type="text" class="form-control" id="name" data-ng-model="popupObj.noofChildrenFemale" placeholder="{{schoolLanguage.femaleChildren}} " readonly>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <br>

        <div class="form-group">
                <div align="right">
                    <a data-ng-click="" data-dismiss="modal" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">{{schoolLanguage.cancel}} </a>
                    
                    <a data-ng-click="SavePopUp()" data-dismiss="modal" class="btn btn-info btn-sm " role="button" style="padding:5px 20px;margin-right:20px;">{{schoolLanguage.yes}} </a>&nbsp;
                </div>
        </div>
        <br>

        <!--
    <style>
        div.scroll {
            width: 100%;
            height: 100px;
            overflow: scroll;
        }
        
        .toggle.android {
            border-radius: 0px;
        }
        
        .toggle.android .toggle-handle {
            border-radius: 0px;
        }
        
        #mapCanvas {
            width: 500px;
            height: 400px;
            float: left;
        }
        
        #infoPanel {
            margin-left: 100px;
        }
        
        #infoPanel div {
            margin-bottom: 5px;
        }
    </style>
-->
    </shgmeetingmodal>
