<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        		background: #ffffff;
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        /*        border-bottom: 4px solid #e72e5a;*/
    }

    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }

    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        /*		border-bottom: 2px solid #01adfb;*/
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
/*        border-bottom: 1px solid #e6e6e6;*/
/*        		background-color: #f4f4f4;*/
        margin-top: 12px;
    }

    #wrapper div {
        display: table-cell;
        height: auto;
    }

    .nav-tabs-custom>.nav-tabs>li {
        width: 16%;
    }

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 10px 20px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 10px 20px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
    }

    .dropdown-menu {
        width: -moz-calc(100% - 28px);
        width: -webkit-calc(100% - 28px);
        width: calc(100% - 28px);
    }


    .top {
        margin-top: 24px;
    }

    hr {
margin-right: 40px;
        margin-left: 40px;
        border-color: #d5d7df;
    }

/*
    .form-horizontal .form-group {
        margin-right: -15px;
        margin-left: 0px;
        border-radius: 4px;
    }
*/

    .form-control {
        border-radius: 4px;
    }

    .width {
        width: 179px;
    }

    .margin {
        margin-left: -10px;
        margin-right: 10px;
    }
    .row1{
        margin-left: 0px;
        margin-right: 0px;
    }
    sup{
        color: #ec0b6d;
    }
    .image{
        margin-left: 5%;
        margin-bottom: 3px;
    }
</style>



<!-- Horizontal Form -->
<!--<br>-->
<div class="box box-info" style="min-height:450px;border-top:none" onedata-ng-init="toggleLoading()">
    <div id="wrapper">
    <div class="box-header with-border stylelink active" style="">
        <h3 class="box-title" style="font-weight:600;padding-left:6px;">
           <a href="/shg-list"><img src="images/piclinks/back.png" width="10px" height="16px" style="margin-bottom: 4px;" /></a> &nbsp;&nbsp;{{SHGheading}}</h3>
    </div>
    </div>
    
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body" style="">
<!--        <br>-->
        <!--<div align="left">
            <a data-ng-href="/surveyquestionmlanguage/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton()">Add New </a>
        </div>-->



        <!--       <button onclick="myFunction()">Try it</button>-->
        <div style="width:100%;height:auto;color:#4a4d72;"> <span style="font-weight:bold"> </span>
            <!--            <a href="" class="small-box-footer" onclick="myFunction()" id="toggle5" style="color:#0097bc;text-decoration: underline;font-size:16px"> <span ng-show="showMo#262d57etails2" ng-click="Mo#262d57etails2()">More Details</span> <span ng-hide="showMo#262d57etails2" ng-click="Mo#262d57etails2()">Mo#262d57etails</span> <i class="fa fa-arrow-circle-down"></i> </a>-->
        </div>
<!--        <br/>-->
        <div class="row padding">
            <div style="display:block">
                <div class="col-sm-7">
                    <div class="row row1">
                        <div class="col-sm-4">
                            <div class="form-group ">
                                <label for="name" class="" style="font-weight:600;color:#262d57;">{{SHGLanguage.nameOfGroup}}<sup>*</sup>
                        </label>
                                <div class="">
                                    <input type="text" class="form-control" id="name" data-ng-model="shg.groupName" ng-blur="Validate($event, shg.groupName)" placeholder="{{SHGLanguage.nameOfGroup}}" ng-disabled="siteMgrDisabled">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group required">
                                <label for="zone" class="control-label" style="font-weight:600;color:#262d57;">{{SHGLanguage.associateHF}}<sup>*</sup>
                        </label>
                                <div class="" style="">
                                    <select ui-select2 id="pillarid" ng-model="shg.associatedHF" data-placeholder="{{SHGLanguage.selectAssociateHF}}" style="width:100%" ng-disabled="disableAssigned">
                                <option value="">{{ user.name }}</option>
                                <option data-ng-repeat="user in users" value="{{user.id}}">{{ user.name }}</option>
                            </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="dob" class="" style="font-weight:600;color:#262d57;">{{SHGLanguage.dateOfFormation}}<sup>*</sup></label>
                                <div class="">
                                    <td style="width: 100%">
                                        <p class="input-group" style="width: 100%">
                                            <input type="text" id="{{'datepickerdob' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="shg.formationDate" is-open="picker.dobopened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" max-date="dtmax" ng-disabled="siteMgrDisabled" style="border-color:#d5d7df;">
                                            <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="opendob($event, $index)" ng-disabled="siteMgrDisabled" style="border-left: none;border-color:#d5d7df;">
                                        <img src="images/piclinks/calender-copy-3.png"/ width="14px" style="margin-bottom:4px;">
<!--                                        <i class="glyphicon glyphicon-calendar"></i>-->
                                        
                                    </button>
                                </span> </p>
                                    </td>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row1">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="zone" class="" style="font-weight:600;color:#262d57;">{{SHGLanguage.meetingInterval}}<sup>*</sup>
                        </label>
                                <div class="" style="">
                                    <select ui-select2 id="pillarid" ng-model="shg.meetingInterval" data-placeholder="{{SHGLanguage.selectMeetingInterval}}" style="width:100%" ng-disabled="siteMgrDisabled">
                                <option value=""></option>
                                <option data-ng-repeat="meetingInterval in meetingIntervals" ng-if="UserLanguage==1" value="{{meetingInterval.id}}">{{ meetingInterval.name }}</option>
                                <option data-ng-repeat="meetingInterval in meetingIntervals" ng-if="UserLanguage!=1" value="{{meetingInterval.parentId}}">{{ meetingInterval.name }}</option>
                            </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-5" style="margin-left: -1%;">
                    <div class="top col-sm-8">
                        <form role="form">
                            <div class="input-group">
                                <!--                    <input type="text" ng-model="selected" value="{{members.id}}" typeahead="member as members.name + ' (' + member.individualId + ')' for members in members | filter:$viewValue" placeholder="Search" class="form-control">-->

                                <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-right-radius:4px;border-bottom-right-radius: 4px;border-color:#d5d7df;background:none;border-right:none;">
                         <span class="glyphicon glyphicon-search"></span>
                                </button>
                                </span>
                                <input type="text" ng-model="selected" typeahead="patient as patient.name + ' - ' + patient.individualId + ' - ' + patient.mobile for patient in filterByName(members, $viewValue)" placeholder="{{SHGLanguage.search}}" class="form-control" typeahead-on-select="onSelect($item, $model, $label)" focus="FocusMe" ng-disabled="siteMgrDisabled" style="border-left:none;border-color:#d5d7df;">
                            </div>
                        </form>
                    </div>

                    <div class="top col-sm-4">
                        <!--                        <div class="">-->
                        <a data-ng-href="/shg/household/create" class="btn btn-primary btn-sm " role="button" ng-click="Sto#262d57ata()" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="" ng-disabled="siteMgrDisabled">{{SHGLanguage.addNewHousehold}} </a>

                        <!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>

        <hr>
        
            <form class="" role="form">
            <div class="row padding">
<!--                <div style="display:block">-->
                    <div class="col-sm-7">
                        <div class="col-sm-4">
                            <div class="width form-group">
                                <label for="name" class="" style="font-weight:600;color:#262d57;">{{SHGLanguage.amountToBeSave}}<sup>*</sup>
                    </label>
                                <div class="">
                                    <input type="text" class="form-control" id="amount" data-ng-model="shg.amountToSave" placeholder="{{SHGLanguage.amountToBeSave}}" ng-disabled="siteMgrDisabled">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="width form-group" style="margin-left: -4%;">
                                <label for="name" class="" style="font-weight:600;color:#262d57;">{{SHGLanguage.interestRateForLoan}}<sup>*</sup>
                    </label>
                                <div class="" style="">
                                    <input type="text" class="form-control" id="interest" data-ng-model="shg.interestRate" placeholder="{{SHGLanguage.interestRateForLoan}}" ng-disabled="siteMgrDisabled">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="width form-group"  style="margin-left: -6%;">
                                <label for="zone" class="" style="font-weight:600;">{{SHGLanguage.associatedBank}}
                    </label>
                                <div class="" style="margin-top:20px;">
                                    <select ui-select2 id="pillarid" ng-model="shg.associatedBank" data-placeholder="{{SHGLanguage.associatedBank}}" style="width:100%" ng-disabled="siteMgrDisabled">
                            <option value=""></option>
                            <option data-ng-repeat="associatedbank in associatedbanks" ng-if="UserLanguage==1" value="{{associatedbank.id}}">{{ associatedbank.name }}</option>
                            <option data-ng-repeat="associatedbank in associatedbanks" ng-if="UserLanguage!=1" value="{{associatedbank.parentId}}">{{ associatedbank.name }}</option>
                        </select>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="col-sm-5" style="margin-left:-2%;margin-top: -10px;">
                        <div class="margin col-sm-5">
                            <div class="width form-group"  style="margin-left: -8%;">
                                <label for="name" class="" style="font-weight:600;">{{SHGLanguage.accountNumberForShg}}</label>
                                <div class="" style="margin-top:21px;">
                                    <input type="text" class="form-control" id="accno" data-ng-model="shg.shgAccountNumber" placeholder="{{SHGLanguage.accountNumberForShg}}" ng-disabled="siteMgrDisabled">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5" style="margin-left:2%">
                            <div class="width form-group" data-ng-hide="isCreateView()" style="">
                                <label for="name" class="" style="font-weight:600;margin-top:10px;color:#262d57;">{{SHGLanguage.totalAmountSaved}}
                    </label>
                                <div class="" style="margin-top:20px;">
                                    <input type="text" class="form-control" id="amount" data-ng-model="shg.totalAmountSaved" placeholder="{{SHGLanguage.totalAmountSaved}}" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
<!--                </div>-->
            </div>
        </form>
        
        

<!--
        <form class="" role="form">
            <div class="row" style="padding:0;">
                <div style="display:block">
                    <div class="col-sm-7">
                        <div class="col-sm-4">
                            <div class="width form-group">
                                <label for="name" class="" style="font-weight:600;margin-top:7px;color:#262d57;">{{SHGLanguage.amountToBeSave}}<sup>*</sup>
                    </label>
                                <div class="">
                                    <input type="text" class="form-control" id="amount" data-ng-model="shg.amountToSave" placeholder="{{SHGLanguage.amountToBeSave}}" ng-disabled="siteMgrDisabled">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="width form-group">
                                <label for="name" class="" style="font-weight:600;margin-top:7px;color:#262d57;">{{SHGLanguage.interestRateForLoan}}<sup>*</sup>
                    </label>
                                <div class="" style="">
                                    <input type="text" class="form-control" id="interest" data-ng-model="shg.interestRate" placeholder="{{SHGLanguage.interestRateForLoan}}" ng-disabled="siteMgrDisabled">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="width form-group">
                                <label for="zone" class="" style="font-weight:600;margin-top:7px;">{{SHGLanguage.associatedBank}}
                    </label>
                                <div class="" style="margin-top:18px;">
                                    <select ui-select2 id="pillarid" ng-model="shg.associatedBank" data-placeholder="{{SHGLanguage.associatedBank}}" style="width:100%" ng-disabled="siteMgrDisabled">
                            <option value="">Select Associate Bank</option>
                            <option data-ng-repeat="associatedbank in associatedbanks" ng-if="UserLanguage==1" value="{{associatedbank.id}}">{{ associatedbank.name }}</option>
                            <option data-ng-repeat="associatedbank in associatedbanks" ng-if="UserLanguage!=1" value="{{associatedbank.parentId}}">{{ associatedbank.name }}</option>
                        </select>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="col-sm-5" style="margin-left:-2%;margin-top: -10px;">
                        <div class="margin col-sm-5">
                            <div class="width form-group">
                                <label for="name" class="" style="font-weight:600;margin-top:6px;">{{SHGLanguage.accountNumberForShg}}</label>
                                <div class="" style="margin-top:22px;">
                                    <input type="text" class="form-control" id="accno" data-ng-model="shg.shgAccountNumber" placeholder="{{SHGLanguage.accountNumberForShg}}" ng-disabled="siteMgrDisabled">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5" style="margin-left:2%">
                            <div class="width form-group" data-ng-hide="isCreateView()" style="margin-top:7%;">
                                <label for="name" class="" style="font-weight:600;margin-top:7px;color:#262d57;">{{SHGLanguage.totalAmountSaved}}
                    </label>
                                <div class="" style="margin-top:18px;">
                                    <input type="text" class="form-control" id="amount" data-ng-model="shg.totalAmountSaved" placeholder="{{SHGLanguage.totalAmountSaved}}" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
-->
    </div>
<style>
    table,
th,
td {
    fill: #262d57;
    font-size: 14px;
}
th {
    background-color: #d5d7df;
    font-weight: normal;
}
tr {
    background-color: White;
    color: #262d57;
    font-size: 10px;
}
    </style>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th style="padding-left:40px;">{{SHGLanguage.name | uppercase}}</th>
                    <th>{{SHGLanguage.individualId | uppercase}}</th>
                    <th>{{SHGLanguage.age | uppercase}}</th>
                    <th>{{SHGLanguage.phoneNumber | uppercase}}</th>
                    <th>{{SHGLanguage.action | uppercase}}</th>
                    <!--data-ng-hide="hidedelete"-->
                </tr>
            </thead>

            <tr ng-repeat="displaymember in displaymembers | filter: { 'disableDelete': false }">
                <div class="form-group">
                    <td style="width: 230px;padding-left:40px;">{{ displaymember.name }}
                    </td>
                    <td style="width: 230px;">
                        {{ displaymember.individualId }}
                    </td>
                    <td style="width: 230px;">
                        {{ displaymember.age }}
                    </td>
                    <td style="width: 230px;">
                        {{ displaymember.mobile }}
                    </td>
                    <!--   data-ng-hide="hidedelete"-->
                    <td style="width: 230px;">
                        &nbsp;&nbsp;
                        <a confirm-button="Remove($index)" message="{{SHGLanguage.areYouSureHH}}">
                            <!--                            <span class="glyphicon glyphicon-remove" style="cursor:pointer;" title="{{SHGLanguage.delete}}"></span>-->
                            <img src="images/piclinks/cross.png" style="cursor:pointer;" width="16px" title="{{SHGLanguage.delete}}" />
                        </a>&nbsp;
                    </td>
                </div>
            </tr>

        </table>
    </div>
    <br/>
    <br/>
    <br/>
    <br>
    <div align="right" style="margin-right:50px;">
        <div>
            <a data-ng-href="" data-ng-click="CancleButoon()" class="btn btn-danger btn-sm" role="button" style="padding:5px 20px;margin-right:10px;">{{SHGLanguage.cancel}}</a>

            <button type="button" class="btn btn-info btn-sm" data-ng-click="Update()" data-ng-hide="isCreateView()" style="padding:5px 20px;">{{SHGLanguage.update}}</button>

            <button type="button" class="btn btn-info btn-sm" data-ng-click="Save()" data-ng-show="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:-20px;">{{SHGLanguage.saveLabel}}</button>

            <!--<button type="button" class="btn btn-success btn-sm " data-ng-click="updateSurveyQuestion()" data-ng-hide="isCreateView()">Update</button>-->
            <!--<data-cb-button-update data-singular="surveyquestion" data-plural="surveyquestions" data-label="Update" data-slug="surveyquestionmlanguage" data-ng-hide="isCreateView()" ng-disabled="submitDisable"></data-cb-button-update>-->


            <!--                    <data-cb-button-delete data-singular="original" data-slug="surveyquestions" data-ng-hide="isCreateView()"></data-cb-button-delete>-->
        </div>
    </div>
    <br>


    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->

<!---  <style>
        .nav-tabs-custom > .nav-tabs > li.active {
            border-top-color: #b71c1c;
        }
    </style>--->
<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert!!!" visible="showValidation">
    {{validatestring1}}
</validationmodal>
<!--
<script>
    function myFunction() {
        var x = document.getElementById('myDIV');
        if (x.style.display === 'none') {
            x.style.display = 'block';
        } else {
            x.style.display = 'none';
        }
    }
</script>-->

<!-- ************* New Confirmation Model before final save ************ -->
<shgmeetingmodal visible="confirmSaveSHG">
    <div class="modal-header" style="color:#ffffff;padding:0px;">
        <div class="pull-right" style='padding:15px;'></div>
        <img  class="image" src="images/piclinks/save.png" width="16px" />
        <h4 class="stylelink active modal-title">{{SHGLanguage.areYouSureToWantToSave}}</h4>
    </div>

    <div style="width:100%; height:auto; min-height:305px;  border: 1px solid #ffffff;padding:5px" id="savemodals">
        <br>
        <form style="">
            <div class="row padding">
                <div class="col-sm-4" style="">
                    <div class="form-group">
                        <label for="" class="" style="font-weight:600;margin-top:4px; color:#262d57;">{{SHGLanguage.nameOfGroup}}</label>
                        <input type="text" class="form-control" id="name" data-ng-model="shjObj.displayNameOfGroup" placeholder="{{SHGLanguage.nameOfGroup}}" style="" readonly>
                    </div>
                </div>
                <div class="col-sm-4" style="">
                    <div class="form-group">
                        <label for="" class="" style="font-weight:600;margin-top:4px;color:#262d57;">{{SHGLanguage.associateHF}}</label>
                        <input type="text" class="form-control" id="name" data-ng-model="shjObj.displayAssociateHF" placeholder="{{SHGLanguage.associateHF}}" style="" readonly>
                    </div>
                </div>
               <div class="col-sm-4" style="">
                    <div class="form-group">
                        <label for="" class="" style="font-weight:600;margin-top:4px;color:#262d57;">{{SHGLanguage.dateOfFormation}} </label>
                          <input type="text" class="form-control" id="name" data-ng-model="shjObj.displayDateOfFormation" placeholder="{{SHGLanguage.dateOfFormation}}" style="" readonly>
                    </div>
                </div>
            </div>
            <div class="row padding">
                <div class="col-sm-4" style="">
                    <div class="form-group">
                        <label for="" class="" style="font-weight:600;margin-top:4px;color:#262d57;">{{SHGLanguage.amountToBeSave}} </label>
                        <input type="text" class="form-control" id="name" data-ng-model="shjObj.displayAmountToBeSave" placeholder="{{SHGLanguage.amountToBeSave}} " style="" readonly>
                    </div>
                </div>
                <div class="col-sm-4" style="">
                    <div class="form-group">
                        <label for="" class="" style="font-weight:600;margin-top:4px;color:#262d57;">{{SHGLanguage.interestRateForLoan}} </label>
                        <input type="text" class="form-control" id="name" data-ng-model="shjObj.displayInterest" placeholder="{{SHGLanguage.interestRateForLoan}} " style="" readonly>
                    </div>
                </div>
            </div>
        </form>
    </div>
   

    <div class="form-group">
<!--        <div align="center">-->
            <div align="right">
                <a data-ng-click="" data-dismiss="modal" class="btn btn-danger" role="button" style="padding:5px 20px;margin-right:10px;">{{SHGLanguage.cancel}} </a>
                
                <a data-ng-click="SaveShgConfirm()" data-dismiss="modal" class="btn btn-info" role="button" style="padding:5px 20px;font-weight:bold;margin-right:20px;">{{SHGLanguage.yes}} </a>&nbsp;
            </div>
<!--        </div>-->
    </div>
    <br>


    <style>
        div.scroll {
            width: 100%;
            height: 100px;
            overflow: scroll;
        }

        .toggle.android {
            border-radius: 0px;
        }

        .toggle.android .toggle-handle {
            border-radius: 0px;
        }

        #mapCanvas {
            width: 500px;
            height: 400px;
            float: left;
        }

        #infoPanel {
            margin-left: 100px;
        }

        #infoPanel div {
            margin-bottom: 5px;
        }

    </style>

</shgmeetingmodal>
<!-- ************* New Confirmation Model before final save ************ -->
