<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
/*        		background: #f4f4f4;*/
        color: #262d57;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 30px 10px 18px 0px;
        padding-left:0px;
        /*        border-bottom: 4px solid #e72e5a;*/
    }
    
    .tht:hover {
        color: blue;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        background: ##f4f4f4;;
/*        border-bottom: 1px solid #e6e6e6;*/
    }
    
    .selectdiv {
        position: relative;
        float: right;
        min-width: 100%;
    }
    
    .selectdiv:after {
        content: '>';
        font: 17px "Consolas", monospace;
        color: #333;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        top: 0px;
        margin-left: -20px;
        margin-top: 5px;
        padding: 0 0 2px;
        /*        margin: -15px;*/
        position: absolute;
        pointer-events: none;
    }
    
    .selectdiv select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        /* Add some styling */
        display: block;
        width: 100%;
        /*        max-width: 320px;*/
        height: 32px;
        float: left;
        /*        margin: 5px 0px;*/
        padding: 0px 7px;
        font-size: 14px;
        line-height: 1.75;
        color: #878993;
        border-radius: 4px;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #cccccc;
        -ms-word-break: normal;
        word-break: normal;
    }
 .sell {
        position: relative;
        min-width: 45px;
    }
    
    .sell:after {
        content: url(images/piclinks/down-arrow.png) ;
        font: 17px "Consolas", monospace;
        color: #333;
        top: 5px;
        margin-left: -22px;
        padding: 0 0 2px;
        position: absolute;
        pointer-events: none;
    }
    
    .sell select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        /*        max-width: 320px;*/
        height: 32px;
        float: left;
        padding: 0px 7px;
        font-size: 14px;
        line-height: 1.75;
        color: #878993;
        border-radius: 4px;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #d5d7df;
        -ms-word-break: normal;
        word-break: normal;
    }
</style>

<style>
    th {
        cursor: pointer;
    }
    
    {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }
    
    @media screen and (max-width: 480px) {
        .space {
            padding: 5px 0px 5px 0px;
        }
    }

</style>
<!--
<script>
table th.active {color: blue;}
$(document).ready(function(){
    $("#rowClick > th").click(function(){
        $(this).toggleClass("active");
    });
});
</script>
-->
<!--
<script type="text/javascript">
    var sortingOrder = 'name';
</script>
-->
<!-- ****************************************New Model *************************** -->

<!-- ****************************************New Model *************************** -->

<!-- Horizontal Form -->
<!--<br/>-->
<div class="box box-info" style="min-height:450px;border-top:none;" data-ng-init="toggleLoading()">
    <div id="wrapper">
        <div class="stylelink active box-header with-border" style="">
            <h3 class="box-title" style="font-weight:600;">{{SHGLanguage.shgList}}</h3>
        </div>
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <br>
        <!--
        <div align="left">
            <a data-ng-href="/members/create" class="btn btn-primary btn-sm " role="button">{{addnew}} </a>
        </div>
-->

        <div data-ng-hide="hideSearchFilter()">

            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-5">
                    <div class="col-sm-6">
                        <div class="form-group">
                        <label for="maritalstatus" class=" " style="margin-top:4px;">{{SHGLanguage.statusFilter}}<sup>*</sup> </label>
                        <div class=" ">
                            <select ui-select2="" id="maritalstatus" data-ng-model="status" data-placeholder="Pick a Status" style="width:100%">
                                <option value=""></option>
                                <option value="active">Active</option>
                                <option disabled>Archive</option>
                            </select>
                        </div>
                    </div>
                    </div>
                </div>
<!--                <div class="col-sm-1"></div>-->
                <div class="col-sm-7" style="padding-top:5px;">
<!--                    <div class="col-sm-1" style=""></div>-->
                    <div data-ng-hide="hideSearchFilter()" class="col-sm-1  col-md-1" style="padding-right:0px;padding-left:0px;padding-left:0px;">
                        <label class="showlabel">{{SHGLanguage.show}}</label>
                        <div class="sell">
                        <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                        <!--					<span>Entries</span>-->
                            </div>
                    </div>
                    <div data-ng-hide="hideSearchFilter()" class="col-sm-5  col-md-5 smright2txt" style="padding-right:0px;">
                        <div class="space">
                            <div class="input-group">
                                <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-left-radius:4px;border-bottom-left-radius: 4px;border-color:#d5d7df;background:none;border-right:none;"><span class="glyphicon glyphicon-search" style="color:#868891;opacity:0.8;"></span></button>
                                </span>
                                <input type="text" id="Search" class="form-control ng-pristine ng-valid" placeholder="{{SHGLanguage.search}}" style="z-index:0;border-left:none;border-color:#d5d7df;border-top-right-radius:4px;border-bottom-right-radius: 4px;" data-ng-model="searchPart" focus="someFocusVariable">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2  col-md-2  smright smright2txt">
                        <a data-ng-href="" class="btn btn-success btn-sm" role="button" ng-click="exportData()" style="padding:5px 20px;margin-right:10px;color:#ffffff;" ng-disabled="DisableExport"><img src="images/export-icon.png">&nbsp;&nbsp;{{SHGLanguage.exportData}} </a>
                    </div>
                    <div class="col-sm-2  col-md-2 smright2txt">
                        <a data-ng-href="/shg/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-right:10px;" ng-if="hideAddBtn">{{SHGLanguage.addNew}}</a>
                    </div>
                    <!--
                <div class="col-sm-6" style="padding-top:5px;">
                    <span>{{show}}</span>
                    <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <span>{{entry}}</span>
                </div>
                <div class="col-sm-6">
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8">
                            <form role="form">
                                <div class="input-group">
                                    <input type="text" id="Search" class="form-control ng-pristine ng-valid" placeholder="Search " style="z-index:0;border-radius:20px;width:140%;" data-ng-model="searchPart">
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
-->
                </div>
            </div>
        </div>
        <br />
<!--
        <div class="row">
            <div class="col-sm-6">

            </div>
        </div>
-->
<!--        <br/>-->
        <style>
        table,
th,
td {
    fill: #262d57;
    font-size: 14px;
}
th {
    background-color: #d5d7df;
    font-weight: normal;
}
tr {
    background-color: White;
    color: #262d57;
    font-size: 10px;
}
        </style>
        <div data-ng-hide="showForm()" class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th style="padding-left:30px;">S NO.</th>
                        <th ng-click="changeSorting('groupName')">{{SHGLanguage.nameOfGroup | uppercase }}
                            <span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('groupName')"></i></span>
                        </th>
                        <th ng-click="changeSorting('membersInGroupLength')">{{SHGLanguage.noOfMembersInGroup | uppercase}}
                            <span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('membersInGroupLength')"></i></span>
                        </th>
                        <th>{{SHGLanguage.lastMeetingDate | uppercase}}</th>
                        <th style="width:100px;">{{SHGLanguage.action | uppercase}}</th>
                    </tr>
                </thead>
                <tbody>
                    <!--TotalData -->
                    <!-- <tr dir-paginate="surveyquestion in TotalData  = ( surveyquestions | filter:searchUser ) |itemsPerPage:pageSize" current-page="currentPage" pagination-id="surId">-->
                    <tr dir-paginate="shg in shgs | filter:searchPart | orderBy:sort.active:sort.descending |itemsPerPage:pageSize" current-page="currentPage" pagination-id="surId">
                        <!--pagination-id="surId"-->
                        <td style="padding-left:30px;">{{ shg.index }}</td>
                        <td>{{ shg.id }} - {{ shg.groupName }}</td>
                        <td ng-if="shg.membersInGroupLength < 5 || shg.membersInGroupLength > 15"><font color="red">{{ shg.membersInGroupLength }}</font></td>
                        <td ng-if="shg.membersInGroupLength >= 5 && shg.membersInGroupLength <= 15">{{ shg.membersInGroupLength }}</td>
                        <td>{{ shg.lastMeetingDate }}</td>
                        <td>
                            <a data-ng-href="/shg/edit/{{shg.id}}" role="button" title="{{SHGLanguage.edit}}"><img class="iccon" src="images/piclinks/edit.png"> </a>&nbsp;&nbsp;&nbsp;
<!--                            <a style="color:#b7b8c8" data-ng-hide="hideDelete">|</a>&nbsp;&nbsp;-->

                            <a confirm-button="Delete(shg.id, shg.membersInGroup)" message="{{SHGLanguage.areYouSure}}" data-ng-hide="hideDelete">
<!--                                <span class="glyphicon glyphicon-remove" style=";cursor:pointer;" title="{{SHGLanguage.delete}}"></span>-->
                                <img class="iccon" src="images/piclinks/cross.png" style=";cursor:pointer;" title="{{SHGLanguage.delete}}"> </a>&nbsp;

                            <!--
                                    <a ng-click="Delete1(shg.id)" message="You Need to archive this shg..">
                                        <span class="fa fa-archive" style=";cursor:pointer" title="Archive"></span>
                                                                        <img src="images/7a5b2ac6.archieve.png" style="cursor:pointer;width:23%;" title="Archive">
                                    </a>&nbsp;&nbsp;
-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="padding4" align="right">
            <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" pagination-id="surId" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
            </dir-pagination-controls>
        </div>
        <div ng-show="!shgs.length" style="margin:0 auto;text-align:center;padding-top: 5%;">
            <span style="font-size:18px;font-weight:bold;font-family:Georgia, Serif;">Please select an options</span>
            <!--			<p class="lead text-muted">Please select an options</p>-->
        </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->

<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>
