<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        background: #ffffff;
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
        /*        border-bottom: 4px solid #e72e5a;*/
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        background: #ffffff;
        margin-top: 12px;
        /*        border-bottom: 1px solid #e6e6e6;*/
    }

    .moneylabel {
        width: 100%;
        font-weight: bold;
        color: #74b53f;
        border: none;
        font-size: 135%;
        padding: 5px 5px 0px 0px;
    }

    .customcheck {
        display: block;
        position: relative;
        padding-left: 10px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        top: 6px;
    }

    .customcheck input {
        position: absolute;
        opacity: 0;
    }

    .checkmark {
        position: absolute;
        height: 18px;
        width: 18px;
        background-color: #ffffff;
        border: 1px solid #d5d7df;
    }

    .customcheck:hover input~.checkmark {
        background-color: #f4f4f4;
    }

    .customcheck input:checked~.checkmark {
        background-color: #73b33e;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .customcheck input:checked~.checkmark:after {
        display: block;
    }

    .customcheck .checkmark:after {
        left: 6px;
        top: 2px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
    }

    /*
    
    .custom-control-input:disabled~.custom-control-label::before {
        width: 20px;
        height: 20px;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
    }
    
    .custom-checkbox .custom-control-input:disabled:checked~.custom-control-label::before {
        background-color: #ffffff;
        border: none;
    }
    
    .custom-control-input:checked~.custom-control-label::before {
        background: url("images/piclinks/tick.png") center no-repeat;
        width: 18px;
        height: 16px
    }
    
    .custom-checkbox .custom-control-input:checked~.custom-control-label::after {
        background: url("images/piclinks/tick.png") center no-repeat;
        width: 18px;
        height: 16px
    }
*/

    /*
.table > thead > tr > th {
    background: none;
    border-bottom: none;
    }
*/

</style>
<!--<br/>-->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div id="wrapper">
        <div class=" stylelink active box-header with-border" style="padding:25px 12px;">
            <h3 class="box-title" style="font-weight:600;">
                <a href="/shgmeetings-list" style="cursor:pointer;"><img src="images/piclinks/back.png" width="10px" height="16px" style="margin-bottom:4px;" /></a> &nbsp;&nbsp;{{ShgMeetingHeading}}</h3>
        </div>
    </div>
    <!-- /.box-header -->
    <!-- form start -->



    <div class="box-body">
        <!--        <br>-->
        <form class=" " role="form">
            <p align="center" style="color:#ec0b6d">{{SHGmeetingLanguage.allfieldsMandatory}}</p>
            <br />
            <div class="row padding2">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="">{{SHGmeetingLanguage.shgName}}<sup>*</sup></label>
                        <div>
                            <select ui-select2="" id="maritalstatus" ng-model="shgmeetingheader.groupId" data-placeholder="{{SHGmeetingLanguage.pleaseSelectShg}}" style="width:100%" ng-disabled="!disableCreate">
                                <option value=""></option>
                                <option ng-repeat="shg in shgs" value="{{shg.id}}">{{shg.groupName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="maritalstatus">{{SHGmeetingLanguage.dateOfMeeting}}<sup>*</sup> </label>
                        <div>
                            <p class="input-group">
                                <input type="text" id="{{'datepicker' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="shgmeetingheader.lastMeetingDate" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" max-date="dtmax" date-disabled="disabled(date, mode)" close-text="Close" ng-disabled="!disableCreate" style="border-color:#d5d7df;border-right:none;" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event, $index)" ng-disabled="!showCreate" style="border-left:none;border-color:#d5d7df;" ><img src="images/piclinks/calender-copy-3.png" class="calddate" style="width:16px;" ></button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="">{{SHGmeetingLanguage.assignedTo}}<sup>*</sup></label>
                        <div>
                            <select ui-select2="" id="associatedhf" ng-model="shgmeetingheader.associatedHF" data-placeholder="{{SHGmeetingLanguage.assignedTo}}" style="width:100%" ng-disabled="hideAssigned">
                                <option value=""></option>
                                <option ng-repeat="user in users" value="{{user.id}}">{{user.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <input type="text" class="form-control moneylabel" id="name" data-ng-model="totalSavedInthisMeetingOne" placeholder="Name" style="background: none" readonly>
                        <label for="" class="">{{SHGmeetingLanguage.totalSavedInMeeting}}</label>
                    </div>
                </div>
            </div>
            <!--            <br/>-->
            <div data-ng-hide="showForm()" class="table-responsive">
                <table class="table">

                    <thead style="">
                        <tr>
                            <th style="padding-left:34px;">S NO.</th>
                            <th>{{SHGmeetingLanguage.memberName | uppercase}}</th>
                            <th>{{SHGmeetingLanguage.individualId | uppercase}}</th>
                            <th>{{SHGmeetingLanguage.attended | uppercase}}</th>
                            <!--                            <th>{{SHGmeetingLanguage.saved}}</th>-->
                            <th style="width: 200px;">{{SHGmeetingLanguage.amount | uppercase}}</th>
                            <th style="width: 220px;">
                                {{SHGmeetingLanguage.healthyDaysHH | uppercase}}
                                <!--                                <a data-ng-href="" role="button" title="{{SHGmeetingLanguage.healthyDaysHH}}"><span class="glyphicon glyphicon-search"></span> </a>-->
                            </th>
                            <th style="width: 120px;">
                                {{SHGmeetingLanguage.loan | uppercase}}
                                <!--                                <a data-ng-href="" role="button" title="{{SHGmeetingLanguage.loan}}"><span class="glyphicon glyphicon-th-list"></span> </a>-->
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--     orderBy:sortingOrder:reverse  -->
                        <tr ng-repeat="shgMeetingTrailer in shgMeetingTrailers">
                            <td style="padding-left:34px;padding-top: 15px;">{{shgMeetingTrailer.index}}</td>
                            <td style="padding-top: 15px;">{{shgMeetingTrailer.name}}</td>
                            <td style="padding-top: 15px;">{{shgMeetingTrailer.individualId}}</td>
                            <td>
                                <form>
                                    <!--
                                   <input type="checkbox" ng-model="shgMeetingTrailer.attended" ng-change="changeSaved($index)" ng-disabled="!showCreate" style="margin-left: 22px;">
<br>
-->
                                    <!--                                    <div class="custom-control custom-checkbox mb-3">-->
                                    <label class="customcheck">
                                        <input type="checkbox" class="custom-control-input" ng-model="shgMeetingTrailer.attended" ng-change="changeSaved($index)" ng-disabled="!showCreate" id="customCheck" name="example1" checked="checked">
                                            <span class="checkmark"></span>
                                            </label>
                                    <!--                                        <label class="custom-control-label" for="customCheck"></label>-->
                                    <!--                                    </div>-->
                                </form>
                            </td>
                            <td>
                                <form>
                                    <input type="text" class="form-control" id="name" data-ng-model="shgMeetingTrailer.amount" placeholder="{{SHGmeetingLanguage.amount}}" style="width:50%;font-weight:bold;" ng-change="changeAmountVal(shgMeetingTrailer.amount, $index)" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57">
                                </form>
                            </td>
                            <!--
                            <td>
                                <form>
                                    <input type="checkbox" ng-model="shgMeetingTrailer.saved" ng-disabled="!shgMeetingTrailer.attended||!showCreate" ng-change="savedChange()">
                                </form>
                            </td>
-->
                            <td ng-if="shgMeetingTrailer.attended">
                                <form>
                                    <a data-ng-href="" role="button" ng-click="openSearch(shgMeetingTrailer.memberId, $index)"><img class="manImg" src="images/piclinks/health-days.png" width="20px" align="middle" hspace="28" /></a>
                                </form>
                            </td>

                            <td ng-if="shgMeetingTrailer.attended">
                                <form>
                                    <a data-ng-href="" role="button" ng-click="openLoan(shgMeetingTrailer.memberId, $index, shgMeetingTrailer.loanFlag)"><img class="manImg" id="imageId"  ng-src="images/piclinks/{{shgMeetingTrailer.imagedispaly}}" width="20px" align="middle" hspace="3" /> </a>

                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
        <!--
        <br/>
        <div class="row" style="margin:0px;">
            <div class="col-sm-7"></div>
            <div class="col-sm-2" style="text-align:center;">
                <div class="form-group">
                    <label for="" class="" style="font-weight:600;margin-top:4px;">{{SHGmeetingLanguage.totalSavedInMeeting}}</label>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <input type="text" class="form-control" id="name" data-ng-model="totalSavedInthisMeetingOne" placeholder="Name" style="width:100%;font-weight:bold;" readonly>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
-->
        <br/>
        <br/>
        <div align="right">
            <a href="/shgmeetings-list" class="btn btn-danger btn-sm " role="button" data-ng-click="CancelMap()" style="padding:5px 20px;margin-right:10px;">{{SHGmeetingLanguage.cancel}}</a>

            <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="ConfirmPopup()" style="padding:5px 20px;margin-right:10px;" ng-disabled="disabledSaveClick" ng-if="hideCreate">{{SHGmeetingLanguage.saveLabel}} </a>&nbsp;&nbsp;

            <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="ConfirmPopup()" style="padding:5px 20px;margin-right:10px;" ng-if="updateCreate">{{SHGmeetingLanguage.update}} </a>&nbsp;&nbsp;
        </div>
        <br/>

        <div class="box-footer">
        </div>
    </div>
</div>

<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert!!!" visible="showValidation">
    {{validatestring1}}
</validationmodal>

<shgmeetingmodal visible="confirmModel">
    <div class="modal-header" style="color:#ffffff;padding:0px;">
        <!--        <div class="pull-right" style='padding:15px;'></div>-->
        <h4 class="stylelink active modal-title"><img src="images/piclinks/save.png" width="16px" height="16px" style="margin-top:2px;margin-left:-10px;" />&nbsp;&nbsp;&nbsp;&nbsp;{{SHGmeetingLanguage.areYouSuretoSave}} </h4>
    </div>

    <div style="width:100%; height:auto; min-height:305px;  border: 1px solid #ffffff;padding:5px" id="savemodals">
        <br>
        <form style="">
            <div class="row padding">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="" class="" style="font-weight:600;margin-top:4px;">{{SHGmeetingLanguage.shgName}}</label>
                        <input type="text" class="form-control" id="name" data-ng-model="shgNameDisply" placeholder="{{SHGmeetingLanguage.shgName}}" style="width:100%;" readonly>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="" class="" style="font-weight:600;margin-top:4px;">{{SHGmeetingLanguage.totalNoOfMembersInShg}}</label>

                        <input type="text" class="form-control" id="name" data-ng-model="noOfMembersShgDisply" placeholder="{{SHGmeetingLanguage.totalNoOfMembersInShg}}" style="width:100%;" readonly>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="" class="" style="font-weight:600;margin-top:4px;">{{SHGmeetingLanguage.totalNoOfMembersAttended}} </label>
                        <input type="text" class="form-control" id="name" data-ng-model="noOfMembersAttendedDisply" placeholder="{{SHGmeetingLanguage.totalNoOfMembersAttended}} " style="width:100%;" readonly>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="" class="" style="font-weight:600;margin-top:4px;">{{SHGmeetingLanguage.totalNoOfMembersSaved}} </label>

                        <input type="text" class="form-control" id="name" data-ng-model="noOfMembersSavedDisply" placeholder="{{SHGmeetingLanguage.totalNoOfMembersSaved}}" style="width:100%;" readonly>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="" class="" style="font-weight:600;margin-top:4px;">{{SHGmeetingLanguage.totalSavedInThisMeeting}} </label>

                        <div class="form-group">
                            <input type="text" class="form-control" id="name" data-ng-model="totalSavedInthisMeetingOne" placeholder="{{SHGmeetingLanguage.totalSavedInThisMeeting}}" style="width:100%;" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="form-group">
        <div align="right">
            <a data-ng-click="" data-dismiss="modal" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">{{SHGmeetingLanguage.cancel}} </a>

            <a data-ng-click="SaveHeader()" data-dismiss="modal" class="btn btn-info btn-sm " role="button" style="padding:5px 20px;font-weight:bold;margin-right:20px;">{{SHGmeetingLanguage.yes}} </a>&nbsp;
        </div>
    </div>
    <br>

    <style>
        div.scroll {
            width: 100%;
            height: 100px;
            overflow: scroll;
        }

        .toggle.android {
            border-radius: 0px;
        }

        .toggle.android .toggle-handle {
            border-radius: 0px;
        }

        #mapCanvas {
            width: 500px;
            height: 400px;
            float: left;
        }

        #infoPanel {
            margin-left: 100px;
        }

        #infoPanel div {
            margin-bottom: 5px;
        }

        hr {
            color: #d5d7df;
            margin-left: 30px;
            margin-right: 30px;
            height: 1px;
        }

        thead tr th {
            color: #878993;
        }

    </style>
</shgmeetingmodal>


<healthdaysmodel visible="searchModel">
    <div class="modal-header" style="color:#ffffff;padding:0px;">
        <div class="pull-right" style='padding:15px;'></div>
        <h4 class="stylelink active modal-title">
            <img src="images/piclinks/health-red.png" width="19px" height="17px" style="margin-top:2px;" />&nbsp;&nbsp; {{SHGmeetingLanguage.healthyDaysHH}}</h4>
    </div>
    <div style="width:100%; height:auto; min-height:350px;  border: 1px solid #ffffff;padding:5px" id="savemodals">
        <br>
        <form class="" role="form" style="">
            <div class="row" style="margin:0;padding:0px 20px;">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="state" class="" style="font-weight:600;margin-top: 8px;">{{SHGmeetingLanguage.dateOfMeeting}}</label>
                        <div class="">
                            <p class="input-group">
                                <input type="text" id="{{'datepicker' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="shgmeetingheader.lastMeetingDate" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" max-date="dtmax" date-disabled="disabled(date, mode)" close-text="Close" ng-disabled="!showCreate" readonly />
                                <!--
                                <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="open($event, $index)" ng-disabled="!showCreate"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
-->
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name" class="" style="font-weight:600;margin-top: 8px;">{{SHGmeetingLanguage.lastMeetingDate}} </label>
                        <div class="">
                            <p class="input-group">
                                <input type="text" id="{{'datepicker' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="lastMeetingDate" is-open="opened1" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" max-date="dtmax" date-disabled="disabled(date, mode)" close-text="Close" ng-disabled="!showCreate" readonly />
                                <!--
                                <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="open1($event, $index)" ng-disabled="!showCreate"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
-->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <style>
                table,
                th,
                td {
                    fill: #262d57;
                    font-size: 14px;
                }

                th {
                    background-color: #d5d7df;
                    font-weight: normal;
                }

                tr {
                    background-color: White;
                    color: #262d57;
                    font-size: 10px;
                }

            </style>
            <div class="row" style="margin-left:20px;margin-right:20px;">
                <div data-ng-hide="showForm()" class="table-responsive" style="">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width:195px;font-weight:600;margin-top:4px;background:#fff;border-bottom:none;">{{SHGmeetingLanguage.houseHolds | uppercase}}</th>
                                <th style="width:114px;font-weight:600;margin-top:4px;background:#fff;border-bottom:none;">{{SHGmeetingLanguage.daysUnwell | uppercase}}<sup>*</sup></th>
                                <th style="width:140px;font-weight:600;margin-top:4px;background:#fff;border-bottom:none;">{{SHGmeetingLanguage.primarySymptom | uppercase}}<sup>*</sup></th>
                                <th style="width:140px;font-weight:600;margin-top:4px;background:#fff;border-bottom:none;">{{SHGmeetingLanguage.secondarySymptom | uppercase}}</th>
                                <th style="width:150px;font-weight:600;margin-top:4px;background:#fff;border-bottom:none;">{{SHGmeetingLanguage.illness | uppercase}}<sup>*</sup></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="familymember in familymembers">
                                <td>{{ familymember.name + ' - ' + familymember.individualId }}</td>

                                <td>
                                    <input type="text" class="form-control" id="nameone" data-ng-model="familymember.daysUnwell" ng-change="changeUnwell($index, familymember.daysUnwell)" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" placeholder="Days Unwell" data-ng-disabled="familymember.disabledInput" />
                                </td>

                                <td>
                                    <select ui-select2 id="language" data-ng-model="familymember.primarySymptom" data-placeholder="{{SHGmeetingLanguage.selectPrimarySymptom}}" style="width:100%;" data-ng-disabled="familymember.disabledField" ng-change="changeSymptom(familymember.primarySymptom, $index)">
                                    <option value=""></option>
                                    <option data-ng-repeat="symptom in familymember.symptoms" ng-if="UserLanguage==1" value="{{symptom.id}}">{{ symptom.name }}</option>
                                    <option data-ng-repeat="symptom in familymember.symptoms" ng-if="UserLanguage!=1" value="{{symptom.parentId}}">{{ symptom.name }}</option>
                                </select>
                                </td>

                                <td>
                                    <select ui-select2 id="language" data-ng-model="familymember.secondarySymptom" data-placeholder="{{SHGmeetingLanguage.selectSecondarySymptom}}" style="width:100%;" data-ng-disabled="familymember.disabledField">
                                    <option value=""></option>
                                    <option data-ng-repeat="symptom in familymember.symptomsSecondaryArray" ng-if="UserLanguage==1" value="{{symptom.id}}" ng-disabled="symptom.disabled">{{ symptom.name }}</option>
                                    <option data-ng-repeat="symptom in familymember.symptomsSecondaryArray" ng-if="UserLanguage!=1" value="{{symptom.parentId}}" ng-disabled="symptom.disabled">{{ symptom.name }}</option>
                                </select>
                                </td>

                                <td>
                                    <select ui-select2 id="language" data-ng-model="familymember.illness" data-placeholder="{{SHGmeetingLanguage.selectIllness}}" style="width:100%;" data-ng-disabled="familymember.disabledField">
                                    <option value=""></option>
                                    <option data-ng-repeat="ill in familymember.illnesses" ng-if="UserLanguage==1" value="{{ill.id}}">{{ ill.name }}</option>
                                    <option data-ng-repeat="ill in familymember.illnesses" ng-if="UserLanguage!=1" value="{{ill.parentId}}">{{ ill.name }}</option>
                                </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <div class="form-group">
                <div align="right">
                    <a data-ng-click="" data-dismiss="modal" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">{{SHGmeetingLanguage.cancel}} </a>

                    <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="SaveHelathyDays()" ng-disabled="addClicked" style="padding:5px 20px;margin-right:30px;" ng-if="HideAdd">{{SHGmeetingLanguage.saveLabel}} </a>&nbsp;
                </div>
            </div>
        </form>
    </div>

    <style>
        div.scroll {
            width: 100%;
            height: 100px;
            overflow: scroll;
        }

        .toggle.android {
            border-radius: 0px;
        }

        .toggle.android .toggle-handle {
            border-radius: 0px;
        }

        #mapCanvas {
            width: 500px;
            height: 400px;
            float: left;
        }

        #infoPanel {
            margin-left: 100px;
        }

        #infoPanel div {
            margin-bottom: 5px;
        }

    </style>
</healthdaysmodel>


<shgmeetingmodal visible="loanModel">
    <div ng-if="showAddLoan">
        <div class="modal-header" style="color:#ffffff;padding:0px;">
            <div class="pull-right" style='padding:15px;'></div>
            <h4 class="stylelink active modal-title">
                <img src="images/piclinks/loan-red.png" width="25px" height="20px" />&nbsp;&nbsp; {{SHGmeetingLanguage.addLoan}}</h4>
        </div>
        <div style="width:100%; height:auto; min-height:350px;  border: 1px solid #ffffff;padding:5px" id="savemodals">
            <br>
            <form style="">
                <div class="row padding2">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="" class="" style="font-weight:600;margin-top:4px;">{{SHGmeetingLanguage.amountofloantaken}}</label>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" data-ng-model="loanheader.amountOfLoan" placeholder="{{SHGmeetingLanguage.amountofloantaken}}" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" style="width:100%;" ng-disabled="disableLoanAmount" ng-change="changeAmount(loanheader.amountOfLoan, loanheader.noOfInstallmentsToBePaid)">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="" class="" style="font-weight:600;margin-top:4px;">{{SHGmeetingLanguage.reasonfortakingloan}}</label>
                        </div>
                        <div class="form-group">
                            <select ui-select2="" id="maritalstatus" ng-model="loanheader.reason" data-placeholder="{{SHGmeetingLanguage.selectreasonfortakingloan}}" style="width:100%" ng-disabled="disableReason">
                            <option value=""></option>
                            <option ng-repeat="reasonforloan in reasonforloans" ng-if="UserLanguage==1" value="{{reasonforloan.id}}">{{ reasonforloan.name }}</option>
                            <option data-ng-repeat="reasonforloan in reasonforloans" ng-if="UserLanguage!=1" value="{{reasonforloan.parentId}}">{{ reasonforloan.name }}</option>
                        </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="" class="" style="font-weight:600;margin-top:4px;">{{SHGmeetingLanguage.noofinstallementstobepaid}} </label>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" data-ng-model="loanheader.noOfInstallmentsToBePaid" placeholder="{{SHGmeetingLanguage.noofinstallementstobepaid}}" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" style="width:100%;" ng-disabled="disableReason" ng-change="changeDue(loanheader.noOfInstallmentsToBePaid)">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="" class="" style="font-weight:600;margin-top:4px;">{{SHGmeetingLanguage.amountofinstallmenttobepaid}} </label>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" data-ng-model="loanheader.amountOfInstallmentsToBePaid" placeholder="{{SHGmeetingLanguage.amountofinstallmenttobepaid}}" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" style="width:100%;" readonly>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="" class="" style="font-weight:600;margin-top:4px;"><a href="" ng-click="openInsts()" title="{{SHGmeetingLanguage.installmentrepaid}}">{{SHGmeetingLanguage.installmentrepaid}}</a></label>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" id="name" data-ng-model="loanheader.installmentRepaid" placeholder="{{SHGmeetingLanguage.installmentrepaid}}" ng-change="changeInstallmentRepaid(loanheader.installmentRepaid)" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" style="width:100%;" ng-disabled="disableInstallmentRepaid">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="" class="" style="font-weight:600;margin-top:4px;">{{SHGmeetingLanguage.loanoutstanding}} </label>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" data-ng-model="loanheader.loanOutStanding" placeholder="{{SHGmeetingLanguage.loanoutstanding}}" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" style="width:100%;" readonly>
                        </div>
                    </div>

                </div>
                <br>
                <div class="form-group">
                    <div align="right">
                        <a data-ng-click="" data-dismiss="modal" class="btn btn-danger btn-sm save" role="button" style="padding:5px 20px;margin-right:10px;">{{SHGmeetingLanguage.cancel}} </a>

                        <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="SaveLoan()" ng-disabled="addClicked" style="padding:5px 20px;margin-right:30px;" ng-if="HideAdd">{{SHGmeetingLanguage.saveLabel}} </a>&nbsp;
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!------------------------------View Loan ----------------------------->
    <div ng-if="showViewLoan">
        <div class="modal-header" style="background:#ffffff;padding:0px;border-bottom:1px solid #d5d7df;">
            <div class="pull-right" style='padding:15px;'></div>
            <h4 class="stylelink active modal-title" style="font-weight:bold;">
                <img src="images/piclinks/loan-red-copy.png" width="25px" height="20px" />&nbsp;&nbsp;View Loan</h4>
        </div>
        <div style="width:100%; height:auto; min-height:350px;  border: 1px solid #ffffff;padding:5px;background:#ffffff;">
            <br>
            <form>
                <div class="row padding2">
                    <div class="col-sm-4">

                        <div class="form-group">


                            <input type="text" class="form-control" id="name" data-ng-model="loanheaderamountOfLoan" placeholder="{{SHGmeetingLanguage.amountofloantaken}}" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" style="width:100%;color:green;border: none;
    background-color: white;font-size: 25px;" ng-disabled="disableLoanAmount" ng-change="changeAmount(loanheader.amountOfLoan, loanheader.noOfInstallmentsToBePaid)">

                            <label style="font-weight:600;margin-top:4px;">{{SHGmeetingLanguage.amountofloantaken}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <!--
                            <select ui-select2="" id="maritalstatus" ng-model="loanheader.reason" data-placeholder="{{SHGmeetingLanguage.selectreasonfortakingloan}}" style="width:100%border: none;
    background-color: white;font-size: 15px;" ng-disabled="disableReason">
                            <option value=""></option>
                            <option ng-repeat="reasonforloan in reasonforloans" ng-if="UserLanguage==1" value="{{reasonforloan.id}}">{{ reasonforloan.name }}</option>
                            <option data-ng-repeat="reasonforloan in reasonforloans" ng-if="UserLanguage!=1" value="{{reasonforloan.parentId}}">{{ reasonforloan.name }}</option>
                        </select>
-->
                            <input type="text" class="form-control" id="name" data-ng-model="loanheaderreason" placeholder="{{SHGmeetingLanguage.selectreasonfortakingloan}}" style="width:100%;border: none;
    background-color: white;font-size: 15px;" ng-disabled="disableReason" ng-change="changeDue(loanheader.noOfInstallmentsToBePaid)">
                            <label for="" style="font-weight:600;margin-top:4px;">{{SHGmeetingLanguage.reasonfortakingloan}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" data-ng-model="loanheader.noOfInstallmentsToBePaid" placeholder="{{SHGmeetingLanguage.noofinstallementstobepaid}}" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" style="width:100%;border: none;
    background-color: white;font-size: 15px;" ng-disabled="disableReason" ng-change="changeDue(loanheader.noOfInstallmentsToBePaid)">

                            <label for="" style="font-weight:600;margin-top:4px;">{{SHGmeetingLanguage.noofinstallementstobepaid}}</label>
                        </div>
                    </div>
                </div>
                <div class="row padding2">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" data-ng-model="loanheader.loanOutStanding" placeholder="{{SHGmeetingLanguage.loanoutstanding}}" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" style="width:100%;border: none;
    background-color: white;font-size: 15px;" readonly>
                            <label for="" style="font-weight:600;margin-top:4px;">{{SHGmeetingLanguage.loanoutstanding}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">

                            <input type="text" class="form-control" id="name" data-ng-model="loanheader.installmentRepaid" placeholder="{{SHGmeetingLanguage.installmentrepaid}}" ng-change="changeInstallmentRepaid(loanheader.installmentRepaid)" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" style="width:100%;" ng-disabled="disableInstallmentRepaid">
                            <label for="" style="font-weight:600;margin-top:4px;">{{SHGmeetingLanguage.installmentrepaid}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">

                            <input type="text" class="form-control" id="name" data-ng-model="loanheader.amountOfInstallmentsToBePaid" placeholder="{{SHGmeetingLanguage.amountofinstallmenttobepaid}}" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" style="width:100%;" readonly>
                            <label for="" style="font-weight:600;margin-top:4px;">{{SHGmeetingLanguage.amountofinstallmenttobepaid}}</label>
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <div align="right">
                        <a class="btn btn-danger btn-sm" role="button" data-dismiss="modal" style="padding:5px 20px;margin-right:10px;">Cancel</a>

                        <a class="btn btn-primary btn-sm " type="submit" role="button" style="padding:5px 20px;margin-right:30px;" data-ng-click="SaveLoan()" ng-disabled="addClicked" style="padding:5px 20px;margin-right:30px;" ng-if="HideAdd">Update</a>&nbsp;
                    </div>
                </div>
            </form>
        </div>


    </div>

    <style>
        div.scroll {
            width: 100%;
            height: 100px;
            overflow: scroll;
        }

        .toggle.android {
            border-radius: 0px;
        }

        .toggle.android .toggle-handle {
            border-radius: 0px;
        }

        #mapCanvas {
            width: 500px;
            height: 400px;
            float: left;
        }

        #infoPanel {
            margin-left: 100px;
        }

        #infoPanel div {
            margin-bottom: 5px;
        }

    </style>
</shgmeetingmodal>

<shgmeetingmodal visible="installmentModel">
    <div class="modal-header" style="color:#ffffff;padding:0px;">
        <div class="pull-right" style='padding:15px;'></div>
        <h4 class="stylelink active modal-title">{{SHGmeetingLanguage.installmentrepaid}}</h4>
    </div>
    <div style="width:100%; height:auto; min-height:400px; border: 1px solid #ffffff;padding:5px" id="savemodals">
        <br>
        <form style="padding-left:2em;">
            <table class="table">
                <thead>
                    <tr>
                        <th>S NO.</th>
                        <th>Date</th>
                        <th>{{SHGmeetingLanguage.amount | uppercase}}</th>
                        <th>{{SHGmeetingLanguage.installmentrepaid | uppercase}}</th>
                        <th>{{SHGmeetingLanguage.loanoutstanding | uppercase}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="loaninstallment in loaninstallments">
                        <td>{{loaninstallment.index}}</td>
                        <td>{{loaninstallment.date | date: 'dd-MMM-yyyy' }}</td>
                        <td>{{loaninstallment.amount}}</td>
                        <td>{{loaninstallment.installmentRepaid}}</td>
                        <td>{{loaninstallment.loanOutStanding}}</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <div class="form-group">
                <div align="center">
                    <div align="center">
                        <!--                        <a class="btn btn-primary btn-sm " type="submit" role="button" data-ng-click="SaveLoan()" ng-disabled="addClicked" style="padding:5px 20px;" ng-if="HideAdd">{{SHGmeetingLanguage.saveLabel}} </a>&nbsp;-->

                        <a data-ng-click="" data-dismiss="modal" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">{{SHGmeetingLanguage.cancel}} </a>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <style>
        div.scroll {
            width: 100%;
            height: 100px;
            overflow: scroll;
        }

        .toggle.android {
            border-radius: 0px;
        }

        .toggle.android .toggle-handle {
            border-radius: 0px;
        }

        #mapCanvas {
            width: 500px;
            height: 400px;
            float: left;
        }

        #infoPanel {
            margin-left: 100px;
        }

        #infoPanel div {
            margin-bottom: 5px;
        }

    </style>
</shgmeetingmodal>
<!--loan new changes -->


<shgmeetingmodal visible="loanModel111">
    <div class="modal-header" style="background:#ffffff;padding:0px;border-bottom:1px solid #d5d7df;">
        <div class="pull-right" style='padding:15px;'></div>
        <h4 class="stylelink active modal-title" style="font-weight:bold;">
            <img src="images/piclinks/loan-red-copy.png" width="25px" height="20px" />&nbsp;&nbsp;View Loan</h4>
    </div>
    <div style="width:100%; height:auto; min-height:350px;  border: 1px solid #ffffff;padding:5px;background:#ffffff;">
        <br>
        <form>
            <div class="row padding2">
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="number" placeholder="Amount of Loan Taken" style="width:100%;border:none;color:#74b53f;">
                        <label style="font-weight:600;margin-top:4px;">Amount of Loan Taken</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <select ui-select2="" id="maritalstatus" ng-model="loanheader.reason" data-placeholder="{{SHGmeetingLanguage.selectreasonfortakingloan}}" style="width:100%" ng-disabled="disableReason">
                            <option value=""></option>
                            <option ng-repeat="reasonforloan in reasonforloans" ng-if="UserLanguage==1" value="{{reasonforloan.id}}">{{ reasonforloan.name }}</option>
                            <option data-ng-repeat="reasonforloan in reasonforloans" ng-if="UserLanguage!=1" value="{{reasonforloan.parentId}}">{{ reasonforloan.name }}</option>
                        </select>
                        <label for="" style="font-weight:600;margin-top:4px;">Reason for Taking Loan</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" placeholder="No of Installments to be Paid" style="width:100%;border:none;">
                        <label for="" style="font-weight:600;margin-top:4px;">No of Installments to be Paid</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" placeholder="Loan Outstanding" style="width:100%;border:none;" readonly>
                        <label for="" style="font-weight:600;margin-top:4px;">Loan Outstanding</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="" style="font-weight:600;margin-top:4px;">Installment Repaid</label>
                        <input type="text" class="form-control" placeholder="Installment Repaid" style="width:100%;">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="" style="font-weight:600;margin-top:4px;">Amount of Installment to be Paid</label>
                        <input type="text" class="form-control" placeholder="Amount of Installment to be Paid" style="width:100%;" readonly>
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group">
                <div align="right">
                    <a class="btn btn-danger btn-sm" role="button" data-dismiss="modal" style="padding:5px 20px;margin-right:10px;">Cancel</a>

                    <a class="btn btn-primary btn-sm " type="submit" role="button" style="padding:5px 20px;margin-right:30px;" ng-disabled="addClicked" style="padding:5px 20px;margin-right:30px;" ng-if="HideAdd">Update</a>&nbsp;
                </div>
            </div>
        </form>
    </div>

    <style>
        div.scroll {
            width: 100%;
            height: 100px;
            overflow: scroll;
        }

        .toggle.android {
            border-radius: 0px;
        }

        .toggle.android .toggle-handle {
            border-radius: 0px;
        }

        #mapCanvas {
            width: 500px;
            height: 400px;
            float: left;
        }

        #infoPanel {
            margin-left: 100px;
        }

        #infoPanel div {
            margin-bottom: 5px;
        }

    </style>
</shgmeetingmodal>
<!--loan new changes -->
