<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 30px 10px 15px 0px;
        padding-left: 0px;
        /*        border-bottom: 4px solid #e72e5a;*/
    }

    .tht:hover {
        color: blue;
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        /*        border-bottom: 1px solid #e6e6e6;*/
    }

    .sell {
        position: relative;
        min-width: 45px;
    }

    .sell:after {
        content: url(images/piclinks/down-arrow.png);
        font: 17px "Consolas", monospace;
        color: #333;
        top: 5px;
        margin-left: -22px;
        padding: 0 0 2px;
        position: absolute;
        pointer-events: none;
    }

    .sell select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        /*        max-width: 320px;*/
        height: 32px;
        float: left;
        padding: 0px 7px;
        font-size: 14px;
        line-height: 1.75;
        color: #878993;
        border-radius: 4px;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #d5d7df;
        -ms-word-break: normal;
        word-break: normal;
    }

    .customcheck {
        display: block;
        position: relative;
        padding-left: 10px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        top: 6px;
    }

    .customcheck input {
        position: absolute;
        opacity: 0;
    }

    .checkmark {
        position: absolute;
        height: 18px;
        width: 18px;
        background-color: #ffffff;
        border: 1px solid #d5d7df;
    }

    .customcheck:hover input~.checkmark {
        background-color: #f4f4f4;
    }

    .customcheck input:checked~.checkmark {
        background-color: #73b33e;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .customcheck input:checked~.checkmark:after {
        display: block;
    }

    .customcheck .checkmark:after {
        left: 6px;
        top: 2px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
    }

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 10px 20px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 10px 20px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        .space {
            padding: 5px 0px 5px 0px;
        }
    }

    .inactive {
        color: #dddddd;
        pointer-events: none;
        cursor: default;
    }

    .inactive1 {
        color: #dddddd;
        pointer-events: none;
        cursor: default;
    }

</style>

<style>
    th {
        cursor: pointer;
    }

        {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    .smright2txt {
        padding-top: 0.4em;
    }

    .top {
        padding-top: 1.7em;
    }

    .sp {
        margin-right: -15px;
    }

</style>
<!--
<script>
table th.active {color: blue;}
$(document).ready(function(){
    $("#rowClick > th").click(function(){
        $(this).toggleClass("active");
    });
});
</script>
-->
<!--
<script type="text/javascript">
    var sortingOrder = 'name';
</script>
-->

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;" data-ng-init="toggleLoading()">
    <div id="wrapper">
        <div class="stylelink active box-header with-border" style="">
            <h3 class="box-title" style="font-weight:600;">{{HHLanguage.houseHoldList}}</h3>
        </div>
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <!--
        <div align="left">
            <a data-ng-href="/members/create" class="btn btn-primary btn-sm " role="button">{{addnew}} </a>
        </div>
-->
        <br/>

        <div data-ng-hide="hideSearchFilter()" style="padding:5px;">


            <div data-ng-hide="hideSearchFilter()" style="padding:5px;">

                <div class="row">
                    <div class="col-sm-5">
                        <div class="col-sm-6 sp" ng-if="Showforsite1">
                            <div class="form-group">
                                <label for="maritalstatus">{{HHLanguage.hfFilter}}HF<sup>*</sup> </label>
                                <div>
                                    <select ui-select2="" id="maritalstatus" data-ng-model="obj.HfId" data-placeholder="{{HHLanguage.hfFilter}}" style="width:100%">
                                    <option value=""></option>
                                    <option data-ng-repeat="user in users" value="{{user.id}}">{{ user.name }}</option>
                                </select>
                                </div>
                            </div>


                            <!--
                    <div class="col-sm-6 sp">
                        <div class="form-group">
                            <label for="maritalstatus">{{HHLanguage.SHGFilter}}SHG<sup>*</sup> </label>
                            <div>
                                <select ui-select2="" id="maritalstatus" data-ng-model="obj.shgId" data-placeholder="{{HHLanguage.SHGFilter}}" style="width:100%" ng-disabled="disableShg">
                                    <option value=""></option>
                                    <option ng-repeat="shg in shgs" value="{{shg.id}}">{{shg.groupName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
-->
                        </div>
                        <div class="col-sm-6 sp">
                            <div class="form-group">
                                <label for="maritalstatus">{{HHLanguage.SHGFilter}}SHG<sup>*</sup> </label>
                                <select ui-select2="" id="maritalstatus" data-ng-model="obj.shgId" data-placeholder="{{HHLanguage.SHGFilter}}" style="width:100%" ng-disabled="disableShg">
                                    <option value=""></option>
                                    <option ng-repeat="shg in shgs" value="{{shg.id}}">{{shg.groupName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="col-sm-2"></div>
                        <div data-ng-hide="hideSearchFilter()" class="col-sm-1  col-md-1" style=" padding-right:0px;padding-left:0px;">
                            <label class="showlabel">{{HHLanguage.show}}</label>
                            <div class="sell">
                                <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                            </div>
                            <!--					<span>Entries</span>-->
                        </div>
                        <div data-ng-hide="hideSearchFilter()" class="col-sm-5 col-md-5 top" style="padding-right:0px;">
                            <div class="space">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" style="border-top-left-radius:4px;border-bottom-left-radius: 4px;border-color:#d5d7df;background:none;border-right:none;"><span class="glyphicon glyphicon-search"></span></button>
                                    </span>
                                    <input type="text" id="Search" class="form-control ng-pristine ng-valid" placeholder="{{HHLanguage.search}}" style="z-index:0;border-left:none;border-color:#d5d7df;border-top-right-radius:4px;border-bottom-right-radius: 4px;" data-ng-model="searchInput" focus="someFocusVariable">

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2  col-md-2 top">
                            <a class="btn btn-primary btn-sm " role="button" ng-click="SaveConfirmPopUp()" style="padding:5px 20px;margin-right:10px;" ng-disabled="disableShg">{{HHLanguage.migrate}} Migarte </a>
                        </div>
                        <!--
                    <div class="col-sm-2 col-md-2  smright smright2txt">
                        <a data-ng-href="" class="btn btn-success btn-sm " role="button" ng-click="exportData()" style="padding:5px 20px;margin-right:10px;color:#ffffff;"><img src="images/export-icon.png">&nbsp;&nbsp;{{HHLanguage.exportData}}</a>
                    </div>
-->
                    </div>
                </div>
            </div>
        </div>

        <!--        <br />-->
        <div class="row" ng-if="Showforsite1">
            <!--
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="maritalstatus" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{HHLanguage.statusFilter}} </label>
                    <div class="col-sm-6">
                        <select ui-select2="" id="maritalstatus" data-ng-model="status" data-placeholder="{{HHLanguage.statusFilter}}" style="width:100%">
                            <option value=""></option>
                            <option value="active">Active</option>
                            <option disabled>Archive</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="maritalstatus" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{HHLanguage.SHGFilter}} </label>
                    <div class="col-sm-6">
                        <select ui-select2="" id="maritalstatus" data-ng-model="obj1.shgId" data-placeholder="{{HHLanguage.SHGFilter}}" style="width:100%">
                            <option value=""></option>
                            <option ng-repeat="shg in shgs" value="{{shg.id}}">{{shg.groupName}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="maritalstatus" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{HHLanguage.hfFilter}} </label>
                    <div class="col-sm-6">
                        <select ui-select2="" id="maritalstatus" data-ng-model="obj.HfId" data-placeholder="{{HHLanguage.hfFilter}}" style="width:100%">
                            <option value=""></option>
                            <option data-ng-repeat="user in users" value="{{user.id}}">{{ user.name }}</option>
                        </select>
                    </div>
                </div>
            </div>
-->
        </div>

        <!--
        <div class="row" ng-if="hideforHf">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="maritalstatus" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{HHLanguage.statusFilter}} </label>
                    <div class="col-sm-6">
                        <select ui-select2="" id="maritalstatus" data-ng-model="status" data-placeholder="{{HHLanguage.statusFilter}}" style="width:100%">
                            <option value=""></option>
                            <option value="active">Active</option>
                            <option disabled>Archive</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="maritalstatus" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{HHLanguage.SHGFilter}} </label>
                    <div class="col-sm-6">
                        <select ui-select2="" id="maritalstatus" data-ng-model="obj1.shgId" data-placeholder="{{HHLanguage.SHGFilter}}" style="width:100%">
                            <option value=""></option>
                            <option ng-repeat="shg in shgs" value="{{shg.id}}">{{shg.groupName}}</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
        <br/>
-->
        <style>
            table,
            th,
            td {
                fill: #262d57;
                font-size: 14px;
            }

            th {
                background-color: #d5d7df;
                font-weight: normal;
            }

            tr {
                background-color: White;
                color: #262d57;
                font-size: 10px;
            }

        </style>
        <div data-ng-hide="showForm()" class="table-responsive">
            <table class="table">
                <thead>
                    <tr id="rowClick">
                        <th style="padding-left:24px">S NO.</th>
                        <th title="{{HHLanguage.houseHoldId}}" ng-click="changeSorting('HHId')" style="width:140px;">{{HHLanguage.houseHoldId | uppercase}}Name<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('HHId')"></i></span></th>

                        <th title="{{HHLanguage.noOfMembersInHH}}" ng-click="changeSorting('noOfMembersDisplay')">{{HHLanguage.noOfMembersInHH | uppercase}}Individual Id<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('noOfMembersDisplay')"></i></span></th>

                        <th title="{{HHLanguage.nameOfHeadOfHH}}" ng-click="changeSorting('nameOfHeadInHH')">{{HHLanguage.nameOfHeadOfHH | uppercase}}Age<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('nameOfHeadInHH')"></i></span></th>

                        <th title="{{HHLanguage.SHGToWhichAnyMember}}" ng-click="changeSorting('ssgThisHHBelongs')">{{HHLanguage.SHGToWhichAnyMember | uppercase}} Mobile<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('ssgThisHHBelongs')"></i></span></th>

                        <th title="{{HHLanguage.hf}}" ng-click="changeSorting('assignedTo')" ng-if="Showforsite">{{HHLanguage.hf | uppercase}}SHG <span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('assignedTo')"></i></span></th>

                        <th title="{{HHLanguage.hf}}" ng-click="changeSorting('assignedTo')" ng-if="Showforsite">{{HHLanguage.hf | uppercase}}Assigned To<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('assignedTo')"></i></span></th>

                        <th title="{{HHLanguage.hf}}" ng-click="changeSorting('assignedTo')" ng-if="Showforsite">{{HHLanguage.hf | uppercase}}HH / Member<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('assignedTo')"></i></span></th>

                        <th style="width:10%;">{{HHLanguage.action | uppercase}}Action</th>

                    </tr>
                </thead>
                <tbody id="bnbody">
                    <tr dir-paginate="member in members | search:searchInput:filterFields | orderBy:sort.active:sort.descending | itemsPerPage:pageSize" pagination-id="zonesid" style="color:{{household.backgroundcolor}}">
                        <td style="padding-left:24px;">{{ member.index }}</td>
                        <td>{{ member.name }}</td>
                        <td>{{ member.individualId }}</td>
                        <td>{{ member.age }}</td>
                        <td>{{ member.mobile }}</td>
                        <td>{{ member.shgName }}</td>
                        <td ng-if="Showforsite">{{ member.assignedTo }}</td>
                        <td>{{ member.hhormember }}</td>

                        <td>
                            <label class="customcheck">
                            <input type="checkbox" value="{{member.id}}" ng-change="changeCheck()" ng-model="member.checkbox" checked="checked">
                                <span class="checkmark"></span>
                                </label>
                        </td>

                    </tr>
                </tbody>
            </table>
            <!--
            <div align="right">
                <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
                </dir-pagination-controls>
            </div> 
-->
        </div>

        <div class="padding3" align="right">
            <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" pagination-id="zonesid" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
            </dir-pagination-controls>
        </div>
        <div ng-show="!households.length" style="margin:0 auto;text-align:center;padding-top: 5%;">
            <span style="font-size:18px;font-weight:bold;font-family:Georgia, Serif;">Please select an options</span>
            <!--			<p class="lead text-muted">Please select an options</p>-->
        </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->


<!--<benefmodal1 visible="documentdataModal">
	<div class="modal-header" style="background:#e85a5a;padding-bottom:22px;color:#ffffff;">
		<div class="pull-right">
					<a data-ng-click="OK()" data-dismiss="modal" class="btn btn-success btn-sm " role="button" style="background:#db4242;border-color:#db4242;padding:5px 20px;font-weight:bold;">{{okbutton}}</a>
				</div>
		<h4 class="modal-title">{{modalTitle}}</h4>
	</div>
	<div style="width:100%; height:auto; min-height:200px;  border: 1px solid #ffffff;padding:5px;" id="savemodals">
		<br/>
		<form class="form-horizontal" role="form">
			<br>

			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-6" align="center" style="padding:right">

					<div class="form-group" style="margin:0">

						<input class="col-sm-2" name="reasonforarchive" value="Unable_to_contact_over_the_last_6_months" type="radio" ng-model="beneficiary.reasonforarchive">
						<label class="col-sm-8" for="code" style="font-weight:600;padding-left:0px;text-align:left;">Unable to contact over the last 6 months</label>
					</div>


					<div class="form-group" style="margin:0">
						<input class="col-sm-2" name="reasonforarchive" value="Has_Died" type="radio" ng-model="beneficiary.reasonforarchive">
						<label class="col-sm-8" for="code" style="font-weight:600;padding-left:0px;text-align:left;">Has Died</label>
					</div>

					<div class="form-group" style="margin:0">
						<input class="col-sm-2" name="reasonforarchive" value="Duplicate_Member" type="radio" ng-model="beneficiary.reasonforarchive">
						<label class="col-sm-8" for="code" style="font-weight:600;padding-left:0px;text-align:left;">Duplicate Member</label>
					</div>

					<div class="form-group" style="margin:0">
						<input class="col-sm-2" name="reasonforarchive" value="Reason_Unknown" type="radio" ng-model="beneficiary.reasonforarchive">
						<label class="col-sm-8" for="code" style="font-weight:600;padding-left:0px;text-align:left;">Reason Unknown</label>
					</div>


				</div>
				
			</div>
			
		</form>

	</div>
</benefmodal1>-->

<script type="text/ng-template" id="template/option.html">
    <style>
        p {
            white-space: pre;
        }

    </style>
    <div class="modal-header" style="padding:0px;color:#ffffff;">
        <div class="pull-right" style="padding:15px;">
            <a data-ng-click="OK()" data-dismiss="modal" class="btn btn-success btn-sm " role="button" style="background:#db4242;border-color:#db4242;padding:5px 20px;font-weight:bold;">{{okbutton}}</a>&nbsp;&nbsp;
            <a data-ng-click="Cancelmodal()" data-dismiss="modal" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;font-weight:bold;">{{printcancel}}</a>
        </div>
        <div class=" stylelink active box-header with-border">
            <h4 class="modal-title" style="font-weight:600;">{{modalTitle}}</h4>
        </div>
    </div>
    <div style="width:100%; height:auto; min-height:200px;  border: 1px solid #ffffff;padding:5px;" id="savemodals">
        <br/>
        <form class="form-horizontal" role="form">
            <br>

            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6" align="center" style="padding:right">

                    <div class="form-group" style="margin:0">

                        <input class="col-sm-2" name="reasonforarchive" value="Unable_to_contact_over_the_last_6_months" type="radio" ng-model="beneficiary.reasonforarchive">
                        <label class="col-sm-8" for="code" style="font-weight:600;padding-left:0px;text-align:left;">Unable to contact over the last 6 months</label>
                    </div>


                    <div class="form-group" style="margin:0">
                        <input class="col-sm-2" name="reasonforarchive" value="Has_Died" type="radio" ng-model="beneficiary.reasonforarchive">
                        <label class="col-sm-8" for="code" style="font-weight:600;padding-left:0px;text-align:left;">Has Died</label>
                    </div>

                    <div class="form-group" style="margin:0">
                        <input class="col-sm-2" name="reasonforarchive" value="Duplicate_Member" type="radio" ng-model="beneficiary.reasonforarchive">
                        <label class="col-sm-8" for="code" style="font-weight:600;padding-left:0px;text-align:left;">Duplicate Member</label>
                    </div>

                    <div class="form-group" style="margin:0">
                        <input class="col-sm-2" name="reasonforarchive" value="Reason_Unknown" type="radio" ng-model="beneficiary.reasonforarchive">
                        <label class="col-sm-8" for="code" style="font-weight:600;padding-left:0px;text-align:left;">Reason Unknown</label>
                    </div>


                </div>

            </div>

        </form>

    </div>
</script>

<script type="text/ng-template" id="template/AlertModal.html">
    <style>
        p {
            white-space: pre;
        }

    </style>
    <div class="modal-header" style="background:#e85a5a;padding-bottom:22px;color:#ffffff;">
        <div class="pull-right">
            <a data-ng-click="okAlert()" data-dismiss="modal" class="btn btn-success btn-sm " role="button" style="background:#db4242;border-color:#db4242;padding:5px 20px;font-weight:bold;">{{okbutton}}</a>
        </div>
        <h4 class="modal-title">Alert</h4>
    </div>

    <div class="modal-body">

        Choose an Option
    </div>

    <!--<div class="modal-footer">
		<div align="left">
			<button type="button" class="btn btn-success btn-sm " ng-click="okAlert()">Ok</button>
		</div>
	</div>-->
</script>

<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>



<!-- ************* New Confirmation Model before final save ************ -->
<benefmodal1 visible="confirmSave">
    <div class="modal-header" style="color:#ffffff;padding:10px;">
        <!--        <div class="pull-right" style='padding:15px;'></div>-->
        <h4 class="stylelink modal-title" style="margin-left:5px;color:#262d57">
            <img src="images/piclinks/save.png" width="16px" height="16px" style="margin-top:2px;" />&nbsp;&nbsp; {{HHLanguage.areYouSureToWantToSave}}Are you sure want to Migrate</h4>
    </div>
    <div style="width:100%; height:auto; min-height:440px;  border: 1px solid #ffffff;" id="savemodals">
                <br>
        <form class=" " role="form">
            <div data-ng-hide="showForm()" class="table-responsive">
                <table class="table">
                    <thead>
                        <tr id="rowClick">
                            <th style="padding-left:2.7%;">S NO.</th>
                            <th title="{{HHLanguage.houseHoldId}}" ng-click="changeSorting('HHId')" style="width:140px;">{{HHLanguage.houseHoldId | uppercase}}Name<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('HHId')"></i></span></th>

                            <th title="{{HHLanguage.noOfMembersInHH}}" ng-click="changeSorting('noOfMembersDisplay')">{{HHLanguage.noOfMembersInHH | uppercase}}Individual Id<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('noOfMembersDisplay')"></i></span></th>

                            <th title="{{HHLanguage.nameOfHeadOfHH}}" ng-click="changeSorting('nameOfHeadInHH')">{{HHLanguage.nameOfHeadOfHH | uppercase}}Age<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('nameOfHeadInHH')"></i></span></th>

                            <th title="{{HHLanguage.SHGToWhichAnyMember}}" ng-click="changeSorting('ssgThisHHBelongs')">{{HHLanguage.SHGToWhichAnyMember | uppercase}} Mobile<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('ssgThisHHBelongs')"></i></span></th>

                            <th title="{{HHLanguage.hf}}" ng-click="changeSorting('assignedTo')" ng-if="Showforsite">{{HHLanguage.hf | uppercase}}SHG <span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('assignedTo')"></i></span></th>

                            <th title="{{HHLanguage.hf}}" ng-click="changeSorting('assignedTo')" ng-if="Showforsite">{{HHLanguage.hf | uppercase}}Assigned To<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('assignedTo')"></i></span></th>

                            <th title="{{HHLanguage.hf}}" ng-click="changeSorting('assignedTo')" ng-if="Showforsite">{{HHLanguage.hf | uppercase}}HH / Member<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('assignedTo')"></i></span></th>

                        </tr>
                    </thead>
                    <tbody id="bnbody">
                        <tr dir-paginate="member in membermigrates | search:searchInput:filterFields | orderBy:sort.active:sort.descending | itemsPerPage:pageSize" pagination-id="zonesid" style="color:{{household.backgroundcolor}}">
                            <td style="padding-left:2.7%;width:100px;">{{ member.index }}</td>
                            <td>{{ member.name }}</td>
                            <td>{{ member.individualId }}</td>
                            <td>{{ member.age }}</td>
                            <td>{{ member.mobile }}</td>
                            <td>{{ member.newShgname }}</td>
                            <td ng-if="Showforsite">{{ member.assignedTo }}</td>
                            <td>{{ member.hhormember }}</td>

                        </tr>
                    </tbody>
                </table>

            </div>

            <div class="padding3" align="right">
                <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" pagination-id="zonesid" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
                </dir-pagination-controls>
            </div>
            <br>
            <br>
            <br>
            <br>
            <div class="form-group">
                <div align="right">
                    <a data-ng-click="cancelMigrate()" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">{{HHLanguage.cancel}}Cancel </a>

                    <a data-ng-click="Migrate()" data-dismiss="modal" class="btn btn-info btn-sm " role="button" style="padding:5px 25px;margin-right:30px;">{{HHLanguage.yes}} YES</a>&nbsp;
                </div>
            </div>

        </form>
    </div>

    <style>
        div.scroll {
            width: 100%;
            height: 100px;
            overflow: scroll;
        }

        .toggle.android {
            border-radius: 0px;
        }

        .toggle.android .toggle-handle {
            border-radius: 0px;
        }

        #mapCanvas {
            width: 850px;
            height: 500px;
            /*            float: left;*/
        }

        /*
        #infoPanel {
            margin-left: 100px;
        }
        
*/

        #infoPanel div {
            margin-bottom: 5px;
        }

        table,

    </style>
</benefmodal1>


<!-- ************* New Confirmation Model before final save ************ -->
