<style>
    .stylelink {
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        color: #4a4d72;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 30px 10px 15px 0px;
        padding-left: 0px;
        /*        border-bottom: 4px solid #e72e5a;*/
    }
    
    .tht:hover {
        color: blue;
    }
    
    .inactive {
        color: #dddddd;
        pointer-events: none;
        cursor: default;
    }
    
    .color-blue {
        color: #D3D3D3;
    }
    
    .color-red {
        color: #333;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
        margin-top: 10px;
    }
    
    .sell {
        position: relative;
        min-width: 45px;
    }
    
    .sell:after {
        content: url(images/piclinks/down-arrow.png) ;
        font: 17px "Consolas", monospace;
        color: #333;
        top: 5px;
        margin-left: -22px;
        padding: 0 0 2px;
        position: absolute;
        pointer-events: none;
    }
    
    .sell select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        /*        max-width: 320px;*/
        height: 32px;
        float: left;
        padding: 0px 7px;
        font-size: 14px;
        line-height: 1.75;
        color: #878993;
        border-radius: 4px;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #d5d7df;
        -ms-word-break: normal;
        word-break: normal;
    }
    
    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 10px 20px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 10px 20px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
    }

</style>

<!--<br/>-->
<div class="box box-info ng-scope" style="min-height:450px;border-top:none;" data-ng-init="toggleLoading()">
    <div id="wrapper">
        <div class="stylelink active   box-header with-border ">
            <h3 class=" box-title" style="font-weight:600;">{{SHGmeetingLanguage.ShgMeeting}}</h3>
        </div>
    </div>
    <div class="box-body">
        <br>
        <div class="row" style="margin:0;padding:0;">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
                <div class="col-sm-2"></div>
                <div data-ng-hide="hideSearchFilter()" class="col-sm-1 col-md-1" style="padding-right:0px;padding-left:0px;border-color:#d5d7df">
                    <label class="showlabel"> {{SHGmeetingLanguage.show}}</label>
                    <div class="sell">
                        <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)" class="ng-pristine ng-valid">
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                        <!--					<span>Entries</span>-->
                    </div>
                </div>


                <div data-ng-hide="hideSearchFilter()" class="col-sm-4 col-md-4 smright2txt" style="padding-right:0px;">
                    <!--
            <div class="row" style="margin:0;padding:0;">
						<div class="col-sm-5"></div>
						<div class="col-sm-7">
-->
                    <form role="form" class="ng-pristine ng-valid">
                        <div class="input-group">
                            <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-left-radius:4px;border-bottom-left-radius: 4px;border-color:#d5d7df;background:none;border-right:none;"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                            <input type="text" class="form-control ng-pristine ng-valid" placeholder="{{SHGmeetingLanguage.search}}" style="z-index:0;border-left:none;border-color:#d5d7df;border-top-right-radius:4px;border-bottom-right-radius: 4px;" ng-model="searchPart" focus="someFocusVariable">

                        </div>
                    </form>
                </div>
                <div class="col-sm-2 col-md-2  smright smright2txt">
                    <a data-ng-href="" class="btn btn-success btn-sm" role="button" ng-click="exportData()" style="padding:5px 20px;margin-right:10px;color:#ffffff;" ng-disabled="DisableExport"><img src="images/export-icon.png">&nbsp;&nbsp;{{SHGmeetingLanguage.exportData}}</a>
                </div>
                <div class="col-sm-2 col-md-2 smright2txt">
                    <a class="btn btn-primary btn-sm" role="button" data-ng-hide="hideCreateButton()" style="padding:5px 20px;margin-right:10px;" href="/shgmeeting/create">{{SHGmeetingLanguage.addNew}}</a>
                </div>
            </div>
        </div>
        <br>

        <div data-ng-hide="showForm()" class="">
            <div>
                <!--
                <br>
                <form role="form" class="form-horizontal ng-pristine ng-valid">
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:5px;">Status Filter</label>
                                <div class="col-sm-6">
                                    <select ui-select2="" ng-model="status" data-placeholder="Pick a Status" style="width:100%" class="ng-pristine ng-valid select2-offscreen" tabindex="-1" title="">
                                        <option value=""></option>
                                        <option value="active">Active</option>
                                        <option value="archive" disabled>Archive</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                </form>
-->
<!--                <br>-->
                <style>
                    table,
th,
td {
    fill: #262d57;
    font-size: 14px;
}
th {
    background-color: #d5d7df;
    font-weight: normal;
}
tr {
    background-color: White;
    color: #262d57;
    font-size: 10px;
}
                </style>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="padding-left:30px;">S NO.</th>
                                <th ng-click="changeSorting('groupName')" title="{{SHGmeetingLanguage.grpName}}">{{SHGmeetingLanguage.grpName | uppercase}}<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('groupName')"></i></span></th>
                                <th ng-click="changeSorting('membersInGroupLength')" title="{{SHGmeetingLanguage.noOfMembers}}">{{SHGmeetingLanguage.noOfMembers | uppercase}}<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('membersInGroupLength')"></i></span></th>
                                <th ng-click="changeSorting('noOfMembersAttended')" title="{{SHGmeetingLanguage.totalNoOfMembersAttended}}">{{SHGmeetingLanguage.totalNoOfMembersAttended | uppercase}}<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('noOfMembersAttended')"></i></span></th>
                                <th ng-click="changeSorting('noOfMembersSaved')" title="{{SHGmeetingLanguage.totalNoOfMembersSaved}}">{{SHGmeetingLanguage.totalNoOfMembersSaved | uppercase}}<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('noOfMembersSaved')"></i></span></th>
                                <th ng-click="changeSorting('lastMeetingDate')" title="{{SHGmeetingLanguage.lastMeetingDate}}">{{SHGmeetingLanguage.lastMeetingDate | uppercase}}<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('lastMeetingDate')"></i></span></th>
                                <th ng-click="changeSorting('amountSaved')" title="{{SHGmeetingLanguage.amountSavedInMeeting}}">{{SHGmeetingLanguage.amountSavedInMeeting | uppercase}}<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('amountSaved')"></i></span></th>
                                <th title="{{SHGmeetingLanguage.action}}">{{SHGmeetingLanguage.action | uppercase}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--TotalData -->
                            <tr dir-paginate="shgmeetingheader in shgmeetingheaders | filter:searchPart |itemsPerPage:pageSize| orderBy:sort.active:sort.descending" current-page="currentPage" pagination-id="surId">
                                <td style="padding-left:30px;">{{shgmeetingheader.index}}</td>
                                <td>{{shgmeetingheader.groupName}}</td>
                                <td>{{shgmeetingheader.membersInGroupLength}}</td>
                                <td>{{shgmeetingheader.noOfMembersAttended}}</td>
                                <td>{{shgmeetingheader.noOfMembersSaved}}</td>
                                <td>{{shgmeetingheader.lastMeetingDateDsply}}</td>
                                <td>Rs. {{shgmeetingheader.amountSaved}}</td>
                                <td>
                                    <a data-ng-href="/shgmeeting/view/{{shgmeetingheader.id}}">
                                        <!--                                        <span class="glyphicon glyphicon-eye-open"  title="{{SHGmeetingLanguage.view}}" style="color:#333;"></span>-->
                                        <img src="images/piclinks/view-icon.png" title="{{SHGmeetingLanguage.view}}" width="18px"></a>&nbsp;&nbsp;&nbsp;
                                    <!--                                    <a style="color:#b7b8c8">|</a>&nbsp;&nbsp;-->

                                    <a data-ng-href="/shgmeeting/edit/{{shgmeetingheader.id}}" title="{{SHGmeetingLanguage.edit}}" ng-class="shgmeetingheader.disableEdit ? '' : 'inactive'">
                                        <!--
                                        <span class="glyphicon glyphicon-pencil" ng-class="{
        'color-red': shgmeetingheader.disableEdit === true, 
        'color-blue': shgmeetingheader.disableEdit === false}"
></span>
-->
                                        <img src="images/piclinks/edit.png" class="{
        'color-red': shgmeetingheader.disableEdit === true, 
        'color-blue': shgmeetingheader.disableEdit === false}" width="16px;"></a>&nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="padding4" align="right">
                    <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" pagination-id="surId" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
                    </dir-pagination-controls>
                </div>
                <!--
                <div ng-show="!shgmeetingheaders.length" style="margin:0 auto;text-align:center;padding-top: 5%;">
                    <span style="font-size:18px;font-weight:bold;font-family:Georgia, Serif;">Please select an options</span>
                    			<p class="lead text-muted">Please select an options</p>
                </div>
-->

            </div>
        </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>

<!-- /.box -->

<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>
