<style>
    /*	.stylelink {
		padding: 3px 10px;
		background: transparent;
		color: #333;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}
	
	.stylelink.active {
		padding: 3px 10px;
		background: #b71c1c;
		color: #fff;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		font-weight: 600;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}*/
    
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;
        border-bottom: 4px solid #e72e5a;
    }
    
    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }
    
    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        /*		border-bottom: 2px solid #01adfb;*/
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
         border-bottom: 4px solid #f4f4f4;
        		background-color: #fff;
        margin-top: 12px;
    }
    
    #wrapper div {
        display: table-cell;
        height: auto;
    }
    
    .sell {
        position: relative;
        min-width: 45px;
    }
    
    .sell:after {
        content: url(images/piclinks/down-arrow.png) ;
        font: 17px "Consolas", monospace;
        color: #333;
        top: 5px;
        margin-left: -22px;
        padding: 0 0 2px;
        position: absolute;
        pointer-events: none;
    }
    
    .sell select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        /*        max-width: 320px;*/
        height: 32px;
        float: left;
        padding: 0px 7px;
        font-size: 14px;
        line-height: 1.75;
        color: #878993;
        border-radius: 4px;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #d5d7df;
        -ms-word-break: normal;
        word-break: normal;
    }d-break: normal;
    
 
/*
    .content {
        padding: 26px;
    }
*/

/*
    table,
    th,
    td {
        fill: #262d57;
        font-size: 14px;
    }

    th {
        background-color: #d5d7df;
        font-weight: normal;
    }

    tr {
        background-color: White;
        color: #262d57;
        font-size: 10px;
    }
*/
    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/
    
    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 10px 20px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 10px 20px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        .space {
            padding: 5px 0px 5px 0px;
        }
    }

</style>

<div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
        <div style="text-align:center;">
            <a class="stylelink" href="/country-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">COUNTRY</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/state-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">STATE</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/district-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">DISTRICT</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink active" href="/site-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">SITE</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/area-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">AREA</span></a>
        </div>
        <!--<div style="text-align:center;">
			<a class="stylelink" href="/employees"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">FACILITY</span></a>
		</div>
		<div style="text-align:center;">
			<a class="stylelink" href="/routes"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">SITE</span></a>
		</div>-->
    </div>

</div>


<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <!--    <div class="box-header with-border">-->
    <!--		<h3 class="box-title">Town</h3>-->
    <!--    </div>-->
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <br/>
        <div class="row padding1">
            <div class="col-sm-4">
                <form class=" " role="form" data-ng-hide="showForm()">
                    <div class="row">
                        <div class="col-sm-6" style="margin-right:-15px;">
                            <label for="salesarea">Country </label>
                            <div>
                                <select ui-select2 id="state" ng-model="countryId" data-placeholder="Pick a Country" style="width: 100%;">
                                    <option value=""></option>
                                    <option data-ng-repeat="country in countries" value="{{country.id}}">{{ country.name }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <label for="zone">State </label>
                            <div>
                                <select ui-select2 id="country" ng-model="stateId" data-placeholder="Pick a State" style="width: 100%;">
                                    <option value=""></option>
                                    <option data-ng-repeat="state in displaystates" value="{{state.id}}">{{ state.name }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-6" style="margin-top:5px;">
                            <label for="zone">District </label>
                            <div>
                                <select ui-select2 id="country" ng-model="districtId" data-placeholder="Pick a District" style="width: 100%;">
                                    <option value=""></option>
                                    <option data-ng-repeat="district in displaydistricts" value="{{district.id}}">{{ district.name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-8" style="padding-left:6%;">
<!--                <div class="col-sm-1"></div>-->
                <div data-ng-hide="hideSearchFilter()" class="col-sm-1 col-md-1" style="padding-right:0px;border-color:#e1e8ee;padding-left:0px;">
                    <label class="showlabel">Show</label>
                    <div class="sell">
                        <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <!--					<span>Entries</span>-->
                </div>
                <div data-ng-hide="hideSearchFilter()" class="col-sm-4 col-md-4 smright2txt" style="padding-right:0px;">
                    <div class="space">
                        <form role="form">
                            <div class="input-group">
                                <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-left-radius:4px;border-bottom-left-radius: 4px;border-color:#d5d7df;background:none;border-right:none;"><span class="glyphicon glyphicon-search"></span></button>
                                </span>
                                <input type="text" class="form-control  ng-pristine ng-valid" placeholder="Search" style="z-index:0;border-left:none;border-color:#d5d7df;border-top-right-radius: 4px;border-bottom-right-radius:4px;" data-ng-model="searchCity" focus="someFocusVariable">

                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-2 col-md-2  smright smright2txt" style="padding-right: 0px;">
                    <a data-ng-href="" class="btn btn-success btn-sm " role="button" ng-click="exportData()" style="padding:5px 20px;margin-right:10px;" data-ng-hide="hideCreateButton()"><img src="images/export-icon.png">&nbsp;&nbsp;Export Data </a>
                </div>
                <div class="col-sm-4  col-md-4" style="padding-top: 1.7em;">
                    <a data-ng-href="/site/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-bottom:5px">Add New </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a data-ng-href="/uploadsite" class="btn btn-success btn-sm " role="button" data-ng-hide="hideCreateButton()" style="padding:5px 20px;margin-bottom:5px">Upload</a>
                </div>
            </div>
        </div>
<!--        <br/>-->

        <form class=" " role="form" data-ng-show="showForm()">
            <toaster-container toaster-options="{'position-class': 'toast-container-custo','time-out': 3000,'body-output-type': 'template'}"></toaster-container>

            <p align="center" style="color:#ec0b6d">All fields in * are mandatory</p>
            <br/>
            <div class="row padding1">
                    <div class="col-sm-3">
                    <div class="form-group">
                        <label for="state"  >Country<sup>*</sup> </label>
                        <div >
                            <select ui-select2 id="state" data-ng-model="site.countryId" data-placeholder="Pick a Country" style="width: 100%;">
                                <option value=""></option>
                                <option data-ng-repeat="country in countries" value="{{country.id}}">{{ country.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="state" >State<sup>*</sup> </label>
                        <div >
                            <select ui-select2 id="state" data-ng-model="site.stateId" data-placeholder="Pick a State" style="width: 100%;">
                                <option value=""></option>
                                <option data-ng-repeat="state in states" value="{{state.id}}">{{ state.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                 <div class="col-sm-3">
                    <div class="form-group">
                        <label for="state" >District<sup>*</sup> </label>
                        <div >
                            <select ui-select2 id="district" data-ng-model="site.districtId" data-placeholder="Pick a District" style="width: 100%;">
                                <option value=""></option>
                                <option data-ng-repeat="district in districts" value="{{district.id}}">{{ district.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                   <div class="col-sm-3">
                    <div class="form-group">
                        <label for="state"  >Type of site<sup>*</sup> </label>
                        <div >
                            <select ui-select2 id="state" data-ng-model="site.typeOfSite" data-placeholder="Pick a Type of site" style="width: 100%;">
                                <option value=""></option>
                                <option data-ng-repeat="typeofsite in typeofsites" value="{{typeofsite.id}}">{{ typeofsite.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name" >Site Name<sup>*</sup></label>
                        <div >
                            <input type="text" class="form-control" id="name" data-ng-model="site.name" placeholder="Name" style="width:100%;">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name"  >Site Code<sup>*</sup> </label>
                        <div >
                            <input type="text" class="form-control" id="code" data-ng-model="site.code" placeholder="Site Code" style="width:100%;">
                        </div>
                    </div>
                </div>
             
            
               
                <!--            <div class="col-sm-6"></div>-->
            </div>
            <br/>
            <br/>
            <br/>

            <div align="right">
                <div>
                    <a data-ng-href="/site-list" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">Cancel</a>
                    
                    <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:30px;">Create </a>

                    <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:30px;">Update </a>
                </div>
            </div>

        </form>

        <div data-ng-hide="hideSearchFilter()">
            <!--

            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6" style="padding-top:5px;">
                    <span>Show</span>
                    <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <span>Entries</span>
                </div>
                <div class="col-sm-6">
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-5"></div>
                        <div class="col-sm-7">
                            <form role="form">
                                <div class="input-group">
                                    <input type="text" class="form-control  ng-pristine ng-valid" placeholder="Search" style="z-index:0;border-right:none;border-color:#e1e8ee;border-top-left-radius: 4px;border-bottom-left-radius:4px;" data-ng-model="searchCity">
                                    <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-right-radius:4px;border-bottom-right-radius: 4px;border-color:#e1e8ee;background:none;border-left:none;"><span class="glyphicon glyphicon-search"></span></button>
                                    </span>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
-->
        </div>
        <br />


        <div data-ng-hide="showForm()">
            <!--
        <form class="form-horizontal" role="form">
            <div class="row" style="padding:0;">
                <div class="col-sm-4">
                    <label for="salesarea" class="col-sm-3" style="font-weight:600; margin-top: 5px;">Country </label>
                    <div class="col-sm-6" style="padding-left:0px">
                        <select ui-select2 id="state" ng-model="countryId" data-placeholder="Pick a Country" style="width: 180px;">
                            <option value=""></option>
                            <option data-ng-repeat="country in countries" value="{{country.id}}">{{ country.name }}</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-4">
                    <label for="zone" class="col-sm-3" style="font-weight:600; margin-top: 5px;">State </label>
                    <div class="col-sm-6" style="padding-left:0px">
                        <select ui-select2 id="country" ng-model="stateId" data-placeholder="Pick a State" style="width: 180px;">
                            <option value=""></option>
                            <option data-ng-repeat="state in displaystates" value="{{state.id}}">{{ state.name }}</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-4">
                    <label for="zone" class="col-sm-3" style="font-weight:600; margin-top: 5px;">District </label>
                    <div class="col-sm-6" style="padding-left:0px">
                        <select ui-select2 id="country" ng-model="districtId" data-placeholder="Pick a District" style="width: 180px;">
                            <option value=""></option>
                            <option data-ng-repeat="district in displaydistricts" value="{{district.id}}">{{ district.name }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <br/>
        </form>
-->

            <div class="table-responsive">
                <table class="table ">
                    <thead>
                        <tr>
                            <th ng-click="changeSorting('index')" title="#" style="cursor:pointer;padding-left:30px;">S NO.<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('index')"></i></span></th>
                            <th ng-click="changeSorting('name')" title="SITE" style="cursor:pointer;">SITE<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('name')"></i></span></th>
                            <th ng-click="changeSorting('code')" title="SITE CODE" style="cursor:pointer;">SITE CODE<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('code')"></i></span></th>
                            <th ng-click="changeSorting('typeOfSite')" title="SITE TYPE" style="cursor:pointer;">SITE TYPE<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('typeOfSite')"></i></span></th>
                            <th ng-click="changeSorting('districtId')" title="DISTRICT" style="cursor:pointer;">DISTRICT<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('districtId')"></i></span></th>
                            <th ng-click="changeSorting('stateId')" title="STATE" style="cursor:pointer;">STATE<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('stateId')"></i></span></th>
                            <th ng-click="changeSorting('countryId')" title="COUNTRY" style="cursor:pointer;">COUNTRY<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('countryId')"></i></span></th>
                            <th style="width:100px;">ACTION</th>
                            <!--<th></th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <!--current-page="currentpage"-->
                        <tr dir-paginate="site in DisplaySites| filter:searchCity | orderBy:sort.active:sort.descending |itemsPerPage:pageSize" pagination-id="townid" current-page=currentpage>
                            <td style="padding-left:30px;">{{ site.index }}</td>
                            <td>{{site.id}} - {{site.name}}</td>
                            <td>{{site.code}}</td>
                            <td>{{site.typeofsitename}}</td>
                            <td data-ng-init="district = getDistrict(site.districtId)">{{district.name}}</td>
                            <td data-ng-init="state = getState(site.stateId)">{{state.name}}</td>
                            <td data-ng-init="country = getCountry(site.countryId)">{{country.name}}</td>
                            <td>
                                <a data-ng-href="/site/edit/{{site.id}}"><img src="images/piclinks/edit.png" width="16px;"></a>&nbsp;&nbsp;
                                <!--
                                <a style="color:#b7b8c8;">|</a>&nbsp;&nbsp;
                                <a confirm-button="Delete(site.id)" message="Are you sure? you want to delete?"><span class="glyphicon glyphicon-remove" style="cursor:pointer;" title="Bin"></span></a>&nbsp;
-->
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="padding4" align="right">
                    <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" pagination-id="townid" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
                    </dir-pagination-controls>
                </div>
                <div ng-show="!DisplaySites.length" style="margin:0 auto;text-align:center;padding-top: 5%;">
                    <span style="font-size:18px;font-weight:bold;font-family:Georgia, Serif;">Please select an options</span>
                </div>
            </div>
        </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->


<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert!!!" visible="showValidation">
    {{validatestring1}}
</validationmodal>
