<div style="width:100%; height:auto; min-height:500px;background: #FFFFF0;  border: 1px solid #E6E6E6; margin: 5px auto; padding:5px;">
    <br/>
    <div class="row form-horizontal" style="margin:0;padding:0;">
            <div class="col-sm-6">
     <div class="form-group">
                    <label for="code" class="col-sm-4 control-label" style="margin-top: -5px;"> Beneficiary:</label>
                    <div class="col-sm-6">
                        <select ui-select2 data-ng-model="socialprotection.partnerId" data-placeholder="Pick a Beneficiary " style="width:200px;">
                            <option value=""></option>
                            <option data-ng-repeat="partner in partners" value="{{partner.id}}">{{ partner.partnerCode +' - '+ partner.firstName }}</option>
                        </select>
                    </div>
                </div>
            </div>
    </div>
    
    <div class="row" style="margin:0;padding:0;">
         <div align="center">
            <h4 style="font-family: Georgia; font-weight: bold; font-size: 25px;">Social Protection </h4>
        </div>
        
    </div>
   
    
    <form class="form-horizontal" role="form">
        <div class="row" style="margin:0;padding:0;">
            <div>
                <h4 style="font-family: Georgia; font-weight: bold; font-size: 25px;">IDs</h4>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="code" class="col-sm-6 control-label" style="margin-top: -5px;">PAN </label>
                    <div class="col-sm-6">
                        <select ui-select2 data-ng-model="socialprotection.pan" data-placeholder="Pick a PAN Status" style="width:200px;">
                            <option value=""></option>
                            <option data-ng-repeat="pan in applicationstages" value="{{pan.id}}">{{ pan.name }}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="code" class="col-sm-6 control-label" style="margin-top: -5px;">BPL </label>
                    <div class="col-sm-6">
                        <select ui-select2 data-ng-model="socialprotection.bpl" data-placeholder="Pick a BPL Status " style="width:200px;">
                            <option value=""></option>
                            <option data-ng-repeat="bpl in applicationstages" value="{{bpl.id}}">{{ bpl.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="code" class="col-sm-6 control-label" style="margin-top: -5px;">Aadhaar </label>
                    <div class="col-sm-6">
                        <select ui-select2 data-ng-model="socialprotection.aadhar" data-placeholder="Pick a Aadhar Status " style="width:200px;">
                            <option value=""></option>
                            <option data-ng-repeat="aadhar in applicationstages" value="{{aadhar.id}}">{{ aadhar.name }}</option>
                        </select>
                    </div>
                </div>


                <div class="form-group">
                    <label for="code" class="col-sm-6 control-label" style="margin-top: -5px;">Voter ID </label>
                    <div class="col-sm-6">
                        <select ui-select2 data-ng-model="socialprotection.voterid" data-placeholder="Pick a Voter ID Status " style="width:200px;">
                            <option value=""></option>
                            <option data-ng-repeat="voterid in applicationstages" value="{{voterid.id}}">{{ voterid.name }}</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>

        <div class="row" style="margin:0;padding:0;">
            <div>
                <h4 style="font-family: Georgia; font-weight: bold; font-size: 25px;">Schemes</h4>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="code" class="col-sm-6 control-label" style="margin-top: -5px;">Select Eligible Schemes </label>
                    <div class="col-sm-6">
                        <select ui-select2 data-ng-model="socialprotection.scheme1" data-placeholder="Select Eligible Schemes" style="width:200px;">
                            <option value=""></option>
                            <option data-ng-repeat="scheme in schemes" value="{{scheme.id}}">{{ scheme.name }}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="code" class="col-sm-6 control-label" style="margin-top: -5px;">Select Eligible Schemes </label>
                    <div class="col-sm-6">
                        <select ui-select2 data-ng-model="socialprotection.scheme2" data-placeholder="Select Eligible Schemes " style="width:200px;">
                            <option value=""></option>
                            <option data-ng-repeat="scheme in schemes" value="{{scheme.id}}">{{ scheme.name }}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

          



            <div class="form-group">
                <div class="col-sm-6 col-md-offset-3" align="center">
                    <a class="btn btn-success btn-sm" type="submit" role="button" data-ng-click="SaveSocialProtection()"><span class="glyphicon glyphicon-ok"></span> Save </a>

                    <a class="btn btn-success btn-sm" type="submit" role="button" data-ng-click="Save()"><span class="glyphicon glyphicon-ok"></span> Save &amp; Remind </a>

                    <a class="btn btn-success btn-sm" type="submit" role="button" data-ng-click="Save()"><span class="glyphicon glyphicon-ok"></span> Save &amp; Add +1 </a>

                    <a data-ng-href="/beneficiaries" class="btn btn-info btn-sm" role="button"><span class="glyphicon glyphicon-remove"></span> Cancel</a>
                </div>
            </div>
        </div>




    </form>


</div>


<style>
    .toggle.android {
        border-radius: 0px;
    }
    
    .toggle.android .toggle-handle {
        border-radius: 0px;
    }

</style>
