<style>
    /*
    .stylelink {
        padding: 3px 10px;
        background: transparent;
        color: #333;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    }
    
    .stylelink.active {
        padding: 3px 10px;
        background: #b71c1c;
        color: #fff;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    }
    */
    .stylelink {
		background: transparent;
		color: #fff;
        font-weight:bold;
		text-decoration: none;
		font-size: 14px;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
        padding:20px 10px;
       
	}
	
	.stylelink.active {
		color: #fff;
         font-weight:bold;
		text-decoration: none;
		font-size: 14px;
		font-weight: 600;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
         padding:20px 10px;
        border-bottom:4px solid #cc3535;
	}
    
    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }
    
    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
/*        background-color: #fff;*/
    }
    
    #wrapper div {
        display: table-cell;
        height: auto;
    }
    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/
    
    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
        }
        .stylelink.active {
            font-size: 12px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
    }

</style>


<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div class="box-header with-border" style="background:#e85a5a;padding:20px 10px;">
        <h3 class="box-title" style="color:#fff;">One to One Question</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body" style="padding:20px;">
        <div class="row">
        <div class="col-sm-6">
            <a data-ng-href="/surveyquestions/create" class="btn btn-primary btn-sm btn-flat" role="button" data-ng-hide="hideCreateButton()" style="padding:5px 20px;margin-right:10px;">Add New </a>
        </div>
          <div class="col-sm-6"  data-ng-hide="showForm()" data-ng-hide="hideSearchFilter()">
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8">
                            <form role="form">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for..." style="z-index:0;border-radius:20px;width:250px;"  ng-model="searchUser">
                                   
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        <br/>

        <form class="form-horizontal" role="form" data-ng-show="showForm()">
            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6">

                    <div class="form-group">
                        <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:5px;">Pillar</label>
                        <div class="col-sm-6">
                            <select ui-select2 ng-model="surveyquestion.pillarid" data-placeholder="Pick a Pillar" style="width:100%">
                                <option value=""></option>
                                <option data-ng-repeat="pillar in pillars" value="{{pillar.id}}">{{ pillar.name }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;">Question</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="name" data-ng-model="surveyquestion.question" placeholder="Name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;">No of Options</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="noofdropdown" data-ng-model="surveyquestion.noofoptions" placeholder="No of Options">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;">Options</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="answers" data-ng-model="surveyquestion.answeroptions" placeholder="eg:Yes,No">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">



                    <div class="form-group">
                        <label for="sales-area" class="col-sm-4" style="font-weight:600;margin-top:5px;">Question Type</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="sales-area" ng-model="surveyquestion.questiontype" data-placeholder="Pick a Type" style="width:100%">
                                <option value=""></option>
                                <option value="r">Radio Button</option>
                                <option value="t">Text Field</option>
                                <option value="nt">Numeric Text Field</option>
                                <option value="rt">Range Text Field</option>
                                <option value="mt">Mobile Number</option>
                                <option value="pt">Percentage Text Field</option>
                                <option value="bt">Address Button</option>
                                <option value="bp">Photo Button</option>
                                <option value="c">Check Box</option>
                                <option value="cc">Counted Check Box</option>
                                <option value="sq">Sub Question</option>
                                <option value="skp">Skip Question</option>
                                <option value="scheme">Scheme</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" data-ng-hide="NotScheme">
                        <label for="employee-id" class="col-sm-4" style="font-weight:600;margin-top:7px;">Scheme Serial Number</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="surveyquestion.schemeslno" placeholder="Enter Scheme  Serial Number" style="width:100%">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;">Question Serial Number</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="questionno" data-ng-model="surveyquestion.serialno" placeholder="Question Serial Number">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:5px;">Action on Yes</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="sales-area" ng-model="surveyquestion.yesaction" data-placeholder="Pick an Action" style="width:100%">
                                <option value=""></option>
                                <option value="nextquestion">Next Question</option>
                                <option value="nextmodule">Next Module</option>
                                <option value="popup">Pop Up</option>
                                <option value="skp">Skip Question</option>
                                <option value="providenextquestion">Provide Info then Next Question</option>
                                <option value="increment">Updating Beneficiary Data with date</option>
                                <option value="incrementskip">Updating Beneficiary Data with date and skip</option>
                                <option value="incrementonly">Updating Beneficiary Data</option>
                                <option value="incrementonlyskip">Updating Beneficiary Data With Skip</option>
                                <option value="freeflow">Free Flow</option>

                                <!-- <option value="nt">Numeric Text Field</option>
                    <option value="rt">Range Text Field</option>
                    <option value="mt">Mobile Number</option>
                    <option value="pt">Percentage Text Field</option>
                    <option value="bt">Address Button</option>
                    <option value="bp">Photo Button</option>
                    <option value="c">Check Box</option>
                    <option value="cc">Counted Check Box</option>
                    <option value="sq">Sub Question</option>-->
                            </select>
                        </div>
                    </div>

                    <div class="form-group" data-ng-hide="YesPopup">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:5px;">Yes Pop Up Type</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="sales-area" ng-model="surveyquestion.yespopup" data-placeholder="Pick a Popup Type" style="width:100%">
                                <option value=""></option>
                                <option value="todos">TODOs</option>
                                <option value="datepicker">Date Picker</option>
                                <option value="plhiv">PLHIV Status</option>
                                <option value="reportincident">Report Incident</option>
                                <option value="reportincidentothers">Report Incident Others</option>
                                <option value="champions">Champions List</option>
                                <option value="dateforid">Capturing Date for IDs</option>
                                <option value="applicationflow">Application Flow</option>
                                <option value="applicationflowboth">Application Flow Both</option>
                                <option value="condomdetails">Health Data</option>
                                <option value="financialliteracy">Financial Literacy</option>
                                <option value="financialplanning">Financial Planning</option>
                               
                            </select>
                        </div>
                    </div>

                    <div class="form-group" data-ng-hide="YesTodo">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:5px;">Yes Todo Type</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="yestodotype" ng-model="surveyquestion.yestodotype" data-placeholder="Pick a Todo Type" style="width:100%">
                                <option value=""></option>
                                <option data-ng-repeat="todotype in todotypes" value="{{todotype.id}}">{{ todotype.name }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" data-ng-hide="YesDocument">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:5px;">Yes Scheme/Document</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="yesdocument" ng-model="surveyquestion.yesdocumentflag" data-placeholder="Pick a Scheme/Document" style="width:100%">
                                <option value=""></option>
                                <option value="yes">Document</option>
                                <option value=null>Scheme</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" data-ng-hide="YesDocument">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:5px;">Yes Select Scheme/Document</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="yesselectdocument" ng-model="surveyquestion.yesdocumentid" data-placeholder="Pick a Select Scheme/Document" style="width:100%">
                                <option value=""></option>
                                <option data-ng-repeat="todotype in yesdocumentsorschemes" value="{{todotype.id}}">{{ todotype.name }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:5px;">Action on No</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="sales-area" ng-model="surveyquestion.noaction" data-placeholder="Pick an Action" style="width:100%">
                                <option value=""></option>
                                <option value="nextquestion">Next Question</option>
                                <option value="nextmodule">Next Module</option>
                                <option value="popup">Pop Up</option>
                                <option value="skp">Skip Question</option>
                                <option value="providenextquestion">Provide Info then Next Question</option>
                                <option value="increment">Updating Beneficiary Data with date</option>
                                <option value="incrementskip">Updating Beneficiary Data with date and skip</option>
                                <option value="incrementonly">Updating Beneficiary Data</option>
                                <option value="incrementonlyskip">Updating Beneficiary Data With Skip</option>
                                <option value="freeflow">Free Flow</option>

                                <!-- <option value="nt">Numeric Text Field</option>
                    <option value="rt">Range Text Field</option>
                    <option value="mt">Mobile Number</option>
                    <option value="pt">Percentage Text Field</option>
                    <option value="bt">Address Button</option>
                    <option value="bp">Photo Button</option>
                    <option value="c">Check Box</option>
                    <option value="cc">Counted Check Box</option>
                    <option value="sq">Sub Question</option>-->
                            </select>
                        </div>
                    </div>

                    <div class="form-group" data-ng-hide="NoPopup">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:5px;">No Pop Up Type</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="sales-area" ng-model="surveyquestion.nopopup" data-placeholder="Pick a Popup Type" style="width:100%">
                                <option value=""></option>
                                <option value="todos">TODOs</option>
                                <option value="datepicker">Date Picker</option>
                                <option value="plhiv">PLHIV Status</option>
                                <option value="reportincident">Report Incident</option>
                                <option value="reportincidentothers">Report Incident Others</option>
                                <option value="champions">Champions List</option>
                                <option value="dateforid">Capturing Date for IDs</option>
                                <option value="applicationflow">Application Flow</option>
                                <option value="applicationflowboth">Application Flow Both</option>
                                <option value="condomdetails">Health Data</option>
                                <option value="financialliteracy">Financial Literacy</option>
                                <option value="financialplanning">Financial Planning</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" data-ng-hide="NoTodo">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:5px;">No Todo Type</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="notodotype" ng-model="surveyquestion.notodotype" data-placeholder="Pick a Todo Type" style="width:100%">
                                <option value=""></option>
                                <option data-ng-repeat="todotype in todotypes" value="{{todotype.id}}">{{ todotype.name }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" data-ng-hide="NoDocument">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:5px;">No Scheme/Document</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="nodocument" ng-model="surveyquestion.nodocumentflag" data-placeholder="Pick a Scheme/Document" style="width:100%">
                                <option value=""></option>
                                <option value="yes">Document</option>
                                <option value=null>Scheme</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" data-ng-hide="NoDocument">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:5px;">No Select Scheme/Document</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="noselectdocument" ng-model="surveyquestion.nodocumentid" data-placeholder="Pick a Select Scheme/Document" style="width:100%">
                                <option value=""></option>
                                <option data-ng-repeat="todotype in nodocumentsorschemes" value="{{todotype.id}}">{{ todotype.name }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" data-ng-hide="NotSubQuestion">
                        <label for="employee-id" class="col-sm-4" style="font-weight:600;margin-top:7px;">Sub Question</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="taskbreakup" placeholder="Enter No.of Sub Questions" style="width:100%">
                        </div>
                    </div>

                    <div class="form-group" data-ng-hide="NotSkipQuestion">
                        <label for="employee-id" class="col-sm-4" style="font-weight:600;margin-top:7px;">Skip To</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="surveyquestion.skipto" placeholder="Skip To Question" style="width:100%">
                        </div>
                    </div>


                    <div class="form-group" data-ng-hide="YesNotSkipQuestion">
                        <label for="employee-id" class="col-sm-4" style="font-weight:600;margin-top:7px;">Yes Skip To</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="surveyquestion.yesskipto" placeholder="Skip To Question" style="width:100%">
                        </div>
                    </div>

                    <div class="form-group" data-ng-hide="NoNotSkipQuestion">
                        <label for="employee-id" class="col-sm-4" style="font-weight:600;margin-top:7px;">No Skip To</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="surveyquestion.noskipto" placeholder="Skip To Question" style="width:100%">
                        </div>
                    </div>


                    <div class="form-group" data-ng-hide="YesIncrement">
                        <label for="employee-id" class="col-sm-4" style="font-weight:600;margin-top:5px;">Yes Updating Beneficiary Data</label>
                        <div class="col-sm-6">
                            <select ui-select2 ng-model="surveyquestion.yesincrement" data-placeholder="Yes Updating Beneficiary Data" style="width:100%;">
                                <option value=""></option>
                                <option value="savings">No.Of Savings Accounts</option>
                                <option value="insuranceproducts">No Of Insurance Products</option>
                                <option value="pensionproducts">No Of Pension Products</option>
                                <option value="investmentproducts">No Of Investment Products</option>
                                <option value="savingsources">No Of Informal Saving Sources</option>
                                <option value="informalcreditsources">No Of Informal Credit Sources</option>
                                <option value="formalcreditsources">No Of Formal Credit Sources</option>
                                <option value="reciept">Date Of Reciept</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" data-ng-hide="NoIncrement">
                        <label for="employee-id" class="col-sm-4" style="font-weight:600;margin-top:5px;">No Updating Beneficiary Data</label>
                        <div class="col-sm-6">
                            <select ui-select2 ng-model="surveyquestion.noincrement" data-placeholder="No Updating Beneficiary Data" style="width:100%;">
                                 <option value=""></option>
                                <option value="savings">No.Of Savings Accounts</option>
                                <option value="insuranceproducts">No Of Insurance Products</option>
                                <option value="pensionproducts">No Of Pension Products</option>
                                <option value="investmentproducts">No Of Investment Products</option>
                                <option value="savingsources">No Of Informal Saving Sources</option>
                                <option value="informalcreditsources">No Of Informal Credit Sources</option>
                                <option value="formalcreditsources">No Of Formal Credit Sources</option>
                                <option value="reciept">Date Of Reciept</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group" data-ng-hide="YesProvideInfo">
                        <label for="employee-id" class="col-sm-4" style="font-weight:600;margin-top:7px;">Yes Provide Info</label>
                        <div class="col-sm-6">
                            <textarea type="text" class="form-control" ng-model="surveyquestion.yesprovideinfo" placeholder="Yes Provide Info" style="width:100%" rows="4"></textarea>
                        </div>
                    </div>

                    <div class="form-group" data-ng-hide="NoProvideInfo">
                        <label for="employee-id" class="col-sm-4" style="font-weight:600;margin-top:7px;">No Provide Info</label>
                        <div class="col-sm-6">
                            <textarea type="text" class="form-control" ng-model="surveyquestion.noprovideinfo" placeholder="No Provide Info" style="width:100%" rows="4"></textarea>
                        </div>
                    </div>

                    <div class="form-group" data-ng-hide="NotCountedCheckbox">
                        <label for="employee-id" class="col-sm-4" style="font-weight:600;margin-top:7px;">No Of Responses</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="surveyquestion.noofresponses" placeholder="No Of Responses" style="width:100%">
                        </div>
                    </div>

                    <div class="form-group" data-ng-hide="NotRange">
                        <label for="employee-id" class="col-sm-4" style="font-weight:600;margin-top:7px;">Range</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="surveyquestion.range" placeholder="Range" style="width:100%">
                        </div>
                    </div>
                </div>

            </div>

            <div data-ng-hide="NotSubQuestion">
                <div>
                    <h3><u>Sub Questions</u></h3>
                    <table class="table  table-striped">
                        <thead>
                            <tr>
                                <th>Sl No</th>
                                <th>Name</th>
                                <th>Name (Gujarati)</th>
                                <th>Question Type</th>
                                <th>No of Dropdowns</th>
                                <th>Answers</th>
                                <th>Question Number</th>
                            </tr>
                        </thead>

                        <tr ng-repeat="item in sub_surveyquestions">
                            <div class="form-group">
                                <td style="width: 50px;"> <strong class="text-cente col-sm-2">{{$index+1}}</strong>
                                </td>
                                <td style="width: 180px;">
                                    <input type="text" class="form-control" id="name" data-ng-model="item.question" placeholder="Name">
                                </td>
                                <td style="width: 180px;">
                                    <input type="text" class="form-control" id="name" data-ng-model="item.gujrathi" placeholder="Name (Gujarati)">
                                </td>

                                <td style="width: 180px;">
                                    <select ui-select2 id="sales-area" ng-model="item.questiontype" data-placeholder="Pick a Type" style="width:100%">
                                        <option value=""></option>
                                        <option value="r">Radio Button</option>
                                        <option value="t">Text Field</option>
                                        <option value="nt">Numeric Text Field</option>
                                        <option value="rt">Range Text Field</option>
                                        <option value="mt">Mobile Number</option>
                                        <option value="pt">Percentage Text Field</option>
                                        <option value="bt">Address Button</option>
                                        <option value="bp">Photo Button</option>
                                        <option value="c">Check Box</option>
                                        <option value="cc">Counted Check Box</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="name" data-ng-model="item.noofdropdown" placeholder="No of Dropdown">
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="name" data-ng-model="item.answers" placeholder="eg:Male (પુરુષ)  ,Female (સ્ત્રી)">
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="name" data-ng-model="item.questionno" placeholder="Question Number">
                                </td>
                            </div>
                        </tr>

                    </table>
                </div>
            </div>
            
            <br>
            <br/>
            <br/>




            <div align="left">
                <div>
                    <!--<data-cb-form-submit data-singular="surveyquestion" data-plural="surveyquestions" data-label="Create Question" data-slug="surveyquestions" data-ng-show="isCreateView()"></data-cb-form-submit>-->
                    <button type="button" class="btn btn-success btn-sm btn-flat" data-ng-click="addRouteLinks()" data-ng-show="isCreateView()" >Save</button>

                    <data-cb-button-update data-singular="surveyquestion" data-plural="surveyquestions" data-label="Update" data-slug="surveyquestions" data-ng-hide="isCreateView()"></data-cb-button-update>

                    <a data-ng-href="/surveyquestions" class="btn btn-danger btn-sm btn-flat" role="button">Cancel</a>

                    <data-cb-button-delete data-singular="original" data-slug="surveyquestions" data-ng-hide="isCreateView()"></data-cb-button-delete>
                </div>
            </div>
        </form>

        <div data-ng-hide="showForm()">

        <!---    <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6" style="padding-top:5px;">
                    <span>Show</span>
                    <select ng-model="pageSize" data-placeholder="Show Entries">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                    </select>
                    <span>Entries</span>
                </div>
                <div class="col-sm-6">
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8">
                            <form role="form">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for..." style="z-index:0; border-top-left-radius: 15px;border-bottom-left-radius: 15px;"  ng-model="searchUser">
                                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" style="border-top-right-radius: 15px;border-bottom-right-radius: 15px;"><span class="glyphicon glyphicon-search"></span></button>
                                    </span>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>--->
        </div>
        <br />



        <div data-ng-hide="showForm()">
            <form role="form" class="form-horizontal">
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:5px;">Pillar</label>
                            <div class="col-sm-6">
                                <select ui-select2 ng-model="pillarid" data-placeholder="Pick a Pillar" style="width:100%">
                                    <option value=""></option>
                                    <option data-ng-repeat="pillar in pillars" value="{{pillar.id}}">{{ pillar.name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6"></div>
                </div>
            </form>

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Pillar</th>
                        <th>Question Number</th>
                        <th>Survey Question</th>
                        <th>Question Type</th>
                        <th>Action On Yes</th>
                        <th>Action On No</th>
                        <th>Yes Popup</th>
                        <th>No Popup</th>
                        <th style="width:100px;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="surveyquestion in surveyquestions| filter: searchUser |itemsPerPage:pageSize">
                        <td data-ng-init="pillar = getPilllar(surveyquestion.pillarid)">{{pillar.name}}</td>
                        <td>{{surveyquestion.serialno}}</td>
                        <td>{{surveyquestion.question}}</td>
                        <td>{{surveyquestion.questiontype}}</td>
                        <td>{{surveyquestion.yesaction}}</td>
                        <td>{{surveyquestion.noaction}}</td>
                        <td>{{surveyquestion.yespopup}}</td>
                        <td>{{surveyquestion.nopopup}}</td>
                        <td>
                            <a data-ng-href="/surveyquestions/{{surveyquestion.id}}" role="button"><span class="glyphicon glyphicon-edit" style="color:black;"></span> </a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div align="right">
                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">

                </dir-pagination-controls>

            </div>
        </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->




<!--<h2>One to One Question</h2>
<form class="form-horizontal" role="form" data-ng-show="showForm()">
    <div class="col-sm-6">

        <div class="form-group">
            <label for="zone" class="col-sm-4">Piller</label>
            <div class="col-sm-6">
                <select ui-select2 ng-model="surveyquestion.pillarid" data-placeholder="Pick a Piller" style="width:100%">
                    <option value=""></option>
                    <option data-ng-repeat="pillar in pillars" value="{{pillar.id}}">{{ pillar.name }}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="name" class="col-sm-4">Question</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="name" data-ng-model="surveyquestion.question" placeholder="Name">
            </div>
        </div>

        <div class="form-group">
            <label for="name" class="col-sm-4">No of Options</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="noofdropdown" data-ng-model="surveyquestion.noofoptions" placeholder="No of Options">
            </div>
        </div>

        <div class="form-group">
            <label for="name" class="col-sm-4">Options</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="answers" data-ng-model="surveyquestion.answeroptions" placeholder="eg:Yes,No">
            </div>
        </div>
    </div>

    <div class="col-sm-6">



        <div class="form-group">
            <label for="sales-area" class="col-sm-4">Question Type</label>
            <div class="col-sm-6">
                <select ui-select2 id="sales-area" ng-model="surveyquestion.questiontype" data-placeholder="Pick a Type" style="width:100%">
                    <option value=""></option>
                    <option value="r">Radio Button</option>
                    <option value="t">Text Field</option>
                    <option value="nt">Numeric Text Field</option>
                    <option value="rt">Range Text Field</option>
                    <option value="mt">Mobile Number</option>
                    <option value="pt">Percentage Text Field</option>
                    <option value="bt">Address Button</option>
                    <option value="bp">Photo Button</option>
                    <option value="c">Check Box</option>
                    <option value="cc">Counted Check Box</option>
                    <option value="sq">Sub Question</option>
                    <option value="skp">Skip Question</option>
                    <option value="scheme">Scheme</option>
                </select>
            </div>
        </div>

        <div class="form-group" data-ng-hide="NotScheme">
            <label for="employee-id" class="col-sm-4">Scheme Serial Number</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="surveyquestion.schemeslno" placeholder="Enter Scheme  Serial Number" style="width:100%">
            </div>
        </div>

        <div class="form-group">
            <label for="name" class="col-sm-4">Question Serial Number</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="questionno" data-ng-model="surveyquestion.serialno" placeholder="Question Serial Number">
            </div>
        </div>

        <div class="form-group">
            <label for="name" class="col-sm-4">Action on Yes</label>
            <div class="col-sm-6">
                <select ui-select2 id="sales-area" ng-model="surveyquestion.yesaction" data-placeholder="Pick an Action" style="width:100%">
                    <option value=""></option>
                    <option value="nextquestion">Next Question</option>
                    <option value="nextmodule">Next Module</option>
                    <option value="popup">Pop Up</option>
                    <option value="skp">Skip Question</option>
                    <option value="providenextquestion">Provide Info then Next Question</option>
                    <option value="increment">Updating Beneficiary Data with date</option>
                    <option value="incrementonly">Updating Beneficiary Data</option>
                    <option value="freeflow">Free Flow</option>

                    <!-- <option value="nt">Numeric Text Field</option>
                    <option value="rt">Range Text Field</option>
                    <option value="mt">Mobile Number</option>
                    <option value="pt">Percentage Text Field</option>
                    <option value="bt">Address Button</option>
                    <option value="bp">Photo Button</option>
                    <option value="c">Check Box</option>
                    <option value="cc">Counted Check Box</option>
                    <option value="sq">Sub Question</option>-->
<!--                </select>
            </div>
        </div>

        <div class="form-group" data-ng-hide="YesPopup">
            <label for="name" class="col-sm-4">Yes Pop Up Type</label>
            <div class="col-sm-6">
                <select ui-select2 id="sales-area" ng-model="surveyquestion.yespopup" data-placeholder="Pick a Popup Type" style="width:100%">
                    <option value=""></option>
                    <option value="todos">TODOs</option>
                    <option value="datepicker">Date Picker</option>
                    <option value="plhiv">PLHIV Status</option>
                    <option value="reportincident">Report Incident</option>
                    <option value="reportincidentothers">Report Incident Others</option>
                    <option value="champions">Champions List</option>
                    <option value="dateforid">Capturing Date for IDs</option>
                    <option value="applicationflow">Application Flow</option>
                    <option value="applicationflowboth">Application Flow Both</option>
                    <option value="condomdetails">Health Data</option>
                    <option value="financialliteracy">Financial Literacy</option>
                    <option value="financialplanning">Financial Planning</option>
                </select>
            </div>
        </div>

        <div class="form-group" data-ng-hide="YesTodo">
            <label for="name" class="col-sm-4">Yes Todo Type</label>
            <div class="col-sm-6">
                <select ui-select2 id="yestodotype" ng-model="surveyquestion.yestodotype" data-placeholder="Pick a Todo Type" style="width:100%">
                    <option value=""></option>
                    <option data-ng-repeat="todotype in todotypes" value="{{todotype.id}}">{{ todotype.name }}</option>
                </select>
            </div>
        </div>

        <div class="form-group" data-ng-hide="YesDocument">
            <label for="name" class="col-sm-4">Yes Scheme/Document</label>
            <div class="col-sm-6">
                <select ui-select2 id="yesdocument" ng-model="surveyquestion.yesdocumentflag" data-placeholder="Pick a Scheme/Document" style="width:100%">
                    <option value=""></option>
                    <option value="yes">Document</option>
                    <option value=null>Scheme</option>
                </select>
            </div>
        </div>

        <div class="form-group" data-ng-hide="YesDocument">
            <label for="name" class="col-sm-4">Yes Select Scheme/Document</label>
            <div class="col-sm-6">
                <select ui-select2 id="yesselectdocument" ng-model="surveyquestion.yesdocumentid" data-placeholder="Pick a Select Scheme/Document" style="width:100%">
                    <option value=""></option>
                    <option data-ng-repeat="todotype in yesdocumentsorschemes" value="{{todotype.id}}">{{ todotype.name }}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="name" class="col-sm-4">Action on No</label>
            <div class="col-sm-6">
                <select ui-select2 id="sales-area" ng-model="surveyquestion.noaction" data-placeholder="Pick an Action" style="width:100%">
                    <option value=""></option>
                    <option value="nextquestion">Next Question</option>
                    <option value="nextmodule">Next Module</option>
                    <option value="popup">Pop Up</option>
                    <option value="skp">Skip Question</option>
                    <option value="providenextquestion">Provide Info then Next Question</option>
                    <option value="increment">Updating Beneficiary Data with Date</option>
                    <option value="incrementonly">Updating Beneficiary Data</option>
                    <option value="freeflow">Free Flow</option>

                    <!-- <option value="nt">Numeric Text Field</option>
                    <option value="rt">Range Text Field</option>
                    <option value="mt">Mobile Number</option>
                    <option value="pt">Percentage Text Field</option>
                    <option value="bt">Address Button</option>
                    <option value="bp">Photo Button</option>
                    <option value="c">Check Box</option>
                    <option value="cc">Counted Check Box</option>
                    <option value="sq">Sub Question</option>-->
<!--                </select>
            </div>
        </div>

        <div class="form-group" data-ng-hide="NoPopup">
            <label for="name" class="col-sm-4">No Pop Up Type</label>
            <div class="col-sm-6">
                <select ui-select2 id="sales-area" ng-model="surveyquestion.nopopup" data-placeholder="Pick a Popup Type" style="width:100%">
                    <option value=""></option>
                    <option value="todos">TODOs</option>
                    <option value="datepicker">Date Picker</option>
                    <option value="plhiv">PLHIV Status</option>
                    <option value="reportincident">Report Incident</option>
                    <option value="reportincidentothers">Report Incident Others</option>
                    <option value="champions">Champions List</option>
                    <option value="dateforid">Capturing Date for IDs</option>
                    <option value="applicationflow">Application Flow</option>
                    <option value="applicationflowboth">Application Flow Both</option>
                    <option value="condomdetails">Health Data</option>
                    <option value="financialliteracy">Financial Literacy</option>
                    <option value="financialplanning">Financial Planning</option>
                </select>
            </div>
        </div>

        <div class="form-group" data-ng-hide="NoTodo">
            <label for="name" class="col-sm-4">No Todo Type</label>
            <div class="col-sm-6">
                <select ui-select2 id="notodotype" ng-model="surveyquestion.notodotype" data-placeholder="Pick a Todo Type" style="width:100%">
                    <option value=""></option>
                    <option data-ng-repeat="todotype in todotypes" value="{{todotype.id}}">{{ todotype.name }}</option>
                </select>
            </div>
        </div>

        <div class="form-group" data-ng-hide="NoDocument">
            <label for="name" class="col-sm-4">No Scheme/Document</label>
            <div class="col-sm-6">
                <select ui-select2 id="nodocument" ng-model="surveyquestion.nodocumentflag" data-placeholder="Pick a Scheme/Document" style="width:100%">
                    <option value=""></option>
                    <option value="yes">Document</option>
                    <option value=null>Scheme</option>
                </select>
            </div>
        </div>

        <div class="form-group" data-ng-hide="NoDocument">
            <label for="name" class="col-sm-4">No Select Scheme/Document</label>
            <div class="col-sm-6">
                <select ui-select2 id="noselectdocument" ng-model="surveyquestion.nodocumentid" data-placeholder="Pick a Select Scheme/Document" style="width:100%">
                    <option value=""></option>
                    <option data-ng-repeat="todotype in nodocumentsorschemes" value="{{todotype.id}}">{{ todotype.name }}</option>
                </select>
            </div>
        </div>

        <div class="form-group" data-ng-hide="NotSubQuestion">
            <label for="employee-id" class="col-sm-4">Sub Question</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="taskbreakup" placeholder="Enter No.of Sub Questions" style="width:100%">
            </div>
        </div>

        <div class="form-group" data-ng-hide="NotSkipQuestion">
            <label for="employee-id" class="col-sm-4">Skip To</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="surveyquestion.skipto" placeholder="Skip To Question" style="width:100%">
            </div>
        </div>


        <div class="form-group" data-ng-hide="YesNotSkipQuestion">
            <label for="employee-id" class="col-sm-4">Yes Skip To</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="surveyquestion.yesskipto" placeholder="Skip To Question" style="width:100%">
            </div>
        </div>

        <div class="form-group" data-ng-hide="NoNotSkipQuestion">
            <label for="employee-id" class="col-sm-4">No Skip To</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="surveyquestion.noskipto" placeholder="Skip To Question" style="width:100%">
            </div>
        </div>


        <div class="form-group" data-ng-hide="YesIncrement">
            <label for="employee-id" class="col-sm-4">Yes Updating Beneficiary Data</label>
            <div class="col-sm-8">
                <select ui-select2 ng-model="surveyquestion.yesincrement" data-placeholder="Yes Updating Beneficiary Data" style="width:200px;">
                    <option value=""></option>
                    <option value="savings">Savings Accounts</option>
                    <option value="investmentproducts">Investment Products</option>
                    <option value="savingsources">Saving Sources</option>
                    <option value="insuranceproducts">Insurance Products</option>
                    <option value="reciept">Date Of Reciept</option>
                </select>
            </div>
        </div>

        <div class="form-group" data-ng-hide="NoIncrement">
            <label for="employee-id" class="col-sm-4">No Updating Beneficiary Data</label>
            <div class="col-sm-8">
                <select ui-select2 ng-model="surveyquestion.noincrement" data-placeholder="No Updating Beneficiary Data" style="width:200px;">
                    <option value=""></option>
                    <option value="savings">Savings Accounts</option>
                    <option value="investmentproducts">Investment Products</option>
                    <option value="savingsources">Saving Sources</option>
                    <option value="insuranceproducts">Insurance Products</option>
                    <option value="reciept">Date Of Reciept</option>
                </select>
            </div>
        </div>


        <div class="form-group" data-ng-hide="YesProvideInfo">
            <label for="employee-id" class="col-sm-4">Yes Provide Info</label>
            <div class="col-sm-8">
                <textarea type="text" class="form-control" ng-model="surveyquestion.yesprovideinfo" placeholder="Yes Provide Info" style="width:100%" rows="4"></textarea>
            </div>
        </div>

        <div class="form-group" data-ng-hide="NoProvideInfo">
            <label for="employee-id" class="col-sm-4">No Provide Info</label>
            <div class="col-sm-8">
                <textarea type="text" class="form-control" ng-model="surveyquestion.noprovideinfo" placeholder="No Provide Info" style="width:100%" rows="4"></textarea>
            </div>
        </div>

        <div class="form-group" data-ng-hide="NotCountedCheckbox">
            <label for="employee-id" class="col-sm-4">No Of Responses</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="surveyquestion.noofresponses" placeholder="No Of Responses" style="width:100%">
            </div>
        </div>

        <div class="form-group" data-ng-hide="NotRange">
            <label for="employee-id" class="col-sm-4">Range</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" ng-model="surveyquestion.range" placeholder="Range" style="width:100%">
            </div>
        </div>
    </div>

    <div class="form-group row" data-ng-hide="NotSubQuestion">
        <div>
            <h2><u>Sub Questions</u></h2>
            <table style="margin-left: 45px;">
                <thead>
                    <tr>
                        <th>Sl No</th>
                        <th>Name</th>
                        <th>Name (Gujarati)</th>
                        <th>Question Type</th>
                        <th>No of Dropdowns</th>
                        <th>Answers</th>
                        <th>Question Number</th>
                    </tr>
                </thead>

                <tr ng-repeat="item in sub_surveyquestions">
                    <div class="form-group">
                        <td style="width: 50px;"> <strong class="text-cente col-sm-2">{{$index+1}}</strong>
                        </td>
                        <td style="width: 180px;">
                            <input type="text" class="form-control" id="name" data-ng-model="item.question" placeholder="Name">
                        </td>
                        <td style="width: 180px;">
                            <input type="text" class="form-control" id="name" data-ng-model="item.gujrathi" placeholder="Name (Gujarati)">
                        </td>

                        <td style="width: 180px;">
                            <select ui-select2 id="sales-area" ng-model="item.questiontype" data-placeholder="Pick a Type" style="width:100%">
                                <option value=""></option>
                                <option value="r">Radio Button</option>
                                <option value="t">Text Field</option>
                                <option value="nt">Numeric Text Field</option>
                                <option value="rt">Range Text Field</option>
                                <option value="mt">Mobile Number</option>
                                <option value="pt">Percentage Text Field</option>
                                <option value="bt">Address Button</option>
                                <option value="bp">Photo Button</option>
                                <option value="c">Check Box</option>
                                <option value="cc">Counted Check Box</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="name" data-ng-model="item.noofdropdown" placeholder="No of Dropdown">
                        </td>
                        <td>
                            <input type="text" class="form-control" id="name" data-ng-model="item.answers" placeholder="eg:Male (પુરુષ)  ,Female (સ્ત્રી)">
                        </td>
                        <td>
                            <input type="text" class="form-control" id="name" data-ng-model="item.questionno" placeholder="Question Number">
                        </td>
                    </div>
                </tr>

            </table>
        </div>
    </div>




    <div class="form-group">
        <div class="col-sm-6 col-md-offset-2">
            <!--<data-cb-form-submit data-singular="surveyquestion" data-plural="surveyquestions" data-label="Create Question" data-slug="surveyquestions" data-ng-show="isCreateView()"></data-cb-form-submit>-->
<!--            <button type="button" class="btn btn-success" data-ng-click="addRouteLinks()" data-ng-show="isCreateView()">Save</button>

            <data-cb-button-update data-singular="surveyquestion" data-plural="surveyquestions" data-label="Update" data-slug="surveyquestions" data-ng-hide="isCreateView()"></data-cb-button-update>

            <a data-ng-href="/surveyquestions" class="btn btn-info" role="button">Cancel</a>

            <data-cb-button-delete data-singular="original" data-slug="surveyquestions" data-ng-hide="isCreateView()"></data-cb-button-delete>
        </div>
    </div>
</form>

<div class="form-group">
    <a data-ng-href="/surveyquestions/create" class="btn btn-primary" role="button" data-ng-hide="hideCreateButton()"><span class="glyphicon glyphicon-plus"></span> Add new Question</a>
</div>

<div data-ng-hide="showForm()">


    <div class="col-sm-6">

        <div class="form-group">
            <label for="zone" class="col-sm-4">Piller</label>
            <div class="col-sm-6">
                <select ui-select2 ng-model="pillarid" data-placeholder="Pick a Piller" style="width:100%">
                    <option value=""></option>
                    <option data-ng-repeat="pillar in pillars" value="{{pillar.id}}">{{ pillar.name }}</option>
                </select>
            </div>
        </div>

    </div>
    </br>
    </br>

    <table class="table" border="1">
        <tr>
            <th>Pillar</th>
            <th>Question Number</th>
            <th>Survey Question</th>
            <th>Question Type</th>
            <th>Action On Yes</th>
            <th>Action On No</th>
            <th>Yes Popup</th>
            <th>No Popup</th>
            <th>Actions</th>
        </tr>
        <tr ng-repeat="surveyquestion in surveyquestions">
            <td data-ng-init="pillar = getPilllar(surveyquestion.pillarid)">{{pillar.name}}</td>
            <td>{{surveyquestion.serialno}}</td>
            <td>{{surveyquestion.question}}</td>
            <td>{{surveyquestion.questiontype}}</td>
            <td>{{surveyquestion.yesaction}}</td>
            <td>{{surveyquestion.noaction}}</td>
            <td>{{surveyquestion.yespopup}}</td>
            <td>{{surveyquestion.nopopup}}</td>
            <td>
                <a data-ng-href="/surveyquestions/{{surveyquestion.id}}" class="btn btn-default btn-xs" role="button"><span class="glyphicon glyphicon-edit"></span> Edit</a>
            </td>
        </tr>
    </table>
</div>
-->
