<style>
    
      .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #e72e5a;
    }
    
    .sub_menu {
        padding: 20px 10px;
        background: transparent;
        color: #fff;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    }
    
    .sub_menu.active {
        padding: 20px 10px;
        /*		background: #b71c1c;*/
        /*        background:#e84a4a;*/
        color: #fff;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        border-bottom: 4px solid #cc3535;
    }
   
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
        /*        background-color: #fff;*/
    }
    
    #wrapper div {
        display: table-cell;
        height: auto;
    }
    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/
    
    .nav-tabs-custom > .nav-tabs > li {
        width: 19%;
    }
    
    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 10px;
            padding: 5px 10px;
        }
        .stylelink.active {
            font-size: 10px;
            padding: 5px 10px;
        }
        .sub_menu {
            font-size: 10px;
            padding: 5px 10px;
        }
        .sub_menu.active {
            font-size: 10px;
            padding: 5px 10px;
        }
        .nav-tabs-custom > .nav-tabs > li {
            position: relative;
            display: block;
            padding: 10px;
            text-align: center;
            width: 180px;
        }
    }

</style>

<!--<div style="width:100%;height:auto;background:#e84a4a;">
    <div id="wrapper">
             <div style="text-align:center;">
            <a class="stylelink active" href="/stakeholdertypes"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">STAKE HOLDER TYPE</span></a>
        </div>
		<div style="text-align:center;">
            <a class="stylelink active" href="/stakeholdertypes"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">ORGANISED BY</span></a>
        </div>
    </div>

</div>-->

<div style="width:100%;height:auto;background:#ffffff;border-top:none">
    <div id="wrapper">
        <div style="text-align:center; ">
            <a href="/financialgoal"><span  class="stylelink" style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">FINANCIAL GOAL</span></a>
        </div>
        <div style="text-align:center; ">
            <a href="/timeinyear"><span class="stylelink active" style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">TIME(IN YEAR)</span></a>
        </div>
        <div style="text-align:center; ">
            <a href="/budgetyear"><span class="stylelink" style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">BUDGET YEAR</span></a>
        </div>
    </div>

</div>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div class="box-header with-border">
        <!--		<h3 class="box-title">Organised By</h3>-->
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body" style="padding:20px;">
<!--
        <div class="row">
            <div class="col-sm-6">
                <a data-ng-href="/timeinyear/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton()" style="padding:5px 20px;margin-right:10px;">Add New </a>
            </div>
            <div class="col-sm-6">
            </div>
        </div>
        <br/>
-->

        <form class="form-horizontal" role="form" data-ng-hide="showForm()">
            <!--            <p align="center" style="color:red">All fields in red are mandatory</p>-->
            <br/>
            <div class="row" style="margin:0;padding:0">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name" class="col-sm-5" style="font-weight:600;margin-top:7px;color:red;">Time(In Year) By</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="name" data-ng-model="timeinyear.name" placeholder="Organised By">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6"></div>
            </div>
            <br/>
            <br/>
            <br/>
           
            <div align="left">
                <div>
<!--                    <a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Saveorganisebystakeholder()" data-ng-show="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:10px;">Create </a>-->

                    <a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:10px;">Update </a>


                    <a data-ng-href="/" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;"> Cancel</a>
                </div>
            </div>
        </form>

<!--
        <div data-ng-hide="hideSearchFilter()">
            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6" style="padding-top:5px;">
                    <span>Show</span>
                    <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <span>Entries</span>
                </div>
                <div class="col-sm-6">
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8">
                            <form role="form">
                                <div class="input-group">
                                    <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search" style="z-index:0;border-radius:20px;width:140%;" data-ng-model="searchorganisebystakeholder">

                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <br />
-->


<!--
        <div data-ng-hide="showForm()" class="table-responsive">
            <table class="table  table-striped">

                <thead>
                    <tr>
                        <th style="width:50px;">#</th>
                       
                        <th ng-style="style">TIME IN YEAR</th>
                        <th ng-style="style" style="width:100px;">ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="timeinyear in timeinyears | filter: searchstakeholdertype |itemsPerPage:pageSize" current-page="currentPage">
                        <td>{{ timeinyear.index }}</td>
                        <td>{{timeinyear.name}}</td>
                        
                        <td><a data-ng-href="/timeinyear/{{timeinyear.id}}"><span class="glyphicon glyphicon-edit" title="Edit" style="color: black;"></span></a>&nbsp;&nbsp;
                            <a confirm-button="Delete(timeinyear.id)" message="Are you sure? you want to delete?"><span class="glyphicon glyphicon-remove-circle" style="color: red;cursor:pointer;" title="Bin"></span></a>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            <br/>
            <div align="right">
                <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" pagination-id="organisebystakeholdersid" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
                </dir-pagination-controls>
            </div>
        </div>
-->

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->
<script type="text/ng-template" id="template/AlertModal.html" ng-show="$first">
    <div class="modal-header">
        <h4 class="modal-title">Alert</h4> </div>
    <div class="modal-body"> {{AlertMessage}} </div>
    <div class="modal-footer">
        <div align="left">
            <button type="button" class="btn btn-success btn-sm " ng-click="okAlert()">Ok</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="template/AlertModal2.html" ng-show="$first">
    <div class="modal-header">
        <h4 class="modal-title">Thank You</h4></div>
    <div class="modal-body"> {{AlertMessage}} </div>

</script>
