<style>
    /*	.stylelink {
		padding: 3px 10px;
		background: transparent;
		color: #333;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}
	
	.stylelink.active {
		padding: 3px 10px;
		background: #b71c1c;
		color: #fff;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		font-weight: 600;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}
	*/

    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;

    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
        border-bottom: 4px solid #e72e5a;
    }

    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }

    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 4px solid #f4f4f4;
        background-color: #fff;
    }

    #wrapper div {
        display: table-cell;
        height: auto;
    }

    .content {
        padding: 26px;
    }

    table,
    th,
    td {
        fill: #262d57;
        font-size: 14px;
    }

    th {
        background-color: #d5d7df;
        font-weight: normal;
    }

    tr {
        background-color: White;
        color: #262d57;
        font-size: 10px;
    }

    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 5px 10px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 5px 10px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        img {
            width: 80%;
        }
    }

</style>

<div style="width:100%;height:auto;background:#ffffff">
    <div id="wrapper">
        <div style="text-align:center;">
            <a class="stylelink" href="/country-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">COUNTRY</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink active" href="/state-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">STATE</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/district-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">DISTRICT</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/site-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">SITE</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/area-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">AREA</span></a>
        </div>
        <!--<div style="text-align:center;">
			<a class="stylelink" href="/employees"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">FACILITY</span></a>
		</div>
		<div style="text-align:center;">
			<a class="stylelink" href="/routes"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">SITE</span></a>
		</div>-->
    </div>

</div>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <!--	<div class="box-header with-border">-->
    <!--		<h3 class="box-title">State</h3>-->
    <!--	</div>-->
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <br/>
        <div align="center">
            <h4>XLS file should be in the following format.</h4>
            <img src="images/xlsstatesImage.PNG">
            <br/>
            <br/>
            <a href="/xlssheets/xlsstates.xlsx" target="_blank">Click here to download sample xls file</a>
        </div>

        <div class="padding4">
            <br/>
            <p>
                <input type="file" name="xlfile" id="xlf" /> ... click here to select a file
            </p>
        </div>
        <br/>

        <div class="table-responsive">
            <table class="table  table-striped">
                <thead>
                    <tr>
                        <th ng-style="style" style="padding-left:30px;">S NO.</th>
                        <th ng-style="style">STATE</th>
                        <th ng-style="style">CODE</th>
                        <th ng-style="style">COUNTRY ID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="prospect in xlsentries |itemsPerPage:5">
                        <td style="padding-left:30px;">{{ prospect.index+1 }}</td>
                        <td>{{ prospect.name }}</td>
                        <td>{{ prospect.code }}</td>
                        <td>{{ prospect.countryId }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="padding4" align="right">
                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="false">
                </dir-pagination-controls>
            </div>
        </div>

        <br/>
        <br/>
        <br/>


        <div align="right">
            <a href="/state-list">
				<button class="btn btn-danger btn-sm " style="padding:5px 20px;margin-right:10px;">Cancel</button>
			</a>
            
            <button ng-click="Save()" class="btn btn-info btn-sm " ng-hide="hideSubmit" style="margin-right:20px;padding:5px 30px;">Submit</button>
            
            <button ng-click="Validate()" class="btn btn-info btn-sm " ng-hide="hideValidate" ng-disabled="DisableValidate" style="padding:5px 20px;margin-right:30px;">Validate</button>
          </div>
        <a download="errorlog.txt" id="downloadlink" style="display: none" align="center">Download Error Text</a>

    </div>
</div>


<modal2 title1="{{modalTitle}}" visible="zonedataModal">
    <p>{{message}}</p>
</modal2>


<modal2 title1="{{ValidationmessageTitle}}" visible="sheetValidation">
    <p>{{Validationmessage}}</p>
</modal2>

<validationmodal title1="Alert!!!" visible="showValidation">
    {{validatestring1}}
</validationmodal>


<validationmodal title1="Alert!!!" visible="xlsValidation">
    {{validatestringxls}}
</validationmodal>

<!--<modal2 title1="{{modalProgress}}" visible="zoneprogressModal">
	<div id="myProgress">
		<div id="myBar">
			<div id="label">0%</div>
		</div>
	</div>
</modal2>-->

<style>
    #myProgress {
        position: relative;
        width: 100%;
        height: 30px;
        background-color: #ddd;
    }

    #myBar {
        position: absolute;
        width: 10%;
        height: 100%;
        background-color: blue;
    }

    #label {
        text-align: center;
        line-height: 30px;
        color: white;
    }

</style>

<style>
    .progress {
        height: 3em;
        i {
            line-height: 3.5em;
        }
    }

    .progress-bar {
        transition: width 1s ease-in-out;
    }

</style>
