<style>
    /*
    .stylelink {
        padding: 3px 10px;
        background: transparent;
        color: #333;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    }
    
    .stylelink.active {
        padding: 3px 10px;
        background: #b71c1c;
        color: #fff;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    }  */
    
   

.stylelink {
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        color: #4a4d72;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;
        border-bottom: 4px solid #ec0b6d;
    }
    
    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }
    
    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 4px solid #f4f4f4;
        background-color: #fff;
    }
    
    #wrapper div {
        display: table-cell;
        height: auto;
    }
    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/
    
    .nav-tabs-custom > .nav-tabs > li {
        width: 19%;
    }
    
    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 10px;
            padding: 2px 5px;
        }
        .stylelink.active {
            font-size: 10px;
            padding: 2px 5px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        .nav-tabs-custom > .nav-tabs > li {
            position: relative;
            display: block;
            padding: 10px;
            text-align: center;
            width: 180px;
        }
    }
</style>

<div style="width:100%;height:auto;background:#ffffff;margin-top:12px;">
    <div id="wrapper">
        <div style="text-align:center;">
            <a class="stylelink" href="/Langapplyforschmlist" title="APPLY FOR SCHEME LABEL LIST"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">APPLY FOR SCHEME LABEL LIST</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink active" href="/schemes-list" title="SCHEMES"><span style="flex:1;white-space:pre;overflow:hidden;text-overflow: ellipsis;">SCHEMES </span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/agegroup-list" title="AGE GROUP"><span style="flex:1;white-space:pre;overflow:hidden;text-overflow: ellipsis;">AGE GROUP</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink " href="/healthstatus-list" title="HEALTH STATUS"><span style="flex:1;white-space:pre;overflow:hidden;text-overflow: ellipsis;">HEALTH STATUS</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/minoritystatus-list" title="MINORITY STATUS"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">MINORITY STATUS</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/socialstatus-list" title="SOCIAL STATUS"><span style="flex:1;white-space:pre;overflow:hidden;text-overflow: ellipsis;">SOCIAL STATUS</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/occupationstatus-list" title="OCCUPATION STATUS"><span style="flex:1;white-space:pre;overflow:hidden;text-overflow: ellipsis;">OCCUPATION STATUS</span></a>
        </div>
    </div>
</div>

<div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
        <div style="text-align:center;">
            <a class="stylelink" href="/locationtype-list" title="LOCATION TYPE"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">LOCATION TYPE</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/education-list" title="EDUCATIONAL STATUS"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">EDUCATIONAL STATUS</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/incomestatus-list" title="INCOME STATUS"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">INCOME STATUS</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink  " href="/schemetype-list" title="SCHEME TYPE"><span style="flex:1;white-space:pre;overflow:hidden;text-overflow: ellipsis;">SCHEME TYPE</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink " href="/schemecategory-list" title="SCHEME CATEGORY"><span style="flex:1;white-space:pre;overflow:hidden;text-overflow: ellipsis;">SCHEME CATEGORY</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/schemestage-list" title="SCHEME STAGE"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">SCHEME STAGE</span></a>
        </div>
    </div>
</div>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
<!--	<div class="box-header with-border" style="padding:0;">-->
		<!--        <h3 class="box-title">Scheme</h3>-->
<!--	</div>-->
	<!-- /.box-header -->
	<!-- form start -->

	<div class="box-body">
        <br/>
		<div class="padding3" align="center">
			<h4>XLS file should be in the following format.</h4>
			<img src="images/xlsschemeImage.png" style="width:100%;height:auto;">
			<br/>
			<br/>
			<a href="/xlssheets/xlsschemes.xlsx" target="_blank">Click here to download sample xls file</a><br/><br/><br/>
            <p style="color:red">For the fields marked in Green in the sample XLS file, please find the appropriate values in the Admin configuration backend. For e.g. AGE GROUP IDs are available under Login as Admin > Apply for Scheme > AGE GROUP tab > ID is the number before the Value as in "1" for "Any Age Group". Similarly CATEGORY IDs are found under Login as Admin > Apply for Scheme > SCHEME CATEGORY tab. Similarly PARENT IDs are found under Login as Admin > Apply for Scheme > SCHEMES tab and so on.</p><br/>
		</div>

		<div class="padding3">
			<br/>
			<p>
				<input type="file" name="xlfile" id="xlf" /> ... click here to select a file
			</p>
		</div>
		<br/>

		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th style="width:50px;">S NO.</th>
						<th ng-style="style">LANGUAGE</th>
                        <th ng-style="style">STATE</th>
						<th ng-style="style">SCHEME NAME</th>					
						<th ng-style="style">LOCAL NAME</th>
<!--
						<th ng-style="style">SCHEME TAMIL NAME</th>
						<th ng-style="style">SCHEME MARATHI NAME</th>
-->
					</tr>
				</thead>
				<tbody>
					<tr dir-paginate="prospect in xlsentries |itemsPerPage:5">
						<td>{{ prospect.index+1 }}</td>
						<td>{{ prospect.language }}</td>
						<td>{{ prospect.state }}</td>
						<td>{{ prospect.name }}</td>
						<td>{{ prospect.localname }}</td>
<!--
						<td>{{ prospect.taname }}</td>
						<td>{{ prospect.mrname }}</td>
-->
					</tr>
				</tbody>
			</table>
			<br/>
			<div class="padding" align="right">
				<dir-pagination-controls max-size="5" direction-links="true" boundary-links="false">
				</dir-pagination-controls>
			</div>
		</div>

		<br/>
		<br/>
		<br/>
		<div align="right">
            <a href="/schemes-list">
				<button class="btn btn-danger btn-sm btn-flat" style="padding:5px 20px;margin-right:10px;">Cancel</button>
			</a>
            
			<button ng-click="Save()" class="btn btn-info btn-sm btn-flat" ng-hide="hideSubmit" style="padding:5px 20px;margin-right:30px;">Submit</button>
			<button ng-click="Validate()" class="btn btn-info btn-sm btn-flat" ng-hide="hideValidate" ng-disabled="DisableValidate" style="padding:5px 20px;margin-right:30px;">Validate</button>
			
		</div>
		<a download="errorlog.txt" id="downloadlink" style="display: none" align="center">Download Error Text</a>
        <br/>
	</div>
</div>


<modal2 title1="{{modalTitle}}" visible="sitedataModal">
	<p>{{message}}</p>
</modal2>


<modal2 title1="{{ValidationmessageTitle}}" visible="sheetValidation">
	<p>{{Validationmessage}}</p>
</modal2>

<validationmodal title1="Alert!!!" visible="showValidation">
	{{validatestring1}}
</validationmodal>


<validationmodal title1="Alert!!!" visible="xlsValidation">
	{{validatestringxls}}
</validationmodal>
