 <div class="modal-header">
          <h3>You're Idle. Do Something!</h3>
      </div>
      <div class="modal-body" ng-idle-countdown="countdown" ng-init="countdown=5">
          <p>You'll be logged out in <span class="label label-warning">{{countdown}}</span> <span ng-pluralize="" count="countdown" when="{'one': 'second', 'other': 'seconds' }"></span>.</p>
          <progressbar max="5" value="countdown" animate="true" class="progress-striped active" type="warning"></progressbar>
      </div>