<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 30px 10px 15px 0px;
        padding-left: 0px;
        /*        border-bottom: 4px solid #e72e5a;*/
    }
    
    .tht:hover {
        color: blue;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
/*        border-bottom: 1px solid #e6e6e6;*/
    }
    
    .inactive {
        color: #dddddd;
        pointer-events: none;
        cursor: default;
    }
    
    .color-blue {
        color: #D3D3D3;
    }
    
    .color-red {
        color: #333;
    }
    
    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 10px 20px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 10px 20px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        .space {
            padding: 5px 0px 5px 0px;
        }
    }

</style>

<style>
    th {
        cursor: pointer;
    }
    
    {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }
  .sell {
        position: relative;
        min-width: 45px;
    }
    
    .sell:after {
        content: url(images/piclinks/down-arrow.png) ;
        font: 17px "Consolas", monospace;
        color: #333;
        top: 5px;
        margin-left: -22px;
        padding: 0 0 2px;
        position: absolute;
        pointer-events: none;
    }
    
    .sell select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        /*        max-width: 320px;*/
        height: 32px;
        float: left;
        padding: 0px 7px;
        font-size: 14px;
        line-height: 1.75;
        color: #878993;
        border-radius: 4px;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #d5d7df;
        -ms-word-break: normal;
        word-break: normal;
    }
</style>
<!--
<script>
table th.active {color: blue;}
$(document).ready(function(){
    $("#rowClick > th").click(function(){
        $(this).toggleClass("active");
    });
});
</script>
-->
<!--
<script type="text/javascript">
    var sortingOrder = 'name';
</script>
-->

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;" data-ng-init="toggleLoading()">
    <div id="wrapper">
        <div class="stylelink active box-header with-border">
            <h3 class="box-title" style="font-weight:bold;">{{washLanguage.washInfrastructure}}</h3>
        </div>
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <br/>

        <div data-ng-hide="hideSearchFilter()">

            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-5"></div>
                <div class="col-sm-7  container-fluid ">
<!--                    <div class="col-sm-1"></div>-->

                    <div data-ng-hide="hideSearchFilter()" class="col-sm-1 col-md-1  " style="padding-right:0px;padding-left:0px;">
                        <div>
                            <label class="showlabel">{{washLanguage.show}}</label>
                        </div>
                        <div class="sell entry">
                        <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                            </div>
                        <!--					<span>Entries</span>-->
                    </div>

                    <div data-ng-hide="hideSearchFilter()" class="col-sm-5 col-md-5   smright2txt" style="padding-right:0px;">
                        <div class="space">
                            <div class="input-group">
                                
                                  <span class="input-group-btn"><button class="btn btn-default" type="button" style="border-top-left-radius:4px;border-bottom-left-radius: 4px;border-color:#d5d7df;background:none;border-right:none;"><span class="glyphicon glyphicon-search"></span></button>
                                       </span>
                                <input type="text" id="Search" class="form-control ng-pristine ng-valid" placeholder="{{washLanguage.search}}" style="z-index:0;border-left:none;border-color:#d5d7df;border-top-right-radius:4px;border-bottom-right-radius: 4px;" data-ng-model="searchPart" focus="someFocusVariable">
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-2 col-md-2   smright smright2txt">
                        <a data-ng-href="" class="btn btn-success btn-sm " role="button" ng-click="exportData()" style="padding:5px 20px;margin-right:10px;color:#ffffff;"><img src="images/export-icon.png">&nbsp;&nbsp;{{washLanguage.exportData}} </a>
                    </div>

                    <div class="col-sm-2 col-md-2  smright2txt">
                        <a data-ng-href="/washinfrastructure/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-right:10px;">{{washLanguage.addNew}}</a>
                    </div>
                </div>
            </div>
        </div>
        <br />
<!--        <br />-->

        <!--
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="maritalstatus" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{InterventionLanguage.type}} </label>
                    <div class="col-sm-6">
                        <select ui-select2="" id="maritalstatus" data-ng-model="type" data-placeholder="{{InterventionLanguage.selectType}}" style="width:100%">
                            <option value=""></option>
                            <option ng-repeat="type in types" ng-if="UserLanguage==1" value="{{type.id}}">{{type.name}}</option>
                            <option ng-repeat="type in types" ng-if="UserLanguage!=1" value="{{type.parentId}}">{{type.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="maritalstatus" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{InterventionLanguage.status}} </label>
                    <div class="col-sm-6">
                        <select ui-select2="" id="maritalstatus" data-ng-model="status" data-placeholder="{{InterventionLanguage.selectStatus}}" style="width:100%">
                            <option value=""></option>
                            <option value="active">Active</option>
                            <option value="archive" disabled>Archive</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <br/>
-->
        <style>
            table,
th,
td {
    fill: #262d57;
    font-size: 14px;
}
th {
    background-color: #d5d7df;
    font-weight: normal;
}
tr {
    background-color: White;
    color: #262d57;
    font-size: 10px;
}
        </style>
        <div data-ng-hide="showForm()" class="table-responsive">
            <table class="table">
                <thead>
                    <tr id="rowClick">
                        <th title="{{washLanguage.srNo}}" ng-click="changeSorting('id')" style="padding-left:30px;">{{washLanguage.srNo | uppercase}}<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('id')"></i></span></th>
                        <th title="{{washLanguage.areaName}}" ng-click="changeSorting('areaname')">{{washLanguage.areaName | uppercase}}<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('areaname')"></i></span></th>
                        <th title="{{washLanguage.dateOfMapping}}" ng-click="changeSorting('dateOfMapping')">{{washLanguage.dateOfMapping | uppercase}}<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('dateOfMapping')"></i></span></th>
                        <th title="{{washLanguage.number}}" ng-click="changeSorting('noOfInfrastructure')">{{washLanguage.number | uppercase}}<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('noOfInfrastructure')"></i></span></th>
                        <th title="{{washLanguage.action}}">{{washLanguage.action | uppercase}}</th>
                    </tr>
                </thead>
                <tbody id="bnbody">
                    <tr dir-paginate="washinfrastructure in displayInfrastructures | filter:searchPart | orderBy:sort.active:sort.descending | itemsPerPage:pageSize" pagination-id="zonesid">
                        <td style="padding-left:30px;">{{ washinfrastructure.index }}</td>
                        <td>{{ washinfrastructure.areaname }}</td>
                        <td>{{ washinfrastructure.dateOfMapping }}</td>
                        <td>{{ washinfrastructure.noOfInfrastructure }}</td>
                        <td>
                            &nbsp;&nbsp;
                            <a data-ng-href="/washinfrastructure/edit/{{washinfrastructure.id}}" title="{{washLanguage.edit}}"><img   src="images/piclinks/edit.png" width="16px;"></a>&nbsp;&nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="padding4" align="right">
            <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" pagination-id="zonesid" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
            </dir-pagination-controls>
        </div>
        <div ng-show="!displayInfrastructures.length" style="margin:0 auto;text-align:center;padding-top: 5%;">
            <span style="font-size:18px;font-weight:bold;font-family:Georgia, Serif;">{{washLanguage.pleaseSelectanOptions}}</span>
            <!--			<p class="lead text-muted">Please select an options</p>-->
        </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->
