<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        		background: #ffffff;
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
        /*        border-bottom: 4px solid #e72e5a;*/
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        background: #ffffff;
        margin-top: 12px;
/*        border-bottom: 1px solid #e6e6e6;*/
    }
    
    .calnd {
        border-left: none;
    }
    
    .calddate {
        margin-top: -6px;
    }
    
    .selectdiv {
        position: relative;
        float: right;
        min-width: 100%;
    }
    
    .selectdiv:after {
        content: '>';
        font: 17px "Consolas", monospace;
        color: #333;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        top: 0px;
        margin-left: -35px;
        /*        margin-top: 5px;*/
        padding: 0 0 2px;
        /*        margin: -15px;*/
        position: absolute;
        pointer-events: none;
    }
    
    .selectdiv select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        /* Add some styling */
        display: block;
        width: 100%;
        /*        max-width: 320px;*/
        height: 32px;
        float: left;
        /*        margin: 5px 0px;*/
        padding: 0px 7px;
        font-size: 14px;
        line-height: 1.75;
        color: #878993;
        border-radius: 4px;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #cccccc;
        -ms-word-break: normal;
        word-break: normal;
    }

</style>

<!--<br/>-->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div id="wrapper">
        <div class=" stylelink active box-header with-border" style="padding:20px 15px;">
            <h3 class="box-title" style="font-weight:bold;">
                <a href="/washinfrastructure-list" style="cursor:pointer;"><img src="images/piclinks/back.png" width="10px" height="16px" style="margin-bottom:4px;"/></a>&nbsp;&nbsp; {{washHeading}}</h3>
        </div>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <div class="box-body">
<!--        <br>-->
        <form role="form">
            <p align="center" style="color:#ec0b6d">{{washLanguage.allFieldAreMandatory}}</p>
            <br />
            <div class="row padding2">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="maritalstatus"   style="margin-top:4px;">{{washLanguage.dateOfMapping}}<sup>*</sup></label>
                        <div >
                            <p class="input-group">
                                <input type="text" id="{{'datepicker' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="wash.dateOfMapping" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" max-date="dtmax" date-disabled="disabled(date, mode)" close-text="Close" style="border-color:#d5d7df;" />
                                <span class="input-group-btn"><button type="button" class="btn btn-default calnd" ng-click="open($event, $index)"  style="border-color:#d5d7df;"><img src="images/piclinks/calender-copy-3.png" width="16px;" class="calddate"></button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div  class="form-group">
                        <label for=""   style=" margin-top:4px;">{{washLanguage.assignedTo}}<sup>*</sup></label>
                        <div>
                            <select ui-select2="" id="venue" ng-model="wash.associatedHF" data-placeholder="{{washLanguage.selectAssignedTo}}" style="width:100%" ng-disabled="hideAssigned">
                                <option value=""></option>
                                <option ng-repeat="user in users" value="{{user.id}}">{{user.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="  form-group">
                        <label for=""   style=" margin-top:4px;">{{washLanguage.areaName}}<sup>*</sup></label>
                        <div>
                            <select ui-select2="" id="venue" ng-model="wash.areaId" data-placeholder="{{washLanguage.selectArea}}" style="width:100%">
                                <option value="">{{washLanguage.selectArea}}</option>
                                <option ng-repeat="area in areas" value="{{area.id}}">{{area.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div  class="form-group">
                        <label for="typology"   style="margin-top:4px;">{{washLanguage.location}} <sup>*</sup></label>
                    </div>
                    <div style="margin-top:-16px;">
                        <div class="col-sm-5" style="padding-left:0px;">
                            <input type="text" class="form-control" id="latitude" data-ng-model="wash.latitude" placeholder="{{washLanguage.latitude}}" readonly="true">

                        </div>
                        <p1> </p1>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="longitude" data-ng-model="wash.longitude" placeholder="{{washLanguage.longitude}}" readonly="true">
                        </div>
                        <div class="col-sm-1" style="font-size:22px;color:#f55c51;padding-left:0px;">
                            <span class="glyphicon glyphicon-map-marker" aria-hidden="true" ng-click="Locate()" href=""></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row padding2"> 
                <div class="col-sm-3">
                    <div class="  form-group">
                        <label for=""   style=" margin-top:4px;">{{washLanguage.typeOfInfrastructure}} <sup>*</sup></label>
                        <div>
                            <select ui-select2="" id="venue" ng-model="wash.typeOfInfrastructure" data-placeholder="{{washLanguage.selectTypeOfInfrastructure}}" style="width:100%">
                                <option value="">{{washLanguage.selectTypeOfInfrastructure}}</option>
                                <option ng-repeat="typeofinfrastructure in typeofinfrastructures" ng-if="UserLanguage==1" value="{{typeofinfrastructure.id}}">{{typeofinfrastructure.name}}</option>
                                <option ng-repeat="typeofinfrastructure in typeofinfrastructures" ng-if="UserLanguage!=1" value="{{typeofinfrastructure.parentId}}">{{typeofinfrastructure.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for=""   style="margin-top:4px;">{{washLanguage.noOfInfrastructure}} <sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="number" ng-model="wash.noOfInfrastructure" placeholder="{{washLanguage.noOfInfrastructure}}" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" style="width:100%">
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-3">
                    <div class="  form-group">
                        <label for=""   style=" margin-top:4px;">{{washLanguage.new}} <sup>*</sup></label>
                        <div>
                            <select ui-select2="" id="new" ng-model="wash.isNew" data-placeholder="{{washLanguage.selectNew}}" style="width:100%">
                                <option value=""></option>
                                <option ng-repeat="isnew in isnews" ng-if="UserLanguage==1" value="{{isnew.id}}">{{isnew.name}}</option>
                                <option ng-repeat="isnew in isnews" ng-if="UserLanguage!=1" value="{{isnew.parentId}}">{{isnew.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
        </form>
        <br/>

        <div>
            <div align="right"> 
                 <a href="/washinfrastructure-list" class="btn btn-danger btn-sm" role="button" ng-click="CancelButton()" style="padding:5px 20px;margin-right:10px;">{{washLanguage.cancel}} </a>               
                
                <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Confirm()" ng-if="SaveBtn" style="padding:5px 20px;margin-right:30px;">{{washLanguage.saveLabel}} </a>&nbsp;

                <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Confirm()" ng-if="UpdateBtn" style="padding:5px 20px;margin-right:30px;">{{washLanguage.update}} </a>&nbsp;
            </div>
        </div>
        <br/>

        <div class="box-footer">
        </div>
    </div>
</div>

<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert!!!" visible="showValidation">
    {{validatestring1}}
</validationmodal>

<shgmeetingmodal visible="infraModel">
    <div class="modal-header" style="color:#ffffff;padding:0px;">
<!--        <div class="pull-right" style='padding:15px;'></div>-->
        <h4 class="stylelink active modal-title">
            <img src="images/piclinks/save.png" width="16px" height="16px" style="margin-top:2px;margin-left:-12px;"/>&nbsp;&nbsp;&nbsp;&nbsp;{{washLanguage.areYouSureToWantToSave}}</h4>
    </div>

    <div style="width:100%; height:auto; min-height:305px;  border: 1px solid #ffffff;" id="savemodals">
        <br>
        <form style="">
            <div class="row padding">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="" class="" style="">{{washLanguage.dateOfMapping}}</label>
                        <input type="text" class="form-control" id="name" data-ng-model="popupObj.dateOfMapping" placeholder="{{washLanguage.dateOfMapping}}" readonly>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="" class="" style="">{{washLanguage.assignedTo}}</label>
                        <input type="text" class="form-control" id="name" data-ng-model="popupObj.assignedTo" placeholder="{{washLanguage.assignedTo}}" readonly>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="" class="" style="">{{washLanguage.areaName}} </label>
                        <input type="text" class="form-control" id="name" data-ng-model="popupObj.areaName" placeholder="{{washLanguage.areaName}}" style="" readonly>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="" class="" style="">{{washLanguage.typeOfInfrastructure}} </label>
                        <input type="text" class="form-control" id="name" data-ng-model="popupObj.infraName" placeholder="{{washLanguage.typeOfInfrastructure}}" style="" readonly>
                    </div>
                </div>
                 <div class="col-sm-6">
                    <div class="form-group">
                        <label for="" class="" style="">{{washLanguage.noOfInfrastructure}} </label>
                        <input type="text" class="form-control" id="name" data-ng-model="popupObj.noOfInfrastructure" placeholder="{{washLanguage.noOfInfrastructure}}" style="" readonly>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="" class="" style="">{{washLanguage.new}} </label>
                        <input type="text" class="form-control" id="name" data-ng-model="popupObj.isNew" placeholder="{{washLanguage.new}} "  readonly>
                    </div>
                </div>
        </div>
        </form>
    </div>
    <br>

    <div class="form-group">
            <div align="right">
                <a data-ng-click="" data-dismiss="modal" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">{{washLanguage.cancel}} </a>
                
                <a data-ng-click="Save()" data-dismiss="modal" class="btn btn-info btn-sm " role="button" style="padding:5px 20px;margin-right:20px;">{{washLanguage.yes}} </a>&nbsp;
        </div>
    </div>
    <br>

    <style>
        div.scroll {
            width: 100%;
            height: 100px;
            overflow: scroll;
        }
        
        .toggle.android {
            border-radius: 0px;
        }
        
        .toggle.android .toggle-handle {
            border-radius: 0px;
        }
        
        #mapCanvas {
            width: 850px;
            height: 400px;
/*            float: left;*/
        }
        
        #infoPanel {
            margin-left: -12px;
        }
        
        #infoPanel div {
            margin-bottom: 5px;
        }

    </style>
</shgmeetingmodal>

<mapmodal visible="mapdataModalView">
    <div class="modal-header" style="color:#ffffff;padding:0px;">
<!--        <div class="pull-right" style='padding:15px;'></div>-->
        <h4 class="stylelink active modal-title" style="padding:20px 28px;">{{washLanguage.selectLocation}} </h4> </div>
    <div style="width:100%; height:auto; min-height:300px;  border: 1px solid #ffffff;padding:0px 0px 0px 10px" id="savemodals">
        <br>
        <form class="" role="form" style="">
            <div class="row" style="margin:0;padding:0;font-size: 12px;">
                <div class="col-sm-12" style="">
                    <div id='mapCanvas' style="display:block;">
                    </div>
                    <div class="col-sm-4">
                        <br/>
                        <div id="infoPanel">
                            <b style="color:blue;">{{washLanguage.markerStatus}}: </b>
                            <div id="markerStatus"><i>{{washLanguage.clickAndDrag}}</i>
                            </div>
                            <b style="color:blue;">{{washLanguage.currentPosition}}</b>
                            <div id="info"></div>
                            <b style="color:blue;">{{washLanguage.closestAddress}}</b>
                            <div id="mapaddress"></div>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <div class="form-group">
                    <div align="right">
                        <a data-ng-click="CLOSEBUTTON()" data-dismiss="modal" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">{{washLanguage.cancel}} </a>
                        
                        <a data-ng-click="CLOSEBUTTON()" data-dismiss="modal" class="btn btn-info btn-sm " role="button" style="border-color:#db4242;padding:5px 20px;font-weight:bold;margin-right:30px;">{{washLanguage.ok}}</a>&nbsp;
                </div>
            </div>
        </form>
        <br/>
    </div>

    <style>
        div.scroll {
            width: 100%;
            height: 100px;
            overflow: scroll;
        }
        
        .toggle.android {
            border-radius: 0px;
        }
        
        .toggle.android .toggle-handle {
            border-radius: 0px;
        }
        
/*
        #mapCanvas {
            width: 800px;
            height: 500px;
            float: center;
        }
*/
        
/*
        #infoPanel {
            margin-left: 100px;
        }
*/
        
        #infoPanel div {
            margin-bottom: 5px;
        }

    </style>
</mapmodal>
