<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" ng-app="secondarySalesApp">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title page-title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(app) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/select2/select2.css" />
    <link rel="stylesheet" href="bower_components/angular-toggle-switch/angular-toggle-switch.css" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/angular-tooltips/dist/angular-tooltips.min.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">

    <link rel="stylesheet" href="styles/addButton.css">
    <link rel="stylesheet" href="styles/myButton.css">
    <link rel="stylesheet" href="styles/angucomplete.css">


    <!-- endbuild -->

    <!-- endbuild -->

    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="styles/NewUI/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
     <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' type='text/css'>
    <!-- Ionicons -->
    <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="styles/NewUI/NewUI.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="styles/NewUI/skin-blue.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="//labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    
</head>

<body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div ng-include="'partials/navbar1'" ng-style="style"></div>
    <div class="container" ng-view="" ng-if="showMe" ng-style="style"></div>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js(app) scripts/vendor.js -->



    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/restangular/dist/restangular.js"></script>
    <script src="bower_components/select2/select2.js"></script>
    <script src="bower_components/angular-ui-select2/src/select2.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-ui-utils/ui-utils.js"></script>
    <script src="bower_components/angular-ui-map/ui-map.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-toggle-switch/angular-toggle-switch.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-tooltips/dist/angular-tooltips.min.js"></script>
    <script src="bower_components/angular-input-modified/src/angular-input-modified.js"></script>
    <script src="bower_components/angular-form-validation/src/angular-form-validation.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/services/baseurl.js"></script>
    <script src="scripts/services/angucomplete.js"></script>
    <script src="scripts/services/angucomplete.js"></script>
    <script src="scripts/services/NewUI/angular-breadcrumbs.min.js"></script>
    <script src="scripts/services/angular-count-to.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/navbar.js"></script>
    <script src="scripts/controllers/roles.js"></script>
    <script src="scripts/directives/cb-grid.js"></script>
    <script src="scripts/directives/cb-button-delete.js"></script>
    <script src="scripts/directives/cb-button-update.js"></script>
    <script src="scripts/directives/cb-form-submit.js"></script>
    <script src="scripts/directives/dirPaginations.js"></script>
    <script src="scripts/directives/ng-page-title.js"></script>
    <script src="scripts/directives/angular-confirm.js"></script>
    <script src="scripts/directives/angular-confirm2.js"></script>
    <script src="scripts/controllers/users.js"></script>
    <script src="scripts/controllers/users-create.js"></script>
    <script src="scripts/controllers/users-edit.js"></script>
    <script src="scripts/controllers/groups.js"></script>
    <script src="scripts/controllers/countries.js"></script>
    <script src="scripts/controllers/uploadcountries.js"></script>
    <script src="scripts/controllers/states.js"></script>
    <script src="scripts/controllers/uploadstates.js"></script>
    <script src="scripts/controllers/districts.js"></script>
    <script src="scripts/controllers/uploaddistricts.js"></script>
    <script src="scripts/controllers/sites.js"></script>
    <script src="scripts/controllers/uploadsites.js"></script>
    <script src="scripts/controllers/upload-co-org.js"></script>
    <script src="scripts/controllers/uploadroutes.js"></script>
    <script src="scripts/controllers/distribution-areas.js"></script>
    <script src="scripts/controllers/distribution-subareas.js"></script>
    <script src="scripts/controllers/employees.js"></script>
    <script src="scripts/controllers/employees-create.js"></script>
    <script src="scripts/controllers/employees-edit.js"></script>
    <script src="scripts/controllers/audit-trail.js"></script>
    <!-- Configuration's Partners -->
    <script src="scripts/controllers/sdoctypes.js"></script>
    <script src="scripts/controllers/fdoctypes.js"></script>
    <script src="scripts/controllers/scheme.js"></script>
    <script src="scripts/controllers/gender.js"></script>
    <script src="scripts/controllers/occupation.js"></script>
    <script src="scripts/controllers/caste.js"></script>
    <script src="scripts/controllers/religion.js"></script>
    <script src="scripts/controllers/migrant.js"></script>
    <script src="scripts/controllers/bplstatus.js"></script>
    <script src="scripts/controllers/relationwithhh.js"></script>
    <script src="scripts/controllers/literacylevel.js"></script>
    <script src="scripts/controllers/nameofschool.js"></script>
    <script src="scripts/controllers/nameoffactory.js"></script>
    <script src="scripts/controllers/meetinginterval.js"></script>
    <script src="scripts/controllers/associatedbank.js"></script>
    <script src="scripts/controllers/typology.js"></script>
    <script src="scripts/controllers/education.js"></script>
    <script src="scripts/controllers/maritalstatus.js"></script>
    <script src="scripts/controllers/employmentstatus.js"></script>
    <script src="scripts/controllers/emotionalstate.js"></script>
    <script src="scripts/controllers/co-org.js"></script>
    <script src="scripts/controllers/co-org-create.js"></script>
    <script src="scripts/controllers/co-org-edit.js"></script>
    <script src="scripts/controllers/f-work.js"></script>
    <script src="scripts/controllers/f-work-create.js"></script>
    <script src="scripts/controllers/f-work-edit.js"></script>
    <script src="scripts/controllers/households.js"></script>
    <script src="scripts/controllers/households-create.js"></script>
    <script src="scripts/controllers/households-edit.js"></script>
    <script src="scripts/controllers/routes.js"></script>
    <script src="scripts/controllers/routes-create.js"></script>
    <script src="scripts/controllers/routes-edit.js"></script>
    <script src="scripts/controllers/routelinks.js"></script>
    <script src="scripts/controllers/route_assignment.js"></script>
    <script src="scripts/controllers/route_assignmentdisplays.js"></script>
    <script src="scripts/controllers/route_assignmentupdate.js"></script>
    <script src="scripts/controllers/maps.js"></script>
    <script src="scripts/controllers/tourtypes.js"></script>
    <script src="scripts/controllers/agentroutelinks.js"></script>
    <script src="scripts/controllers/angular-file-upload.js"></script>
    <script src="scripts/controllers/imageupload.js"></script>
    <script src="scripts/controllers/angular-idle.js"></script>
    <script src="scripts/controllers/cocategories.js"></script>
    <script src="scripts/controllers/routesview.js"></script>
    <script src="scripts/controllers/routesviewlist.js"></script>
    <script src="scripts/controllers/coorgedit.js"></script>
    <script src="scripts/controllers/codashboard.js"></script>
    <script src="scripts/controllers/applicationstages.js"></script>
    <script src="scripts/controllers/reportincident.js"></script>
    <script src="scripts/controllers/reportincident-view.js"></script>
    <script src="scripts/controllers/socialprotection.js"></script>
    <script src="scripts/controllers/health.js"></script>
    <script src="scripts/controllers/outreachactivity.js"></script>
    <script src="scripts/controllers/resetpassword.js"></script>
    <script src="scripts/controllers/schememasters.js"></script>
    <script src="scripts/controllers/schememasters-edit.js"></script>
    <script src="scripts/controllers/fieldworkerarchieve.js"></script>
    <script src="scripts/controllers/coarchieve.js"></script>
    <script src="scripts/controllers/fieldworkersites.js"></script>
    <script src="scripts/controllers/groupmeetings.js"></script>
    <script src="scripts/controllers/events.js"></script>
    <script src="scripts/controllers/applyforscheme.js"></script>
    <script src="scripts/controllers/applyforschemehome.js"></script>
    <script src="scripts/controllers/applyfordocument.js"></script>
    <script src="scripts/controllers/applyfordocumenthome.js"></script>
    <script src="scripts/controllers/onetoone.js"></script>
    <!--    <script src="scripts/controllers/surveyquestions.js"></script>-->
    <script src="scripts/controllers/pillars.js"></script>
    <script src="scripts/controllers/stakeholder.js"></script>
    <script src="scripts/controllers/groupmeetingtopic.js"></script>
    <script src="scripts/controllers/groupmeetingevent.js"></script>
    <script src="scripts/controllers/eventtypes.js"></script>
    <script src="scripts/controllers/followuptypes.js"></script>
    <script src="scripts/controllers/bulkupdate.js"></script>
    <script src="scripts/controllers/todotype.js"></script>
    <script src="scripts/controllers/todostatuses.js"></script>
    <script src="scripts/controllers/workflow.js"></script>
    <script src="scripts/controllers/trackapplications.js"></script>
    <script src="scripts/controllers/stakeholdertype.js"></script>
    <script src="scripts/controllers/followupstack.js"></script>
    <script src="scripts/controllers/followupbulkupdate.js"></script>
    <script src="scripts/controllers/purposeofmeeting.js"></script>
    <script src="scripts/controllers/followupgroup.js"></script>
    <script src="scripts/controllers/editschemes.js"></script>
    <script src="scripts/controllers/editdocuments.js"></script>
    <script src="scripts/controllers/reportincidentedit.js"></script>
    <script src="scripts/controllers/editgroupmeetings.js"></script>
    <script src="scripts/controllers/editbulkupdate.js"></script>
    <script src="scripts/controllers/editstakeholder.js"></script>
    <script src="scripts/controllers/editevent.js"></script>
    <script src="scripts/controllers/fwdashboard.js"></script>
    <script src="scripts/controllers/memberdatamigration.js"></script>
    <script src="scripts/controllers/uploadfacility.js"></script>
    <script src="scripts/controllers/uploadscheme.js"></script>
    <script src="scripts/controllers/f-work-profile-edit.js"></script>
    <script src="scripts/controllers/facilityprofileedit.js"></script>
    <script src="scripts/controllers/mentor.js"></script>
    <script src="scripts/controllers/mentor-create.js"></script>
    <script src="scripts/controllers/mentorassign.js"></script>
    <script src="scripts/controllers/schemedepartments.js"></script>
    <script src="scripts/controllers/agegroups.js"></script>
    <script src="scripts/controllers/healthstatuses.js"></script>
    <script src="scripts/controllers/minoritystatuses.js"></script>
    <script src="scripts/controllers/socialstatuses.js"></script>
    <script src="scripts/controllers/occupationstatuses.js"></script>
    <script src="scripts/controllers/locationtypes.js"></script>
    <script src="scripts/controllers/incomestatuses.js"></script>
    <script src="scripts/controllers/schemecategories.js"></script>
    <script src="scripts/controllers/responsereceive.js"></script>
    <script src="scripts/controllers/reasonforrejection.js"></script>
    <script src="scripts/controllers/reasonfordelay.js"></script>
    <script src="scripts/controllers/servityofincident.js"></script>
    <script src="scripts/controllers/currentstatusofcase.js"></script>
    <script src="scripts/controllers/organisebystakeholder.js"></script>
    <script src="scripts/controllers/followupreportincident.js"></script>
    <script src="scripts/controllers/documenttype.js"></script>
    <script src="scripts/controllers/language-english.js"></script>
    <script src="scripts/controllers/language-hindi.js"></script>
    <script src="scripts/controllers/language-tamil.js"></script>
    <script src="scripts/controllers/language-malyalam.js"></script>
    <script src="scripts/controllers/language-kannda.js"></script>
    <script src="scripts/controllers/language-telagu.js"></script>
    <script src="scripts/controllers/language-marathi.js"></script>
    <script src="scripts/controllers/shg.js"></script>
    <script src="scripts/controllers/shg-edit.js"></script>
    <script src="scripts/controllers/schemestage.js"></script>
    <script src="scripts/controllers/mytodostatuses.js"></script>
    <script src="scripts/controllers/syncoutdata.js"></script>
    <script src="scripts/controllers/phonetypes.js"></script>
    <script src="scripts/controllers/noofterms.js"></script>
    <script src="scripts/controllers/archivemember.js"></script>
    <script src="scripts/controllers/financialPlaning.js"></script>
    <script src="scripts/controllers/financialgoal.js"></script>
    <script src="scripts/controllers/timeinyear.js"></script>
    <script src="scripts/controllers/budgetyear.js"></script>

    <script src="scripts/controllers/facilitytype.js"></script>
    <script src="scripts/controllers/areaofoperation.js"></script>
    <script src="scripts/controllers/12astatus.js"></script>
    <script src="scripts/controllers/tirating.js"></script>
    <script src="scripts/controllers/loantracking.js"></script>
    <script src="scripts/controllers/months.js"></script>
    <script src="scripts/controllers/cobudgetsView1.js"></script>
    <script src="scripts/controllers/cobudgetView2.js"></script>

    <script src="scripts/controllers/80gstatus.js"></script>
    <script src="scripts/controllers/fcrastaus.js"></script>



    <script src="scripts/controllers/spmbudgets.js"></script>
    <script src="scripts/controllers/spmbudgetsView.js"></script>
    <script src="scripts/controllers/cobudgetView.js"></script>
    <script src="scripts/controllers/nobudgets.js"></script>
    <script src="scripts/controllers/learning.js"></script>
    <script src="scripts/controllers/learningtype.js"></script>
    <script src="scripts/controllers/phctabs.js"></script>
    <script src="scripts/controllers/phctabscreate.js"></script>

    <script src="scripts/controllers/LangShg.js"></script>
    <script src="scripts/controllers/LangHousehold.js"></script>
    <script src="scripts/controllers/LangAFScheme.js"></script>
    <script src="scripts/controllers/LangAFDocument.js"></script>
    <script src="scripts/controllers/LangReportIncident.js"></script>
    <script src="scripts/controllers/LangshgList.js"></script>
    <script src="scripts/controllers/symptoms.js"></script>
    <script src="scripts/controllers/illness.js"></script>
    <script src="scripts/controllers/reasonforloan.js"></script>
    <script src="scripts/controllers/LanghhList.js"></script>
    <script src="scripts/controllers/Langapplyforschmlist.js"></script>
    <script src="scripts/controllers/Langapplyfordoclist.js"></script>
    <script src="scripts/controllers/LangReportincidentlist.js"></script>
    <script src="scripts/controllers/LangLHSList.js"></script>
    <script src="scripts/controllers/LangLHS.js"></script>
    <script src="scripts/controllers/languages.js"></script>
    <script src="scripts/controllers/occupationstatus.js"></script>
    <script src="scripts/controllers/schemetype.js"></script>
    <script src="scripts/controllers/reportincidentfollowup.js"></script>
    <script src="scripts/controllers/typeofincident.js"></script>
    <script src="scripts/controllers/shgmeetinglist.js"></script>
    <script src="scripts/controllers/shgmeetings.js"></script>
    <script src="scripts/controllers/shgmeetings-edit.js"></script>
    <script src="scripts/controllers/Lang-condition-list.js"></script>
    <script src="scripts/controllers/Lang-interventions-list.js"></script>
    <script src="scripts/controllers/Lang-interventions.js"></script>
    <script src="scripts/controllers/interventions-venue.js"></script>
    <script src="scripts/controllers/interventions-type.js"></script>
    <script src="scripts/controllers/interventions-status.js"></script>
    <script src="scripts/controllers/Lang-Shgmeeting-list.js"></script>
    <script src="scripts/controllers/Lang-condition.js"></script>
    <script src="scripts/controllers/Lang-Shgmeeting.js"></script>
    <script src="scripts/controllers/conditionstatus.js"></script>
    <script src="scripts/controllers/conditionstep.js"></script>
    <script src="scripts/controllers/condition.js"></script>
    <script src="scripts/controllers/conditionfollowup.js"></script>
    <script src="scripts/controllers/conditionchecklist.js"></script>
    <script src="scripts/controllers/reasonforcancelling.js"></script>
    <script src="scripts/controllers/conditionslist.js"></script>
    <script src="scripts/controllers/condition-create.js"></script>
    <script src="scripts/controllers/condition-edit.js"></script>
    <script src="scripts/controllers/interventionslist.js"></script>
    <script src="scripts/controllers/intervention-create.js"></script>
    <script src="scripts/controllers/intervention-edit.js"></script>
    <script src="scripts/controllers/analytics.js"></script>
    <script src="scripts/controllers/conditiondiagnosis.js"></script>
    <script src="scripts/controllers/screenedby.js"></script>
    <script src="scripts/controllers/import.js"></script>
    <script src="scripts/controllers/patientrecord-view.js"></script>
    <script src="scripts/controllers/patientrecord.js"></script>
    <script src="scripts/controllers/patientrecord-edit.js"></script>
    <script src="scripts/controllers/medicines.js"></script>
    <script src="scripts/controllers/seenby.js"></script>
    <script src="scripts/controllers/referto.js"></script>
    <script src="scripts/controllers/testname.js"></script>
    <script src="scripts/controllers/LangPatientRecord.js"></script>
    <script src="scripts/controllers/LangPatientrecordlist.js"></script>
    <script src="scripts/controllers/vitalrecord.js"></script>
    <script src="scripts/controllers/nonsystematicrecord.js"></script>
    <script src="scripts/controllers/washinfrastructure-list.js"></script>
    <script src="scripts/controllers/washinfrastructure.js"></script>
    <script src="scripts/controllers/washinfrastructure-edit.js"></script>
    <script src="scripts/controllers/areas.js"></script>
    <script src="scripts/controllers/LangWash-list.js"></script>
    <script src="scripts/controllers/Lang-wash.js"></script>
    <script src="scripts/controllers/LangHf-List.js"></script>
    <script src="scripts/controllers/LangHf.js"></script>
    <script src="scripts/controllers/typeofinfrastructures.js"></script>
    <script src="scripts/controllers/schoollist.js"></script>
    <script src="scripts/controllers/schoolcreate.js"></script>
    <script src="scripts/controllers/schooledit.js"></script>
    <script src="scripts/controllers/typeofschool.js"></script>
    <script src="scripts/controllers/LangSchool-list.js"></script>
    <script src="scripts/controllers/LangSchool.js"></script>
    <script src="scripts/controllers/isnew.js"></script>
     <script src="scripts/controllers/dynamicChecklist.js"></script>
    <script src="scripts/controllers/schoolChecklist.js"></script>
    <script src="scripts/controllers/schoolChecklist-create.js"></script>
    <script src="scripts/controllers/schoolChecklist-edit.js"></script>
    <script src="scripts/controllers/trendcharts.js"></script>
    <script src="scripts/controllers/shgmigration.js"></script>

    

    <!-- endbuild -->
    <script src="scripts/services/analytics/crossfilter.js"></script>
    <script src="scripts/services/analytics/dc.js"></script>
    <script src="scripts/services/analytics/dimple.v2.2.0.js"></script>
    <script src="scripts/services/analytics/FileSaver.js"></script>
    <script src="scripts/services/xlsx.core.min.js"></script>
    <script src="scripts/services/alasql.min.js"></script>

    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.2.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyCvy7w1NQh0xoa5kMPh7R68Qn6SuWcRbyM"></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>

    <!--<script src="http://rawgithub.com/allenhwkim/angularjs-google-maps/master/dist/ng-map.min.js"></script>-->
    <!--    <script src="//google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer_compiled.js"></script>-->

</body>

</html>